<table style='font-family:Verdana;font-size:11px;width:500px;'>
<tr>
	<td colspan=2>
		<img src='http://217.172.179.216/evandor/html/uploads/pics/leads4web.png' width='200px'>
		<br>
	</td>
</tr><tr>
	<td colspan=2>
		<b>A ###entry_type### has been assigned to you:</b><br><br>
	</td>
</tr>
<tr>
	<td colspan=2><hr></td>
</tr>
<tr>
	<td>at:</td>
	<td>###date###</td>
</tr>
<tr>
	<td>by:</td>
	<td>###user###</td>
</tr>
<tr>
	<td>name:</td>
	<td>###headline###</td>
</tr>
<tr>
	<td colspan=2><hr></td>
</tr>
<tr>
	<td colspan=2>###openlink###</td>
</tr>
</table>
