
 
<table  cellpadding=0 cellspacing=0 width=100 height="429" align="center">
  <tr> 
    <td align=center height="22"> 
      <table background="" border=1 cellpadding=0 cellspacing=0 width=100% bordercolor="#9C9ACE">
        <tr> 
          <td bgcolor="#9999CC" height="19"> <font face=arial><b>[TITLE]</b></font></td>
          <td bgcolor="#9999CC" height="19"> 
            <div align="right"><font size="2">Posted on [DATE_POSTED]</font></div>
          </td>
        </tr>
        <tr> 
          <td bgcolor="#F4F4FF" height="7" colspan="2"> 
            <div align="center"><font color="#000000">[ACTIONS]</font></div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td height="544"> 
      <table background="" cellspacing=0 cellpadding=8 width=675 border=0>
        <tr> 
          <td valign=top width=425 align=center height="371"> 
            <table background="" border=0 cellpadding=0 cellspacing=0 width=425>
              <tr> 
                <td width=100><font face=arial size="-1"><b>Age</b></font></td>
                <td width=335><font face="arial" size="-1">[AGE]</font></td>
              </tr>
              <tr> 
                <td><font face=arial size="-1"><b>Gender</b></font></td>
                <td><font face="arial" size="-1">[GENDER]</font></td>
              </tr>
              <tr> 
                <td><font face=arial size="-1"><b>Location</b></font></td>
                <td><font face="arial" size="-1">[CITY] [STATE] [STATE2] [COUNTRY]</font></td>
              </tr>
              <tr valign=top> 
                <td><font face=arial size="-1"><b>Looking for...</b></font></td>
                <td><font face=arial size="-1"> [RELATIONSHIP]</font></td>
              </tr>
              <tr> 
                <td><font face=arial size="-1"><b>Marital Status</b></font></td>
                <td><font face="arial" size="-1">[MARITAL]</font></td>
              </tr>
              <tr> 
                <td><font face=arial size="-1"><b>Ethnicity</b></font></td>
                <td><font face="arial" size="-1">[ETHNIC]</font></td>
              </tr>
              <tr> 
                <td><font face=arial size="-1"><b>Hair/Eyes</b></font></td>
                <td><font face="arial" size="-1">[HAIR]/[EYE]</font></td>
              </tr>
              <tr> 
                <td><font face=arial size="-1"><b>Body Type</b></font></td>
                <td><font face="arial" size="-1">[HEIGHT1]' [HEIGHT2]&quot;, [BODY]</font></td>
              </tr>
              <tr> 
                <td><font face=arial size="-1"><b>Education</b></font></td>
                <td><font face="arial" size="-1">[EDUCATION]</font></td>
              </tr>
              <tr valign=top> 
                <td><font face=arial size="-1"><b>Employment</b></font></td>
                <td><font face="arial" size="-1">[EMPLOYMENT]</font> 
              </tr>
              <tr valign=top> 
                <td><font face=arial size="-1"><b>Profession</b></font></td>
                <td><font face="arial" size="-1">[PROFESSION]</font></td>
              </tr>
              <tr valign=top> 
                <td><font face=arial size="-1"><b>Religion</b></font></td>
                <td><font face="arial" size="-1">[RELIGION]</font> 
              </tr>
              <tr> 
                <td><font face=arial size="-1"><b>Smoking</b></font></td>
                <td><font face="arial" size="-1">[SMOKE]</font></td>
              </tr>
              <tr> 
                <td><font face=arial size="-1"><b>Drinking</b></font></td>
                <td><font face="arial" size="-1">[DRINK]</font></td>
              </tr>
              <tr valign=top> 
                <td align=top height="10"><font face=arial size="-1"><b>Kids</b></font></td>
                <td align=top height="10"><font face="arial" size="-1">[KID1] 
                  </font></td>
              </tr>
              <tr valign=top> 
                <td align=top height="10"><font face="arial" size="-1"><b>want 
                  more kids?</b> </font></td>
                <td align=top height="10"><font face="arial" size="-1">[KID2]</font></td>
              </tr>
              <tr valign=top> 
                <td><font face=arial size="-1"><b>Groups</b></font></td>
                <td><font face=arial size="-1"> [GROUPS]</font></td>
              </tr>
              <tr valign=top> 
                <td><font face=arial size="-1"><b>Interests</b></font></td>
                <td><font face=arial size="-1"> [INTERESTS]</font></td>
              </tr>
            </table>
            <table background="" cellspacing=0 cellpadding=8 width="100%" border=0>
              <tr bgcolor=#eeeeee> 
                <td valign="top"><font face=arial size=-1><b>More about me:</b> 
                  <hr size=1 noshade>
                  [DESCRIPTION]</font></td>
              </tr>
            </table>
          </td>
          <td width=0 height="371"></td>
          <td width=202 align=right valign=top height="371"> [THUMBNAIL]</td>
        </tr>
        <tr> 
          <td colspan=3 height=6></td>
        </tr>
        <tr> 
          <td colspan=3 height="136"> 
            <table background="" border=0 cellspacing=0 cellpadding=1 width="100%">
              <tr> 
                <td bgcolor="#CCCCFF" height="123"> 
                  <table background="" cellspacing=0 cellpadding=8 width="100%" border=0>
                    <tr bgcolor=#eeeeee> 
                      <td height="107"><font face=arial size=-1> <b>In your family, 
                        who are you known as?</b>&nbsp;&nbsp;[KNOWN]<br>
                        <b>What do you expect on a first date?</b>&nbsp;&nbsp;[FD]<br>
                        <b>What's your favorite season?</b>&nbsp;&nbsp;&nbsp;[FS]<br>
                        <b>What do you tend to daydream about?</b>&nbsp;&nbsp;&nbsp;[DD]<br>
                        <b>What bothers you most?</b>&nbsp;&nbsp;&nbsp;[BOT]<br>
                        <b>The coolest toy ever is...</b>&nbsp;&nbsp;&nbsp;[TOY]<br>
                        <b>The perfect escape is a...</b>&nbsp;&nbsp;&nbsp;[ESC]<br>
                        <b>How do you feel about pets?</b>&nbsp;&nbsp;[PET]</font> 
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td height="2" valign="top"> 
      <p> 
      <table background="" border=1 cellpadding=0 cellspacing=0 width=100% bordercolor="#9C9ACE">
        <tr> 
          <td bgcolor="#F4F4FF" colspan="2"> 
            <div align="center"><font color="#000000">[ACTIONS]</font></div>
          </td>
        </tr>
        <tr> 
          <td bgcolor="#9C9ACE" width="367"><font color="#FFFF00"><b>Ad ID : [ID]</b></font></td>
          <td bgcolor="#9999CC" height="7" width="308"> 
            <div align="right">Expired on [DATE_EXPIRED]</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td height="2"> 
      <div align="center"><b><font size="1" face="Arial, Helvetica, sans-serif">This 
        ad has been viewed [VIEW] times, replied [REPLY] times, and saved [SAVE] 
        times </font></b></div>
    </td>
  </tr>
</table>
