
<table border=1 cellspacing=0 cellpadding=0 width="100%" bordercolor="#CECFFF">
  <tr>
    <td colspan=2>
      <table border=0 cellpadding=2 cellspacing=0 width=100%>
        <tr bgcolor="#ccccff">
          <td colspan=1> <font face="arial,sans-serif"><small>[COUNT] .</small></font> 
            <font face="arial,sans-serif"><small><b> [TITLE]</b></small></font> 
            <font face="arial,sans-serif"><small> </small></font></td>
          <td align=right valign=bottom><font face="arial,sans-serif"><small> 
            <font size="2" face="Tahoma">Posted: [DATE_POSTED]</font></small></font></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan=2>
      <table border=0 cellpadding=4 cellspacing=0 width=100%>
        <tr bgcolor=f6f6f6> 
          <td valign=top> <font face="arial,sans-serif"><small> <b>[CATEGORY] 
            : [GENDER]</b><br>
            Age: [AGE]; [CITY]</small></font> </td>
          <td align=right valign=top> <font face="arial,sans-serif"><small><b>&nbsp;</b></small></font> 
          </td>
        </tr>
        <tr bgcolor=f6f6f6>
          <td valign=top><font face="arial" size=-1>[DESC_SHORT]</font> <a href="[VIEW_URL]">more...</a></td>
          <td align=right valign=top>[IMAGE_URL]</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
