
<table border=1 cellspacing=0 cellpadding=0 width="100%" bordercolor="#CECFFF">
  <tr>
    <td colspan=2>
      <table border=0 cellpadding=2 cellspacing=0 width=100%>
        <tr bgcolor="#ccccff">
          <td colspan=1> <font face="arial,sans-serif"><small>[COUNT] .</small></font> 
            <font face="arial,sans-serif"><small><b> <a href="[VIEW_URL]">[TITLE]</a></b></small></font> 
            <a href="[VIEW_URL]"><font face="arial,sans-serif"><small> </small></font></a></td>
          <td align=right valign=bottom><font face="arial,sans-serif"><small> 
            <font size="2" face="Tahoma">Posted: [DATE_POSTED]</font></small></font></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan=2 height="11"> 
      <table border=0 cellpadding=4 cellspacing=0 width=100%>
        <tr bgcolor=f6f6f6> 
          <td valign=top height="4" width="72%"> <font face="arial,sans-serif"><small> 
            Age: [AGE]; Location: [CITY]</small></font> </td>
          <td align=right valign=top height="4" width="28%"> <font face="arial,sans-serif"><small><b><font size="2">View: 
            [VIEW] Replies [REPLY]&nbsp;</font></b></small></font> </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
