<html>
<head>
<title>[PAGE_TITLE]</title>
</head>
<body bgcolor="#FFFFFF">
<center>
  <table width="800" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td bgcolor="#eeeeee"> 
        <div align="center">[USER_OPTIONS]</div>
      </td>
    </tr>
  </table>
  <table width=800 border=0 cellpadding=0 cellspacing=0>
    <tr> 
      <td width="759" valign="top"> 
        <table width="100%" border="0" cellspacing="0" cellpadding="3">
          <tr> 
            <td width="52%" height="10"><font face="Arial,Helvetica" color="#000000"><b>[TITLE]</b></font></td>
            <td width="48%" height="10"> 
              <div align="right"><font face="Verdana,Arial,Helvetica" size="1" color="#000000">[COUNT]</font></div>
            </td>
          </tr>
          <tr bgcolor="#CCCCCC"> 
            <td height="18" colspan="2"><font color="#000000">[LOCATION]</font></td>
          </tr>
          <tr> 
            <td colspan="2">
              [ADS]</td>
          </tr>
          <tr bgcolor="#CCCCCC"> 
            <td colspan="2"> 
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td width="11%"> 
                    <div align="left">[PREV_FILE]</div>
                  </td>
                  <td width="75%"> 
                    <div align="center"><font face="Verdana,Arial,Helvetica" size="1">[PAGE_LINKS]</font></div>
                  </td>
                  <td width="14%"> 
                    <div align="right">[NEXT_FILE]</div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr> 
            <td colspan="2"> 
              <table border=0 cellspacing=0 cellpadding=0 width="100%">
                <tr> 
                  <td width="50%" height="14"><font face="Verdana,Arial,Helvetica" color="#000000"><b>Keyword 
                    Search </b></font><font color="#000000"><br>
                    </font></td>
                  <td height="14"> 
                    <div align="right"><font face="Verdana,Arial,Helvetica" color="#000000"><b>Jump 
                      To </b></font></div>
                  </td>
                </tr>
                <tr> 
                  <td width="50%">[SEARCH_BOX]</td>
                  <td> 
                    <div align="right">[MENU_BOX]</div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td width="759" bgcolor="#EBEBEB"> 
        <div align="left"><b>Who is Online</b></div>
      </td>
    </tr>
    <tr> 
      <td width="759"> 
        <div align="left"><font size="2" face="Tahoma">[WHOISONLINE]</font></div>
      </td>
    </tr>
    <tr> 
      <td width="759"> 
        <div align="right"><b><font face="Tahoma" size="2">[COPYRIGHT]</font></b></div>
      </td>
    </tr>
    <tr> 
      <td width="759">&nbsp;</td>
    </tr>
  </table>
  </center></body></html>
