<html>
<head>
<title>[PAGE_TITLE]</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000">
<p>&nbsp;</p>
<table border=0 cellpadding=1 cellspacing=0 width="530"100% align="center""">
  <tr><td height=8></td></tr>
  <tr>
    <td bgcolor="CC0000" align=center height="47"> 
      <table border=0 cellpadding=10 cellspacing=0 width="100%">
        <tr> 
          <td height="9" width="6%" bgcolor="#ffffcc">&nbsp;</td>
          <td height="9" width="94%" bgcolor="#ffffcc"><b>[TITLE]</b><br>
            <font face="Tahoma" size="2" color="#FF0000">[MESSAGE]</font></td>
        </tr>
        <tr> 
          <td height="9" width="6%" bgcolor="#ffffcc">&nbsp;</td>
          <td height="39" valign="top" bgcolor="#FFFFCC"> 
            <form>
              <div align="center"> 
                <input type="button" value=" OK " onClick="history.go(-1)" name="button2">
              </div>
            </form>
          </td>
        </tr>
        <tr>
          <td height="2" width="6%" bgcolor="#ffffcc">&nbsp;</td>
          <td height="2" valign="top" bgcolor="#FFFFCC">
            <div align="right"><b><font face="Tahoma" size="2">[COPYRIGHT]</font></b></div>
          </td>
        </tr>
      </table>
</table>
</body>
</html>

