<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
.slink {  font-family: Tahoma; font-size: 9px; font-style: normal; font-weight: lighter; text-decoration: none}
-->
</style>
</head>

<body bgcolor="#FFFFFF" text="#000000">
<div align="center"><a name="top"></a>FAQ<br>
</div>
<table width="102%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="501" valign="top">
      <p><b><a name="member"></a>Login and registration issues<br>
            </b><a href="#member1">Why should I register?</a> <br />
			<a href="#member2">Why can't I login?</a><br />
			<a href="#member3">Why do I get logged off automatically?</a><br />
			<a href="#member4">I've lost my password!</a><br />
			<br />
			<b>User preferences and settings</b><br />
			<a href="#preference1">How do I change my settings?</a><br />
			<a href="#preference2">Does this classified system use cookies?</a> <br>
            <a href="#preference3">How do I clear my cookies?</a> <br>
            <a href="#preference4">How can I change the information in my profile?</a> <br>
            <a href="#preference5">How do I prevent my username appearing in the online user listings?</a><br />
			<br />
			<b><a name="ads"></a>Ad Posting Issues</b><br />
			<a href="#ad1">How do I post a ad?</a><br />
			<a href="#ad2">How do I edit or delete a ad?</a><br />
			<br />
			<b><a name="mail"></a>Private Messaging<br>
        </b><a href="#mailbox1">What's the difference between email and my private mailbox?</a> <br>
            <a href="#mailbox2">I keep getting unwanted private messages!</a><br>
              <a href="#mailbox3">How do I send private messages?</a><br>
        <a href="#mailbox4">How do I read private messages?</a>
        <br>
              </p>
      <p><a name="gallery"></a><b>Photo Management Issues</b><br>
        <a href="#gallery1">How do I upload images?</a><br>
        <a href="#gallery2">Why can't I upload images?</a></p>
      </td>
  </tr>
</table>

<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <div align="center"><b>Login and registration issues</b></div>
    </td>
  </tr>
  <tr>
    <td height="9"><b><a name="member1"></a>Why should I register?</b> <a href="#top" class="slink">top</a><br>
      In order to fully utilise the abilitites of this classified system, the administrator will probably require that you register as a member. Registered members are having more access than unregistered users. The level of access depends on the membership account you belong to.<br>
        To register, you will need to specify a username and password, and a valid email address. Entering your email address will not leave you open to 'spam', as you can choose to hide your email address, and messages sent to you via email do not reveal your address to the sender in any case. (To verify this, you can try sending an email message to another user.) The administrator may have configured the board to send you the final part of the registration process by email, so ensure that the email address you provide is valid and working.<br>
      </td>
  </tr>
  <tr>
    <td><b><a name="member2"></a>Why can't I login?</b> <a href="#top" class="slink">top</a><br>
      Have you registered? Seriously, you must register in order to login. Have you been suspended from the system (a message will be displayed if you have)? If so then you should contact the webmaster  to find out why. If you have registered and are not suspended and you still cannot login then check and double check your username and password. Usually this is the problem, if not then contact the webmaster. They may have incorrect configuration settings for the system.
    </td>
  </tr>
  <tr>
    <td><b><a name="member3"></a>Why do I get logged off automatically?</b> <a href="#top" class="slink">top</a><br>
      If you do not select &quot;yes&quot; on the &quot;Automatically login when you return to the site?&quot;  on your profile preferences then ths system will only keep you logged in for a preset time. This prevents misuse of your account by anyone else. To stay logged in select &quot;yes&quot; on the above. This is not recommended if you access the board from a shared computer, e.g. library, internet cafe, university cluster, etc.<br>
    </td>
  </tr>
  <tr>
    <td><b><a name="member4"></a>I've lost my password!</b> <a href="#top" class="slink">top</a><br>
      Don't panic! You can retrieve your password easily. To do this go to the login page and click &quot;I've forgotten my password&quot;, follow the instructions and you should be back online in no time.</td>
  </tr>
</table>
<br>
<table width="102%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <div align="center"><b>User preferences and settings</b></div>
    </td>
  </tr>
  <tr>
    <td><b><a name="preference1"></a>How do I change my settings?</b> <a href="#top" class="slink">top</a><br>
      All your settings (if you are registered) are stored in the database. To alter them click the &quot;Profile&quot; link (generally shown at the left hand of pages but this may not be the case) and click on &quot;Preferences&quot;. This will allow you to change all your settings</td>
  </tr>
  <tr>
    <td height="45"><b><a name="preference2"></a>Does this board use cookies? </b> <a href="#top" class="slink">top</a><br>
      The use of cookies on this system is required to track your current session, ensuring that you remain logged-on while browsing the site. However, unless you choose to log in always, your cookies are removed within a preset time.</td>
  </tr>
  <tr>
    <td height="28"><b><a name="preference3"></a>How do I clear my cookies? </b> <a href="#top" class="slink">top</a><br>
      You may clear all your cookies by logging out. If you return to the main index page via the link provided and you are still logged in, you may have to remove your cookies manually.</td>
  </tr>
  <tr>
    <td height="71"><b><a name="preference4"></a>How can I change the information in my profile?</b> <a href="#top" class="slink">top</a><br>
      It is your resposibility to keep the information in your profile up-to-date. You should especially ensure that your email address is kept current. To change your profile, click on the &quot;Profile&quot; link, usually located to the left hand of pages and click on &quot;Update profile&quot; link. You can alter any of the fields in your profile, except your username.</td>
  </tr>
  <tr>
    <td height="10"><b><a name="preference5"></a>How do I prevent my username appearing in the online user listings?</b> <a href="#top" class="slink">top</a><br>
      In your preferences you will find an option to be in &quot;Invisible Mode&quot;, if you switch this on you'll not be visible by other members as online. You will be counted as a hidden user. </td>
  </tr>
</table>
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <div align="center"><b>Ad Posting Issues</b></div>
    </td>
  </tr>
  <tr>
    <td height="38"><b><a name="ad1"></a>How do I post an ad?</b> <a href="#top" class="slink">top</a><br>
      You can post as many ads at the same time as defined by the Webmaster. To post an ad:
      <ol>
        <li>Click on the &quot;Post Ad&quot; link, usually near the top of the page. You will need to login to be able to post an ad.</li>
        <li>Fill out the forms and click &quot;Next&quot; at the bottom of each page.</li>
        <li>On Step 4: You can attach an image to your ad to enhance the chances of user response. You can either upload a new image or choose one from your available gallery.</li>
        <li>A page will appear displaying a preview of your ad. This is how our members will see.</li>
        <li>To make changes to your ad, click the link for the portion of the ad that you wish to change.</li>
        <li>When you're finished editing, click the &quot;Post Ad&quot; button. Your ad may need to get approved before it is going live.<br>
      </li>
      </ol>
    </td>
  </tr>
  <tr>
    <td height="72"><b><a name="ad2"></a>How do I edit or delete a ad?</b> <a href="#top" class="slink">top</a><br>
      To edit or delete a personal ad: 
      <ol>
        <li>Click on the &quot;User control panel&quot; link, usually located at the top of pages.</li>
        <li>Click  on the &quot;My Posted Ads&quot; link.</li>
        <li>A page will display all your ads, either posted, pending, or denied.</li>
        <li>Click on the &quot;delete&quot; link of the ad you want to delete. You will be given back 1 ad posting credit.<br>
          If you want to edit, click on the edit link and start from step 1 of the posting ad process. However, your old entries are there.</li>
        <li>When you edit your ad, it's removed from search and will be sent back through the ad approval process.</li>
      </ol>
    </td>
  </tr>
</table>
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <div align="center"><b>Private Messaging</b></div>
    </td>
  </tr>
  <tr>
    <td height="31"><b><a name="mailbox1"></a>What's the difference between email and my private mailbox?  <a href="#top" class="slink">top</a></b><br>
      You can't send email directly to or from a private mailbox!!!. <br>
      When you reply to a personal ad, you're sending a message from your private mailbox to the private mailbox of the user who posted the ad. The same process happens when you reply to a message that you've received in your own private mailbox.</td>
  </tr>
  <tr>
    <td height="23"><b><a name="mailbox2"></a>I keep getting unwanted private messages!</b> <a href="#top" class="slink">top</a><br>
      In the future we will be adding an ignore list to the private messaging system. For now though if you keep receiving unwanted private messages from someone inform the board admin. They have the power to prevent a user from sending private messages at all.</td>
  </tr>
  <tr>
    <td>
      <p><b><a name="mailbox3"></a>How do I send private messages?</b> <a href="#top" class="slink">top</a><br>
      To send private messages to someone:</p>
      <ol>
        <li>Click on &quot;Mailbox&quot; link, usually located at the lefthand of pages</li>
        <li>Click on &quot;Compose&quot;.</li>
        <li>On the &quot;To&quot; field, enter usernames of people you want to send private messages to, seperated each with a semicolon.</li>
        <li>Field in your message subject and body</li>
        <li>Click on send</li>
      </ol>
    </td>
  </tr>
  <tr>
    <td height="23">
      <p><b><a name="mailbox4"></a>How do I read private messages?</b> <a href="#top" class="slink">top</a><br>
      To read private messages from someone:</p>
      <ol>
        <li>Click on &quot;Mailbox&quot; link, usually located at the lefthand of pages</li>
        <li>Click on &quot;Inbox&quot;.</li>
        <li>A list of all private messages will be displayed, just click on any of them to read.</li>
      </ol>
    </td>
  </tr>
</table>
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <div align="center"><b>Photo Management Issues</b></div>
    </td>
  </tr>
  <tr>
    <td>
      <p><b><a name="gallery1"></a>How do I upload images?</b> <a href="#top" class="slink">top</a><br>
      You can upload as many images as allowed by your Webmaster. Your images must be one of the allowable type.</p>
      <ol>
        <li>Click on &quot;upload photos&quot; link</li>
        <li>Click on &quot;browse&quot; to select an image from  your harddrive<br>
          If you want to upload another image, click on &quot;browse&quot; on a blank field and do the same.<br>
        </li>
        <li>Click on &quot;upload&quot;.</li>
        <li>Depends on your connection speed and your image size, it may take a while to finish.</li>
        <li>You will be directed to your gallery after it is done.</li>
      </ol>
    </td>
  </tr>
  <tr>
    <td>
      <p><b><a name="gallery2"></a>Why can't I upload images?</b> <a href="#top" class="slink">top</a><br>
      There are several reasons why you cannot upload images</p>
      <ol>
        <li>You have used all your available upload credit. You may contact the webmaster or upgrade your account to have more upload credits.</li>
        <li>You have selected an image that's not allowed to upload.</li>
        <li>Your browser does not support uploading.</li>
      </ol>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
