<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <form name="mojo" method="post" action="">
        <input type="hidden" name="type" value="member">
        <input type="hidden" name="action" value="preference">
        <input type="hidden" name="step" value="final">
        <table border=1 cellpadding=3 cellspacing=0 width=90% align="center" height="42" bordercolor="#EBEBEB">
          <tr> 
            <td valign="top" height="7" bgcolor="#EBEBEB" colspan="2"> 
              <div align="center"><font face="Tahoma"><b>Preferences<br>
                <font size="2" color="#FF0000">[MESSAGE]
</font>                </b></font></div>
            </td>
          </tr>
          <tr> 
            <td valign="top" height="22" colspan="2" bgcolor="#333366"><b><font face="Courier New, Courier, mono" color="#FF0000">Privacy</font></b> 
      </td>
          </tr>
          <tr>
	        <td bgcolor="#FFFFFF"><font face="verdana, arial, helvetica" size="2" ><b>Invisible Mode?</b><br>
	<font face="verdana,arial,helvetica" size="1" >Selecting yes will allow you not to  appear in the 'Logged In Users' list.</font></font></td>
            <td><font face="Tahoma" size="2">
		
      [P_INVISIBLE_MODE]</font></td>
          </tr>
          <tr>
	        <td bgcolor="#EBEBEB"><font face="verdana, arial, helvetica" size="2" ><b>Automatically login when you return to the site? (uses cookies)</b></font></td>
            <td bgcolor="#EBEBEB"><font face="Tahoma" size="2">
		
      [P_AUTOLOGIN]</font></td>
          </tr>
          <tr>
	        <td><font face="verdana, arial, helvetica" size="2" ><b>Hide Email Address?</b><br>
	<font face="verdana,arial,helvetica" size="1" >Clicking yes hides your email address in your public profile, so that it is not accessible by other members.</font></font></td>
            <td><font face="Tahoma" size="2">
		
      [P_HIDE_EMAIL]</font></td>
          </tr>
          <tr>
	                
            <td width="65%" bgcolor="#EBEBEB"><font face="verdana, arial, helvetica" size="2" ><b>Disable Private Messaging?</b><br>
	<font face="verdana,arial,helvetica" size="1">Disallows other members  to send Private Messages to your internal mailbox.</font></font></td>
            <td width="35%" bgcolor="#EBEBEB"><font face="Tahoma" size="2">
		
      [P_DISABLE_PM]</font></td>
          </tr>
          <tr>
            <td width="65%"><font face="verdana, arial, helvetica" size="2" ><b>Hide your profile from public view?<br>
      </b><font face="verdana,arial,helvetica" size="1" >Selecting yes will not allow anyone to view your personal profile, except admin.</font><b><br>
      </b></font></td>
            <td width="35%"><font face="Tahoma" size="2">[P_HIDE_PROFILE]</font></td>
          </tr>
          <tr>
            <td width="65%" bgcolor="#EBEBEB"><font face="verdana, arial, helvetica" size="2" ><b>Hide your gallery from public view?<br>
      </b><font face="verdana,arial,helvetica" size="1" >Selecting yes will not allow anyone to view your personal gallery, except admin.</font><b>
      </b></font></td>
            <td width="35%" bgcolor="#EBEBEB"><font face="Tahoma" size="2">[P_HIDE_GALLERY]</font></td>
          </tr>
  
  
          <tr> 
            <td valign="top" height="11" colspan="2" bgcolor="#333366"><b><font face="Courier New, Courier, mono" color="#FF0000">Email Notification</font></b> 
      </td>
          </tr>
          <tr>
            <td valign="top" height="11"><font face="verdana, arial, helvetica" size="2" ><b>Email-notify when you make changes to your profile?</b></font></td>
            <td valign="top" height="11"><font face="Tahoma" size="2">[P_NOTIFY_PROFILE_UPDATE]</font></td>
          </tr>
          <tr>
            <td valign="top" height="11" bgcolor="#EBEBEB"><font face="verdana, arial, helvetica" size="2" ><b>Email-notify when your ads expired?</b></font></td>
            <td valign="top" height="11" bgcolor="#EBEBEB"><font face="Tahoma" size="2">[P_NOTIFY_ADS_EXPIRED]</font></td>
          </tr>
          <tr>
            <td valign="top" height="11"><font face="verdana, arial, helvetica" size="2" ><b>Email-notify when someone replies to your ads?</b></font></td>
            <td valign="top" height="11"><font face="Tahoma" size="2">[P_NOTIFY_ADS_REPLY]</font></td>
          </tr>
          <tr>
            <td valign="top" height="5" bgcolor="#EBEBEB"><font face="verdana, arial, helvetica" size="2" ><b>Email-notify when someone sends you a private message?</b></font></td>
            <td valign="top" height="5" bgcolor="#EBEBEB"><font face="Tahoma" size="2">[P_NOTIFY_PM]</font></td>
          </tr>
          <tr> 
            <td valign="top" height="11" colspan="2" bgcolor="#333366"><b><font face="Courier New, Courier, mono" color="#FF0000">Ads browsing options</font></b> 
      </td>
          </tr>
  
  
  
  
  
          <tr>
	                
            <td height="2" width="65%"><font face="verdana, arial, helvetica" size="2" ><b>Show sub-categories that have no ads?</b></font></td>
            <td height="2" width="35%"><font face="Tahoma" size="2">[P_SHOW_EMPTY_SUBS]</font><font face="Tahoma" size="1">
	  </font></td>
          </tr>
          <tr>
	                
            <td height="2" width="65%" bgcolor="#EBEBEB"><font face="verdana, arial, helvetica" size="2" ><b>Default ads view:</b></font></td>
            <td height="2" width="35%" bgcolor="#EBEBEB"><font face="Tahoma" size="2">[P_ADS_VIEW]</font><font face="Tahoma" size="1">
	  </font></td>
          </tr>
  
          <tr>
	                
            <td bgcolor="#FFFFFF" width="65%"><font face="verdana, arial, helvetica" size="2" ><b>Default ads per page:</b></font><br>
	<font face="verdana,arial,helvetica" size="1" >Number of ads that are shown on one page.</font></td>
            <td width="35%"><font face="Tahoma" size="2">[P_LPP]</font><font face="Tahoma" size="1">
	  </font></td>
          </tr>
          <tr>
            <td colspan="2">
              <div align="center">
                <input type="submit" name="Submit" value="Submit">
                <input type="reset" name="Submit2" value="Reset">
              </div>
            </td>
          </tr>
  
  
  
  
  
        </table>
              </form>
    </td>
  </tr>
</table>
</body>
</html>
