
<table border=0 cellpadding=5 cellspacing=0 width=480 align="center">
  <tr> 
    <td valign="top" height="420"> 
      <div align="left"> 
        <div align="center"></div>
        <div align="center"><b><font color="#FF0000">[MESSAGE]</font></b></div>
      </div>
      <form action="[MEMBER_URL]" method="POST" name="mojo">
        <div align="center"> 
          <input type="hidden" name="type" value="member">
          <input type="hidden" name="action" value="update">
          <input type="hidden" name="step" value="final">
          <br>
        </div>
        <table cellpadding=2 border=1 cellspacing=0 width=100% bordercolor="#CCCCCC">
          <tr bgcolor="#EBEBEB"> 
            <td class="tdgray" colspan=2><b>Member Information</b></td>
          </tr>
          <tr class="tblmain"> 
            <td width="27%" height="9"> Username<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>: 
            </td>
            <td width="73%" height="9"> [USERNAME]</td>
          </tr>
          <tr class="tblmain"> 
            <td width="27%"> Password<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>: 
            </td>
            <td width="73%"> [IP_PASSWORD]</td>
          </tr>
          <tr class="tblmain"> 
            <td width="27%"> Retype Password<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>: 
            </td>
            <td width="73%"> [IP_PASSWORD2]</td>
          </tr>
          <tr class="tblmain"> 
            <td width="27%">Email address<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>:</td>
            <td width="73%"> [IP_EMAIL]</td>
          </tr>
          <tr class="tblmain"> 
            <td width="27%"> First Name<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>:</td>
            <td width="73%"> [IP_FNAME]</td>
          </tr>
          <tr class="tblmain"> 
            <td width="27%"> Last Name<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>:</td>
            <td width="73%"> [IP_LNAME]</td>
          </tr>
        </table>
        <hr size=1 noshade width=400>
        <table cellpadding=2 border=1 cellspacing=0 width=100% bordercolor="#CCCCCC">
          <tr bgcolor="#EBEBEB"> 
            <td class="tdgray" colspan=2><b>Contact Information</b></td>
          </tr>
          <tr class="tblmain"> 
            <td width="27%"> Address<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>:</td>
            <td width="73%"> [IP_ADDRESS]</td>
          </tr>
          <tr class="tblmain"> 
            <td width="27%"> Address 2:</td>
            <td width="73%"> [IP_ADDRESS2]</td>
          </tr>
          <tr class="tblmain"> 
            <td width="27%"> City/Town<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>:</td>
            <td width="73%"> [IP_CITY]</td>
          </tr>
          <tr class="tblmain"> 
            <td width="27%"> State/Province<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>:</td>
            <td width="73%"> [IP_STATE] if other [IP_PROVINCE]</td>
          </tr>
          <tr class="tblmain"> 
            <td width="27%"> Country<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>:</td>
            <td width="73%"> [IP_COUNTRY]</td>
          </tr>
          <tr class="tblmain"> 
            <td height="3" width="27%"> Zip Code<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>:</td>
            <td width="73%"> [IP_ZIP]</td>
          </tr>
          <tr class="tblmain"> 
            <td width="27%"> Phone Number:</td>
            <td width="73%"> [IP_PHONE]</td>
          </tr>
          <tr class="tblmain"> 
            <td width="27%">Fax</td>
            <td width="73%"> [IP_FAX]</td>
          </tr>
          <tr class="tblmain"> 
            <td width="27%"> Your Website:</td>
            <td width="73%"> [IP_WEBSITE]</td>
          </tr>
        </table>
        <div align="center"> 
          <hr size=1 noshade width=400>
          <table cellpadding=0 border=1 cellspacing=0 width=100% bordercolor="#CCCCCC">
            <tr> 
              <td class="tdgray" colspan=2 height="10"> 
                <div align="center"> 
                  <input type=submit name="submit" value=" Update">
                  <input type=reset name="reset" value=" Start Over ">
                </div>
              </td>
            </tr>
          </table>
          <b></b></div>
      </form>
    </td>
  </tr>
</table>

