<html>
<head>
<title>[PAGE_TITLE]</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="pragma" content="No-Cache">
<meta name="Expires" content="Tuesday, 4-Feb-1977 06:30:00 GMT">
<link rel="stylesheet" href="http://www.vietvalue.com/css/classified.css" type="text/css">
</head>
<body>
<table border=1 cellpadding=4 cellspacing=0 
width=700 align="center" bordercolor="#CCCCCC">
  <tr> 
    <td colspan=3> 
      <table border=0 width=100% cellpadding=4 cellspacing=0>
        <tr> 
          <td> 
            <div align="center">[USER_OPTIONS]</div>
          </td>
        </tr>
        <tr> 
          <td bgcolor=#666699


><font size=+1 face=Arial color=#FFFFFF
><b>Welcome to mojoClassified Demo</b></font></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan=3> 
      <table align=center cellpadding=3 cellspacing=2 border=0 width="449">
        <tr> 
          <td> 
            <div align="center"><font color=green face=arial><b> [MESSAGE]</b></font></div>
          </td>
        </tr>
      </table>
      <table border=0 cellspacing=0 cellpadding=0 
width="675">
        <tr> 
          <td width="50%" valign="top"> 
            <table border=0 cellpadding=2 cellspacing=0 width="100%">
              <tr> 
                <td align=center> <font face=Arial size=+1><b><nobr>New member?</nobr></b></font><b><nobr></nobr></b></td>
              </tr>
              <tr> 
                <td align=center height="67"> 
                  <div align="left"> 
                    <ul>
                      <li><b><font face=arial> <a href="[REGISTER_URL]"> </a></font><font face=Arial size=-1>Post 
                        personal ads using our easy online forms.</font></b></li>
                      <li><font face=Arial size=-1>Reply to Personals that interest 
                        you.</font></li>
                      <li><font face=Arial size=-1>Read messages in your Personals 
                        Mailbox.</font></li>
                      <li><font face="Arial" size="-1">Your information is strictly 
                        confidential, unless you want to expose them</font></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr> 
                <td align=center><b><font face=arial><a href="[MEMBER_URL]&action=register">Sign 
                  up now</a> for a free membership</font></b></td>
              </tr>
              <tr> 
                <td align=center><font face=Arial size=+1><b><nobr><br>
                  Forget your password?</nobr></b></font><b><nobr></nobr></b></td>
              </tr>
              <tr> 
                <td align=center>If you forgot your password, click on the link 
                  below. You can use either your username or registered email 
                  to have use send the infomation to you.</td>
              </tr>
              <tr>
                <td align=center><font face="arial" size="-1">&nbsp;<a href="[MEMBER_URL]&action=lost">Password 
                  lookup</a> </font></td>
              </tr>
            </table>
          </td>
          <td width="5%">&nbsp;</td>
          <td align="left" valign="top"> 
            <form method=post action="[MEMBER_URL]" name="mojo">
              <input type="hidden" name="type" value="member">
              <input type="hidden" name="action" value="login">
              <input type="hidden" name="step" value="final">
              <table border="0" cellspacing="6" cellpadding="6" width="100%">
                <tr bgcolor="eeeeee"> 
                  <td align="center"> <font face="arial"><b>Existing Members</b></font><br>
                    <font face="arial" size="-1"><nobr>&nbsp;Enter your ID and 
                    password to sign in&nbsp; </nobr></font> 
                    <table border="0" cellpadding="2" cellspacing="0" width="100%">
                      <tr> 
                        <td align="right" nowrap width="30%"><font face="arial" size="-1">Username:</font></td>
                        <td width="70%"> 
                          <input name="username" size="17" maxlength="32">
                        </td>
                      </tr>
                      <tr> 
                        <td align="right" nowrap width="30%"><font face="arial" size="-1">Password:</font></td>
                        <td width="70%"> 
                          <input name="password" type="password" size="17" maxlength="32">
                        </td>
                      </tr>
                      <tr> 
                        <td colspan="2" nowrap align="center" height="2">&nbsp;</td>
                      </tr>
                      <tr> 
                        <td width="30%">&nbsp;</td>
                        <td width="70%"> 
                          <input name="submit" type="submit" value=" Sign In">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </form>
          </td>
        </tr>
        <tr> 
          <td colspan=3 height="2"> </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan=3>
      <div align="right"><b><font face="Tahoma" size="2">[COPYRIGHT]</font></b></div>
    </td>
  </tr>
</table>
</body>
</html>

