
	<html>
<head>
<title>[page_title]</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="pragma" content="No-Cache">
<meta name="Expires" content="Tuesday, 4-Feb-1977 06:30:00 GMT">
</head>
<body bgcolor="#FFFFFF">
<div align="center"> 
  <table width="800" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td valign="top" height="592"> 
        <div align="center"> 
          <table border=0 cellpadding=0 cellspacing=0 width=100%>
            <tr> 
              <td> 
                <div align="center">[USER_OPTIONS]</div>
              </td>
            </tr>
            <tr> 
              <td> 
                <table border=0 cellspacing=0 cellpadding=0 width="100%">
                  <tr bgcolor="#666699"> 
                    <td valign=middle bgcolor="#666699"> 
                      <table border=0 cellspacing=0 cellpadding=4 width="100%">
                        <tr> 
                          <td width="59%"><big><font face=arial color=white> <b> 
                            New Member Registration</b></font></big></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <table border=0 cellpadding=5 cellspacing=0 width=500 align="center">
          <tr> 
            <td valign="top" height="485"> 
              <div align="left"><b>Register for a free membership and get connected 
                to thousands people worldwide</b> 
                <div align="center"></div>
                <div align="center"><b><font color="#FF0000">[MESSAGE]</font></b></div>
              </div>
              <form action="[MEMBER_URL]" method="post" name="mojo">
                <div align="center"> 
                  <input type="hidden" name="type" value="member">
                  <input type="hidden" name="action" value="register">
                  <input type="hidden" name="step" value="final">
                  <br>
                </div>
                <table cellpadding=0 border=1 cellspacing=0 width=100% bordercolor="#CCCCCC">
                  <tr> 
                    <td class="tdgray" colspan=2><b>Member Information</b></td>
                  </tr>
                  <tr class="tblmain"> 
                    <td width="27%" height="13"> username<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>: 
                    </td>
                    <td width="73%" height="13"> [IP_USERNAME]</td>
                  </tr>
                  <tr class="tblmain"> 
                    <td width="27%"> Password<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>: 
                    </td>
                    <td width="73%"> [IP_PASSWORD]</td>
                  </tr>
                  <tr class="tblmain"> 
                    <td width="27%"> Retype Password<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>: 
                    </td>
                    <td width="73%"> [IP_PASSWORD2]</td>
                  </tr>
                  <tr class="tblmain"> 
                    <td width="27%">Email address<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>:</td>
                    <td width="73%"> [IP_EMAIL]</td>
                  </tr>
                  <tr class="tblmain"> 
                    <td width="27%"> First Name<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>:</td>
                    <td width="73%"> [IP_FNAME]</td>
                  </tr>
                  <tr class="tblmain"> 
                    <td width="27%"> Last Name<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>:</td>
                    <td width="73%"> [IP_LNAME]</td>
                  </tr>
                </table>
                <hr size=1 noshade width=400>
                <table cellpadding=2 border=1 cellspacing=0 width=100% bordercolor="#CCCCCC">
                  <tr> 
                    <td class="tdgray" colspan=2><b>Contact Information</b></td>
                  </tr>
                  <tr class="tblmain"> 
                    <td width="27%"> Address<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>:</td>
                    <td width="73%"> [IP_ADDRESS]</td>
                  </tr>
                  <tr class="tblmain"> 
                    <td width="27%"> Address 2:</td>
                    <td width="73%"> [IP_ADDRESS2]</td>
                  </tr>
                  <tr class="tblmain"> 
                    <td width="27%"> City/Town<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>:</td>
                    <td width="73%"> [IP_CITY]</td>
                  </tr>
                  <tr class="tblmain"> 
                    <td width="27%"> State/Province<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>:</td>
                    <td width="73%"> [IP_STATE] if other [IP_PROVINCE]</td>
                  </tr>
                  <tr class="tblmain"> 
                    <td width="27%"> Country<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>:</td>
                    <td width="73%"> [IP_COUNTRY]</td>
                  </tr>
                  <tr class="tblmain"> 
                    <td height="3" width="27%"> Zip Code<b><font size="+1"><font size="1" face="Tahoma"><font color="#FF0000">*</font></font></font></b>:</td>
                    <td width="73%"> [IP_ZIP]</td>
                  </tr>
                  <tr class="tblmain"> 
                    <td width="27%"> Phone Number:</td>
                    <td width="73%"> [IP_PHONE]</td>
                  </tr>
                  <tr class="tblmain"> 
                    <td width="27%">Fax</td>
                    <td width="73%"> [IP_FAX]</td>
                  </tr>
                  <tr class="tblmain"> 
                    <td width="27%"> Your Website:</td>
                    <td width="73%"> [IP_WEBSITE]</td>
                  </tr>
                </table>
                <div align="center"> 
                  <hr size=1 noshade width=400>
                  <table cellpadding=0 border=1 cellspacing=0 width=100% bordercolor="#CCCCCC">
                    <tr> 
                      <td class="tdgray" colspan=2 height="10"> 
                        <div align="center"> 
                          <input type=submit name="submit" value=" Submit My Application">
                          <input type=reset name="reset" value=" Start Over ">
                        </div>
                      </td>
                    </tr>
                  </table>
                  <b></b></div>
              </form>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td valign="top" height="12">
        <div align="right"><b><font face="Tahoma" size="2">[COPYRIGHT]</font></b></div>
      </td>
    </tr>
  </table>
  <p>&nbsp;</p>
  
</div>
</body>
</html>

