
<table border=0 cellpadding=5 cellspacing=0 width=480 align="center">
  <tr> 
    <td valign="top" height="325"> We are sorry to see you go and losing all the 
      chances to meet new friends around the world, but we respect your decision. 
      If you can, please tell us why you are leaving so that we can better improve 
      our services!<br>
      <br>
      <table border=0 cellpadding=5 cellspacing=0 width=100% align="center">
        <tr> 
          <td valign="top" height="288"> 
            <div align="center"><font color="#FF0000"><b>[MESSAGE]</b></font></div>
            <form action="[MEMBER_URL]" method="POST" name="mojo">
              <div align="center"> 
                <input type="hidden" name="type" value="member">
                <input type="hidden" name="action" value="delete">
                <input type="hidden" name="step" value="final">
                <br>
              </div>
              <div align="center"> 
                <table cellpadding=0 border=1 cellspacing=0 width=100% bordercolor="#CCCCCC">
                  <tr> 
                    <td> 
                      <div align="center">Please tell us why!!!<br>
                        <textarea name="message" cols="60" rows="7"></textarea>
                      </div>
                    </td>
                  </tr>
                  <tr> 
                    <td> 
                      <div align="center"> 
                        <hr size=1 noshade width=400>
                        <input type=submit name="submit" value=" Delete My Account">
                        <input type="submit" name="cancel" value=" On Second thought, I Stay !!!">
                      </div>
                    </td>
                  </tr>
                </table>
                <b></b></div>
            </form>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

