  
<table border=1 cellpadding=5 cellspacing=0 width=90% align="center" bordercolor="#63659C">
  <tr> 
    <td valign="top" height="7" bgcolor="#666699"> <font face="Tahoma"><b><font color="#FFFFFF">[USERNAME]'s 
      Profile</font></b></font></td>
  </tr>
  <tr> 
    <td valign="top" height="442"> 
      <table cellpadding=0 border=1 cellspacing=0 width=100% bordercolor="#CCCCCC">
        <tr> 
          <td colspan=2 bgcolor="#EEEEEE"><b>Member Information</b></td>
        </tr>
        <tr class="tblmain"> 
          <td width="27%"> Username</td>
          <td width="73%">[USERNAME]</td>
        </tr>
        <tr class="tblmain"> 
          <td width="27%" height="2"> Name</td>
          <td width="73%" height="2"> [FNAME] [LNAME]</td>
        </tr>
        <tr class="tblmain"> 
          <td width="27%">Email Address</td>
          <td width="73%">[EMAIL]</td>
        </tr>
        <tr class="tblmain"> 
          <td width="27%">Registered on</td>
          <td width="73%">[DATE_REGISTERED]</td>
        </tr>
        <tr class="tblmain"> 
          <td width="27%">Expired on</td>
          <td width="73%">[DATE_EXPIRED]</td>
        </tr>
        <tr class="tblmain"> 
          <td width="27%">Last updated on</td>
          <td width="73%">[DATE_UPDATED]</td>
        </tr>
        <tr class="tblmain"> 
          <td width="27%">Last logged in on</td>
          <td width="73%">[DATE_LAST_LOGIN]</td>
        </tr>
      </table>
      <hr size=1 noshade width=400>
      <table cellpadding=2 border=1 cellspacing=0 width=100% bordercolor="#CCCCCC">
        <tr bgcolor="#EFEFEF"> 
          <td colspan=2><b>Contact Information</b></td>
        </tr>
        <tr class="tblmain"> 
          <td width="27%"> Address:</td>
          <td width="73%">[ADDRESS] [ADDRESS2] </td>
        </tr>
        <tr class="tblmain"> 
          <td width="27%"> City/Town:</td>
          <td width="73%">[CITY]</td>
        </tr>
        <tr class="tblmain"> 
          <td width="27%"> State/Province:</td>
          <td width="73%">[STATE] [PROVINCE]</td>
        </tr>
        <tr class="tblmain"> 
          <td height="3" width="27%"> Zip Code:</td>
          <td width="73%">[ZIP]</td>
        </tr>
        <tr class="tblmain"> 
          <td width="27%"> Country:</td>
          <td width="73%">[COUNTRY]</td>
        </tr>
        <tr class="tblmain"> 
          <td width="27%"> Phone Number:</td>
          <td width="73%">[PHONE]</td>
        </tr>
        <tr class="tblmain"> 
          <td width="27%">Fax</td>
          <td width="73%">[FAX]</td>
        </tr>
        <tr class="tblmain"> 
          <td width="27%"> Website:</td>
          <td width="73%">[WEBSITE]</td>
        </tr>
      </table>
      <div align="center"> <b></b></div>
    </td>
  </tr>
</table>
<div align="center"> <br>
</div>

