
	<html>
<head>
<title>[PAGE_TITLE]</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="pragma" content="No-Cache">
<meta name="Expires" content="Tuesday, 4-Feb-1977 06:30:00 GMT">
<link rel="stylesheet" href="http://www.vietvalue.com/css/classified.css" type="text/css">
</head>
<body>
<div align="center"> 
  <table width="800" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td valign="top" height="575"> 
        <div align="center"> 
          <table border=0 cellpadding=0 cellspacing=0 width=100%>
            <tr> 
              <td> 
                <div align="center">[USER_OPTIONS]</div>
              </td>
            </tr>
            <tr> 
              <td> 
                <table border=0 cellspacing=0 cellpadding=0 width="100%">
                  <tr bgcolor="#666699"> 
                    <td valign=middle bgcolor="#666699"> 
                      <table border=0 cellspacing=0 cellpadding=4 width="100%">
                        <tr> 
                          <td width="59%"><big><font face=arial color=white> <b> 
                            Forget Password</b></font></big></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <form method="POST" action="	'index_url" name="mojo">
              <input type=hidden name=action22 value=post>
              <input type=hidden name=type2 value="ad">
              <input type=hidden name=step22 value=1>
            </form>
          </table>
        </div>
        <table border=0 cellpadding=5 cellspacing=0 width=700 align="center">
          <tr> 
            <td valign="top" height="410"> 
              <div align="center"> 
                <p><font size="5"><b><font size="3">What should I Do?</font></b></font> 
                </p>
              </div>
              <ul>
                <li>If you know your login ID, please enter it in the username 
                  field and click &quot;Send Me&quot;</li>
                <li>If you know what email address you used to sign up, enter 
                  it in the email field and click &quot;Send Me'</li>
                <li>Your Login and Password information will arrive in your mailbox 
                  in a couple minutes</li>
              </ul>
              <div align="center"><br>
              </div>
              <table width="502" border="1" bordercolor=#63659C cellspacing="0" cellpadding="0" align="center">
                <tr> 
                  <td valign="top" height="251"> 
                    <div class="textbig"> 
                      <div align="center"></div>
                    </div>
                    <form name=mojo method=POST action=[MEMBER_URL]>
                      <div align="center">
                        <input type=hidden name="type" value="member">
                        <input type=hidden name="action" value="lost">
                        <input type=hidden name="step" value="final">
                        <font size="5"><b><font size="3" color="#FF0000">[MESSAGE]</font></b></font><br>
                      </div>
                      <center>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr> 
                            <td valign="top" height="206"> 
                              <div align="center"> 
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr> 
                                    <td height="159" valign="top"> 
                                      <table width="292" border="1" cellpadding="5" cellspacing="0" bordercolor="#CCCCCC" align="center">
                                        <tr> 
                                          <td align="CENTER" colspan="2" height="20">Know 
                                            your username?</td>
                                        </tr>
                                        <tr> 
                                          <td align="right"><font face="arial" size=2><b>Username:</b> 
                                            </font></td>
                                          <td> 
                                            <input type="text" name="username" size="20" maxlength="40">
                                          </td>
                                        </tr>
                                        <tr> 
                                          <td colspan=2 align=center height="1"> 
                                            <p>Know your registered email address?&nbsp; 
                                        </tr>
                                        <tr> 
                                          <td align="right"><font face="arial" size=2><b>Email 
                                            Address :</b> </font></td>
                                          <td> 
                                            <input type="text" name="email" size="20" maxlength="40">
                                          </td>
                                        </tr>
                                        <tr> 
                                          <td colspan=2 align=center height="2"> 
                                            <input 
type="submit" name=submit value="  Send Me ">
                                        </tr>
                                      </table>
                                      <div align="right"></div>
                                    </td>
                                  </tr>
                                </table>
                                If you know your password, <a href="[LOGIN_URL]">login</a> 
                                now<br>
                                New member, Please <a href="[REGISTER_URL]">register</a></div>
                            </td>
                          </tr>
                        </table>
                      </center>
                    </form>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td valign="top" height="17">
        <div align="right"><b><font face="Tahoma" size="2">[COPYRIGHT]</font></b></div>
      </td>
    </tr>
  </table>
</div>
</body>
</html>

