<html>
<head>
<title>[page_title]</title>
</head>
<body bgcolor="#FFFFFF">
<center>
  <table width="600" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td> 
        <div align="center">[USER_OPTIONS]</div>
      </td>
    </tr>
  </table>
  <table width=800 border=0 cellpadding=0 cellspacing=0>
    <tr> 
      <td rowspan="3" width="12"> 
        <div align="left"></div>
        <div align="left"></div>
      </td>
      <td width="775">  </td>
      <td rowspan="3" width="13">  </td>
    </tr>
    <tr> 
      <td valign="top" height="113">
        <div align="center"><b>Member Control Panel [ACCOUNT_EXPIRE]</b><br>
        </div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td height="14"> 
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td height="18"><a href="[AD_URL]">Ads</a></td>
                </tr>
                <tr> 
                  <td> 
                    <ul>
                      <li><a href="[AD_URL]&action=post">Post new ad</a></li>
                      <li><a href="[AD_URL]&class=postedads">Posted ads</a></li>
                      <li><a href="[AD_URL]&class=savedads">Saved ads</a></li>
                      <li><a href="[AD_URL]&action=recount">Recount posted 
                        ads</a></li>
                    </ul>
                  </td>
                </tr>
              </table>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td><a href="[GALLERY_URL]">Gallery</a></td>
                </tr>
                <tr> 
                  <td> 
                    <ul>
                      <li><a href="[GALLERY_URL]">View Gallery</a></li>
                      <li><a href="[GALLERY_URL]&action=upload">Upload 
                        new photos</a></li>
                      <li><a href="[GALLERY_URL]&action=recount">Recount 
                        photos</a></li>
                      <li><a href="[GALLERY_URL]&action=stat">Gallery 
                        stats</a></li>
                      <li><a href="[GALLERY_URL]&action=faq">Gallery FAQ</a><br>
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
              <br>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td><a href="[MAIL_URL]">Emails</a></td>
                </tr>
                <tr> 
                  <td> 
                    <ul>
                      <li><a href="[MAIL_URL]&folder=inbox">Inbox</a></li>
                      <li><a href="[MAIL_URL]&folder=outbox">Outbox</a></li>
                      <li><a href="[MAIL_URL]&action=compose">Compose 
                        new mails</a></li>
                      <li><a href="[MAIL_URL]&action=notify">Email Notifications</a></li>
                      <li><a href="[MAIL_URL]&action=signature">Signature</a><br>
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
            </td>
            <td height="14" valign="top"> 
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td><a href="[MEMBER_URL]">Acccount</a></td>
                </tr>
                <tr> 
                  <td> 
                    <ul>
                      <li><a href="[MEMBER_URL]&action=update">Update Profile</a></li>
                      <li><a href="[MEMBER_URL]&action=profile">View Profile</a></li>
                      <li><a href="[MEMBER_URL]&action=delete">Delete 
                        Acccount</a></li>
                      <li><a href="[MEMBER_URL]&action=logout">Logout</a><br>
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td>Misc</td>
                </tr>
                <tr> 
                  <td height="39"> 
                    <ul>
                      <li><a href="[MAIL_URL]&action=compose&to=admin">Email webmaster</a></li>
                      <li><a href="[SEARCH_URL]&action=searchoptions">Search ads</a><br>
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td width="775"> 
        <div align="right"><b><font face="Tahoma" size="2">[COPYRIGHT]</font></b></div>
      </td>
    </tr>
  </table>
  <center>
  </center>

</center></body></html>

