<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000">
<center>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td height="641" valign="top"> 
        <div align="center"> 
          <table border=0 cellpadding=4 cellspacing=0 width=100%>
            <tr bgcolor="#666699"> 
              <td valign=bottom width="75%"> 
                <div align="center"><b><font face="Tahoma" color="#FFFFFF">Your 
                  application has been recieved!</font></b></div>
              </td>
            </tr>
          </table>
          <table border=0 cellpadding=0 cellspacing=0 width=100%>
            <tr> 
              <td height=2></td>
            </tr>
            <tr> 
              <td valign=top height="575"> 
                <div align="center">
                  <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr> 
                      <td height="511" valign="top"> 
                        <p>Thank you [FNAME] [LNAME]!</p>
                        <p>We have recieved your application. Here is your account 
                          summary.<br>
                        </p>
                        <hr width="300" size="3">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr> 
                            <td width="31%">Amount to be paid now</td>
                            <td width="69%"><b>$[TRIAL_AMOUNT] $[RECURRING_AMOUNT]</b></td>
                          </tr>
                          <tr> 
                            <td width="31%">Membership length</td>
                            <td width="69%"><b>[TRIAL_LENGTH] days [RECURRING_LENGTH] days</b></td>
                          </tr>
                          <tr> 
                            <td width="31%">&nbsp;</td>
                            <td width="69%"><b></b></td>
                          </tr>
                        </table>
                        <hr width="300" size="3">
                        <p>As soon as you make a payment using one of the links 
                          below you get all access rights. All your payments are protected using our partner's 
                          128 bit SSL secured sever, so you can rest assure no 
                          one can read your credit card number.<br>
                          <br>
                          <b>Credit Cards</b></p>
                        <p>[CREDITCARD_LINKS]</p>
                        <p><b>Telephone</b></p>
                        <p><b>[WEB900_LINKS]</b><br>
                        </p>
                        <b>Checks</b><br>
                        <br>
                        [CHECK_LINKS]
                          
                        <li>Or send a snail mail payment to </li>
                        <li> 
                            
                          <div align="center">Your name<br>
                              Your street<br>
                              Your country, state, zip<br>
                              USA<br>
                              FAX: XXX-XXX-XXXX</div>
                        </li>
                        <li>If you have any question, please don't hesitate 
                            to email us at<br>
                            Your-email-address@your-domain.com</li>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
            <tr> 
              <td height=6></td>
            </tr>
          </table>
          <center>
            <table cellpadding=0 cellspacing=0 border=0 width="100%">
              <tr> 
                <td bgcolor=#63659C> 
                  <div align="right"></div>
                </td>
              </tr>
            </table>
          </center>
        </div>
      </td>
    </tr>
    <tr>
      <td height="2" valign="top">
        <div align="right"><b><font face="Tahoma" size="2">[COPYRIGHT]</font></b></div>
      </td>
    </tr>
  </table>
</center>
</body>
</html>
