<center>
  <table border=0 cellpadding=0 cellspacing=0 width=630 height="367">
    <tr> 
      <td height=5></td>
    </tr>
    <tr> 
      <td> 
        <table border=0 cellspacing=0 cellpadding=2 width="100%">
          <tr bgcolor="#ccccff"> 
            <td> <font face=arial><b>Step 3 of 6: </b></font><font face=arial><b>Ad 
              Description</b></font> <font face=arial size=-1>(required)</font></td>
          </tr>
          <tr bgcolor="#eeeeee"> 
            <td>Describe yourself and the person you are interested in finding<font face="arial" size="-1">.</font></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td height="239" valign="top"> 
        <div align="center"> <b><font color="#FF0000">[ERROR]</font></b><br>
          <table border=0 cellpadding=2 cellspacing=0 width="500">
            <tr bgcolor="#ffffcc"> 
              <td valign=top nowrap><font face=arial size="-1">&nbsp;&nbsp;<b>&#183;</b>&nbsp;</font></td>
              <td valign=top><font face=arial size="-1">Your description must 
                have at least 100 characters.</font></td>
            </tr>
            <tr bgcolor="#ffffcc"> 
              <td nowrap valign=top><font face=arial size="-1">&nbsp;&nbsp;<b>&#183;</b>&nbsp;</font></td>
              <td valign=top><font face=arial size="-1">Do not use abusive, threatening, 
                adult-oriented, obscene, or otherwise objectionable language.</font></td>
            </tr>
            <tr bgcolor="#ffffcc"> 
              <td nowrap valign=top><font face=arial size="-1">&nbsp;&nbsp;<b>&#183;</b>&nbsp;</font></td>
              <td valign=top><font face=arial size="-1">Do not mention your contact 
                information. If the member interests, he/she can leave a private 
                message to your mailbox in our server. You can decide whether 
                or not to reply the message.</font></td>
            </tr>
          </table>
          <br>
          <form name="mojo" method="post" action="[PROGRAM_URL]">
           [HIDDEN_FIELDS]
            <table border=0 cellspacing=4 cellpadding=4 width="521">
              <tr valign=top> 
                <td align=right><font face=arial size="-1"><b>Ad Title</b></font></td>
                <td> [IP_TITLE]<br>
                  <font face=arial size="-2">(e.g., beautiful asian girl looking 
                  for her prince</font>)</td>
              </tr>
              <tr valign=top> 
                <td align=right height="36"><font face=arial size="-1"><b>Ad Description</b></font></td>
                <td height="36"> [IP_DESCRIPTION]</td>
              </tr>
              <tr valign=top> 
                <td align=right height="2">&nbsp;</td>
                <td height="2"> 
                  <div align="right"> 
                    <input type="submit" name="submit" value=" Next >">
                  </div>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </td>
    </tr>
    <tr> 
      <td align=right> </td>
    </tr>
    <tr> 
      <td align=right height="2"></td>
    </tr>
  </table>
</center>
