<center>
  <table border=0 cellpadding=0 cellspacing=0 width=600 height="874">
    <tr>
      <td height=5></td>
    </tr>
    <tr>
      <td>
        <table border=0 cellspacing=0 cellpadding=2 width="100%">
          <tr bgcolor="#ccccff">
            <td> <font face=arial><b>Step 1 of 6: Ad section</b></font>
              <font face=arial size=-1>(required)</font></td>
          </tr>
          <tr bgcolor="#eeeeee">
            <td><font face=arial size="-1">Please choose <b>ad
                    section </b>you want your ad to be posted to.
                </font>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td height="843" valign="top">
        <div align="center"> <b><font color="#FF0000">[ERROR]</font></b><br>
          <form name="mojo" method="post" action="[PROGRAM_URL]">
          [HIDDEN_FIELDS]
            <table border=0 cellspacing=2 cellpadding=4 width="100%" height="750">
                  [CATEGORIES]
              <tr valign=top>
                <td align=right height="38" colspan="2">
                  <input type="submit" name="submit" value=" Next >">
                  <input type="submit" name="cancel" value=" Cancel ">
                </td>
              </tr>
            </table>
          </form>
        </div>
      </td>
    </tr>
    <tr>
      <td align=center height="2">&nbsp; </td>
    </tr>
  </table>
  <p>&nbsp;</p>
  </center>

