<center>
  <table border=0 cellpadding=0 cellspacing=0 width=600 height="874">
    <tr> 
      <td height=5></td>
    </tr>
    <tr> 
      <td> 
        <table border=0 cellspacing=0 cellpadding=2 width="100%">
          <tr bgcolor="#ccccff"> 
            <td> <font face=arial><b>Step 2 of 6: Basic Information</b></font> 
              <font face=arial size=-1>(required)</font></td>
          </tr>
          <tr bgcolor="#eeeeee"> 
            <td><font face=arial size="-1">Please enter the following required 
              information <b>about yourself</b>.</font></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td height="843" valign="top"> 
        <div align="center"> <b><font color="#FF0000">[ERROR]</font></b><br>
          <form name="mojo" method="get" action="[PROGRAM_URL]">
          [HIDDEN_FIELDS]
            <table border=0 cellspacing=2 cellpadding=4 width="100%" height="750">
              <tr> 
                <td align=right height="9" width="30%"> 
                  <div align="left"><b><font face="Tahoma" size="2">Post To Section</font></b></div>
                </td>
                <td height="9" width="70%"><font face="Tahoma" size="2">[IP_CAT]</font></td>
              </tr>
              <tr valign=top> 
                <td align=right height="19" width="30%"> 
                  <div align="left"><b><font face="Tahoma" size="2">Preferred 
                    Relationship Type(s)</font></b></div>
                </td>
                <td height="19" width="70%"><font face="Tahoma" size="2"> [IP_RELATIONSHIP]</font></td>
              </tr>
              <tr> 
                <td align=right valign=top height="5" width="30%"> 
                  <div align="left"><b><font face="Tahoma" size="2">City</font></b></div>
                </td>
                <td valign="top" height="5" width="70%"><font face="Tahoma" size="2"> 
                  [IP_CITY]</font></td>
              </tr>
              <tr> 
                <td align=right valign=top width="30%" height="2"> 
                  <div align="left"><b><font face="Tahoma" size="2">State</font></b></div>
                </td>
                <td width="70%" height="2"><font face="Tahoma" size="2"> [IP_STATE] 
                  If other [IP_STATE2]</font></td>
              </tr>
              <tr> 
                <td align=right valign=top width="30%"> 
                  <div align="left"><b><font face="Tahoma" size="2">Country</font></b></div>
                </td>
                <td width="70%"><font face="Tahoma" size="2"> [IP_COUNTRY]</font></td>
              </tr>
              <tr> 
                <td align=right valign=top width="30%"> 
                  <div align="left"><b><font face="Tahoma" size="2">Zip Code</font></b></div>
                </td>
                <td width="70%"><font face="Tahoma" size="2">[IP_ZIP]</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right height="27" width="30%"> 
                  <div align="left"><b><font face="Tahoma" size="2">Birthdate</font></b></div>
                </td>
                <td align=left height="27" width="70%"><font face="Tahoma" size="2"> 
                  [IP_BDM] [IP_BDD] <b>age</b> [IP_AGE][IP_HOROSCOPES]</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right width="30%"> 
                  <div align="left"><b><font face="Tahoma" size="2">Gender</font></b></div>
                </td>
                <td align=left width="70%"><font face="Tahoma" size="2">[IP_GENDER]</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right width="30%"> 
                  <div align="left"><b><font face="Tahoma" size="2">Eye</font></b></div>
                </td>
                <td align=left width="70%"><font face="Tahoma" size="2">[IP_EYE]</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right width="30%"> 
                  <div align="left"><b><font face="Tahoma" size="2">Hair</font></b></div>
                </td>
                <td align=left width="70%"><font face="Tahoma" size="2">[IP_HAIR]</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right width="30%"> 
                  <div align="left"><font face="Tahoma" size="2"><b>Body Type</b></font></div>
                </td>
                <td width="70%"><font face="Tahoma" size="2"> [IP_BODY]</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right width="30%"> 
                  <div align="left"><font face="Tahoma" size="2"><b>Height</b></font></div>
                </td>
                <td width="70%"><font face="Tahoma" size="2"> [IP_HEIGHT1] feet 
                  [IP_HEIGHT2] inches </font> </td>
              </tr>
              <tr valign=middle> 
                <td align=right width="30%"> 
                  <div align="left"><font face="Tahoma" size="2"><b>Weight</b></font></div>
                </td>
                <td width="70%"><font face="Tahoma" size="2"> [IP_WEIGHT] (in 
                  lbs)</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right width="30%"> 
                  <div align="left"><font face="Tahoma" size="2"><b>Ethnicity</b></font></div>
                </td>
                <td width="70%"><font face="Tahoma" size="2"> [IP_ETHNIC]</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right width="30%"> 
                  <div align="left"><font face="Tahoma" size="2"><b>Education</b></font></div>
                </td>
                <td width="70%"><font face="Tahoma" size="2"> [IP_EDUCATION]</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right width="30%"> 
                  <div align="left"><font face="Tahoma" size="2"><b>Employment 
                    Status</b></font></div>
                </td>
                <td width="70%"><font face="Tahoma" size="2"> [IP_EMPLOYMENT]</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right width="30%"> 
                  <div align="left"><font face="Tahoma" size="2"><b>Profession</b></font></div>
                </td>
                <td width="70%"><font face="Tahoma" size="2"> [IP_PROFESSION]</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right height="30" width="30%"> 
                  <div align="left"><b><font face="Tahoma" size="2">Income</font></b></div>
                </td>
                <td height="30" width="70%"><font face="Tahoma" size="2">[IP_INCOME]</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right width="30%"> 
                  <div align="left"><font face="Tahoma" size="2"><b>Marital Status</b></font></div>
                </td>
                <td width="70%"><font face="Tahoma" size="2"> [IP_MARITAL]</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right width="30%"> 
                  <div align="left"><font face="Tahoma" size="2"><b>Religion</b></font></div>
                </td>
                <td width="70%"><font face="Tahoma" size="2"> [IP_RELIGION]</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right width="30%"> 
                  <div align="left"><font face="Tahoma" size="2"><b>Smoke?</b></font></div>
                </td>
                <td width="70%"><font face="Tahoma" size="2"> [IP_SMOKE]</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right width="30%"> 
                  <div align="left"><font face="Tahoma" size="2"><b>Drink?</b></font></div>
                </td>
                <td width="70%"><font face="Tahoma" size="2"> [IP_DRINK]</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right width="30%"> 
                  <div align="left"><font face="Tahoma" size="2"><b>Have Kids?</b></font></div>
                </td>
                <td width="70%"><font face="Tahoma" size="2"> [IP_KID1]</font></td>
              </tr>
              <tr valign=middle> 
                <td align=right width="30%"> 
                  <div align="left"><font face="Tahoma" size="2"><b>Want (More) 
                    Kids?</b></font></div>
                </td>
                <td width="70%"><font face="Tahoma" size="2"> [IP_KID2]</font></td>
              </tr>
              <tr valign=top> 
                <td align=right width="30%"> 
                  <div align="left"><b><font face="Tahoma" size="2">Group Affiliations</font></b></div>
                </td>
                <td width="70%"><font face="Tahoma" size="2"> [IP_GROUPS]</font></td>
              </tr>
              <tr> 
                <td valign="top" height=28 width="30%"> 
                  <div align="left"><font face="Tahoma" size="2"><b>Interests 
                    </b></font></div>
                </td>
                <td valign="top" height=28 width="70%"><font face="Tahoma" size="2">[IP_INTERESTS]</font></td>
              </tr>
              <tr valign=top> 
                <td align=right height="2" colspan="2"> 
                  <hr size=1 noshade width=555>
                </td>
              </tr>
              <tr valign=top> 
                <td align=right height="38" colspan="2"> 
                  <input type="submit" name="submit" value=" Next >">
                  <input type="submit" name="cancel" value=" Cancel ">
                </td>
              </tr>
            </table>
          </form>
        </div>
      </td>
    </tr>
    <tr> 
      <td align=center height="2">&nbsp; </td>
    </tr>
  </table>
  <p>&nbsp;</p>
  </center>

