<center>
  <table border=0 cellpadding=0 cellspacing=0 width=630>
    <tr> 
      <td height="284" valign="top">
        <table border=0 cellspacing=0 cellpadding=2 width="100%">
          <tr bgcolor="#ccccff"> 
            <td> <font face=arial><b>Step 5 of 6: Photo Selection</b></font> <font face=arial size=-1>(optional)</font></td>
          </tr>
        </table>
        <div align="center"> <b><font color="#FF0000">[ERROR]</font></b><br>
          <form name="mojo" method="post" action="[PROGRAM_URL]" enctype="multipart/form-data">
            [HIDDEN_FIELDS] 
            <table width="100%" border="1" cellspacing="0" cellpadding="0" bordercolor="#EEEEEE">
              <tr> 
                <td bgcolor="#eeeeee" colspan=2><font face=arial size="-1"><b>Click 
                  "Browse..." to locate the photo on your computer. </b></font></td>
              </tr>
              <tr> 
                <td width="341" valign="top"> 
                  <table width="339">
                    <tr> 
                      <td nowrap align=left> </td>
                      <td> [IP_FILEUPLOAD]</td>
                    </tr>
                    <tr> 
                      <td colspan=2> 
                        <ul>
                          <li>For browser compatibility reason, only jpg and gif 
                            pictures are allowed</li>
                        </ul>
                        <div align="center"> 
                          <input type="submit" name="preview" value=" Preview Picture">
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
                <td width="289" valign="top"> 
                  <div align="center">[THUMBNAIL]</div>
                </td>
              </tr>
            </table>
            <br>
            <table width="100%" border="1" cellspacing="0" cellpadding="0" bordercolor="#EFEFEF">
              <tr> 
                <td bgcolor="#EFEFEF"><b>Or choose from one of your available 
                  images </b> </td>
              </tr>
              <tr> 
                <td> 
                  <div align="center">[GALLERY]</div>
                </td>
              </tr>
            </table>
            <br>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td width="341">&nbsp;</td>
                <td width="289"> 
                  <div align="right"> 
                    <input type="submit" name="submit" value=" Next >">
                  </div>
                </td>
              </tr>
            </table>
            <br>
          </form>
        </div>
      </td>
    </tr>
    <tr> 
      <td align=right> </td>
    </tr>
    <tr> 
      <td align=right height="2"></td>
    </tr>
  </table>

  </center>

