<center>
  <table border=0 cellpadding=0 cellspacing=0 width=630>
    <tr> 
      <td height=5></td>
    </tr>
    <tr> 
      <td> 
        <table border=0 cellspacing=0 cellpadding=2 width="100%">
          <tr bgcolor="#ccccff"> 
            <td> <font face=arial><b>Step 4 of 6: Detailed Information</b></font> 
              <font face=arial size=-1>(optional)</font></td>
          </tr>
          <tr bgcolor="#eeeeee"> 
            <td><font face=arial size="-1">Give other members a little insight 
              into your personality by answering the following optional questions.</font></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td height="467" valign="top"> 
        <div align="center"> <b><font color="#FF0000">[ERROR]</font></b><br>
          <form name="mojo" method="post" action="[PROGRAM_URL]">
           [HIDDEN_FIELDS]
            <table border=0 cellspacing=2 cellpadding=1 width="494">
              <tr bgcolor="#EEEEEE"> 
                <td colspan=2 bgcolor="#EEEEEE"><font face=arial size="-1"><b>What 
                  do you tend to daydream about?</b></font></td>
              </tr>
              <tr> 
                <td width="34" height=8>&nbsp;</td>
                <td width="450" height=8>[IP_DD]</td>
              </tr>
              <tr> 
                <td colspan=2 bgcolor="#EFEFEF"><font face=arial size="-1"><b>What 
                  is your favorite season?</b></font></td>
              </tr>
              <tr> 
                <td width="34" height=8>&nbsp;</td>
                <td width="450" height=8>[IP_FS]</td>
              </tr>
              <tr> 
                <td colspan=2 bgcolor="#EFEFEF"><font face=arial size="-1"><b>What 
                  do you expect on a first date?</b></font></td>
              </tr>
              <tr> 
                <td height=8 width="34">&nbsp;</td>
                <td height=8 width="450">[IP_FD]</td>
              </tr>
              <tr> 
                <td colspan=2 bgcolor="#EFEFEF"><font face=arial size="-1"><b>How 
                  do you feel about pets?</b></font></td>
              </tr>
              <tr> 
                <td height=2 width="34">&nbsp;</td>
                <td height=2 width="450">[IP_PET]</td>
              </tr>
              <tr> 
                <td colspan=2 bgcolor="#EFEFEF"><font face=arial size="-1"><b>What 
                  bothers you most?</b></font></td>
              </tr>
              <tr> 
                <td height=8 width="34">&nbsp;</td>
                <td height=8 width="450">[IP_BOT]</td>
              </tr>
              <tr> 
                <td colspan=2 bgcolor="#EFEFEF"><font face=arial size="-1"><b>In 
                  your family, who are you known as?</b></font></td>
              </tr>
              <tr> 
                <td height=8 width="34">&nbsp;</td>
                <td height=8 width="450">[IP_KNOWN]</td>
              </tr>
              <tr> 
                <td colspan=2 bgcolor="#EFEFEF"><font face=arial size="-1"><b>The 
                  coolest toy ever is ...</b></font></td>
              </tr>
              <tr> 
                <td height=8 width="34">&nbsp;</td>
                <td height=8 width="450">[IP_TOY]</td>
              </tr>
              <tr> 
                <td colspan=2 bgcolor="#EFEFEF"><font face=arial size="-1"><b>The 
                  perfect escape is a ...</b></font></td>
              </tr>
              <tr> 
                <td height=8 width="34">&nbsp;</td>
                <td height=8 width="450">[IP_ESC]</td>
              </tr>
              <tr> 
                <td height=8 colspan=2> 
                  <div align="right"> 
                    <input type="submit" name="submit" value=" Next >">
                  </div>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </td>
    </tr>
    <tr> 
      <td align=right> </td>
    </tr>
    <tr> 
      <td align=right height="2"></td>
    </tr>
  </table>
</center>

