<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000">
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr> 
    <td> 
      <div align="center">[USER_OPTIONS]</div>
    </td>
  </tr>
</table>
<table width=800 border=0 cellpadding=0 cellspacing=0 align="center">
  <tr> 
    <td width="11"> 
      <div align="left"></div>
    </td>
    <td width="759">&nbsp; </td>
    <td width="30">&nbsp; </td>
  </tr>
  <tr> 
    <td width="11" height="767">&nbsp; </td>
    <td width="759" valign="top" height="767"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="3">
        <tr> 
          <td width="52%" height="10"><font face="Arial,Helvetica" color="#000000"><b>[TITLE]</b></font></td>
          <td width="48%" height="10"> 
            <div align="right"></div>
          </td>
        </tr>
        <tr bgcolor="#CCCCCC"> 
          <td height="18" colspan="2"><font color="#000000">[LOCATION]</font></td>
        </tr>        
        <tr> 
          <td colspan="2" height="689"> 
            <table border=0 cellpadding=0 cellspacing=0 width=600 height="721" align="center">
              <tr> 
                <td height=5></td>
              </tr>
              <tr> 
                <td valign="top" height="31"> 
                  <table border=0 cellspacing=0 cellpadding=2 width="100%">
                    <tr bgcolor="#ccccff"> 
                      <td> 
                        <div align="center"><b><font face="arial">ADVANCED SEARCH</font></b></div>
                      </td>
                    </tr>
                    <tr bgcolor="#eeeeee"> 
                      <td> 
                        <div align="center"><b><font color="#FF0000">[ERROR]</font></b></div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr> 
                <td height="618" valign="top"> 
                  <div align="center"> 
                    <form name="mojo" method="post" action="[SEARCH_URL]">
                      <input type="hidden" name="action" value="search">
                      <input type="hidden" name="step" value="final">
                      <table border=0 cellpadding=4 cellspacing=1 width="100%">
                        <!-- what you're looking for -->
                        <tr bgcolor="#ccccff"> 
                          <td colspan=2><font face=arial><b>What you're looking 
                            for...</b></font></td>
                        </tr>
                        <tr bgcolor="#eeeeee"> 
                          <td align=right width="25%"><font face=arial size="-1"><b>Category</b></font></td>
                          <td width="75%">&nbsp;[IP_CAT]</td>
                        </tr>
                        <!-- begin relationship type -->
                        <!-- end relationship type -->
                        <!-- location -->
                        <tr bgcolor="#eeeeee" valign=top> 
                          <td align=right height="16"><font face=arial size="-1"><b>Location</b>&nbsp;<font color="#CC0000">*</font></font></td>
                          <td height="16">City : [IP_CITY] <br>
                            State : [IP_STATE] if other [IP_STATE2]<br>
                            Country : [IP_COUNTRY]</td>
                        </tr>
                        <!-- end location -->
                        <tr bgcolor="#eeeeee"> 
                          <td align=right width="25%"><font face=arial size="-1"><b>Keywords</b></font></td>
                          <td width="75%">&nbsp;<font face=arial size=-1> 
                            <input name=keywords type=text value="" size="30" maxlength="100">
                            </font></td>
                        </tr>
                        <tr bgcolor="#eeeeee"> 
                          <td align=right width=25%><font face=arial size="-1"><b>Show 
                            Ads With:</b></font></td>
                          <td width=75%> 
                            <select name="photo">
                              <option value="y">Photos </option>
                              <option value="n">No Photos </option>
                              <option value="" selected>Either </option>
                            </select>
                          </td>
                        </tr>
                        <tr> 
                          <td bgcolor="#ccccff" colspan=2><font face=arial><b>Who 
                            you're looking for...</b></font></td>
                        </tr>
                        <!-- age range -->
                        <tr bgcolor="#eeeeee"> 
                          <td align=right><font face=arial size=-1><b>Age Range</b></font></td>
                          <td><font face=arial size="-1"> From 
                            <input type=text name=minage maxsize=2 size=5 value="18" maxlength="2">
                            To 
                            <input type=text name=maxage size=5 maxsize=2 value="34" maxlength="2">
                            </font></td>
                        </tr>
                        <tr bgcolor="#eeeeee" valign=top> 
                          <td align=right height="32"><font face=arial size="-1"><b>Body 
                            Type</b></font></td>
                          <td height="32"> [IP_BODY]</td>
                        </tr>
                        <!-- eye color -->
                        <!-- ethnicity -->
                        <tr bgcolor="#eeeeee" valign=top> 
                          <td align=right><font face=arial size="-1"><b>Ethnicity</b></font></td>
                          <td> [IP_ETHNIC]</td>
                        </tr>
                        <tr bgcolor="#eeeeee" valign=top> 
                          <td align=right height="2"><font face=arial size="-1"><b>Education</b></font></td>
                          <td height="2"> [IP_EDUCATION]</td>
                        </tr>
                        <tr bgcolor="#eeeeee" valign=top> 
                          <td align=right height="17"><font face=arial size="-1"><b>Employment 
                            Status</b></font></td>
                          <td height="17"> [IP_EMPLOYMENT]</td>
                        </tr>
                        <tr bgcolor="#eeeeee" valign=top> 
                          <td align=right><font face=arial size="-1"><b>Marital 
                            Status</b></font></td>
                          <td> [IP_MARITAL]</td>
                        </tr>
                        <tr bgcolor="#eeeeee" valign=top> 
                          <td align=right height="5"><font face=arial size="-1"><b>Religion</b></font></td>
                          <td height="5"> [IP_RELIGION]</td>
                        </tr>
                        <tr bgcolor="#eeeeee" valign=top> 
                          <td align=right height="2"><font face=arial size="-1"><b>Smoking 
                            Behavior</b></font></td>
                          <td height="2"> [IP_SMOKE]</td>
                        </tr>
                        <tr bgcolor="#eeeeee" valign=top> 
                          <td align=right><font face=arial size="-1"><b>Drinking 
                            Behavior</b></font></td>
                          <td> [IP_DRINK]</td>
                        </tr>
                        <tr bgcolor="#eeeeee" valign=top> 
                          <td align=right height="2"><font face=arial size="-1"><b>Have 
                            Kids?</b></font></td>
                          <td height="2"> [IP_KID1]</td>
                        </tr>
                        <tr bgcolor="#eeeeee" valign=top> 
                          <td align=right height="20"><font face=arial size="-1"><b>Want 
                            (More) Kids?</b></font></td>
                          <td height="20"> [IP_KID2]</td>
                        </tr>
                        <tr bgcolor="#eeeeee" valign=top> 
                          <td align=right height="32"><font face=arial size="-1"><b>Group 
                            Affiliations</b></font></td>
                          <td height="32"> [IP_GROUPS]</td>
                        </tr>
                        <tr bgcolor="#ccccff" valign=top> 
                          <td colspan=2 align=center height="2"> 
                            <input type=submit value="Find My Match!" name="submit">
                          </td>
                        </tr>
                      </table>
                    </form>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#CCCCCC"> 
          <td colspan="2">&nbsp; </td>
        </tr>
        <tr> 
          <td colspan="2"> 
            <table border=0 cellspacing=0 cellpadding=0 width="100%">
              <tr> 
                <td width="50%" height="14"><font face="Verdana,Arial,Helvetica" color="#000000"><b>Keyword 
                  Search </b></font><font color="#000000"><br>
                  </font></td>
                <td height="14"> 
                  <div align="right"><font face="Verdana,Arial,Helvetica" color="#000000"><b>Jump 
                    To </b></font></div>
                </td>
              </tr>
              <tr> 
                <td width="50%">[SEARCH_BOX]</td>
                <td> 
                  <div align="right">[MENU_BOX]</div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="30" height="767">&nbsp; </td>
  </tr>
  <tr> 
    <td width="11"> 
      <div align="left"></div>
    </td>
    <td width="759">&nbsp; </td>
    <td width="30">&nbsp; </td>
  </tr>
  <tr> 
    <td colspan="3">
      <div align="right"><b><font face="Tahoma" size="2">[COPYRIGHT]</font></b></div>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>

