/* default text */
.text {font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #000000}

/* small text */
.small {  font-family: verdana, arial, helvetica, sans-serif; font-size: 9px}

/* top navigation */
.nav-top-bg {  background-color: #a0a0e0}
.nav-top-txt {  font-family: arial, helvetica, sans-serif; font-size: 13px; font-weight: 900; color: #ffffff; text-decoration: none;}
.nav-top-txt:hover {  color: #ffcc33}

/* category navigation */
.navbar { font-family: arial, verdana, sans-serif;  font-weight: bold;  font-size: 10pt;  background-color: #f0f0f0; color: #003399; text-decoration: none;}
.navbar:vlink { color: #003399; text-decoration: none;}
.navbar:link { color: #003399; text-decoration: none;}
.navbar:alink { color: #003399; text-decoration: none;}
.navbar:hover { color: #9d9ddc; text-decoration: none;}

/*user navigation */
.nav-usermenu-title {  font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: 700; color: #999999}
.nav-usermenu-txt {  font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; color: #4141c0; text-decoration: underline}
.nav-usermenu-txt:hover {  color: #a0a0e0; font-family: verdana, arial, helvetica, sans-serif; font-size: 12px}

/* alternating table rows */
.cell1 {  background-color: #f6f6f6; font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #000000}
.cell2 {  background-color: #dedede; font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #000000}

/* dialog boxes */
.box-table {  border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #dedede}

/* titles */
.title {  font-family: verdana, arial, helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #373737; background-color:  #E5E5E5}
.subtitle {  font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: 800; color: #ffffff; background-color: #666666}

/* system messages and errors */
.sys-message { color: #C0C0C0; font-family: arial,verdana,sans-serif; font-size: 9pt; }
.error {  font-family: verdana, arial, helvetica, sans-serif; font-size: 9pt; color: #FF3300; font-weight: bold}
.small-msg {  font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; color: #999999}

/* statistics and misc. messages */
.stats { color: #707070; font-family: arial,verdana,sans-serif; font-size: 9pt; }
.stats-small {  font-family: arial, helvetica, sans-serif; font-size: 9px;}

/* search */
.search-title {  font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: 800; color: #ffffff; background-color: #666666}
.search-field-lable {  font-family: arial, helvetica, sans-serif; font-size: 12px}
.search-advanced {  font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: 900; text-decoration: none; color: #000000}
.search-bg {  background-color: #dedede}
.search-table {  border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #dedede}
.search-advanced:hover {  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #a0a0e0; font-weight: 900}

/* small text fields */
.textbox {  font-family: arial, helvetica, sans-serif; font-size: 10px}

/* buttons */
.button {  font-family: arial, helvetica, sans-serif; font-size: 10px; background-color: #f9eeae}
.buttonsmall {  font-family: arial, helvetica, sans-serif; font-size: 9px; background-color: #f9eeae; ; cursor: hand}

/* float boxes */
.floatbox-table {  border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #fef5cf}
.floatbox-title {  font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: 700; color: #ffffff; background-color: #666666}
.floatbox-txt {  font-family: arial, helvetica, sans-serif; font-size: 10px}
.spacing-pad-left {  padding-left: 15px}
.floatbox-link { font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: 700; color: #000000; text-decoration: none}
.floatbox-link:hover {  color: #9d9ddc; font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: 700}

/* spacing styles */
.spacing-pad-top-right {  padding-top: 15px; padding-right: 15px}
.spacing-pad-top-left {  padding-top: 15px; padding-left: 15px}
.spacing-pad-left-right { padding-right: 15px ; padding-left: 15px}

/* categories */
.cat { font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #003399; font-weight: bold;}
.cat:hover {  font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #a0a0e0; font-weight: bold;}
.catsub { font-family: arial, helvetica, sans-serif; font-size: 8pt; color: #000090 }
.catsub:hover { color: #9d9ddc; font-family: arial, helvetica, sans-serif; font-size: 8pt}
.cat-no { color: #707070; font-family: arial, verdana, sans-serif; font-size: 10px;  }
.cat-desc { color: black; font-family: arial,verdana,sans-serif; font-size: 9pt; }
.cat-new { color: blue; font-family: arial, verdana, sans-serif; font-size: 12px; ; vertical-align: super}
.cat-pick {  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #009900; vertical-align: super}
.cats-stats {  color: #707070; font-family: arial,verdana,sans-serif; font-size: 9pt; }

/* links */
.link { font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #003399; }
.link:hover {  font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #a0a0e0;}
.link-rate {  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #006600; text-decoration: none; }
.link-review {  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #a27900; text-decoration: none; }
.link-modify {  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #800000; text-decoration: none; }
.link-div{  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none; }
.link-desc { color: black; font-family: arial,verdana,sans-serif; font-size: 9pt; }
.link-detail { color: #707070; font-family: arial,verdana,sans-serif; font-size: 8pt; }
.link-new { color: blue; font-family: arial, verdana, sans-serif; font-size: 12px; ; vertical-align: super}
.link-top { color: red; font-family: arial, verdana, sans-serif; font-size: 12px; vertical-align: super}
.link-pop { color: orange; font-family: arial, verdana, sans-serif; font-size: 12px; vertical-align: super}
.link-pick {  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #009900; vertical-align: super}

/* reviews */
.review { font-family: arial, helvetica, sans-serif; font-size: 9pt;}
.review-detail { color: #707070; font-family: arial,verdana,sans-serif; font-size: 8pt; }
.review-detail:hover { color: #a0a0e0; font-family: arial,verdana,sans-serif; font-size: 8pt; }

/* page navigation */
.pagenav {  font-family: arial, verdana, helvetica, sans-serif; font-size: 12px; color: #00000; font-weight: bold;}

/* copyright */
.copyright {  font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; color: #999999}