{header}    
      <br /> <table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td class="catrow"><img src="{GRAFURL}/img_arrow_right.gif" alt="" width="14" height="14" border="0" align="middle" /> 
            {breadcrumb}</td>
        </tr>
      </table>
      <br /> <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr> 
          <td valign="top" width="80%"> <table width="100%" cellspacing="2" cellpadding="2" border="0">
              <tr> 
                <td> <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr> 
                      <td width="60%" class="cat_main_headline" valign="top">&nbsp;{memberlist_profile_profile_from}</td>
                    </tr>
                  </table></td>
              </tr>
              <tr> 
                <td valign="top"> 
                  <!-- Zeile Kategorie 2 -->
                  <table width="100%" border="0" cellspacing="1" cellpadding="0">
                    <tr> 
                      <td bgcolor="{CONTENT_BORDER_COLOR}"><table width="100%" border="0" cellspacing="1" cellpadding="0">
                          <tr> 
                            <td colspan="2" class="list_headline"><table width="100%" border="0" cellspacing="1" cellpadding="0">
                                <tr> 
                                  <td rowspan="2"><span class="entry_headline_big_light">{user}</span><br />
                                      <span class="entry_headline_small_light">{title}</span>
                                  </td>
                                  <td align="right" nowrap="nowrap">
                                      <p class="entry_headline_small_light">{memberlist_profile_registered_since} {reg_date} </p>
                                  </td>
                                </tr>
                                <tr> 
                                  <td>&nbsp;</td>
                                </tr>
                              </table>
                              </td>
                          </tr>
                          <tr> 
                            <td width="40%" align="center" valign="middle" class="list_dark">{avatar}</td>
                            <td valign="top" class="list_light"> <fieldset>
                              <legend>{memberlist_profile_messenger}</legend>
                              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="5">
                                <tr> 
                                  <td width="40%"> 
                                    <p><b>{memberlist_profile_icq}</b></p></td>
                                  <td><p>{icq}</p></td>
                                </tr>
                                <tr> 
                                  <td><p><b>{memberlist_profile_aim}</b></p></td>
                                  <td><p>{aim}</p></td>
                                </tr>
                                <tr> 
                                  <td><p><b>{memberlist_profile_yim}</b></p></td>
                                  <td><p>{yim}</p></td>
                                </tr>
                              </table>
                              </fieldset>
                              &nbsp;<br /> <fieldset>
                              <legend>{memberlist_profile_email_homepage}</legend>
                              <table width="90%" border="0" align="center" cellpadding="0" cellspacing="5">
                                <tr> 
                                  <td width="40%"><p><b>{memberlist_profile_email}</b></p></td>
                                  <td><p>{email}</p></td>
                                </tr>
                                <tr> 
                                  <td><p><b>{memberlist_profile_homepage}</b></p></td>
                                  <td><p>{userhp}</p></td>
                                </tr>
                              </table>
                              </fieldset><br />
                              <fieldset><legend>{memberlist_profile_personally_information}</legend>
                                <table width="90%" border="0" align="center" cellpadding="0" cellspacing="5">
                                    <tr>
                                        <td width="40%"><p><b>{memberlist_profile_gender}</b></p></td>
                                        <td><p>{gender}</p></td>
                                    </tr>
                                    <tr>
                                        <td><p><b>{memberlist_profile_location}</b></p></td>
                                        <td><p>{location}</p></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" nowrap="nowrap"><p><b>{memberlist_profile_interests}</b></p></td>
                                        <td><p>{interests}</p></td>
                                    </tr>
                                </table>
                              </fieldset></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
      </table>
      <br /> 
{footer}   
