<html>
<head>
<title>newsletter</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
.tabellenrahmen {
	border: 1px solid #CCCCCC;
}
a {
	color: #660066;
	text-decoration: underline;
}
-->
</style>
</head>
<body bgcolor="#FFFFFF" text="#000000">
<center>
  <table width="80%" border="0" cellpadding="2" cellspacing="2" class="tabellenrahmen">
    <tr bgcolor="#CCCCCC"> 
      <td width="100%" align="right" bgcolor="#EBEBEB" class="tabellenrahmen"><font color="#999999" size="3" face="{fontf}"><strong>Newsletter 
        {sitename}</strong></font></td>
    </tr>
    <tr> 
      <td width="100%" class="tabellenrahmen"><p><font face="{fontf}" size="2">{anrede} 
          {abouser},</font></p>
        <p><font face="{fontf}" size="2">{newstext}</font></p></td>
    </tr>
    <tr> 
      <td width="100%" bgcolor="#EAEAEA" class="tabellenrahmen"><font face="{fontf}" size="1">{disclaimer}  <a href="{stoplink}">Newsletter abmelden</a></font></td>
    </tr>
  </table>
</center>
</body>
</html>
