{header}    
            <br /><table width="100%"  border="0" cellspacing="0" cellpadding="0"> 
                <tr> 
                    <td class="catrow"><img src="{GRAFURL}/img_arrow_right.gif" alt="" width="14" height="14" border="0" align="middle" /> 
                    {breadcrumb}
                    </td> 
                </tr> 
            </table> 
            <br /><table width="100%" cellspacing="0" cellpadding="0" border="0"> 
                <tr> 
                    <td valign="top" width="80%"> <table width="100%" cellspacing="2" cellpadding="2" border="0"> 
                            <tr> 
                                <td> <table width="100%" cellspacing="0" cellpadding="0" border="0"> 
                                        <tr> 
                                            <td width="60%" class="cat_main_headline" valign="top">{post_news_links_post_links}</td> 
                                        </tr> 
                                    </table></td> 
                            </tr> 
                            <tr> 
                                <td valign="top">
                                    <fieldset> 
                                    <legend>{post_news_links_news_preview}</legend> 
                                      <table width="99%" cellspacing="2" cellpadding="2" border="0">
                                        <tr> 
                                          <td>
                    					  	{image_headline} <span class="cat_subcat_info">{fulldate}</span><br />{newshead}</td>
                                        </tr>
                                        <tr>
                                          <td class="cat_content" style="text-align : justify;">
                    					  	{image_text} {hometext}
                    						{morenews}
                    						{linkshow}
                                          </td>
                                        </tr>
                                        <tr> 
                                          <td class="cat_content">
                    					  	{writerlink}
                    						{recommend_link}
                    						{commentlink}
                    					  </td>
                                        </tr>
                                      </table>
                                    </fieldset> 
                                </td> 
                            </tr> 
                            <tr> 
                                <td align="center" valign="top"> <!-- Zeile Kategorie 2 --> 
                                    <form name="form1" id="form1" method="post" action="{MAINURL}/post_news.php"> 
                                    <input type="hidden" name="news" value="links">
                                    <input type="hidden" name="{SESS_NAME}" value="{SESS_ID}">
                                    <input type="hidden" name="newsid" value="{newsid}">                                    
                                        <table width="100%" border="0" cellspacing="2" cellpadding="0"> 
                                            <tr> 
                                                <td bgcolor="#000000"><table width="100%" border="0" cellspacing="1" cellpadding="0"> 
                                                        <tr> 
                                                            <td colspan="2" class="list_headline">{post_news_links_links_related_to_the_newspost}</td> 
                                                        </tr> 
                                                        <tr> 
                                                            <td class="list_dark"><p><b>{post_news_links_link_title}</b></p></td> 
                                                            <td class="list_dark"> <input name="link_name" type="text" class="input" id="link_name" size="100" /> </td> 
                                                        </tr> 
                                                        <tr> 
                                                            <td valign="top" class="list_light"><p>{post_news_links_link_url}</p></td> 
                                                            <td valign="top" class="list_light"><input name="link_url" type="text" class="input" id="link_url" size="100" /></td> 
                                                        </tr> 
                                                        <tr> 
                                                            <td valign="top" class="list_dark"><p><b>{post_news_links_link_target}</b></p></td> 
                                                            <td valign="top" class="list_dark"><select name="link_target" class="select"> 
                                                                    <option value="0" selected="selected">{post_news_links_open_in_same_window}</option> 
                                                                    <option value="1">{post_news_links_open_in_new_window}</option> 
                                                                </select></td> 
                                                        </tr> 
                                                    </table></td> 
                                            </tr> 
                                        </table> 
                                        <input type="submit" class="input" value="  {post_news_links_add_link_btn}  " /> 
                                        &nbsp;&nbsp; 
                                        <input type="reset" class="input" value="  {post_news_links_reset_btn}  " /> 
                                    </form></td> 
                            </tr> 
                        </table></td> 
                </tr> 
            </table> 
      <br /> 
{footer}  
