<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>{headline}</title>
<style type="text/css">
TD {
    font-family : Verdana,Arial,sans-serif;
    font-size : 11px;
}

</style>
</head>
<body bgcolor="#ffffff" text="#000000" onload="JavaScript:window.print()">
<table border="0" align="center">
  <tr> 
    <td> <table border="0" width="500" cellpadding="0" cellspacing="1" bgcolor="#000000">
        <tr>
          <td> <table border="0" width="500" cellpadding="20" cellspacing="1" bgcolor="#ffffff">
              <tr>
                <td> <center>
                    {scriptname}<br>
                    <br>
                    <b>{headline}</b><br>
                    <br>
                    {print_at} {print_date}<br>
                  </center>
                  <b>{print_topic}</b><br>
                  {hometext} {newstext}<br>
                  <br> <br>
                  <br> </td>
              </tr>
            </table></td>
        </tr>
      </table>
      <br>
      <br><center>
      {print_author} {scriptname}<br> <a href="{MAINURL}">{MAINURL}</a><br>
      <br>
      {print_url}<br> <a href="{MAINURL}/news.php?newsid={newsid}">{MAINURL}/news.php?newsid={newsid}</a> 
    </td>
  </tr>
</table>
</body>
</html>
