/*****************************************
*
* $Id: contenido.css,v 1.10.2.1 2003/11/06 11:51:57 timo.hummel Exp $
*
* File      :   $RCSfile: contenido.css,v $
* Project   :
* Descr     :
*
* Author    :   $Author: timo.hummel $
* Modified  :   $Date: 2003/11/06 11:51:57 $
*
* © four for business AG, www.4fb.de
******************************************/

#mhighlight    {
                    position:absolute;
                    left: 0px;
                    top: 0px;
                    width: 100px;
                    height: 20px;
                    z-index: 10;
                    visibility:hidden;
                    
                }

#htext          {
                    font-family: Verdana, Arial, Helvetica, Sans-Serif;
                    color: #FFFFFF;
                    font-size: 11px;
                    font-weight: bold;
                    padding-left: 5px;
                    padding-right: 5px;
                    vertical-align: middle;
                }

#infoDIV        {position: absolute; left: 0px; top: 0px ; background-color: #ffffff; border: 1px solid #ff0000}

.help           {text-align: right; width: 100%; background-color: #334f77}

td.nav          {padding-left: 5px; padding-right: 5px; vertical-align: middle}
td.sub          {padding-left: 5px; padding-right: 5px; vertical-align: middle}
a.nav:link      {font-family:verdana; font-size:11px; color:#ffffff}
a.sub:link      {font-family:verdana; font-size:11px; color:#6D737B}

a img {border: 0px}

/* <body> properties */
body            {
                    background-color: #ffffff;
                    margin-left: 0px;
                    margin-right:0px;
                    margin-top:0px;
                    margin-bottom: 0px;
                    scrollbar-face-color:#C6C6D5;
                    scrollbar-highlight-color:#FFFFFF;
                    scrollbar-3dlight-color:#747488;
                    scrollbar-darkshadow-color:#000000;
                    scrollbar-shadow-color:#334F77;
                    scrollbar-arrow-color:#334F77;
                    scrollbar-track-color:#C7C7D6;
                }

frameset        {
                    background-color: #ffffff;
                }

frame           {
                    background-color: #ffffff;
                }

/* Hauptlinks für die Navigation */
a.main:link     {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #ffffff; text-decoration: none; font-size: 11px; font-weight: bold}
a.main:visited  {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #ffffff; text-decoration: none; font-size: 11px; font-weight: bold}
a.main:active   {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #ffffff; text-decoration: none; font-size: 11px; font-weight: bold}
a.main:hover    {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #ffffff; text-decoration: none; font-size: 11px; font-weight: bold}

/* Hauptlinks für die Navigation */
a.main_on:link     {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #334F77; text-decoration: none; font-size: 11px; font-weight: bold}
a.main_on:visited  {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #334F77; text-decoration: none; font-size: 11px; font-weight: bold}
a.main_on:active   {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #334F77; text-decoration: none; font-size: 11px; font-weight: bold}
a.main_on:hover    {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #334F77; text-decoration: none; font-size: 11px; font-weight: bold}

/* Sublinks für die Navigation */
a.sub:link      {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #6D737B; text-decoration: none; font-size: 11px}
a.sub:visited   {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #6D737B; text-decoration: none; font-size: 11px}
a.sub:active    {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #6D737B; text-decoration: none; font-size: 11px}
a.sub:hover     {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #6D737B; text-decoration: none; font-size: 11px}

/* Sublinks für die Navigation */
a.sub_on:link      {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #334F77; text-decoration: none; font-size: 11px}
a.sub_on:visited   {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #334F77; text-decoration: none; font-size: 11px}
a.sub_on:active    {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #334F77; text-decoration: none; font-size: 11px}
a.sub_on:hover     {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #334F77; text-decoration: none; font-size: 11px}

/* Links Generell */
a:link      {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #000000; text-decoration: underline; font-size: 11px}
a:visited   {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #000000; text-decoration: underline; font-size: 11px}
a:active    {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #000000; text-decoration: underline; font-size: 11px}
a:hover     {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #000000; text-decoration: underline; font-size: 11px}

/* Links Weiss */
a.white:link      {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #ffffff; text-decoration: none; font-size: 11px}
a.white:visited   {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #ffffff; text-decoration: none; font-size: 11px}
a.white:active    {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #ffffff; text-decoration: none; font-size: 11px}
a.white:hover     {font-family: Verdana, Arial, Helvetica, Sans-Serif; color: #ffffff; text-decoration: none; font-size: 11px}

/* Texte */
.text_small     {font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 10px; color: #000000}
.text_medium    {font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 11px; color: #000000}
.text_large     {font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 12px; color: #000000}

/* Blauer Text */
.textb_medium    {font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 11px; color: #334F77}

/* Weisse Texte */
.textw_small     {font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 10px; color: #ffffff}
.textw_medium    {font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 11px; color: #ffffff}
.textw_large     {font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 12px; color: #ffffff}

/* Fehlermeldungen */
.text_error     {font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size: 11px; color: #ff0000}

/* Code areas */
.code           {font-family: verdana; font-size: 11px; color: #000000; color: #000000; width: 500px; height: 300px}
.text_fullwidth {font-family: verdana; font-size: 11px; color: #000000; width: 100%; height: 300px}
.text_fullwidth_120 {font-family: verdana; font-size: 11px; color: #000000; width: 100%; height: 80px}
.code_fullwidth {font-family: verdana; font-size: 11px; color: #000000; width: 100%; height: 300px}
.code_sfullwidth {font-family: verdana; font-size: 11px; color: #000000; width: 100%; height: 150px}
.code_input   {font-family: verdana; font-size: 11px; color: #000000; width: 100%;}

/* Form Elemente */
input.bb        {font-family: verdana, helvetica, arial; font-size: 11px; color: #000000; border: 1px solid #000000}

input.txt       {font-family: verdana, helvetica, arial; font-size: 11px; color: #000000; width: 250px; border: 1px solid #000000}
