
{header_menu_template}


<!link rel="stylesheet" href="{style_dir}dev.css" type="text/css">
<link rel="stylesheet" href="{style_dir}admin.css" type="text/css">

<div id="Layer1" style="position:absolute; left:125px; top:79px; width:500px; z-index:1">
<table width="500" border="0" cellspacing="0" cellpadding="0" class="menu_table">
  <tr>
    <td>
      <table width="500" border="0" cellspacing="0" cellpadding="0" align="left" class="code">
        <tr>
<td><div align="center"><span class="title"> &nbsp;&nbsp;NewsGroups </span></div></td>
        </tr>
      </table>
 </td></tr>
      <div align="left">	  
	  <tr><td>
	   <table align="left">
	   <tr>
                <td class="top_link" colspan="2" align="left" bordercolor="#FFC31E">
				<a class="top_link" href="master.php?page={num_page_grupo_ant}">{flecha_doble_izq}</a>
				<a class="top_link" href="master.php?page={num_page_ant}">{flecha_izq}</a></a>
		        <!-- BEGIN nav_block -->
  		        <a href="master.php?page={num_page}" class="{class}">&nbsp;{num_page}&nbsp;</a>
		        <!-- END nav_block -->
				<a class="top_link" href="master.php?page={num_page_sig}">{flecha_der}</a></a>
				<a class="top_link" href="master.php?page={num_page_grupo_sig}">{flecha_doble_der}</a></a>
		       </font></b> </td>
			   </tr>
	  </table>
        <br>
      </div>
      <table border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td>
            <table  border="0" cellspacing="1" cellpadding="0" align="center">
              <tr align="center">
                <td class="table_header"><div align="left"><span class="top_link">&nbsp;NewsGroup</span></div></td>
                <td class="table_header"><div align="left"><span class="top_link">&nbsp;Post</span></div></td>
				<td class="table_header"><div align="left"><span class="top_link">&nbsp;Num. Articles</span></div></td>                
				<td class="table_header"><div align="left"><span class="top_link">&nbsp;Act. Index</span></div></td>                
              </tr>
              <!-- BEGIN newsgroups_block -->
              <tr align="center" class="table_body">
                <td><div align="left"><a class="top_link" href="detail.php?grp_id={grp_id}&action={action}">&nbsp;{grp_name}</a></div></td>
                <td class="top_link"><div align="center">{grp_allow_post_yn}</div></td>
				<td class="top_link"><div align="center">{grp_num_messages}</div></td>                
				<td class="top_link"><div align="center">{grp_activity_index} %</div></td>                
              </tr>
              <!-- END newsgroups_block -->
            </table>
          </td>
        </tr>
      </table>
      <p class="top_link">&nbsp;</p>
      <div align="center"> <a href="add.php" class="top_link" >&nbsp;&nbsp;Add a New NewsGroup</a><br>
        <br>
        <span class="title">{error_message}</span>
      </div>
</td>
  </tr>
</table>
</div>
<div align="center"></div>
