<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
 <title>[[weblogtitle]] - [[weblogsubtitle]]</title>
 <meta http-equiv="Content-Type" content="text/html; charset=[[charset]]" />
 <meta name="description" content="Archive of [[weblogtitle]]" />
 <link rel="stylesheet" type="text/css" href="[[template_dir]]mojito_structure.css" media="screen" />
 [[calendar:style]] 
 [[rss_autodiscovery]]
 [[atom_autodiscovery]]
</head>
<body>

<div id="container">

<div id="header">
 <h1 class='shadow'>[[weblogtitle]]</h1>
 <h1 class='top'><a href="[[home]]">[[weblogtitle]]</a></h1>
 
 <h5 class='shadow'>[[weblogsubtitle]]</h5>
 <h5 class='top'>[[weblogsubtitle]]</h5> 
</div>





<div id="secondary">

 <div class="about-box">
  <h3 class="about">About</h3>
  <p>
  This is the archive page for [[weblogtitle]]. Click to go to the <a href="[[home]]">frontpage</a> of this site.
  </p>
 </div>
 
 
 <div class="misc">

  <h3 class='comments'>[[label:last_comments]]</h3>
  [[last_comments]] 

 
	<h3 class='search'>Search</h3>
  [[search::search]]

   <h3 class='calendar'>[[label:calendar]]</h3>
   [[calendar]]


   <h3 class='archives'>[[label:archives]]</h3>
  <p>
[[archivenext]]
[[archiveprevious]]
</p>
  <p>
   [[archive_list]]
  </p>

  <h3 class="links">[[label:links]]</h3>
  <p>
   [[link_list]]
  </p>


  <h3 class="stuff">Miscellany</h3>
  <p>[[pivotbutton]]&nbsp;<br />
  [[rssbutton]]&nbsp;<br />
  [[atombutton]]&nbsp;</p>
	
 </div>
 
 
</div>

<div id="main">
 [[subweblog:standard]]
</div>



 <div id="linkdump">
  <h3 class='linkdump'>Linkdump</h3>
  [[subweblog:linkdump]]
 </div>



 
 <div style='clear: both;'>&nbsp;</div>
 </div>
 
</body>
</html>