<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
 <title>[[weblogtitle]] - [[weblogsubtitle]]</title>
 <meta http-equiv="Content-Type" content="text/html; charset=[[charset]]" />
 <meta name="description" content="[[title]]" />
 <link rel="stylesheet" type="text/css" href="[[template_dir]]mojito_structure.css" media="screen" />
 [[rss_autodiscovery]]
 [[atom_autodiscovery]]
 
</head>
<body>

<div id="container">

<div id="header">
 <h1 class='shadow'>[[weblogtitle]]</h1>
 <h1 class='top'><a href="[[home]]">[[weblogtitle]]</a></h1>
 
 <h5 class='shadow'>[[weblogsubtitle]]</h5>
 <h5 class='top'>[[weblogsubtitle]]</h5> 
</div>
<div id="secondary">
 
 
 <div class="misc">
 
  <h3 class='comments'>[[label:last_comments]]</h3>
  [[last_comments]] 

	<h3 class='search'>Search</h3>
  [[search::search]]
	
	
   <h3 class='archives'>[[label:archives]]</h3>
  <p>
   [[archive_list]]
  </p>





  <h3 class="links">[[label:links]]</h3>
  <p>
   [[link_list]]
  </p>


  <h3 class="stuff">Miscellany</h3>
  <p>[[pivotbutton]]&nbsp;<br />
  [[rssbutton]]&nbsp;<br />
  [[atombutton]]&nbsp;</p>
	
 </div>
 
 
</div>

<div id="main-2columns">
 <div class="entry">
 
 <p class="entry-navigation">[[previousentry: &laquo;  <a href="%link%">%title%</a>]] | 
  <a href="[[home]]">Home</a> 
  | [[nextentry: <a href="%link%">%title%</a> &raquo; ]]
		</p>

 
 <h3>[[title]]</h3>
 
 [[introduction]]
 [[body]]

	<br />
	<hr size="1" noshade="noshade" style="color:#999" />

	<p><b>[[commcount]]:</b></p>
	[[comments]]
	
	<hr size="1" noshade="noshade" style="color:#999" />
	
	<p><b>[[trackcount]]:</b></p>
	[[trackbacks]]
	
	[[tracklink]]	
	[[trackautodiscovery]]	
	
	<hr size="1" noshade="noshade" style="color:#999" />	
  
	[[message]]	
  [[commentform]]
 </div>


</div>


 
 <div style='clear: both;'>&nbsp;</div>
 
 </div>
 
</body>
</html>
