<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
 <title>[[weblogtitle]] - [[weblogsubtitle]]</title>
 <meta http-equiv="Content-Type" content="text/html; charset=[[charset]]" />
 <link rel="stylesheet" type="text/css" href="[[template_dir]]mojito_structure.css" media="screen" />
 [[calendar:style]]
 [[rss_autodiscovery]]
 [[atom_autodiscovery]]
</head>
<body>

<div id="container">

<div id="header">
 <h1 class='shadow'>[[weblogtitle]]</h1>
 <h1 class='top'><a href="[[home]]">[[weblogtitle]]</a></h1>

 <h5 class='shadow'>[[weblogsubtitle]]</h5>
 <h5 class='top'>[[weblogsubtitle]]</h5>
</div>





<div id="secondary">

 <div class="about-box">
  <h3 class="about">About</h3>
  <p>
  This is the default template for <a href="http://www.pivotlog.net"
  title="Pivot: a GPL weblog tool.">Pivot</a>. It was adapted from the Mojito template (by <a href="http://legion.gibbering.net/el/"
  title="el73: webdesign">el73</a>). The header image was made by  You can change this text by
  editing the file <tt>frontpage_template.html</tt>  in your pivot/templates/ folder. You can do this by directly editing the file, or you can go to Administration &raquo; Templates in the Pivot interface.
  </p>
 </div>


 <div class="misc">

  <h3 class='comments'>[[label:last_comments]]</h3>
  [[last_comments]]


	<h3 class='search'>Search</h3>
  [[search::search]]


   <h3 class='archives'>[[label:archives]]</h3>
  <p>
   [[archive_list]]
  </p>


   <h3 class='calendar'>[[label:calendar]]</h3>
   [[calendar]]



  <h3 class="links">[[label:links]]</h3>
  <p>
   [[link_list]]
  </p>


  <h3 class="stuff">Miscellany</h3>
  <p>[[pivotbutton]]&nbsp;<br />
  [[rssbutton]]&nbsp;<br />
  [[atombutton]]&nbsp;</p>

 </div>


</div>

<div id="main-2columns">


[[subweblog:standard]]
</div>





 <div style='clear: both;'>&nbsp;</div>
 </div>

</body>
</html>