/*	##############################################
   ### MySource	------------------------------###
  ##- Backend Edit file	-- CSS ---------------##
 #-- Copyright Squiz.net ---------------------#
##############################################
## This	file is	subject	to version 1.0 of the
## MySource	License, that is bundled with
## this	package	in the file	LICENSE, and is
## available at	through	the	world-wide-web at
## http://mysource.squiz.net/
## If you did not receive a	copy of	the	MySource
## license and are unable to obtain	it through
## the world-wide-web, please contact us at
## mysource@squiz.net so we	can	mail you a copy
## immediately.
##
## $Source: /home/cvsroot/mysource/web/__lib/css/edit.css,v $
## $Revision: 2.10 $
## $Author: csmith $
## $Date: 2003/09/09 22:59:52 $
#######################################################################
*/

body,p,td,ul,li,input,select,textarea {
	color: #000000;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.backend_smallprint	{
	color: #000000;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: normal;
}

.backend_fineprint {
	color: #000000;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
}

.backend_tabs {
	color: #000000;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-weight: bold;
}

.backend_mainheading {
	color: #000000;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 130%;
}

.backend_heading {
	color: #666666;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 120%;
}

.backend_subheading	{
	color: #000000;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 110%;
}

.backend_sectionheading	{
	color: #000000;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
}

a,a.backend	{
	color: #214Ea1;
	text-decoration: none;
}

a:hover,a.backend:hover	{
	text-decoration: underline;
}

.backend_field {
	color: #000000;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: bold;
}

.backend_data,.data	{
	color: #000000;
	font-family: Verdana, Arial, Helvetica,	sans-serif;
	font-size: 90%;
}

.backend_warning {
	color: #000000;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	color: red;
}

.backend_page-lineage,a.backend_page-lineage {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: #000000;
}

.backend_page-lineage:hover,a.backend_page-lineage:hover {
	color: #000000;
}

.backend_help {
	font-size:	7pt;
}
