/*  ##############################################
   ### MySource ------------------------------###
  ##- Site Design Xtra --- CSS ---------------##
 #-- Copyright Squiz.net ---------------------#
##############################################
## This file is subject to version 1.0 of the
## MySource License, that is bundled with
## this package in the file LICENSE, and is
## available at through the world-wide-web at
## http://mysource.squiz.net/
## If you did not receive a copy of the MySource
## license and are unable to obtain it through
## the world-wide-web, please contact us at
## mysource@squiz.net so we can mail you a copy
## immediately.
##
## $Source: /home/cvsroot/mysource/web/__lib/css/general.css,v $
## $Revision: 2.2 $
## $Author: bvial $
## $Date: 2003/06/27 07:20:58 $
#######################################################################
*/

body,p,td,ul,li,input,select,textarea {
	color: #000000;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 100%;
}

.plain {
}

.bold {
	font-weight: bold;
}

.smallprint {
	font-size: 90%;
}

.fineprint {
	font-size: 80%;
}

.mainheading {
	font-weight: bold;
	font-size: 180%;
}

.heading {
	font-weight: bold;
	font-size: 160%;
}

.subheading {
	font-weight: bold;
	font-size: 140%;
}

.field {
	font-weight: bold;
}

.data {
	font-family: courier, courier new, fixed-width;
}

.bodycopy {
}

.error {
	color: #FF0000;
}

a {
	color: #000000;
}