<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html>

<head>
<title><%site_title%>: Resource Added</title>
<link rel=stylesheet href="<%css%>" type="text/css" title="style sheet">
</head>

<body bgcolor="##2D4253" link="#000000" alink="#000000" vlink="#000000">

<h1><%site_title%>: Resource Added</h1>

<p align="center"><font size="2" face="Arial, Helvetica, sans-serif">We have received 
  the following link:</font></p>
<div class="margin"> 
  <div align=center> 
    <table width=600 cellspacing=1 cellpadding=0 bgcolor=#222222 height="50" align="center">
      <tr> 
        <td width=580> 
          <input type="Hidden" name="ID" value="<%ID%>">
          <input type="Hidden" name="Date" value="<%Date%>">
          <input type="Hidden" name="Hits" value="<%Hits%>">
          <input type="Hidden" name="isNew" value="<%isNew%>">
          <input type="Hidden" name="isPopular" value="<%isPopular%>">
          <input type="Hidden" name="Rating" value="<%Rating%>">
          <input type="Hidden" name="Votes" value="<%Votes%>">
          <table cellpadding=2 cellspacing=1 border=0 bgcolor=#000000 width="100%" height="100">
            <tr bgcolor=#CCCCCC> 
              <td align=right valign=top width=68% bgcolor="#444444"><font color="#FFFFFF"><b><font face="verdana,arial,helvetica" size="2">Program 
                Name:</font></b></font></td>
              <td width=32% bgcolor="#333333"> <font face="veranda, Arial, Helvetica, sans-serif"><strong><%Program Name%></strong> 
                </font></td>
            </tr>
            <tr bgcolor=#CCCCCC> 
              <td align=right valign=top width=68% bgcolor="#444444"><font color="#FFFFFF"><b><font face="verdana,arial,helvetica" size="2">Program 
                URL:</font></b></font></td>
              <td width=32% bgcolor="#333333"> <font face="veranda, Arial, Helvetica, sans-serif"><strong><%Program URL%></strong> 
                </font></td>
            </tr>
            <tr bgcolor=#CCCCCC> 
              <td align=right valign=top width=68% bgcolor="#444444"><font color="#FFFFFF"><b><font face="verdana,arial,helvetica" size="2">Site 
                Name:</font></b></font></td>
              <td width=32% bgcolor="#333333"> <font face="veranda, Arial, Helvetica, sans-serif"><strong><%Site Name%></strong> 
                </font></td>
            </tr>
            <tr bgcolor=#CCCCCC> 
              <td align=right valign=top width=68% bgcolor="#444444"><font color="#FFFFFF"><b><font face="verdana,arial,helvetica" size="2">Site 
                URL:</font></b></font></td>
              <td width=32% bgcolor="#333333"> <font face="veranda, Arial, Helvetica, sans-serif"><strong><%Site URL%></strong> 
                </font></td>
            </tr>
            <tr bgcolor=#CCCCCC> 
              <td align=right valign=top width=68% bgcolor="#444444"><font color="#FFFFFF"><b><font face="verdana,arial,helvetica" size="2">Category:</font></b></font></td>
              <td width=32% bgcolor="#333333"> <font face="veranda, Arial, Helvetica, sans-serif"><strong><%Category%></strong> 
                </font></td>
            </tr>
            <tr bgcolor=#CCCCCC> 
              <td align=right valign=top width=68% bgcolor="#444444"><font color="#FFFFFF"><b><font face="verdana,arial,helvetica" size="2">Language:</font></b></font></td>
              <td width=32% bgcolor="#333333"> <font face="veranda, Arial, Helvetica, sans-serif"><strong><%Language%></strong> 
                </font></td>
            </tr>
            <tr bgcolor=#CCCCCC> 
              <td align=right valign=top width=68% bgcolor="#444444"><font color="#FFFFFF"><b><font face="verdana,arial,helvetica" size="2">Contact 
                Name:</font></b></font></td>
              <td width=32% bgcolor="#333333"> <font face="veranda, Arial, Helvetica, sans-serif"><strong><%Contact Name%></strong> 
                </font></td>
            </tr>
            <tr bgcolor=#CCCCCC> 
              <td align=right valign=top width=68% bgcolor="#444444"><font color="#FFFFFF"><b><font face="verdana,arial,helvetica" size="2">Contact 
                Email:</font></b></font></td>
              <td width=32% bgcolor="#333333"> <font face="veranda, Arial, Helvetica, sans-serif"><strong><%Contact Email%></strong> 
                </font></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2" color="#000000"><br>
    You will get a confirmation email when your link has been added.</font></div>
</div>
  <form action="<%db_cgi_url%>/search.cgi" method="GET">
		<h2>Search</h2>
			<div class="margin">
				<table border="0" cellspacing="0" cellpadding="0">
				<tr><td><strong class="search">Looking for something in particular?</strong></td></tr>
				<tr><td><input type="text" size=15 name="query"> <input type=submit value="Search!"></td></tr>
				<tr><td><small class="more"><a href="<%db_cgi_url%>/search.cgi">More search options</a></small></td></tr>
				</table>
		</div>
	</form>
	
		<p><small class="update">Pages Updated On: <%date%> - <%time%><br>
		Links Engine Powered By: <a href="http://www.gossamer-threads.com/">Gossamer Threads Inc.</a></small></p>		

</body>
</html>
