
<table width="582" border="0" cellspacing="0" cellpadding="1" align="center" bgcolor="#000000">
  <tr valign="middle" align="center"> 
    <td> 
      <table width="100%" border="0" cellspacing="1" cellpadding="2" height="100%" bgcolor="#333333">
        <tr> 
          <td width="35%"><font face="Helvetica, Arial, sans-serif" size="2"><b><%Program Name%></b></font></td>
          <td width="20%"><font face="Arial, Helvetica, sans-serif" size="2">Added: 
            <%Date%></font></td>
          <td width="18%"><font face="Arial, Helvetica, sans-serif" size="2">Language: 
            <%if Language eq 'Deutsch'%><img src="<%build_root_url%>/images/nade.gif" border="0" valign="bottom" width="20" height="12" align="absmiddle"><%endif%> 
            <%if Language eq 'English'%><img src="<%build_root_url%>/images/nauk.gif" border="0" width="20" height="12" align="absmiddle"><%endif%> 
            <%ifnot Language%><img src="<%build_root_url%>/images/nareal.gif" border="0" width="20" height="12" align="absmiddle"><%endif%> 
            </font></td>
          <td width="27%"><font face="Arial, Helvetica, sans-serif" size="2">Sponsor: 
            <%if Sponsor Text%> <%if Sponsor URL%> <a href="<%Sponsor URL%>" target="_blank"> 
            <%endif%> <%Sponsor Text%> </a> <%endif%></font><font face="Arial, Helvetica, sans-serif" size="2"></font></td>
        </tr>
        <tr> 
          <td width="35%"><font face="Arial, Helvetica, sans-serif" size="2"></font><font face="Arial, Helvetica, sans-serif" size="2">Downloads: 
            <%Hits%> <a href="<%db_cgi_url%>/rate.cgi?ID=<%ID%>" target="_blank">Rating: <%Rating%>/10</a></font></td>
          <td width="20%"><font face="Helvetica, Arial, sans-serif"><small><strong><a href="<%db_cgi_url%>/jump.cgi?ID=<%ID%>" target="_blank"><font size="2">Download 
            Now</font></a></strong></small></font><font face="Arial, Helvetica, sans-serif" size="2"></font></td>
          <td width="18%"><font face="Arial, Helvetica, sans-serif" size="2"><b>Provided 
            by: </b></font></td>
          <td width="27%"><font face="Arial, Helvetica, sans-serif" size="2"><a href="<%Site URL%>" target="_blank"><%Site Name%></a></font><font face="Arial, Helvetica, sans-serif" size="2"></font></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
