<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html>

<head>
<title><%site_title%>: Search Failed</title>
</head>

<body bgcolor="##2D4253" link="#000000" alink="#000000" vlink="#000000">
<h1><%site_title%>: Search Failed</h1>
<h1>Error: <strong class="error"><%error%></strong></h1>
	
<form action="<%db_cgi_url%>/search.cgi" method="GET">					  
			<div class="margin">
				<table border="0" cellspacing="0" cellpadding="0">
				<tr><td><strong class="search">Search again?</strong></td></tr>
				<tr><td><input type="text" size=15 name="query"> <input type=submit value="Search!"></td></tr>
				<tr><td><small class="more"><a href="<%db_cgi_url%>/search.cgi">More search options</a></small></td></tr>
				</table>
			</div>
		</form>

<p><small>
<b>Try your search on other Search Engines</b><br>
<a target="_blank" href="http://www.altavista.digital.com/cgi-bin/query?pg=q&what=web&q=<%term%>">Alta Vista</a> - 
<a target="_blank" href="http://www.hotbot.com/?MT=<%term%>&DU=days&SW=web">HotBot</a> -
<a target="_blank" href="http://www.infoseek.com/Titles?qt=<%term%>">Infoseek</a> - 
<a target="_blank" href="http://www.dejanews.com/dnquery.xp?QRY=<%term%>">Deja News</a> -
<a target="_blank" href="http://www.lycos.com/cgi-bin/pursuit?query=<%term%>&maxhits=20">Lycos</a> - 
<a target="_blank" href="http://search.yahoo.com/bin/search?p=<%term%>">Yahoo</a>
</small></p>
	
		
<p><small class="update">Pages Updated On: <%date%> - <%time%> </small></p>
</body>
</html>
