<html>
<head>
<title>Mail</title>
<style>
<!--
A { color: #000000M; text-decoration: underline; }
A:link { color: #000000; text-decoration: underline; }
A:visited { color: #000000; text-decoration: underline; }
A:hover { color: #000000; text-decoration: none;  }
-->
</style>
</head>
<body>
<center>
<img src="templates/standard/b1gmail.gif" border="0">
<br><br>
<table border="0" align="center" width="40%" cellpadding="0" cellspacing="0">
<tr><td bgcolor="#002266" align="left" background="templates/standard/table.gif">
<font color="#FFFFFF" face="Tahoma, Verdena" size="2"><B>&nbsp;Sign Up</B></FONT>
</td></tr><tr><td align="center" valign="middle" bgcolor="#EEEEEE">
<form name="signupform" action="createuser.php" method="post">
<BR>
<table border=0>
<tr>
<td align=right><font face="tahoma" size="2">*User:</font></td><td align=left><input type="text" name="user"  size=10 ><font face="tahoma" size="2">@<select name="sdomain">
%DOMAINOPTIONS%
</select></font></td>
</tr><tr>
<td align=right><font face="tahoma" size="2">*Password:</font></td><td align=left><input type="password" name="pass1"  size=10 ></td>
</tr>
<tr>
<td align=right><font face="tahoma" size="2">*Retype:</font></td><td align=left><input type="password" name="pass2"  size=10 ></td>
</tr>
<tr>
<td align=right><font face="tahoma" size="2">*Name:</font></td><td align=left><input type="text" name="name"  size=20 ></td>
</tr>
<tr>
<td align=right><font face="tahoma" size="2">*Address:</font></td><td align=left><input type="text" name="strasse"  size=20 ></td>
</tr>
<tr>
<td align=right><font face="tahoma" size="2">*Post Code:</font></td><td align=left><input type="text" name="plz"  size=6 > <input type="text" name="ort"  size=9 ></td>
</tr>
<tr>
<td align=right><font face="tahoma" size="2">*Telephone:</font></td><td align=left><input type="text" name="telefon"  size=20 ></td>
</tr>
<tr>
<td align=right><font face="tahoma" size="2">FAX:</font></td><td align=left><input type="text" name="fax"  size=20 ></td>
</tr>
</table>
<input type="submit" name="Anmelden" value="Sign Up!"> <input type="reset" value="Reset">
</form>
</td></tr></table>
<br>
<font face="tahoma" size="1">
<center>
%COPYRIGHT%
</body>
</html>