<!--@ BEGIN faq -->
<br>
<span class=head>{FAQ}</span><br>
<!--@ BEGIN faq_cycle -->
<br><center><font size="1" color="maroon" face="Verdana">[ID# {FID}]</font><Table Border="1" CellSpacing="0" CellPadding="2" bgcolor="#F0E8A0" bordercolor=black><Tr class=dat>
<Td Width="100" align="center">{W_QUESTION}</Td><Td Width="500">{QUESTION}</Td></Tr><Tr class=mes><Td Width="100" align="center">{W_ANSWER}</Td><Td Width="500">{ANSWER}</Td></Tr></Table></center><br>
<!--@ END faq_cycle -->   
<br><br><br><br><Table Border=1 CellSpacing=0 CellPadding=4 bordercolor=black width=500><Tr><Td Width=500 align=center class=head bgcolor=#F0E8A0><br><br>
{W_IF_DONT}<br><br><a href={C_URL}/email.php?l={LANGUAGE} class=menu>{W_SEND_Q}</a>
<br><br></Td></Tr></table><br><br><br><br>   
<!--@ END faq -->