<!--@ BEGIN 1part -->
<center>
<Table Border="1" CellSpacing="0" CellPadding="4" bordercolor=black>
    <Tr>
		<Td Width="150" align=center class=head bgcolor=#E8D870>{W_TOP_WOMAN}</Td>
		<Td Width="408" align=center class=head bgcolor=#E8D870>{W_WELCOME}</Td>
		<Td Width="150" align=center class=head bgcolor=#E8D870>{W_TOP_MAN}</Td>
	</Tr>
    <Tr><Td Width="150" bgcolor=#F0E8A0 valign=top align=center class=mes>
    <!--@ BEGIN 1Cycle -->
    
    {TOPWOMANS}
    
    <!--@ END 1Cycle -->
    </Td>
    <Td Width="408" align=left class=mes bgcolor=#F0E8A0 valign=top>
    {W_WELCOME_MES}
    <br>
<!--@ END 1part -->
<!--@ BEGIN statistic -->
<br><center><span class=head>{W_SOME_STAT}</span></center><Table Border="1" CellSpacing="0" CellPadding="4" bordercolor=black>
<tr class=desc>
<td colspan=3 align=center>
{W_STATISTIC} {W_GENDER}
</td></tr>
<tr class=desc align=center>
<td width=130>
{W_DESCRIPTION}
</td>
<td width=160>
{W_GRAPHIC}
</td>
<td width=30>
{W_QUANTITY}
</td></tr>
<tr class=desc>
<td width=130>
{W_TOTAL_MEMBERS}
</td>
<td width=160><img src="images/1.jpg" height=12 width=160></td>
<td width=30 align=center>
{TOTAL}
</td></tr>
<tr class=desc>
<td width=130>
{MANSGRAPH}
</td>
<td width=160><img src="images/2.jpg" height=12 width="{PROCM}"></td>
<td width=30 align=center>
{MANSNUM}
</td></tr>
<tr class=desc>
<td width=130>
{WOMANSGRAPH}
</td>
<td width=160><img src="images/2.jpg" height=12 width="{PROCF}"></td>
<td width=30 align=center>
{WOMANSNUM}
</td></tr>
</table>
<br>
<!--@ END statistic -->
<!--@ BEGIN lastusers -->
<br><center><span class=head>{W_LAST} {C_LAST_REG} {W_REGISTERED}</span></center><Table Border="1" CellSpacing="0" CellPadding="4" bordercolor=black>
<tr class=mes align=center>
<td width=8>
N</td>
<td width=70>
{W_USERNAME}
</td>
<td width=140>
{W_CATEGORY}
</td>
<td width=100>
{W_CITY}
</td>
<td width=30>
{W_PHOTO}
</td></tr>
<!--@ BEGIN Cycle -->
<tr class=mes align="center">
<td width=8>
{SAYI}</td>
<td width=70>
{ULINK}
</td>
<td width=140>
{CAT}
</td>
<td width=100>
{CITY}
</td>
<td width=30>
{PICAV}
</td></tr>
<!--@ END Cycle -->
</table>
<!--@ END lastusers -->
<!--@ BEGIN 2part -->
</Td><Td Width="150" align=left class=mes bgcolor=#F0E8A0 valign=top>
<!--@ BEGIN 3Cycle -->
    
    {TOPMANS}
    
<!--@ END 3Cycle -->
</Td>
	</Tr>
</Table>
<!--@ END 2part -->