<!--@ BEGIN members_upload_pic -->
<form action={URL} method=post enctype='multipart/form-data'><Table Border="1" CellSpacing="0" CellPadding="4" bordercolor=black>
    <Tr>
		<Td Width="500" align=center class=head bgcolor="#E8D870" colspan=2>{W_UPL_PHOTO}</Td>
	</Tr>
    <Tr>
		<Td Width=\"500\" align=center class=dat colspan=2>{W_YOUR_PHOTO}</Td>
	</Tr><Tr>
		<Td Width=\"500\" align=center class=head colspan=2>{PHOTO}</Td>
	</Tr>
    <Tr bgcolor="#F0E8A0">
		<Td Width="200" align=center class=mes>{W_PHOTO}</td><Td Width="300" align=center class=mes><input class=input type=file name=file1></Td>
	</Tr><Tr>
		<Td Width="500" align=right class=head colspan=2><input class=input type=submit value='{W_UPL_PHOTO}'></Td>
	</Tr>
</table>
</form>
<!--@ END members_upload_pic -->