<!--@ BEGIN members_menu -->
<form action="index.php?l={LANGUAGE}&username={USERNAME}&password={PASSWORD}&page=view" method=post enctype="post">
<center><span class=head>{W_VIEW_MES}</span><Table Border="1" CellSpacing="0" CellPadding="4" bordercolor=black>
<tr><td align=center colspan=2><input class=input type=submit value="{W_VIEW_MES}"></td></tr></table></form>
</td>
<td><form action="index.php?l={LANGUAGE}&username={USERNAME}&password={PASSWORD}&page=edit" method=post enctype="post">
<center><span class=head>{W_EDIT_INFO}</span><Table Border="1" CellSpacing="0" CellPadding="4" bordercolor=black>
<tr><td align=center colspan=2><input class=input type=submit value="{W_EDIT_INFO}"></td></tr></table></form>
</td>
<!--@ END members_menu -->
<!--@ BEGIN if_del -->
<td><form action="index.php?l={LANGUAGE}&username={USERNAME}&password={PASSWORD}&page=remove" method=post enctype="post">
<center><span class=head>{W_REMOVE_PROF}</span><Table Border="1" CellSpacing="0" CellPadding="4" bordercolor=black>
<tr><td align=center colspan=2><input class=input type=submit value="{W_REMOVE_PROF}"></td></tr></table></form>
<!--@ END if_del -->
