<!--@ BEGIN send -->
<form action="send.php?l={LANGUAGE}" method="post">
<input class=input type=hidden name="id" value="{ID}">
<input class=input type=hidden name="page" value="send">
<input class=input type=hidden name="touser" value="{TOUSER}">
<center><span class=head>{W_SENT_MES_TO} {TOUSER}</span>
<Table Border="1" CellSpacing="0" CellPadding="4" bordercolor=black bgcolor=#F0E8A0>
<tr><td>{W_SUBJECT}</td><td><input class=input type=text name=subject></td></tr>
<tr><td>{W_YOUR_MES}</td><td><textarea class=textarea name=message cols=40 rows=15></textarea></td></tr>
<tr><td>{W_YOUR_LOGIN}</td><td><input class=input type=text name=login></td></tr>
<tr><td>{W_YOUR_PASS}</td><td><input class=input type=password name=password></td></tr>
<tr><td colspan=2 align=center><a href=add.php?l={LANGUAGE}  target=_blank>{W_MUST_REG}</a></td></tr>
<tr><td colspan=2 align=left><input type="checkbox" name="confirm" checked> {W_NOTIFY_} <b>{TOUSER}</b> {W_READ_MES} </td></tr>
<tr><td colspan=2 align=right><input class=input type=submit value="{W_SEND_MES}"></td></tr>
</table>
</form>
<!--@ END send -->