<!--@ BEGIN stat -->
<br><Table Border="1" CellSpacing="0" CellPadding="4" bordercolor=black>
<tr class=desc>
<td colspan=3 align=center>{W_STATISTIC} {TYPE}</td></tr>
<tr class=desc align=center>
<td width=130>{W_DESCRIPTION}</td>
<td width={C_WIDTH}>{W_GRAPHIC}</td>
<td width=30>{W_QUANTITY}</td></tr>
<!--@ BEGIN stat_cycle --><tr class=desc>
<td width=130>{DESCR}</td>
<td width={C_WIDTH}><img src={URL}/images/{G}.jpg height=12 width="{WIDTH}"></td>
<td width=30 align=center>{NUM}</td></tr><!--@ END stat_cycle -->
</table>
<!--@ END stat -->