<!--@ BEGIN view -->
<br><table align=center><tr>
<td valign=top>
{PICAV}
</td>
<Table Border="1" CellSpacing="0" CellPadding="4" bordercolor=black bgcolor="#F0E8A0" width=350>
<tr class=head><td colspan=2 align=center>{W_PROFILE} - {USER}</td></tr>
<tr class=mes><td>{W_USERNAME}</td><td>{USER}</td></tr>
<tr class=mes><td>{W_COUNTRY}</td><td>{COUNTRY}</td></tr>
<tr class=mes><td>{W_CITY}</td><td>{CITY}</td></tr>
<tr class=mes><td>{W_CATEGORY}</td><td>{GENDER} {PURPOSES}</td></tr>
<tr class=mes><td>{W_HEIGHT}</td><td>{HEIGHT}</td></tr>
<tr class=mes><td>{W_WEIGHT}</td><td>{WEIGHT}</td></tr>
<tr class=mes><td>{W_AGE}</td><td>{AGE}</td></tr>
<tr class=mes><td>{W_HOBBY}</td><td>{HOBBY}</td></tr>
<tr class=mes><td>{W_DESCR}</td><td>{DESCR}</td></tr>
<tr class=mes><td>{W_MAIL}</td><td><a href="send.php?l={LANGUAGE}&id={ID}&user={USER}">{W_SENT_MES_TO} {USER}</td></tr>
<tr class=mes><td>{W_POPULARITY}</td><td>{HITS}</td></tr>
</table>
</td></tr></table><br>
<!--@ END view -->