



.catTbl {



	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px;  BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #cccccc



}







.catTbl2 {



	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px;  BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #000000



}











.cat {



	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; LINE-HEIGHT: 12pt; PADDING-TOP: 3px;  TEXT-ALIGN: center;LINE-COLOR: #000000



}











.cat2 {



	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 12pt; PADDING-TOP: 0px;TEXT-ALIGN: center;LINE-COLOR: #cccccc



}







.inputtype {



border: solid 1px #000000;







}











A.menulink56 {
display: block;
width: 140px;
text-align: left;
text-decoration: none;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color: #000000;
BORDER: none;
border: solid 1px #FFFFFF;
}



a.menulink:link { color: white; text-decoration: none; font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif;  }
a.menulink:active { color: white; text-decoration: none; font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif;}
a.menulink:visited { color: white; text-decoration: none; font-size:12px;  font-family: Verdana, Arial, Helvetica, sans-serif;}

a.menulink:hover {
 	
background-color:#333333;

}




a.menunews:link { color: white; text-decoration: none; font-size:11px; font-family: Verdana, Arial, Helvetica, sans-serif;  }
a.menunews:visited { color: white; text-decoration: none; font-size:11px;  font-family: Verdana, Arial, Helvetica, sans-serif;}

a.menunews:hover {
 text-decoration: underline; color: white;
}




a.homelink:link { color: white; text-decoration: none; font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; }
a.homelink:active { color: white; text-decoration: none; font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif;FONT-WEIGHT: bold; }
a.homelink:visited { color: white; text-decoration: none; font-size:12px;  font-family: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold;}

a.homelink {
background-color:#666666;
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;
FONT-WEIGHT: bold;
COLOR: #ffffff;
}


a.gallink:link { color: blue; text-decoration: none; font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; }
a.gallink:visited { color: blue; text-decoration: none; font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif;FONT-WEIGHT: bold; }

a.gallink:hover {
text-decoration: underline;
}



a.nlink:link { color: yellow; text-decoration: none; font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; }
a.nlink:visited { color: yellow; text-decoration: none; font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif;FONT-WEIGHT: bold; }



.time {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;
COLOR: #ffffff;
}




.catmenu {
background-color:#666666;
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;
FONT-WEIGHT: bold;
COLOR: #ffffff;
}



.floatimgleft {
float:left;
margin-top:10px;
margin-right:10px;
margin-bottom:3px;
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;
FONT-WEIGHT: bold;
} 



.leftform {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;
padding: 2 2 2 5;
}

.cmsdem {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;
}


.mytitle {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;
padding: 2 2 2 5;
color: white;

}

.myheading {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;
padding: 2 2 2 5;
color: white;

}


.mytitle2 {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;
padding: 2 2 2 5;
color: black;

}

.myheading2 {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;
padding: 2 2 2 5;
color: black;

}


a.nlink2:link { color: blue; text-decoration: none; font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; }
a.nlink2:visited { color: blue; text-decoration: none; font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif;FONT-WEIGHT: bold; }




.displaynews {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;
}






.leftform2 {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;
padding: 2 2 2 5;
border-right: 1px dotted #cccccc;
border-bottom: 1px dotted #cccccc;
}











.fshow1 {



font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;



border-left: 1px dotted #000000;



border-right: 1px dotted #000000;



border-top: 1px dotted #000000;



padding: 2 2 2 2;



}







.fshow2 {



border-left: 1px dotted #000000;



padding: 2 2 2 2;



}







.fshow3 {



font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;



border-right: 1px dotted #000000;







padding: 2 2 2 2;



}







.fshow4 {



border-left: 1px dotted #000000;



border-right: 1px dotted #000000;



border-bottom: 1px dotted #000000;



padding: 2 2 2 2;



}







.djbox {
border-top: 1px solid #CCCCCC;
border-left: 1px solid #CCCCCC;
border-right: 1px solid #CCCCCC;
border-bottom: 1px solid #CCCCCC;
padding: 18 2 2 2;
}


.newsbox1 {
border-top: 1px solid #CCCCCC;
border-left: 1px solid #CCCCCC;
border-right: 1px solid #CCCCCC;
border-bottom: 1px solid #CCCCCC;
padding: 18 2 2 8;
}


.newsbox2 {
border-top: 1px solid #000000;
border-left: 1px solid #000000;
border-right: 1px solid #000000;
border-bottom: 1px solid #000000;
padding: 18 2 2 8;
}






.newsdate {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;
}











.title {



font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: 999999; text-decoration: underline;



padding: 2 2 2 19;



 



}







.heading {
padding: 2 2 2 19;
}

.fad {
padding: 7 0 0 0;
}







.cblock {







padding: 2 2 2 19;







}



















.frntbox {



border-right: 1px dotted #cccccc; 



border-left: 1px dotted #cccccc;



}











.frntbox2 {



border-bottom: 1px dotted #999999; 







}







.frntbox28 {
border-right: 1px dotted #999999; 
}

.frntbox35 {
border-bottom: 1px dotted #ffffff; 
}






.frntbox3 {



border-top: 1px dotted #999999; 







}







.frntbox4 {

border-right: 1px solid #ffffff; 
padding: 2 2 2 5;
}







.galbox {
border-left: 1px dotted #999999;
border-right: 1px dotted #999999; 
border-bottom: 1px dotted #999999; 
}







.sbox {
border-bottom: 1px dotted #ffffff; 
padding: 2 2 2 5;

}







.sbox2 {
border-left: 1px dotted #F0E7D5;
border-right: 1px dotted #F0E7D5; 

border-top: 1px solid #F0E7D5; 
}




.sbox3 {

border-top: 1px dotted #999999; 
border-left: 1px dotted #999999; 

}







.sbox4 {
border-left: 1px solid #999999;
border-right: 1px solid #999999; 
border-top: 1px solid #999999; 
}


.sbox5 {
border-left: 1px solid #ffffff;
border-right: 1px solid #ffffff; 
border-top: 1px solid #ffffff; 
border-bottom: 1px solid #ffffff; 
}






.frntbox5 {
border-top: 1px dotted #999999;
padding: 2 2 2 5; 
}







.frntbox6 {



border-right: 1px dotted #999999; 

padding: 2 2 2 5;

}











.frntbox7 {



border-top: 1px dotted #999999; 



border-bottom: 1px dotted #999999; 







}







.frntbox8 {



padding: 2 2 2 5;







}







.frntbox9 {



padding: 2 2 2 19;



border-right: 1px dotted #cccccc; 







}







.frntbox11 {
border-right: 1px dotted #cccccc;
border-left: 1px dotted #999999;  
}







.frntbox12 {
border-left: 1px solid #ffffff;
padding: 10 5 18 5;
}


.frntbox455 {
padding: 10 5 18 5;
}


.frntbox15 {
border-right: 1px solid #ffffff;
border-left: 1px solid #ffffff;
border-bottom: 1px solid #ffffff;  
}

.frntbox16 {
border-right: 1px solid #ffffff;
border-left: 1px solid #ffffff;
border-bottom: 1px solid #ffffff;
}



.phead {
padding: 2 2 2 5;
}


.phead2 {
padding: 0 0 0 0;
}

.phead3 {
padding: 0 2 0 5;
}


.classdt {
border-bottom: 1px dotted #ffffff;
}

.classdt2 {
border-bottom: 1px dotted #ffffff;
}














.frntbox13{
border-left: 1px solid #999999; 
border-right: 1px solid #999999; 
padding: 2 2 2 5;
}

.frntbox133{
padding: 2 2 2 5;
}










.frntbox10 {



border-right: 1px dotted #999999; 



padding: 2 2 2 5;



}







.menu {
border-bottom: 1px dotted #ffffff; 
}







