a.timestamp{color:#e99b0c; background-color:maroon; font-weight:400; padding-left:5px; padding-right:5px;}
.x_terms{color:red;}
.content_bottom{
	font: 10px
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
}
a.content{color:maroon;

font: 100 ;
}

a.int_link{color:maroon;
font: 100 ;
}

a.ext_link
{
color:#CC9900;
font: 100 ;
}
a.id{
	color:maroon;
	text-transform : capitalize;
}
a.dir_nav {
	color: #FFCC66;
	font : normal normal 15px/120% sans-serif;
	text-decoration : none;
	text-transform : Capitalize;
	background-color : #000000;
	padding : 1px 5px 1px 5px;
}
a.dir_nav:hover{
	color:#FFCC66;
	font-size : 12px;
	font : normal normal 15px/120% sans-serif;
	text-decoration:none;
	background-color:Maroon
}
 
a.dir_nav:active	{ color: #ffffff;
	font : normal normal 15px/120% sans-serif;
	text-decoration : none;
	text-transform : Capitalize;
	background-color : #000000;
	padding : 1px 5px 1px 5px}

.dir_nav{ 
	color: #ffcc66;
	background-color:#000000;
 }
a.dir_nav_com {
	color: #FFCC66;
	font : normal normal 15px/120% sans-serif;
	text-decoration : none;
	text-transform : Capitalize;
	background-color : #6f6f6f;
	padding : 1px 5px 1px 5px;
}
a.dir_nav_com:hover{
	color:#FFCC66;
	font-size : 12px;
	font : normal normal 15px/120% sans-serif;
	text-decoration:none;
	background-color:Maroon
}
 
a.dir_nav_com:active	{ color: #ffffff;
	font : normal normal 15px/120% sans-serif;
	text-decoration : none;
	text-transform : Capitalize;
	background-color : #000000;
	padding : 1px 5px 1px 5px}

.dir_nav_com{ 
	color: #ffcc66;
	background-color:#6f6f6f;
 }
a.toc{
	color: #000000;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font : 100 12px;

	}
a.toc:hover{
	color:#FFCC66;

	}
a.toc:active{
	color: transparent;
}
a.admin_toc{
	color: #CE0000;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font: 100 9px;
	vertical-align : baseline;
	text-transform : capitalize;
}	
.date{width:100%; 
font-weight:700; 
color:Maroon;
font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
background-color:#bab770;
}

.content{
	padding-left:10px;
	text-indent: 18px;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h2{
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	color : Maroon;
	font-size:16px;
	letter-spacing : 1pt;
	margin-left: 5%;

}


.posted{
	width:60%;
	padding:0,10,0,10;
	font-size:10px;
	font-weight:500;
	color:Maroon;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	background-color:#bab770;
}

p.disclaim{
	font: 10px
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
}
sub{ 
	font-size: 12px;
	letter-spacing: 1px;
	text-transform:capitialize; 
}
table.pg_head{
	background-color: #C3C3C3;
	border : 2px groove Maroon;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font : 100 12px;
	padding-left:10;
} 
td.toc{
	padding-left:10;
		background-repeat : NO-repeat;
		background-position: 0 0  ;
	width:20%;
}

.nav_header{
	width:80%;
	padding:0,10,0,10;
	font-size:10px;
	font-weight:500;
	color:Maroon;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	background-color:#bab770;
}
input.selectbox {

	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: maroon ;
	border-style: solid;
	border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;
	}
	.button {
	background-color:#c59421;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: maroon;
	border-style: solid;
	border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;
	}
.read_com{
font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
padding-left:10px;
color:maroon;
}
