/* General Body Settings and Scroll Bar Settings (EDITED)*/
body { background-color: #B6B6B6; font-family: verdana; margin-left: 0; margin-top: 25; color: #666666; font-size: 10px; }

/*General & News & Sponsor Link Properties (EDITED)*/
A:link{ color: #666666; text-decoration: none; font-size: 10px; font-family: verdana; }
A:active{ color: #666666; text-decoration: none; font-size: 10px; font-family: verdana; }
A:visited{ color: #666666; text-decoration: none; font-size: 10px; font-family: verdana; }
A:hover{ color: #999999; text-decoration: underline; font-size: 10px; font-family: verdana; }

/* Form & Form Elements Properties (EDITED)*/
form { font: Verdana; font-size: 11px; color:gray; }
input, select, textarea	{ font-family: verdana; font-size: 12px; color: gray; background-color: #DDDDDD;  border: 1px solid #999999; }
button { border: 3px solid #CC0000; }


/*damn login(form element wouldnt work (EDITED)*/
table.login { font: Verdana; font-size: 11px; color:gray; }

.copyright {color: white; font-size: 10px; }

/* Search Properties */
table.searchtop { color: blue; font-size: 11px; font-family: verdana; }

/* Advertisement Properties */
td.advertisement { border: 1px solid #ffffff; font-family: verdana;}
td.advertisementlink {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
 }

/* Tounnament Bracket CSS */
.topdivider { border-bottom: .5pt solid red; }
.topdividerright { border-bottom: .5pt solid red;  border-right:  .5pt solid red;  }
.botdivider {  border-bottom: .5pt solid red; border-right:  .5pt solid red; }
.spacer {  border-right:  .5pt solid red; }
.spacerall { }

td.round { background-color: white; text-align: center; color: #gray; font-family: verdana;}
a.round { color: #00013e; font-family: verdana; }
a.round:link { color: #00013e; font-family: verdana;}
a.round:active { color: #00013e; font-family: verdana;}
a.round:visited { color: #00013e; font-family: verdana;}
a.round:hover { color: #00013e; font-family: verdana;}

/* Control panel Classes */
table.panel { }

td.panel {
           color: gray;
           font-size: 10px;
           font-family: verdana;
           border: 1px solid gray;
           font-weight: bold;
           background-color: #CCCCCC;
          }

/* Drop Down Menu Properties */

.MOn {
	color: white;
	background-image:url(../tribalgames/images/footerstretch.jpg);
	font-size : 10px;
	font-weight:600;
	text-align: center;
	text-decoration : none;
    padding: 6.5px 4px;
}

.MOver {
	color: white;
	background-image:url(../tribalgames/images/footerstretch.jpg);
	font-size : 10px;
	font-weight:600;
	text-align: center;
	text-decoration : none;
    padding: 6.5px 4px;
}

.SOn {
	color: #666666;
	border-width:1px; border-style:solid; border-color: #666666;
	font-size : 10px;
	text-decoration : none;
    padding: 5px 4px;
}

.SOver {
	color: #666666;
	border-width:1px; border-style:solid; border-color: #666666;
	font-size : 10px;
	text-decoration : none;
    padding: 5px 4px;
}

/* Table Cells for Color Variation (EDITED)*/
tr.rowoff { background-color: #CCCCCC; }
tr.row { background-color: #E8E8E8; }

/* News Table Properties (EDITED)*/
table.news { color: #666666; font-size: 10px; font-family: verdana;}
td.headline {  color: gray; font-size: 10px; font-family: verdana; font-weight: bold; border: 1px solid #999999;}
td.liner {  color: gray; font-size: 10px; font-family: verdana; border: 1px solid #999999; background-color: #DDDDDD}

/* Left / Right Side Table Properties */
table.left { background: white;  color: #1f2044; font-size: 11px; font-family: verdana; }
td.subleft {  border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff; border-left: 1px solid #ffffff; background-color: #000000;}
td.subleftmo { border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff; border-left: 1px solid #ffffff;  background-color: #454998}
td.tabletext {color: #ffffff; font-size: 11px; font-family: verdana; }

/* Summary Page Table Properties (EDITED)*/
td.subdivider	{color: #gray; font-size: 10px; font-family: verdana; border: 1px solid #DDDDDD; background-color: #CCCCCC; font-weight: bold;}
td.text { color: #gray; font-size: 10px; font-family: verdana; }
td.subserver { color: #gray; font-size: 10px; font-family: verdana; font-weight: bold; border: 1px solid #DDDDDD; }
table.borderit { border: 1px solid #DDDDDD; background-color: #CCCCCC;}
table.right { border: 1px solid #DDDDDD;  color: #gray; font-size: 11px; font-family: verdana; }

/* QSTAT Properties (EDITED)*/
td.qstat { color: #gray; font-size: 10px; font-family: verdana; border: 1px solid #CCCCCC; background-color: #DDDDDD; }

/* Server Information Viewed by the Player Style (EDITED)*/
td.serverinfohead {color: #gray; font-size: 10px; font-family: verdana; }
table.serveroutter { border: 1px solid #666666; background-color: #CCCCCC;}

/* Select/Not Selected for Teams and Server Listing (EDITED)*/

A.selected { color: ##666666; font-family: verdana; font-size:10px;}
A.selected:link { color: ##666666; font-family: verdana; font-size:10px;}
A.selected:active { color: ##666666; font-family: verdana; font-size:10px;}
A.selected:visited { color: ##666666; font-family: verdana; font-size:10px;}
A.selected:hover { color: #999999; border: 1px solid gray; font-family: verdana; font-size:10px;}

A.unselected { color:  #0099CC; font-family: verdana; font-size:10px;}
A.unselected:link { color: #0099CC; font-family: verdana; font-size:10px;}
A.unselected:active { color: #0099CC; font-family: verdana; font-size:10px;}
A.unselected:visited { color: #0099CC; font-family: verdana; font-size:10px;}
A.unselected:hover { color: #0099CC; border: 1px solid #006699; font-family: verdana; font-size:10px;}

/* Admin Panel - Servers - Admin Counts (EDITED)*/
.adminsgood { color: #009933; }
.adminsbad { color: #CC0000; }

/* Admin Console - Match Status (EDITED)*/
.decided { color: #009933; font-family: verdana; font-size:12px; font-weight:bold;}
.pending { color: #CC0000; font-family: verdana; font-size:12px; font-weight:bold;}

/* Standerd Headers */
th.header {color: gray; background: #CCCCCC;  font-weight: bold; font-family: verdana;font-size: 10px;}
td.header { color: gray; font-weight: bold; font-size: 16px; text-align: center; font-family: verdana;}
td.subheader { color: gray; background: #CCCCCC;  font-weight: bold; font-family: verdana;font-size: 10px;}
td.subsubheader { background: #303030; color: #ffffff; font-weight: bold; font-family: verdana;font-size: 10px;}

A.header { font-size:20px; }
A.header:link { font-size:20px; }
A.header:active { font-size:20px; }
A.header:visited { font-size:20px; }
A.header:hover { font-size:20px; }

/* Player Signup */
table.signup { font-size: 10px; font-family: verdana;}
td.info { color: #666666; font-size: 10px; font-family: verdana;}
.requiredtxt { color: #CC0000; font-size: 10px; font-family: verdana;}
.required { color: #CC0000; font-weight: bold; font-family: verdana;}
.error { color: #CC0000; font-family: verdana; font-size: 10px; font-weight: bold;}
.done { color: #009933; font-family: verdana; font-size: 10px; font-weight: bold;}

/* Ranks (EDITED)*/
th.rankheader {color: black; background: white; font-family: verdana;}

.rank_founder {color: #CC0000; }
.rank_capt {color: #0099CC; }
.rank_user {color: #009966; }
.rank_sub {color: #993366; }

/* Tables with Captions */
table.tcaption { color: white; font-size: 11px; font-family: verdana; }
A.section {color: black; font-family: verdana;}
A.section:link { color: black; font-family: verdana; }
A.section:active { color: black; font-family: verdana; }
A.section:visited { color: black;  font-family: verdana;}
A.section:hover { color: black; font-family: verdana;}

/* Admin User Auth Page */
A.uauthdel {color: red; font-family: verdana;}
A.uauthdel:link { color: red; font-family: verdana; }
A.uauthdel:active { color: red; font-family: verdana; }
A.uauthdel:visited { color: red;  font-family: verdana;}
A.uauthdel:hover { color: red; font-family: verdana;}

A.uauthact {color: black; font-family: verdana;}
A.uauthact:link { color: black; font-family: verdana; }
A.uauthact:active { color: black; font-family: verdana; }
A.uauthact:visited { color: black;  font-family: verdana;}
A.uauthact:hover { color: black; font-family: verdana;}

A.uauthmail {color: #ffffff; font-family: verdana;}
A.uauthmail:link { color: #ffffff; font-family: verdana; }
A.uauthmail:active { color: #ffffff; font-family: verdana; }
A.uauthmail:visited { color: #ffffff;  font-family: verdana;}
A.uauthmail:hover { color: #ffffff; font-family: verdana;}

/* Admin Bar */
tr.adminbar { }

td.adminbar { background-color: #CCCCCC; }
A.adminbar {color: #666666; font-family: verdana;}
A.adminbar:link { color: #666666; font-family: verdana; }
A.adminbar:active { color: #666666; font-family: verdana; }
A.adminbar:visited { color: #666666;  font-family: verdana;}
A.adminbar:hover { color: gray; font-family: verdana;}

td.adminsubbar { background-color: white; }
A.adminsubbar {color: black; font-family: verdana;}
A.adminsubbar:link { color: black; font-family: verdana; }
A.adminsubbar:active { color: black; font-family: verdana; }
A.adminsubbar:visited { color: black;  font-family: verdana;}
A.adminsubbar:hover { color: black; font-family: verdana;}

/* Admin Bar - Tourny bars */
td.adminsubbartournytop { background-color: #CCCCCC;  color: #CCCCCC; }
A.adminsubbartournytop {color: #666666; font-family: verdana;}
A.adminsubbartournytop:link { color: #666666; font-family: verdana; }
A.adminsubbartournytop:active { color: #666666; font-family: verdana; }
A.adminsubbartournytop:visited { color: #666666;  font-family: verdana;}
A.adminsubbartournytop:hover { color: #999999; font-family: verdana;}

td.adminsubbartournymiddle { background-color: yellow; }
A.adminsubbartournymiddle {color: black; font-family: verdana;}
A.adminsubbartournymiddle:link { color: black; font-family: verdana; }
A.adminsubbartournymiddle:active { color: black; font-family: verdana; }
A.adminsubbartournymiddle:visited { color: black;  font-family: verdana;}
A.adminsubbartournymiddle:hover { color: black; font-family: verdana;}

td.adminsubbartournybot { background-color: white; }
A.adminsubbartournybot {color: black; font-family: verdana;}
A.adminsubbartournybot:link { color: black; font-family: verdana; }
A.adminsubbartournybot:active { color: black; font-family: verdana; }
A.adminsubbartournybot:visited { color: black;  font-family: verdana;}
A.adminsubbartournybot:hover { color: black; font-family: verdana;}

/* Team Profile */
table.teamprofile { border: 2px ridge #00BAF0; }
td.teamname { background-color: #000080; color: #0000FF; border: 1px ridge #00B8F4; }
td.teamtype { background-color: #000080; color: #97EDFF; }
td.teamvalue { background-color: #000080; color: #0000FF; }
td.teammembers { background-color: #000080; color: #1806F9; }
td.teamlog { background-color: #000080; color: #1806F9; }

A.teamtourny {color: white; font-family: verdana;}
A.teamtourny:link { color: white; font-family: verdana; }
A.teamtourny:active { color: white; font-family: verdana; }
A.teamtourny:visited { color: white;  font-family: verdana;}
A.teamtourny:hover { color: white; font-family: verdana;}

/* Player Profile */
table.playerprofile { border: 1px ridge #00BAF0; }
td.playername { color: #FFFFFF; border: 1px ridge #00B8F4; }
td.playertype { background-color: #DDDDDD; color: #gray; }
td.playervalue { background-color: #000080; color: #0000FF; }

/* Lost Pass */
table.lostpass {}

/* Borders */
.borderit { font-size: 10px; font-family: verdana; border-color: #a4a4a4 a4a4a4 a4a4a4; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.borderheader { font-size: 10px; font-family: verdana; border-color: #a4a4a4 a4a4a4 a4a4a4; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.bottomhalf { font-size: 11px; font-family: verdana; border-color: black a4a4a4 a4a4a4; border-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

/* Coolmenus */
/* CoolMenus 4 - default styles - do not edit */
.clCMAbs{position:absolute; visibility:hidden; left:0; top:0}

/* CoolMenus 4 - default styles - end */
/*Style for the background-bar*/
.clBar{position:absolute; width:10; height:10; background-color:000000; layer-background-color:000000; visibility:hidden; border: 1px solid ffffff;}

/*Styles for level 0*/
.clLevel0,.clLevel0over{position:absolute; padding:2px; font-family:arial,helvetica, sans-serif; font-size:12px; font-weight:bold;}
.clLevel0{background-color:000000; layer-background-color:000000; color:white;}
.clLevel0over{background-color:#000000; layer-background-color:#000000; color:60819e; cursor:pointer; cursor:hand; }
.clLevel0border{position:absolute; visibility:hidden; background-color:#ffffff; layer-background-color:#ffffff}

/*Styles for level 1*/
.clLevel1, .clLevel1over{position:absolute; padding:2px; font-family:arial,helvetica, sans-serif; font-size:11px;}
.clLevel1{background-color:000000; layer-background-color:000000; color:white;}
.clLevel1over{background-color:#000000; layer-background-color:#000000; color:60819e; cursor:pointer; cursor:hand; }
.clLevel1border{position:absolute; visibility:hidden; background-color:#ffffff; layer-background-color:#ffffff}

/*Styles for level 2*/
.clLevel2, .clLevel2over{position:absolute; padding:2px; font-family:arial,helvetica, sans-serif; font-size:10px; font-weight:bold}
.clLevel2{background-color:000000; layer-background-color:000000; color:white;}
.clLevel2over{background-color:#000000; layer-background-color:#000000; color:60819e; cursor:pointer; cursor:hand; }
.clLevel2border{position:absolute; visibility:hidden; background-color:#ffffff; layer-background-color:#ffffff}