body, p, td, form {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000
}

input {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000
}

select {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000
}

textarea {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000
}

A {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000
    text-decoration: none
}

.darkbluecell {
    background: #000066;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    white-space: nowrap
}

.midbluecell {
    background: #0066CC;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    white-space: nowrap
}

.lightbluecell {
    background: #99CCFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    white-space: nowrap
}

.redcell {
    background: #FF0000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    white-space: nowrap
}

.datecell {
    background: #000066;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    white-space: nowrap
}

.headerlink {
    background: #0066CC;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap
}

a.headerlink:active {
    background: #0066CC;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap
}

a.headerlink:visited {
    background: #0066CC;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap
}

a.headerlink:hover {
    background: #0066CC;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #00FFFF;
    text-decoration: none;
    white-space: nowrap
}

.subheaderlink {
    background: #99CCFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    white-space: nowrap
}

a.subheaderlink:active {
    background: #99CCFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    white-space: nowrap
}

a.subheaderlink:visited {
    background: #99CCFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    white-space: nowrap
}

a.subheaderlink:hover {
    background: #99CCFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #FF0000;
    text-decoration: none;
    white-space: nowrap
}

.locatorcell {
    background: #99CCFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
    white-space: nowrap
}

.filterlistrightheading {
    background: #EEEEEE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    white-space: nowrap
}

.listtableheading {
    background: #EEEEEE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    white-space: nowrap
}

.listtablebackground {
    background: #AAAAAA;
}

.listtablecolumnheaders {
    background: #DDDDDD;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
    white-space: nowrap
}

.listtableoddrow {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    white-space: nowrap
}

.listtableevenrow {
    background: #EEEEEE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    white-space: nowrap
}

.listtableoddrowlink {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #0000FF;
    white-space: nowrap
}

.listtableoddrowlink:link {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #0000FF;
    white-space: nowrap
}

.listtableoddrowlink:active {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #0000FF;
    white-space: nowrap
}

.listtableoddrowlink:visited {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #0000FF;
    white-space: nowrap
}

.listtableoddrowlink:hover {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #FF0000;
    white-space: nowrap
}

.listtableevenrowlink {
    background: #EEEEEE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #0000FF;
    white-space: nowrap
}

.listtableevenrowlink:link {
    background: #EEEEEE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #0000FF;
    white-space: nowrap
}

.listtableevenrowlink:active {
    background: #EEEEEE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #0000FF;
    white-space: nowrap
}

.listtableevenrowlink:visited {
    background: #EEEEEE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #0000FF;
    white-space: nowrap
}

.listtableevenrowlink:hover {
    background: #EEEEEE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #FF0000;
    white-space: nowrap
}

.formtablebackground {
    background: #AAAAAA;
}

.formtableheading {
    background: #EEEEEE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    white-space: nowrap
}

.formtablesubheading {
    background: #EEEEEE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    white-space: nowrap
}

.formcell {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    white-space: nowrap
}

.formcellredtext {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FF0000;
    white-space: nowrap
}

.wrapcell {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000
}

.formbuttoncell {
    background: #EEEEEE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    white-space: nowrap
}

.standardlink {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #0000FF;
    text-decoration: underline;
    white-space: nowrap
}

a.standardlink:active {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #0000FF;
    text-decoration: underline;
    white-space: nowrap
}

a.standardlink:visited {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #0000FF;
    text-decoration: underline;
    white-space: nowrap
}

a.standardlink:hover {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #FF0000;
    text-decoration: underline;
    white-space: nowrap
}

.classTooltip {
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
    width:280;
    visibility:hidden;
    font:8pt MS Comic Sans,arial,sans-serif;
    background-color:#FFFFE6;
    padding:10px 10px;
    border:1px solid black;
}