body, p, form {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000
}

td {
    background: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000
}

.titleheading {
    background: #000066;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    white-space: nowrap
}

.titlelink {
    background: #EEEEEE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    white-space: nowrap
}

.link {
    color: #0000FF;
    text-decoration: none
}

a.link:active {
    color: #0000FF;
    text-decoration: none
}

a.link:visited {
    color: #0000FF;
    text-decoration: none
}

a.link:hover {
    color: #FF0000;
    text-decoration: none
}

.tabletitle {
    background: #EEEEEE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000
}
