<form action="{{admin_script}}?act=images&amp;what=finaleditimg&amp;s={{sess}}" method="post">

<span class="title">||edit_img||</span><span align="right"><a href="javascript:popHelp('edit_img', '{{sess}}');"><img border="0" style="cursor:help;" src="./site_images/help.gif" /></a></span><br /><br />

<table width="100%" cellpadding="15" cellspacing="2" class="config">
{{msg}}
<tr>
<td colspan="2" class="theader">
||curr_editing||: {{img_name}}
</td>
</tr>
<td colspan="2" class="ad_row">
<input type="hidden" name="id" value="{{img_id}}" />
||img_id||: {{img_id}} [ <a href="javascript:popImage('{{img_id}}', 'url', '{{sess}}');">||view_img||</a> ] [ <a href="javascript:popImage('{{img_id}}', 'thumb', '{{sess}}');">||view_thumb||</a> ]
</td>
</tr>
<tr>
<td width="50%" class="ad_row">
  ||img_name||:
</td>
<td width="50%" class="ad_row">
  <input size="50" type="text" name="name" value="{{img_name}}" />
</td>
</tr>
<tr>
<td width="50%" class="ad_row">
  ||choose_cat||:
</td>
<td width="50%" class="ad_row">
  {{img_cat_select}}
</td>
</tr>
<tr>
<td width="50%" class="ad_row">
||img_dimensions||:
</td>
<td width="50%" class="ad_row">
<!-- A table is required here for layout purposes -->
<table class="noborder">
<tr>
<td class="ad_row">||width||:</br /><input type="text" name="width" size="4" value="{{width}}" /></td>
<td valign="bottom" class="ad_row"> X </td>
<td class="ad_row">||height||:<br /><input type="text" name="height" size="4" value="{{height}}" /></td>
</tr>
</table>
</td>
</tr>
<tr>
<td width="50%" class="ad_row">
||thumb_dimensions||:
</td>
<td width="50%" class="ad_row">
<!-- A table is required here for layout purposes -->
<table class="noborder">
<tr>
<td class="ad_row">||width||:</br /><input type="text" name="width_thumb" size="4" value="{{width_thumb}}" /></td>
<td valign="bottom" class="ad_row"> X </td>
<td class="ad_row">||height||:<br /><input type="text" name="height_thumb" size="4" value="{{height_thumb}}" /></td>
</tr>
</table>
</td>
</tr>
<tr>
<td colspan="2" class="ad_row">
<input type="submit" value="||edit_img||" />
</td>
</tr>
</table>
</form>