<form action="{{admin_script}}?act=template&amp;what=do_template_editor&s={{sess}}" method="post">

<span class="title">||template_editor||</span><br /><br />

<table width="100%" cellpadding="15" cellspacing="2" class="config">
<tr>
<td class="ad_row">
||choose_template_to_edit||
</td>
</tr>

<tr>
<td class="ad_row">
<select name="file">
<option value="null">||choose_file_edit||</option>
{{template_list}}
</select>
</td>
</tr>

<tr>
<td class="ad_row">
<input type="submit" value="||edit||">
</td>
</tr>

</table>
</form>