<form action="{{admin_script}}?act=category&amp;what=doeditcat&amp;s={{sess}}" method="post">

<span class="title">||edit_cat||</span><span align="right"><a href="javascript:popHelp('edit_cat', '{{sess}}');"><img border="0" style="cursor:help;" src="./site_images/help.gif" /></a></span><br /><br />

<table width="100%" cellpadding="15" cellspacing="2" class="config">
<tr>
<td class="theader">
||choose_cat_edit||
</td>
</tr>

<tr>
<td class="ad_row">
{{edit_data}}
</td>
</tr>

<tr>
<td class="ad_row">
<input type="submit" value="||edit_cat||" />
</td>
</tr>
</table>
</form>