<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
<script language="javascript" type="text/javascript">
if (self.location != top.location)
{
	parent.top.location = self.location;
}
</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WebCards Administration Center</title>
</head>
<frameset cols="185, *" border="0">
<frame name="menu" noresize="noresize" scrolling="auto" src="{{admin_script}}?act=index&amp;what=left&amp;s={{sess}}" />
<frame name="main" noresize="noresize" scrolling="auto" src="{{admin_script}}?act=index&amp;what=main&amp;s={{sess}}" />
</frameset>
</html>