<form action="{{admin_script}}?act=users&amp;what=dousers&amp;s={{sess}}" method="post">

<span class="title">||add_admin||</span><br /><br />

<table width="100%" cellpadding="15" cellspacing="2" class="config">
<tr>
<td colspan="2" class="theader">||fill_admin_details||</td>
</tr>

<tr>
<td width="50%" class="ad_row">
||username||:
</td>
<td width="50%" class="ad_row">
<input type="text" name="username" size="50" />
</td>
</tr>
<tr>
<td width="50%" class="ad_row">
||password||:
</td>
<td width="50%" class="ad_row">
<input type="password" name="password1" size="50" />
</td>
<tr>
<tr>
<td width="50%" class="ad_row">
||password_confirm||:
</td>
<td width="50%" class="ad_row">
<input type="password" name="password2" size="50" />
</td>
</tr>
<tr>
<td width="50%" class="ad_row">
||select_default_lang||:
</td>
<td width="50%" class="ad_row">
<select name="ad_lang">
{{lang_select}}
</select>
</td>
</tr>
<tr>
<td colspan="2" class="ad_row">
<input type="submit" value="||add_user||" />
</td>
</tr>

</table>

</form>