<form action="{{admin_script}}?act=category&amp;what=finaldeletecat&amp;s={{sess}}" method="post" name="del_form">
<input type="hidden" name="cat" value="{{cat_num}}" />
<input type="hidden" name="num_images" value="{{num_images}}" />

<span class="title">||del_cat||</span><span align="right"><a href="javascript:popHelp('del_cat', '{{sess}}');"><img border="0" style="cursor:help;" src="./site_images/help.gif" /></a></span><br /><br />

<table width="100%" cellpadding="15" cellspacing="2" class="config">

<tr>
<td class="theader" colspan="2">||chosen_del_cat||: {{cat_name}}
</td>
</tr>

<tr>
<td class="ad_row" colspan="2">
Choose any options and confirm below.
</td>
</tr>


{{delete_data}}


<tr>
<td class="ad_row" colspan="2">
<input type="submit" value="||del_this_cat||" onClick="javascript:if(confirm('||confirm_del_cat||')) {return true;} else {return false;}" />
</td>
</tr>
</table>
</form>