<table border="0" cellspacing="6" width="100%">
  <tr>
    <td>
      <strong>||email_cont_from||:</strong> {{from}}<br />
      <strong>||email_cont_to||:</strong> {{to}}
    </td>
  </tr>
  <tr>
    <td>
      <strong>||email_cont_date||:</strong> {{date}}<br />
      <strong>||email_cont_trigger_ip||:</strong> {{trigger_ip}}
    </td>
  </tr>
  <tr>
    <td>
      <strong>||email_cont_subject||:</strong> {{subject}}
    </td>
  </tr>
  <tr>
    <td>
      <hr size="1" noshade="noshade">
      {{body}}
    </td>
  </tr>
</table>