<form action="{{admin_script}}?act=template&amp;what=dotemplate&amp;s={{sess}}" method="post">

<span class="title">||edit_main_template||</span><span align="right"><a href="javascript:popHelp('edit_template', '{{sess}}');"><img border="0" style="cursor:help;" src="./site_images/help.gif" /></a></span><br /><br />

<table width="100%" cellpadding="15" cellspacing="2" class="config">
{{msg}}
<tr>
<td class="ad_row">
||edit_template_data||
<br />
||never_remove_variable||
</td>
</tr>

<tr>
<td class="ad_row">
<textarea wrap="off" name="template_data" style="width:100%" cols="60" rows="20">{{template_content}}</textarea>
</td>
</tr>

<tr>
<td class="ad_row">
<input type="submit" value="||edit_template||" />
</td>
</tr>

</table>
</form>