<form action="{{admin_script}}?act=template&amp;what=docss&amp;s={{sess}}" method="post">

<span class="title">||edit_css||</span><span align="right"><a href="javascript:popHelp('edit_styles', '{{sess}}');"><img border="0" style="cursor:help;" src="./site_images/help.gif" /></a></span><br /><br />

<table width="100%" cellpadding="15" cellspacing="2" class="config">
{{msg}}
<tr>
<td class="theader">
||currently_editing||: {{file}}
</td>
</tr>
<tr>
<td class="ad_row">
||edit_css_data||
</td>
</tr>

<tr>
<td class="ad_row">
<textarea wrap="off" name="css_data" rows="20" cols="80" style="width:100%">{{css_content}}</textarea>
</td>
</tr>

<tr>
<td class="ad_row">
<input type="hidden" name="filename" value="{{file}}">
<input type="submit" value="||edit_css||" />
</td>
</tr>
</table>

</form>