<tr>
<td class="theader" colspan="2">
||customise_fonts_colours||:
</td>
</tr>
<tr>
<td class="ad_row" width="50%">
||list_allowed_fonts||:
</td>
<td class="ad_row" width="50%">
<textarea wrap="off" name="font_faces" rows="10" cols="50">{{font_face_data}}</textarea>
</td>
</tr>
<tr>
<td class="ad_row" width="50%">
||list_allowed_colours||:
</td>
<td class="ad_row" width="50%">
<textarea wrap="off" name="font_colours" rows="10" cols="50">{{font_colour_data}}</textarea>
</td>
</tr>
<tr>
<td class="ad_row" width="50%">
||list_allowed_sizes||:
</td>
<td class="ad_row" width="50%">
<textarea wrap="off" name="font_sizes" rows="10" cols="50">{{font_size_data}}</textarea>
</td>
</tr>
<tr>
<td class="ad_row" width="50%">
||list_allowed_bg_colours||:
</td>
<td class="ad_row" width="50%">
<textarea wrap="off" name="font_bg_colours" rows="10" cols="50">{{font_bg_colours_data}}</textarea>
</td>
</tr>