<span class="title">||view_details||</span>
<br /><br />

<table width="100%" cellpadding="3" cellspacing="3">
  <tr>
    <td>
      ||card_id||:
    </td>
    <td>
      {{card_id}}
    </td>
  </tr>

  <tr>
    <td>
      ||pic_id||:
    </td>
    <td>
      [ <a href="javascript:popImage('{{img_id}}', 'url', '{{sess}}');">||view_url||</a> ]&nbsp;&nbsp;[ <a href="javascript:popImage('{{img_id}}', 'thumb', '{{sess}}');">||view_thumb||</a> ]
    </td>
  </tr>
  <tr>
    <td>
      ||card_title||:
    </td>
    <td>
      {{title}}
    </td>
  </tr>
  <tr>
    <td>
      ||card_msg||:
    </td>
    <td>
      {{message}}
    </td>
  </tr>
  <tr>
    <td>
      ||date_sent||:
    </td>
    <td>
      {{date}}
    </td>
  </tr>
  <tr>
    <td>
      ||sender_name||:
    </td>
    <td>
      {{sender_name}}
    </td>
  </tr>
  <tr>
    <td>
      ||sender_email||:
    </td>
    <td>
      {{sender_email}}
    </td>
  </tr>
  <tr>
    <td>
      ||sender_ip||:
    </td>
    <td>
      {{sender_ip}}
    </td>
  </tr>
  <tr>
    <td>
      ||recip_email||:
    </td>
    <td>
      {{recip_email}}
    </td>
  </tr>
  <tr>
    <td>
      ||notify_sender||
    </td>
    <td>
      {{notify}}
    </td>
  </tr>
  <tr>
    <td>
      ||notify_sent||
    </td>
    <td>
      {{notify_sent}}
    </td>
  </tr>
  <tr>
    <td>
      ||num_reminders_sent||
    </td>
    <td>
      {{num_resends}}
    </td>
  </tr>
</table>