<span class="title">||edit_css||</span><span align="right"><a href="javascript:popHelp('edit_styles', '{{sess}}');"><img border="0" style="cursor:help;" src="./site_images/help.gif" /></a></span><br /><br />
<table width="100%" cellpadding="15" cellspacing="2" class="config">
{{msg}}
<tr>
<td class="theader">
||choose_css||:
</td>
</tr>
<tr>
<form action="{{admin_script}}?act=template&amp;what=new_css&amp;s={{sess}}" method="post">
<td class="ad_row">
||new_css||
<input type="text" name="new_css_name" size="30">
||based_on||
<select name="css_template">
<option value="blank" selected="selected">(blank)</option>
{{css_droplist}}
</select>
<input type="submit" value="||create||">
</form>

<tr>
<td class="theader">
||edit_css||:
</td>
</tr>

{{css_list}}


</table>
</form>