<form action="{{admin_script}}?act=users&amp;what=dodeleteusers&amp;s={{sess}}" method="post">

<span class="title">||del_admin||</span><br /><br />

<table width="100%" cellpadding="15" cellspacing="2" class="config">

<tr>
<td class="theader">
||choose_admin_del||
</td>
</tr>

<tr>
<td class="ad_row">
{{delete_data}}
</td>
</tr>

<tr>
<td class="ad_row">
<input type="submit" value="||del_admin||" onClick="javascript:if(confirm('||confirm_del_admin||')) {return true;} else {return false;}" />
</td>
</tr>

</table>
</form>