<form action="{{admin_script}}?act=images&amp;what=doeditimg&amp;s={{sess}}" method="post">

<span class="title">||edit_img||</span><span align="right"><a href="javascript:popHelp('edit_img', '{{sess}}');"><img border="0" style="cursor:help;" src="./site_images/help.gif" /></a></span><br /><br />
<table width="100%" cellpadding="15" cellspacing="2" class="config">
<tr>
<td class="theader" colspan="2">
||choose_find_option||
</td>
</tr>
<tr>
<td class="ad_row" width="50%">
<input class="clear" type="radio" name="type" value="list_cat" id="list_cat"> <label for="list_cat">||list_img_by_cat||:</label>
</td>
<td class="ad_row" width="50%">
{{edit_data}}
</td>
</tr>
<tr>
<td class="ad_row" width="50%">
<input class="clear" type="radio" name="type" value="search" id="search">  <label for="search">||search_img_name||:</label>
</td>
<td class="ad_row" width="50%">
<input type="text" name="terms" size="50" />
</td>
</tr>
<tr>
<td class="ad_row" colspan="2">
<input class="clear" type="radio" name="type" value="list_all" id="list_all">  <label for="list_all">||list_all_img||</label>
</td>
</tr>
<tr>
<td class="ad_row" colspan="2">
<input type="submit" value="||perform_act||">
</td>
</tr>
</table>
</form>