<form action="{{admin_script}}?act=ban&amp;what=use_ip_tools&amp;s={{sess}}" method="post">

<span class="title">||ip_tools||</span><span align="right"><a href="javascript:popHelp('ip_tools', '{{sess}}');"><img border="0" style="cursor:help;" src="./site_images/help.gif" /></a></span><br /><br />

<table width="100%" cellpadding="15" cellspacing="2" class="config">

<tr>
<td class="ad_row">
||ip_tools_exp_2||:
</td>
</tr>

<tr>
<td class="ad_row">
<input type="text" name="ip" size="50" />
</td>
</td>
</tr>

<tr>
<td class="ad_row">
||use_star||
</td>
</tr>

<tr>
<td class="ad_row">
<input type="submit" value="||search||">
</td>
</tr>

</table>
</form>