<form action="{{admin_script}}?act=category&amp;what=dodeletecat&amp;s={{sess}}" method="post">

<span class="title">||del_cat||</span><span align="right"><a href="javascript:popHelp('del_cat', '{{sess}}');"><img border="0" style="cursor:help;" src="./site_images/help.gif" /></a></span><br /><br />

<table width="100%" cellpadding="15" cellspacing="2" class="config">

<tr>
<td class="theader">
||choose_cat_del||
</td>
</tr>

<tr>
<td class="ad_row">
{{delete_data}}
</td>
</tr>

<tr>
<td class="ad_row">
<input type="submit" value="||next_step||" />
</td>
</tr>

</table>
</form>