<span class="title">||import_export||</span><br /><br />

<table width="100%" cellpadding="15" cellspacing="2" class="config">

<form action="{{admin_script}}?act=lang&amp;what=import&s={{sess}}" method="post">
<tr>
<td colspan="2" class="theader">
||import_lang||
</td>
</tr>
<tr>
<td class="ad_row" width="50%">
||import_tarball_detail||
</td>
<td class="ad_row" width="50%">
<select name="import_tarball">
<option value="">||select_tarball||</option>
{{import_select_box}}
</select>
</td>
</tr>
<tr>
<td colspan="2" class="ad_row">
<input type="submit" value="||import||">
</td>
</tr>
</form>

<form action="{{admin_script}}?act=lang&amp;what=export&s={{sess}}" method="post">
<tr>
<td colspan="2" class="theader">
||export_lang||
</td>
</tr>
<tr>
<td class="ad_row" width="50%">
||export_tarball_detail||
</td>
<td class="ad_row" width="50%">
<select name="export_lang">
<option value="">||select_lang||</option>
{{export_select_box}}
</select>
</td>
</tr>
<tr>
<td colspan="2" class="ad_row">
<input type="submit" value="||export||">
</td>
</tr>
</form>
</table>