<form action="{{admin_script}}?act=images&amp;what=dodeleteimg&amp;s={{sess}}" method="post">
<span class="title">||del_an_image||</span><span align="right"><a href="javascript:popHelp('del_img', '{{sess}}');"><img border="0" style="cursor:help;" src="./site_images/help.gif" /></a></span><br /><br />
<table width="100%" cellpadding="15" cellspacing="2" class="config">

<tr>
<td colspan="2" class="theader">
||choose_find_option||
</td>
</tr>

<tr>
<td width="50%" class="ad_row">
<input class="clear" type="radio" name="type" value="list_cat" id="list_cat"> <label for="list_cat">||list_img_by_cat||:</label>
</td>
<td width="50%" class="ad_row">
{{edit_data}}
</td>
</tr>

<tr>
<td width="50%" class="ad_row">
<input class="clear" type="radio" name="type" value="search" id="search">  <label for="search">||search_img_name||:</label>
</td>
<td width="50%" class="ad_row">
<input type="text" name="terms" size="50" />
</td>
</tr>

<tr>
<td colspan="2" class="ad_row">
<input class="clear" type="radio" name="type" value="list_all" id="list_all">  <label for="list_all">||list_all_img||</label>
</td>
</tr>

<tr>
<td colspan="2" class="ad_row">
<input class="clear" type="radio" name="type" value="del_all" id="del_all">  <label for="del_all">||del_all_img||</label>
</td>
</tr>

<tr>
<td colspan="2" class="ad_row">
<input type="submit" value="||perform_act||">
</td>
</tr>

</table>
</form>