<table width="100%" border="0" cellpadding="0" cellspacing="0" class="noborder">
<tr>
<td align="center">
<a href="{{admin_script}}?act=index&amp;what=main&amp;s={{sess}}" target="main"><b>||acp_home||</b></a> | <a href="{{admin_script}}?act=misc&amp;what=logout&amp;s={{sess}}" target="_top" onClick="javascript:if(confirm('Are you sure you wish to logout?')) {return true;} else {return false;}"><b>||logout||</b></a>
<br /><br />
<table border="0" class="noborder" width="100%" cellpadding="4" cellspacing="0">
 <tr>
  <td class="theader" align="center">
   ||config||
  </td>
 </tr>
 <tr>
  <td class="tbody" align="left">
   <a href="{{admin_script}}?act=config&amp;what=general&amp;s={{sess}}" target="main">||general||</a><br />
   <a href="{{admin_script}}?act=config&amp;what=cardsettings&amp;s={{sess}}" target="main">||card_settings||</a><br />
   <a href="{{admin_script}}?act=config&amp;what=debug&amp;s={{sess}}" target="main">||debug_options||</a><br />
   <a href="{{admin_script}}?act=config&amp;what=email&amp;s={{sess}}" target="main">||email_options||</a><br />
   <a href="{{admin_script}}?act=config&amp;what=database&amp;s={{sess}}" target="main">||db_config||</a><br />
  </td>
 </tr>
</table>
<br />
<table border="0" class="noborder" width="100%" cellpadding="4" cellspacing="0">
 <tr>
  <td class="theader" align="center">
   ||image_options||
  </td>
 </tr>
 <tr>
  <td class="tbody" align="left">
   <a href="{{admin_script}}?act=images&amp;what=add&amp;s={{sess}}" target="main">||add_image||</a><br />
   <a href="{{admin_script}}?act=images&amp;what=edit&amp;s={{sess}}" target="main">||edit_image||</a><br />
   <a href="{{admin_script}}?act=images&amp;what=delete&amp;s={{sess}}" target="main">||del_image||</a><br />
  </td>
 </tr>
</table>
<br />
<table border="0" class="noborder" width="100%" cellpadding="4" cellspacing="0">
 <tr>
  <td class="theader" align="center">
   ||cat_options||
  </td>
 </tr>
 <tr>
  <td class="tbody" align="left">
   <a href="{{admin_script}}?act=category&amp;what=add&amp;s={{sess}}" target="main">||add_cat||</a><br />
   <a href="{{admin_script}}?act=category&amp;what=edit&amp;s={{sess}}" target="main">||edit_cat||</a><br />
   <a href="{{admin_script}}?act=category&amp;what=delete&amp;s={{sess}}" target="main">||del_cat||</a><br />
  </td>
 </tr>
</table>
<br />
<table border="0" class="noborder" width="100%" cellpadding="4" cellspacing="0">
 <tr>
  <td class="theader" align="center">
   ||ban_options||
  </td>
 </tr>
 <tr>
  <td class="tbody" align="left">
   <a href="{{admin_script}}?act=ban&amp;what=ip&amp;s={{sess}}" target="main">||ip_filters||</a><br />
   <a href="{{admin_script}}?act=ban&amp;what=ip_tools&amp;s={{sess}}" target="main">||ip_tools||</a><br />
   <a href="{{admin_script}}?act=ban&amp;what=email&amp;s={{sess}}" target="main">||email_filters||</a>
  </td>
 </tr>
</table>
<br />
<table border="0" class="noborder" width="100%" cellpadding="4" cellspacing="0">
 <tr>
  <td class="theader" align="center">
   ||templates||
  </td>
 </tr>
 <tr>
  <td class="tbody" align="left">
   <a href="{{admin_script}}?act=template&amp;what=template&amp;s={{sess}}" target="main">||main_template||</a><br />
   <a href="{{admin_script}}?act=template&amp;what=css&amp;s={{sess}}" target="main">||stylesheet||</a><br />
   <a href="{{admin_script}}?act=template&amp;what=template_editor&amp;s={{sess}}" target="main">||template_editor||</a><br />
   <a href="{{admin_script}}?act=template&amp;what=image_macros&amp;s={{sess}}" target="main">||image_macros||</a><br />
  </td>
 </tr>
</table>
<br />
<table border="0" class="noborder" width="100%" cellpadding="4" cellspacing="0">
 <tr>
  <td class="theader" align="center">
   ||lang_options||
  </td>
 </tr>
 <tr>
  <td class="tbody" align="left">
   <a href="{{admin_script}}?act=lang&amp;what=new&amp;s={{sess}}" target="main">||new_lang||</a><br />
   <a href="{{admin_script}}?act=lang&amp;what=edit&amp;s={{sess}}" target="main">||edit_lang||</a><br />
   <a href="{{admin_script}}?act=lang&amp;what=import_export&amp;s={{sess}}" target="main">||import_lang||</a><br />
   <a href="{{admin_script}}?act=lang&amp;what=del&amp;s={{sess}}" target="main">||del_lang||</a>
  </td>
 </tr>
</table>
<br />
<table border="0" class="noborder" width="100%" cellpadding="4" cellspacing="0">
 <tr>
  <td class="theader" align="center">
   ||administrators||
  </td>
 </tr>
 <tr>
  <td class="tbody" align="left">
   <a href="{{admin_script}}?act=users&amp;what=add_user&amp;s={{sess}}" target="main">||add_user||</a><br />
   <a href="{{admin_script}}?act=users&amp;what=delete_user&amp;s={{sess}}" target="main">||delete_user||</a><br />
  </td>
 </tr>
</table>
</td>
</tr>
</table><br />
<table border="0" class="noborder" width="100%" cellpadding="4" cellspacing="0">
 <tr>
  <td class="theader" align="center">
   ||ad_toolbox||
  </td>
 </tr>
 <tr>
  <td class="tbody" align="left">
   <a href="{{admin_script}}?act=toolbox&amp;what=email_logs&amp;s={{sess}}" target="main">||view_email_logs||</a><br />
   <a href="{{admin_script}}?act=toolbox&amp;what=verify&amp;s={{sess}}" target="main">||verify_files||</a><br />
   <a href="{{admin_script}}?act=toolbox&amp;what=view_cards&amp;s={{sess}}" target="main">||view_cards||</a><br />
   <a href="{{admin_script}}?act=toolbox&amp;what=expirer&amp;s={{sess}}" target="main">||card_expirer||</a><br />
   <a href="{{admin_script}}?act=toolbox&amp;what=sql_info&amp;s={{sess}}" target="main">||sql_info||</a><br />
   <a href="{{admin_script}}?act=toolbox&amp;what=php_config&amp;s={{sess}}" target="main">||php_info||</a><br />
   <a href="{{admin_script}}?act=help&amp;s={{sess}}" target="main">||help||</a>
  </td>
 </tr>
</table>