<form action="{{admin_script}}?act=template&amp;what=save_new_macro&amp;s={{sess}}"method="post">

<span class="title">||create_macro||</span><br /><br />

<table width="100%" cellpadding="15" cellspacing="2" class="config">

<tr>
<td class="theader" colspan="2">
||form_new_macro||
</td>
</tr>
<tr>
<td class="ad_row" width="50%">
||macro_name||:
</td>
<td class="ad_row" width="50%">
<input type="text" name="name" size="50" />
</td>
</tr>
<tr>
<td class="ad_row" width="50%">
||list_img_extensions||:
</td>
<td class="ad_row" width="50%">
<input type="text" name="extensions" size="50" />
</td>
</tr>
<tr>
<td class="ad_row" width="50%">
||macro_types||:<br />||can_use_codes||:<br /><b>{{img}}</b> - ||img_url||<br /><b>{{name}}</b> - ||img_name||<br /><b>{{width}}</b> - ||img_width||<br /><b>{{height}}</b> - ||img_height||
</td>
<td class="ad_row" width="50%">
<textarea cols="60" rows="5" style="width:100%;" name="macro"></textarea>
</td>
</tr>
<tr>
<td class="ad_row" colspan="2">
<input type="submit" value="||create_macro||">
</td>
</tr>
</table>
</form>