<form action="{{admin_script}}?act=template&amp;what=save_template&s={{sess}}" method="post">
<input type="hidden" name="file" value="{{file_name}}">

<span class="title">||template_editor||</span>
<br /><br />

<table width="100%" cellpadding="15" cellspacing="2" class="config">

{{msg}}

<tr>
<td class="theader">
||currently_editing||: <i>{{file_name}}</i>
</td>
</tr>

<tr>
<td class="ad_row">
||edit_contents||
</td>
</tr>

<tr>
<td class="ad_row">
<textarea name="content" rows="30" cols="80" wrap="none" style="width:100%">{{content}}</textarea>
</td>
</tr>

<tr>
<td class="ad_row">
<input type="submit" value="||update_file||">
</td>
</tr>

</table>
</form>