<form action="{{admin_script}}?act=images&amp;what=delete_all_images&amp;s={{sess}}" method="post">

<span class="title">||confirm_act||</span><span align="right"><a href="javascript:popHelp('del_img', '{{sess}}');"><img border="0" style="cursor:help;" src="./site_images/help.gif" /></a></span><br /><br />

<table width="100%" cellpadding="15" cellspacing="2" class="config">

<tr>
<td class="theader">
||confirm_del_all||
</td>
</tr>

<tr>
<td clas="ad_row">
||confirm_password||<br />
<input type="password" name="password" size="25" />
</td>
</tr>

<tr>
<td clas="ad_row">
<input type="submit" value="||del_all_images||" />
</td>
</tr>

</table>

</form>