<form action="{{admin_script}}?act=category&amp;what=docat&amp;s={{sess}}" method="post">

<span class="title">||add_image_cat||</span><span align="right"><a href="javascript:popHelp('add_cat', '{{sess}}');"><img border="0" style="cursor:help;" src="./site_images/help.gif" /></a></span>
<br /><br />

<table width="100%" cellpadding="15" cellspacing="2" class="config">

<tr>
<td colspan="2" class="theader">
||add_cat_explanation||<br />
||new_lines_converted|| &lt;br /&gt;.
</td>
</tr>

<tr>
<td width="50%" class="ad_row">
||cat_name||:
</td>
<td width="50%" class="ad_row">
<input type="text" name="name" size="50" />
</td>
</tr>

<tr>
<td width="50%" class="ad_row">
||cat_desc||:
</td>
<td width="50%" class="ad_row">
<textarea name="description" cols="50" rows="8"></textarea>
</td>
</tr>

<tr>
<td colspan="2" class="ad_row">
<input type="submit" value="||add_cat||" />
</td>
</tr>

</table>
</form>