<form action="{{admin_script}}?act=lang&amp;what=do_add&amp;s={{sess}}" method="post">

<span class="title">||new_lang||</span><br /><br />

<table width="100%" cellpadding="15" cellspacing="2" class="config">

<tr>
<td class="theader" colspan="2">
||new_lang||
</td>
</tr>

<tr>
<td class="ad_row" width="50%">
||base_lang_on||:
</td>
<td class="ad_row" width="50%">
<select name="lang_template">
<option value="">||select_a_lang||</option>
{{lang_select}}
</select>
</td>
</tr>

<tr>
<td class="ad_row" width="50%">
||new_lang_name||:
</td>
<td class="ad_row" width="50%">
<input type="text" name="new_name" size="50" />
</td>
</tr>

<tr>
<td class="ad_row" colspan="2">
<input type="submit" value="||create_lang||">
</td>
</tr>
</table>

</form>