<span class="title">||webcards_home||</span>
<br /><br />

<table width="100%" class="noborder">
<tr>
<td width="65%" valign="top">

<table width="100%" cellpadding="15" cellspacing="2" class="config">

<tr>
<td class="theader">||current_cards||</td>
</tr>
<tr>
<td class="ad_row">
||current_cards_1|| {{num_cards}} ||current_cards_2|| [ <a href="{{admin_script}}?act=toolbox&amp;what=view_cards&s={{sess}}">||view_cards||</a> ]
</td>

<tr>
<td class="theader">||essential_file||</td>
</tr>
<tr>
<td class="ad_row">
{{verify_files}} [ <a href="{{admin_script}}?act=toolbox&amp;what=verify&s={{sess}}">||more_details||</a> ]
</td>
</tr>


<tr>
<td class="theader">||current_admins||</td>
</tr>
<tr>
<td class="ad_row">
||admins_logged_in||
<ul>
{{admin_present}}
</ul>
</td>
</tr>

</tr>

</table>

</td>


<td width="35%" valign="top">

<table width="100%" cellpadding="15" cellspacing="2" class="config">

<tr>
<td class="theader">||upgrade_check||</td>
</tr>
<tr>
<td class="ad_row">||visit_wcsite||:<br />&raquo;<a href="http://webcards.sourceforge.net/" target="_blank">WebCards Website</a>
</td>
</tr>

<tr>
<td class="theader">||dir_sizes||</td>
</tr>
<tr>
<td class="ad_row">||img_dir_size|| {{folder_size}}.<br />
<span style="font-size:14px">&raquo;</span> ||dir_contains|| {{num_images}} ||main_images||.<br />
<span style="font-size:14px">&raquo;</span> ||dir_contains|| {{num_thumbs}} ||thumbs||.<br />
</td>
</tr>

<tr>
<td class="theader">||installation_details||</td>
</tr>
<tr>
<td class="ad_row">
||php_version||: {{php_version}}<br />
||sql_version||: {{sql_version}}<br />
||wc_version||: {{wc_version}}
</td>
</tr>


</table>


</td>
</tr>
</table>