/* Style Sheet created by Vincent */

/* Interface */
body {
	color: #ffffff;
	font: .8em Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	background: #35404e;
	}
hr, .hidden { display: none !important; }
form { margin: 0; }
img { border: 0; }
a { color: #0000ff; }
a:visited { color: #00008b; }
a:hover { color: #f89500; }
div { color: #000000; } 
.overflowFix { clear: both; }
#wrapper { text-align: left; width: 800px; margin: auto; border: 1px solid #ffffff; background: url("../../images/default/interface/background.jpg"); }


/* Header */
#header { height: 80px; background:  url("../../images/default/interface/header.jpg") 50% 0 no-repeat; position: relative; }
h1 { display: none; }
h2 {
	font-size: 1em;
	text-align: right;
	width: 300px;
	margin: 0 10px 0 0;
	padding: 0;
	position: absolute;
	right: 0;
	bottom: 30%;
	}
h2 a, h2 a:visited { color: #fff; text-decoration: none; }
h2 a:hover { color: #f89500; }


/* Footer */
#footer { text-align: center; background: #777780; padding: 5px; }
#footer img { margin: 0 2px; }


/* Menu */
#menu { border-bottom: 1px solid #999; background:  url("../../images/default/interface/bg_menu.png") 0 50% repeat-x #fff; }
#menu ul { margin: 0; padding: 0; list-style: none; float: right; width: auto; display: table; border: 0;  }
#menu li { float: left;  }
#menu li a {
	color: #333;
	font-size: .85em;
	font-weight: bold;
	text-decoration: none;
	padding: 1px 1em;
	border-left: 1px solid #999;
	float: left;
	}
#menu li a:hover { color: #000; border-left-color: #f89500; background:  url("../../images/default/interface/bg_menu_over.png") 0 50% repeat-x #fff; }


/* Main content */
#content { padding: 8px 8px 40px 8px; border-top: 2px solid #ffffff; }
#content div { padding: 1em; border: 1px dashed #000; background: #EEEEFF; }
#content div h3 { font-size: 1.1em; font-weight: bold; margin: 0 0 1em 0; }
#content p { margin: 0 0 1em 0; }


/* News */
#content div.news { margin: 0 0 1em 0; padding: 0; border: 1px solid #777; background: #eaeaea; }
#content div.news h3 { color: #333; padding: .1em .5em; border-bottom: 1px solid #ccc; background: url(../../images/default/interface/bg_menu.png) 0 50% repeat-x; }
#content div.news p { padding: 0 1em; }


/* Links */
#content dl.links { margin: 0; }
#content dl.links dt { font-weight: bold; padding: 2px; border: 1px solid #ccc; }
#content dl.links dt a { color: #333; }
#content dl.links dt a:hover { color: #000; text-decoration: none; }
#content dl.links dd { color: #555; margin: 0 0 .5em 0; padding: 4px; border-width: 2px 1px 1px; border-style: solid; border-color: #eee #ccc #ccc; background: #fff; }


/* Projects list */
ul.projectsList { margin: 2em 0 0; padding: 0; list-style: none; }
ul.projectsList li { text-align: center; margin: 0 8px; padding: 0; float: left; }
ul.projectsList a { color: #333; text-decoration: none; }
ul.projectsList a:hover { color: #000; display: block; }
ul.projectsList a span { display: block; }
ul.projectsList a span.title { font-weight: bold; }

ul.projectsList a.folder { text-align: center; width: 140px; height: 116px; margin: auto; background: url(../../images/default/interface/folder.gif) no-repeat; display: block; }
ul.projectsList a.folder img { margin: 22pt 0 0 10pt; }


ul.projectsList a.file { text-align: center; width: 140px; height: 116px; margin: auto; background: url(../../images/default/interface/file.gif) no-repeat; display: block; }
ul.projectsList a.file img { margin: 18pt 0 0 0pt; }
