address, blockquote, body, caption,	center,	dd,	dir, div,	dl,	dt,	form,	h1,	h2,	h3,	h4,	h5,	h6,	menu,	ol,	p, td, th, ul	{
	font-family: helvetica,	arial, sans-serif;
	}

code,	pre, samp {
	font-size: 1em;
	font-family: "lucida console", "courier	new",	courier, monospace;
	}

abbr,	acronym, .help {
	border-bottom: 1px dotted	#555;
	cursor:	help;
	}

body {
	background-color:	#fff;
	border:	0;
	color: #000;
	font-size: small;
	padding: 0;
	margin:	0;
	voice-family:	"\"}\"";
	voice-family:	inherit;
	font-size: medium;		/* the correct value */
	}
html>body	{
	font-size: medium;		/* reapply for Opera 5 */
	}


:link, :visited	{
	background-color:	transparent;
	border-bottom: 1px dashed;
	font-weight: bold;
	text-decoration: none;
	}

:link	{
	color: #66f;
	}

:visited {
	color: #c66;
	}

:link:hover, :visited:hover	{
	border-bottom: 1px solid;
	color: #00f;
	}

:link:active,	:visited:active	{
	border-bottom: 1px solid;
	color: #00f;
	}



/* --------------- header	---------------	*/

#header	{
	background-color:	#000;
	color: #fff;
	padding: 3px;
	text-align:	right;
	}

#header	h1 {
	display: inline;
	font-size: 1em;
	font-weight: bold;
	margin-right:	20px;
	}



/* --------------- footer	---------------	*/

#navlinks	{
	background-color:	#ccc;
	border:	1px	solid	#666;
	margin:	10px 10%;
	padding: 5px;
	text-align:	center;
	}

#navlinks	p	{
	padding: 0;
	margin:	0;
	}



/* --------------- content --------------- */

#content {
	line-height: 1.3em;
	margin:	10px 20px;
	}

#content img {
	border:	2px	solid	#555;
	display: block;
	margin:	auto;
	padding: 3px;
	}

/*
	 Display title as	image	caption
*/
#content img[title]:after	{
	background-color:	transparent;
	color: #000;
	content: attr(title);
	display: block;
	margin:	0;
	padding: 0.3em 0 0 0;
	font-size: .8em;
	font-weight: bold;
	text-align:	center;
	}


#content h1	{
	background-color:	transparent;
	border-bottom: 1px solid #369;
	border-left: 10px	solid	#369;
	border-right:	10px solid #369;
	border-top:	1px	solid	#369;
	color: #369;
	font-size: 1.5em;
	margin-left: -10px;
	margin-right:	-10px;
	padding: 3px;
	text-align:	center;
	}


#content h2	{
	background-color:	transparent;
	border-left: 10px	solid	#666;
	border-top:	1px	solid	#666;
	color: #000;
	font-size: 1.5em;
	font-variant:	small-caps;
	margin-top:	20px;
	padding: 3px;
	}

#content h3	{
	background-color:	transparent;
	color: #933;
	font-size: 1.15em;
	font-weight: bold;
	margin: 15px 0 -10px 0;
	}

#content p {
	margin-left: 20px;
	margin-right:	20px;
	text-align:	justify;
	}

#content b {
	font-weight: bold;
	text-transform:	uppercase;
	}

#content strong	{
	font-variant:	small-caps;
	font-weight: bold;
	}

#content code	{
	background-color:	#eee;
	border:	1px	solid	#006;
	color: #006;
	display: block;
	margin:	10px 40px	5px	40px;
	padding: 4px;
	}

#content var {
	background-color:	transparent;
	color: #393;
	font-style:	normal;
	font-weight: bold;
	text-transform: none;
	}

#content kbd {
	background-color:	transparent;
	color: #c33;
	font-style:	italic;
	font-variant: normal;
	font-weight: bold;
	text-transform: none;
	}

#content dfn {
	background-color:	#ddd;
	color: #939;
	font-weight: bold;
	font-style:	normal;
	font-variant:	small-caps;
	}

#content samp	{
	background-color:	transparent;
	color: #933;
	text-transform: none;
	}

/*
	Apply	style	to IE	browsers
		http://centricle.com/ref/css/filters/tests/star_html/
*/
*	html #content	ol,	*	html #content	ul {
	padding-left:	20px;
	}

/*
	Apply	style	to Moz browsers
		http://centricle.com/ref/css/filters/tests/owen/
*/
head:first-child+body	#content ol, head:first-child+body #content	ul {
	margin-left: 20px;
	}


#content li	{
	margin-top:	5px;
	}

#content li p {
	margin-left: 0;
	margin-right:	0;
	}

#content li	b	{
	color: #963;
	font-weight: bold;
	text-transform:	none;
	}

#content #toc	{
	font-weight: bold;
	font-size: x-small;
	line-height: 1.25em;
	voice-family:	"\"}\"";
	voice-family:	inherit;
	font-size: small;		/* the correct value */
	}
html>body	#content #toc	{
	font-size: small;		/* reapply for Opera 5 */
	}

#content #toc b {
	color: #333;
	font-size: 1.2em;
	}

#content .minitoc	{
	font-weight: bold;
	font-size: xx-small;
	line-height: 1.25em;
	voice-family:	"\"}\"";
	voice-family:	inherit;
	font-size: x-small;		/* the correct value */
	}
html>body	#content .minitoc	{
	font-size: x-small;		/* reapply for Opera 5 */
	}




/*
	Apply	style	to IE	browsers
		http://centricle.com/ref/css/filters/tests/star_html/
*/
*	html #content	#toc ul {
	padding-left:	5px;
	}

/*
	Apply	style	to Moz browsers
		http://centricle.com/ref/css/filters/tests/owen/
*/
head:first-child+body	#content #toc ul {
	margin-left: 5px;
	}


#content .important	{
	background:	#fee;
	border:	1px	dotted #c33;
	color: #000;
	margin:	10px 20px;
	padding: 0;
	}



/* --------------- footer	---------------	*/

#footer	{
	background-color:	transparent;
	border-top:	1px	solid	#ccc;
	color: #666;
	font-size: 0.8em;
	padding: 5px;
	text-align:	center;
	}

#footer	address	{
	font-style:	normal;
	font-variant:	normal;
	font-weight: normal;
	}

#footer	.validation	{
	font-size: xx-small;
	voice-family:	"\"}\"";
	voice-family:	inherit;
	font-size: x-small;		/* the correct value */
	}
html>body	#footer	.validation	{
	font-size: x-small;		/* reapply for Opera 5 */
	}
