/* NOTE: Some of this stuff doesn't work for both major browsers, or it works
differently.  Trial and error is the best approach. */


/* This controls the look of most page elements except those defined below.*/

BODY {
font-family: Serif;
font-size: medium;
}


/* This determines the look of the headings (<h1>). */

H1 {
font-size: large;
border: 2pt; border-color: maroon; border-style: groove; display: block; margin: 10pt; padding: 2pt;
font-family: Serif;
background-color: white;
}


/* This determines the look of various subheadings. */

CAPTION {
font-size: 20pt;
}


/* This determines the look of the linkbars (area containing links near top of
most pages. */

.linkbar {
font-family: Serif;
font-size: medium;
color: #F2DAB2;
margin: 1pt;
background-color: maroon;
}


/* This determines the look of the text in the linkbars. */

.light {color: #F2DAB2; font-size: small}


/* This determines the look of items on a user's profile page. */

.profile {
background-color: white;
border: 2pt; border-color: navy; border-style: ridge; display: block; margin: 10pt; padding: 2pt;
font-family: Serif;
font-size: small;
color: black;
}


/* This determines the look of items on the profile form page. */

.profileform {
background-color: white;
border: 2pt; border-color: navy; border-style: ridge; display: block; margin: 10pt; padding: 10pt;
font-family: Serif;
font-size: small;
color: black;
}


/* This determines the look of messages on the private message boards. */

.board {
border: 10pt; border-color: silver; border-style: outset; display: block; margin: 10pt; padding: 6pt;
font-family: Courier;
font-size: small;
}


/* This the determines the look of the images' background. */

.imagebg {
background-color: maroon;
border: pt; border-color: navy; border-style: ridge; display: block; margin: 0pt; padding: 10pt;
}
