<!--S:Login-->
			<!-- BOX -->
			<form method=post action="index.php" onsubmit="" name=login>
			<br><br>
			<table align=center cellpadding=0 cellspacing=0 width=440 style="height: 200px;">
				<tr>
					<td height=1 colspan=3 bgcolor=#9DBEE6><img src="images/dot.gif"></td>
				</tr>
				<tr>
					<td width=1 bgcolor=#9DBEE6><img src="images/dot.gif"></td>
					<td bgcolor=#E9EDF2>
						<!-- LOGIN FORM -->
						<table cellpadding=7 cellspacing=0 align=center>
							<tr>
								<td class="box-title">Login</td>
							</tr>
							<tr>
								<td class="box-content" style="padding-left:20px;">									
									Enter the user name and password.
								</td>
							</tr>
							<tr>
								<td align=center>
									<table>
										<tr>
											<td class="box-content">USERNAME:</td>
											<td class="box-content"><input class="login-input" name="user"></td>
											<td><img width=20 height=1 src="images/dot.gif"></td>
											<td class="box-content">
												<script> draw_button("login","javascript:document.forms[0].submit();","");</script>
											</td>											
										</tr>
										<tr>
											<td class="box-content">PASSWORD:</td>
											<td class="box-content"><input class="login-input" type="password" name="pass"></td>
											<td><img width=20 height=1 src="images/dot.gif"></td>
											<td class="box-content">
												<script> draw_button("cancel","javascript:document.forms[0].reset()","");</script>
											</td>											
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<!-- LOGIN FORM -->
					</td>
					<td width=1 bgcolor=#9DBEE6><img src="images/dot.gif"></td>
				</tr>
				<tr>
					<td height=17 width=1 bgcolor=#9DBEE6><img src="images/dot.gif"></td>
					<td height="17" colspan="2" align="right" style="background-image: url(images/box-bottom-bg.gif);"><img width=17 height=17 src="images/box-corner.gif"></td>
				</tr>
			</table>

			</form>
<!--E:Login-->

<!--S:MenuAdmin-->
								<table border="0" width="160" cellspacing="0" cellpadding="3" class="sub">
									<tr>
										<td class="subspace"><a href="index.php?sub=settings">Settings</a></td>
									</tr>

									<tr>
										<td class="subspace"><a href="index.php?sub=reports">Reports</a></td>
									</tr>

									<tr>
										<td class="subspace">&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.php?sub=cats">Expense Categories</a></td>
									</tr>
									<tr>
										<td class="subspace">&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.php?sub=export">Export Expenses</a></td>
									</tr>
									<tr>
										<td class="subspace"><a href="index.php?sub=users">Users</a></td>
									</tr>
									<tr>
										<td class="subspace"><a href="index.php?sub=logout">Logout</a></td>
									</tr>
									<tr>
										<td class="subspace"><a href="http://expense-report-software.org" target="_blank" title="Expense Report Software Homepage"><small>Expense Report Software</small></a></td>
									</tr>
									
								</table>
<!--E:MenuAdmin-->


<!--S:MenuUser-->
								<table border="0" width="160" cellspacing="0" cellpadding="3" class="sub">
									<tr>
										<td class="subspace"><a href="index.php?sub=reports">Personal Reports</a></td>
									</tr>
									<tr>
										<td class="subspace"><a href="index.php?sub=users">Users</a></td>
									</tr>
									<tr>
										<td class="subspace"><a href="index.php?sub=logout">Logout</a></td>
									</tr>
									<tr>
										<td class="subspace"><a href="http://expense-report-software.org" target="_blank" title="Expense Report Software Homepage"><small>Expense Report Software</small></a></td>
									</tr>
								</table>
<!--E:MenuUser-->