<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/t_standard.dwt" codeOutsideHTMLIsLocked="false" -->

	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<!-- InstanceBeginEditable name="doctitle" -->
		<title>WEBK || {title}</title>
		<style type="text/css" title="WEBK">
		<!--
@import url(css/default/styles.css);
		-->
		</style>
	<!-- InstanceEndEditable -->
	<!-- InstanceBeginEditable name="head" -->
		<style type="text/css">
		<!--
#mnHome a { color: #000; border-left-color: #f89500; background:  url("images/default/interface/bg_menu_over.png") 0 50% repeat-x #fff; }
		-->
		</style>
	<!-- InstanceEndEditable -->
	</head>

	<body>
<b style="font-size:12pt">{title}</b><br><br>
		<div id="wrapper">
			
			<!-- Content -->
			<div id="content" style="color:black">
				<a id="aContent"></a>
				<!-- InstanceBeginEditable name="Content" -->
				{content}
				<!-- InstanceEndEditable -->

			</div>
	
		</div>
<br>
			<form><input type=button value="Back to website" onClick="history.back();"></form>
	
	</body>
	
<!-- InstanceEnd --></html>
