  /*
   * RedCMS Default Style v1.0
   *
   * Description: This is the RedCMS css file, it contains
   * the layout, style and colours of the website.
   *
   * Customise: make a copy of this file, and change the 
   * colours/fonts etc... 
   *
   */

  /* The main setup of the page */
  body {

    background-color: #cccccc;
    font-family: Verdana, Arial, helvetica, 'impact';
    font-size: 10px;
    color: #000000;

  }

  /* RedNews: The style of each redNews article box */
  .redNewsBox {

    width: 500px;
    background-color: #CCCCCC;
    border: 1px solid #000;
    padding: 5px;

  }

  /* RedNews: The style of each redNews article title */
  .redNewsTitle {

    font-weight: bold;
    font-size: 12px;
    border-bottom: 2px solid #000;

  }

  /* FORMS: The style of each form box */
  .redFormBox {

    width: 500px;
    background-color: #CCCCCC;
    border: 1px solid #000;
    padding: 5px;

  }

  /* FORMS: The style of a button, textarea and any input box */
  button,input,textarea,select,option { 
    background-color: #fff;
    font-family: Verdana, Arial, helvetica, 'impact';
    font-size: 10px;
    color: #000000;
    border: 1px solid #000;
  }

  /* TABLE: The style of the table */
  table {

    /*width: 80%;*/

  }

  /* TABLE: The style of every cell */
  td {

    font-family: Verdana, Arial, helvetica, 'impact';
    font-size: 10px;

  }
 
  /* TABLE: The style of every cell */
  td.td1 {

    border: 1px solid #000;    
    font-family: Verdana, Arial, helvetica, 'impact';
    font-size: 10px;

  }

  /* TABLE: The header row */
  tr.tr1,td.td1 {

    background-color: #003399; /*666666;*/
    color: #fff;
    font-weight: bold;

  }

  /* TABLE: The title row */
  tr.tr2,td.td2 {

    background-color: #006699; /*999999;*/

  }

  /* TABLE: The content rows */
  tr.tr3,td.td3 {

    background-color: #556699; /*CCCCCC;*/

  }

  a:link {
    color: #000000;
  }

  a:visited {
    color: #000000;
  }

  a:active {
    color: #4c4c4c;
  }

  a:hover {
    color: #4c4c4c;
  }

  #head,#nav,#main,#copy {

    position: absolute;
    top: 30px;
    left: 80px;
    width: 600px;
    background-color: #6699CC;
    border: 1px solid #006699;
    border-bottom: 10px solid #006699;
    padding: 5px;

  }

  #head {

    padding-bottom: 0px;

  }

  #nav {

    top: 175px;
    border-bottom: 1px solid #006699;

  }

  #main {

    top: 215px;

  }