<html>
<head>
<meta http-equiv="Content-Language" content="en-us">
<title>ScribbleBoard</title>
<link rel="stylesheet" type="text/css" href="template/style.css">
</head>
<body>
<h1>ScribbleBoard</h1>
<b>Error</b>: <?php echo $error; ?><br><br><a href="javascript:history.back();">Back</a>
<br><br>
<!-- Please be fair and leave in the footer. :/ -->
<center><small>ScribbleBoard <?php echo VERSION; ?> by <a href="http://zabadab.org" target="_blank">Zabadab</a>, December 2005.</small></center>
</body>
</html>