<html>
<head>
<meta http-equiv="Content-Language" content="en-us">
<title>ScribbleBoard</title>
<link rel="stylesheet" type="text/css" href="template/style.css">
</head>
<body>
<h1>ScribbleBoard</h1>
<center><a href="postform.php"><img class="board" border="0" ismap height="480" width="660" src="board.php?<?php echo $random; ?>"></a><br><br>
Click on the image to add your message.<br><br>
<!-- Please be fair and leave in the footer. :/ -->
<center><small>ScribbleBoard <?php echo VERSION; ?> by <a href="http://zabadab.org" target="_blank">Zabadab</a>, December 2005.</small></center>
</center>
</body>
</html>