UL    { FONT-FAMILY: tahoma, arial, helvetica, sans-serif; FONT-SIZE: 9pt;}
LI    { FONT-FAMILY: tahoma, arial, helvetica, sans-serif; FONT-SIZE: 9pt;}
P   { FONT-FAMILY: tahoma, arial, helvetica, sans-serif; FONT-SIZE: 9pt; COLOR: 444444}
TD { COLOR: 444444; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; FONT-SIZE: 9pt;}

SELECT {
FONT-FAMILY: tahoma, arial, helvetica, sans-serif; 
BACKGROUND-COLOR: #ffffff; 
COLOR: #000000;
FONT-SIZE: 9pt; border: 1px #CCCCCC groove}
INPUT     {
FONT-SIZE: 9pt
color: #000000; 
background-color: #EEEEEE; 
FONT-FAMILY: tahoma, arial, helvetica, sans-serif;
}
TEXTAREA  {BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-FAMILY: tahoma, arial, helvetica, sans-serif;  }
TEXTAREA.code {BACKGROUND-COLOR: #ffffff; COLOR: #000000; FONT-FAMILY: Courier New, Tahoma, Verdana; FONT-SIZE: 9pt; border: 1px #CCCCCC groove}

OPTION    {FONT-SIZE: 0.8em; BACKGROUND-COLOR: #F3F3F3; COLOR: #51485f;}
FORM    {FONT-FAMILY: Tahoma, Verdana; font-style: normal; line-height: normal; font-weight: normal;}
A:active {color:#444444 }
A:visited { color:#444444; text-decoration: none}
A:hover { color:#444444; text-decoration: underline}
A:link { color:#444444; text-decoration: none}

.smalltext { COLOR: #333333; font-size:8pt; font-family: verdana,arial,sans-serif; }

.topicrow { COLOR: #FFFFFF; font-family: verdana,arial,sans-serif; font-size: 8pt; font-weight:bold}
.topicrow:link { COLOR: #FFFFFF; font-size: 8pt; font-weight:bold}
.topicrow:visited {	COLOR: #FFFFFF; font-weight:bold; font-family: Verdana,arial,sans-serif;}
.topicrow:active {	COLOR: #FFFFFF; font-weight:bold; font-family: Verdana,arial,sans-serif;}
.topicrow:hover {	COLOR: #FFFFFF; font-weight:bold; font-family: Verdana,arial,sans-serif;}

.caterow {COLOR: #FFFFFF; font-weight: bold; font-family: Verdana,arial,sans-serif; font-size:8pt; }
.caterow:link {COLOR: #FFFFFF; font-weight: bold;font-family: Verdana,arial,sans-serif;font-size:8pt; }
.caterow:visited { COLOR: #FFFFFF; font-weight: bold;font-family: Verdana,arial,sans-serif;font-size:8pt;}
.caterow:active { COLOR: #FFFFFF; font-weight: bold;font-family: Verdana,arial,sans-serif;font-size:8pt;}
.caterow:hover { COLOR: #FFFFFF; font-weight: bold;font-family: Verdana,arial,sans-serif;font-size:8pt;}

.forumname { COLOR:#465584; font-weight: bold;}

.barText {
	FONT-FAMILY: Verdana, Tahoma; FONT-SIZE: 10px
}
.barInputText {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: #dedede 1px solid; BORDER-LEFT: #dedede 1px solid; BORDER-RIGHT: #dedede 1px solid; BORDER-TOP: #dedede 1px solid; FONT-FAMILY: Tahoma, Verdana; FONT-SIZE: 9px; HEIGHT: 16px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px; WIDTH: 60px
}
.barInputImage {
	VERTICAL-ALIGN: middle
}
.smlbtnStyle {
Font-size: 8pt;
color: #333333; 
background-color: #FFFFFF; 
FONT-FAMILY: verdana, arial, helvetica, sans-serif;}

body
{
color:#000000;
font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
margin-top:0px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
text-decoration:none;
scrollbar-face-color: #336699;
scrollbar-shadow-color: #98B2CC;
scrollbar-highlight-color:#000000;
scrollbar-3dlight-color: #98B2CC;
scrollbar-darkshadow-color:#000000;
scrollbar-track-color: #98B2CC;
scrollbar-arrow-color:#FFFFFF;
}

.thread {	COLOR: #000000; TEXT-DECORATION: none}
.thread:link {	COLOR: #000000; TEXT-DECORATION: none}
.thread:visited {	COLOR: #000000; TEXT-DECORATION: none}
.thread:active {	COLOR: #000000; TEXT-DECORATION: none}
.thread:hover {	COLOR: #465584; TEXT-DECORATION: underline}


.nav {	COLOR: #444444; TEXT-DECORATION: underline}
.nav:link {	COLOR: #444444; TEXT-DECORATION: none}
.nav:visited {	COLOR: #444444; TEXT-DECORATION: none}
.nav:active {	COLOR: #444444; TEXT-DECORATION: none}
.nav:hover {	COLOR: #444444; TEXT-DECORATION: none}
.topic { TEXT-DECORATION: none }
.topic:link {	COLOR: #000000; TEXT-DECORATION: none}
.topic:visited {	COLOR: #000000; TEXT-DECORATION: none}
.topic:active {	COLOR: #000000; TEXT-DECORATION: none}
.topic:hover {	COLOR: #FF4400; TEXT-DECORATION: none}
.mod {	COLOR: #000000; TEXT-DECORATION: none}
.mod:link {	COLOR: #000000; TEXT-DECORATION: none}
.mod:visited {	COLOR: #000000; TEXT-DECORATION: none}
.mod:active {	COLOR: #000000; TEXT-DECORATION: none}
.mod:hover {	COLOR: #FF4400; TEXT-DECORATION: none}
.curpage {	COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none}
.page {	COLOR: #ff4400; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none}
.page:link {	COLOR: #465584; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none}
.page:visited {	COLOR: #465584; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none}
.page:active {	COLOR: #000000; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: none}
.page:hover {	COLOR: #000000; FONT-FAMILY: Tahoma, Verdana; TEXT-DECORATION: underline}
.subject {	}
.text {	COLOR: #000000;}
.codeStyle {	BACKGROUND-COLOR: #000000; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 0pt; MARGIN-TOP: 1em; PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; PADDING-TOP: 0.5em}
.verysmalltext {	COLOR: #000000; FONT-SIZE: 4px}
.member {	COLOR: #003063; FONT-FAMILY: Tahoma, Verdana;}
