body
{
  margin: 10px;
  background-color: #F2F2F2;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

table
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

input, textarea, select
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

a:link, a:visited, a:active
{
  text-decoration: underline;
  color: #000000;
}

a:hover
{
  text-decoration: none;
  color: #000000;
}

.menusel
{
  font-weight: bold;
  background-color: #BEB5DB;
}

.menunosel
{
  font-weight: bold;
  background-color: #FFFFFF;
}

.menuover
{
  font-weight: bold;
  background-color: #F2F2F2;
}

a.menu:link, a.menu:visited, a.menu:active
{
  text-decoration: none;
}

a.menu:hover
{
  text-decoration: none;
}

a.topmenu:link, a.topmenu:visited, a.topmenu:active
{
  text-decoration: none;
}

a.topmenu:hover
{
  text-decoration: underline;
}

.formtbl
{
  background-color: #000000;
}

table.area
{
  background-color: #000000;
}

tr.area
{
  background-color: #FFFFFF;
}

.header
{
  font-weight: bold;
  background-color: #BEB5DB;
}

.altfirst
{
  background-color: #F2F2F2;
}

.altsecond
{
  background-color: #FFFFFF;
}