BODY {color:#000000; background-color: #FFFFFF; font-family: Arial,Helvetica,Sans-Serif;}
TABLE.template{color:#FFFFFF; background-color:#666666; width:750px; border-style:none; margin-left:auto; margin-right:auto;}
TABLE.credits{color:#FFFFFF; background-color:#000000; width:100%; border-style:none; margin-left:auto; margin-right:auto;}
TR.rowheader{color:#FFFFFF; background-color:#666666; font-size:10pt; font-weight:bold;}
TR.rowprimary{color:#000000; background-color:#E9E9E9; font-size:10pt;}
TR.rowsecondary{color:#000000; background-color:#FFFFFF; font-size:10pt;}
TD.header{color:#000000; background-color:#FFFFFF;}
TD.nav{color:#000000; background-color:#FFFFFF; width:150px;}
TD.main{color:#000000; background-color:#FFFFFF; width:600px;}
TD.footer{color:#000000; background-color:#FFFFFF;}
TD.cellheader {color:#FFFFFF; background-color:#666666; font-size:10pt; font-weight:bold;}
TD.cellprimary {color:#000000; background-color:#E9E9E9; font-size:10pt;}
TD.cellsecondary {color:#000000; background-color:#FFFFFF; font-size:10pt;}

a:link {color:#333399; background-color:transparent;}
a:visited {color:#333366; background-color:transparent;}
a:active {color:#6666FF; background-color:transparent;}
a:hover {color:#6666FF; background-color:transparent; text-decoration:none;}

.bodyheader {color:#333333; background-color:#FFFFFF; font-size:18pt; font-weight:bold;}

.bodysm {color:#333333; background-color:#FFFFFF; font-size:8pt; font-weight:normal;}
.bodysmbold {color:#333333; background-color:#FFFFFF; font-size:8pt; font-weight:bold;}
.bodymd {color:#333333; background-color:#FFFFFF; font-size:10pt;  font-weight:normal;}
.bodymdbold {color:#333333; background-color:#FFFFFF; font-size:10pt; font-weight:bold;}
.bodylg {color:#333333; background-color:#FFFFFF; font-size:12pt; font-weight:normal;}
.bodylgbold {color:#333333; background-color:#FFFFFF; font-size:12pt; font-weight:bold;}

a.adminbtn:link{display:block;padding:1px;text-decoration:none;font-size:8pt;color:#000000;background-color:#C0C0C0;border-color:#000000;border-style:solid;border-width:1px;}
a.adminbtn:visited{display:block;padding:1px;text-decoration:none;font-size:8pt;color:#000000;background-color:#C0C0C0;border-color:#000000;border-style:solid;border-width:1px;}
a.adminbtn:active{display:block;padding:1px;text-decoration:none;font-size:8pt;color:#000000;background-color:#C0C0C0;border-color:#000000;border-style:solid;border-width:1px;}
a.adminbtn:hover{display:block;padding:1px;text-decoration:none;font-size:8pt;color:#666666;background-color:#E9E9E9;border-color:#666666;border-style:solid;border-width:1px;}