BODY {
	background-color: White;
        color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: x-small;

}
A {
	color: Blue;
	text-decoration: none;
}

A:HOVER {
	color: Red;
	text-decoration: underline;
}

.button {BACKGROUND-COLOR: DarkBlue; BORDER-BOTTOM-COLOR: Black; BORDER-LEFT-COLOR: Black; BORDER-RIGHT-COLOR: Black; 
        BORDER-TOP-COLOR: Black; COLOR: White; FONT-FAMILY: Verdana,Helvetica;}