/*  ##############################################
   ### MySource ------------------------------###
  ##- Site Design Xtra --- CSS ---------------##
 #-- Copyright Squiz.net ---------------------#
##############################################
## This file is subject to version 1.0 of the
## MySource License, that is bundled with
## this package in the file LICENSE, and is
## available at through the world-wide-web at
## http://mysource.squiz.net/
## If you did not receive a copy of the MySource
## license and are unable to obtain it through
## the world-wide-web, please contact us at
## mysource@squiz.net so we can mail you a copy
## immediately.
##
## File: xtras/site/designs/classic
## Desc: CSS File for classic site design
## $Source: /home/cvsroot/xtras/site/extensions/frames/sample_designs/nav_refresh/images/styles.css,v $
## $Revision: 2.0 $
## $Author: agland $
## $Date: 2001/12/18 06:03:43 $
#######################################################################
*/

body,p,td,ul,li,input,select {
  color: #000000;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.topnav, .topnav-current {
  color: #113262;
	background-color: #8ed93c;
  font-family: Verdana, Helvetica, Arial, san-serif;
  font-size: 11px;
  font-weight: bold;  
  text-decoration: none;
}

.sidenav, .sidenav-current {
  color: #113262;
  font-weight: bold;
  text-decoration: none;
  font-family: Verdana, Helvetica, Arial, san-serif;
  font-size: 11px;
}

.topnav:hover, 
.sidenav:hover,
.sidenav-current:hover,
.login:hover {
  text-decoration: underline;
}

.smallprint {
  font-size: 11px;
}

.fineprint {
  font-size: 10px;
}

h1, .mainheading {
  color: #113262;
  font-weight: bold;
  font-size: 16px;
}

h2, .heading {
  font-weight: bold;
  font-size: 14px;
}

h3, .subheading {
  font-weight: bold;
  font-size: 12px;
}

a {
  color: #000000;
}

.search, input.search {
  color: #ffffff;
  font-family: Verdana, Helvetica, Arial, san-serif;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}
input.search {
  color: #000000;
}
