<html>
<head>
<title>Startseite</title>
<style>
<!--
a: link     { color:#000000; text-decoration: none      }
a: hover    { color:#000000; text-decoration: underline }
a: active   { color:#000000; text-decoration: none      }
a: visited  { color:#000000; text-decoration: none      }

a.lbutton: link     { color:#ffffff; text-decoration: none      }
a.lbutton: hover    { color:#ffffff; text-decoration: none      }
a.lbutton: active   { color:#ffffff; text-decoration: none      }
a.lbutton: visited  { color:#ffffff; text-decoration: none      }
-->
</style>
<SCRIPT language=javascript>
<!--

function LmOver(elem, clr)
{elem.style.backgroundColor = clr;}

function LmOut(elem, clr)
{elem.style.backgroundColor = clr;}

function LmDown(elem, clr)
{elem.style.backgroundColor = clr;}

//-->
</SCRIPT>
</head>
<body background="bkg.gif">
<center>
<script language="javascript" src="brotator.php"></script>
<br>
<br>
<table width="80%" cellspacing="1" bgcolor="#000000"
<tr>
 <td background="templates/standard/table.gif"><font face="arial" size="2" color="#ffffff">&nbsp;<b>Welcome</b></font></td>
</tr>
<tr>
 <td bgcolor="#336699" align="center"><font face="arial" size="2" color="#ffffff"><br>Welcome, %USER%!<br><br>You have got <b>%ANZAHL%</b> new E-Mail(s).
<br>
<br>
Quota:
<br>
%SPEICHER%
<br>
<br>
<table cellspacing="0">
<tr>
 <td width="100" align="center">
<table cellspacing="1" bgcolor="#ffffff">
<tr>
 <td width="100" height="60" align="center" valign="middle" bgcolor="#0066CC" onMouseover="LmOver(this, '#003366')" onMouseout="LmOut(this, '#0066CC')" onMouseDown="LmDown(this, '#003366')"><center><a href="inbox.php" class="lbutton"><img src="templates/standard/inbox.gif" border="0"><br><font face="verdana" size="2" color="#ffffff">Inbox</font></a></center></td>
</tr>
</table>
 </td>
 <td width="35" align="center">&nbsp;</td>
 <td width="100" align="center">
<table cellspacing="1" bgcolor="#ffffff">
<tr>
 <td width="100" height="60" align="center" valign="middle" bgcolor="#0066CC" onMouseover="LmOver(this, '#003366')" onMouseout="LmOut(this, '#0066CC')" onMouseDown="LmDown(this, '#003366')"><center><a href="compose.php" class="lbutton"><img src="templates/standard/compose.gif" border="0"><br><font face="verdana" size="2" color="#ffffff">Compose</font></a></center></td>
</tr>
</table>
 </td>
 <td width="35" align="center">&nbsp;</td>
 <td width="100" align="center">
<table cellspacing="1" bgcolor="#ffffff">
<tr>
 <td width="100" height="60" align="center" valign="middle" bgcolor="#0066CC" onMouseover="LmOver(this, '#003366')" onMouseout="LmOut(this, '#0066CC')" onMouseDown="LmDown(this, '#003366')"><center><a href="adressen.php" class="lbutton"><img src="templates/standard/address.gif" border="0"><br><font face="verdana" size="2" color="#ffffff">Address Book</font></a></center></td>
</tr>
</table>
 </td>
</tr>
<tr>
<td colspan="5">&nbsp;</td>
</tr>
<tr>
 <td width="100" align="center">
<table cellspacing="1" bgcolor="#ffffff">
<tr>
 <td width="100" height="60" align="center" valign="middle" bgcolor="#0066CC" onMouseover="LmOver(this, '#003366')" onMouseout="LmOut(this, '#0066CC')" onMouseDown="LmDown(this, '#003366')"><center><a href="ordner.php" class="lbutton"><img src="templates/standard/folders.gif" border="0"><br><font face="verdana" size="2" color="#ffffff">Folders</font></a></center></td>
</tr>
</table>
 </td>
 <td width="35" align="center">&nbsp;</td>
 <td width="100" align="center">
<table cellspacing="1" bgcolor="#ffffff">
<tr>
 <td width="100" height="60" align="center" valign="middle" bgcolor="#0066CC" onMouseover="LmOver(this, '#003366')" onMouseout="LmOut(this, '#0066CC')" onMouseDown="LmDown(this, '#003366')"><center><a href="outbox.php" class="lbutton"><img src="templates/standard/outbox.gif" border="0"><br><font face="verdana" size="2" color="#ffffff">Outbox</font></a></center></td>
</tr>
</table>
 </td>
 <td width="35" align="center">&nbsp;</td>
 <td width="100" align="center">
<table cellspacing="1" bgcolor="#ffffff">
<tr>
 <td width="100" height="60" align="center" valign="middle" bgcolor="#0066CC" onMouseover="LmOver(this, '#003366')" onMouseout="LmOut(this, '#0066CC')" onMouseDown="LmDown(this, '#003366')"><center><a href="logout.php" class="lbutton"><img src="templates/standard/logout.gif" border="0"><br><font face="verdana" size="2" color="#ffffff">Logout</font></a></center></td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<br>
</font></td>
</tr>
</table>
<br>
<font face="tahoma" size="1">%COPYRIGHT%</font>
</center>
</body>
</html>