<DIV ALIGN="center">
  <CENTER>
  <TABLE BORDER="1" WIDTH="600" CELLSPACING="0" CELLPADDING="3">
    <TR>
      <TD WIDTH="100%" COLSPAN="2"><<account_name_label>> <B><!--User_ID--></B></TD>
    </TR>
    <TR>
      <TD WIDTH="40%" ALIGN="right"><<current_balance_label>></TD>
      <TD WIDTH="50%"><!--Current_Balance--></TD>
    </TR>
    <TR>
      <TD WIDTH="40%" ALIGN="right"><<first_name_label>></TD>
      <TD WIDTH="50%"><!--First_Name--></TD>
    </TR>
    <TR>
      <TD WIDTH="40%" ALIGN="right"><<last_name_label>></TD>
      <TD WIDTH="50%"><!--Last_Name--></TD>
    </TR>
    <TR>
      <TD WIDTH="40%" ALIGN="right"><<company_label>></TD>
      <TD WIDTH="50%"><!--Company--></TD>
    </TR>
    <TR>
      <TD WIDTH="40%" ALIGN="right"><<street_address_label>></TD>
      <TD WIDTH="50%"><!--Street_Address--></TD>
    </TR>
    <TR>
      <TD WIDTH="40%" ALIGN="right"><<city_label>></TD>
      <TD WIDTH="50%"><!--City--></TD>
    </TR>
    <TR>
      <TD WIDTH="40%" ALIGN="right"><<state_label>></TD>
      <TD WIDTH="50%"><!--State--></TD>
    </TR>
    <TR>
      <TD WIDTH="40%" ALIGN="right"><<zip_label>></TD>
      <TD WIDTH="50%"><!--Zip--></TD>
    </TR>
    <TR>
      <TD WIDTH="40%" ALIGN="right"><<country_label>></TD>
      <TD WIDTH="50%"><!--Country--></TD>
    </TR>
    <TR>
      <TD WIDTH="40%" ALIGN="right"><<email_label>></TD>
      <TD WIDTH="50%"><!--Email--></TD>
    </TR>
    <TR>
      <TD WIDTH="40%" ALIGN="right"><<phone_label>></TD>
      <TD WIDTH="50%"><!--Phone--></TD>
    </TR>
    <TR>
      <TD WIDTH="40%" ALIGN="right"><<payment_menthod_label>></TD>
      <TD WIDTH="50%"><!--Payment_Menthod--></TD>
    </TR>
    <TR>
      <TD WIDTH="40%" ALIGN="right"><<name_on_card_label>></TD>
      <TD WIDTH="50%"><!--CC_Name--></TD>
    </TR>
    <TR>
      <TD WIDTH="40%" ALIGN="right"><<cc_info_label>></TD>
      <TD WIDTH="50%"><!--CC_Info--></TD>
    </TR>
    <TR>
      <TD WIDTH="40%" ALIGN="right">&nbsp;</TD>
      <TD WIDTH="50%">&nbsp;</TD>
    </TR>
  </TABLE>
  </CENTER>
</DIV>
