<!--CLASS::Header-->
<!--CLASS::Top_Navigation-->
<!--CLASS::General-->
<!-------------------------------------------------->
<P ALIGN="center"><FONT COLOR="RED" SIZE="5"><B><<account_manager_page_titel>></B></FONT> 

<DIV ALIGN="center">
  <CENTER>
  <TABLE BORDER="0" WIDTH="600" CELLSPACING="0" CELLPADDING="2">
    <TR>
      <TD WIDTH="33%" ALIGN="center"><!--CLASS::Account_Overview--></TD>
      <TD WIDTH="33%" ALIGN="center"><!--CLASS::Account_Activity--></TD>
      <TD WIDTH="33%" ALIGN="center"><!--CLASS::Account_Edit_Profile--></TD>
    </TR>
  </TABLE>
  </CENTER>
</DIV>

<DIV ALIGN="center">
  <CENTER>
  <TABLE BORDER="0" WIDTH="600" CELLSPACING="0" CELLPADDING="2">
	<TR>
      <TD WIDTH="33%" ALIGN="center"><!--CLASS::Account_Current_Auctions--></TD>
      <TD WIDTH="33%" ALIGN="center"><!--CLASS::Account_Closed_Auctions--></TD>
      <TD WIDTH="33%" ALIGN="center"><!--CLASS::Account_Feedback_profile--></TD>
    </TR>
  </TABLE>
  </CENTER>
</DIV>

<DIV ALIGN="center">
  <CENTER>
  <TABLE BORDER="0" WIDTH="600" CELLSPACING="0" CELLPADDING="2">
	<TR><TD WIDTH="600" BGCOLOR="red"></TD></TR>
  </TABLE>
  </CENTER>
</DIV>

<TABLE BORDER="0" ALIGN="center" VALIGN="middle" WIDTH="100%" CELLSPACING="1" CELLPADDING="4">
  <TR>
    <TD WIDTH="100%">

      <!--CLASS::Body-->

    </TD>
  </TR>
</TABLE>
<!-------------------------------------------------->
<!--CLASS::Bottom_Navigation-->
<!--CLASS::Footer-->