<DIV ALIGN="center">
  <CENTER>
  <TABLE BORDER="01" WIDTH="100%" CELLSPACING="0" BORDERCOLOR="#EBEBD6" CELLPADDING="5">
    <TR>
      <TD WIDTH="7%" ALIGN="center" NOWRAP BGCOLOR="#A5CE80"><<counter_header>></TD>
      <TD WIDTH="15%" ALIGN="center" BGCOLOR="#A5CE80"><<date_header>></TD>
      <TD WIDTH="25%" ALIGN="center" NOWRAP BGCOLOR="#A5CE80"><<transaction_header>></TD>
      <TD WIDTH="15%" ALIGN="center" NOWRAP BGCOLOR="#A5CE80"><<item_header>></TD>
      <TD WIDTH="10%" ALIGN="center" NOWRAP BGCOLOR="#A5CE80"><<credit_header>></TD>
      <TD WIDTH="10%" ALIGN="center" NOWRAP BGCOLOR="#A5CE80"><<debit_header>></TD>
      <TD WIDTH="10%" ALIGN="center" NOWRAP BGCOLOR="#A5CE80"><<balance_header>></TD>
    </TR>

<!--CLASS::Activity_List-->

	<TR>
      <TD WIDTH="100%" ALIGN="center" NOWRAP COLSPAN="7">
				<!--No_Transaction-->
		</TD>
    </TR>

	<TR>
      <TD WIDTH="50%" ALIGN="center" NOWRAP COLSPAN="4">
	  <!--Showing_Page-->
	  </TD>
      <TD WIDTH="100%" ALIGN="right" NOWRAP COLSPAN="3">
				<<activity_current_balance>>
				<!--Current_Balance-->&nbsp;&nbsp;
		</TD>
    </TR>
	<TR>
      <TD WIDTH="100%" ALIGN="right" NOWRAP COLSPAN="7">
				<!--Previous_Page-->&nbsp;&nbsp;
				<!--Next_Page-->&nbsp;&nbsp;
		</TD>
    </TR>
  </TABLE>
  </CENTER>
</DIV>
