<!--CLASS::Header-->
<!--CLASS::Top_Navigation-->
<!-------------------------------------------------->
<table width="100%">
<tr><td  align="right">
<<main_search_label>>
</td>
<td >
<p align="left">
<!--CLASS::Search_Category:20-->
</p>
</td>
<td align="left">
<!--CLASS::Search_Help_Link-->
</td>

<td align="right">
<p align="right">

<!--CLASS::Date_Time:9--><br>

</p>
</td></tr>
</table>

<DIV   ALIGN=CENTER>
<TABLE BGCOLOR="#FFFFFF" BORDER=0 ALIGN="CENTER" VALIGN="MIDDLE" WIDTH="100%" CELLSPACING="1" CELLPADDING="5">
<TR WIDTH="100%"><TD WIDTH=100%  HIEGHT="10" BGCOLOR="RED">
</TD></TR>

<TR WIDTH="100%"><TD WIDTH=100%  BGCOLOR="#EDEDDC">
<B><!--CLASS::Menu_Bar--></B>
</TD></TR>

<TR WIDTH="100%" >
<TD ALIGN="CENTER" WIDTH="100%" VALIGN=TOP BGCOLOR="#FFFFE8">

<!--CLASS::Categories-->

</TD></TR>

<TR WIDTH="100%"><TD WIDTH="100%"  HIEGHT="10" BGCOLOR="RED">
</TD></TR>

 <TR>
    <TD BGCOLOR="#008080" HEIGHT="19">
      <p align="center"><b><font color="#FFFFFF" size="5"><!--ITEM_TITLE--></font></b>
      </TD>
  </TR>
  <TR>
    <TD BGCOLOR="#E1E1C4" HEIGHT="19">
      <p align="center"><b><<item_id_label>> <!--ITEM_ID--> &nbsp; <!--GIFT_ICON-->&nbsp;<!--FEATURED--></b>
      </TD>
  </TR>

<TR   WIDTH="100%">
  <TD WIDTH="100%">

   <TABLE BORDER="0" WIDTH="100%">
	<TR WIDTH="100%">
                <TD WIDTH="50%">

	    <TABLE BORDER="0" WIDTH="100%">
              <tr>
                <TD VALIGN="MIDDLE" ALIGN="LEFT" BGCOLOR="#FFFFD2" HEIGHT="21">
                  <p align="left"><font color="#000080"><<current_bid_label>></font></p>
                </td>
                <td valign="middle" align="left" bgcolor="#DFFFE8" height="21">
		<font color="#000000"><!--CURRENT_BID--></font></td>
              </tr>
              <tr>
                <td  valign="middle" align="left" bgcolor="#FFFFD2" height="21"><font face="Times New Roman" color="#000080"><<bid_increment>></font></td>
                <td  valign="middle" align="left" bgcolor="#DFFFE8" height="21">
		<font face="Times New Roman" color="#000000"><!--BID_INCREMENT--></font></td>
              </tr>
              <tr>
                <td  valign="middle" align="left" bgcolor="#FFFFD2" height="21"><font face="Times New Roman" color="#000080"><<quantity_label>>&nbsp;</font></td>
                <td  valign="middle" align="left" bgcolor="#DFFFE8" height="21">
		<font color="#000000" face="Times New Roman"><!--QUANTITY--></font></td>
              </tr>
              <tr>
                <td valign="middle" align="left" bgcolor="#FFFFD2" height="21">
                  <p align="left"><font face="Times New Roman" color="#000080"><<time_left_label>></font></td>
                <td  valign="middle" align="left" bgcolor="#DFFFE8" height="21">
		<font color="#000000"><!--TIME_LEFT--> <!--COUNT_DOWN_TICKER--></font></td>
              </tr>
              <tr>
                <td  valign="middle" align="left" bgcolor="#FFFFD2" height="21"><font face="Times New Roman" color="#000080"><<start_time_label>></font></td>
                <td  valign="middle" align="left" bgcolor="#DFFFE8" height="21">
		<font color="#000000" face="Times New Roman"><!--START_TIME--></font></td>
              </tr>
              <tr>
                <td valign="middle" align="left" bgcolor="#FFFFD2" height="21"><font face="Times New Roman" color="#000080"><<end_time_label>></font></td>
                <td  valign="middle" align="left" bgcolor="#DFFFE8" height="21">
		<font color="#000000" face="Times New Roman"><!--END_TIME--></font></td>
              </tr>

              <tr>
                <td valign="middle" align="left" bgcolor="#FFFFD2" height="21">
		<font face="Times New Roman" color="#000080"><<time_now_label>></font></td>
                <td  valign="middle" align="left" bgcolor="#DFFFE8" height="21">
		<font color="#000000" face="Times New Roman"><!--TIME_NOW--></font></td>
              </tr>

              <tr>
                <td  valign="middle" align="left" bgcolor="#FFFFD2" height="19">&nbsp;</td>
                <td  valign="middle" align="left" bgcolor="#DFFFE8" height="19">&nbsp;</td>
              </tr>
            </table>
  </TD>

  <TD  VALIGN="TOP" ALIGN="LEFT" WIDTH="50%">
            <table border="0" width="100%">
              <tr>
                <td width="50%" valign="middle" align="left" height="21" bgcolor="#FFFFD2"><<start_bid_label>></td>
                <td valign="middle" align="left" height="21" bgcolor="#DFFFE8">
		<font color="#000000"><!--START_BID--></font></td>
              </tr>
              <tr>
                <td  width="50%" valign="middle" align="left" height="21" bgcolor="#FFFFD2"><<num_of_bids_label>></td>
                <td valign="middle" align="left" height="21" bgcolor="#DFFFE8">
		<font color="#000000"><!--BIDS--></font></td>
              </tr>
              <tr>
                <td  width="50%" valign="middle" align="left" height="21" bgcolor="#FFFFD2"><<location_label>></td>
                <td valign="middle" align="left" height="21" bgcolor="#DFFFE8">
		<font color="#000000"><!--LOCATION--></font></td>
              </tr>
              <tr>
                <td  width="50%" valign="middle" align="left" height="21" bgcolor="#FFFFD2"><<country_label>></td>
                <td valign="middle" align="left" height="21" bgcolor="#DFFFE8">
		<font color="#000000"><!--COUNTRY--></font></td>
              </tr>

              <tr>
                <td  width="50%" valign="middle" align="left" height="21" bgcolor="#FFFFD2"><<language_label>></td>
                <td valign="middle" align="left" height="21" bgcolor="#DFFFE8">
		<font color="#000000"><!--LANGUAGE--></font></td>
              </tr>

              <tr>
                <td valign="middle" align="left" height="21" bgcolor="#FFFFD2" colspan=2>
		<!--FEATURED_HOMEPAGE-->
		</td>
              </tr>

	      <tr>
                <td valign="middle" align="left" height="21" bgcolor="#FFFFD2" colspan=2>
		<!--FEATURED_CATEGORY-->
		</td>
              </tr>

              <tr>
                <td valign="middle" align="left" height="1" colspan="2" bgcolor="#FFFFD9">
		<!--EMAIL_to_FRIEND-->
		</td>
              </tr>
            </table>
</TD>
</TR>
</TABLE>

</TD>
</TR>

<TR width="100%"><TD width=100%  hieght="10" bgcolor="red">
</TD></TR>

 <TR>
    <TD BGCOLOR="#FFD9D9" HEIGHT="19">
      <p align="center"><b><font color="#006600" size="5">
      
      <!--PAGE_TITLE->
      
      </font></b>
      </TD>
  </TR>

<TR width="100%"><TD width=100% >

<TABLE BORDER=0 WIDTH="100%" cellspacing="0" cellpadding="3">
<TR BGCOLOR="#ccccff">
<td align="left"><b><<user_id_header>></b></td>
<td align="left"><b><<comments_header>></b></td>
<td align="center"><b><<bid_amount_header>></b></td>
<td align="center"><b><<bid_quantity_header>></b></td>
<td align="center"><b><<win_quantity_header>></b></td>
<td align="center"><b><<bid_time_header>></b></td>
</TR>

<!--CLASS::Bids_Listing-->

<TR BGCOLOR="#ccccff" height="5" width="100%"><TD  colspan="6">
</TD >
</TR>
</TABLE>

</TD></TR>
</TABLE>
</DIV>
<!-------------------------------------------------->
<br>
<!--CLASS::Benchmark--><<seconds_consumed>>
<br>
<!--CLASS::Bottom_Navigation-->
<!--CLASS::Footer-->