<!--CLASS::Header-->
<!--CLASS::Top_Navigation-->
<!--CLASS::Extra-->
<!-------------------------------------------------------->
<P ALIGN="LEFT"><FONT SIZE="4"><B><!--CLASS::Menu_Bar--></B></FONT>

<DIV   ALIGN=CENTER>
<TABLE BGCOLOR="#FFFFFF" BORDER="0" ALIGN=CENTER VALIGN=MIDDLE WIDTH=100% CELLSPACING="0" CELLPADDING="5">
<TR WIDTH="100%" >
<TD ALIGN="CENTER" WIDTH="100%" VALIGN=TOP BGCOLOR="#FFFFFF">
<!--CLASS::Categories-->
</TD></TR>
<!--------------------------------Featured Category Items------------->
<TR width="100%"><TD width="100%" >
    <TABLE BORDER=0 WIDTH="100%" cellspacing="0" cellpadding="3">
	<TR BGCOLOR="#FFE682"  width="100%">
	<TD colspan="6">
		<b><font color="red" face="Arial, Tahoma, Times">
		<<featured_category_header>>
		</font>
		</b>
	</TD>
	</TR>
	<TR BGCOLOR="#99CC00">
		<TD align="center"><b><<featured_category_photo>></b></TD>
		<TD align="center"><b><<featured_category_title>></b></TD>
		<TD align="right"><b><<featured_category_quantity>></b></TD>
		<TD align="right"><b><<featured_category_current_Bid>></b></TD>
		<TD align="right"><b><<featured_category_bids>></b></TD>
		<td align="right"><b><<featured_category_end_time>></b></td>
	</TR>

	<!--CLASS::Featured_Category_Listing-->

	<TR BGCOLOR="#99CC00"  WIDTH="100%" HEIGHT="5">
	<TD COLSPAN="6">
	</TD>
	</TR>

  </TABLE>

</TD></TR>

<!------------End of Featured Category Items-------------->
<TR width="100%"><TD width="100%"  BGCOLOR="#FFFFFF" HEIGHT="10">
</TD></TR>
<!--------------------------------------------------------->
<TR><TD  WIDTH="100%">
<TABLE  BGCOLOR="#F1F1E4" BORDER="0" WIDTH="100%"><TR WIDTH="100%">
	<TR NOWRAP>
		<TD ALIGN="LEFT"  WIDTH="40%" NOWRAP CELLSPACING="0" CELLPADDING="0"><<showing_page>></TD>
		<TD  ALIGN="RIGHT" NOWRAP><<jump_to_page>></TD>
		<TD  ALIGN="LEFT" NOWRAP><!--CLASS::Page_Select_Menu--></TD>
		<TD  ALIGN="RIGHT" WIDTH="40%" NOWRAP><!--CLASS::Previous_Page--> &nbsp;<!--CLASS::Next_Page--></TD>
	</TR>
</TABLE >
</TD></TR>
<!--------------------------------------------------------->
<TR><TD width="100%">
	<TABLE BORDER=0 WIDTH="100%" cellspacing="0" cellpadding="3">
	<TR BGCOLOR="#ccccff">
	<TD align="center"><b><!--CLASS::Photo_Link--></b></TD>
	<TD align="center"><b><!--CLASS::Title_Link--></b></TD>
	<TD align="right"><b><!--CLASS::Quantity_Link--></b></TD>
	<TD align="right"><b><!--CLASS::Current_Bid_Link--></b></TD>
	<TD align="right"><b><!--CLASS::Bids_Link--></b></TD>
	<TD align="right"><b><!--CLASS::End_Time_Link--></b></TD>
	</TR>

<!--CLASS::Body-->

</TABLE>
</TD></TR>

<TR><TD  WIDTH="100%">
<TABLE  BGCOLOR="#F1F1E4" BORDER="0" WIDTH="100%" CELLSPACING="0" CELLPADDING="0"><TR WIDTH="100%">
	<TR NOWRAP>
		<TD ALIGN="LEFT"  WIDTH="40%" NOWRAP><<showing_page>></TD>
		<TD  ALIGN="RIGHT" NOWRAP><<jump_to_page>></TD>
		<TD  ALIGN="LEFT" NOWRAP><!--CLASS::Page_Select_Menu1--></TD>
		<TD  ALIGN="RIGHT" WIDTH="40%" NOWRAP><!--CLASS::Previous_Page--> &nbsp;<!--CLASS::Next_Page--></TD>
	</TR>
</TABLE >
</TD></TR>
</TABLE >
</DIV>
<!-------------------------------------------------->
<!--CLASS::Featured_Category_Count--><<featured_category_items>>
<!-------------------------------------------------->
<!--CLASS::Bottom_Navigation-->
<!--CLASS::Footer-->