<!--CLASS::Header-->
<!--CLASS::Top_Navigation-->
<!--CLASS::General-->
<!-------------------------------------------------->
<P ALIGN="center"><B><FONT SIZE="5" FACE="Times New Roman" COLOR="#FF0000"><<mail_auction_title>></FONT></B>
<DIV ALIGN="center">
  <CENTER>
  <!--FORM_START-->
  <DIV ALIGN="center">
    <CENTER>
    <TABLE BORDER="0" WIDTH="610" CELLPADDING="6" CELLSPACING="0">
      <TR>
        <TD WIDTH="100%" ALIGN="center"><B>
          <!--ITEM_TITLE--><BR>
          <<item_id_label>> <!--ITEM_ID-->
          </B>
		  
		  </TD>
      </TR>
      <TR>
        <TD WIDTH="100%"><<mail_auction_help>></TD>
      </TR>
      <TR>
        <TD WIDTH="100%">
          <P ALIGN="left"><<friend_email_label>><BR>
          <!--FRIEND_EMAIL-->

        </TD>
      </TR>
      <TR>
        <TD WIDTH="100%"><<optional_message_label>><BR>
              <!--OPTIONAL_MESSAGE-->

        </TD>
      </TR>
      <TR>
        <TD WIDTH="100%" ALIGN="center">
		  <!--SUBMIT_BUTTON-->&nbsp;&nbsp;
		  <!--RESET_BUTTON-->&nbsp;&nbsp;
		  <!--CANCEL_BUTTON-->
        </TD>
      </TR>
    </TABLE>
    </CENTER>
  </DIV>
  <!--FORM_END-->
  </CENTER>
</DIV>
<!-------------------------------------------------->
<!--CLASS::Bottom_Navigation-->
<!--CLASS::Footer-->
