<!--CLASS::Header-->
<!--CLASS::Top_Navigation-->
<!--CLASS::General-->
<!-------------------------------------------------->
<P ALIGN="CENTER"><B><FONT SIZE="5" FACE="TIMES NEW ROMAN" COLOR="RED">
      <<feedback_page_title>><BR><BR>
 </FONT></B>

<div  class="lbx" align=center>
<TABLE BORDER="1" ALIGN=CENTER VALIGN=MIDDLE WIDTH="610" CELLSPACING="0" CELLPADDING="4">
  <TR>  <!--FORM_START-->
  <TD WIDTH="100%" BGCOLOR="#FFFFFF" ALIGN="LEFT">
    <P ALIGN="CENTER">
  
      <TABLE BORDER="0" WIDTH="100%" BGCOLOR="#FFFFFF">
        <TR><TD WIDTH="100%">
	  <<see_user_feedback>>
	  </TD>
        </TR>
        <TR>
          <TD WIDTH="100%">
	  <<user_id_to_see_feedback>>  <!--VIEW_USER_FEEDBACK-->
	  </TD>
        </TR>
            <TR>
              <TD WIDTH="100%" COLSPAN="2" >
                <P ALIGN="CENTER">

		  <!--SUBMIT_BUTTON-->&nbsp;
		  <!--CLEAR_FORM_BUTTON-->&nbsp;
		  <!--CANCEL_BUTTON-->
		  
		  </TD>
		   <!--FORM_END-->
            </TR>
      </TABLE>
    </TD>
  </TR>

  <TR>
    <TD WIDTH="100%" BGCOLOR="#FFFFFF" ALIGN="LEFT">
    <<leave_feedback_help>>
    </TD>
  </TR>

  <TR>
      <!--FORM_STARTX-->
    <TD WIDTH="100%" BGCOLOR="#FFFFFF" ALIGN="CENTER">
          <TABLE BORDER="0" WIDTH="100%">
            <TR><TD WIDTH="50%" BGCOLOR="#FFFFFF">
	      <B><<user_id_to_rate>></B>
	      </TD>
              <TD WIDTH="50%" BGCOLOR="#FFFFFF">
	      <!--USER_ID_TO_RATE-->
	      </TD>
            </TR>
            <TR>
              <TD WIDTH="50%" BGCOLOR="#FFFFFF">
	      <BR><<item_id_number>>	      
	      </TD>
              <TD WIDTH="50%" BGCOLOR="#FFFFFF">
	      <BR>
	      <!--ITEM_ID-->
	      </TD>
            </TR>
            <TR>
              <TD WIDTH="100%" COLSPAN="2" BGCOLOR="#FFFFFF">
	      <BR>
	      <B><<your_rating_label>></B>
		
		<!--POSITIVE--><<positive>>
		<!--NEUTRAL--><<neutral>>
		<!--NEGATIVE--><<negative>>

		<BR><BR>
		</TD>
            </TR>

        <TR>
          <TD WIDTH="100%" COLSPAN="2" BGCOLOR="#FFFFFF">
	      <BR>
	      <B><!--COMMENTS_LABEL--></B>
			
			<!--COMMENTS_BOX-->

		<BR>
		</TD>
      </TR>

	<TR>
              <TD WIDTH="100%" COLSPAN="2" >
                <P ALIGN="CENTER">
			<!--LEAVE_FEEDBACK_SUBMIT_BUTTON-->&nbsp;&nbsp;
			<!--LEAVE_FEEDBACK_CLEAR_FORM_BUTTON-->&nbsp;&nbsp;
			<!--LEAVE_FEEDBACK_CANCEL_BUTTON-->
               </TD>
            </TR>
          </TABLE>
    </TD>
     <!--FORM_END-->
  </TR>
  <TR>
    <TD WIDTH="100%" BGCOLOR="#EEEEEE">
    <<feedback_comments>>
    </TD>
  </TR>
</TABLE>

</TD>
</TR>
</TABLE >
<!-------------------------------------------------->
<!--CLASS::Bottom_Navigation-->
<!--CLASS::Footer-->