<!--CLASS::Header-->
<!--CLASS::Top_Navigation-->
<!-------------------------------------------------->
<DIV ALIGN="center">
  <CENTER>
  <TABLE BORDER="0" WIDTH="610" CELLSPACING="0" CELLPADDING="0" >
    <TR>
      <TD WIDTH="255" VALIGN="top" ALIGN="left">
        <DIV ALIGN="center">
          <CENTER>
          <TABLE BORDER="01" WIDTH="100%" CELLSPACING="0" CELLPADDING="3" BORDERCOLOR="#FFE682">
            <TR>
              <TD WIDTH="100%" BGCOLOR="#FFE682" ALIGN="center">
                <P ALIGN="center"><<categories_header_label>>
		</TD>
            </TR>
            <TR>
              <TD WIDTH="100%">

	      <!--CLASS::Body-->

	      </TD>
            </TR>
            <TR>
              <TD WIDTH="100%" ALIGN="left" BGCOLOR="#D7D7FF">
			<<statistics_label>>
	      </TD>
            </TR>
            <TR> 
              <TD WIDTH="100%">
			<!--CLASS::Categories_Count--> &nbsp;<<categories_count>><BR>
			<!--CLASS::Total_Items_Count--> &nbsp;<<total_items_count>><BR>
			<!--CLASS::Total_Users_Count--> &nbsp;<<total_users_count>><BR>
			<!--CLASS::Featured_Home_Count--><<featured_home_count>><BR>

			<A href="https://www.safeweb.com/o/_i:http://www.mewsoft.com/cgi-bin/auction/auction.cgi?action=Custom&File=Menu&Sub=Menu&Param=Ahmed+Amin+Elsheshtawy&Temp=frontpage">Custom Script</A><BR>

			<!--!CLASS::SSI_Include(ssi_include.txt)-->
			<!--!CLASS::SSI_Exec(/home/www/yourdomain.com/cgi-bin/banner.cgi)-->
			<!--!CLASS::SSI_URL(http://yahoo.com )-->
			<!--!CLASS::SSI_Clip_URL(http://yahoo.com, <b>Media</b>, Fun)--> 
	      </TD>
            </TR>
          </TABLE>
          </CENTER>
        </DIV>
      </TD>
      
      <TD WIDTH="355" VALIGN="top" ALIGN="center">
        <DIV ALIGN="center">
          <CENTER>
          <TABLE BORDER="01" WIDTH="100%" CELLSPACING="0" CELLPADDING="3" BORDERCOLOR="#A5CE80">
            <TR>
              <TD WIDTH="100%" BGCOLOR="#A5CE80">
			<TABLE BORDER="0">
			  <TR>
			    <TD ALIGN="right"><FONT COLOR="black" FACE="Times, Arial, Tahoma" SIZE="3"><<main_search_label>></FONT></TD>
			    <TD>
			      <P ALIGN="left">
				      <!--CLASS::Search_Main:26-->
			      </P>
			    </TD>
			  </TR>
			</TABLE>
	   </TD>
	</TR>

            <TR>
              <TD WIDTH="100%" BGCOLOR="#FF4040">
		<B><FONT COLOR="#000000" FACE="ARIAL, TAHOMA, TIMES">
		<<featured_home_title>>
		</FONT></B>
	</TD>
	</TR>

        <TR>
           <TD WIDTH="100%" BGCOLOR="#FFFFFF">

			<!--CLASS::Featured_Home_Listing-->

	      </TD>
            </TR>
            <TR>
              <TD WIDTH="100%"></TD>
            </TR>
            <TR>
              <TD WIDTH="100%"></TD>
            </TR>
          </TABLE>
          </CENTER>
        </DIV> 
      </TD>
    </TR>
  </TABLE>
  </CENTER>
</DIV>
<!-------------------------------------------------->
<!--CLASS::Bottom_Navigation-->
<!--CLASS::Footer-->