<!--CLASS::Header-->
<!--CLASS::Top_Navigation-->
<!--CLASS::General-->
<!-------------------------------------------------->
<DIV  CLASS="lbx" ALIGN=CENTER>
<TABLE WIDTH="80%" CELLPADDING ="04" CELLSPACING="01" BORDER="0" >
<TR><TD WIDTH="100%" VALIGN="MIDDLE" ALIGN="CENTER" BGCOLOR="#FFFFFF" >
        <B><FONT COLOR="#FF0066" SIZE="4">
	<<main_auctions_help_title>>
	</FONT></B>
  </TD>
</TR>
<TR>
     <TD WIDTH="100%" VALIGN="TOP"><<main_auctions_help_header>></TD>
</TR>
<TR><TD WIDTH="100%" VALIGN="TOP">

<!--CLASS::Body-->

</TD>
</TR>
<TR>
<TD WIDTH="100%" VALIGN="MIDDLE" BGCOLOR="#FFFFFF" ALIGN="CENTER">
        <!--CLASS::Previous_Page_Link-->
</TD>
</TR>
</TABLE>
</DIV>
<!-------------------------------------------------->
<!--CLASS::Bottom_Navigation-->
<!--CLASS::Footer-->