<!--CLASS::Header-->
<!--CLASS::Top_Navigation-->

<!--CLASS::General-->
<!-------------------------------------------------->
<!--FORM_START-->
<P ALIGN="CENTER"><B><FONT SIZE="5" FACE="TIMES NEW ROMAN" COLOR="RED"><<review_bid_page_title>></FONT></B>
<TABLE BORDER="0" WIDTH="80%" CELLSPACING="0" CELLPADDING="4" BGCOLOR="#FFFFFF">
  <TR><TD WIDTH="100%" BGCOLOR="#FFFFFF">
        <<review_bid_help>>
    </TD>
  </TR>
  <TR>
    <TD WIDTH="100%" BGCOLOR="#EDEDDC" ALIGN="CENTER">
    <FONT COLOR="RED" SIZE =4>
    <B><!-ITEM_TITLE--></B>
    </FONT>
    </TD>
  </TR>
  <TR>
    <TD WIDTH="100%" BGCOLOR="#F3F3F3" ALIGN="CENTER">
     <FONT COLOR="BLUE" SIZE =4><B>
    <<item_id_label>>
      <!--ITEM_ID-->
      </B></FONT>
      </TD>
  </TR>
  <TR>
    <TD WIDTH="100%" BGCOLOR="#FFFFFF">
      <TABLE BORDER="0" WIDTH="100%" CELLPADDING="4" CELLSPACING="0">
        <TR><TD WIDTH="40%" BGCOLOR="#FFFFFF" ALIGN="RIGHT">
	  <B>
	  <<quantity_desired>>
	  </B>
	  </TD>
          <TD WIDTH="60%" BGCOLOR="#FFFFFF">
	  <b><!--BID_QUANTITY--></b>
	  </TD>
        </TR>
        <TR>
          <TD WIDTH="40%" BGCOLOR="#FFFFFF" ALIGN="RIGHT">
	  <B> <<bid_per_item_label>> </B>
	  </TD>
          <TD WIDTH="60%" BGCOLOR="#FFFFFF">
	  <B><!--BID_PER_ITEM--></b>
	  </TD>
        </TR>
        <TR>
          <TD WIDTH="40%" BGCOLOR="#FFFFFF" ALIGN="RIGHT">
	  <B><<total_bid_value_label>> </B>
	  </TD>
	  <TD WIDTH="60%" BGCOLOR="#FFFFFF">
	  <B> <!--TOTAL_BID-->&nbsp;  </B>
	  <<total_bid_value_desc>>
	  </TD>
        </TR>
      </TABLE>
    </TD>
  </TR>
  <TR>
    <TD WIDTH="100%">
      <TABLE BORDER="0" WIDTH="100%" BGCOLOR="#FFFFFF" CELLPADDING="5">
        <TR><TD WIDTH="40%" ALIGN="RIGHT">
	  <B><<user_id_label>></B>
	  </TD>
          <TD WIDTH="60%">
	  <!--USER_ID_BOX-->
	  <!--FORGOT_USERNAME-->
	  </TD>
        </TR>
        <TR>
          <TD WIDTH="40%" ALIGN="RIGHT">
	  <B><<user_password_label>></B>
	  </TD><TD WIDTH="60%">
		  <!--USER_PASSWORD_BOX-->
		  <!--FORGOT_PASSWORD-->
	  </TD>
        </TR>
        <TR>
          <TD WIDTH="100%" ALIGN="CENTER" COLSPAN="2">
		  <<remember_login_label>>
		  <!--REMEMBER_LOGIN_BUTTON-->
	  </TD>
        </TR>
      </TABLE>
    </TD>
  </TR>
  <TR>
    <TD WIDTH="100%" ALIGN="CENTER" BGCOLOR="#FFFFFF">
		  <!--SUBMIT_BUTTON-->&nbsp;
		  <!--RESET_BUTTON-->&nbsp;
		  <!--CANCEL_BUTTON-->
    </TD>
  </TR>
  <TR>
    <TD WIDTH="100%" ALIGN="LEFT"><<bidding_tips>></TD>
  </TR>
</TABLE>
<!--FORM_END-->
<br>
<!-------------------------------------------------->
<!--CLASS::Bottom_Navigation-->
<!--CLASS::Footer-->