<!--CLASS::Header-->
<!--CLASS::Top_Navigation-->
<!--CLASS::General-->
<!-------------------------------------------------->
<p align="center"><B><FONT COLOR="red" FACE="Times New Roman" SIZE="5">
<<preview_page_title>>
</FONT></B>
</p>
<DIV CLASS="lbx" ALIGN="center">
  <TABLE BORDER="0" WIDTH="90%" CELLSPACING="0" CELLPADDING="0">
    <TR>
      <TD WIDTH="100%" BGCOLOR="#FFFFFF">
        <DIV ALIGN="center">
          <TABLE BORDER="1" CELLSPACING="0" CELLPADDING="4" WIDTH="100%">
          <TR>
           <TD ALIGN="center" BGCOLOR="#FFFFFF" COLSPAN="2"><B>
                   <!--ITEM_TITLE--> 
                </B></TD>
            </TR>

            <TR>
              <TD ALIGN="center" BGCOLOR="#FFFFFF" COLSPAN="2">
                  <B><FONT COLOR="#330099" FACE="TIMES NEW ROMAN">
                     <<item_id_label>> <!--ITEM_ID--> <!--GIFT_ICON--> <!--FEATURED-->
                </FONT></B></TD>
            </TR>

            <TR>
              <TD BGCOLOR="#FFFFFF" ALIGN="right"><B><FONT COLOR="#000000" FACE="Times New Roman"><<category_label>></FONT></B></TD>
              <TD BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman" COLOR="#000000"><!--CATEGORY--></FONT></TD>
            </TR>

            <TR>
              <TD BGCOLOR="#FFFFFF" ALIGN="right"><B><FONT COLOR="#000000" FACE="Times New Roman"><<category_number_label>></FONT></B></TD>
              <TD BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman" COLOR="#000000"><!--CATEGORY_NUMBER--></FONT></TD>
            </TR>

	    <TR><TD ALIGN="right" BGCOLOR="#FFFFFF">
                <B><FONT COLOR="#000000" FACE="Times New Roman">
                  <<description_label>></FONT></B>
              </TD>
              <TD ALIGN="left" BGCOLOR="#FFFFFF" width="100%">  
                <FONT FACE="Times New Roman"><p align="justify">
                 <!--ITEM_DESCRIPTION-->
                </FONT></FONT></P>
              </TD>
            </TR>

            <TR>
              <TD BGCOLOR="#FFFFFF" ALIGN="right"><B><FONT COLOR="#000000" FACE="Times New Roman"><<start_bid_label>></FONT></B></TD>
              <TD BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman" COLOR="#000000"><!--START_BID--></FONT></TD>
            </TR>
            <TR>
              <TD BGCOLOR="#FFFFFF" ALIGN="right"><B><FONT COLOR="#000000" FACE="Times New Roman"><<bid_increment_label>></FONT></B></TD>
              <TD BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman" COLOR="#000000">
<!--BID_INCREMENT--> </FONT></TD>
            </TR>

            <TR>
              <TD BGCOLOR="#FFFFFF" ALIGN="right"><B><FONT COLOR="#000000" FACE="Times New Roman"><<time_left_label>></FONT></B></TD>
              <TD BGCOLOR="#FFFFFF"><FONT COLOR="#000000" FACE="Times New Roman"><!--TIME_LEFT--> <<days_label>>
                <<countdown_ticker_label>></FONT></TD>
            </TR>
            <TR>
              <TD BGCOLOR="#FFFFFF" ALIGN="right"><B><FONT COLOR="#000000" FACE="Times New Roman"><<number_of_items_label>></FONT></B></TD>
              <TD BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman" COLOR="#000000"><!--QUANTITY--></FONT></TD>
            </TR>
            <TR>
              <TD BGCOLOR="#FFFFFF" ALIGN="right"><B><FONT COLOR="#000000" FACE="Times New Roman"><<location_label>></FONT></B></TD>
              <TD NOWRAP BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman" COLOR="#000000">
	                  <!--LOCATION--></FONT></TD>
            </TR>
            <TR>
              <TD BGCOLOR="#FFFFFF" ALIGN="right"><B><FONT COLOR="#000000" FACE="Times New Roman"><<country_label>></FONT></B></TD>
              <TD NOWRAP BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman" COLOR="#000000">
	                  <!--COUNTRY--></FONT></TD>
            </TR>
            <TR>
              <TD BGCOLOR="#FFFFFF" ALIGN="right"><B><FONT COLOR="#000000" FACE="Times New Roman"><<start_time_label>></FONT></B></TD>
              <TD BGCOLOR="#FFFFFF"><FONT COLOR="#000000" FACE="Times New Roman"><!--START_TIME--></FONT></TD>
            </TR>
            <TR>
              <TD BGCOLOR="#FFFFFF" ALIGN="right" NOWRAP><B><FONT COLOR="#000000" FACE="Times New Roman"><<close_time_label>></FONT></B></TD>
              <TD BGCOLOR="#FFFFFF"><FONT COLOR="#000000" FACE="Times New Roman"><!--END_TIME--></FONT></TD>
            </TR>

            <TR>
              <TD BGCOLOR="#FFFFFF" ALIGN="right" NOWRAP><B><FONT COLOR="#000000" FACE="Times New Roman"><<language_label>></FONT></B></TD>
              <TD BGCOLOR="#FFFFFF">
                      <!--LANGUAGE-->
              </TD>
            </TR>

            <TR>
              <TD BGCOLOR="#FFFFFF" ALIGN="right" NOWRAP><B><FONT COLOR="#000000" FACE="Times New Roman"><<reserve_label>></FONT></B></TD>
              <TD BGCOLOR="#FFFFFF">
                      <!--RESERVE-->
              </TD>
            </TR>
            <TR>
              <TD BGCOLOR="#FFFFFF" ALIGN="right" NOWRAP><B><FONT COLOR="#000000" FACE="Times New Roman"><<buy_price_label>></FONT></B></TD>
              <TD BGCOLOR="#FFFFFF">
                      <!--BUYPRICE-->
              </TD>
            </TR>

            <TR>
              <TD BGCOLOR="#FFFFFF" ALIGN="right" NOWRAP><B><FONT COLOR="#000000" FACE="Times New Roman"><<resubmit_label>></FONT></B></TD>
              <TD BGCOLOR="#FFFFFF">
                      <!--RESUBMIT-->
              </TD>
            </TR>

            <TR>
              <TD BGCOLOR="#FFFFFF" ALIGN="right" NOWRAP><B><FONT COLOR="#000000" FACE="Times New Roman"><<featured_homepage_label>></FONT></B></TD>
              <TD BGCOLOR="#FFFFFF">
                      <!--FEATURED_HOMEPAGE-->
              </TD>
            </TR>
            <TR>
              <TD BGCOLOR="#FFFFFF" ALIGN="right" NOWRAP><B><FONT COLOR="#000000" FACE="Times New Roman"><<featured_category_label>></FONT></B></TD>
              <TD BGCOLOR="#FFFFFF">
                      <!--FEATURED_CATEGORY-->
              </TD>
            </TR>

            <TR>
            <TD BGCOLOR="#FFFFFF"  COLSPAN="2">
                <FONT FACE="Times New Roman" COLOR="#000000">
                <B><<seller_rating_label>></B>
                  </FONT><FONT COLOR="#000000" FACE="Times New Roman"> 
                        <!--USER_ID-->
                <B><FONT COLOR="#0000FF"><<seller_other_auctions_label>></FONT></B>
                <B><FONT COLOR="#0000FF"><<comments_about_seller_label>></FONT></B>
                <B><FONT COLOR="#0000FF"><<ask_seller_question_label>></FONT></B>

                  </FONT></TD>
              </TR>

              <TR>
                <TD BGCOLOR="#FFFFFF">
                  <B><FONT COLOR="#000000" FACE="Times New Roman">
                    <<payments_accepted_label>>
                  </FONT></B>
                   </TD><TD BGCOLOR="#FFFFFF">
                   <FONT COLOR="#000000" FACE="Times New Roman">
                    <!--PAYMENTS_ACCEPTED--></FONT>
                </TD>
              </TR>

              <TR>
                <TD BGCOLOR="#FFFFFF">
                  <B><FONT COLOR="#000000" FACE="Times New Roman">
                     <<shipping_information_label>></FONT></B>
                   </TD><TD BGCOLOR="#FFFFFF">
                     <!--SHIPPING-->
                </TD>
              </TR>

              <TR>
                <TD BGCOLOR="#FFFFFF"><B><FONT COLOR="#000000">
                    <<home_page_label>></FONT></B>
                   </TD><TD BGCOLOR="#FFFFFF">
                      <FONT COLOR="#000000">
                      <!--HOME_PAGE-->
                      </FONT>
                </TD>
              </TR>

            </TABLE>
          </DIV>
          <BR>

        <DIV ALIGN="CENTER">
          <TABLE WIDTH="100%" BORDER="1" CELLPADDING="5" CELLSPACING="0">
            <TR>
              <TD ALIGN="center" COLSPAN="2">
                <P ALIGN="center"><FONT FACE="Times New Roman" COLOR="#800000" SIZE="5"><<auction_fees_help>></FONT></TD>
            </TR>

          <TR> <TD ALIGN="right" NOWRAP>
		<B><FONT COLOR="#FF0000" FACE="Times New Roman"><<insertion_fees_label>></FONT></B></TD>
	        <TD ALIGN="LEFT" WIDTH="100%"><FONT FACE="Times New Roman"><!--INSERTIN_FEES--></FONT></TD>
            </TR>

          <TR> <TD ALIGN="right" NOWRAP>
		<B><FONT COLOR="#FF0000" FACE="Times New Roman"><<title_fees_label>></FONT></B></TD>
	        <TD ALIGN="LEFT" WIDTH="100%"><FONT FACE="Times New Roman"><!--TITLE_FEES--></FONT></TD>
            </TR>

          <TR> <TD ALIGN="right" NOWRAP>
		<B><FONT COLOR="#FF0000" FACE="Times New Roman"><<featured_home_fees_label>></FONT></B></TD>
	        <TD ALIGN="LEFT" WIDTH="100%"><FONT FACE="Times New Roman"><!--FEATURED_HOME_FEES--></FONT></TD>
            </TR>

          <TR> <TD ALIGN="right" NOWRAP>
		<B><FONT COLOR="#FF0000" FACE="Times New Roman"><<featured_category_fees_label>></FONT></B></TD>
	        <TD ALIGN="LEFT" WIDTH="100%"><FONT FACE="Times New Roman"><!--FEATURED_CATEGORY_FEES--></FONT></TD>
            </TR>

          <TR> <TD ALIGN="right" NOWRAP>
		<B><FONT COLOR="#FF0000" FACE="Times New Roman"><<gift_icon_fees_label>></FONT></B></TD>
	        <TD ALIGN="LEFT" WIDTH="100%"><FONT FACE="Times New Roman"><!--GIFT_ICON_FEES--></FONT></TD>
            </TR>

          <TR> <TD ALIGN="right" NOWRAP>
		<B><FONT COLOR="#FF0000" FACE="Times New Roman"><<reserve_fees_label>></FONT></B></TD>
	        <TD ALIGN="LEFT" WIDTH="100%"><FONT FACE="Times New Roman"><!--RESERVE_FEES--></FONT></TD>
            </TR>

	  <TR> <TD ALIGN="right" NOWRAP>
		<B><FONT COLOR="#FF0000" FACE="Times New Roman"><<file_upload_label>></FONT></B></TD>
	        <TD ALIGN="LEFT" WIDTH="100%"><FONT FACE="Times New Roman"><!--FILE_UPLOAD_FEES--></FONT></TD>
            </TR>

	  <TR> <TD ALIGN="right" NOWRAP>
		<B><FONT COLOR="#FF0000" FACE="Times New Roman"><<total_fees_label>></FONT></B></TD>
	        <TD ALIGN="LEFT" WIDTH="100%"><FONT FACE="Times New Roman"><!--TOTAL_FEES--></FONT></TD>
            </TR>
          </TABLE>
          </CENTER>
        </DIV>

          <DIV ALIGN="center">
            <CENTER>
            <TABLE BORDER="1" CELLSPACING="0" CELLPADDING="5" WIDTH="100%">
		<TR><TD VALIGN="middle" ALIGN="left" BGCOLOR="#FFFFFF">
		      <FONT FACE="Times New Roman" COLOR="#000000">

		      <I><FONT COLOR="#000000" FACE="Times New Roman"><<preview_note>></I><BR>
                        <!--CONTINUE_ACTION-->

                  </FONT></TD>
              </TR>
              <TR>
                 <!--FORM_START-->
                <TD VALIGN="middle" ALIGN="center" BGCOLOR="#FFFFFF">
                        <!--CONTINUE_BUTTON-->&nbsp;&nbsp;&nbsp;
			<!--MAKE_CHANGES_BUTTON-->
                </TD>
		<!--FORM_END-->
              </TR>
            </TABLE>
            </CENTER>
          </DIV>
        </CENTER></CENTER></TD>
    </TR>
  </TABLE>
</DIV>
<BR>
<!-------------------------------------------------->
<!--CLASS::Bottom_Navigation-->
<!--CLASS::Footer-->