<!--CLASS::Header-->
<!--CLASS::Top_Navigation-->
<!--CLASS::General-->
<!-------------------------------------------------->
<P ALIGN="center"><B><FONT FACE="Times New Roman" SIZE="5" COLOR="#FF0000"><<search_help_page_title>></FONT></B></P>

<DIV ALIGN="center">
  <CENTER>
  <TABLE WIDTH="610" CELLPADDING="3" BORDER="0" CELLSPACING="0">
    <TR>
      <TD WIDTH="600" VALIGN="top" ALIGN="left"><<required_and_prohibted>></TD>
    </TR>
    <TR>
      <TD WIDTH="600" VALIGN="top"><<phrase_search>></TD>
    </TR>
    <TR>
      <TD WIDTH="600" VALIGN="top"><<wildcard_search>></TD>
    </TR>
    <TR>
      <TD WIDTH="600" VALIGN="top"><FONT SIZE="4" FACE="Times New Roman"><B><<command_summary>></B></FONT></TD>
    </TR>
    <TR>
      <TD WIDTH="600" VALIGN="top"><<command_summary_help>></TD>
    </TR>
    <TR>
      <TD WIDTH="100%" VALIGN="top" ALIGN="center">
        <DIV ALIGN="center">
          <TABLE BORDER="1" CELLSPACING="0" CELLPADDING="4" WIDTH="100%">
            <TR>
              <TD WIDTH="180" VALIGN="top" ALIGN="center"><B><FONT COLOR="#FFFFFF" SIZE="4" FACE="Times New Roman"><<search_for>></FONT></B></TD>
              <TD WIDTH="202" VALIGN="top" ALIGN="center"><B><FONT COLOR="#FFFFFF" FACE="Times New Roman" SIZE="4"><<command>></FONT></B></TD>
              <TD WIDTH="324" VALIGN="top" ALIGN="center"><B><FONT COLOR="#FFFFFF" SIZE="4" FACE="Times New Roman"><<example>></FONT></B></TD>
            </TR>
            <TR>
              <TD VALIGN="top" WIDTH="180"><<and_search_for>><BR>
              </TD>
              <TD VALIGN="top" WIDTH="202"><<and_command>></TD>
              <TD VALIGN="top" WIDTH="324"><<and_example>></TD>
            </TR>
            <TR>
              <TD VALIGN="top" WIDTH="180"><<or_search_for>></TD>
              <TD VALIGN="top" WIDTH="202"><<or_command>></TD>
              <TD VALIGN="top" WIDTH="324"><<or_example>></TD>
            </TR>
            <TR>
              <TD VALIGN="top" WIDTH="180"><<phrase_search_for>></TD>
              <TD VALIGN="top" WIDTH="202"><<phrase_command>></TD>
              <TD VALIGN="top" WIDTH="324"><<phrase_example>></TD>
            </TR>
            <TR>
              <TD VALIGN="top" WIDTH="180"><<execlude_search_for>><BR>
              </TD>
              <TD VALIGN="top" WIDTH="202"><<execlude_command>></TD>
              <TD VALIGN="top" WIDTH="324"><<execlude_example>></TD>
            </TR>
            <TR>
              <TD VALIGN="top" WIDTH="180"><<asterisk_search_for>></TD>
              <TD VALIGN="top" WIDTH="202"><<asterisk_command>></TD>
              <TD VALIGN="top" WIDTH="324"><<asterisk_example>></TD>
            </TR>
          </TABLE>
        </DIV>
      </TD>
    </TR>
    <TR>
      <TD WIDTH="600" VALIGN="top"><B><BR>
        </B><<combinig_syntax>></TD>
    </TR>
    <TR>
      <TD WIDTH="600" VALIGN="top"><<search_titles_and_desciptions>></TD>
    </TR>
    <TR>
      <TD WIDTH="100%" VALIGN="top" ALIGN="center">
        <P ALIGN="center">
    
                <!--CLASS::Previous_Page_Link-->&nbsp;
                <!--CLASS::Next_Page_Link-->			
      </TD>
    </TR>
  </TABLE>
  </CENTER>
</DIV>
<!-------------------------------------------------->
<!--CLASS::Bottom_Navigation-->
<!--CLASS::Footer-->
