<!--CLASS::Header-->
<!--CLASS::Top_Navigation-->
<!--CLASS::General-->
<!-------------------------------------------------->
<P ALIGN="CENTER"><B><FONT COLOR="RED" FACE="TIMES NEW ROMAN" SIZE="5"><<submit_item_page_title>></FONT></B></P>
<!--FORM_START-->
<DIV ALIGN="CENTER">
  <TABLE BORDER="0" WIDTH="80%" CELLPADDING="5" BGCOLOR="#FFFFFF" CELLSPACING="0">
    <TR>
      <TD>   <!--CATEGORY_MENU-->	</TD>
    </TR>
    <TR>
      <TD WIDTH="100%">
        <DIV ALIGN="CENTER">
          <TABLE BORDER="1" WIDTH="100%" CELLSPACING="0" CELLPADDING="5">
            <TBODY>
              <TR>
                <TD ALIGN="RIGHT" BGCOLOR="#FFFFFF" COLSPAN="2">
                  <P ALIGN="left"><FONT FACE="Times New Roman,Arial" COLOR="Blue"><B><<item_info_title>></B></FONT></TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman,Arial"><<item_title_label>></FONT></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman,Arial">
                  <!--ITEM_TITLE_BOX-->
                  <BR>
                  <<title_description>></FONT></TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman,Arial"><<item_decription_label>></FONT></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF">

	              <!--Get_HTML_Tags_Menu-->
	              <!--Get_Symbol_List_Menu-->
	              <!--Get_Font_List_Menu-->  
	              <!--Colors_List_Menu-->

                  <FONT FACE="Times New Roman,Arial">
                  <!--ITEM_DECRIPTION_BOX-->
                  <P>
	              <!--SELECT_ALL_BOX--> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	              <!--COPY_ALL_BOX--> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	              <!--CLEAR_ALL_BOX--> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	              <!--PASTE_ALL_BOX--> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	              <!--SPELL_CHECKER_BUTTON-->
                  <P>
                  <<item_decription_help>>
				  
				  </FONT>
				  </TD>
              </TR>
              <TR>
                <TD ALIGN="right" VALIGN="top" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman,Arial"><<refinement_decription_label>></FONT></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman,Arial"><<refinement_decription>></FONT></TD>
              </TR>
              <TR>
                <TD ALIGN="right" VALIGN="top" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman,Arial"><<country_refinement_label>></FONT></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman,Arial"><!--COUNTRY_REFINEMENT_BOX--></FONT></TD>
              </TR>
              <TR>
                <TD ALIGN="right" VALIGN="top" BGCOLOR="#FFFFFF"><FONT FACE="Arial"><<language_refinement_label>></FONT></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman,Arial"><!--LANGUAGE_REFINEMENT_BOX--></FONT></TD>
              </TR>
              <TR>
                <TD ALIGN="right" VALIGN="top" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman,Arial"><<sales_polices_label>></FONT></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF">
                  <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0">
                    <TBODY>
                      <TR>
                        <TD ALIGN="left" VALIGN="top"><FONT FACE="Times New Roman,Arial"><<payment_method_desc>><BR>

	                      <!--ACCEPTS_PC-->               <<accepts_pc_label>><BR>
                          <!--ACCEPTS_CCMO-->              <<accepts_ccmo_label>><BR>
                          <!--ACCEPTS_CC-->              <<accepts_cc_label>><BR>
	                      <!--ACCEPTS_ESCROW-->           <<accepts_escrow_label>><BR>
                          </FONT><BR>
                          <FONT FACE="Times New Roman,Arial"><<shipping_label>><BR>
			              <!--BUYER_PAYS-->            <<buyer_pays_label>><BR>
                          <!--SELLER_PAYS-->            <<seller_pays_label>><BR>
                          <BR>
                          <!--SHIP_ON_RECEIPT-->    <<ship_on_receipt_label>><BR>
                          <!--SHIP_ON_CLOSE-->       <<ship_on_close_label>><BR>
                          <BR>
                          <!--SHIP_INTERNATIONAL-->    <<ship_international_label>></FONT></TD>
                      </TR>
                    </TBODY>
                  </TABLE>
                </TD>
              </TR>
            </TBODY>
          </TABLE>
        </DIV>
        <DIV ALIGN="CENTER">
          <BR>
        </DIV>
        <DIV ALIGN="CENTER">
          <TABLE BORDER="1" CELLPADDING="5" CELLSPACING="0" WIDTH="100%">
            <TBODY>
              <TR>
                <TD ALIGN="center" BGCOLOR="#FFFFFF" COLSPAN="3">
                  <P ALIGN="left"><B><FONT FACE="Times New Roman" COLOR="Blue"><<prefrences_title>></FONT></B></P>
                </TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF" HEIGHT="40"><<quantity_label>></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF" HEIGHT="40"><FONT FACE="Times New Roman,Arial"></FONT><!--QUANTITY_BOX--> </TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF" HEIGHT="40"><<quantity_desc>></TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF" HEIGHT="62">
                  <P ALIGN="right"><<bid_start_label>></P>
                </TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF" HEIGHT="62"><<currency>>
                  <FONT FACE="Times New Roman,Arial"><!--BID_START_BOX--></FONT></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF" HEIGHT="62">
                  <P ALIGN="justify"><<bid_start_desc>></P>
                </TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF" HEIGHT="40"><<bid_increment_label>></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF" HEIGHT="40"><<currency>>
                  <FONT FACE="Times New Roman,Arial"></FONT><!--BID_INCREMENT_BOX--> </TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF" HEIGHT="40"><<bid_increment_label>></TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF" HEIGHT="40"><<duration_label>></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF" HEIGHT="40"><FONT FACE="Times New Roman,Arial"></FONT><!--DURATION_BOX--> </TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF" HEIGHT="40"><<duration_desc>></TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF" HEIGHT="40"><<location_label>></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF" HEIGHT="40"><FONT FACE="Times New Roman,Arial"></FONT><!--LOCATION_BOX--> </TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF" HEIGHT="40"><<location_desc>></TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF" HEIGHT="40"><<title_enhancement_label>></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF" HEIGHT="40">
                  <!--TITLE_ENHANCEMENT_BOX-->
                </TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF" HEIGHT="40"><<title_enhancement_desc>></TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF" COLSPAN="2"><<featured_homepage_label>>&nbsp;&nbsp;
                  <!--FEATURED_HOMEPAGE-->
                </TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF"><<featured_homepage_desc>></TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF" COLSPAN="2"><<featured_category_label>>&nbsp;&nbsp;
                  <!--FEATURED_CATEGORY-->
                </TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF"><<featured_category_desc>></TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF" COLSPAN="2"><<gift_icon_label>>&nbsp;&nbsp;
                  <!--GIFT_ICON-->
                </TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF"><<gift_icon_desc>></TD>
              </TR>
            </TBODY>
          </TABLE>
        </DIV>
        <BR>
        <DIV ALIGN="center">
          <TABLE BORDER="01" CELLPADDING="5" CELLSPACING="0" WIDTH="100%">
            <TBODY>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF" COLSPAN="3">
                  <P ALIGN="left"><B><FONT FACE="Times New Roman" COLOR="Blue"><<additional_options_title>></FONT></B></TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF"><<reserve_label>></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman,Arial"></FONT><<currency>><!--RESERVE_BOX--></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF">
                  <P ALIGN="justify"><<reserve_desc>></P>
                </TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman"><<buy_label>></FONT></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman"></FONT><FONT FACE="Times New Roman,Arial"></FONT><FONT FACE="Times New Roman"><<currency>><!--BUY_BOX--></FONT></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman"><<buy_desc>></FONT></TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF"><<min_rating_label>></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman,Arial"></FONT><!--MIN_RATING_BOX--> </TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF">
                  <P ALIGN="justify"><<min_rating_desc>></P>
                </TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman"><<closing_label>></FONT></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman"></FONT><FONT FACE="Arial"></FONT><FONT FACE="Times New Roman"><!--CLOSING_BOX--></FONT></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman"><<closing_desc>></FONT></TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman"><<resubmit_label>></FONT></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman"></FONT><FONT FACE="Arial"></FONT><FONT FACE="Times New Roman"><!--RESUBMIT_BOX--></FONT></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF">
                  <P ALIGN="justify"><FONT FACE="Times New Roman"><<resubmit_desc>></FONT></P>
                </TD>
              </TR>
              <TR>
                <TD ALIGN="right" BGCOLOR="#FFFFFF"><FONT FACE="Times New Roman"><<homepage_label>></FONT></TD>
                <TD ALIGN="left" BGCOLOR="#FFFFFF" COLSPAN="2"><FONT FACE="Times New Roman"></FONT><FONT FACE="Arial"></FONT><FONT FACE="Times New Roman"><!--HOMEPAGE_BOX--><BR>
                  <<homepage_desc>></FONT></TD>
              </TR>
            </TBODY>
          </TABLE>
        </DIV>
        <P>&nbsp;
        <DIV ALIGN="CENTER">
          <CENTER>
          <TABLE BORDER="01" CELLPADDING="5" CELLSPACING="0" WIDTH="100%" BGCOLOR="#FFFFFF">
            <TR BGCOLOR="#FFFFFF">
              <TD BGCOLOR="#FFFFFF"><B><FONT FACE="Times New Roman" COLOR="Blue"><<disclaimer_title>></FONT></B></TD>
            </TR>
            <TR>
              <TD>
                <P ALIGN="JUSTIFY"><FONT FACE="Times New Roman"><<disclaimer>></FONT></P>
              </TD>
            </TR>
          </TABLE>
          </CENTER>
        </DIV>
        <DIV ALIGN="CENTER">
          <CENTER>
          <TABLE BORDER="0" CELLPADDING="5" CELLSPACING="0" WIDTH="100%" BGCOLOR="#FFFFFF">
            <TR BGCOLOR="#FFFFFF">
              <TD BGCOLOR="#FFFFFF" ALIGN="CENTER"><B><FONT FACE="Times New Roman" COLOR="Blue">
		        <!--CONTINUE_BUTTON-->&nbsp;&nbsp;&nbsp;&nbsp;
		        <!--CLEAR_FORM_BUTTON-->&nbsp;&nbsp;&nbsp;&nbsp;
		        <!--CANCEL_BUTTON-->
                </FONT></B></TD>
            </TR>
          </TABLE>
          </CENTER>
        </DIV>
      </TD>
    </TR>
  </TABLE>
</DIV>
<!--FORM_END-->
<BR>
<!---------------Spell Checker Code, Do not modify or remove---------www.mewsoft.com-------->
<!--https://www.safeweb.com/o/_i:http://www.spellchecker.com/Installation.asp-->
<FORM name="SPELLDATA"> 
<INPUT name="formname" type=hidden value=""> 
<INPUT name="messagebodyname" type=hidden value=""> 
<INPUT name="subjectname" type=hidden value=""> 
<INPUT name="companyID" type=hidden value=""> 
<INPUT name="language" type=hidden value=""> 
<INPUT name="opener" type=hidden value=""> 
<INPUT name="formaction" type=hidden value=""> 
</FORM>
<!---------------End Spell Checker Code, Do not modify or remove---------www.mewsoft.com-------->
<!-------------------------------------------------->
<!--CLASS::Bottom_Navigation-->
<!--CLASS::Footer-->
