<!--CLASS::Header-->
<!--CLASS::Top_Navigation-->
<!--CLASS::General-->
<!-------------------------------------------------->
<P ALIGN="CENTER">
<FONT SIZE="5" FACE="TIMES, TAHOMA" COLOR="RED"><B><<view_feedback_page_title>></B></FONT>
</P>

<DIV ALIGN="CENTER"><CENTER>
  <TABLE BORDER="01" WIDTH="580" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" COLSPAN="3"><b><<view_feedback_user_id_label>>
        <FONT COLOR="GREEN">	<!--USER_ID-->	</FONT></B></TD>
    </TR>

    <TR>
      <TD WIDTH="33%" BGCOLOR="#800000" ALIGN="CENTER"><FONT COLOR="#FFFFFF"><b><<positive_header>></B></FONT></TD>
      <TD WIDTH="33%" BGCOLOR="#800000" ALIGN="CENTER"><FONT COLOR="#FFFFFF"><b><<neutral_header>></B></FONT></TD>
      <TD WIDTH="34%" BGCOLOR="#800000" ALIGN="CENTER"><FONT COLOR="#FFFFFF"><B><<negative_header>></B></FONT></TD>
    </tr>

    <TR>
      <TD WIDTH="33%" ALIGN="CENTER"><!--POSITIVE--></TD>
      <TD WIDTH="33%" ALIGN="CENTER"><!--NEUTRAL--></TD>
      <TD WIDTH="34%" ALIGN="CENTER"><!--NEGATIVE--></TD>
    </TR>

    <TR>
      <TD WIDTH="33%"><P ALIGN="RIGHT"><<total_header>></TD>
      <TD WIDTH="67%" COLSPAN="2" ALIGN="CENTER"><!--TOTAL--></TD>
    </TR>
  </TABLE>
  </CENTER>
</DIV>

<P>

<DIV ALIGN="CENTER"><CENTER>
  <TABLE BORDER="01" WIDTH="100%" CELLSPACING="0" CELLPADDING="5" BORDERCOLOR="#97C66C">
    <TR><TD WIDTH="100%"  ALIGN="CENTER"><B><!--FEEDBACK_RANGE--></B></TD></TR>
      <TR>
	    <TD WIDTH="100%" ALIGN="LEFT">
			
			<TABLE BORDER="01" WIDTH="100%" CELLSPACING="0" CELLPADDING="3">
			
				<!--FEEDBACK_COMMENTS-->

			</TABLE>

			<TR><TD WIDTH="100%" ALIGN="CENTER">
			<B>
			<!--PREVIOUS_PAGE-->&nbsp;&nbsp;
			<!--EXTRA_PAGES_LINK-->&nbsp;&nbsp;
			<!--NEXT_PAGE-->
			</B>
		</TD></TR>
    <TR><TD WIDTH="100%"  ALIGN="CENTER"><B><!--FEEDBACK_RANGE--></B></TD></TR>
  </TABLE>
  </CENTER>
</DIV>
<P>
<<feedback_footer>>
<!-------------------------------------------------->
<P ALIGN="CENTER">
<A HREF="javascript:history.go(-1)"><<back_button>></a> 
</P>
<!-------------------------------------------------->
<!--CLASS::Bottom_Navigation-->
<!--CLASS::Footer-->