<!--CLASS::Header-->
<!--CLASS::Top_Navigation-->
<!--CLASS::General-->
<!-------------------------------------------------->
<P ALIGN="LEFT"><FONT SIZE="4"><B><!--CLASS::Menu_Bar--></B></FONT></P>
<DIV ALIGN="center">
  <CENTER>
  <TABLE WIDTH="100%" BORDER="01" CELLPADDING="4" BGCOLOR="#FFFFFF" CELLSPACING="0">
    <TR>
      <TD ALIGN="CENTER" BGCOLOR="#F1F1E4"><B><FONT COLOR="#000000" SIZE="3"><!--ITEM_TITLE--></FONT></B></TD>
    </TR>
    <TR>  <TD ALIGN="CENTER" BGCOLOR="#F3F3F3"><B><<item_id_label>> 
			    <!--ITEM_ID-->&nbsp;<!--GIFT_ICON-->&nbsp;<!--HOT-->&nbsp;<!--COOL-->&nbsp;<!--FEATURED--></B>
        </TD>
    </TR>
      
      <TR>
        <TD WIDTH="100%">
        <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="1" WIDTH="100%">
          <TR><TD VALIGN="TOP" ALIGN="LEFT" WIDTH="140" ROWSPAN="9" NOWARP>

	      <!-----------Left Navigation Bar----------------------> 

              <TABLE BORDER="0" CELLPADDING="3" WIDTH="100%">
                <TR><TD NOWARP><A HREF="#description"><B><<description_link_label>></B></A></TD></TR>
                <TR><TD NOWARP><A HREF="#bidding"><B><<place_bid_label>></B></A></TD></TR>
                <TR><TD NOWARP><B><!--BID_HISTORY--></B></TD></TR>
                <TR><TD NOWARP><B><!--HIGH_BIDDER--></B></TD></TR>
              </TABLE>

              <!-----------End Left Navigation Bar---------------------->
            </TD>
            <TD VALIGN="TOP" ALIGN="LEFT" WIDTH="40%">
              <!------------Bidding Table--------------------->            
              <TABLE BORDER="0" WIDTH="100%">
                <TR>
                  <TD VALIGN="middle" ALIGN="left">
                    <P ALIGN="left"><FONT COLOR="#000080"><<current_bid_label>></FONT></P>
                  </TD>
                  <TD VALIGN="middle" ALIGN="left"><FONT COLOR="#000000"><!--CURRENT_BID--></FONT></TD>
                </TR>
                <TR>
                  <TD VALIGN="middle" ALIGN="left"><FONT FACE="Times New Roman" COLOR="#000080"><<bid_increment>></FONT></TD>
                  <TD VALIGN="middle" ALIGN="left"><FONT FACE="Times New Roman" COLOR="#000000"><!--BID_INCREMENT--></FONT></TD>
                </TR>
                <TR>
                  <TD VALIGN="middle" ALIGN="left"><FONT FACE="Times New Roman" COLOR="#000080"><<quantity_label>>&nbsp;</FONT></TD>
                  <TD VALIGN="middle" ALIGN="left"><FONT COLOR="#000000" FACE="Times New Roman"><!--QUANTITY--></FONT></TD>
                </TR>
                <TR>
                  <TD VALIGN="middle" ALIGN="left">
                    <P ALIGN="left"><FONT FACE="Times New Roman" COLOR="#000080"><<time_left_label>></FONT></TD>
                  <TD VALIGN="middle" ALIGN="left"><FONT COLOR="#000000"><!--TIME_LEFT--> <!--COUNT_DOWN_TICKER--></FONT></TD>
                </TR>
                <TR>
                  <TD VALIGN="middle" ALIGN="left"><FONT FACE="Times New Roman" COLOR="#000080"><<start_time_label>></FONT></TD>
                  <TD VALIGN="middle" ALIGN="left"><FONT COLOR="#000000" FACE="Times New Roman"><!--START_TIME--></FONT></TD>
                </TR>
                <TR>
                  <TD VALIGN="middle" ALIGN="left"><FONT FACE="Times New Roman" COLOR="#000080"><<end_time_label>></FONT></TD>
                  <TD VALIGN="middle" ALIGN="left"><FONT COLOR="#000000" FACE="Times New Roman"><!--END_TIME--></FONT></TD>
                </TR>
                <TR>
                  <TD VALIGN="middle" ALIGN="left"><FONT FACE="Times New Roman" COLOR="#000080"><<time_now_label>></FONT></TD>
                  <TD VALIGN="middle" ALIGN="left"><FONT COLOR="#000000" FACE="Times New Roman"><!--TIME_NOW--></FONT></TD>
                </TR>
                <TR>
                  <TD VALIGN="middle" ALIGN="left"></TD>
                  <TD VALIGN="middle" ALIGN="left"></TD>
                </TR>
              </TABLE>
              <!------------End Bidding Table---------------->              
            </TD>
            <TD VALIGN="top" ALIGN="center" >

              <!------------Right Biddting Table-------------->

              <TABLE BORDER="0">
                <TR>
                  <TD VALIGN="middle" ALIGN="left"><<start_bid_label>></TD>
                  <TD VALIGN="middle" ALIGN="left"><FONT COLOR="#000000"><!--START_BID--></FONT></TD>
                </TR>
                <TR>
                  <TD VALIGN="middle" ALIGN="left"><<num_of_bids_label>></TD>
                  <TD VALIGN="middle" ALIGN="left"><FONT COLOR="#000000"><!--BIDS--></FONT></TD>
                </TR>
                <TR>
                  <TD VALIGN="middle" ALIGN="left"><<location_label>></TD>
                  <TD VALIGN="middle" ALIGN="left"><FONT COLOR="#000000"><!--LOCATION--></FONT></TD>
                </TR>
                <TR>
                  <TD VALIGN="middle" ALIGN="left"><<country_label>></TD>
                  <TD VALIGN="middle" ALIGN="left"><FONT COLOR="#000000"><!--COUNTRY--></FONT></TD>
                </TR>
                <TR>
                  <TD VALIGN="middle" ALIGN="left"><<language_label>></TD>
                  <TD VALIGN="middle" ALIGN="left"><FONT COLOR="#000000"><!--LANGUAGE--></FONT></TD>
                </TR>

		<TR>
                  <TD VALIGN="middle" ALIGN="left" COLSPAN="2">
		                    <!--EMAIL_to_FRIEND-->
                  </TD>
                </TR>

		<TR>
                  <TD VALIGN="middle" ALIGN="left" COLSPAN="2">
		                    <!--FEATURED_HOMEPAGE-->
                  </TD>
                </TR>
                <TR>
                  <TD VALIGN="middle" ALIGN="left" COLSPAN="2">
		                    <!--FEATURED_CATEGORY-->
                  </TD>
                </TR>
              </TABLE>
              <!------------End Right Biddting Table-------------->
              
            </TD>
          </TR>
          <TR>
            <TD COLSPAN="2"><B><FONT FACE="Times New Roman" COLOR="#000080"><<seller_rating_label>></FONT></B>
              <FONT COLOR="#000000" FACE="Times New Roman">
                      <!--USER_ID-->
              (<!--SELLER_RATING-->)&nbsp;&nbsp;
	      <!--USER_STARS-->
              </FONT></TD>
          </TR>

          <TR>
            <TD COLSPAN="2" ALIGN="CENTER">
              <FONT COLOR="#000000" FACE="Times New Roman">
                      <!--SELLER_OTHER_AUCTIONS-->&nbsp;&nbsp;
			<!--COMMENTS_ABOUT_SELLER-->&nbsp;&nbsp;
                      <!--ASK_SELLER_QUESTION-->
              </FONT></TD>
          </TR>
	  
	  <TR>
            <TD COLSPAN="2"><FONT COLOR="#000080"><B><<homepage_label>></B></FONT>
              &nbsp;&nbsp;<!--HOMEPAGE-->
            </TD>
          </TR>
          <TR>
            <TD COLSPAN="2"><FONT COLOR="#000080"><B>
                      <!--RESERVE-->
              </B></FONT></TD>
          </TR>
          <TR>
            <TD COLSPAN="2"><FONT COLOR="#000080"><B>
                      <!--BUY_ITEM--> <!--BUYPRICE--> &nbsp; <!--BUY_ICON-->
              </B></FONT></TD>
          </TR>
          <TR>
            <TD COLSPAN="2"><B><FONT FACE="Times New Roman" COLOR="#000080"><<payment_label>></FONT><FONT FACE="Times New Roman" COLOR="#000000">&nbsp;</FONT></B><BR>
                      <!--PAYMENT-->
            </TD>
          </TR>
          <TR>
            <TD COLSPAN="2"><B><FONT FACE="Times New Roman" COLOR="#000080"><<shipping_label>></FONT><FONT FACE="Times New Roman" COLOR="#000000">&nbsp;</FONT></B><BR>
                      <!--SHIPPING-->&nbsp;</TD>
          </TR>
          <TR>
            <TD COLSPAN="2" VALIGN="top" ALIGN="left"><<seller_responsibility_help>></TD>
          </TR>
        </TABLE>
      </TD>
    </TR>
    
    <!-------------End Bidding Table--------------->
    <TR>
      <TD>
        <TABLE BORDER="0" CELLPADDING="4" WIDTH="100%">
          <TR><TD WIDTH="100%"  ALIGN="CENTER" BGCOLOR="#F1F1E4">
              <B><A NAME="description"><FONT SIZE="5" COLOR="#800000"><<description_label>></FONT></A></B></TD>
          </TR>
          <TR>
            <TD WIDTH="100%">

	                  <P ALIGN="CENTER"><!--ITEM_PHOTOS--></P>
	                  <!--DESCRIPTION-->
			  <BR>
			  <P ALIGN="CENTER">
			  <!--View_Item_Counter-->
	  
            </TD>
          </TR>
        </TABLE>
      </TD>
    </TR>
    <TR>
      <TD ALIGN="LEFT">
        <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="4">
          <TR><TD COLSPAN="2" BGCOLOR="#F1F1E4" ALIGN="CENTER">
              <B><A NAME="bidding"><FONT SIZE="5" COLOR="#800000"><<bidding_title>></FONT></A></B></TD>
          </TR>
          <TR>
            <TD VALIGN="TOP" ALIGN="CENTER" VALIGN="TOP">
              <DIV ALIGN="LEFT">
                <TABLE BORDER="0" CELLSPACING="1" CELLPADDING="4">
                  <TR>
                    <TD COLSPAN="2">
                      <P ALIGN="center"><B><!--ITEM_TITLE--></B></TD>
                  </TR>
                  <TR>
                    <TD COLSPAN="2">
                      <P ALIGN="center"><<item_id_label>>

			                  <!--ITEM_ID-->&nbsp;<!--GIFT_ICON-->&nbsp;<!--HOT-->&nbsp;<!--COOL-->&nbsp;<!--FEATURED-->

		                      <!--FORM_START--></TD>
                  </TR>
                  <TR>
                    <TD ALIGN="right" WIDTH="50%"><<bidding_current_bid_label>></TD>
                    <TD WIDTH="50%"><!--CURRENT_BID--></TD>
                  </TR>
                  <TR>
                    <TD ALIGN="right" WIDTH="50%"><FONT FACE="Times New Roman"><<bidding_bid_increment_label>></FONT></TD>
                    <TD><FONT FACE="Times New Roman" WIDTH="50%"><!--BID_INCREMENT--></FONT></TD>
                  </TR>
                  <TR>
                    <TD ALIGN="right" WIDTH="50%"><<minimum_bid_label>></TD>
                    <TD ALIGN="left" WIDTH="50%"><!--MINIMUM_BID--></TD>
                  </TR>
                  <TR>
                    <TD ALIGN="right" WIDTH="50%"><<bidding_quantity_label>></TD>
                    <TD ALIGN="left" WIDTH="50%"><!--BIDDING_QUANTITY_BOX--></TD>
                  </TR>
                  <TR>
                    <TD ALIGN="right" WIDTH="50%"><<bidding_user_bid_label>></TD>
                    <TD ALIGN="left" WIDTH="50%"><!--USER_BID_BOX--></TD>
                  </TR>
                  <TR>
                    <TD ALIGN="center" COLSPAN="2">
	                          <!--REVIEW_BID_BUTTON--> &nbsp;&nbsp;
				  <!--CLEAR_BID_BUTTON-->&nbsp;&nbsp;
				  <!--CANCEL_BID_BUTTON-->
				  <BR><BR>
                    </TD>
		    <!--FORM_END-->
                  </TR>
                  <TR>
                    <TD ALIGN="right" COLSPAN="2" BGCOLOR="#EEEEEE">
                      <P ALIGN="left">

		                      <!--DUTCH_AUCTION-->		  
		
                      <<bid_contract_help>></TD>
                  </TR>
                </TABLE>
              </DIV>
            </TD>
            <TD VALIGN="TOP" ALIGN="LEFT" BGCOLOR="#EEEEEE">
              <TABLE BORDER="0" CELLPADDING="5" CELLSPACING="1"  HIEGHT="100%" BGCOLOR="#EEEEEE">
                <TR>
                  <TD>
                    <P ALIGN="center"><B><FONT COLOR="#000080"><<how_to_bid_title>></FONT></B></TD>
                </TR>
                <TR><TD>
								<OL>
								<LI><<register_desc>></LI>
								<LI><<comments_about_seller_desc>></LI>
								<LI><<know_details_desc>></LI>
								<LI><<questions_contact_desc>></LI>
								<LI><<place_your_bid_desc>></LI>
								</OL>
        			</TD>
                </TR>
                <TR>
                  <TD></TD>
                </TR>
              </TABLE>
            </TD>
          </TR>
          <TR>
            <TD VALIGN="top" ALIGN="left"></TD>
            <TD VALIGN="top" ALIGN="left"></TD>
          </TR>
        </TABLE>
      </TD>
    </TR>
  </TABLE>
  </CENTER>
</DIV>
<!-------------------------------------------------->
<!--CLASS::Bottom_Navigation-->
<!--CLASS::Footer-->
