

<html>
<head>
<title>Mail</title>
<style>
<!--
A { color: #000000M; text-decoration: underline; }
A:link { color: #000000; text-decoration: underline; }
A:visited { color: #000000; text-decoration: underline; }
A:hover { color: #000000; text-decoration: none;  }
-->
</style>
</head>
<body>
<center>
<img src="templates/standard/b1gmail.gif" border="0">
<br><br>
<table border="0" align="center" width="40%" cellpadding="0" cellspacing="0">
<tr><td bgcolor="#002266" align="left" background="templates/standard/table.gif">
<font color="#FFFFFF" face="Tahoma, Verdena" size="2"><B>&nbsp;Sign Up</B></FONT>
</td></tr><tr><td align="center" valign="middle" bgcolor="#EEEEEE">
<font face="tahoma" size="2">%MESSAGE%</font>
</td></tr></table>
<br>
<font face="tahoma" size="1">
<center>
%COPYRIGHT%
</body>
</html>