<html>
<head>
<title>Mail</title>
<style>
<!--
A { color: #000000M; text-decoration: underline; }
A:link { color: #000000; text-decoration: underline; }
A:visited { color: #000000; text-decoration: underline; }
A:hover { color: #000000; text-decoration: none;  }
-->
</style>
</head>
<body>
<center>
<img src="templates/standard/b1gmail.gif" border="0">
<br><br>
<table border="0" align="center" width="40%" cellpadding="0" cellspacing="0">
<tr><td bgcolor="#002266" align="left" background="templates/standard/table.gif">
<font color="#FFFFFF" face="Tahoma, Verdena" size="2"><B>&nbsp;Login</B></FONT>
</td></tr><tr><td align="center" valign="middle" bgcolor="#EEEEEE">
<form name="loginform" action="login.php" method="post">
<BR>
<table border=0>
<tr>
<td align=right><font face="tahoma" size="2">User:</font></td><td align=left><input type="text" name="usern"  size=10 ><font face="tahoma" size="2">@</font><select name="adomain">
%DOMAINOPTIONS%
</select></td>
</tr><tr>
<td align=right><font face="tahoma" size="2">Password:</font></td><td align=left><input type="password" name="pass"  size=10 ></td>
</tr>
</table>
<input type="submit" name="Anmelden" value="Login"> <input type="reset" value="Reset">
</form>
</td></tr></table>
<br>
<table border="0" align="center" width="40%" cellpadding="0" cellspacing="0">
<tr><td bgcolor="#002266" align="left" background="templates/standard/table.gif">
<font color="#FFFFFF" face="Tahoma, Verdena" size="2"><B>&nbsp;Sign Up</B></FONT>
</td></tr><tr><td align="center" valign="middle" bgcolor="#EEEEEE">
<font face="tahoma" size="2"><br>
<a href="signup.php">Click here</a> to sign up for a free E-Mail Address.
<br><br></font>
</td></tr></table>
<br>
<font face="tahoma" size="1">
<center>
%COPYRIGHT%
</body>
</html>