<html>
<head>
<title>Menü</title>
<style>
<!--
 a:link { color:#ffffff; text-decoration:none }
 a:active { color:#ffffff; text-decoration:none }
 a:visited { color:#ffffff; text-decoration:none }
 a:hover { color:#ffffff; text-decoration:underline }

 a.menu:link { color:#000000; text-decoration:none }
 a.menu:active { color:#000000; text-decoration:none }
 a.menu:visited { color:#000000; text-decoration:none }
 a.menu:hover { color:#000000; text-decoration:underline }
-->
</style>
<script language="javascript">

function Bild(abild) {
 document.all.bild.innerHTML = '<img src="templates/standard/'+abild+'" border="0">';
}

</script>
<base target="rechts">
</head>
<body bgcolor="#336699" leftmargin="0" topmargin="0">
<center>
<br><br>
<table width="85%" bgcolor="#ffffff" cellspacing="0">
            <tr><td align="left" width="100%" bgcolor="#003366" background="templates/standard/table.gif"><font face="arial" size="2" color="#ffffff">&nbsp;Menü</font></td></tr>
<tr><td width="100%">
    <font face="arial" size="2" color="#000000">
<br>
     &nbsp;<img src="templates/standard/pfeil.gif" border="0">&nbsp;<a href="startseite.php" class="menu" onMouseOver="document.all.bild.innerHTML = '<img src=templates/standard/welc.gif border=0>';" onMouseOut="document.all.bild.innerHTML = '<img src=templates/standard/welc.gif border=0>';">Welcome</a>
      <br>
      <br>
     &nbsp;<img src="templates/standard/pfeil.gif" border="0">&nbsp;<a href="inbox.php" class="menu" onMouseOver="document.all.bild.innerHTML = '<img src=templates/standard/inbox.gif border=0>';" onMouseOut="document.all.bild.innerHTML = '<img src=templates/standard/welc.gif border=0>';">Inbox</a>
      <br>
      <br>
     &nbsp;<img src="templates/standard/pfeil.gif" border="0">&nbsp;<a href="ordner.php" class="menu" onMouseOver="document.all.bild.innerHTML = '<img src=templates/standard/folders.gif border=0>';" onMouseOut="document.all.bild.innerHTML = '<img src=templates/standard/welc.gif border=0>';">Folders</a>
<br>
%ORDNER%
      <br>
     &nbsp;<img src="templates/standard/pfeil.gif" border="0">&nbsp;<a href="outbox.php" class="menu" onMouseOver="document.all.bild.innerHTML = '<img src=templates/standard/outbox.gif border=0>';" onMouseOut="document.all.bild.innerHTML = '<img src=templates/standard/welc.gif border=0>';">Outbox</a>
      <br>
      <br>
     &nbsp;<img src="templates/standard/pfeil.gif" border="0">&nbsp;<a href="compose.php" class="menu" onMouseOver="document.all.bild.innerHTML = '<img src=templates/standard/compose.gif border=0>';" onMouseOut="document.all.bild.innerHTML = '<img src=templates/standard/welc.gif border=0>';">Compose E-Mail</a>
      <br>
      <br>
     &nbsp;<img src="templates/standard/pfeil.gif" border="0">&nbsp;<a href="composeicq.php" class="menu" onMouseOver="document.all.bild.innerHTML = '<img src=templates/standard/compose.gif border=0>';" onMouseOut="document.all.bild.innerHTML = '<img src=templates/standard/welc.gif border=0>';">ICQ-Mail</a>
      <br>
      <br>
     &nbsp;<img src="templates/standard/pfeil.gif" border="0">&nbsp;<a href="adressen.php" class="menu" onMouseOver="document.all.bild.innerHTML = '<img src=templates/standard/address.gif border=0>';" onMouseOut="document.all.bild.innerHTML = '<img src=templates/standard/welc.gif border=0>';">Address Book</a>
      <br>
      <br>
     &nbsp;<img src="templates/standard/pfeil.gif" border="0">&nbsp;<a href="profil.php" class="menu">Password</a>
      <br>
      <br>
     &nbsp;<img src="templates/standard/pfeil.gif" border="0">&nbsp;<a href="logout.php" class="menu" onMouseOver="document.all.bild.innerHTML = '<img src=templates/standard/logout.gif border=0>';" onMouseOut="document.all.bild.innerHTML = '<img src=templates/standard/welc.gif border=0>';">Logout</a>
      <br>
      <br>
      <center><span id="bild"><img src="templates/standard/welc.gif" border="0"></span></center>
      <br>
  </td></tr></table><br></center>
</body>
</html>