<style>   

BODY {
scrollbar-face-color: #9900CC;  	    
scrollbar-shadow-color: #000000; 	    
scrollbar-highlight-color: #000000;  	    
scrollbar-3dlight-color: #999999; 	    
scrollbar-darkshadow-color: #505050;  	    
scrollbar-track-color: #000000; 	    
scrollbar-arrow-color: #000000; 
}
   
.content{font-family: "Verdana", "Arial, Sans-serif"; 
font-size: 10px; color: #CECECE
}    
A:link {
	color: #0080088;
	text-decoration: none
}
A:visited {
	color: #800080;
	text-decoration: none
}
A:hover {
	text-decoration: underline;
}

.underline {
	text-decoration: underline;
}

a.white {
	font-family: tahoma, verdana, arial, helv;
	font-size:11px;
	color: white;
	text-decoration: underline;
	font-weight:normal;
}

.button {
	font-family: verdana, tahoma, arial, helvetica, helv;
	font-size:11px;
	background-color: #AC0000;
	padding-top: 1px;
	padding-bottom: 1px;
	color: #ffffff;
	font-color: #000080;
	font-weight: bold;
}   


.button2 {
	font-family: verdana, tahoma, arial, helvetica, helv;
	font-size:11px;
	background-color: #eeeeee;
	padding-top: 1px;
	padding-bottom: 1px;
	color: #14270A;
	font-color: #000080;
	font-weight: bold;
}

.box {
	font-family: verdana, tahoma, arial, helvetica, helv;
	font-size:10px;
	background-color: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #14270A;
	font-color: #000080;
	font-weight: bold;
	} 

.selist {
	font-family: verdana, tahoma, arial, helvetica, helv;
	font-size:10px;
	background-color: #d2a6ff;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #14270A;
	font-color: #000080;
	font-weight: bold;
	}

.rachoice {
	font-family: verdana, tahoma, arial, helvetica, helv;
	font-size:10px;
	background-color: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #14270A;
	font-color: #000080;
	font-weight: bold;
	}

.chbx {
	font-family: verdana, tahoma, arial, helvetica, helv;
	font-size:10px;
	background-color: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #14270A;
	font-color: #000080;
	font-weight: bold;
	}

.tare {
	font-family: verdana, tahoma, arial, helvetica, helv;
	font-size:10px;
	background-color: #d2a6ff;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #14270A;
	font-color: #000080;
	font-weight: normal;
	width=450
	}

.chattdmain {
	font-family: verdana, tahoma, arial, helvetica, helv;
	font-size:11px;
	td-bgcolor: d2a6ff
	background-color: d2a6ff;
	padding-top: 1px;
	padding-bottom: 1px;
	color: #14270A;
	font-color: #000080;
	font-weight: bold;
}   
  

</style>      