body {
	font-size: 12px;
	font-family: verdana;
	margin: 0px;
	background: #F1F3F5 url('../misc/cp_images/body.bg.jpg') repeat-y;
}
.toptop {
	background: #C9D2DC url('../misc/cp_images/top.top.gif');
}
.FFFFFF75 {
	font-size: 7.5pt;
	font-weight: bold;
	color: #FFFFFF;
}
.verlink {
	font-size: 7.5pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.boldt {
	font-weight: bold;
}
.normt {
}
tr {
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
}
.color8EA2B7 {
	color: #8EA2B7;
}
.descinner {
	line-height: 10pt;
	background: #FFFFFF;

}
.col {
	background: url('../misc/cp_images/col.bg.jpg');
}
.colsec {
	background: #FFFFFF url('../misc/cp_images/col.sec.bg.gif');
	padding: 3px 7px;
	/* font-size: 7.5pt; */
}
.toprightbottom {
	background: #FFFFFF  url('../misc/cp_images/top.right.bottom.gif');
}
.toprightmiddle {
	background: url('../misc/cp_images/top.right.middle.gif');
}
.right {
	background: #D0D8E0 url('../misc/cp_images/right.bg.gif');
}
.rightseparator {
	background: url('../misc/cp_images/right.separator.gif') repeat-y;
}
.maincell {
	background: url('../misc/cp_images/main.cell.bg.gif');
	font-weight: bold;
	text-align: center;
}
.desccell {
	background: #F1F3F5;
	font-size: 10px;
}
.infocell {
	background: #FFFFFF;
	color: #8EA2B7;
	font-size: 10px;
}
.main {
	width: 100%;
}
.copyright {
	font-size: 7.5pt;
	font-weight: bold;
	color: 8EA2B7;
}
form {
	margin: 0px;
}
input {
	font: 8.5pt Verdana, Arial, Helvetica, sans-serif;
}
.bginput {
	background: #F1F3F5 url('../misc/cp_images/field.bg.gif');
	border: 1px solid #A0B0C2;
	height: 20px;
	color: #465362;
	line-height: 11pt;
	padding-left: 3px;
}
.invsibginput_firstalt {
	background: #F1F3F5;
	border: 1px solid #F1F3F5;
	height: 20px;
	color: #465362;
	line-height: 11pt;
	padding: 1px 0px 0px 3px;
}
.invsibginput_secondalt {
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	height: 20px;
	color: #465362;
	line-height: 11pt;
	padding: 1px 0px 0px 3px;
}
select, textarea {
	font: 8.5pt Verdana, Arial, Helvetica, sans-serif;
	background: #F1F3F5 url('../misc/cp_images/field.bg.gif') fixed;
	border: 1px solid #A0B0C2;
	color: #465362;
}
.button {
	color: #FFFFFF;
	background: #A0B0C2;
	height: 20px;
	font-weight: bold;
	border-top: 1px solid #D5DCE3;
	border-right: 1px solid #465362;
	border-bottom: 1px solid #465362;
	border-left: 1px solid #D5DCE3;
	padding-right: 3px;
	padding-left: 3px;
}
.topmiddle {
	background: #A0B0C2;
}
.location {
	background: #A0B0C2;
}
.descouter {
	background: #A0B0C2;
}
.contenttable {
	background: #A0B0C2;
}
.cutouttab {
	background: #F1F3F5;
}
.tab {
	background: #A0B0C2;
}
hr {
	color: #5093b4;
}
.nounderline a:link {
	text-decoration: none;
}
a:link {
	color: #465362;
	text-decoration: underline;
}
a:active {
	color: #465362;
	text-decoration: underline;
}
a:visited {
	color: #465362;
	text-decoration: underline;
}
a:hover {
	color: #465362;
	text-decoration: none;
}
.hovertdoff a:link,
.hovertdoff a:active,
.hovertdoff a:visited {
	display: block;
	text-decoration: none;
	background: url('../misc/cp_images/col.sec.bg.gif');
	color: #A0B0C2;
	font-size: 7.5pt;
	font-weight: bold;
	padding: 2px;
}
.hovertdon a:link,
.hovertdon a:hover,
.hovertdon a:active,
.hovertdon a:visited,
.hovertdoff a:hover {
	display: block;
	text-decoration: none;
	background: #A0B0C2;
	color: #FFFFFF;
	font-size: 7.5pt;
	font-weight: bold;
	padding: 2px;
}
.cp_group_link {
	color: black;
}
.thead {
	font-weight: bold;
	font-size: 11px;
	background: #5093b4 url('../misc/cp_thead.gif');
	background-repeat: repeat-x;
	font-family: verdana;
	text-align: center;
	color: white;
	text-decoration: none;
}
.theadlink {
	font-weight: bold;
	font-size: 11px;
	font-family: verdana;
	color: white;
	text-decoration: none;
}
.firstalt {
	background: #F1F3F5 url('../misc/cp_images/field.bg.gif');
	font-size: 11px;
}
.secondalt {
	background: #FFFFFF  url('../misc/cp_images/field.bg.white.gif');
	font-size: 11px;
	/* color: #8EA2B7 */
}
.cp_small {
	font-size: 10px;
}
.cp_temp_orig {
	color: #0D9595;
}
.cp_temp_edit {
	color: #cc3300;
	font-style: italic;
}
.cp_temp_cust {
	color: #cc3300;
	font-style: italic;
}
li.tgroup {
	padding: 2px;
}
.diff-heading {
	background-color: #99cccc;
}
.diff-same-firstalt {
	font-family: Courier New, Helvetica,Arial;
	background: #efefef;
}
.diff-same-secondalt {
	font-family: Courier New, Helvetica,Arial;
	background: #f7f7f7;
}
.diff-empty {
	background-color: #E5E5E5;
}
.diff-added {
	background-color: #D9D9FF;
	font-family: Courier New, Helvetica,Arial;
}
.diff-removed {
	background-color: #FFB2B2;
	font-family: Courier New, Helvetica,Arial;
}
.diff-changed {
	background-color: #BFFFBF;
	font-family: Courier New, Helvetica,Arial;
}
.diff-changed-missing {
	background-color: #99cc99;
}