/* CSS Document */


	A 			{ color: #999966; text-decoration: none; font-weight:bold; } 
	A:link		{ color: #CC6633; text-decoration: none; } 
	A:visited	{ color: #CC6633; text-decoration: none; } 
	A:active	{ color: #CC6633;  } 
	A:hover		{ color: #FF9966;  }
	
.text	{ 
		font-family: verdana, arial;
		font-size:10px; 
		color: #666666;
		line-height:18px;
		text-align:justify; 
		}
		
.title	{ 
		font-family: verdana, arial; 
		font-size:10px;
		font-weight:bold; 
		color: #666666;
		}
		
h1	{ 
		font-family: verdana, arial; 
		font-size:16px;
		font-weight:bold; 
		color: #B6DD61;
		}		
		
.menu	{ 
		font-family: verdana, arial;
		font-size:10px; 
		color: #666666;
		line-height:18px;
		}		
				
.comments_title	{ 
		font-family: georgia, times, verdana; 
		font-size:12px;
		font-weight:bold; 
		color: #664433;
		text-transform:uppercase; 
		}

/* image shadow */		
		
.img-shadow {
  float:left;
  background: url(../images/shadowalpha.png) no-repeat bottom right !important;
  background: url(../images/shadow.gif) no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 5px;
  }

.img-shadow img {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  margin: -6px 6px 6px -6px;
  padding: 4px;
 } 		


/* error text */		
		
.good	{ 
		font-family: verdana, arial;
		font-size:10px; 
		color: #99CC33;
		line-height:18px;
		text-align:justify; 
		}		
		
.bad 	{ 
		font-family: verdana, arial;
		font-size:10px; 
		color: #CC0000;
		line-height:18px;
		text-align:justify; 
		}				