<!--
/**
*    
*    @project:     newsletter
*    @file:        email_templates.htm
*    @version:     1.0
*    @author:      Konstantin Atanasov
*/
-->
<TR>
<TD width=10% style='display:block;border-left:1px dotted lightgray'>
    <TABLE width=100% valign=top class=table >
        <TR><TD align=center class=th > email templates </A></TD></TR>
        <TR><TD align=center class=tr ><A href='admin.php?cmd=wet'> welcome email </A></TD></TR>
        <TR><TD align=center class=tr><A href='admin.php?cmd=net'> newsletter email </A></TD></TR>
    </TABLE>
</TD>
<TD>
<TABLE width=100%  cellspacing=0 cellpading=0 align='left'>
<FORM action='admin.php?cmd=[next_cmd]&type=[type]' method=post target='_self'>
<TR><TD colspan=2 class=th>&nbsp;[email_template_title]</TD></TR>
<TR><TD colspan=2 >&nbsp;[message]</TD></TR>
<TR><TD class=fl align=right>[email_subject_label]</TD><TD>
    <INPUT value='[email_subject]' type=text name=email_subject class=f size=50 ></TD></TR>
<TR><TD class=fl align=right valign=top >[email_body_label]</TD><TD>
    <TEXTAREA rows=10 cols=60 name=email_body class=f >[email_body]</TEXTAREA></TD></TR>
<TR><TD colspan=2>&nbsp;</TD></TR>

<TR><TD >&nbsp;</TD> <TD align=left colspan=1 style='border-top:1px solid lightgrey'>
    <INPUT value=save type=submit name=submitbutton class=button size=50></TD>
    </TR>
</FORM>
</TABLE>
</TD></TR>
