<!--
/**
*    
*    @project   newsletter
*    @file      login.htm
*    @version   1.0
*    @author    Konstantin Atanasov
*/
-->
<TR><TD>
 <TABLE align='left' width=80%>
<form action='admin.php?cmd=login'  name="login_form" method="post" target="_self">

 <TR><TD>&nbsp<SPAN class=points>::</SPAN>  login</TD></TR>
 <TR>
	<TD align='right' class='text'>user name </TD>
	<TD><INPUT class=f value="<?php echo $UserName ?>" name="UserName" size=25 maxlength=25></TD>
	</TR>
 <TR>
    <TD align='right' class='text'>password </TD> 
	<TD><INPUT class=f value="<?php echo $password ?>" name='password' size=25 maxLength=25 type=password></TD>
  </TR>
  <TR><TD colspan=2>&nbsp;<SPAN style='color:red'>[message]</SPAN></TD></TR>
  <TR><TD colspan=2><HR></TD></TR>
  <TR>
    <TD><SPAN class='errorText'><?php ECHO $message ?></SPAN></TD>
	<TD align='right'><INPUT class='button' type=submit value='login'></TD>
   </TR>
  </TABLE>
 </form> 
</TD></TR>