<!--
/**
*    
*    @project:    newsletter
*    @file:       menu.htm
*    @version:    1.0
*    @author:     Konstantin Atanasovcharset
*
*/
-->
 <TR><TD colspan=2>
 <TABLE align='left' width=100%>
 <TR><TD  >&nbsp</TD></TR>
 
 <TR><TD  class=tb style='border-bottom:1px solid lightgray'>&nbsp;
 <?php 
 
      if (isset($_SESSION['user'])) { ?>
         <A href='admin.php?cmd=users_list' class=link>users list </A>
         <SPAN class=sep>&nbsp;&nbsp;|&nbsp;&nbsp;</SPAN>
         <A href='admin.php?cmd=wet'> email templates </A>
         <SPAN class=sep>&nbsp;&nbsp;|&nbsp;&nbsp;</SPAN>
         <A href='admin.php?cmd=postnews'> post article </A>
         <SPAN class=sep>&nbsp;&nbsp;|&nbsp;&nbsp;</SPAN>
         <A href='admin.php?cmd=artlist'> articles list </A>
         <SPAN class=sep>&nbsp;&nbsp;|&nbsp;&nbsp;</SPAN>
         <A href='admin.php?cmd=logout'>logout</A>
         <SPAN class=sep>&nbsp;&nbsp;|&nbsp;&nbsp;</SPAN> 
<?php } ?>

     </TD>
 </TR>
 </TABLE>
 </TD></TR>
