<!--
/**
*    
*    @project:     newsletter
*    @file:        post_article.htm
*    @version:     1.0
*    @author:      Konstantin Atanasov
*/
-->
<TR>
<TD width=10%>&nbsp;</TD>
<TD>
<TABLE width=100%  cellspacing=0 cellpading=0 align='left'>
<FORM action='admin.php?cmd=[next_cmd]&type=[type]' method=post target='_self'>
<TR><TD colspan=2 class=th>&nbsp;post article</TD></TR>
<TR><TD colspan=2 >&nbsp;[message]</TD></TR> 
<TR><TD class=fl align=right valign=top>news article content <BR>( plain text only )</TD><TD>
    <TEXTAREA rows=15 cols=80 name=article class=f >[article]</TEXTAREA></TD></TR>
<TR><TD colspan=2>&nbsp;</TD></TR>
<TR><TD >&nbsp;content type</TD>
    <TD><SELECT name=articleType><OPTION default value='text/plain'>text</OPTION>
                                 <OPTION value='text/html'>html</OPTION>
    </SELECT>
    </TD>
</TR>
<TR><TD >&nbsp;</TD> <TD align=left colspan=1 style='border-top:1px solid lightgrey'>
    <INPUT value=save type=submit name=submitbutton class=button size=50></TD>
    </TR>
</FORM>
</TABLE>
</TD></TR>
