body { font-family: arial; font-size: 11px; }
a { color: #5C9D17;}
a:hover { color: #435F26;}
a:visited { color:#5C9D17;}
a:active { color: #5C9D17;} 
h2 { color: #537F15; }
h3 { color: #73A54D; }
.code
      {
        font-family: courier new;
        font-size: 11px;
        border: 1px solid #537F15;
        padding: 2px;
      }
.codeheader
      {
        background-color: #CEE6BD;
        font-family: arial;
        font-size: 11px;
        font-weight: bold;
      }