<html>

{include file="head.tpl.html"}

<body marginwidth=0 marginheight=0 leftmargin=0 topmargin=0>

<p>
<table border=0 width=100% cellspacing=0 cellpadding=0 bgcolor=#660F0F>

<tr>
<td width=1% valign=bottom>

<table cellspacing=0 cellpadding=0 border=0>
<tr>
<td valign=bottom><img border=0 src="images/cart1.gif"></td>
<td valign=bottom><img border=0 src="images/text.gif" alt="{$page_title}"></td>
</tr>
</table>

</td>
<td align=center colspan=3>

<table width=90%>
<tr>
<td align=left>
<table>
<tr><td><img src="images/home.gif" border=0></td>
<td><a class=light href="index.php">{$smarty.const.LINK_TO_HOMEPAGE}</a></td></tr>
</table>
</td>

<td>
<table>
<tr><td><img src="images/price.gif" border=0></td>
<td><a class=lightstandard href="index.php?show_price=yes">{$smarty.const.STRING_PRICELIST}</a></td></tr>
</table>
</td>

<td>
<table>
<tr><td><img src="images/help.gif" border=0></td>
<td><a class=light href="index.php?aux_page=aux1"><nobr>{$smarty.const.ADMIN_ABOUT_PAGE}</nobr></a></td></tr>
</table>
</td>

</tr>
<tr>

<td>
<table>
<tr><td><img src="images/register.gif" border=0></td>
<td>
<a class=lightstandard href="index.php?register=yes">{$smarty.const.REGISTER_LINK}</a>
</td></tr>
</table>
</td>

<td>
<a class=lightstandard href="index.php?currency=yes">{$smarty.const.CHANGE_CURRENCY_LINK}</a>
</td>

<td>
<table>
<tr><td><img src="images/order.gif" border=0></td>
<td><a class=light href="index.php?aux_page=aux2">{$smarty.const.ADMIN_SHIPPING_PAGE}</a></td></tr>
</table>
</td>

</tr>
</table>

</td>

<td align=center>



</tr>

</table>







<table border=0 width=100% cellspacing=0 cellpadding=0>

<tr>
<td bgcolor=#660F0F style="background: url(images/search_back.jpg) no-repeat;" align=center valign=top>

<p>{include file="search_form.tpl.html"} <a href="index.php?adv_search=true" class=lightsmall>{$smarty.const.ADVANCED_SEARCH_LINK}</a></p>
      <p>
	  
<table border=0 cellspacing=0 cellpadding=0 width=100% bgcolor=#8A3D3D>
<tr>
<td bgcolor=black>
<table><tr><td><img src="images/pointer.gif"></td><td><b><font color=white>{$smarty.const.ADMIN_CATALOG}</font></b></td></tr></table>
</td>
</tr>
<tr><td>

<table cellpadding=5><tr><td>
{include file="category_tree.tpl.html"}
</td></tr></table>

</td></tr>
<tr><td align=right><img src="images/tr3.gif"></td>
</tr>
</table>
	  
	  </td>

<td valign=top><img src="images/tr1.gif"></td>

<TD WIDTH=100% VALIGN=TOP ROWSPAN=2>

<br>
<p>

{include file="$main_content_template"}


</TD>

<td valign=top bgcolor=#660F0F> 

<Table cellspacing=0 cellpadding=2 width=100% border=0>
 <Tr>
	<Td bgcolor=black>
		<table>
		<tr>
		 <td><img src="images/c.gif"></td>
		 <td>&nbsp;&nbsp;<a class=light href="index.php?shopping_cart=yes"><font color=white>{$smarty.const.CART_TITLE}</font></a></td>
		</tr>
		</table>
	</Td>
 </Tr>
 <Tr>
	<Td bgcolor=#8A3D3D>
		<p>

{include file="shopping_cart_info.tpl.html"}


	</Td>
 </Tr>
</Table>

</tr>



<tr>
<td width=1% valign=top bgcolor=white>




<br><br>


<br><br><br><br><br><br><br>

</td>
<td>&nbsp;</td>



<td width=1% valign=top bgcolor=#660F0F><br>

<Table cellspacing=0 cellpadding=0 width=100%>
<Tr>
<Td bgcolor=black><table><tr><td><img src="images/pointer.gif"></td><td><b><font color=white>{$smarty.const.ADMIN_NEWS}</font></b></td></tr></table></Td>
</Tr>
<Tr>
<Td bgcolor=#8A3D3D>
<TABLE CELLPADDING=4 WIDTH=100%>
<TR><TD ALIGN=CENTER>
<p>
<font color=white>{$smarty.const.STRING_TURNED_OFF}</font>
<br><br>

</TD></TR></TABLE>

</Td></Tr>

<Tr><Td bgcolor=black>

<table>
<tr>
<td><img src="images/pointer.gif"></td>
<td><b><font color=white>{$smarty.const.ADMIN_VOTING}</font></b></td>
</tr>
</table>

</Td></Tr>

<Tr><Td bgcolor=#660F0F align=center>

<p>
<font color=white>{$smarty.const.STRING_TURNED_OFF}</font>
<br><br>


</Td></Tr>

<Tr><Td bgcolor=black>
<table>
<tr>
<td><img src="images/pointer.gif"></td>
<td><b><font color=white>{$smarty.const.STRING_LANGUAGE}</font></b></td>
</tr>
</table>
</Td></Tr>
<Tr><Td bgcolor=#660F0F align=center>

<br>
{include file="language.tpl.html"}


</Td></Tr>

</Table></td></tr>

<tr bgcolor=white>
<td colspan=3 align=right valign=bottom><img src="images/tr2.gif"></td>
<td align=center bgcolor=#660F0F>&nbsp;</td>
</tr>


<tr bgcolor=#660F0F>
<td colspan=4 align=center>

<table cellpadding=5 border=0 width=100%><tr><td align=center>
<font color=white>
[ <a class=light href="index.php">{$smarty.const.LINK_TO_HOMEPAGE}</a> |
<a class=light href="index.php?shopping_cart=yes">{$smarty.const.CART_TITLE}</a> |
<a class=lightstandard href="index.php?currency=yes">{$smarty.const.CHANGE_CURRENCY_LINK}</a> |
<a class=light href="index.php?aux_page=aux1"><nobr>{$smarty.const.ADMIN_ABOUT_PAGE}</nobr></a> |
<a class=light href="index.php?aux_page=aux2">{$smarty.const.ADMIN_SHIPPING_PAGE}</a> |
<a class=lightstandard href="index.php?show_price=yes">{$smarty.const.STRING_PRICELIST}</a> |
<a class=lightstandard href="index.php?register=yes">{$smarty.const.REGISTER_LINK}</a>
]</font>
</td>



<td>

					<table cellpadding=0 cellspacing=0 width=100% border=0>
					<tr>
						<td valign=center align=center><a class=light href="http://www.shop-script.com"><img src="images/ss12.gif" border=0 alt="PHP shopping cart software Shop-Script"></a></font></td>
					</tr>
					</table>

</td>

</tr></table>


<font class=middle color=#CC9090><i>Copyright © 2005 <a class=light href="http://www.shop-script.com"><u>WebAsyst LLC</u></a>. All rights reserved.</i></font>




</td></tr>
</table>



</body>
</html>