<html>
<head>
<title>%%%SITE_TITLE%%% : Power Search</title>

<!--#include file="%%%TEMPLATES_DIR%%%/header.html"-->

<table border=0 width="95%" cellspacing=0 cellpadding=5>
  <tr bgcolor="%%%HEADING_COLOR%%%"> 
    <td align=center><font face="Verdana,Arial,Helvetica" size=1 color="#ffffff"><font face="Verdana,Arial,Helvetica" size=1 color="#ffffff">POWER 
      SEARCH</font></font></td>
  </tr>
</table>
<table border=0 cellspacing=0 cellpadding=4 width="95%">
  <tr bgcolor="#ffffff"> 
    <td> 
      <table border="0" width="100%" cellspacing="0" cellpadding=0>
        <tr> 
          <td valign=top> 
            <form method="get" action="%%%IF_URL%%%" name="SearchForm">
              <input type="hidden" name="img" value="0">
              <table border="0" cellspacing="0" cellpadding="4" width="100%">
                <tr>
                  <td><font size=2 face="Verdana,Arial,Helvetica">What are you 
                    searching for?<br>
                    </font></td>
                </tr>
                <tr bgcolor="#cccccc">
                  <td>
                    <input type="text" size="40" maxlength="125" name="search" value="">
                  </td>
                </tr>
                <tr>
                  <td><font size=2 face="Verdana,Arial,Helvetica">Which 
                    category would you like to search in?<br>
                    </font></td>
                </tr>
                <tr bgcolor="#cccccc">
                  <td>
                    <select name="cat">
                      <option value="all">- All Categories%%%CATLIST%%%
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><font size=2 face="Verdana,Arial,Helvetica">What keyword 
                    connector or boolean operator would you like to use?<br>
                    </font></td>
                </tr>
                <tr bgcolor="#cccccc">
                  <td> 
                    <table border=0 cellspacing=0 cellpadding=0>
                      <tr> 
                        <td>
                          <input type="radio" name="bool" value="and" checked>
                        </td>
                        <td><font size=2 face="Verdana,Arial,Helvetica">AND&nbsp;&nbsp;</font></td>
                        <td valign=bottom>
                          <input type="radio" name="bool" value="or">
                        </td>
                        <td><font size=2 face="Verdana,Arial,Helvetica">OR&nbsp;&nbsp;</font></td>
                        <td>
                          <input type="radio" name="bool" value="phrase">
                        </td>
                        <td><font size=2 face="Verdana,Arial,Helvetica">PHRASE</font></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td><font size=2 face="Verdana,Arial,Helvetica">How many search results 
                    would you like to show per page?<br>
                    </font></td>
                </tr>
                <tr bgcolor="#cccccc">
                  <td> 
                    <table border=0 cellspacing=0 cellpadding=0>
                      <tr> 
                        <td>
                          <input type="radio" name="numtolist" value="%%%NUM1%%%" checked>
                        </td>
                        <td><font size=2 face="Verdana,Arial,Helvetica">%%%NUM1%%%&nbsp;&nbsp;</font></td>
                        <td valign=bottom>
                          <input type="radio" name="numtolist" value="%%%NUM2%%%">
                        </td>
                        <td><font size=2 face="Verdana,Arial,Helvetica">%%%NUM2%%%&nbsp;&nbsp;</font></td>
                        <td>
                          <input type="radio" name="numtolist" value="%%%NUM3%%%">
                        </td>
                        <td><font size=2 face="Verdana,Arial,Helvetica">%%%NUM3%%%&nbsp;&nbsp;</font></td>
                        <td>
                          <input type="radio" name="numtolist" value="%%%NUM4%%%">
                        </td>
                        <td><font size=2 face="Verdana,Arial,Helvetica">%%%NUM4%%%&nbsp;&nbsp;</font></td>
                        <td>
                          <input type="radio" name="numtolist" value="%%%NUM5%%%">
                        </td>
                        <td><font size=2 face="Verdana,Arial,Helvetica">%%%NUM5%%%&nbsp;&nbsp;</font></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td><font size=2 face="Verdana,Arial,Helvetica">How would you like your search results sorted?<br>
                    </font></td>
                </tr>
                <tr bgcolor="#cccccc">
                  <td> 
                    <table border=0 cellspacing=0 cellpadding=0>
                      <tr> 
                        <td>
                          <input type="radio" name="sortfiles" value="2" checked>
                        </td>
                        <td><font size=2 face="Verdana,Arial,Helvetica">Alphabetical/Numerical&nbsp;&nbsp;</font></td>
                        <td>
                          <input type="radio" name="sortfiles" value="1">
                        </td>
                        <td><font size=2 face="Verdana,Arial,Helvetica">Date of Availability</font></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table><br>
              <center><input type=image src="%%%IFIMAGES%%%/bigsearch.gif" border=0 alt="Search"></center>
            </form>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--#include file="%%%TEMPLATES_DIR%%%/footer.html"-->
</body>
</html>
