<html>
<head>
<title>%%%SITE_TITLE%%% : Home</title>

<!-- JavaScipt code for category button mouseovers -->
<script language="JavaScript">
<!--
if (document.images) {
%%%JS_ROLLOVERS%%%
}
function changeImages() {
  if (document.images) {
    for (var i=0; i<changeImages.arguments.length; i+=2) {
      document[changeImages.arguments[i]].src = eval(changeImages.arguments[i+1] + ".src");
    }
  }
}
// -->
</script>
<!-- end of mouseover code -->


<!--#include file="%%%TEMPLATES_DIR%%%/header.html"-->

      <table border=0 cellspacing=0 cellpadding=5 width="95%">
        <tr bgcolor="%%%HEADING_COLOR%%%"> 
          <td align=center> <font face="Verdana,Arial,Helvetica" size="1" color="#ffffff">CATEGORIES</font></td>
        </tr>
        <tr bgcolor="#ffffff"> 
          <td> 
            <table border=0 width="100%" cellspacing=0 cellpadding=4>
              <tr> 
                <td> 
                  <table border="0" width="100%" cellspacing="0" cellpadding=0>
                    <tr> 
                      <td valign=top width="50%">%%%CATEGORIES%%%</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <br>
            <center>
              <font face="Verdana,Arial,Helvetica" size=2><nobr>%%%PREVIOUS_PAGE%%% 
              %%%PAGES_LINKED%%% %%%NEXT_PAGE%%%</nobr></font> 
            </center>
            <br>
          </td>
        </tr>
      </table>

<!--#include file="%%%TEMPLATES_DIR%%%/footer.html"-->

</body>
</html>
