<!-- Template file for MPEG Movies -->

<EMBED SRC="%%%FILE%%%" border="0" width=240 height=240 type="application/x-mplayer2"></EMBED>

<br><br>

<table border=0 cellspacing=0 cellpadding=3>
  <tr>
    <td><a href="%%%FILE%%%"><img src="%%%IFIMAGES%%%/download.gif" border=0 alt="Download this file"></a></td>
    <td align=center><font face="Verdana,Arial,Helvetica" size=1>Having trouble viewing this file?</font><br>
    <font face="Verdana,Arial,Helvetica" size=2><a href="%%%FILE%%%"><b>Click here to download it!</b></a></font></td>
  </tr>
</table>

<br>