body {
	margin: 0; padding: 0; background: #ffffff;
	font-family:"Trebuchet MS", Arial, Tahoma;
}
#toolbar {
	background: #F3F3EE;
	border: 1px solid;
	border-color: #ffffff #D8D2BD #D8D2BD #ffffff;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	cursor: default;
}
#toolbar a {
	color: #000000;
}
#logo {
	position:absolute;
	top:1px;
	right:1px;
	width:90px;
	height:29px;
}
#about {
	margin-top:30px;
	font-family:"Trebuchet MS", Arial;
}
.caption {
	font-family:"Trebuchet MS", Arial;
	font-size:18px;
	color:#669900;
	font-weight:bold;
	margin:20px;
}
.tableHeader {
	font-family:"Trebuchet MS", Arial;
	font-size:18px;
	color:#669900;
	font-weight:bold;
	border-bottom:3px solid #6699CC;
}
.row1 {
	background-color:#F0F0FF;
	border-bottom:1px solid #6699CC;
}
.row2 {
	border-bottom:1px solid #6699CC;
}
.tooltip {
	background-color:#F4F4F4;
	border:1px solid #669900;
	padding:5px;
	width:300px;
	font-size:12px;
}

.errorMessage {
    font-weight: bold;
}

#main {

}
A {
	FONT-WEIGHT: normal; COLOR: #0066CC; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; COLOR: #0066CC; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal; COLOR: #ff3300; TEXT-DECORATION: none
}

.XulMenu {
    font-family: tahoma;
    font-size: 11px;
    -moz-user-select: none;
}
.XulMenu .button,
.XulMenu .button:hover,
.XulMenu .button-active,
.XulMenu .button-active:hover {
    line-height: normal;
    padding: 5px 6px 4px 6px;
    border: 1px solid #F3F3EE;
    color: #000000;
    text-decoration: none;
    cursor: default;
    white-space: nowrap;
    display: block;
    position: relative;
}
.XulMenu .button:hover {
    border-color: #ffffff #D8D2BD #D8D2BD #ffffff;
}
.XulMenu .button-active,
.XulMenu .button-active:hover {
    border-color: #D8D2BD #ffffff #ffffff #D8D2BD;
}
.XulMenu .item,
.XulMenu .item:hover,
.XulMenu .item-active,
.XulMenu .item-active:hover {
    background: #ffffff;
    line-height: normal;
    padding: 3px 30px 3px 20px;
    color: #000000;
    text-decoration: none;
    cursor: default;
    white-space: nowrap;
    display: block;
    position: relative;
}
.XulMenu .item:hover,
.XulMenu .item-active,
.XulMenu .item-active:hover {
    background: #BBBBFF;
    color: #ffffff;
}
.XulMenu .section {
    background: #ffffff;
    border: 1px solid;
    border-color: #F1EFE2 #716F64 #716F64 #F1EFE2;
    padding: 2px 1px 1px 2px;
    position: absolute;
    visibility: hidden;
    z-index: -1;
}
.XulMenu .arrow {
    position: absolute;
    top: 7px;
    right: 8px;
    border: 0;
}

* html .XulMenu td { position: relative; } /* ie 5.0 fix */