body{
margin:0;
padding:0;
}
.body, .menuselected, .menu, .bottommenu, body, tr, td {
    font-family:  Arial, sans-serif; 
    font-size: small; 
    color: #000000
margin:0;
padding:0;
}
#page{

}

 #navcontainer
{
width: 12em;
border-right: 1px solid #000;
padding: 0 0 1em 0;
margin-bottom: 1em;
font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
background-color: #90bade;
color: #333;
float:left;
width:170px;
hieght:auto;
}

#navcontainer ul
{
list-style-type: none;
margin: 0;
padding: 0;
border: none;
}

#navcontainer li
{
border-bottom: 1px solid #90bade;
margin: 0;
}

#navcontainer li a
{
display: block;
padding: 5px 5px 5px 0.5em;
border-left: 10px solid #1958b7;
border-right: 10px solid #508fc4;
background-color: #2175bc;
color: #fff;
text-decoration: none;
width: 100%;
}

html>body #navcontainer li a { width: auto; }

#navcontainer li a:hover
{
border-left: 10px solid #1c64d1;
border-right: 10px solid #5ba3e0;
background-color: #2586d7;
color: #fff;
}

.title {
    font-family: Verdana, Arial, sans-serif; 
    font-size: large; 
    color: #000000;
    font-weight: bold
}
.legal {
    font-family: Verdana, Arial, sans-serif; 
    font-size: xx-small; 
    color: #000000


}


.fixedside {


	position: fixed;


	top: 7px;


	left: 7px;


}