.loginline {
text-align: right;
margin-right: 10px;
}
#central {
text-align: center;
}
.infobox {
text-align: left;
padding: 5px;
margin: 5px 20px 5px 20px;
}
.header {
text-align: left;
margin-bottom: 5px;
margin-left: 10px;
}
form {
padding: 0;
border: 0;
margin: 0;
}
.boxes {
text-align: left;
margin: 10px auto 10px auto;
width: 98%;
}
.linksbar {
width: 95%;
margin: -5px 10px 0 10px;
}
.noborder {
border; 0;
}