/* --- GENERAL STYLES --- */
body, td, li, th
{	
	font-size: 95%;
	color: #000;
	/* background: #FFF url(../images/background.gif) no-repeat 200px 0; */
}



.reports{
		padding: 3px;
		border: 1px solid #888888;
}


.blue{color: black;
	 background-color: #f2f8ff;
	 font-size: 80%;}
.odd{color: black;
	 background-color: #fff9ec;
	 font-size: 80%;}
.even{color: black;
	 background-color: #f4f9e6;
	 font-size: 80%;}

em{font-size: 80%}

h1, h2
{
	font-family: georgia, times, "times new roman", serif;
	color: #9F1C00;
	font-weight: normal;
	margin-top: 0;
	line-height: normal;
}

h3, h4 { color: #9F1C00; }
h1 { font-size: 180%; }
h2 { font-size: 150%; }
h3 { font-size: 120%; }
h4 { font-size: 100%; }
a:link { color: #6C6A00; }
a:visited { color: #6C6A00; }




/* --- HEADER STYLES --- */

#header li a:link, #header li a:visited { color: #666; }
#header li a:hover, #header li a:active { background-color: #ccc; }


{
	color: #fff;
	background-color: #666666;
}

#header
{
	font-size: 90%;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
#footer
{
	font-size: 60%;
	text-align: right;
	border-top: 1px solid #ccc;
}


#message {
  position: absolute;
  width: 100%; height: 100%;
}


