<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />

  <title>Templates &#8211; ExpressionEngine Documentation</title>

  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <link rel="contents" href="../../index.html" />
  <style type="text/css" media="screen,print">@import url(../../docs.css);</style>
</head>

<body>

<div id="header">
	<h1>ExpressionEngine Documentation</h1>
</div>


<div id="navlinks">
	<p><a href="../../index.html">Table of Contents</a></p>
</div>


<div id="content">

	<h1>Templates</h1>

	<p>This section of the Control Panel allows you to create, edit, and manage your <a href="../../templates/template_introduction.html">Templates</a>.  It also allows you to create, edit, and manage Template Groups.</p>


	<h2>Template Groups</h2>

	<p>Each of your existing Template Groups is enclosed in a box with two main areas.  On the left of the box is the Template Group name as well as several links:</p>

	<ul>
		<li><b>Add a New Template</b>: Allows you to add a new Template to this Template Group.</li>
		<li><b>Edit Group</b>: Allows you to edit the preferences for this Template Group.</li>
		<li><b>Delete Group</b>: Allows you to delete this Template Group.</li>
		<li><b>Export Templates</b>: You may export any or all of the Templates in this Template Group.</li>
	</ul>

	<p>The right side of the Template Group box is a table listing all the Templates that are part of the Template Group.  There are several columns in the table:</p>

	<ul>
		<li><b>Template Name</b>: The name of the Template, which is effectively the same as a filename.</li>
		<li><b>Hits</b>: The number of times the Template has been viewed or "hit" on your site.</li>
		<li><b>Edit</b>: This is the heart of the entire <dfn>Template</dfn> section in the Control Panel.  This area allows you to edit the actual Template and control what will be displayed on your site.</li>
		<li><b>Prefs</b>: Allows you to edit the preferences for the Template.</li>
		<li><b>Delete</b>: The Delete link will allow you to delete the Template.</li>
	</ul>



	<h2>Create a New Template Group</h2>

	<p>The <dfn>Create a New Template Group</dfn> link at the top of the section allows you to create a new Template Group.  Once created you will be able to add Templates to it.</p>



	<h2>Other Controls</h2>

	<p>There are also a few other controls on the <dfn>Templates</dfn> page:</p>


	<h3>Global Variables</h3>

		<p>In this section you can define custom data that you would like to be available globally in any Template.  This is in addition to the standard <a href="../..//templates/global_variables.html">Global Variables</a> that are already available.</p>

		<p>You could create a Global Variable for any number of purposes.  One idea would be for a piece of copyright text that would be included on every page.  By making it a Global Variable you can change it in one place and immediately see the effects everywhere.</p>


	<h3>Edit Group Order</h3>

		<p>You may change the order in which the Template Groups are displayed on the <dfn>Template</dfn> page.  Simply place the Template Groups in the order you desire.</p>



</div>


<div id="footer">
  <address>ExpressionEngine &#8211; Copyright &#169; 2003-2004 &#8211; pMachine, Inc.</address><div class="validation"><a href="http://validator.w3.org/check/referer" title="Validate XHTML">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="Validate CSS">CSS</a></div>
</div>

</body>
</html>