.menuLinks
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: medium none;
    COLOR: #000066;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: none
}
.menuLinks:hover
{
    COLOR: #002255
}
.gotodirectory
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Tahoma;
    TEXT-DECORATION: underline
}
.category_head
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.category_count
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.sub_categories
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.listing_head
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.listing_description
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.main_navigation
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.bookmark_resource
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.hits_count
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #808080;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.created_date
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #808080;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.rate_review
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.page_results_count
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #a0a0a0;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.report_error
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.page_header
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.username
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.directory_key
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.paging_links
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.input
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #989898;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
SELECT
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #989898;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.general_text
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.general_small_text
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.general_page_header
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.frontpage_links
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.form_text
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.display_cats
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #989898;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.form_buttons
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.search_results_category
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.short_listing_url
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.warning_text
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.MenuHead
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: 1px;
    MARGIN-TOP: 0pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    PADDING-BOTTOM: 6pt;
    BORDER-LEFT: medium none;
    COLOR: #939393;
    PADDING-TOP: 6pt;
    BORDER-BOTTOM: #bbbbbb 1pt solid;
    FONT-FAMILY: Verdana, Arial
}
.MenuOption
{
    BORDER-TOP: 1pt;
    PADDING-BOTTOM: 5pt;
    PADDING-TOP: 5pt;
    BORDER-BOTTOM: #bbbbbb 1pt solid
}
