<html>
<head>
<script>
if (!document.layers&&!document.all&&!document.getElementById)
event="test"
function showtip(current,e,text){

if (document.all||document.getElementById){
thetitle=text.split('<br>')
if (thetitle.length>1){
thetitles=''
for (i=0;i<thetitle.length;i++)
thetitles+=thetitle[i]
current.title=thetitles
}
else
current.title=text
}

else if (document.layers){
document.tooltip.document.write('<layer bgColor="white" style="border:1px solid black;font-size:12px;">'+text+'</layer>')
document.tooltip.document.close()
document.tooltip.left=e.pageX+5
document.tooltip.top=e.pageY+5
document.tooltip.visibility="show"
}
}
function hidetip(){
if (document.layers)
document.tooltip.visibility="hidden"
}

</script>
<style>
body, p, td {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; 
scrollbar-face-color: #dadada; 
                scrollbar-shadow-color: #000000; 
                scrollbar-highlight-color: #FFFFFF; 
                scrollbar-3dlight-color: #000000; 
                scrollbar-darkshadow-color: #dadada; 
                scrollbar-track-color: #FFFFFF; 
                scrollbar-arrow-color: #000000; }
    </style>
 </head>          
 <body topmargin="0" leftmargin="0" link="#000080" vlink="#000080" alink="#000080" bgcolor="#FFFFFF">

           <div align="center">
             <center>
             <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber17">
               <tr>
                 <td width="100%" valign="top" bgcolor="#D4D2DF">
                 &nbsp;<br>
&nbsp;</td>
               </tr>
               <tr>
                 <td width="100%" valign="top" background="{%tpl_template_url%}/gfx/cnet/nnet2002_toolbar_bg.gif">
                 <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" id="AutoNumber20" width="760">
                   <tr>
                     <td valign="top" width="1">
                     <map name="FPMap0">
                     <area href="{%url_php%}/browse.php" onMouseover="showtip(this,event,'Return home');" onMouseout="hidetip()" shape="rect" coords="39, 3, 63, 27">
                     <area href="{%url_php%}/browse.php?mod=signup" onMouseover="showtip(this,event,'New Member Sign-up');" onMouseout="hidetip()" shape="rect" coords="65, 2, 90, 27">
                     <area href="{%url_php%}/browse.php?mod=archive" onMouseover="showtip(this,event,'Latest Article Submission');" onMouseout="hidetip()" shape="rect" coords="93, 3, 124, 27">
                     <area href="{%url_php%}/browse.php?mod=submit" onMouseover="showtip(this,event,'Submit your article');" onMouseout="hidetip()" shape="rect" coords="121, 3, 152, 27">
                     <area href="{%url_php%}/browse.php?mod=members" onMouseover="showtip(this,event,'NePHP Member List');" onMouseout="hidetip()" shape="rect" coords="155, 3, 179, 27">
                     <area href="{%url_php%}/browse.php?mod=profile" onMouseover="showtip(this,event,'My Profile');" onMouseout="hidetip()" shape="rect" coords="185, 2, 210, 27">
                     <area href="{%url_php%}/help.html" shape="rect" onMouseover="showtip(this,event,'Click here for additional help');" onMouseout="hidetip()" coords="260, 3, 277, 20">
                     </map>
                     <img border="0" src="{%tpl_template_url%}/gfx/cnet/nnet2002_toolbar.gif" width="360" height="78" usemap="#FPMap0"></td>
                     <td valign="top">
                     <form method="POST" action="browse.php">
                     <input type=hidden name=mod value="find">
					<div align="right">
                         <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" id="AutoNumber21">
                           <tr>
                             <td valign="top">
                             <img border="0" src="{%tpl_template_url%}/gfx/cnet/nnet2002_toolbar_quiksearch.gif" width="84" height="36">&nbsp;&nbsp;
                             </td>
                             <td><input type="text" name="keywords" size="20"></td>
                             <td valign="top">
                             <input border="0" src="{%tpl_template_url%}/gfx/cnet/nnet2002_toolbar_go.gif" name="I1" width="27" height="36" type="image"></td>
                           </tr>
                         </table>
                       </div>
                     </form>
                     <p>&nbsp;</td>
                   </tr>
                 </table>
                 </td>
               </tr>
               <tr>
                 <td width="100%" valign="top">
                 <div align="left">
                   <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="760" id="AutoNumber22">
                     <tr>
                       <td valign="top" width="1"><img border="0" src="{%tpl_template_url%}/gfx/trans.gif" width="177" height="1"></td>
                       <td valign="top"><img border="0" src="{%tpl_template_url%}/gfx/trans.gif" width="208" height="1"></td>
                       <td valign="top" width="1">
                       <img border="0" src="{%tpl_template_url%}/gfx/trans.gif" width="177" height="1"></td>
                     </tr>
                     <tr>
                       <td valign="top">&nbsp;</td>
                       <td valign="top">&nbsp;</td>
                       <td valign="top">&nbsp;</td>
                     </tr>
                     <tr>
                       <td valign="top" colspan="3">
                       <div align="center">
                         <center>
                         <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="96%" id="AutoNumber23">
                           <tr>
                             <td width="100%">
                  <b>
                  <a style="color: #0000FF" href="browse.php">Home</a> 
                  <font face="Arial" size="2">Select your editor</font></b></td>
                           </tr>
                           <tr>
                             <td width="100%" background="../gfx/cnet/line.gif">&nbsp;</td>
                           </tr>
                           <tr>
                             <td width="100%">&nbsp;</td>
                           </tr>
                           <tr>
                             <td width="100%">
                             
<div align="center">
  <center>
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="642" id="AutoNumber1">
    <tr>
      <td valign="top" width="642">
      <div align="center">
        <center>
        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="90%" id="AutoNumber2">
          <tr>
            <td width="100%" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber4" height="141">
              <tr>
                <td width="50%" height="141"><font face="Verdana" size="2">
                Editor Environment v3.0x</font></td>
                <td width="50%" height="141">
                <p align="right"><code><font size="4"><b>&nbsp; <br>
&nbsp; <br>
                SELECT E</b></font></code><b><font face="Verdana"><code><font size="4">DITOR 
                TYPE</font></code><br>
                <br>
&nbsp;</font></b></td>
              </tr>
            </table>
            </td>
          </tr>
          <tr>
            <td width="100%" valign="top" background="{%tpl_template_url%}/gfx/nephp_articles_logo_bg.gif">
            <p align="center">
            <a href="browse.php?mod=submit&editor=x">
            <img border="0" src="{%tpl_template_url%}/gfx/nephp_articles_dynamic.gif" width="72" height="25"></a><a href="browse.php?mod=submit&editor=y"><img border="0" src="{%tpl_template_url%}/gfx/nephp_articles_normal.gif" width="72" height="25"></a></td>
          </tr>
          <tr>
            <td width="100%" valign="top"><b>&nbsp; <br>
            <br>
&nbsp;</b><table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber3">
              <tr>
                <td width="50%" valign="top"><b><font color="#000080">Dynamic Requirements</font><br>
                <br>
            </b><font size="1" face="Verdana"><b>Windows</b>: IE 5.5 +&nbsp; ( tested 
                ), NS 6.0 ( tested )&nbsp;&nbsp; <br>
                <b>Unix&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b>: NS 
                6.0 ( tested )&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
                <b>MacOS&nbsp;&nbsp;&nbsp;&nbsp; </b>: ( not supported )&nbsp;&nbsp;</font><br>
            <br>
                <font color="#008080">Due to the Active-X problem in MacOS system. IE (internet explorer) 
            for Mac computers doesn't support it.</font></td>
                <td width="50%" valign="top">
            <b><font color="#000080">Normal Editor</font><br>
                <br>
            </b><font size="1" face="Verdana"><b>Windows</b>: All IE &amp; NS 
                versions<br>
                <b>Unix&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b>: 
                All NS version&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
                <b>MacOS&nbsp;&nbsp;&nbsp;&nbsp; </b>: All IE &amp; NS versions<br>
                <br>
                <br>
                </font><font color="#008080">Normal editor only takes HTML 
                source code. Otherwise, its output won't display correctly.</font></td>
              </tr>
            </table>
            </td>
          </tr>
        </table>
        </center>
      </div>
      </td>
    </tr>
    </table>
  </center>
</div>

                             
                             </td>
                           </tr>
                           </table>
                         </center>
                       </div>
                       </td>
                     </tr>
                     </table>
                 </div>
                 </td>
               </tr>
               </table>
             </center>
           </div>
      <script>
      function loginbox(){document.location='index.php?action=login&username='+document.all.username.value+'&opt=o0o&password='+document.all.password.value;}
           </script>

      </body>
      </html>