BODY {
	margin: 0 0 0 0;
	background-color : #333366;
	color: #000000;
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
}
TD {
	color: black; 
	font-size: 11px;
	font-family: verdana, arial, sans-serif;
	}
H1 {
	color: black; 
	font-size: 14px;
	font-weight: bold; 
	font-family: verdana, arial, sans-serif;
	}
H2 {
	color: black; 
	font-size: 12px;
	font-weight: bold; 
	font-family: verdana, arial, sans-serif;
	}

.headertext {
        color: black;
        font-weight: bold;
}

.blocktitle {
	color: white;
	font-size: 10px;
	font-weight: bold;
	font-family: verdana, arial, sans-serif;
	width : 100%;
}

.footer {
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
	}

.storytitle {
 	background: #DDDDDD;
	font-size: 12px;
	font-weight: bold; 
	font-family: verdana, arial, sans-serif;
	}
.storyunderline{
	background: #000000; 
	}
.warning {
	color: red; 
	font-size: 12px;
	font-weight: bold; 
	font-family: verdana, arial, sans-serif;
	}
.warningsmall {
	color: red; 
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
	}
.commentbar1 {
	color: white; 
	background: #666699; 
	font-size: 12px;
	font-family: verdana, arial, sans-serif;
	padding: 3px;
	}
.commentbar2 {
	background: #9999CC;
	font-size: 12px;
	font-family: verdana, arial, sans-serif;
	padding: 2px;
	}
.commentbar3 {
	color: black;
	background: #9999CC;
	font-size: 10px;
	font-family: verdana, arial, sans-serif;
	padding: 2px;
}
.commenttitle {
	font-size: 12px;
	font-weight: bold;
	background: #DDDDEE;
	font-family: verdana, arial, sans-serif;
	padding: 2px;
}
.cal_day {
    font-size: 14px;
    font-weight: bold;
    }
.cal-nullday {
    background: #EEEEEE;
    }
.cal-oldday {
    background: #DDDDDD;
    }
.cal-today {
    background: yellow;
    }
.weekview_caltitle {
    background: #DDDDDD;
    font-weight: bold;
    font-size: 14px;
    }
.weekview-curday {
    background: yellow;
    }
.weekview-offday {
    background: #DDDDDD;
    }
.weekview_dayformat {
    font-weight: bold;
    }
.weekview_addevent {
    font-size: 9px;
    }
.weekview_daterange {
    font-size: 16px;
    font-weight: bold;
    }
.dayview_times {
    font-weight: bold;
    text-align: center;
    }
.dayview_datecol {
    font-weight: bold;
    background: #DDDDDD;
    font-size: 16px;
    }
.dayview_quickaddtitle {
    font-weight: bold;
    background: #DDDDDD;
    font-size: 14px;
    }
.searchAuth { 
    font-weight: normal; 
    font-size: 80%; 
    font-family: sans-serif; 
    text-align: left;  
    color:#557755;
}
.searchDate { 
    font-weight: normal; 
    font-size: 80%; 
    font-family: sans-serif; 
    text-align: right;  
    color:#557755;
}
.searchHits { 
    font-weight: normal; 
    font-size: 80%; 
    font-family: sans-serif; 
    text-align: right; 
    color:#557755;
}
.highlight { 
    background-color: yellow; 
    text-decoration: none; 
} 
.header {
	background-color: #EEEEFF;
}

.menu {
	background-image : url(interface/menu.gif);
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	padding : 2px;
	color : #666699;
	text-align : center;
	border-bottom : 1px solid #666699;
	border-top : 1px solid #666699;
}

.blockheader {
	background-image : url(interface/menu.gif);
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	padding : 2px;
	color : #000033;
	text-align : center;
	border-bottom : 1px solid #666699;
	border-top : 1px solid #666699;
}

.featureheader {
	background-image : url(interface/menu.gif);
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	padding : 2px;
	color : #000033;
}

a, a.link,a.visited {
	color : #333366;
	text-decoration: none;
	border-bottom : 0px solid #666699;
	border-top : 0px solid #666699;
	font-weight : bold;
}

a:hover {
    color : #666699;
	font-weight : bold;
    text-decoration: underline;
}

.content {
	background : #EEEEFF;
}

.header1 {
	font-family : "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 26px;
	padding-bottom : 3px;
}

.header2 {
	font-family : "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 14px;
	text-transform : uppercase;
	padding-bottom : 3px;
}

.footer {
	font-family : "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	padding-bottom : 3px;
    color : #9999CC;
}

a.footer,a.footer:link,a.footer:visited, {
    color : #CCCCFF;
    text-decoration: none;
}

a.footer:hover {
    color : #FFFFFF;
    text-decoration: underline;
   
}

.content {
	color: black; 
	font-size: 12px;
	font-family: verdana, arial, sans-serif;
	background: transparent;
}

.fullbox {
	border: 1px solid #999999;
	background-color : #F8F8FF;
}

.midbox {
	border-left : 1px solid #999999;
	border-right : 1px solid #999999;
	background-image : url(interface/storyheader-back.gif);
}

.upper-left         { background-image : url(interface/upper-left.gif); }
.upper-mid          { background-image : url(interface/upper-mid.gif); }
.upper-right        { background-image : url(interface/upper-right.gif); }
.shadow-left        { background-image : url(interface/shadow-left.gif); }
.shadow-mid         { background-image : url(interface/shadow-mid.gif); }
.shadow-right       { background-image : url(interface/shadow-right.gif); }
.main-left          { background-image : url(interface/main-left.gif); }
.main-mid           { background-image : url(interface/main-mid.gif); }
.main-right         { background-image : url(interface/main-right.gif); }
.lower-left         { background-image : url(interface/lower-left.gif); }
.lower-right        { background-image : url(interface/lower-right.gif); }
.col-left           { background-image : url(interface/col-left.jpg); }
.col-right          { background-image : url(interface/col-right.jpg); }
.col-left-curve     { background-image : url(interface/col-left-curve.gif); }
.col-right-curve    { background-image : url(interface/col-right-curve.gif); }
.col-left-line      { background-image : url(interface/col-left-line.gif); }
.col-right-line     { background-image : url(interface/col-right-line.gif); }
.lower-line-left    { background-image : url(interface/lower-line-left.gif); }
.lower-line-right   { background-image : url(interface/lower-line-right.gif); }
.lower-line-mid     { background-image : url(interface/lower-line-mid.gif); }
