<br /><br />
<table border="0" width="100%" cellpadding="8" style="background-color:{{bg_colour}};">
  <tr>
    <td align="left" valign="top" style="background-color:{{bg_colour}};">
      {{pic}}
    </td>
    <td align="center" valign="top" width="100%" style="background-color:{{bg_colour}};">
      <table border="0" width="100%" cellpadding="8" class="noborder" style="background-color:{{bg_colour}};">
        <tr>
          <td align="center" valign="middle" width="100%" style="background-color:{{bg_colour}};">
            <span style="font-family:{{font_face}}; font-size:{{font_size}}; color:{{font_color}}">{{title}}</span><hr width="100%" size="1" noshade="noshade" />
          </td>
        </tr>
        <tr>
          <td valign="top" align="left" width="100%" style="background-color:{{bg_colour}};">
            <span style="font-family:{{font_face}}; font-size:{{font_size}}; color:{{font_color}}">{{message}}</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>

    <td colspan="2" align="left" style="background-color:{{bg_colour}};">

      <span style="color:{{font_color}};">||card_sent_date||: <i>{{date}}</i> ||by|| {{sender_name}}</span>

    </td>

  </tr>
</table>