<table width="100%" class="noborder">
  <tr>
    <td valign="middle" align="left">
      <span class="page_header">||choose_img||</span>
    </td>
    <td align="right" valign="bottom">
      <form action="{{action}}?act=search" method="post">
				||search|| {{search_select_box}} ||for||: <input type="text" name="search_text" title="||enter_terms|| (||accesskey|| S)" value="" accesskey="s" size="30" /> <input type="submit" value="Go!" />
				<br />[ <a href="{{action}}?act=adv_search">||adv_img_search||</a> ]
			</form>
    </td>
  </tr></table>

<table width="100%" border="0" class="noborder" cellpadding="3" cellspacing="0">

  <tr>

    <td width="150" valign="top">


      <table width="100%" class="noborder" cellpadding="3">


        <tr>

          <td colspan="2">

            <b>||browse_cats||:</b>



          </td>

        </tr>
            {{cat_jump}}

      </table>

    </td>

    <td align="left" valign="top">

      <table border="0" width="100%" class="noborder">


        <tr>

          <td align="center" width="25%" valign="top">

              <table width="100%" class="noborder">

                <tr>

                  <td width="100%" align="center">

                      <span class="main_header">||new_imgs||</span>

                      {{new_images}}

                  </td>

                </tr>

              </table>

          </td>

	  			<td align="center" valign="top" colspan="2">

              <table width="100%" class="noborder">

                <tr>

                  <td width="100%">

                      <span class="main_header">||browse_imgs||</span>

                      {{browse_images}}

                  </td>

                </tr>

              </table>

          </td>



          <td align="center" width="25%" valign="top">

              <table width="100%" class="noborder">

                <tr>

                  <td width="100%" align="center">

                      <span class="main_header">||pop_imgs||</span>

                      {{popular_images}}

                  </td>

                </tr>

              </table>

          </td>

        </tr>

      </table>

<br />

    </td>

  </tr>

</table>