select       { font-family: Verdana; font-size: 8pt; padding-left: 4; padding-right: 4; padding-top: 1; padding-bottom: 1 }
option       { font-family: Verdana; font-size: 8pt }
fieldset     { font-family: Verdana; font-size: 8pt }
textarea     { font-family: Verdana; font-size: 8pt }
input        { font-family: Verdana; font-size: 8pt;  }
b            { font-family: Verdana; font-size: 8pt; font-weight: bold }
th           { font-family: Verdana; font-size: 8pt; font-weight: bold }
a:link       { font-family: Verdana; font-size: 8pt; color: #000080; text-decoration: none}
a:visited    { color: #000080; font-family: Verdana; font-size: 8pt; text-decoration: none}
a:active     { font-family: Verdana; color: #000080; font-size: 8pt; text-decoration: none}
a:hover      { color: #FF0000; font-family: Verdana; font-size: 8pt; text-decoration: underline}
body         { font-family: Verdana; font-size: 8pt; background-image: 
               url('../images/wp.jpg'); padding-left: 4; padding-right: 4; 
               padding-top: 1; padding-bottom: 1 }
table        { font-family: Verdana; font-size: 8pt; border-collapse: collapse; spacing: 1; padding: 1 }
h1	     { color: #0000FF; text-align: center; font-size: 18pt; font-weight: bold; font-family: Verdana; text-decoration: underline; background-color: #ECE1CA }
h2	     { color: #000000; font-family:Arial; font-size:18pt; text-decoration:underline; font-weight:bold; text-align:center }
h3	     { font-size: 16pt; font-family: Times New Roman; text-align: center; color: #ffffff; background-color: #004785; border: 2px ridge #33CCFF; padding: 0 }
h4	     { color: #0000FF; font-size: 18pt; font-family: Times New Roman; text-align: center; background-color: #FFFFFF }
h5	     { color: #FFFFFF; font-family: Century Gothic; font-size: 14pt; background-color: #999999; text-decoration: underline; font-weight: bold; border: 2 outset #C0C0C0 }
h6	     { font-family: Lucida Sans Unicode; font-size: 12pt; background-color: #EEDDDD; color: #FF9966; font-weight: bold; border: 3 outset #D3AFB1 }
p            { font-family: Verdana; font-size: 8pt }
.logo		   { border-style: solid; border-width: 1; height:125; width:125 }
.larg		   { border-style: solid; border-width: 1; height:100; width:100 }
.small		   { border-style: solid; border-width: 1; height:75; width:75 }
.icon		   { border-style: solid; border-width: 1; height:50; width:50 }
//.btn {background-color: #DBDBDB; border: 1 solid #A8A8A8}