BODY {SCROLLBAR-FACE-COLOR: #4E7CCC; FONT-SIZE: 10px; SCROLLBAR-HIGHLIGHT-COLOR: #4E7CCC; SCROLLBAR-SHADOW-COLOR: #4E7CCC; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #4E7CCC; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #e2e4e4; SCROLLBAR-DARKSHADOW-COLOR: #4E7CCC; SCROLLBAR-BASE-COLOR: #4E7CCC; FONT-FAMILY: Tahoma, Verdana, Helvetica, Arial, Sans-serif 11px;
}
SELECT {
	BORDER-RIGHT: #BD0000 1px solid; BORDER-TOP: #BD0000 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #BD0000 1px solid; BORDER-BOTTOM: #BD0000 1px solid; FONT-FAMILY: Tahoma, Verdana; BACkground-color: #ffffff
}
TEXTAREA {
	BORDER-RIGHT: #BD0000 1px solid; BORDER-TOP: #BD0000 1px solid; OVERFLOW: auto; BORDER-LEFT: #BD0000 1px solid; BORDER-BOTTOM: #80C1F2 1px solid; BACkground-color: #ffffff
}
TEXTAREA.text {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Verdana; BACkground-color: #ffffff
}
INPUT {
	BORDER-RIGHT: #BD0000 1px solid; BORDER-TOP: #BD0000 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #BD0000 1px solid; BORDER-BOTTOM: #BD0000 1px solid; FONT-FAMILY: Tahoma, Verdana
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.text {
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	font-size: 11px;
	border-bottom-width: medium;
	border-bottom-style: none;



}
.sidetdstyle {
	border-top: 1px dotted #c0c0c0;
	border-right: 1px dotted #c0c0c0;
	border-bottom: 1px dotted #c0c0c0;
	border-left: 1px dotted #c0c0c0;
	background-color: #FFFFFF;



}
td {
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	font-size: 11px;
	border-bottom-width: medium;
	border-bottom-style: none;



}
tr {
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	font-size: 11px;
	border-bottom-width: medium;
	border-bottom-style: none;



}
table {
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	font-size: 11px;
	border-bottom-width: medium;
	border-bottom-style: none;



}
p {
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	font-size: 11px;
	border-bottom-width: medium;
	border-bottom-style: none;



}