<html>

<head>
<title>Change Bids</title>
</head>

<body>

<p align="center"><font face="Verdana">Change Bids</font></p>

<form action="advertiser.cgi" method="post">
  <input type="hidden" name="bids" value="2">
<table border="0"
  width="100%">
    <tr>
      <td width="20%"><small><font face="Verdana">Your Link</font></small></td>
      <td width="20%"><small><font face="Verdana">Category</font></small></td>
      <td width="20%"><small><font face="Verdana">Current Bid</font></small></td>
      <td width="20%"><small><font face="Verdana">Bid to Become #1</font></small></td>
      <td width="20%"><small><font face="Verdana">New Bid</font></small></td>
    </tr>
<%html%>
  </table>
  <div align="center"><center><p><input type="submit" value="Change Bids" name="adding"> </p>
  </center></div>
</form>
<p><center>
<font face=verdana size=1><b>Note: Your bid will be updated within the hour. </b>
</center></p>
<br>
<center><a href="advertiser.cgi?show=1">Back to Advertiser Menu</a></center>
</font><br><br>
<p align="center"><font face="Verdana" size="1">(c) - 2000,2001 <a href="http://www.mycgiscripts.com">www.MyCgiScripts.com</a></font></p>
</body>
</html>
