<html>

<head>
<title><%text%></title>
</head>

<body>

<p align="center"><small><font face="Verdana"><%text%></font></small></p>

<table border="0" width="100%">
  <tr>
    <td width="25%"></td>
    <td width="50%" colspan="2" align="center"><small><font face="Verdana">Link Info</font></small></td>
    <td width="25%"></td>
  </tr>
  <tr>
    <td width="25%"></td>
    <td width="18%"><small><font face="Verdana">Title</font></small></td>
    <td width="32%"><form method="post" action="advertiser.cgi">
      <p>&nbsp;<input type="text" name="title" size="33" value="<%title%>"> </p>
    </td>
    <td width=" 25%" rowspan="7"><p align="center"><small><small><font face="Verdana">Warning!</font></small></small></p>
    <p align="center"><small><small><font face="Verdana">Your link will be verified by the
    administrator, and after this will be included in our directory.</font></small></small>
    </td>
  </tr>
  <tr>
    <td width="25%"></td>
    <td width="18%"><small><font face="Verdana">URL</font></small></td>
    <td width="32%">&nbsp;<input type="text" name="url" size="33" value="<%url%>"></td>
  </tr>
  <tr>
    <td width="25%"></td>
    <td width="18%"><small><font face="Verdana">Category</font></small></td>
    <td width="32%">&nbsp;<%Category%>
</td>
  </tr>
  <tr>
    <td width="25%"></td>
    <td width="18%"><small><font face="Verdana">Description</font></small></td>
    <td width="32%">&nbsp;<textarea rows="3" name="description" cols="28"><%description%></textarea> </td>
  </tr>
  <tr>
    <td width="25%"></td>
    <td width="50%" colspan="2" align="center"><small><font face="Verdana">Price per click</font></small></td>
  </tr>
  <tr>
    <td width="25%"></td>
    <td width="18%">&nbsp;<small><font face="Verdana">Is your site secure?</font></small></td>
    <td width="32%">&nbsp;
<select name=secure size=1>
<%option%>
<option selected>No
<option>Yes</select>
</td>
  </tr>
  <tr>
    <td width="25%"></td>
    <td width="18%"><small><font face="Verdana">Link bid</font></small></td>
    <td width="32%"><b>$</b><input type="text" name="cbid" size="8" value="<%cbid%>"></td>
  </tr>
  <tr>
    <td width="25%"></td>
    <td width="18%"></td>
    <td width="32%"></td>
  </tr>
  <tr>
    <td width="25%"></td>
    <td width="50%" colspan="2"><p align="center">
<INPUT type="hidden" value="2" name="<%text1%>">
<%ahidden%>
<input type="submit" value="<%text%>" name="modifing"> 
<input type="reset" value="Reset" name="B2">
</form>
</td>
    <td width="25%"></td>
  </tr>
</table>
<p align="center"><font face="Verdana" size="1">(c) - 2000,2001 <a href="http://www.mycgiscripts.com">www.MyCgiScripts.com</a></font></p>
</body>
</html>
