<html><title>Confirm</title>
<body>
<p><font face="Verdana" size="2"><center>Confirm DELETE record <b><%title%></b></center></p>
<p><center>
<form method=post action=advertiser.cgi>
<INPUT type="hidden" value="2" name="delete">
<INPUT type="hidden" value="<%link%>" name="link">
<input type="submit" value="Delete Link"
    name="B1"></form>
<form method=post action=advertiser.cgi>
<INPUT type="hidden" value="1" name="show">
<input type="submit" value="Cancel"
    name="B1"></form>

</body></html>
