<html>

<head>
<title>Statistic</title>
</head>

<body>

<p align="center"><font face="Verdana">Statistic.</font></p>

<form method="POST" action="advertiser.cgi">
<div align="center"><center><p><font face="Verdana"><small>Please
  select statistic period.</small><br>
  <small><select name="period" size="1">
<%selected%>
    <option value="1">Today</option>
    <option value="2">Yesterday</option>
    <option value="3">Last week</option>
    <option value="4">Last two weeks</option>
    <option value="5">Last Month</option>
    <option value="6">Last two months</option>
    <option value="7">Total</option>
  </select>
<input type="submit" value="Show" name="B1"></small></font></p>
  </center></div>
</form>

<table border="1" width="100%">
  <tr>
    <td width="20%"><small><font face="Verdana">Link</font></small></td>
    <td width="20%"><small><font face="Verdana">Category</font></small></td>
    <td width="20%"><small><font face="Verdana">Charges (USD)</font></small></td>
    <td width="20%"><small><font face="Verdana">Clicks</font></small></td>
  </tr>
<%statslinks%>
</table>
<font face=verdana size=1>
<br><br>
<center><a href="advertiser.cgi?show=1">Advertiser area</a></center></font>
</body>
</html>
