<html>

<head>
<title>Welcome to our Advertisers section</title>
</head>

<body>

<p align="center"><font face="Arial">Welcome to our Advertisers section</font></p>

<p align="center">&nbsp;</p>

<table border="0" width="100%">
  <tr>
    <td width="23%" valign="top" align="left"><small><font face="Arial">Login here</font></small><p><small><font
    face="Arial">&nbsp;</font></small></p> <form method=post action=advertiser.cgi>
    <p><small><font face="Arial">Name&nbsp;&nbsp; </font></small><input type="text"
    name="login" size="9"></p>
    <p><small><font face="Arial">Pass&nbsp;&nbsp;&nbsp; </font></small><input type="password"
    name="password" size="9"> </p>
    <p align="center"><input type="submit" value="Login" name="Login"></form></td>
    <td width="77%" valign="top" align="left"><p align="center"><small><font face="Verdana">Hello!</font></small></p>
    <p align="center"><small><font face="Verdana">Welcome to our &quot;Pay per Ranking&quot;
    search engine and directory.</font></small></p>
    <p align="center"><font face="Verdana"><small>If you want to be an advertiser on our site and
    modify your ranking, you may <a href="advertiser.cgi?signup=1">signup</a> and</small><br>
    <small>join our Pay per Ranking program. </small></font></p>
    <p align="center"><font face="Verdana"><small>You may specify cost per click for every
    link which you suggest. If you have the highest bid, your link will stay at the top of
    selected category and be at the top of search results (by contained in link title/description keywords) </small></font></p>
    <p align="center"><font face="Verdana"><small><a href="advertiser.cgi?signup=1">Click here</a>
    to signup.</small></font></td>
  </tr>
</table>

<p align="center"><font face="Verdana" size="1">(c) - 2000,2001 <a href="http://www.mycgiscripts.com">www.MyCgiScripts.com</a></font></p>

</body>
</html>
