<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />

  <title>Page and Entry Pagination &#8211; ExpressionEngine Documentation</title>

  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <link rel="contents" href="../../index.html" />
  <style type="text/css" media="screen,print">@import url(../../docs.css);</style>
</head>

<body>

<div id="header">
	<h1>ExpressionEngine Documentation</h1>
</div>


<div id="navlinks">
	<p><a href="../../index.html">Table of Contents</a></p>
</div>


<div id="content">

	<h1>Page and Entry Pagination</h1>

	<p>The ability to have data span more than one page and to provide navigation between those pages is commonly referred to as "pagination".  This could be something simple like having multiple pages of search results displaying results 1-10, 11-20, etc. or it could be the ability to break up a single article into multiple pages for easier reading; after all, who likes to read really long articles all on the same page?</p>

	<p>ExpressionEngine has the ability to offer both types of pagination, which gives you an unprecedented level of flexibility.  We'll cover the main varieties of pagination separately:</p>

	<ol>
		<li><a href="page.html">Weblog Entry and Comment Pagination</a></li>
		<li><a href="spanning.html">Spanning a Weblog Entry Across Multiple Pages</a></li>
	</ol>



</div>


<div id="footer">
  <address>ExpressionEngine &#8211; Copyright &#169; 2003-2004 &#8211; pMachine, Inc.</address><div class="validation"><a href="http://validator.w3.org/check/referer" title="Validate XHTML">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="Validate CSS">CSS</a></div>
</div>

</body>
</html>