/*
*
* following will be filled automatically by SubVersion!
* Do not change by hand!
*  $LastChangedDate: 2005-07-10 01:28:45 +0200 (So, 10 Jul 2005) $
*  @lastedited $LastChangedBy: olaf $
*  $LastChangedRevision: 236 $
*
*/
body {
	font-family: Arial, Helvetica, sans-serif;
}
.tsep{
	color: #29B652;
	font-weight: bold;	
} 
.importantNote {
	font-weight: bold;
}
