body
{ 
  margin: 20px; 
  background-color: #D7D7D7;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-color: #000000;
  scrollbar-face-color: #7979BB;
  scrollbar-arrow-color: #9999CC;
  scrollbar-track-color: #9999CC;
  scrollbar-shadow-color: '';
  scrollbar-highlight-color: '';
  scrollbar-3dlight-color: '';
  scrollbar-darkshadow-Color: '';
}

table
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-color: #000000;
}

input, select, textarea
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

a:link { text-decoration: underline; color: #000000; }
a:visited { text-decoration: underline; color: #000000; }
a:active { text-decoration: underline; color: #000000; }
a:hover { text-decoration: underline; color: #000000; }