body { margin: 5px; background-color: #9999CC; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-color: #000000; }

table { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-color: #000000; }

a:link { text-decoration: none; color: #000000; }
a:visited { text-decoration: none; color: #000000; }
a:active { text-decoration: none; color: #000000; }
a:hover { text-decoration: underline; color: #000000; }