
<link rel="stylesheet" href="{style_dir}admin.css" type="text/css">

<title>MyNewsGroups :) Administration</title><body bgcolor="#FFFFFF">
<table width="479" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td align="center"><br>
      <img src="{images_dir}/mynewsgroups_admin.jpg" width="250" height="60"> <br>
      <br>
    </td>
  </tr>
  <tr>
    <td align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b>{mensaje_error}</b></font></td>
  </tr>
</table>
<br>
<form name="login" method="post" action="index.php">
  <table width="479" border="0" align="center" cellpadding="3" cellspacing="0" background="/admin/admin_web/images/fondo_login_admin.jpg">
    <tr> 
      <td class="top_link" align="right" width="180">User:&nbsp;</td>
      <td width="299"> <input type="text" name="identificativo" maxlength="10" value="{identificativo}" class="form_admin"> 
      </td>
    </tr>
    <tr> 
      <td align="right" width="180" class="top_link">Password:&nbsp;</td>
      <td width="299"> <input type="password" name="password" maxlength="10" class="form_admin"> 
      </td>
    </tr>
    <tr> 
      <td width="180">&nbsp;</td>
      <td width="299"> <br> <input type="submit" name="login" value="Login" class="form_admin"> 
      </td>
    </tr>
    <tr> 
      <td width="180">&nbsp;</td>
      <td width="299">&nbsp;</td>
    </tr>
  </table>
  <br>
</form>


