.item { font-size: 12px; font-family:Arial;}
p { font-size: 12px; font-family:Verdana;Arial;}

.title { color:#00000; font-size: 14px; font-family:Arial; font-weight:bold; padding: 0 2 2 2}
.title_w { color:white; font-size: 14px; font-family:Arial; font-weight:bold; padding: 2 2 2 5}
.view_topic { font-size: 12px; font-family:Arial; font-weight:bold; padding: 5 0 0 0 }

.error { font-size: 12px; color: red; font-family:Arial; font-weight:bold;}

td { font-size: 12px; font-family:Arial;}
th { background-color:#D9D9D9; font-family:Arial; font-size:12px; color:#000000; text-align:left;}
.tbl { border:1px solid gray; background-color:#FCFCFC; width=100%}
.tbl_title { background-color: gray; border:1px solid gray}
.row { font-family:Arial; font-size:12px; background-color:#FCFCFC; border-bottom:1px solid #D9D9D9 }
.rowSel { font-family:Arial; font-size:12px; background-color:#A4D3EE}
.cell { font-family:Arial; font-size:12px; border-bottom:1px solid #D9D9D9}
.cell_edit { font-family:Arial; font-size:12px;}

.tbl { font-family:Arial; font-size:12px; border:1px solid gray; background-color:#FCFCFC; width=100% }
.tbl_head { background-color:#D9D9D9; font-family:Arial; font-size:12px; color:#000000; text-align:left; border:1px outset}
.tbl_rowodd { background-color:#FCFCFC;}
.tbl_roweven { background-color:#F0F0F0;}
.tbl_rowsel { background-color:#A4D3EE}
.tbl_cell { border-bottom:1px solid gray; }

.tree_node_on { background-color:#FFFACD; padding: 5 2 2 2 }
.tree_node { padding: 5 2 2 2 }

a { text-decoration:none; }
a:link { color:#0000cc }
a:visited { color:#0000cc }
a:hover { color:#990000 }

.btn_b { border:1px outset #808080; background-color:#D9D9D9; font-family:Arial; font-size:12px; font-weight:bold; color:#330033; text-decoration:none; padding:0 5 0 5}
.button { border:1px solid #F5F5F5; font-family:Arial; font-size:12px; font-weight:bold; color:#ffffff; text-decoration:none; padding:1 5 0 5;}
.lit_btn { border:1px outset #808080; background-color:#D9D9D9; font-family:Arial; font-size:11px; padding:0 5 0 5; cursor: hand;}
.nav { font-size: 12px; font-family:Arial; }
.nav_w {  color:white; font-size: 12px; font-family:Arial; }

/* SAP table theme: border:#909CAE, header:#CBD5E1, column header:#DCE3EC alternating row:#E9EEF4 */

