html {
	hheight: 100%;
	line-height:100%;

}
body {
	margin:0 8px 0 0px;
	FONT-FAMILY: 'Trebuchet MS', Verdana, Arial, sans-serif;
	FONT-SIZE: 75%;
	background-color: #FFFFFF;
	color: #000000;
	height: 100%;
	background-image: url(images/bg.gif);
}

.main{
	background-color: #FFFFFF;
	height: 100%;
	margin:0 0 0 0px;
	border-top: #A7D63C 5px solid;
	border-right: #60554b 1px solid;
}

h1 {  FONT-FAMILY: 'Trebuchet MS', Verdana, helvetica; font-size: 230%; color: #A7D63C; padding: 8px 0px 0px 0px; margin: 0px 0px 8px 0px;}
h2 {  FONT-FAMILY: 'Trebuchet MS', verdana, helvetica; font-size: 190%; color: #A7D63C; font-weight: bold; padding: 8px 0px 8px 0px; margin: 0px 0px 0px 0px;}
h3 {  FONT-FAMILY: 'Trebuchet MS', verdana, helvetica; font-size: 150%; color: #A7D63C; font-weight: bold; padding: 10px 0px 6px 0px; margin: 0px 0px 0px 0px;}
h4 {  FONT-FAMILY: 'Trebuchet MS', verdana, helvetica; font-size: 130%; color: #000000; font-weight: bold; padding: 10px 0px 4px 0px; margin: 0px 0px 0px 0px;}

.main_content {
	FONT-FAMILY: 'Trebuchet MS',Verdana, Arial, sans-serif;
	color: #202D4C;
	text-align: justify;
}


form, input, select, textarea  {
	FONT-FAMILY: 'Trebuchet MS', Verdana, Arial, sans-serif; 
	margin: 0; 
	padding: 0; 
}


select, textarea, input {
	FONT-SIZE: 100%; 
}

.ruler{
	margin: 0px 0px 0px 0px;
	padding: 1px 0px 0px 0px;
	background-image: url(images/bg_dotpattern.gif);
	background-repeat: repeat-x;
}

.ruler2{
	margin: 0px 0px 0px 0px;
	padding: 1px 0px 0px 0px;
	background-color:#8C8A8C;
}

.botbg {
	BACKGROUND: url(images/bottombackground.gif) repeat-x
}

A{
	TEXT-DECORATION: none;
}

A:link {
	COLOR: #60554b;

}
A:active {
	COLOR: #504944;

}
A:visited {
	COLOR: #504944;

}
A:hover {
	COLOR: #A7D63C;

}


#pod {
	margin: 0px 0px 0px 0px;
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 6px; 
	PADDING-BOTTOM: 30px; 
	PADDING-TOP: 139px; 
	BACKGROUND: url(images/nav_top2.gif) no-repeat 0px 26px; 
	FONT-SIZE: 0.85em;
}
.menu_bg{
	BORDER-LEFT: #202D4C 0px solid;
}

UL.nav-pod A:hover {
	BACKGROUND-COLOR: #97DAFF;
	COLOR: #fff;
}

.nav-pod A{
	COLOR: #38658b;
}

.nav-pod A:visited {
	COLOR: #579EC5;
}

UL.nav-pod {
	PADDING-LEFT: 0px; 
	PADDING-TOP: 0px; 
	MARGIN: -7px 0px 10px 0px; 
	LIST-STYLE-TYPE: none; 
	list-style-image: none;
}


UL.nav-pod LI {
	BORDER-TOP: #98B5C5 1px solid;
	BORDER-BOTTOM: #98B5C5 1px solid;
	padding: 0px 0 0 0;
	MARGIN: -1px 0px 0px 0px; 
	FONT-WEIGHT: bold;
}

UL.nav-pod LI A {
	DISPLAY: block; 
	padding: 6px 5px 6px 21px;
 	MARGIN: 0px 0px 0px 0px; 
	BACKGROUND-IMAGE: url(images/caret-rs.gif);
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 5px center;
}

UL.nav-pod LI.sel {
	BACKGROUND-COLOR: #F4FBFF;
	margin: -1px 0px -1px 0px;
}

UL.nav-pod LI.sel A.sel {
	ccolor: #579EC5;
}

UL.nav-pod UL {
	MARGIN: 0px 0px -1px 0px; 
	padding: 0px 0px 0px 10px; 
	LIST-STYLE-TYPE: none; 
	list-style-image: none;
}

UL.nav-pod UL LI{
	bBACKGROUND-COLOR: #fff;
	BORDER-TOP: #97DAFF 1px solid; 
	BORDER-BOTTOM: #c3c8cb 1px solid;
	MARGIN: 0px 0px -1px -10px;
	padding: 0 0 0 10px
}

UL.nav-pod UL LI A {
	PADDING-LEFT: 30px; 
	MARGIN: 0px 0px 0px -10px; 
	BACKGROUND-IMAGE: url(images/caret-rs.gif);
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: 15px center;
}

.menu_bg {
	vertical-align: top;
	BACKGROUND-POSITION: left;
	MARGIN: 0px 20px 20px 0px;
	BACKGROUND-REPEAT: repeat-y;
	bBACKGROUND-IMAGE: url(images/menu_main1.gif);
}


#breadcrum{
	FONT-SIZE: 0.85em;
	LINE-HEIGHT: 1.35em;
	color: #202D4C;
	padding: 2px 4px 2px 0px;
}

#breadcrum A , #breadcrum A:hover {
	COLOR: #202D4C
}

.menu {
	font-size: 8pt
}

.footer {
	font-size: 100%;
	color: #202D4C;
	font-weight: bold;

}
.footer a, .footer a:visited {
	font-size: 80%;
	color: #202D4C;
	font-weight: bold;
}
.footer2 {
	font-size: 80%;
	color: #202D4C;
	padding: 10px 0 16px 10px;
}
.bot_nav {
	padding: 12px 15px 0 6px;
}

.infoBody{
	padding-top:0;
	padding-bottom:0;
	lline-height:100%;

}
li{
	margin-left: 14px
}