body, p, td {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	line-height: 24px; 
	color: #000000; 
}

.pageTitle, h1 { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 18px; 
	font-weight: bold; 
	color: #D00005; 
	line-height: 24px; 
	text-transform: uppercase; 
}

.sectionTitle, h2 { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: bold; 
	color: #D00005; 
	line-height: 24px; 
	text-transform:uppercase; 
}

.topParaTitle, h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: bold; 
	color: #D00005;
	line-height: 24px;
}

.headinglink {
	font-family: verdana;
	color: white;
	font-size: 10px;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 12px;
}

.headinglink-current {
	font-family: verdana;
	color: #D00005;
	font-size: 10px;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 12px;
}

.headinglink:hover {
	color: #D00005;
}