<br />
			<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
				<tr>
					<td class='row2' colspan='2' align='center'><strong>Board Statistics</strong> </td>
				</tr>
				<tr>
					<td class='cat_block' colspan='2'><strong>{$lang['text']['who_online']}</strong> </td>
				</tr>
				<tr>
					<td width='3%' class='contentbox'><img src='templates/{$site_config['template']}/images/online.gif' width='32' height='39' alt='online image'></td>
					<td class='contentbox'>
{$lang['text']['users_online']} {$users_online}
<br />
{$lang['text']['guests_online']} {$guests_online['count']}
					</td>
				</tr>
				<tr>
					<td class='cat_block' colspan='2'><strong>{$lang['mix']['stats']}</strong> </td>
				</tr>
				<tr>
					<td width='3%' class='contentbox'><img src='templates/{$site_config['template']}/images/stats.gif' width='32' height='39' alt='online image'></td>
					<td class='contentbox1'><div class="imagelegend">No New Posts<img src='templates/{$site_config['template']}/images/new.gif' align='middle' width='36' height='33' />New Posts<img src='templates/{$site_config['template']}/images/no_new.gif' align='middle' width='36' height='33' />Redirect<img src='templates/{$site_config['template']}/images/link.gif' align='middle' width='36' height='33'></div>
{$lang['text']['total_topics']} {$results['count']}<br />
{$lang['text']['total_replies']} {$results1['count']}<br /> 
{$lang['text']['total_users']} {$user_count['count']}<br /> 
{$lang['text']['last_member']} <a href='index.php?act=member&m={$last_member['id']}'>{$last_member['user']}</a>
<br />
					</td>
				</tr>
				<tr>
					<td width='100%' colspan='2' class='blockend'><img src='templates/{$site_config['template']}/images/spacer.gif' width='2px' height='1px' alt="" title="" /></td>
				</tr>
			</table>
			
<br />

<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
	<tr>
		<td class="breadcrumb" align='right'><a href="http://vubb.com"><strong><u>VUBB</u></strong></a> RC1 Copyright &copy; 2005 VUBB<br />
		<Strong>Default2</Strong> skin based on the original vuBB default skin</td>
	</tr>
</table>
</td>
</tr>
</table>
</body>
</html>