<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
	<tr>
		<td class="breadcrumb"><a href="index.php"><img src='templates/{$site_config['template']}/images/nav.gif' width='18px' height='9px' alt='current location' title='current location'>Index</a></td>
	</tr>
</table>

<br />

<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
	<tr>
		<td class='row2'>&nbsp;</td>
		<td width='60%' class='row2' align='center'>{$lang['text']['forum']}</td>
		<td width='20%' class='row2' align='center'>{$lang['text']['last_action']}</td>
		<td width='10%' class='row2' align='center'>{$lang['text']['topics']}</td>
		<td width='10%' class='row2' align='center'>{$lang['text']['replies']}</td>
	</tr>
