	<tr>
		<td class='contentbox' valign="middle" align="center"><img src='templates/{$site_config['template']}/images/link.gif' width='36' height='33'></td>
		<td class='contentbox1'  onMouseOver="this.className='contentbox'" onMouseOut="this.className='contentbox1'"><span class="forumlink"><a href='{$display['link']}'><strong>{$display['name']}</strong></a></span><br />{$display['description']}
		<td class='contentbox1' colspan='3'><div align="center"><strong>{$lang['text']['redirection']}</strong></div></td>
	</tr>