<tr>
<td width='3%' class='contentbox' valign="middle" align="center">
<img src='templates/{$site_config['template']}/images/no_new.gif' /> 
</td>
<td width='57%' class='contentbox1' onMouseOver="this.className='contentbox'" onMouseOut="this.className='contentbox1'">
<span class="forumlink"><a href='index.php?act=viewforum&f={$display['id']}'>
<strong>{$display['name']}</strong></a></span><br />
{$display['description']}
</td>
<td width='20%' class='contentbox'>
<div align='center'>In: <a href='index.php?act=viewtopic&t={$last_info['id']}&f={$display['id']}'>{$last_info['topic']}</a><br />
By: <a href='index.php?act=member&m={$last_info2['id']}'>{$last_info2['user']}</a>
</div>
</td>
<td width='10%' class='contentbox'>
<div align='center'>{$result['topics']}</div>
</td>
<td width='10%' class='contentbox'>
<div align='center'>{$result['replies']}</div>
</td>
</tr>