<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
	<tr>
		<td class="breadcrumb"><img src='templates/{$site_config['template']}/images/nav.gif' width='18px' height='9px' alt='current location' title='current location'><a href="index.php">Index</a></td>
	</tr>
</table>

<br />

<form name='login' method='post' action='index.php?act=login&action=login'>
<table width="100%" cellspacing="1" cellpadding="4" class="outborder" align='center'>
	<tr>
		<td class='row2' colspan="2">Please Login Below</td>
	</tr>
	<tr>
		<td width='100%' class='blockend'><img src='templates/{$site_config['template']}/images/spacer.gif' width='2px' height='1px' alt="" title="" /></td>
	</tr>
	<tr> 
		<td class='contentbox1' align='center'>
<br /><strong>{$lang['text']['username']}</strong> 
<input name='user' type='text' id='user'>
<strong>{$lang['text']['password']}</strong>
<input name='pass' type='password' id='pass'>
<input type='submit' name='Submit' value='{$lang['submit']['login']}'>
<br /><br />
		</td>
	</tr>
	<tr>
		<td width='100%' class='blockend'><img src='templates/{$site_config['template']}/images/spacer.gif' width='2px' height='1px' alt="" title="" /></td>
	</tr>
</table>
</form>

<br />