<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
	<tr>
		<td class="breadcrumb"><img src='templates/{$site_config['template']}/images/nav.gif' width='18px' height='9px' alt='current location' title='current location'><a href="index.php">Index</a> &gt;&gt; Viewing Profile</td>
	</tr>
</table>
<br />
<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
	<tr>
		<td colspan='2' class='row2'>&nbsp;

		</td>
	</tr>
	<tr>
		<td width='100%' colspan='2' class='cat_block'>
Information For: {$member_info['user']}
		</td>
	</tr>
	<tr>
		<td class='contentbox' width='30%'>{$lang['text']['date_reg']}:</td>
		<td class='contentbox1'>{$member_info['datereg']}</td>
	</tr>
	<tr>
		<td class='contentbox'>{$lang['text']['location']}:</td>
		<td class='contentbox1'>{$member_info['location']}&nbsp;</td>
	</tr>
	<tr>
		<td class='contentbox'>{$lang['text']['website']}:</td>
		<td class='contentbox1'><a href='{$member_info['website']}'>{$member_info['website']}</a>&nbsp;</td>
	</tr>
	<tr>
		<td width='100%' colspan='2' class='blockend'><img src='templates/{$site_config['template']}/images/spacer.gif' width='2px' height='1px' alt="" title="" /></td>
	</tr>
</table>
<br />
<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
	<tr>
		<td colspan='2' class='row2'>&nbsp;

		</td>
	</tr>
	<tr>
		<td width='100%' colspan='5' class='cat_block'>
Other Details
		</td>
	</tr>
	<tr>
		<td class='contentbox' width='30%'>{$lang['text']['avatar']}:</td>
		<td class='contentbox1'><img src='{$member_info['avatar_link']}' alt='avatar'></td>
	</tr>
	<tr>
		<td class='contentbox' colspan='2'>{$lang['text']['signature']}:</td>
	</tr>
	<tr>
		<td class='contentbox1' colspan='2' align='center'>{$member_info['sig']}&nbsp;</td>
	</tr>
	<tr>
		<td width='100%' colspan='2' class='blockend'><img src='templates/{$site_config['template']}/images/spacer.gif' width='2px' height='1px' alt="" title="" /></td>
	</tr>
</table>
<br />
<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
	<tr>
		<td colspan='2' class='row2'>&nbsp;

		</td>
	</tr>
	<tr>
		<td width='100%' colspan='5' class='cat_block'>
Contact Information
		</td>
	</tr>
	<tr>
		<td class='contentbox' width='30%'><img src="templates/{$site_config['template']}/images/aim.gif" align="middle" alt="" title=""/>&nbsp;{$lang['text']['aim']}:</td>
		<td class='contentbox1'>{$member_info['aim']}&nbsp;</td>
	</tr>
	<tr>
		<td class='contentbox'><img src="templates/{$site_config['template']}/images/msn.gif" align="middle" alt="" title=""/>&nbsp;{$lang['text']['msn']}:</td>
		<td class='contentbox1'>{$member_info['msn']}&nbsp;</td>
	</tr>
	<tr>
		<td class='contentbox'><img src="templates/{$site_config['template']}/images/yahoo.gif" align="middle" alt="" title=""/>&nbsp;{$lang['text']['yahoo']}:</td>
		<td class='contentbox1'>{$member_info['yahoo']}&nbsp;</td>
	</tr>
	<tr>
		<td class='contentbox'><img src="templates/{$site_config['template']}/images/icq.gif" align="middle" alt="" title=""/>&nbsp;{$lang['text']['icq']}:</td>
		<td class='contentbox1'>{$member_info['icq']}&nbsp;</td>
	</tr>
	<tr>
		<td width='100%' colspan='2' class='blockend'><img src='templates/{$site_config['template']}/images/spacer.gif' width='2px' height='1px' alt="" title="" /></td>
	</tr>
</table>
<br />