<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
	<tr>
		<td class="breadcrumb"><img src='templates/{$site_config['template']}/images/nav.gif' width='18px' height='9px' alt='current location' title='current location'><a href="index.php">Index</a> &gt;&gt; <a href="index.php?act=members">{$lang['mix']['members']}</a></td>
	</tr>
</table>
<br />
<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
	<tr>
		<td class='row2'>&nbsp;
		</td>
	</tr>
	<tr>
		<td width='100%' class='head_block'>
{$lang['mix']['members']}
		</td>
	</tr>