<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
	<tr>
		<td class="breadcrumb"><img src='templates/{$site_config['template']}/images/nav.gif' width='18px' height='9px' alt='current location' title='current location'><a href="index.php">Index</a></td>
	</tr>
</table>

<br />

<table width="80%" cellspacing="1" cellpadding="4" class="outborder" align='center'>
	<tr>
		<td class='row2' colspan="2">{$title}</td>
	</tr>
	<tr>
		<td width='100%' class='blockend'><img src='templates/{$site_config['template']}/images/spacer.gif' width='2px' height='1px' alt="" title="" /></td>
	</tr>
	<tr> 
		<td class='contentbox1' align='center'>
<br />{$message}
<br /><br />
		</td>
	</tr>
	<tr>
		<td width='100%' class='blockend'><img src='templates/{$site_config['template']}/images/spacer.gif' width='2px' height='1px' alt="" title="" /></td>
	</tr>
</table>

<br />