<form name='form1' method='post' action='index.php?act=usercp&action=editprofile'>
{$lang['text']['signature']}<br />
<textarea name='body1' cols='50' rows='5' id='signature'>{$stat['sig']}</textarea>
<br />
<br />
{$lang['text']['avatar']}<br />
<input name='avatar' type='text' id='avatar' size='40' value='{$stat['avatar_link']}'>
<br />
<br />
{$lang['text']['location']}<br />
<input name='location' type='text' id='location' size='60' value='{$stat['location']}'>
<br />
<br />
{$lang['text']['website']}<br />
<input name='website' type='text' id='location' size='60' value='{$stat['website']}'>
<br />
<br />
{$lang['text']['aim']}<br />
<input name='aim' type='text' id='aim' size='30' value='{$stat['aim']}'>
<br />
<br />
{$lang['text']['msn']}<br />
<input name='msn' type='text' id='msn' size='30' value='{$stat['msn']}'>
<br />
<br />
{$lang['text']['yahoo']}<br />
<input name='yahoo' type='text' id='yahoo' size='30' value='{$stat['yahoo']}'>
<br />
<br />
{$lang['text']['icq']}<br />
<input name='icq' type='text' id='icq' size='30' value='{$stat['icq']}'>
<br />
<br />
<input name='Submit' type='submit' id='Submit' value='{$lang['submit']['edit']}'>
</form>