<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
	<tr>
		<td class="breadcrumb"><img src='templates/{$site_config['template']}/images/nav.gif' width='18px' height='9px' alt='current location' title='current location'><a href="index.php">Index</a></td>
	</tr>
</table>

<br />

<form method='post' action='index.php?act=register&action=register'>
<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
	<tr>
		<td class='row2' colspan='2'>{$lang['mix']['register']}</td>
	</tr>
	<tr>
		<td class='head_block' colspan='2'>&nbsp;

		</td>
	</tr>
	<tr>
		<td width='30%' class='contentbox'>{$lang['text']['username']}</td>
		<td class='contentbox1'><input type='text' name='user' MAXLENGTH='32'></td>
	</tr>
	<tr>
		<td class='contentbox'>{$lang['text']['email']}</td>
		<td class='contentbox1'><input type='text' name='email'></td>
	</tr>
	<tr>
		<td class='contentbox'>{$lang['text']['verify_email']}</td>
		<td class='contentbox1'><input type='text' name='vemail'></td>
	</tr>
	<tr>
		<td class='contentbox'>{$lang['text']['password']}</td>
		<td class='contentbox1'><input type='password' name='pass'></td>
	</tr>
	<tr>
		<td class='contentbox'>{$lang['text']['verify_password']}</td>
		<td class='contentbox1'><input type='password' name='vpass'></td>
	</tr>
	<tr>
		<td width='100%' colspan='2' class='blockend'><img src='templates/{$site_config['template']}/images/spacer.gif' width='2px' height='1px' alt="" title="" /></td>
	</tr>
	<tr>
		<td class='contentbox1' colspan='2' align='center'>
<textarea cols='75' rows='9' readonly="readonly" name='agreement' class='textinput'>{$lang['text']['agreement']}</textarea>
<br />
<strong>{$lang['text']['agree']}</strong> 
<input type='checkbox' name='agree'>
<br />
<input type='submit' value='{$lang['mix']['register']}'>
</td>
</tr>
	<tr>
		<td width='100%' colspan='2' class='blockend'><img src='templates/{$site_config['template']}/images/spacer.gif' width='2px' height='1px' alt="" title="" /></td>
	</tr>
</table>
</form>
<br />