<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
	<tr>
		<td class='head_block2' height='3' colspan='2' align='right'><a href='index.php?act=newreply&t={$_GET['t']}&f={$_GET['f']}'>Reply</a> - {$delete_edit}</td>
	</tr>
	<tr> 
		<td width='17%' valign='top' class='contentbox1'> 
<div align='center'><a href="index.php?act=member&m={$info2['id']}"><b><u>{$info2['user']}</u></b></a></div><br />
<div align='center'><img src='{$info2['avatar_link']}' width='80' height='80' alt='avatar'> 
</div>
		</td>
		<td width='83%' valign='top' class='contentbox1'> 
{$reply_body['body']}
<br /><br />
-------------------<br />
{$info2['sig']}</td>
	</tr>
	<tr>
		<td colspan='2' class='blockend'><img src='templates/{$site_config['template']}/images/spacer.gif' width='2px' height='1px' alt="" title="" /></td>
	</tr>
	<tr>
		<td class='contentbox' colspan='2' align='left'>
{$lang['text']['posted_on']} {$reply['date']} {$lang['text']['at']} {$reply['time']}
		</td>
	</tr>
	<tr>
		<td colspan='2' class='blockend'><img src='templates/{$site_config['template']}/images/spacer.gif' width='2px' height='1px' alt="" title="" /></td>
	</tr>
</table>

<br />