	<tr>
		<td width='100%' colspan='4' class='blockend'><img src='templates/{$site_config['template']}/images/spacer.gif' width='2px' height='1px' alt="" title="" /></td>
	</tr>
</table>

<br />

<table width='100%' border='0' cellspacing='0' cellpadding='0'>
	<tr>
		<td width='100%'>
<a href='index.php?act=newtopic&f={$_GET['f']}'><img src="templates/{$site_config['template']}/images/new_topic.gif" border="0" alt='New Topic'></a>  <a href='index.php?act=newpoll&f={$_GET['f']}'><img src="templates/{$site_config['template']}/images/new_poll.gif" border="0" alt='New Poll'></a>
		</td>
	</tr>
</table>

<div class='page'>Page:</div><div class='plink'>{$pagination_link}</div>

<br />