<td class="contentbox1"  onMouseOver="this.className='contentbox'" onMouseOut="this.className='contentbox1'">
<span class="forumlink"><a href="index.php?act=viewtopic&t={$topic['id']}&f={$_GET['f']}">{$topic['topic']}</a></span>
</td>
<td class="contentbox" align="center">
<a href="index.php?act=member&m={$topic['starter_id']}"><strong>{$topic['starter']}</strong></a>
</td>
<td class="contentbox1" align="center">
<b>By</b>: <a href="index.php?act=member&m={$last_info2['id']}">{$last_info2['user']}</a>
</td>
<td class="contentbox" align="center">
{$replies['count']}
</td>
</tr>