<table width='100%' border='0' cellspacing='0' cellpadding='0'>
	<tr>
		<td width='100%'>
<a href='index.php?act=newreply&t={$_GET['t']}&f={$_GET['f']}'><img src="templates/{$site_config['template']}/images/reply.gif" border="0" alt='Reply'></a>  <a href='index.php?act=newtopic&f={$_GET['f']}'><img src="templates/{$site_config['template']}/images/new_topic.gif" border="0" alt='New Topic'></a>  <a href='index.php?act=newpoll&f={$_GET['f']}'><img src="templates/{$site_config['template']}/images/new_poll.gif" border="0" alt='New Poll'></a>
		</td>
	</tr>
</table>

<br />