<script language="JavaScript">
var ico;function smile(ico) {document.text.body1.value=document.text.body1.value+ico;}
</script>
<div align='center'>
<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
	<tr>
		<td class="breadcrumb"><img src='templates/{$site_config['template']}/images/nav.gif' width='18px' height='9px' alt='current location' title='current location'><a href="index.php">Index</a> &gt;&gt; <a href="index.php?act=viewforum&f={$_GET['f']}">{$forum_name['name']}</a></td>
	</tr>
</table>

<br />

<table width='100%' border='0' cellspacing='0' cellpadding='0'>
	<tr>
		<td width='100%'>
<a href='index.php?act=newtopic&f={$_GET['f']}'><img src="templates/{$site_config['template']}/images/new_topic.gif" border="0" alt='New Topic'></a>  <a href='index.php?act=newpoll&f={$_GET['f']}'><img src="templates/{$site_config['template']}/images/new_poll.gif" border="0" alt='New Poll'></a>
		</td>
	</tr>
</table>

<br />

<table width="100%" cellspacing="1" cellpadding="4" class="outborder">
	<tr>
		<td width='60%' class='row2'>
<strong>{$lang['text']['topic']}</strong>
		</td>
		<td width='10%' class='row2' align="center">
<strong>Started By</strong>
		</td>
		<td width='20%' class='row2' align="center" nowrap="nowrap">
<strong>{$lang['text']['last_action']}</strong>
		</td>
		<td width='10%' class='row2' align="center">
<strong>{$lang['text']['replies']}</strong>
		</td>
	</tr>
		<tr>
		<td width='90%' class='head_block' colspan='4'>
<strong>{$forum_name['name']}</strong>
		</td>
	</tr>
	<tr>