<table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr>
    <td bgcolor="#336699" valign="top" class="tabla_myng" width="200"><span class="myng_bottom">&nbsp;MyNewsGroups 
      :) v. {version}</span></td>
    <td bgcolor="#BECCE7" valign="top" class="tabla_menu" width="550"><span class="link_bottom">&nbsp;{_mynghome_page}
    <a class="link_bottom" href="http://mynewsgroups.sf.net">mynewsgroups.sourceforge.net</a>
      | <a class="link_bottom" href="http://www.gnu.org">{_mynggpl}</a> | <a class="link_bottom" href="javascript:;" onMouseOver="MM_showHideLayers('debug','','show')" onMouseOut="MM_showHideLayers('debug','','hide')">{_myngdebug}</a></span></td>
  </tr>
</table>
<span class="small">{_myngpage_generated} {page_time} {_myngseconds}.</span>
