<link rel="stylesheet" href="{style_dir}/{file_style}" type="text/css">
<table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF" height="38">
  <tr>
    <td height="50" valign="top"><img src="{images_dir}/mynewsgroups.gif" width="180" height="50"></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  </table>
  <table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr bgcolor="#BECCE7">
    <td class="tabla_menu" width="330" colspan="2" height="15" valign="top" bgcolor="#BECCE7"><span class="normal_bold"><font color="#003399">&nbsp<a class="top_link" href="index.php">{_myngmenu_home}</a>|<a class="top_link" href="newsgroups.php">{_myngmenu_newsgroups}</a>|<a class="top_link" href="stats.php">{_myngmenu_stats}</a>|<a class="top_link" href="search.php">{_myngmenu_search}</a>|<a class="top_link" href="about.php">{_myngmenu_about}</a></font></span></td>
    <td class="tabla_system_info" width="330" valign="top" bgcolor=#F3F3F3><span class="small">&nbsp; <b>{_myngsystem_info}</b> &nbsp;{system_info}</span></td>
    <td class="tabla_menu" width="90" valign="top" ><span class="normal_bold" >&nbsp;v. {version}</span></td>
  </tr>
</table>
