/*
.author {
	name: Vlad;
	surname: Roman;
	email: vlad@afian.com;
	web: http://www.afian.com;
}
*/
.iconList {
	background-color:white;
	border:1px solid silver;
	border-top: 2px solid gray;
	border-left:2px solid gray;
	text-align:left;
	overflow-y:scroll;
	overflow-x:hidden;
	padding:20px;
}
span.iconTitle {
	font-family:Tahoma;
	font-size:8pt;
	white-space:nowrap;
}
span.iconTitle a {
	text-decoration:none;
	color:navy;
}
span.iconTitle a:hover {
	color:red;
}
div.icon {
	width: 75px;
	height:60px;
	border: 1px solid white;
	text-align:center;
	padding:1px;
	padding-top:3px;
	margin:5px;
	float:left;
	overflow:hidden;

}
div.iconHover {
	width: 75px;
	height:60px;
	background-color:white;
	border: 1px dashed red;
	text-align:center;
	padding-top:3px;
	overflow:hidden;
	float:left;

}
div.selIcon {
	width: 75px;
	height:60px;
	border: 1px dashed #87ceeb;
	background-color:#B3E8FE;
	text-align:center;
	padding:1px;
	padding-top:3px;
	margin:5px;
	float:left;
	overflow:hidden;
}
input.iconCheckbox {
	display:none;
}
