/*
.author {
	name: Vlad;
	surname: Roman;
	email: vlad@afian.com;
	web: http://www.afian.com;
}
*/
.iconList {
	background-color:white;
	border:1px solid silver;
	border-top: 2px solid gray;
	border-left:2px solid gray;
	text-align:left;
	padding:20px;
}
span.iconTitle {
	padding-left:5px;
	font-family:Tahoma;
	font-size:8pt;
	white-space:nowrap;
	vertical-align:middle;
}
span.iconTitle a {
	text-decoration:none;
	color:navy;
}
span.iconTitle a:hover {
	color:red;
}
div.icon {
	width: 220px;
	height:23px;
	border: 1px solid white;
	text-align:left;
	padding:5px;
	padding-top:2px;
	padding-bottom:2px;
	background-color:whitesmoke;
	display:inline;
	overflow:hidden;
	white-space:nowrap;
}

div.selIcon {
	width: 220px;
	height:23px;
	border: 1px solid white;
	background-color:#B3E8FE;
	text-align:left;
	padding:5px;
	padding-top:2px;
	padding-bottom:2px;
	display:inline;
	overflow:hidden;
	white-space:nowrap;
}
span.objectInfo {
	width: 380px;
	height:21px;
	border: none;
	background-color:whitesmoke;
	text-align:left;
	padding:3px;
	margin:1px;
	display:inline;
	vertical-align:top;
	color:gray;
}

input.iconCheckbox {
	display:none;
}

table.details {
	color:gray;
	font-size:7pt;
	height:10px;
}

table.details td {
	padding-left:8px;
}
