body {
	margin:10px;
	margin-top:15px;
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: black;
	scrollbar-darkshadow-color: #DCDCD3;
	scrollbar-face-color: #DCDCD3;

}
table {
	border: none;
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: black;
}
.button {
	height:20px;
	background-color: #e5e5e5; 
	border-width:1px;
	border-top-color: white;
	border-left-color: white;
	border-right-color:#dddddd;
	border-bottom-color:#dddddd;
	font-family: tahoma, verdana, arial, sans-serif; 
	font-size: 8pt; 
	font-weight: bold; 
	color: #818181; 
	cursor: hand; 
}
form {
	border: none;
	display: inline; 
}
.inputfile {
	font-family: tahoma, verdana, arial, sans-serif;
	font-size: 8pt; 
}
.menuitem {
	height: 100%;
	padding-top: 3px; 
	padding-right: 8px; 
	padding-bottom: 3px; 
	padding-left: 8px; 
	cursor: hand; 
}
a {
	color: navy;
}
a:hover {
	color: red;
}
strong {
	color: navy;
}
.comment {
	font-size: 10px; 
	color: gray;
}

div.popup {
	border: 1px solid silver;
	background-color:white;
	visibility: hidden;
	display:none;
	position: absolute;
	left:0px;
	top:0px;
	white-space:nowrap;
	z-index:100;
}

div.menu a.item {
	text-decoration:none;
	color:navy;
	line-height:20px;
	font-family:Tahoma;
	font-size:8pt;
}
div.menu a.item:hover {
	text-decoration:underline;
	color:red;
	line-height:20px;
	font-family:Tahoma;
	font-size:8pt;
}
div.menu {
	width: 95px;
	border: 1px solid silver;
	background-color:white;
	visibility: hidden;
	position: absolute;
	left:0px;
	top:0px;
	white-space:nowrap;
	z-index:100;
}


div.separator {
	color:silver;
	height:1px;
	line-height:0px;
	width:100%;
	font-size:0px;
	margin-top:1px;
	margin-bottom:1px;
	padding:none;
	border:none;
	border-top:1px solid silver;
	position:relative;
	left:-1px;
}