body 		{
		padding: 0;
		margin: 0;
		background-color: #272B43;}

.main		{background-color: #000000;}

td		{
		font: 8pt Tahoma, Arial, Verdana;
		color: #dedede;	
		padding: 0px;
		background-color: #000000;}

.img		{
		font: 8pt Tahoma, Arial, Verdana;
		color: #383F6E;}

.img a,.img a:link,.img a:active,.img a:visited { 
		font: 8pt Tahoma, Arial, Verdana;
		color: #212438;
		text-decoration: none;}

.img a:hover { 
		font: 8pt Tahoma, Arial, Verdana;
		text-decoration: underline; 
		color: #383F6E;}

.footer		{
		font: 8pt Tahoma, Arial, Verdana;
		color: #373B54;}

.footer a,.footer a:link,.footer a:active,.footer a:visited { 
		font: 8pt Tahoma, Arial, Verdana;
		color: #373B54;
		text-decoration: none;
		padding: 0px 8px;}

.footer a:hover { 
		font: 8pt Tahoma, Arial, Verdana;
		text-decoration: underline; 
		color: #dedede;
		padding: 0px 8px;}

a		{color: #383F6E;}

a:visited	{color: #dedede;}

a:hover		{color: #455195;}

a:active	{color: #373B54;}


.spacer		{background-color: #272B43;}

.sub		{background-color: #212438;}

h1		{
		font: 8pt Tahoma, Arial, Verdana;
		color: #00A2CA;	
		margin: 0 0 12px 0;
		font-weight: bold;}

#dropmenudiv{
position:absolute;
border:1px solid #3B426A;
font:normal 8pt Tahoma;
line-height:20px;
z-index:100;
padding: 0 0 0 10px;
}
