<HTML>
<HEAD>
  <TITLE>Chatologica GlobalSubmit v1.0: Automated Server-Side Submissions</TITLE>
</HEAD>
<BODY BGCOLOR="#ffffff" TEXT="#000000" LINK="#0000ff" VLINK="#0000a0">
<CENTER>
  <P ALIGN=Center>
  <SMALL><SMALL><SMALL>&nbsp;</SMALL></SMALL></SMALL><BR>
  <I><B>Chatologica <BIG><BIG>GlobalSubmit </BIG>- cgi script v1.0</BIG><SMALL>
  &nbsp;(22 April 2000)</SMALL></B></I> 
    <HR WIDTH="80%">
  <SMALL><SMALL><SMALL>&nbsp;&nbsp; &nbsp; </SMALL></SMALL></SMALL><BR>
  <SMALL><SMALL>&nbsp; </SMALL></SMALL><BR>
  <FONT COLOR="#000000"><B><BIG><BIG><BIG>Automated Server-Side
  Submissions</BIG></BIG></BIG></B></FONT><BR>
  &nbsp;
</CENTER>
<P ALIGN="Center">
SplitHere
<P>
&nbsp;
<CENTER>
  <A HREF="/submit-www/fetch.htm">Fetch URL Form</A>&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp; <A HREF="/submit-www/demo.htm">Submit Form</A><BR>
  <SMALL>&nbsp;</SMALL><BR>
    <HR WIDTH="50%">
  <SMALL><SMALL>All rights reserved &copy; 2000 &nbsp;
  </SMALL></SMALL><A HREF="http://www.chatologica.com/"><SMALL><SMALL>www.chatologica.com</SMALL></SMALL></A>
  <CENTER>
    <CENTER>
      <CENTER>
	<P ALIGN=Center>
	&nbsp;
      </CENTER>
    </CENTER>
  </CENTER>
</CENTER>
</BODY></HTML>
