<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/t_standard.dwt" codeOutsideHTMLIsLocked="false" -->

	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<!-- InstanceBeginEditable name="doctitle" -->
		<title>WEBK Filesystem oriented Web content delivery || {title}</title>
		<style type="text/css" title="Webk Filesystem oriented Web content delivery">
		<!--
			@import url(css/default/styles.css);
		-->
		</style>
	<!-- InstanceEndEditable -->
	<!-- InstanceBeginEditable name="head" -->
		<style type="text/css">
		<!--
#mnHome a { color: #000; border-left-color: #f89500; background:  url("images/default/interface/bg_menu_over.png") 0 50% repeat-x #fff; }
		-->
		</style>
	<!-- InstanceEndEditable -->
	</head>

	<body>
	
		<div id="wrapper">
			
			<!-- Header -->
			<div id="header">
				<h1>WEBK Project Page<br />
					<small>Filesystem oriented Web content delivery</small></h1>
				<h2><!-- InstanceBeginEditable name="Page Path" --><a href="proxy.php?down={title}">{title}</a><!-- InstanceEndEditable --></h2>
			</div>
			
			
			<!-- Menu -->
			<div id="menu">
				<a class="hidden" href="#aContent">Skip navigation</a>
				<ul>
			<loop name="menu">
				<li id="{menu.id}"><a href="{menu.link}">{menu.name}</a></li>
				<noloop name="menu">
				</noloop name="menu"> 
			</loop name="menu"></ul>
				<hr />
				<div class="overflowFix"></div>
			</div>
	
			
		<!-- Content -->
			<div id="content">
				<a id="aContent"></a>
				<!-- InstanceBeginEditable name="Content" -->
				<table cellspacing=0 cellpadding=2 border=0>
				<tr><td valign="top" nowrap width="{webk_left_width}">{left}</td>
					<td valign="top" width="100%">{content}</td>
					<td valign="top" nowrap width="{webk_right_width}">{right}</td></tr>
			</table>

				<!-- InstanceEndEditable -->
			</div>
			
			<!-- Footer -->
			<div id="footer">
				<hr />
				<a href="http://mrgibson.zapto.org/proxy.php?folder=_Projects/WEBK/"><img src="images/default/interface/webk.jpg" title="Rendered with Webk" alt="Rendered with Webk" /></a>
				<a href="http://validator.w3.org/check?uri=http://webk.zapto.org/proxy.php" onclick="window.open(this); return false;"><img src="http://www.w3.org/Icons/valid-xhtml11" alt="Valid XHTML 1.1!" /></a>
				<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://webk.zapto.org" onclick="window.open(this); return false;"><img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" /></a>
			</div>
			



		</div>	
		
<p style="font-size:8pt;font-family:sans-serif">&copy; 2005 MRG Technologies - Page generated in {clock}</p>
	</body>
	
<!-- InstanceEnd --></html>
