/*

    DEFAULT BODY
--------------------------------------------------------------- */ 
body {
 margin:            0;
 padding:           0;
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 color:             #fff;
 background-color:  #000;
}
/*

    MAIN CONTENT WRAPPER
--------------------------------------------------------------- */
#content {
 left:              0px;
 right:             10px;
 margin:            0 25px 0 25px;
 padding:           8px 13px 0 13px;
}
/*

    DEFAULT LINKS
--------------------------------------------------------------- */ 
a {
 text-decoration:   none;
 color:             #CCFF66;
 background-color:  transparent;
}
  
a:visited {
 color:             #CCFF66;
 background-color:  transparent;
}

a:hover {
 color:             #868147;
 text-decoration:   underline;
 background-color:  transparent;
}
/*

    SMALL LINKS IN HEADER (HELP, MAIN MENU, AND LOGOUT)
--------------------------------------------------------------- */
.helpLinks { 
 color:             #fff;
 background:        #000;
 text-align:        right;
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         9px; 
 font-weight:       bold;
 padding:           4px 25px 4px 0px;
}

.helpLinks a:link { 
 color:             #fff;
 background:        transparent;
 text-decoration:   none;
}
  
.helpLinks a:visited { 
 color:             #fff;
 background:        transparent;
 text-decoration:   none;
}

.helpLinks a:hover { 
 color:             #666;    
 background:        transparent;
 text-decoration:   none;
}

.helpLinksLeft {
 text-align:        left;
 padding-left:      20px;
}
/*

    DEFAULT FONTS
--------------------------------------------------------------- */

.default, .defaultPad, .defaultRight, .defaultPadBold, .defaultBold, .defaultSmall, .defaultCenter {
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 color:             #fff;
 padding:			1px 0 1px 0;
 background-color:  transparent;  
}

.defaultRight {
 text-align:        right;
}

.defaultRightBold {
 text-align:        right;
 font-weight:       bold;
}

.defaultCenter {
 text-align:        center;
}

.defaultBold {
 font-weight:       bold;
 font-size:         11px; 
}

.defaultBold a:link { 
 text-decoration:   none;
}
  
.defaultBold a:visited { 
 text-decoration:   none;
}
  
.defaultBold a:active { 
 text-decoration:   none;
}

.defaultBold a:hover { 
 text-decoration:   underline;
}

.defaultPad {
 padding:           3px 0 3px 5px;
}
.defaultPadBold {
 padding:           3px 0 3px 5px;
 font-weight:       bold;
}

.defaultSmall {
 color:             #fff;
 font-size:         10px;
}
/*

    GENERAL TEXT FORMATTING
--------------------------------------------------------------- */

/* Page heading used on most pages */
h1 {  
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         14px;
 font-weight:       bold;
 color:             #fff;
 background:        transparent;
 margin:            2px 0 4px 0;
 padding:           0 0 2px 0;
}

/* Large Text - used occasionally */
h2 {  
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         13px;
 font-weight:       bold;
 color:             #fff;
 background:        transparent;
}

/* Smaller bold heading */
h5 {  
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         12px;
 font-weight:       bold;
 color:             #fff;
 background:        transparent;
 margin:            0 0 3px 0;
}

pre {  
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 color:             #FF66CC;
 background:        transparent;
 margin:            6px 0 6px 19px;
}

p, strong {  
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 color:             #fff;
 background:        transparent;
 margin:            4px 0 4px 0;
}
  
strong {
 font-weight:       bold:
}

.bold {
 font-weight:       bold;
}

.highlight {
 color:             #66FFFF;
}

.highlight_bold {
 color:             #66FFFF;
 font-weight:       bold;
}

.highlight_alt_bold {
 color:             #FF66CC;
 font-weight:       bold;
}

.alert {
 color:             #66FFFF;
 font-weight:       bold;
}

.nowrap {
 white-space:       nowrap;
}
/*

    PADDING
--------------------------------------------------------------- */

.paddedWrapper {
 padding:           3px 0 10px 3px;
 background-color:  transparent;  
}

.bigPad {
 padding:           6px 0 3px 6px;
 background-color:  transparent;  
}

.paddedTop {
 padding:           13px 0 2px 0;
 background-color:  transparent;  
}

.paddedBorder{
 padding:           10px 12px 10px 12px;
 border-bottom:     #847E56 1px solid;
 background-color:  transparent;  
}

.leftPad {
 padding-left:      5px;
}

.rightPad {
 padding-right:     10px;
}

/*

    HEADER 
--------------------------------------------------------------- */

#topBar {  
 background-color:  #fff;
 border-bottom:     #fff 1px solid;
}

#header {  
 background-color:  #868147;
 height:            14px;
}

#simpleHeader {  
 background-color:  #999;
 height:            1px;
}
/*

    NAVIGATION TABS - Table cell
--------------------------------------------------------------- */
.navCell { 
 background:        transparent; 
 padding:           0;
}
/*

    NAVIGATION TABS - DEFAULT STATE
--------------------------------------------------------------- */
.cpNavOff, .cpNavLocked { 
 font-family:       Trebuchet MS, Arial, Helvetica, Tahoma, Verdana, Sans-serif;
 font-size:         11px;
 color:             #fff;
 background:        #868147;
 letter-spacing:    .2em;
 text-transform:    uppercase;
 text-align:        center;
 padding:           5px 0 4px 0;
 font-weight:       bold;
 border-bottom:     #fff 1px solid;
}
/*

    NAVIGATION TABS - "SELECTED" STATE
--------------------------------------------------------------- */
.cpNavOn  { 
 font-family:       Trebuchet MS, Arial, Helvetica, Tahoma, Verdana, Sans-serif;
 font-size:         11px;
 color:             #000;
 background:        #000;
 letter-spacing:    .2em;
 padding:           6px 0 2px 0;
 text-transform:    uppercase;
 text-align:        center;
 font-weight:       bold;
 border-top:        #fff 1px solid;
 border-left:       #fff 1px solid;
 border-right:      #fff 1px solid;
}

.cpNavOn a:hover { 
 color:             #fff;    
 background:        transparent;
 text-decoration:   none;
}
/*

    LINKS IN NAVIGATION TABS
--------------------------------------------------------------- */
.cpNavOff a:link { 
 color:             #000;
 background:        transparent;
 text-decoration:   none;
}  

.cpNavOff a:visited { 
 color:             #000;
 background:        transparent;
 text-decoration:   none;
}
  
.cpNavOff a:active { 
 color:             #000;
 background:        transparent;
 text-decoration:   none;
}

.cpNavOff a:hover { 
 color:             #fff;    
 background:        transparent;
 text-decoration:   none;
}
/*

    BREADCRUMB NAVIGATION
--------------------------------------------------------------- */
#breadcrumb {
 margin:            15px 40px 0 38px;
 padding-right:     30px;
 padding-left:      0;
 line-height:       18px;
 border-bottom:     #847E56 1px solid;
}

/* Breadcrumb with no bottom line */

#breadcrumbNoLine {
 margin:            15px 40px 0 40px;
 padding-right:     30px;
 padding-left:      0;
 line-height:       18px;
}

/* Right side of bread crumb */

.breadcrumbRight {
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 font-weight:       bold;
 color:             #fff;
 background:        transparent;
 text-align:        right;
}

.crumblinks a:link {
 text-decoration:   none;
 color:             #CCFF66;
 background-color:  transparent;
}
  
.crumblinks a:visited {
 color:             #CCFF66;
 background-color:  transparent;
}

.crumblinks a:hover {
 color:             #fff;
 text-decoration:   underline;
 background-color:  transparent;
}
/*

   BREADCRUMB LINKS - RIGHT SIDE
--------------------------------------------------------------- */

.crumblinksR {
 font-family:       Arial, Trebuchet MS, Tahoma, Verdana, Sans-serif;
 font-size:         12px; 
 letter-spacing:	.1em;
 text-decoration:   none;
 color:             #fff;
 background-color:  transparent;
}

.crumblinksR a {
 color:             #CCFF66;
 text-decoration:   none;
 background-color:  transparent;
}
  
.crumblinksR a:visited {
 color:             #CCFF66;
 background-color:  transparent;
}

.crumblinksR a:active {
 color:             #999;
 background-color:  transparent;
}

.crumblinksR a:hover {
 color:             #999;
 text-decoration:   underline;
 background-color:  transparent;
}
/*

    PREVIEW ENTRY 
    (when you click "prevew" on the "publish" page)
--------------------------------------------------------------- */
#previewWrapper {
 background-color:  transparent;  
}

.preview {
 margin:            0 25px 0 4px;
}
/*

   CUSTOM HTML FORMATTING BUTTONS ON THE PUBLISH PAGE
   These are the little JavaScript buttons
--------------------------------------------------------------- */

.buttonMargin {
 margin-bottom:     4px;       
}

.buttonInsert {
 background-color:  #1A160E;  
 border:            #666 1px solid;
 padding:           6px;
 margin-right:      8px;
}

.htmlButtonOutter, .htmlButtonOutterL {
 background-color:  #090909;  
 padding:           0;
 border-top:        #CCC 1px solid;
 border-right:      #CCC 1px solid;
 border-bottom:     #CCC 1px solid;
}

.htmlButtonOutterL  {
 border-left:       #CCC 1px solid;
}

.htmlButtonInner {
 background-color:  transparent;  
 border-left:       #fff 1px solid;
 border-top:        #fff 1px solid;
 border-right:      #333 1px solid;
 border-bottom:     #333 1px solid;
}

.htmlButtonA {
 font-family:       Verdana, Arial, Trebuchet MS, Tahoma, Sans-serif;
 font-size:         11px;
 font-weight:       bold;
 padding:           2px 3px 3px 3px;
 white-space:       nowrap;
}

.htmlButtonB {
 font-family:       Verdana, Arial, Trebuchet MS, Tahoma, Verdana, Sans-serif;
 font-size:         11px;
 font-weight:       bold;
 background:        #090909;
 padding:           2px 3px 3px 3px;
 white-space:       nowrap;
}

.htmlButtonA a:link { 
 color:             #fff;
 font-weight:       bold;
 text-decoration:   none;
 white-space:       nowrap;
}
  
.htmlButtonA  a:visited { 
 text-decoration:   none;
}
  
.htmlButtonA a:active { 
 text-decoration:   none;
 color:             #666;
}

.htmlButtonA a:hover { 
 text-decoration:   none;
 color:             #666;
}

.htmlButtonB a:link { 
 color:             #66FFFF;
 font-weight:       bold;
 text-decoration:   none;
 white-space:       nowrap;
}
  
.htmlButtonB  a:visited { 
 text-decoration:   none;
}
  
.htmlButtonB a:active { 
 text-decoration:   none;
 color:             #666;
}

.htmlButtonB a:hover { 
 color:             #666;
 text-decoration:   none;
}
/*

   PUBLISH PAGE
--------------------------------------------------------------- */

.publishBorder {
 padding-bottom:    8px;
 margin-bottom:     6px;
 margin-left:		8px;
 border-bottom:     #847E56 1px solid;
}

.publishBorderNB {
 padding-bottom:    8px;
 margin-bottom:     6px;
 margin-left:		8px;
}

.publishPad {
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 color:             #fff;
 padding:			1px 5px 1px 10px;
 background-color:  transparent;  
}
/*

    CONTROL PANEL HOME PAGE
--------------------------------------------------------------- */

.leftColumn {
 padding:           0 14px 0 0;
}  

.rightColumn {
 padding:           0 0 0 14px;
}

.itemPad {
 padding:           0 0 20px 0;
}
/*

   TEMPLATES PAGE
--------------------------------------------------------------- */

.leftBorderPad {
 border-left:      #585641 1px solid;
 padding:          0 4px 0 14px;
} 

.rightBorderPad {
 border-right:     #847E56 1px solid;
 padding:          0;
}  
.itemPadBotBorder {
 background-color:  #000;  
 border-bottom:     #847E56 1px dashed;
 padding:           10px 0 16px 0;
 width:             90%;
 margin-bottom:     8px;
}
/*

   MY PROFILE PAGE
--------------------------------------------------------------- */

.profileMenuInner {
 padding-left:      10px;
 padding-right:     8px;
 margin-bottom:     4px;
 margin-top:        4px;
}

.borderTopBot {
 border-top:		1px solid #847E56;
 border-bottom:		1px solid #847E56;
}

.profileHead {
 font-family:		Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:			10px;
 font-weight:		bold;
 text-transform:	uppercase;
 color:				#fff;
 padding:			5px 4px 5px 10px;
 background-color:	#474126;  
 border-top:		1px solid #000;
 border-bottom:		1px solid #111;
 margin:			0 0 0 0; 
}
/*

    ADMIN PAGE
--------------------------------------------------------------- */

.leftCel {
 border-right:      #847E56 1px solid;
 padding:           0 40px 0 0;
 white-space:       nowrap;
}  

.rightCel {
 padding:           0 0 0 40px;
 white-space:       nowrap;
}  

.menuHeading {  
 font-family:       Trebuchet MS, Arial, Verdana, Sans-serif;
 font-size:         14px;
 color:             #fff;
 font-weight:       bold;
 margin:            3px 0 3px 5px;
 background:        transparent;
}

.menuItem {
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 color:             #fff;
 background-color:  transparent;
 padding:           3px 0 3px 6px;
}

.menuWrapper {
 margin:            0 0 14px 0;
}
/*

    "SUCCESS" MESSAGE
    Used to display a message after user actions
    like submitting an entry, or updating preferences, etc.
--------------------------------------------------------------- */

.success{
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         12px;
 color:             #FF66CC;
 font-weight:       bold;
 background-color:  transparent; 
 margin:            5px 0 5px 0;
}
/*

    ITEM WRAPPERS
    Adds a little padding above and below the item.  Used often
    to add a bit of space around text or forms.
--------------------------------------------------------------- */

.itemWrapper {
 padding:           3px 0 5px 0;
 background-color:  transparent;  
}

.itemWrapperTop {
 padding:           12px 0 4px 0;
 background-color:  transparent;  
}

.itemTitle {
 font-family:       Tahoma, Verdana, Geneva, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 font-weight:       bold;
 color:             #fff;
 padding:           3px 0 2px 0;
 background-color:  transparent;  
}

.fieldWrapper {
 font-family:       Tahoma, Verdana, Geneva, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 color:             #fff;
 padding:           0 0 12px 0;
 background-color:  transparent;  
}

.xhtmlWrapper {
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         10px;
 font-weight:       normal;
 color:             #fff;
 text-align:        right;
 padding:           0;
 background-color:  transparent;  
}
/*

    BOXES - USED TO ENCLOSE ITEMS
--------------------------------------------------------------- */
.box {
 background-color:  #0D0D00;  
 border:            #847E56 1px solid;
 padding:           12px 10px 5px 10px;
 margin:     		5px 0 4px 0;
}

.box280 {
 background-color:  #000;  
 border:            #847E56 1px solid;
 padding:           12px;
 width:             280px;
 margin-top:        8px;
}
.box320 {
 background-color:  #0D0D00;  
 border:            #847E56 1px solid;
 padding:           12px;
 width:             320px;
 margin-bottom:     4px;
 margin-top:        2px;
}
.box450 {
 background-color:  #0D0D00;  
 border:            #847E56 1px solid;
 padding:           12px;
 width:             450px;
 margin-bottom:     4px;
 margin-top:        2px;
}
/*

   SPACER BETWEEN GROUPINGS OF FORM FIELDS
--------------------------------------------------------------- */

.padBotBorder {
 background-color:  #000;  
 border-bottom:     #847E56 1px dashed;
 padding:           10px 0 16px 0;
 margin-bottom:     8px;
 width:             90%;
}

.pad400 {
 background-color:  #000;  
 border-bottom:     #847E56 1px dashed;
 padding:           10px 0 16px 0;
 width:             400px;
 margin-bottom:     8px;
}
.pad400NoBorder {
 background-color:  #000;  
 padding:           10px 0 16px 0;
 width:             400px;
 margin-bottom:     8px;
}
/*

   COMMEMT/TRACKBACK DISPLAY IN CP
--------------------------------------------------------------- */

.comments {
 background-color:  #000;  
 border-bottom:     #847E56 1px dashed;
}

.cmtCredits {
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 color:             #666;
 margin-bottom:     3px;
}

.cmtCreditVal {
 color:             #fff;
 padding-left:      6px;
}

.cmtRightBorder {
 border-right:      #847E56 1px dashed;
 padding-right:     14px;
}

.cmtLeftPad {
 padding:           2px 6px 0 6px;
}
/*
    CATEGORY DISPLAY (used for category ID numbers in Admin page)
--------------------------------------------------------------- */
.category {
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 color:             #999;
 line-height:       18px;
 letter-spacing:	.09em;
}
/*

    TABLE FORMATTING
--------------------------------------------------------------- */

.subtext {
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 font-weight:       normal;
 color:             #fff;
 padding:           6px 0 3px 0;
}


.tableBorder {
 border:            1px solid #847E56;
 margin-top:        5px;
 margin-bottom:     4px;
}

.tablePad {
 padding:           2px 4px 5px 4px;
 background-color:	#000;
}

.tableBorderNoBot {
 border-top:        1px solid #847E56; 
 border-right:      1px solid #847E56; 
 border-left:       1px solid #847E56; 
}

.tableHeading {
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 font-weight:       normal;
 color:             #fff;
 padding:           12px 6px 12px 6px;
 background-color:  #000;  
 border-bottom:     1px solid #585641;
}

.tableHeadingBold {
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 font-weight:       bold;
 color:             #fff;
 padding:           12px 6px 12px 6px;
 background-color:  #000;  
 border-bottom:     1px solid #585641;
}

.tableHeadingLargeBold {
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         13px;
 font-weight:       bold;
 color:             #fff;
 padding:           12px 6px 12px 6px;
 background-color:  #000;  
 border-bottom:     1px solid #585641;
}

.tableHeadingBoldNoBot {
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 font-weight:       bold;
 color:             #fff;
 padding:           10px 6px 10px 6px;
 background-color:  #000;  
}  

.tableCellOne, .tableCellOneBold {
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 color:             #fff;
 padding:           6px 10px 6px 6px;
 border-top:        1px solid #000;
 border-bottom:     1px solid #585641;
 border-right:      1px solid #000;
 background-color:  #0B0B00;  
}

.tableCellTwo, .tableCellTwoBold {
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 color:             #fff;
 padding:           6px 10px 6px 6px;
 border-top:        1px solid #000;
 border-bottom:     1px solid #585641;
 border-right:      1px solid #000;
 background-color:  #1A1813;  
}

.tableCellOneBold {
 font-weight:       bold;
}
.tableCellTwoBold {
 font-weight:       bold;
}
/*
    IMAGE THUMBNAIL FORM
--------------------------------------------------------------- */
.thumb {
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 color:             #fff;
 width:				240px;
 border:        	1px solid #66FFFF;
}
.thumbPad {
 padding:			8px;
}

/*
    COPYRIGHT NOTICE
--------------------------------------------------------------- */
.copyright {
 text-align:        center;
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         9px;
 color:             #666;
 line-height:       15px;
 margin-top:        15px;
 margin-bottom:     15px;
 padding:           15px;
}
/*

    FORM FIELD FORMATTING
--------------------------------------------------------------- */

form {
 margin:            0;
}
.hidden {
 margin:            0;
 padding:           0;
 border:            0;
}
.input {
 border-top:        1px solid #666666;
 border-left:       1px solid #666666;
 background-color:  #000;
 color:             #fff;
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 height:            1.6em;
 padding:           .3em 0 0 2px;
 margin-top:        6px;
 margin-bottom:     3px;
} 
.textarea {
 border-top:        1px solid #666666;
 border-left:       1px solid #666666;
 background-color:  #444;
 color:             #fff;
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 margin-top:        3px;
 margin-bottom:     3px;
}
.select {
 background-color:  #000;
 font-family:       Arial, Verdana, Sans-serif;
 font-size:         10px;
 font-weight:       normal;
 letter-spacing:    .1em;
 color:             #fff;
 margin-top:        6px;
 margin-bottom:     3px;
} 
.multiselect {
 border-top:        1px solid #666666;
 border-left:       1px solid #666666;
 background-color:  #000;
 color:             #fff;
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         11px;
 margin-top:        6px;
 margin-bottom:     3px;
} 
.radio {
 color:             #fff;
 margin-top:        7px;
 margin-bottom:     4px;
 padding:           0;
 border:            0;
 background-color:  transparent;
}
.checkbox {
 background-color:  transparent;
 margin:            3px;
 padding:           0;
 border:            0;
}
.submit {
 background-color:  #000;
 font-family:       Arial, Verdana, Sans-serif;
 font-size:         10px;
 font-weight:       normal;
 letter-spacing:    .1em;
 padding:           1px 3px 1px 3px;
 margin-top:        6px;
 margin-bottom:     4px;
 text-transform:    uppercase;
 color:             #fff;
}  
/*

    ERROR MESSAGE OUTER WRAPPER
    NOTE: the border color needs to match the breadcrumb
--------------------------------------------------------------- */
#error {
 margin-top:        15px;
 padding:           1px;
 border:            #847E56 1px solid;
}
/*

    ERROR MESSAGE HEADING
--------------------------------------------------------------- */
.errorheading{
 color:             #66FFFF;
 background:        #ccc;
 font-family:       Verdana, Trebuchet MS, Arial, Sans-serif;
 text-align:        center;
 font-size:         12px;
 font-weight:       bold;
 letter-spacing:    1px;
 text-transform:    uppercase;
 padding:           4px;
 margin-bottom:     1px;
}
/*

    ERROR MESSAGE BODY
--------------------------------------------------------------- */
.errormessage {
 color:             #fff;
 border-top:        #847E56 1px solid;
 font-family:       Verdana, Geneva, Tahoma, Trebuchet MS, Arial, Sans-serif;
 font-size:         12px;
 text-align:        center;
 padding:           20px 10px 20px 10px;
}
/*

    PHP-INFO FORMATTING (used on PHP info page)
--------------------------------------------------------------- */

.phpinfotable {
 background:        #797EB8;
}

.phpinfohead {
 background:        #797EB8;
}

.phpinforow {
 background:        #797EB8;
}

.phpinfocell {
 background:        #000;
}