body             {font-family: helvetica, arial, geneva, sans-serif; font-size: x-small; color: #000000}
.punkte   	 {font-family: helvetica, arial, geneva, sans-serif; font-size:13; color:#AE6B00; font-weight: bold}
.headline   	 {font-family: helvetica, arial, geneva, sans-serif; font-size:15; color:#000000; font-weight: bold}
.subheadline   	 {font-family: helvetica, arial, geneva, sans-serif; font-size:13; color:#AE6B00}
.text		 {font-family: helvetica, arial, geneva, sans-serif; font-size:12; color:#000000 }
.navigation {font-family: helvetica, arial, geneva, sans-serif; font-size:10; color:#FFFFFF;}



A:link           {font-family: helvetica, arial, geneva, sans-serif; font-size:13; text-decoration: none; color: #000000}
A:visited        {font-family: helvetica, arial, geneva, sans-serif; font-size:13; text-decoration: none; color: #000000}
A:hover          {font-family: helvetica, arial, geneva, sans-serif; font-size:13; text-decoration: none; color: #AE6B00}
A:active         {font-family: helvetica, arial, geneva, sans-serif; font-size:13; text-decoration: none; color: #AE6B00}


A.klein:link	{font-family: helvetica, arial, geneva, sans-serif; font-size:11; text-decoration: none; color: #000000}
A.klein:visited {font-family: helvetica, arial, geneva, sans-serif; font-size:11; text-decoration: none; color: #000000}
A.klein:hover	{font-family: helvetica, arial, geneva, sans-serif; font-size:11; text-decoration: none; color: #AE6B00}
A.klein:active	{font-family: helvetica, arial, geneva, sans-serif; font-size:11; text-decoration: none; color: #AE6B00}



