.text-heading {
	font-family: "Lucida Console";
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	text-transform: none;
	letter-spacing: 4px;
	text-indent: 10px;
	vertical-align: middle;
	color: #009900;
}



.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #003C1E;
	text-align: justify;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003C1E;
	text-align: center;
	border: 1px none #6699CC;
	background-color: #CCCCCC;
}
.table2 {
	border: 1px dotted #006600;
}
.company {
	font-family: "Lucida Console";
	font-size: 30px;
	color: #00CC00;
	text-align: left;
	vertical-align: middle;
	letter-spacing: 8px;
	font-weight: normal;



}
.punchline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006600;
	letter-spacing: 4px;
}
.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #009900;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #000000;
	background-color: #BBE8BB;
}

.submenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: lighter;
	color: #006633;
	text-align: center;
	vertical-align: middle;
	background-color: #D9F2D9;
	border-top: 1px solid #000000;
	border-right: 1px none #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px none #000000;
}


.headtable {
	border: 1px dotted #000000;
}


.header {
	border: 1px dotted #333333;
}

a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #009900;
	text-decoration: none;

}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #336600;
	text-decoration: none;

	font-weight: bold;
}
