.text-heading {
	font-family: "Lucida Console";
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	text-transform: none;
	letter-spacing: 4px;
	text-indent: 10px;
	vertical-align: middle;
	color: #0066CC;
}



.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #666666;
	text-align: justify;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-align: center;
	border: 1px none #6699CC;

}
.table2 {
	border: 1px dotted #000066;
}
.company {
	font-family: "Lucida Console";
	font-size: 36px;
	color: #0066CC;
	text-align: left;
	vertical-align: middle;
	letter-spacing: 10px;
	font-weight: normal;



}
.punchline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	letter-spacing: 4px;
}
.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: lighter;
	color: #0066CC;
	text-align: center;
	vertical-align: middle;
	padding-right: 10px;
	border: 1px solid #000000;
	background-color: #E1E8F8;




}
.headtable {
	border: 1px dotted #0066CC;
}
