body {
	scrollbar-face-color: #203448;
	scrollbar-highlight-color: #284058;
	scrollbar-3dlight-color: #306080;
	scrollbar-shadow-color: #000810;
	scrollbar-darkshadow-color: #000000;
	scrollbar-arrow-color: #D3B576;
	scrollbar-track-color: #001020;
    font-family: tahoma;
    font-size: x-small;
	background-color : #000000;
	background-image: url(fond.gif);
}

td {
    font-size: small;
	color: #ffffff;
}

td.a {
    color: #ffffff;
    font-weight: bold;
}

a {
	text-decoration: none;
    border-bottom: 0px dashed #666;
	color: #ffffff;
}
    
a:hover {
   	color: #ff9e31;
   	border-bottom: 0px dashed #666;
   	text-decoration: none;
}
    
a:link {
   color:#ffffff;
   border-bottom: 0px dashed #666;
   text-decoration: none;
}
td.mainpageleft {
	width: 129px;
}
td.mainpageright {
	width: 129px;
}
td.mainpagecenter {
	width: 511px;
}
td.smtop {
	background-image: url(smtop-blue.jpg);
	color: #ffffff;
    font-weight: bold;
	height: 41;
	width: 129;
}
td.smmid {
	background-image: url(smbg.jpg);
}
td.smbot {
	background-image: url(smbot.jpg);
	height: 36;
}
div.smtopboxoffset { 
	position: relative; 
	margin-top: 5px; 
	margin-left: 5px;
	margin-right: 8px;
}
div.smmidboxoffset {
	position:relative; 
	margin-top: -8px;
	margin-left: -10px; 
	margin-right:-5px;
}
p.midboxtext {
	color:#ffffff;
	text-decoration: none;
}
li { 
	color:#ffffff;
}

td.lgtop {
	background-image: url(lgtop.jpg);
	color: #ffffff;
    font-weight: bold;
	height: 32;
}
td.lgmid {
	background-image: url(lgbg.jpg);
}
td.lgbot {
	background-image: url(lgbot.jpg);
	height: 38px;
}
div.lgtopboxoffset { 
	position:relative; 
	margin-top: -10px; 
	margin-left: -5px;
}
div.lgmidboxoffset {
	position: relative; 
	margin-left: 7px; 
	margin-right: 15px;
}
div.pagewidth {
	width: 900px;
}
p.footertext {
	color: #ffffff;
}