.top	{	padding: 4px; font-size: 16px;  text-align:center; font-weight: bold; border-style: none; border-width: 0px;background-color:white;		}

.ends	{	padding: 4px; font-size: 12px;  text-align: center; border-style: none; border-width: 0px; font-weight: bold;background-color:white;	}

.form	{	padding: 0px; font-size: 12px; border-style: none; border-width: 0px; background-color: white; color: #00000;background-color:white;	}

.days	{	padding: 2px; font-size: 12px;  text-align:center; font-weight: bold; font-family:Verdana; background-color:FAFAFA;	border: 1px solid F0F0F0; }

.curday	{	text-align: left; font-size: 13px;  background-color: E6F2FF; font-family:Verdana; border: 1px solid #639ace; }

.calend {	text-align: left; font-size: 13px; font-family:Verdana; border: 1px solid F9F9F9	}

.test	{	text-align: center; font-size: 13px; font-family:Verdana;padding:3px;	}

.reds	{	margin:1px; color:red; background-color:DEDEDE;	}

.header	{	background-color:F0F0F0; padding: 2px; font-size: 12px;  text-align:center; height:30px; font-family:Verdana	}

