body	{ 

			scrollbar-face-color:#B9C5D4;

			scrollbar-highlight-color:FEFEFE;

			scrollbar-shadow-color:878787;

			scrollbar-3dlight-color:#CAD6E4;

			scrollbar-arrow-color:888888;

			scrollbar-track-color:#CAD6E4;

			scrollbar-darkshadow-color:#A1B0C3;

		}

a				{ text-decoration:none }

a:link			{ color:#0050A0 }

a:hover			{ color:#0074E8 }

a:visited		{ color:#0050A0 }

a:activ			{ color:#0074E8 }

a.bottom:link		{ color:white; }

a.bottom:hover		{ color:F8F8F8;}

a.bottom:visited	{ color:white; }

.text			{ font-family:Verdana,Sans-serif, Tahoma; font-size:10pt }

.head			{ font-size:13pt; font-family:Verdana;}

.little			{ font-size:8pt;  font-family:Verdana,Tahoma,Arial }

.note			{ background-color:F9F9F9; font-family:Verdana; font-size:9pt; }

.boxG			{ background-color:F9F9F9;scrollbar-face-color:EEEEEE;scrollbar-highlight-color:F1F1F1;scrollbar-shadow-color:909090;scrollbar-3dlight-color:909090;scrollbar-arrow-color:909090;scrollbar-track-color:DADADA;scrollbar-darkshadow-color:f0f0f0;background-color:F9F9F9; }

.box			{ font-family:Verdana;font-size:9pt;background-color:F7F7F7; cursor: hand;}

.access_code	{ font-family:Courier,Helvetica,Verdana,Arial;font-weight:bold;font-size:12pt;background-color:F7F7F7;}

.table_padding	{ padding-left: 5px; padding-bottom: 2px; padding-top: 2px; }