body 		{
	padding: 0;
	margin: 0;
	background-color: #272B43;
	text-align: left;
}

.main		{background-color: #000000;}

td		{
		font: 8pt Tahoma, Arial, Verdana;
		color: #dedede;	
		padding: 0px;
		background-color: #000000;}

.img		{
		font: 8pt Tahoma, Arial, Verdana;
		color: #383F6E;}

.img a,.img a:link,.img a:active,.img a:visited { 
		font: 8pt Tahoma, Arial, Verdana;
		color: #212438;
		text-decoration: none;}

.img a:hover { 
		font: 8pt Tahoma, Arial, Verdana;
		text-decoration: underline; 
		color: #383F6E;}

.footer		{
		font: 8pt Tahoma, Arial, Verdana;
		color: #373B54;}

.footer a,.footer a:link,.footer a:active,.footer a:visited { 
		font: 8pt Tahoma, Arial, Verdana;
		color: #373B54;
		text-decoration: none;
		padding: 0px 8px;}

.footer a:hover { 
		font: 8pt Tahoma, Arial, Verdana;
		text-decoration: none; 
		color: #dedede;
		padding: 0px 8px;}

a		{color: #383F6E;}

a:visited	{color: #dedede;}

a:hover		{color: #455195;}

a:active	{color: #373B54;}


.spacer		{background-color: #272B43;}

.sub		{background-color: #212438;}

h1		{
		font: 8pt Tahoma, Arial, Verdana;
		color: #00A2CA;	
		margin: 0 0 12px 0;
		font-weight: bold;}

#dropmenudiv{
position:absolute;
border:1px solid #3B426A;
font:normal 8pt Tahoma;
line-height:20px;
z-index:100;
padding: 0 0 0 10px;
}
a.menulink	{
		 font-Family: Arial;
		 color: white;
		 text-decoration: none;
		 font-size: 11px;
		}
a.menulink:hover	{
		 font-Family: Arial;
		 color: #FF9900;
		 text-decoration: none;
		 font-size: 11px;
		}
.catTitle {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	color: #F1F0ED;
}
.bioText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-align: left;
}
.bioTextHeading {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: #FFFFFF;
	text-align: left;
}
a.photo {
	color: #FFFF00;
	text-decoration: none;
}
.catTitle {
	font-family: "Century Gothic";
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
}
.titleIndexPage {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	color: #FFFFFF;
}
.indexSubHead {
	border: thin solid #000000;
	background-color: #212438;
	padding: 5px;
}

.orderInput {
    border: 1px solid gray;
	width:	235px;
	margin:	4px;
	padding: 2px;
}
