<module>
	<admin>
		<templates>
			<template name="mail">mail.htm</template>
		</templates>

		<tables>			
			<table name="users">site_users</table>
			<table name="mb_msg">site_mb_msg</table>
			<table name="vars">site_vars</table>
			<table name="notes">site_user_notes</tables>
		</tables>
	</admin>

	<site>
	</site>
</module>