.dummy {
	
}
BODY {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "Trebuchet MS", arial
}
LI {
	LINE-HEIGHT: normal;
	list-style-position: outside;
	list-style-type: square;
}
A {
	COLOR: #0000CC
}
P {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
DIV {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
B {
	FONT-WEIGHT: 700
}
TD {
	FONT-SIZE: 11px;

}
HR {
	COLOR: #dddddd
}
FORM {
	MARGIN: 0px
}
INPUT {
	FONT-SIZE: 11px;
	FONT-FAMILY: Trebuchet MS, arial;
}
INPUT.noborder {	
	BORDER-RIGHT: #dddddd 0px solid; BORDER-TOP: #dddddd 0px solid; BORDER-LEFT: #dddddd 0px solid; BORDER-BOTTOM: #dddddd 0px solid;
	FONT-SIZE: 11px; 
	FONT-FAMILY: Trebuchet MS, arial;
}
TEXTAREA {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid;
	FONT-SIZE: 11px; 
	FONT-FAMILY: Trebuchet MS, arial;
}
SELECT {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid;
	FONT-SIZE: 11px; 
	FONT-FAMILY: Trebuchet MS, arial;
}
BR.h5 {
	FONT-SIZE: 5px; LINE-HEIGHT: 5px
}
BR.h6 {
	FONT-SIZE: 6px; LINE-HEIGHT: 6px
}
BR.h8 {
	FONT-SIZE: 8px; LINE-HEIGHT: 8px
}
BR.h10 {
	FONT-SIZE: 10px; LINE-HEIGHT: 10px
}
BR.h12 {
	FONT-SIZE: 12px; LINE-HEIGHT: 12px
}
BR.text_spacer {
	FONT-SIZE: 20px; LINE-HEIGHT: 20px
}
BR.field_spacer {
	FONT-SIZE: 28px; LINE-HEIGHT: 28px
}
BR.field_spacer_opt {
	FONT-SIZE: 35px; LINE-HEIGHT: 35px
}
BR.ir_spacer {
	FONT-SIZE: 20px; LINE-HEIGHT: 20px
}
BLOCKQUOTE.ir {
	MARGIN: 0px 0px 5px 10px
}
UL.irlist {
	MARGIN: 0px 5px 0px 15px
}
OL.irolist {
	MARGIN: 0px 5px 0px 35px
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
IMG.left {
	FLOAT: left
}
IMG.right {
	FLOAT: right
}
.ppbigtext {
	FONT-WEIGHT: 400; FONT-SIZE: 17px; FONT-FAMILY: Trebuchet MS, arial
}
.ppheadingshops {
	FONT-WEIGHT: 700; FONT-SIZE: 17px; COLOR: #ffffff; FONT-FAMILY: Trebuchet MS, arial
}
.ppheading {
	FONT-WEIGHT: 700; FONT-SIZE: 17px; COLOR: #003366; FONT-FAMILY: Trebuchet MS, arial
}
.ppcobrand {
	FONT-WEIGHT: 700; FONT-SIZE: 21px; COLOR: #003366; FONT-FAMILY: Trebuchet MS, arial
}
.ppmediumtext {
	FONT-WEIGHT: 400; FONT-SIZE: 15px; FONT-FAMILY: Trebuchet MS, arial
}
.ppsubheading {
	FONT-WEIGHT: 700; FONT-SIZE: 15px; COLOR: #003366; FONT-FAMILY: Trebuchet MS, arial
}
.pptext {
	FONT-WEIGHT: 400; FONT-SIZE: 13px; FONT-FAMILY: Trebuchet MS, arial
}
.pptextbold {
	FONT-WEIGHT: 700; FONT-SIZE: 13px; FONT-FAMILY: Trebuchet MS, arial
}
.ppnote {
	FONT-WEIGHT: 400; FONT-SIZE: 13px; COLOR: #999999; FONT-FAMILY: Trebuchet MS, arial
}
.pperror {
	FONT-WEIGHT: 400; FONT-SIZE: 13px; COLOR: #ff0000; FONT-FAMILY: Trebuchet MS, arial
}
.pperrorbold {
	FONT-WEIGHT: 700; FONT-SIZE: 13px; COLOR: #ff0000; FONT-FAMILY: Trebuchet MS, arial
}
.ppmessage {
	FONT-WEIGHT: 700; FONT-SIZE: 13px; FONT-FAMILY: Trebuchet MS, arial
}
.ppsmalltext {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS, arial
}
.ppsmalltextbold {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS, arial
}
.ppsmallnote {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: Trebuchet MS, arial
}
.ppsmallerror {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Trebuchet MS, arial
}
.ppsmallerrorbold {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Trebuchet MS, arial
}
.pplabel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; FONT-FAMILY: Trebuchet MS, arial
}
.pplabelerror {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #ff0000; PADDING-TOP: 1px; FONT-FAMILY: Trebuchet MS, arial
}
.pplabelgrey {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #666666; PADDING-TOP: 1px; FONT-FAMILY: Trebuchet MS, arial
}
.pplabelgreyerror {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #ff0000; PADDING-TOP: 1px; FONT-FAMILY: Trebuchet MS, arial
}
.ppfooter {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS, arial
}
.ppsmalltextboldwhite {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Trebuchet MS, arial
}
.ppbutton {
	FONT-WEIGHT: 400; FONT-SIZE: 13px; COLOR: #000000; BORDER-TOP-STYLE: outset; FONT-FAMILY: Trebuchet MS, arial; BORDER-RIGHT-STYLE: outset; BORDER-LEFT-STYLE: outset; BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM-STYLE: outset
}
.ppbuttonhot {
	FONT-WEIGHT: 700; FONT-SIZE: 13px; COLOR: #000000; BORDER-TOP-STYLE: outset; FONT-FAMILY: Trebuchet MS, arial; BORDER-RIGHT-STYLE: outset; BORDER-LEFT-STYLE: outset; BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM-STYLE: outset
}
.ppbuttonsmall {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #000000; BORDER-TOP-STYLE: outset; FONT-FAMILY: Trebuchet MS, arial; BORDER-RIGHT-STYLE: outset; BORDER-LEFT-STYLE: outset; BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM-STYLE: outset
}
.ppbuttonverysmall {
	FONT-WEIGHT: 400; FONT-SIZE: 9px; COLOR: #000000; BORDER-TOP-STYLE: outset; FONT-FAMILY: Trebuchet MS, arial; BORDER-RIGHT-STYLE: outset; BORDER-LEFT-STYLE: outset; BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM-STYLE: outset
}
.ppscnormal {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS, arial
}
.ppscbig {
	FONT-WEIGHT: 700; FONT-SIZE: 15px; FONT-FAMILY: Trebuchet MS, arial
}
.ppscbutton {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #000000; BORDER-TOP-STYLE: outset; FONT-FAMILY: Trebuchet MS, arial; BORDER-RIGHT-STYLE: outset; BORDER-LEFT-STYLE: outset; BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM-STYLE: outset
}
.ppscmessage {
	FONT-WEIGHT: 700; FONT-SIZE: 15px; FONT-FAMILY: Trebuchet MS, arial
}
.ppinlineoptional {
	FONT-WEIGHT: 400
}
.ppinlinedisabled {
	COLOR: #999999
}
.ppinlinefootnote {
	COLOR: #999999
}
.ppinlineerror {
	COLOR: #ff0000
}
.ppinlineerrorbold {
	FONT-WEIGHT: 700; COLOR: #ff0000
}
.ppinlineyellowbg {
	BACKGROUND-COLOR: #ffffcc
}
.ppinlinelightgreybg {
	BACKGROUND-COLOR: #e6e6e6
}
.ppinlinedarkgreybg {
	BACKGROUND-COLOR: #cccccc
}
.ppinlinedisabledgrey {
	COLOR: #666666; BACKGROUND-COLOR: #e6e6e6
}
.ppinlinepaypalblue {
	COLOR: #336699
}
.ppinlinewhite {
	COLOR: #ffffff
}
.ppinlinereward {
	COLOR: #00aa00
}
.ppinlinegreen {
	COLOR: #00aa00
}
.ppinlinered {
	COLOR: #ff0000
}
.ppinlineblue {
	COLOR: #0000ff
}
.ppinlinegreyongrey {
	COLOR: #333333
}
.ppinlinemedgrey {
	COLOR: #999999
}
.ppinlinemoneygreen {
	COLOR: #336633
}
.ppleftnav_parent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 110%; PADDING-TOP: 0px; FONT-FAMILY: Trebuchet MS, arial
}
.ppleftnav_child {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: 400; FONT-SIZE: 13px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 110%; PADDING-TOP: 5px; FONT-FAMILY: Trebuchet MS, arial
}
.ppleftnav_parent_small {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 110%; PADDING-TOP: 0px; FONT-FAMILY: Trebuchet MS, arial
}
.ppleftnav_child_small {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: 400; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 110%; PADDING-TOP: 5px; FONT-FAMILY: Trebuchet MS, arial
}
.pptabtext {
	FONT-WEIGHT: 700; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: verdana,helvetica,arial,sans-serif; TEXT-DECORATION: none
}
.ppsubtabtextoff {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana,helvetica,arial,sans-serif; TEXT-DECORATION: none
}
.ppsubtabtextoff:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana,helvetica,arial,sans-serif; TEXT-DECORATION: underline
}
.ppsubtabtextoffspacer {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana,helvetica,arial,sans-serif; TEXT-DECORATION: none
}
.ppsubtabtexton {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana,helvetica,arial,sans-serif; TEXT-DECORATION: none
}
TABLE.yellowtable {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: verdana,helvetica,arial,sans-serif; BACKGROUND-COLOR: #ffffff
}
.ppheaderborder {
	BORDER-RIGHT: #ccc 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: 700; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 0px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Trebuchet MS, arial; BACKGROUND-COLOR: #f9f9f9
}
.ppdashheader {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS, arial
}
.ppdashbody {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS, arial
}
.ppdashbodybold {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; FONT-FAMILY: Trebuchet MS, arial
}
.ppem100 {
	FONT-WEIGHT: 100
}
.ppem101 {
	FONT-WEIGHT: 200
}
.ppem102 {
	FONT-WEIGHT: 300
}
.ppem103 {
	FONT-WEIGHT: 400
}
.ppem104 {
	FONT-WEIGHT: 500
}
.ppem105 {
	FONT-WEIGHT: 600
}
.ppem106 {
	FONT-WEIGHT: 700
}
.ppem107 {
	FONT-WEIGHT: 800
}
.ppem108 {
	FONT-WEIGHT: 900
}
.ppem200 {
	FONT-STYLE: normal
}
.ppem201 {
	FONT-STYLE: italic
}
.ppem202 {
	FONT-STYLE: oblique
}
.ppem301 {
	COLOR: #000000
}
.ppem302 {
	COLOR: #333333
}
.ppem303 {
	COLOR: #666666
}
.ppem304 {
	COLOR: #999999
}
.ppem305 {
	COLOR: #cccccc
}
.ppem306 {
	COLOR: #e6e6e6
}
.ppem307 {
	COLOR: #f6f6f6
}
.ppem308 {
	COLOR: #ffffff
}
.ppem330 {
	COLOR: #ff0000
}
.ppem350 {
	COLOR: #00ff00
}
.ppem370 {
	COLOR: #0000ff
}
.border {
	border: 1px solid #658CB4;
}
.backgroundbox {

	background-image: url(images/box.jpg);
	background-repeat: no-repeat;
}
.back {
	filter: Alpha(Opacity=60, FinishOpacity=60, Style=2, StartX=0, StartY=0, FinishX=0, FinishY=0);
}
