<!--
.body { font-family:Tahoma;Verdana;Arial; }
.item { font-size: 12px; font-family:Tahoma;Verdana;Arial;}

.title { color:#00000; font-size: 14px; font-family:Arial; font-weight:bold; padding: 0 2 2 2}
.title_w { color:white; font-size: 14px; font-family:Arial; font-weight:bold; padding: 2 2 2 5}
.view_topic { font-size: 12px; font-family:Arial; font-weight:bold; padding: 5 0 0 0 }

.error { font-size: 12px; color: red; font-family:Arial; font-weight:bold;}

.text { font-size: 10pt; font-family:Arial;}
.tbl_bdr { border:1px solid lightgray; }
td { font-size: 12px; font-family:Tahoma;Verdana;Arial;}
th { background-color:#D9D9D9; font-family:Arial; font-size:12px; color:#000000; text-align:left;}

a { font-family:Tahoma;Verdana;Arial; text-decoration:none; }
a:link { color:#0000cc }
a:visited { color:#0000cc }
a:hover { color:#990000 }

.button { border:1px solid #F5F5F5; font-family:Arial; font-size:12px; font-weight:bold; color:#ffffff; text-decoration:none; padding:1 5 0 5}

#navcontainer ul { margin: 0; padding: 0; list-style-type: none; }
#navcontainer li 
{  
background-image: url(arrow.png);
background-repeat: no-repeat;
background-position: 0 .2em;
padding-left: 1.5em;
margin: .4em .4em .4em .4em; 
}
#comlist ul { margin: 0; padding: 0; list-style-type: none; }
#comlist li 
{  
background-image: url(arrow1.png);
background-repeat: no-repeat;
background-position: 0 .2em;
padding-left: 1.2em;
margin: 0 0 .4em .4em; 
}

.myimg {border-top:10px solid #F5F5F5;border-bottom:10px solid #F5F5F5;}
-->
