<p><phpdig:templates_links/></p>
<phpdig:form_head/>
<table cellspacing=2 cellpadding=0 width="100%" border=0>
  <tr bgcolor="#C5C7B5" > 
    <td colspan=2><img height=1 src="{absolutepath}images/clearpixel.gif" width=2></td>
  </tr>
  
  <tr> 
    <td colspan=2><img height=10 src="{absolutepath}images/clearpixel.gif" width=2></td>
  </tr>
  <tr> 
      
    <td valign=top><img height=22 alt="" hspace=3 src="{absolutepath}images/lb_pijl.gif" width=22 vspace=3></td>
    <td valign=top width="100%"> 
        
      <table cellspacing=2 cellpadding=0 border=0>
          
        <tr> 
            
          <td><img height=2 src="{absolutepath}images/clearpixel.gif" width=15></td>
          <td><img height=2 src="{absolutepath}images/clearpixel.gif" width=2></td>
          <td><img height=2 src="{absolutepath}images/clearpixel.gif" width=2></td>
          <td><img height=2 src="{absolutepath}images/clearpixel.gif" width=2></td>
          <td><img height=2 src="{absolutepath}images/clearpixel.gif" width=2></td>
          <td><img height=2 src="{absolutepath}images/clearpixel.gif" width=2></td>
          <td><img height=2 src="{absolutepath}images/clearpixel.gif" width=2></td>
          <td><img height=2 src="{absolutepath}images/clearpixel.gif" width=2></td>
          <td width="100%"><img height=2 src="{absolutepath}images/clearpixel.gif" width=2></td>
        </tr>
          
        <tr> 
            
          <td><img height=2 src="{absolutepath}images/clearpixel.gif" width=15></td>
          <td><img height=2 src="{absolutepath}images/clearpixel.gif" width=5></td>
          <td colspan=7><p>Search this website only.<br> You can change this message in 'includes/phpdig/templates/simple.html'<br><br><b>No result will be found until after the website is indexed. To do this go to the admin and choose search from the main left navigation.</b></p>          
            <phpdig:form_field/>
              <br>
            <phpdig:form_button/>
              </td>
        </tr>
        
      </table>
    </td>
  </tr>
</table>
<phpdig:form_foot/>
<br />
<font size="2">
<b><phpdig:result_message/></b>
<br /><i><phpdig:ignore_message/></i>
<br /><i><phpdig:ignore_commess/></i>
</font>

<phpdig:results>
<p>
<phpdig:page_link/><br />
<phpdig:text/>
<br />
<font color='green'><phpdig:complete_path/> - <phpdig:filesize/>k - <phpdig:update_date/></font>
</p>
</phpdig:results>
<p align='center'>
<phpdig:nav_bar/>
</p>
