<table width="100%" border="0" cellspacing="1" cellpadding="0">
 <tr>
  <td>
   <table width="100%">
    <tr>
     <td><h3>##LNG['_PAGE_TITLE']##</h3></td>
     <td nowrap width="1%" valign="top" align="right">##ADM_PATH##</td>
    </tr>
   </table>
  </td>
 </tr>
 <tr>
  <td> 

   <form name="frm" method="post" action="##REQUEST_URI##">
   <table class="txt12" width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="#999999" align="center">
    <tr class="tha">
     <th>##LNG['_TBL_SETT_DESCR']##</th>
     <th>##LNG['_TBL_SETT_VALUE']##</th>
    </tr>
    <!-- SETTINGS -->

    <tr class="row##[row-1-2]##">
     <td valign="top">
       ##LNG['_SETT_SITE_SIZE']##<br />
     </td>
     <td><select name="SITE_SIZE" style="width:150px">##SITE_SIZE##</select></td>
    </tr>

    <tr class="row##[row-1-2]##">
     <td valign="top">
       ##LNG['_SETT_INDEXING_SCHEME']##<br />
     </td>
     <td><select name="INDEXING_SCHEME" style="width:150px">##INDEXING_SCHEME##</select></td>
    </tr>

    <tr class="row##[row-1-2]##">
     <td valign="top">
       ##LNG['_SETT_RES_NUM']##<br />
     </td>
     <td><input name="RES_NUM" value="##RES_NUM##" style="width:50px" /></td>
    </tr>

    <tr class="row##[row-1-2]##">
     <td valign="top">
       ##LNG['_SETT_MIN_LENGTH']##<br />
     </td>
     <td><input name="MIN_LENGTH" value="##MIN_LENGTH##" style="width:50px" /></td>
    </tr>

    <tr class="row##[row-1-2]##">
     <td valign="top">
       ##LNG['_SETT_NUMBERS']##<br />
       <font class="note">##LNG['_SETT_NUMBERS_NOTE']##</font>
     </td>
     <td><input name="NUMBERS" value="##NUMBERS##" style="width:300px" /></td>
    </tr>

    <tr class="row##[row-1-2]##">
     <td valign="top">
       ##LNG['_SETT_STOP_WORDS']##<br />
     </td>
     <td><textarea name="STOP_WORDS" cols="40" rows="8">##STOP_WORDS##</textarea><input type="hidden" name="QUOT[]" value="STOP_WORDS" /></td>
    </tr>

    <tr class="row##[row-1-2]##">
     <td valign="top">
       ##LNG['_SETT_EN_USE_META']##<br />
       <font class="note">##LNG['_SETT_NUMBERS_NOTE']##</font>
     </td>
     <td><input type="checkbox" name="EN_USE_META" ##EN_USE_META## /></td>
    </tr>

    <tr class="row##[row-1-2]##">
     <td valign="top">
       ##LNG['_SETT_DESCR_SIZE']##<br />
       <font class="note">##LNG['_SETT_NUMBERS_NOTE']##</font>
     </td>
     <td><input name="DESCR_SIZE" value="##DESCR_SIZE##" style="width:50px" /></td>
    </tr>

    <!-- /SETTINGS -->
    <tr class="row##[row-1-2]##">
     <td>&nbsp;</td>
     <td width="1%"><input type="submit" name="go" value="##LNG['_BTN_UPDATE']##" /></td>
    </tr>
   </table>
   </form>

  </td>
 </tr>
</table>