#closeLink {
	background-color: transparent;
  	background-image: url(../pics/closeRollover.gif);
}

#canvasShadow
{
  	position: absolute;
  	background-color: transparent;
  	background-image: url(../pics/spacer.gif);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="./popup/pics/trans_black.png", sizingMethod="scale");
	width:expression( ( ignoreMe2 = document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + 'px' );
	height:expression( ( ignoreMe1 = document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + 'px' );
	left:expression(-100+'%');  
  }

#canvasShadow.on
{ 
      left: expression( ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) + 'px' );
      top: expression( (  ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop  ) + 'px' );
}

#linkContainer
{
	text-align:left; margin:0px auto;
}