BODY, P, UL, LI, OL, TABLE, TD, TH, TR, TEXTAREA, FORM {
	font-family : Tahoma, sans-serif;
	font-size : 10pt;
	scrollbar-arrow-color:WHITE;
	scrollbar-track-color:#D6D6D6;
	scrollbar-shadow-color:#D6D6D6;
	scrollbar-face-color:#000000;
	scrollbar-highlight-color:#D6D6D6;
	scrollbar-darkshadow-color:#000000;
	scrollbar-3dlight-color:#000000;
}
	
INPUT, BUTTON, SELECT {
	font:tahoma;
	font-size:10px;
	border-bottom-width : 1px;
	border-bottom-color : Black;
	border-left-width : 1px;
	border-left-color : Black;
	border-right-width : 1px;
	border-right-color : Black;
	border-top-width : 1px;
	border-top-color : Black;
}

a, a:link, a:visited {
	color:Maroon;
	font-family: Tahoma, sans-serif;
	text-decoration:none;
}

A:HOVER {
	color:Black;
	font-family:Tahoma, sans-serif;
	text-decoration:underline;
}