body
{
	margin: 2px;
	padding: 0px;
	font-family: "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	background-color: #FFFFFF;
	color: #333;
}

ul
{
	list-style-image: url(/images/listblack.gif); 
	margin: 0px 0px 12px 24px;
	text-align: left;
}

li
{
	margin: 0px 0px 8px 0px; 
}

