
    <td width="82%" height="461" valign="top">
    <font face="verdana,arial" size="2"><B>Billing...</B><P>
	<table width=100%>
<tr><td><font face="verdana,arial" size="2"><B>Invoice Date</td>
<td><font face="verdana,arial" size="2"><B>Due Date</td>
<td><font face="verdana,arial" size="2"><B>Amount</td>
<td><font face="verdana,arial" size="2"><B>Status</td>
<td><font face="verdana,arial" size="2"><B>For</td>
<td><font face="verdana,arial" size="2"><B></td></tr>
	
	%list_bills%
        
</table>

		
		</font></p>
      <p>&nbsp;</p>
      </td>
  </tr>