<html>
<head>
<title>Client Management Area</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000" rightmargin="0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="8" height="100%">
  <tr bordercolor="#F0F0F0"> 
    <td height="70" colspan="2" bgcolor="#EBEBEB">&nbsp;&nbsp;<img src="file:///C|/WebDev/docs/projects/internet_service_manager/software/clients/templates/logo.gif" width="351" height="45"></td>
  </tr>
  <tr> 
<script language="javascript">     	 
function pop_chat(id){
chatwindow=window.open('init_chat.php?contact_id='+id,'InitChatWindow','width=300,height=300,scrollbars=no,status=no,toolbars=no,left=125,top=200,resizable=no,menubar=no');        
 }
    </script>
    <td width="18%" height="461" bgcolor="#EBEBEB" valign="top"><font face="verdana,arial" size=2>

<a href="index.php">Client Area Main</a><BR>
<font size=1>Main page of the client area!</font><P>

<a href="javascript: pop_chat(%contact_id%)">Contact Support</a><BR>
<font size=1>Open a new support ticket or chat with support technicians!</font><P>

<a href="index.php?projects">My Projects</a><BR>
<font size=1>View details of currently active and old projects!</font><P>

<a href="index.php?billing">Billing</a><BR>
<font size=1>View all invoices we have issued to you and how much you currently owe on each of them.</font><P>

<a href="index.php?files">My Files</a><BR>
<font size=1>Browse through the files that people working on projects for you have uploaded!</font><P>




<P>
<CENTER>
<a href="javascript: pop_chat(%contact_id%)"><img border="0" src="chat_status.php?_client_area"></a>
</td>