
    <td width="82%" height="461" valign="top">
      <p><font face="Verdana, Arial, Helvetica, sans-serif" color="#000000" size="2">Hello 
        %contact_first_name%,</font></p>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" color="#000000" size="2">Welcome 
        to the Client Area for %client_name%. Here you can keep track of your 
        projects, access billing histories, and current bills. You can also message 
        the people working on your projects and even chat with our support crews.</font></p>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#000000"><b>Basic 
        Stats:<br>
        </b>- You currently owe us %outstanding_balance%.</font><br>
        - <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Your account 
        balance is currently %account_balance%<br>
        - You have %no_unpaid_bills% invoices unpaid.<br>
	- We have billed %total_billed% worth of work to you!<br>
	- You have %no_active_projects% active projects.<BR>
	<P>
<B>Your Details:<BR></B>
Name: %contact_first_name% %contact_last_name%<BR>
Ttle:  %contact_title%<BR> 
Email: %contact_email%<BR>
Phone: %contact_phone%<BR>
Phone 2: %contact_phone2%<BR>
Address: %contact_address%<BR>
Username: %contact_username%<BR>
Password: %contact_password%<BR><P>

<B>Client Details</B><BR>
Name: %client_name%<BR>
Date Added: %client_date_added%<BR>
Billing Method: %client_billing_method%<BR>
Billing Contact: %client_billing_contact%<BR>
Primary Contact: %client_primary_contact%<BR>
<P>
NOTE: If any of the above is incorrect or incomplete please contact our tech support ASAP!
        </font></p>
      <p>&nbsp;</p>
      </td>
  </tr>