
<HTML>
<HEAD>
<TITLE>Request Chat</TITLE>
</HEAD>
<body>
<script language="javascript">     	 
function pop_support_ticket(id){
support_ticket=window.open('%support_ticket_url%','SupportTicket','width=400,height=400,scrollbars=no,status=no,toolbars=no,left=125,top=200,resizable=no,menubar=no');        

window.close()
}
    </script>

<center>
<font face="verdana,arial" size="2">
There are currently %number_admins% admins online and available for chats!<P>
<a href="%init_chat_url%">Request Chat</a>
<P>
You can also send us a support ticket:<P>
<a href="javascript: pop_support_ticket()">Send Support Ticket</a>
<P>
Thanks!
<P>
<BR>
<B>Powered By <BR><!--CyKuH--><img border="0" src="../images/logo_small.gif"></B>







