
    <td width="82%" height="461" valign="top">
    <font face="verdana,arial" size="2"><B>Projects...</B><P>
	<table width=100%>
<tr><td><font face="verdana,arial" size="2"><B>Project Name</td>
<td><font face="verdana,arial" size="2"><B>Project Status</td>
<td><font face="verdana,arial" size="2"><B>Start Date</td>
<td><font face="verdana,arial" size="2"><B>Finish Date</td>
<td><font face="verdana,arial" size="2"><B></td></tr>
	
	%list_projects%
        
</table>

		
		</font></p>
      <p>&nbsp;</p>
      </td>
  </tr>