<HTML>
<HEAD>
<TITLE>Submit Support Ticket</TITLE>
</HEAD>
<BODY>
<form>
<font face="verdana,arial" size="2">
<input type=hidden name=parent value="%parent_vals%">
<input type=hidden name=contact_id value="%contact_id%">
Email: <input type=text name=email value="%contact_email%"><P>
Name: <input type=text name=name value="%contact_name%"><P>
Subject: <input type=text name=subject value="%subject%"><P>
Message:<BR>
<textarea cols=40 rows=5 name=details></textarea><P>
Priority: <select name=priority>
<option value="0">Normal</option>
<option value="1">High</option>
<option value="2">Very High</option>
</select>
<P>
<input type=submit name=Go value="Submit Support Ticket">
</BODY>
</HTML>