<STYLE type="text/css"> 

body { font-family: verdana;
font-size: 10px;
color: white;  }

td {
font-family: verdana;
font-size: 10px;
color: white;
}

TABLE.text1 {
font-family: verdana;
border:1px solid black;
font-size: 10px;
color: white;
background-color: white;
}

TD.nay {

font-family: verdana;
font-size: 10px;
color: white;
}


a:link {color: silver;  font-family: verdana; text-decoration: none}

a:visited {color: #DDDDDD;  font-family: verdana; text-decoration: none} 

a:active {color: #000099;  font-family: verdana; text-decoration: none} 

a:hover {text-decoration: none; color: #141414}



</style>