
{header_menu_template}

<!link rel="stylesheet" href="{style_dir}dev.css" type="text/css">
<link rel="stylesheet" href="{style_dir}admin.css" type="text/css">
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
<div id="Layer1" style="position:absolute; left:125px; top:79px; width:500px; z-index:1">
<table width="500" border="0" cellspacing="0" cellpadding="0" class="menu_table">
  <tr>
    <td> 
      <table width="500" border="0" cellspacing="0" cellpadding="0" align="left" class="code">
        <tr>
<td><div align="center"><span class="title"> &nbsp;&nbsp;Configuration </span></div></td>
        </tr>
      </table>
	  </td></tr>
      <div align="left">	  
	  <tr><td>
	   <table>
	   <tr>
                <td colspan="2" align="right" bordercolor="#FFC31E">
				<a class="link" href="master.php?page={num_page_grupo_ant}">{flecha_doble_izq}</a>
				<a class="link" href="master.php?page={num_page_ant}">{flecha_izq}</a></a>
		        <!-- BEGIN nav_block -->
  		        <a href="master.php?page={num_page}" class="{class}">&nbsp;{num_page}</a>
		        <!-- END nav_block -->
				<a class="link" href="master.php?page={num_page_sig}">{flecha_der}</a></a>
				<a class="link" href="master.php?page={num_page_grupo_sig}">{flecha_doble_der}</a></a>
		        </td>
			   </tr>
	  </table>
                    <br>
                    <br>
      </div>
      <table border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td>
            <table  border="0" cellspacing="1" cellpadding="0" align="center">
              <tr align="center">
                <td class="table_header"><div align="left"><span class="top_link">&nbsp;Configuration</span></div></td>
                <td class="table_header"><div align="left"><span class="top_link">&nbsp;Active</span></div></td>				
              </tr>
              <!-- BEGIN conf_block -->
              <tr align="center" class="table_body">
                <td><div align="center"><a class="top_link" href="detail.php?conf_id={conf_id}&action={action}">&nbsp;{conf_name}</a></div></td>
                <td class="top_link"><div align="center">{conf_active_yn}</div></td>
              </tr>
              <!-- END conf_block -->
            </table>
          </td>
        </tr>
      </table>
      <p class="top_link">&nbsp;</p>
      <div align="center"> <a href="detail.php" class="top_link" >&nbsp;&nbsp;Add a New Configuration</a><br>
        <br>
        <span class="title">{error_message}</span>
      </div>
</td>
  </tr>
</table>
<div align="center"></div>
</div>
