<center>
<hr size=1 width=400>
<br>
<b>Sample Order URLS: (You may modify to match YOUR needs!)</b>
<br>
<br>
<table align=center><tr><td><pre>

<u>Default order URL:</u> [<a href=<?=$script_url_non_secure?>index.php>Order Now!</a>]
<i>Syntax:</i> index.php

<u>Change order form language dynamically:</u> <a href=<?=$script_url_non_secure?>index.php?&set_language=spanish>Order Now!</a>]
<i>Syntax:</i> index.php<B>?</B><font color=blue>set_language=<font color=red>spanish</font></font>

<u>Pass any domain from your custom order form (REGISTER):</u> [<a href=<?=$script_url_non_secure?>index.php?submit_register=1&domain=modernbill&tld_extension=com>Order Now!</a>]
<i>Syntax:</i> index.php<B>?</B><font color=blue>submit_register=1&domain=<font color=red>modernbill</font>&tld_extension=<font color=red>com</font></font>

<u>Pass any domain from your custom order form (TRANSFER):</u> [<a href=<?=$script_url_non_secure?>index.php?submit_transfer=1&domain=modernbill&tld_extension=com>Order Now!</a>]
<i>Syntax:</i> index.php<B>?</B><font color=blue>submit_transfer=1&domain=<font color=red>modernbill</font>&tld_extension=<font color=red>com</font></font>

<u>Order without entering a domain:</u> [<a href=<?=$script_url_non_secure?>index.php?submit_skip=1>Order Now!</a>]
<i>Syntax:</i> index.php<B>?</B><font color=blue>submit_skip=1</font>

<u>Order via affiliate URL:</u> [<a href=<?=$script_url_non_secure?>index.php?aid=mbadmin>Order Now!</a>]
<i>Syntax:</i> index.php<B>?</B><font color=blue>aid=<font color=red>123456</font></font>

<u>Pass in default Package & Plan:</u> [<a href=<?=$script_url_non_secure?>index.php?pack_id=1&pack_plan=3>Order Now!</a>]
<i>Syntax:</i> index.php<B>?</B><font color=blue>pack_id=<font color=red>1</font>&pack_plan=<font color=red>3</font></font> {see notes below}

<u>Clear your cart and start over:</u> [<a href=<?=$script_url_non_secure?>index.php?submit_clear=1>Order Now!</a>]
<i>Syntax:</i> index.php<B>?</B><font color=blue>submit_clear=1</font>

{notes}
<font color=blue>pack_id</font>=<font color=red>X</font> where <font color=red>X</font> = The PackageID(pack_id) you want auto-selected.
<font color=blue>pack_plan</font>=<font color=red>Y</font> where <font color=red>Y</font> = <font color=red>1</font>(Monthly) or <font color=red>3</font>(Quarterly) or <font color=red>6</font>(Semi-Annually) or <font color=red>12</font>(Yearly)
<b>If one either X or Y is not correct, nothing will be auto-selected.</b>
</pre></td></tr></table>
<br>
<hr size=1 width=400>
<br>
This is the default <font color=blue>/order/template/footer.html</font> file.<br><br>
<u>You can use a single footer.html file for all steps or setup one for each step.</u><br>
</center>
<table align=center><tr><td><pre>
<font color=blue>1footer.html</font> = Domain Whois Form Page
<font color=blue>2footer.html</font> = Domain Whois Results Page
<font color=blue>3footer.html</font> = Package Selection Page
<font color=blue>4footer.html</font> = Add-on Selection Page
<font color=blue>5footer.html</font> = Display Cart Totals, New & Login Form
<font color=blue>6footer.html</font> = Display Cart & New Order Form & Confirm Order
<font color=blue>7footer.html</font> = Process Order Duplicate Error
<font color=blue>8footer.html</font> = Process Order Success
</pre></td></tr></table>