<center>
This is the default <font color=blue>/order/template/header.html</font> file.<br><br>
<u>You can use a single header.html file for all steps or setup one for each step.</u><br>
</center>
<table align=center><tr><td><pre>
<font color=blue>1header.html</font> = Domain Whois Form Page
<font color=blue>2header.html</font> = Domain Whois Results Page
<font color=blue>3header.html</font> = Package Selection Page
<font color=blue>4header.html</font> = Add-on Selection Page
<font color=blue>5header.html</font> = Display Cart Totals, New & Login Form
<font color=blue>6header.html</font> = Display Cart & New Order Form & Confirm Order
<font color=blue>7header.html</font> = Process Order Duplicate Error
<font color=blue>8header.html</font> = Process Order Success
</pre></td></tr></table>
<hr size=1 width=400>