<style>
<--
a:link {
  color: #000000;
  font: normal 7.5pt Verdana, Arial, Helvetica, sans-serif;
  font-weight: none;
  text-decoration: underlined
}
a:visited {
  color: #000000;
  font: normal 7.5pt Verdana, Arial, Helvetica, sans-serif;
  font-weight: none;
  text-decoration: underlined
}
a:active {
  color: #000080;
  font: normal 7.5pt Verdana, Arial, Helvetica, sans-serif;
  font-weight: none;
  text-decoration: none
}
a:hover {
  color: #000080;
  font: normal 7.5pt Verdana, Arial, Helvetica, sans-serif;
  font-weight: none;
  text-decoration: none
}
td {
  color: #000000;
  font: normal 7.5pt Verdana, Arial, Helvetica, sans-serif;
  font-weight: none;
  text-decoration: none
}
body {
  background-color: #FFFFFF;
  color: #000000;
  font: normal 7.5pt Verdana, Arial, Helvetica, sans-serif;
  font-weight: none;
  text-decoration: none
}
input {
  color: #000000;
  font: normal 7.5pt Verdana, Arial, Helvetica, sans-serif;
  font-weight: none;
  text-decoration: none;
  background: #CCCCCC;
  border: 1 solid #555555;
}
textarea {
  color: #000000;
  font: normal 7.5pt Verdana, Arial, Helvetica, sans-serif;
  font-weight: none;
  text-decoration: none;
  background: #CCCCCC;
  border: 1 solid #555555;
}
select {
  color: #000000;
  font: normal 7.5pt Verdana, Arial, Helvetica, sans-serif;
  font-weight: none;
  text-decoration: none;
  background: #CCCCCC;
  border: 1 solid #555555;
}
.small {
  color: #000000;
  font: 6pt Verdana, Arial, Helvetica, sans-serif;
  font-weight: none;
  text-decoration: none
}
pre {
  font: normal 7.5pt verdana;
}
-->
</style>
