
a:link  	
{
	text-decoration: none;
	font-family: Verdana;
	color: #4B4B4B;
}

a:hover		
{
	text-decoration: underline;
	color: #781818;
}

a:visited  	
{
	font-family: Verdana;
	text-decoration: none;
	color: #4B4B4B;
}

td.file
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background-color: #FFFFFF;
}    

td.header_print
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	background-color: #C0C0C0;
} 