.body, p, td, ul, li, input, select {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: normal; 
	font-weight: normal; 
	font-variant: normal; 
	color: #666666; 
	text-decoration: none; 
}

h1, .heading {
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

h2, .heading {
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.subnav {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: normal; 
	font-weight: none; 
	font-variant: normal; 
	color: #000000; 
	WIDTH: 100%;
	background-color: #EEEEEE;
	HEIGHT: 26px;
	text-decoration: none; 
}

 .subnav:hover {
	color: #FFFFFF;
	background-color: #303c6c;
	WIDTH: 100%;
	HEIGHT: 26px;
	text-decoration: none; 
}

.subnav-current {
	color: #FFFFFF;
	background-color: #859DB9;
	WIDTH: 100%;
	HEIGHT: 26px;
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px;
	text-decoration: none; 
}