.ContextMenu {
	border: 0;
}

.ContextMenu-Body {
	position: absolute;
	visibility: visible;
	background-color: Menu;
	margin: 0px;
	padding: 1px;
	border: 2px outset;
}

.ContextMenu-Item {
	cursor: default;
	font: menu;
	color: MenuText;
	padding: 2px 16px 2px 16px;
}

.ContextMenu-Over {
	cursor: default;
	background-color: highlight;
	font: menu;
	padding: 2px 16px 2px 16px;
	color: highlighttext;
}

.ContextMenu-Disabled {
	cursor: default;
	font: menu;
	padding: 2px 16px 2px 16px;
	color: graytext;
}

.ContextMenu-Disabled-Over {
	cursor: default;
	background-color: highlight;
	font: menu;
	padding: 2px 16px 2px 16px;
	color: graytext;
}

.ContextMenu-Separator {
	font-size: 0px;
	line-height: 0px;
	border: 1px inset;
	overflow: hidden;
	margin: 3px 1px 3px 1px;
}

.ContextMenu-Disabled-Over .ContextMenu-DisabledContainer {
	display: block;
	vertical-align: center;
}

.ContextMenu-Disabled .ContextMenu-DisabledContainer {
	display: block;
	font: GrayText;
	vertical-align: center;
}

.ContextMenu-Disabled .ContextMenu-DisabledContainer .ContextMenu-DisabledContainer {
	background: Transparent;
}

.ContextMenu-Disabled-Over .ContextMenu-DisabledContainer .ContextMenu-DisabledContainer {
}