body {
	font-size: 12px;
	background: #dfe3ff;
	font-family: verdana;
}
table {
	font-size: 12px;
	font-family: verdana;
	text-align: left;
	border: 1px solid #5093b4;
}
.bginput, textarea, select {
	padding: 1px;
	font-size: 11px;
	color: black;
	font-family: verdana;
	background-color: #fafafb;
	border: 1px solid black;
}
hr {
	color: #5093b4
}
a:link, a:visited, a:active {
	color: #56698a
}
.navlink, a:hover {
	color: #56698a;
	text-decoration: none
}
.cp_group_link {
	color: black;
}
.thead {
	font-weight: bold;
	font-size: 11px;
	background: #5093b4 url('../misc/cp_thead.gif');
	background-repeat: repeat-x;
	font-family: verdana;
	text-align: center;
	color: white;
	text-decoration: none;
}
.theadlink {
	font-weight: bold;
	font-size: 11px;
	font-family: verdana;
	color: white;
	text-decoration: none;
}
.firstalt {
	background: #efefef
}
.secondalt {
	background: #f7f7f7
}
.cp_small {
	font-size: 10px
}
.cp_temp_orig {
	color: #0D9595;
}
.cp_temp_edit {
	color: #cc3300;
	font-style: italic;
}
.cp_temp_cust {
	color: #cc3300;
	font-style: italic;
}
li.tgroup {
	padding: 2px;
}