<form name="frm" method="post" action="##REQUEST_URI##">
<input type="hidden" name="action" value="##action##" />
<input type="hidden" name="id" value="##id##" />
<table width="100%">
 <tr>
  <td>
   <table width="100%">
    <tr>
     <td><h3>##LNG['_PAGE_TITLE']##</h3></td>
     <td nowrap width="1%" valign="top" align="right">##ADM_PATH##</td>
    </tr>
   </table>
  </td>
 </tr>
 <tr>
  <td width="100%" valign="top">
 
   <table class="txt12" width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="#999999" align="center">
   <tr class="row##[row-1-2]##">
    <td width="50%"><b>##LNG['_TBL_NEWSTITLE']##</b></td>
    <td width="50%"><input name="title" value="##title##" size="60" /></td>
   </tr>
   <tr class="row##[row-1-2]##">
    <td width="50%"><b>##LNG['_TBL_SHOW']##</b></td>
    <td width="50%"><input type="checkbox" name="is_visible" ##is_visible## /></td>
   </tr>
   <tr class="row##[row-1-2]##">
    <td width="50%"><b>##LNG['_TBL_TXTSHORT']##</b></td>
    <td width="50%">##text_short##<input type="hidden" name="QUOT[]" value="text_short" /></td>
   </tr>
   <tr class="row##[row-1-2]##">
    <td width="50%"><b>##LNG['_TBL_TXTFULL']##</b></td>
    <td width="50%">##text_full##<input type="hidden" name="QUOT[]" value="text_full" /></td>
   </tr>
   <tr class="row##[row-1-2]##">
    <td><b>##LNG['_TBL_STARTD']##</b></td>
    <td>##date_start##</td>
   </tr>
   <tr class="row##[row-1-2]##">
    <td><b>##LNG['_TBL_EXPD']##</b></td>
    <td>##date_end##</td>
   </tr>
   <tr class="row##[row-1-2]##">
    <td align="center" colspan=2 valign="bottom">
     <input type="submit" name="go" value="##LNG['_BTN_SUBMIT']##" />
     <input type="button" value="##LNG['_BTN_CANSEL']##" OnClick="GoURL('##URL_MOD_NAME##')" />
    </td>
   </tr>
  </table>
  
  </td>
 </tr>
</table>
</form>

