<table width="100%" border="0" cellspacing="1" cellpadding="0">
 <tr>
  <td>
   <table width="100%">
    <tr>
     <td><h3>##LNG['_PAGE_TITLE']##</h3></td>
     <td nowrap width="1%" valign="top" align="right">##ADM_PATH##</td>
    </tr>
   </table>
  </td>
 </tr>
 <tr>
  <td> 

   <form name="frm" method="post" action="##REQUEST_URI##">
   <table class="txt12" width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="#999999" align="center">
    <tr class="tha">
     <th>##LNG['_TBL_SETT_DESCR']##</th>
     <th>##LNG['_TBL_SETT_VALUE']##</th>
    </tr>
    <!-- SETTINGS -->

    <tr class="row##[row-1-2]##">
     <td valign="top">
       ##LNG['_SETT_RES_NUM']##<br />
       <font class="note">##LNG['_SETT_RES_NUM_NOTE']##</font>
     </td>
     <td><input name="RES_NUM" value="##RES_NUM##" style="width:50px" /></td>
    </tr>

    <tr class="row##[row-1-2]##">
     <td valign="top">
       ##LNG['_SETT_RSS_TITLE']##<br />
     </td>
     <td><input name="RSS_TITLE" value="##RSS_TITLE##" style="width:350px" /></td>
    </tr>

    <tr class="row##[row-1-2]##">
     <td valign="top">
       ##LNG['_SETT_RSS_RES_NUM']##<br />
     </td>
     <td><input name="RSS_RES_NUM" value="##RSS_RES_NUM##" style="width:50px" /></td>
    </tr>

    <tr class="row##[row-1-2]##">
     <td valign="top">
       ##LNG['_SETT_HIT_UNBAN']##<br />
       <font class="note">##LNG['_SETT_HIT_UNBAN_NOTE']##</font>
     </td>
     <td><input name="HIT_UNBAN" value="##HIT_UNBAN##" style="width:50px" /></td>
    </tr>

    <!-- /SETTINGS -->
    <tr class="row##[row-1-2]##">
     <td>&nbsp;</td>
     <td width="1%"><input type="submit" name="go" value="##LNG['_BTN_UPDATE']##" /></td>
    </tr>
   </table>
   </form>

  </td>
 </tr>
</table>