body {
	scrollbar-face-color: #048edc;
	scrollbar-highlight-color: #284058;
	scrollbar-3dlight-color: #306080;
	scrollbar-shadow-color: #000810;
	scrollbar-darkshadow-color: #000000;
	scrollbar-arrow-color: #dc2b1b;
	scrollbar-track-color: #5c5a5c;
    font-family: tahoma;
    font-size: x-small;
	background-color : #000000;
}

td {
    font-size: small;
	color: #ffffff;
}

td.a {
    color: #ffffff;
    font-weight: bold;
}

a {
	text-decoration: none;
    border-bottom: 0px dashed #666;
	color: #ffffff;
}
    
a:hover {
   	color: #ff9e31;
   	border-bottom: 0px dashed #666;
   	text-decoration: none;
}
    
a:link {
   color:#ffffff;
   border-bottom: 0px dashed #666;
   text-decoration: none;
}
td.mainpageleft {
	width: 153px;
}
td.mainpageright {
	width: 153px;
}
td.mainpagecenter {
	width: 511px;
}

td.smtop {
	background-image: url(smtop.gif);
	color: #ffffff;
    font-weight: bold;
	height: 50;
	width: 153;
}
td.smmid {
	background-image: url(smbg.gif);
}
td.smbot {
	background-image: url(smbot.gif);
	height: 22;
}
div.smtopboxoffset { 
	position: relative; 
	margin-left: 5px;
	margin-top: 15px;
	font-size: 16px;
}
div.smmidboxoffset {
	position:relative; 
	margin-left: 10px; 
	margin-right: 8px;
	color:#ffffff;
	text-decoration: none;
	font-size: 16px;
}
li { 
	color:#ffffff;
}

td.lgtop {
	background-image: url(lgtop.gif);
	color: #ffffff;
    font-weight: bold;
	height: 50;
}
td.lgmid {
	background-image: url(lgbg.gif);
}
td.lgbot {
	background-image: url(lgbot.gif);
	height: 1px;
}
div.lgtopboxoffset { 
	position:relative; 
	margin-top: -5px; 
	margin-left: -5px;
	font-size: 16px;
}
div.lgmidboxoffset {
	position: relative; 
	margin-left: 10px; 
	margin-right: 10px;
	font-size: 16px;
}
div.pagewidth {
	width: 900px;
}
p.footertext {
	color: #ffffff;
}
