/* Calendar Style sheet */

/* The outer border color of the calendar
    It also includes the are where the month and the year is written */
.parent_table {
	background-color:#EEEEEE;  border-width:1; border-style:solid;
}

/* Cells in which the dayname alphabets are printer */
.day_names {
	background-color:#E5E5EC;
}

/* The Day alphabets */
.day_names_text {
	font-family:Verdana; font-weight:bold; font-size:10; color:rgb(102,102,102);
}

/* Calendar title. MonthName+Year */
.cal_title {
	font-family:Verdana; text-align:center; font-weight:bold; font-size:10; color:rgb(102,102,102);
}

/* Cells in which the dates are printed */
.dates {
	background-color:#F5F5F5;
}

/* Numerical Dates */
.date_num {
	font-family:Verdana; font-size:10; color:rgb(102,102,102);
}

/* Numerical dates on which post were made */
.date_active {
	font-family:Verdana; font-size:10; color:rgb(102,102,102); font-weight:bold; text-decoration:underline;
}