/*
BN Soft EZ-Article
Default Style sheet
*/

/* Title on the the summaries page and the Full view page */
.title { font-family:Verdana; text-decoration:underline; font-weight:normal; font-size:8pt; color:brown; }

/* Date text on all the pages */
.date { font-family:Verdana; font-size:8 pt; color:black; font-weight:bold; }

/* "Attached File" link */
.att_link { font-family:Verdana; font-size:8 pt; color:navy; }

/* Author Name */
.aname { font-family:Verdana; font-size:8 pt; color:#333333; }

/* "Total Votes", "Rating", "Rate now" */
.rating { font-family:Verdana; font-size:8 pt; color:#5E5E88; }

/* The dropdown menu's stlye [VOTING]  */
.trate { font-family:Verdana; font-size:8pt; color:rgb(51,51,51); background-color:rgb(249,249,249); border-width:1; border-color:rgb(104,100,113); border-style:solid; }

/* Search box style */
.search { font-family:Verdana; font-size:11; color:rgb(51,51,51); background-color:whitesmoke; border-width:1; border-color:rgb(103,103,143); border-style:solid; }

/* The main body's text content. i.e, the main article
   Please take care that this may override HTML articles */
.content { font-family:Verdana; font-size:8 pt; color:#000000; }

/* Miscellanious small sized text */
.t_small { font-family:Verdana; font-size:8 pt; color:#383838; }

/* Error messages style */
.t_err { font-family:Verdana; font-size:8 pt; color:red; }

/* Remove the underlining of the links */
/*a { text-decoration:none; }*/