body {
  margin:0px;background-color:#fbfbfb; cursor: default;
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 10px; font-style: normal;
  color: #000000;
}
tr,td {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 10px; font-style: normal;
  color: #000000;
}
span,font,p,div {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 10px; font-style: normal;
  color: #000000;
}
input,textarea,select {
  border: 1px solid #DDDDDD;
  background-color: #F7F7F7; cursor: text;
  font-family: Verdana, Arial, Sans-serif, Tahoma;
  font-weight: 500; font-size: 10px; font-style: normal;
  color: #000000; vertical-align: middle;
}
.submit {
  background-color: #C0C0C0; cursor: pointer;
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 600; font-size: 10px; font-style: normal;
  color: #000000;trong
}
.my_error_lnk,.my_error_lnk:active,.my_error_lnk:visited {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 10px; font-style: normal;
  color: black; text-decoration: none;
}
.my_error_lnk:hover {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 10px; font-style: normal;
  color: black; text-decoration: underline;
}
.top_link,.top_link:active,.top_link:visited {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 600; font-size: 10px; font-style: normal;
  color: black; text-decoration: none;
}
.top_link:hover {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 600; font-size: 10px; font-style: normal;
  color: black; text-decoration: underline;
}
.main_menu_link,.main_menu_link:active,.main_menu_link:visited {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 600; font-size: 10px; font-style: normal;
  color: black; text-decoration: none;
}
.main_menu_link:hover {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 600; font-size: 10px; font-style: normal;
  color: black; text-decoration: none;
}
.headers {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 600; font-size: 11px; font-style: normal;
  color: black; text-decoration: none;
}
.copyright {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 500; font-size: 11px; font-style: normal;
  color: #FFFFFF; text-decoration: none;
}
.cp_lnk,.cp_lnk:active,.cp_lnk:visited {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 11px; font-style: normal;
  color: #C0C0C0; text-decoration: underline;
}
.cp_lnk:hover {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 11px; font-style: normal;
  color: #000000; text-decoration: underline;
}
.news_link,.news_link:active,.news_link:visited {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 11px; font-style: normal;
  color: #6A6A6A; text-decoration: none;
}
.news_link:hover {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 11px; font-style: normal;
  color: #000000; text-decoration: underline;
}
.news_lnk,.news_lnk:active,.news_lnk:visited {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 11px; font-style: normal;
  color: #6A6A6A; text-decoration: none;
}
.news_lnk:hover {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 11px; font-style: normal;
  color: #000000; text-decoration: underline;
}
.common_link,.common_link:active,.common_link:visited {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 11px; font-style: normal;
  color: #6A6A6A; text-decoration: none;
}
.common_link:hover {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 11px; font-style: normal;
  color: #000000; text-decoration: underline;
}
.top_menu_line {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 10px; font-style: normal;
  color: #FFFFFF; text-decoration: none;
}
.top_menu_link,.top_menu_link:active,.top_menu_link:visited {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 600; font-size: 11px; font-style: normal;
  color: orange; text-decoration: none;
}
.top_menu_link:hover {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 600; font-size: 11px; font-style: normal;
  color: #FFFFFF; text-decoration: underline;
}
.anounce_header {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 600; font-size: 11px; font-style: normal;
  color: navy; text-decoration: none;
}
.anounce_header_link,.anounce_header_link:active,.anounce_header_link:visited {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 11px; font-style: normal;
  color: navy; text-decoration: none;
}
.anounce_header_link:hover {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 11px; font-style: normal;
  color: black; text-decoration: none;
}
.admin_menu_link,.admin_menu_link:active,.admin_menu_link:visited {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 600; font-size: 11px; font-style: normal;
  color: #104176; text-decoration: none;
}
.admin_menu_link:hover {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 600; font-size: 11px; font-style: normal;
  color: #104176; text-decoration: none;
}
.admin_submenu_link,.admin_submenu_link:active,.admin_submenu_link:visited {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 11px; font-style: normal;
  color: black; text-decoration: none;
}
.admin_submenu_link:hover {
  font-family: Verdana, Arial, Sans-serif, Helvetica, Tahoma;
  font-weight: 400; font-size: 11px; font-style: normal;
  color: black; text-decoration: none;
}