{* default admin page*}
<br>
{$smarty.const.ADMIN_WELCOME}

<p>
<TABLE CELLPADDING=10>

<TR>
<TD VALIGN=TOP>

<table cellpadding=3>

 <tr>
	<td valign=top rowspan=2><img src="images/admin_users.gif" border=0></td>
	<td><font class=big><u>{$smarty.const.ADMIN_CUSTOMERS_AND_ORDERS}</u></font></td>
 </tr>

 <tr>
	<td valign=top>
		<a href="admin.php?dpt=custord&sub=new_orders">{$smarty.const.ADMIN_NEW_ORDERS}</a> ({$new_orders_count})<br>
		<a href="admin.php?dpt=custord&sub=custlist" class=standard>{$smarty.const.ADMIN_CUSTOMERS}</a><br>
		<a href="admin.php?dpt=custord&sub=subscribers" class=standard>{$smarty.const.ADMIN_NEWS_SUBSCRIBERS}</a>
	</td>
 </tr>

</table>

</TD>

<TD VALIGN=TOP>

<table cellpadding=3>

 <tr>
	<td valign=top rowspan=2><img src="images/admin_catalog.gif" border=0></td>
	<td><font class=big><u>{$smarty.const.ADMIN_CATALOG}</u></font></td>
 </tr>

 <tr>
	<td valign=top>
		<a href="admin.php?dpt=catalog&sub=products_categories">{$smarty.const.ADMIN_CATEGORIES_PRODUCTS}</a><br>
		<a href="admin.php?dpt=catalog&sub=excel_import" class=standard>{$smarty.const.ADMIN_IMPORT_FROM_EXCEL}</a><br>
		<a href="admin.php?dpt=catalog&sub=dbsync" class=standard>{$smarty.const.ADMIN_SYNCHRONIZE_TOOLS}</a><br>
		<a href="admin.php?dpt=catalog&sub=extra" class=standard>{$smarty.const.ADMIN_PRODUCT_OPTIONS}</a><br>
		<a href="admin.php?dpt=catalog&sub=special">{$smarty.const.ADMIN_SPECIAL_OFFERS}</a>
	</td>
 </tr>

</table>

</TD>


<TD VALIGN=TOP>

<table cellpadding=3>

 <tr>
	<td valign=top rowspan=2><img src="images/admin_conf.gif" border=0></td>
	<td><font class=big><u>{$smarty.const.ADMIN_SETTINGS}</u></font></td>
 </tr>

 <tr>
	<td valign=top>
		<a href="admin.php?dpt=conf&sub=general">{$smarty.const.ADMIN_SETTINGS_GENERAL}</a><br>
		<a href="admin.php?dpt=conf&sub=appearence">{$smarty.const.ADMIN_SETTINGS_APPEARENCE}</a><br>
		<a href="admin.php?dpt=conf&sub=currencies" class=standard>{$smarty.const.ADMIN_CURRENCY_TYPES}</a><br>
		<a href="admin.php?dpt=conf&sub=shipping" class=standard>{$smarty.const.STRING_SHIPPING_TYPE}</a><br>
		<a href="admin.php?dpt=conf&sub=payment" class=standard>{$smarty.const.STRING_PAYMENT_TYPE}</a><br>
		<a href="admin.php?dpt=conf&sub=aux">{$smarty.const.ADMIN_AUX_INFO}</a>
	</td>
 </tr>

</table>

</TD>


</TR>

<TR>

<TD VALIGN=TOP>

<table cellpadding=3>

 <tr>
	<td valign=top rowspan=2><img src="images/admin_modules.gif" border=0></td>
	<td><font class=big><u>{$smarty.const.ADMIN_MODULES}</u></font></td>
 </tr>

 <tr>
	<td valign=top>
		<a href="admin.php?dpt=modules&sub=news" class=standard>{$smarty.const.ADMIN_NEWS}</a><br>
		<a href="admin.php?dpt=modules&sub=survey" class=standard>{$smarty.const.ADMIN_VOTING}</a><br>
		<a href="admin.php?dpt=modules&sub=cc" class=standard>{$smarty.const.ADMIN_CC_PROCESSING}</a><br>
	</td>
 </tr>

</table>

</TD>

<TD VALIGN=TOP>

<table cellpadding=3>

 <tr>
	<td valign=top rowspan=2><img src="images/admin_reports.gif" border=0></td>
	<td><font class=big><u>{$smarty.const.ADMIN_REPORTS}</u></font></td>
 </tr>

 <tr>
	<td valign=top>
		<a href="admin.php?dpt=reports&sub=bestsellers" class=standard>{$smarty.const.ADMIN_SALABLE_PRODUCTS}</a><br>
		<a href="admin.php?dpt=reports&sub=rating" class=standard>{$smarty.const.ADMIN_POPULAR_PRODUCTS}</a><br>
		<a href="admin.php?dpt=reports&sub=outofstock" class=standard>{$smarty.const.ADMIN_OUT_OF_STOCK}</a><br>
	</td>
 </tr>

</table>

</TD>

</TR>

</TABLE>