H1 {
	PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 14pt; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; PADDING-TOP: 7px; FONT-FAMILY: Tahoma, Verdana, Arial; black: 
}
H2 {
	PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 12pt; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-WEIGHT: normal; COLOR: black
}
.home-content {
	BACKGROUND: url(banner-shadow.gif) repeat-x left top
}
.text-body {
	PADDING-RIGHT: 0px; FONT-SIZE: 8.5pt; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4 SPAN {
	FONT-SIZE: 10pt; COLOR: #008cdc
}
.subitem {
	PADDING-LEFT: 10px
}
.copyright {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A {
	COLOR: #006633; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.copyright A {
	FONT-SIZE: 8pt; TEXT-DECORATION: none
}
.copyright A:hover {
	FONT-SIZE: 8pt; COLOR: #0074b9; TEXT-DECORATION: underline
}
H5 {
	BACKGROUND-POSITION: left bottom; FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 2px; COLOR: #656565; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.feature {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 3px 0px 0px; COLOR: #656565; FONT-FAMILY: Verdana
}
.blockhead {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blockhead DIV {
	PADDING-RIGHT: 13px; BACKGROUND-POSITION: center bottom; PADDING-LEFT: 13px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 7px; MARGIN-LEFT: -13px; COLOR: black; MARGIN-RIGHT: -13px; PADDING-TOP: 2px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, sans-serif
}
.note {
	MARGIN-TOP: -7px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #616161; FONT-FAMILY: Verdana
}
.smallnote {
	MARGIN-TOP: -8px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Verdana
}
TD {
	FONT-SIZE: 8.5pt; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.invalidField {
	FONT-SIZE: 10pt; COLOR: red; FONT-FAMILY: Verdana, Arial, sans-serif
}
.featureHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.menuItem {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.menuItem2 {
	BACKGROUND-POSITION: 10px 5px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(point.gif); PAGE-BREAK-AFTER: always; COLOR: #000000; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuItem A {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuSmallItem {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #656565; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuSmallItem A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.pageHeader {
	PADDING-LEFT: 12px; FONT-WEIGHT: normal; FONT-SIZE: 14pt; COLOR: #656565; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.faturesHeader {
	PADDING-LEFT: 12px; FONT-WEIGHT: normal; FONT-SIZE: 18pt; COLOR: #656565; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.faturesHeader A {
	FONT-WEIGHT: normal; FONT-SIZE: 18pt; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.textmenu {
	FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #656565
}
.textmenu A {
	FONT-SIZE: 11px; TEXT-DECORATION: none
}
HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 100%
}
.smallfont {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.app_feature {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.app_feature A {
	TEXT-DECORATION: none
}
.block {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.block P {
	MARGIN-TOP: 5px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; MARGIN-BOTTOM: 8px; COLOR: black; FONT-FAMILY: Verdana
}
.block P STRONG {
	COLOR: #008cdc
}
.block P EM {
	COLOR: #656565; FONT-STYLE: normal
}
.block A {
	FONT-SIZE: 8pt
}
.seealsoblock {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.seealsoblock H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN-BOTTOM: 15px; COLOR: #656565; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.seealsoblock P {
	MARGIN-TOP: 5px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; MARGIN-BOTTOM: 8px; COLOR: black; FONT-FAMILY: Verdana
}
.seealsoblock P STRONG {
	COLOR: #008cdc
}
.seealsoblock P EM {
	COLOR: #656565; FONT-STYLE: normal
}
.seealsoblock A {
	FONT-SIZE: 8pt; TEXT-DECORATION: none
}
.large {
	FONT-SIZE: 24px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.download {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.header1 {
	FONT-SIZE: 18px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.header1 A {
	FONT-SIZE: 18px; COLOR: #008cdc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.header2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica
}
.header3 {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.header2 A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
STRONG {
	COLOR: #000000
}
.control {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff
}
.pageSeparator {
	BORDER-BOTTOM: #99cc33 1px dotted
}
.formSection {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #d7ccb7 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.noteNooffset {
	MARGIN-TOP: -7px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #616161; FONT-FAMILY: Verdana
}
.headerText {
	PADDING-LEFT: 12px; FONT-WEIGHT: normal; FONT-SIZE: 18pt; COLOR: #000000; PADDING-TOP: 7px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.normalBlack {
	FONT-WEIGHT: normal; FONT-SIZE: 15px; COLOR: #000000
}
.menuRootItem {
	COLOR: #008cdc
}
.formShift {
	PADDING-TOP: 10px
}
