
<p><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor=#ff0000>
<tr>
	<td><table width="100%" border="0" cellspacing="1" cellpadding="0">
<tr bgcolor=#ffffff>
	<td><table width="100%" border="0" cellspacing="0" cellpadding="4">
<tr>
	<td colspan=2 bgcolor=#eeeeee><img src="/fl3pic/img/icns/enter_mem.gif" width=9 height=12 border="0"><img src="/fl3pic/img/blank.gif" width=4 height=12 alt="" border="0"><b>$words{'0016'}</b></td>
</tr>
<tr>
	<td align=right>$words{'0017'}:</td>
	<td>
<form action=$script_name$ method=post>
<input type=hidden name=lang value=$lang$>
<input type="Text" name="login" size="12" value="$login$"></td>
</tr>
<tr>
	<td align=right>$words{'0018'}:</td>
	<td><input type="password" name="password" size="12"></td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><a href="$script_name$?lost=y&lang=$lang$">$words{'0019'}</a></td>
</tr>
<tr>
	<td></td>
	<td><input type="Submit" name="enter" value="$words{'0002'}" class="formtext"></td></form>
</tr>
</table></td>
</tr>
</table></td>
</tr>
</table>

