<!-- FreeLove v.3 -- show user menu add photo in gallery -->


<table>
<tr><td colspan=2 align=right><font size=+1>$words{'0234'}</font></td></tr>
<tr><td align=right><font size=-2>$words{'0078'}</font></td><td><font size=-2><input type=file size=30 name=file_gallery></font></td></tr>
<tr><td align=right>$words{'0230'}</td><td><input type=string size=60  maxlength=80 name=photo_title_new></td></tr>
<tr><td align=right>$words{'0231'}</td><td><TEXTAREA NAME=photo_text_new COLS=50 ROWS=4></textarea></td></tr>
<input type=hidden name=pic_number_new value=$pic_number$>
</table>

<br>
