<td align=right class=small>
<a href=$script_name$?lang=$lang$&search=y&search_text=1&login=$$login$&password=$password$><img src="/fl3pic/img/icns/search.gif" alt="search" border=0></a>
<a href=$script_name$?lang=$lang$&search=y&search_gallery=1&login=$$login$&password=$password$><img src="/fl3pic/img/icns/photo.gif" alt="search gallery" border=0></a>
<a href=$script_name$?lang=$lang$&new_user=y><img src="/fl3pic/img/icns/reg.gif" alt="register new user" border=0></a>
<a href=$script_name$?lang=$lang$&mode=statistics><img src="/fl3pic/img/icns/statistics.gif" alt="statistics" border=0></a>
<a href=$script_name$?lang=$lang$&lost=y><img src="/fl3pic/img/icns/emails.gif" alt="lost password" border=0></a>
<a href=$script_name$?lang=$lang$&mode=for_reg_user><img src="/fl3pic/img/icns/enter_mem.gif" alt="for register user" border=0></a>
<a href=$script_name$?lang=$lang$><img src="/fl3pic/img/icns/homepage.gif" alt="main page" border=0></a>
</td>
