
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor=#c0c0c0>
<tr>
	<td><table width="100%" border="0" cellspacing="1" cellpadding="0">
<tr bgcolor=#ffffff>
	<td><table width="100%" border="0" cellspacing="0" cellpadding="4">
<tr bgcolor=#eeeeee>
	<td colspan=3><b>$words{'0283'}</b></td>
</tr>
<tr>
	<td colspan=3>$words{'0284'} <b>$users_all$</b> $words{'0285'}</td>
</tr>
<tr>
	<td><img src="/fl3pic/img/icns/unreg.gif" width=13 height=13 alt="" border=0></td>
	<td width=100%>$words{'0286'}</td>
	<td><b>$users_unreg$</b></td>
</tr>
<tr>
	<td valign=top><img src="/fl3pic/img/icns/reg.gif" width=13 height=13 alt="" border=0></td>
	<td width=100%><font color="#FF0000">$words{'0287'}</font><br>
        $users_reg_list$
	</td>
	<td valign=top><b>$users_reg$</b></td>
</tr>
</table></td>
</tr>
</table></td>
</tr>
</table>
