<!-- FreeLove v.3 -- first page search box --> 
<form action=$script_name$ method=post> 
<input type=hidden name=lang value=$lang$> 
<input type=hidden name=search value=y> 

<table border="0" cellspacing="0" cellpadding="4" width=400>
<tr>
	<td align=right valign=top width=30%><b>$words{'0289'}</b></td>
	<td width=70%><table border="0" cellspacing="0" cellpadding="0">
<tr>
	<td><img src="/fl3pic/img/male.gif" width=11 height=18  vspace=0 border="0"></td>
	<td><input type="Radio" name="0102-sex" value=m></td>
	<td>$words{'0290'}</td>
</tr>
<tr>
	<td><img src="/fl3pic/img/female.gif" width=9 height=18 vspace=0 border="0"></td>
	<td><input type="Radio" name="0102-sex" value=f></td>
	<td>$words{'0291'}</td>
</tr>
<tr>
	<td><img src="/fl3pic/img/blank.gif" width=9 height=18 border="0"></td>
	<td><input type="Radio" name="0102-sex" value="" checked></td>
	<td>$words{'0292'}</td>
</tr>
</table></td>
</tr>
<tr>
	<td align=right nowrap><b>Purpose of contact:</b></td>
	<td><select name=0105-target>
<option value=""></option>
<option value="" selected>doesn't matter or select one</option>
<option value="010">permanent relationship</option>
<option value="020">penpals</option>
<option value="030">real sex</option>
<option value="040">virtual sex</option>
<option value="050">leisure, entertainment, fun</option>
<option value="060">escorting services</option></select></td>
</tr>
<tr>
	<td align=right><b>Sexuality:</b></td>
	<td><select name=0106-sex-o>
<option value=""></option>
<option value="" selected>doesn't matter or select one</option>
<option value="get">straight</option>
<option value="gom">gay lesbian</option>
<option value="bi">bisexual</option>
<option value="swi">swingers</option>
<option value="other">other</option>
</select></td>
</tr>
<tr>
	<td align=right><b>Country:</b></td>
	<td><select name=0110-country>
<option value=""></option>
<option value="" selected>doesn't matter or select one</option>
<option value="10">Albania</option>
<option value="40">Andorra</option>
<option value="am">Armenia</option>
<option value="120">Australia</option>
<option value="140">Austria</option>
<option value="az">Azerbaijan</option>
<option value="160">Bahamas</option>
<option value="by">Belarus</option>
<option value="220">Belgium</option>
<option value="280">Bosnia and Herzegovina</option>
<option value="bg">Bulgaria</option>
<option value="ca">Canada</option>
<option value="520">Croatia</option>
<option value="530">Cuba</option>
<option value="540">Cyprus</option>
<option value="550">Czech Republic</option>
<option value="560">Denmark</option>
<option value="ee">Estonia</option>
<option value="710">Finland</option>
<option value="720">France</option>
<option value="ge">Georgia</option>
<option value="de">Germany</option>
<option value="810">Gibraltar</option>
<option value="820">Greece</option>
<option value="830">Greenland</option>
<option value="hu">Hungary</option>
<option value="1010">Iceland</option>
<option value="1020">India</option>
<option value="1030">Indonesia</option>
<option value="1050">Iran</option>
<option value="1060">Iraq</option>
<option value="1070">Ireland</option>
<option value="1080">Israel</option>
<option value="1090">Italy</option>
<option value="1120">Japan</option>
<option value="kz">Kazakhstan</option>
<option value="1190">Kuwait</option>
<option value="kg">Kyrgyzstan</option>
<option value="lv">Latvia</option>
<option value="1230">Lebanon</option>
<option value="1270">Liechtenstein</option>
<option value="lt">Lithuania</option>
<option value="1290">Luxembourg</option>
<option value="1310">Macedonia</option>
<option value="1320">Madagascar</option>
<option value="1350">Maldives</option>
<option value="1370">Malta</option>
<option value="md">Moldova</option>
<option value="1460">Monaco</option>
<option value="mn">Mongolia</option>
<option value="1550">Netherlands</option>
<option value="1650">Norway</option>
<option value="1670">Pakistan</option>
<option value="pl">Poland</option>
<option value="1750">Portugal</option>
<option value="ro">Romania</option>
<option value="ru">Russia</option>
<option value="1850">San Marino</option>
<option value="1920">Slovak Republic</option>
<option value="si">Slovenia</option>
<option value="1970">Spain</option>
<option value="1980">Sri Lanka</option>
<option value="2060">Sweden</option>
<option value="2070">Switzerland</option>
<option value="tj">Tajikistan</option>
<option value="tm">Turkmenistan</option>
<option value="us">USA</option>
<option value="ua">Ukraine</option>
<option value="2260">United Arab Emirates</option>
<option value="uk">United Kingdom</option>
<option value="uz">Uzbekistan</option>
<option value="2330">Vatican City</option>
<option value="2350">Vietnam</option>
<option value="yu">Yugoslavia</option>
</select></td>
</tr>
<tr>
	<td align=right><b>Age:</b></td>
	<td><table width="0" border="0" cellspacing="0" cellpadding="1">
<tr>
	<td>from</td>
	<td><select name=0130-age><option value="18" selected>18</option>
<option value="19">19</option>
<option value="20 
">20</option><option value="21 
">21</option><option value="22 
">22</option><option value="23 
">23</option><option value="24 
">24</option><option value="25 
">25</option><option value="26 
">26</option><option value="27 
">27</option><option value="28 
">28</option><option value="29 
">29</option><option value="30 
">30</option><option value="31 
">31</option><option value="32 
">32</option><option value="33 
">33</option><option value="34 
">34</option><option value="35 
">35</option><option value="36 
">36</option><option value="37 
">37</option><option value="38 
">38</option><option value="39 
">39</option><option value="40 
">40</option><option value="45 
">45+</option><option value="50 
">50+</option><option value="55 
">55+</option><option value="60 
">60+</option><option value="65
">65+</option></select></td>
	<td>to</td>
	<td><select name=0130-age~2>
<option value="18">18</option>
<option value="19">19</option>
<option value="20 
">20</option><option value="21 
">21</option><option value="22 
">22</option><option value="23 
">23</option><option value="24 
">24</option><option value="25 
">25</option><option value="26 
">26</option><option value="27 
">27</option><option value="28 
">28</option><option value="29 
">29</option><option value="30 
">30</option><option value="31 
">31</option><option value="32 
">32</option><option value="33 
">33</option><option value="34 
">34</option><option value="35 
">35</option><option value="36 
">36</option><option value="37 
">37</option><option value="38 
">38</option><option value="39 
">39</option><option value="40 
">40</option><option value="45 
">45+</option><option value="50 
">50+</option><option value="55 
">55+</option><option value="60 
">60+</option><option value="65
" selected>65+</option></select></td>
</tr>
</table>
</td>
</tr>
<tr>
	<td align=right><input type="checkbox" name="galleryformat" value="1"></td>
	<td>$words{'0274'}</td>
</tr>
<tr>
	<td align=right><input type="checkbox" name="fullsearch" value="1"></td>
	<td>$words{'0048'}</td>
</tr>
<tr>
	<td>
<input type=hidden name=0145-star-sign value="">
<input type=hidden name=0150-mstatus value="">
<input type=hidden name=0160-ecolor value="">
<input type=hidden name=0170-hcolor value="">
<input type=hidden name=0180-weight value="">
<input type=hidden name=0190-height value="">
<input type=hidden name=0200-smoker value="">
<input type=hidden name=0210-flang value="">

<input type=hidden name=lang value=$lang$>
<input type=hidden name=search value=y>
<input type=hidden name=search1 value=y>
<input type=hidden name=login value=$login$>
<input type=hidden name=password value=$password$>
</td>

	<td><input type="Submit" name="new_search" value="$words{'0001'}" class="formtext"></td></form>
</tr>
</table>
