<!-- FreeLove v.3 -- search page end -->

<tr><td>&nbsp;</td>
    <td>
    <input type=submit name=new_search value="$words{'0001'}" class=formtext>
    </td>
</tr>
<tr><td>&nbsp;</td>
    <td>
<font size=-2>
<input type=checkbox name=fullsearch $chk$ value=1>$words{'0048'}
<br>
<input type=checkbox name=galleryformat $chkgall$ value=1>$words{'0262'}
<input type=hidden name=lang value=$lang$>
<input type=hidden name=search value=y>
<input type=hidden name=search1 value=y>
<input type=hidden name=login value=$login$>
<input type=hidden name=password value=$password$>
<input type=hidden name=photo value="$pusto">
</font>
</form>
</td></tr>
</table>

</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>

<br>
<table cellpadding=0 cellspacing=0 border=0>
<tr><td width=25%>
$menu_show_top$
</td></tr>
</table>
