<form action=$script_name$ method=post> 
<input type=hidden name=lang value=$lang$> 
<input type=hidden name=search value=y> 

<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor=#c0c0c0>
<tr>
	<td><table width="100%" border="0" cellspacing="1" cellpadding="0">
<tr bgcolor=#ffffff>
	<td><table width="100%" border="0" cellspacing="0" cellpadding="4">
<tr bgcolor=#eeeeee>
	<td><img src="/fl3pic/img/icns/search_icon.gif" width=15 border="0"><img src="/fl3pic/img/blank.gif" width=4 height=12 alt="" border="0"><b>Search our database</b></td>
</tr>
<tr bgcolor=#ffffff>
	<td><input type=submit name=search_gallery value="$words{'0274'}" class=formtext> 
        <input type=submit name=search_text value="$words{'0275'}" class=formtext> 
</td>
</tr>
</table></td>
</tr>
</table></td>
</tr>
</table>

</form> 
