<!-- FreeLove v.3 -- search page begin page -->

<center>
<br>
<table border="0" width=100% cellspacing="0" cellpadding="0" bgcolor=#c0c0c0>
<tr>
<td><table width="100%" border="0" cellspacing="1" cellpadding="0">
    <tr bgcolor=#ffffff>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="4">
        <tr bgcolor=#eeeeee>
        <td colspan=2><b>$words{'c006'}</b></td>
        <form action=$script_name$ method=post>
        <input type=hidden name=lang value=$lang$>
        </tr>
        <tr><td align=center>
<table border=0>
