<!-- FreeLove v.3 -- show user profile / send mess -->

	<table width="100%" border="0" cellspacing="0" cellpadding="0" background="/fl3pic/img/bg_message.gif">
<tr>
	<td><table width="100%" border="0" cellspacing="1" cellpadding="6" background>
<tr bgcolor=#ffffff>
	<td>

<form action=$script_name$>
<input type=hidden name=lang value=$lang$>
<input type=hidden name=nick value=$nick$>

<table width="100%" border="0" cellspacing="0" cellpadding="3">
<tr>
	<td align=right nowrap width=20%><b>Your Nick:</b></td>
	<td width=80%><form><input type="Text" name="mynick" class="formtext1"></td>
	<td rowspan=2><img src="/fl3pic/img/marka.gif" width=103 height=73 alt="" border=0></td>
</tr>
<tr>
	<td align=right><b>Your Password:</b></td>
	<td><input type="Text" name="mypassword" class="formtext1"></td>
</tr>
<tr>
	<td align=right><b>Your E-mail:</b></td>
	<td><input type="Text" name="myemail" class="formtext1"></td>
</tr>
<tr>
	<td colspan=3><textarea name="text" cols="36" rows="4" class="formtext1"></textarea></td>
</tr>
<tr>
	<td colspan=3><input type=submit name=add_mess value="$words{'0006'}" class="formtext"></td>
</tr>
</table>

</form>

</td>
</tr>
</table></td>
</tr>
</table>

