<!-- FreeLove v.3 -- show user profile / add mess info -->

$$sub_banner('_banner.htm')$$

<table width="100%" border="0" cellspacing="0" cellpadding="6">
<tr bgcolor=#c0c0c0>
	<td>FREELove / <b>Send message</b></td>
	<td align=right class=small><a href="javascript:window.close();">close</a></td>
</tr>
</table>

<center>
<table width="700" border="0" cellspacing="0" cellpadding="3">

<tr><td align=center colspan=2>
<p>&nbsp;<p>
<b>
$words{'0041'}

</b>
<p>

</td></tr>
</table>

$$sub_banner('bottom_info.htm')$$

