<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor=#c0c0c0>
<tr>
	<td><table width="100%" border="0" cellspacing="1" cellpadding="0">
<tr bgcolor=#ffffff>
	<td><table width="100%" border="0" cellspacing="0" cellpadding="4">
<tr bgcolor=#eeeeee>
	<td><img src="/fl3pic/img/icns/statistics.gif" width=15 height=12 border="0"><img src="/fl3pic/img/blank.gif" width=4 height=12 alt="" border="0"><b>$words{'0022'}</b></td>
	<td><b>$words{'0023'}</b></td>
	<td><b>$words{'0024'}</b></td>
</tr>
<tr>
	<td>$words{'0025'}</td>
	<td>$hits_all$</td>
	<td>$hits_today$</td>
</tr>
<tr>
	<td>$words{'0026'}</td>
	<td>$profiles_all$</td>
	<td>$profiles_today$</td>
</tr>
<tr>
	<td>$words{'0027'}</td>
	<td>$searches_all$</td>
	<td>$searches_today$</td>
</tr>
</table></td>
</tr>
</table></td>
</tr>
</table>

