<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" background="/fl3pic/img/top4.gif">
      <tr>
        <td rowspan="2"><img src="/fl3pic/img/top1.jpg" alt border="0" WIDTH="100" HEIGHT="200"></td>
        <td><img src="/fl3pic/img/top3.gif" alt border="0" WIDTH="400" HEIGHT="100"></td>
        <td rowspan="2" width="100%"></td>
      </tr>
      <tr>
        <td><img src="/fl3pic/img/top2.jpg" alt border="0" WIDTH="400" HEIGHT="100"></td>
      </tr>
    </table>
    </td>
  </tr>
</table>
