<p><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor=#c0c0c0>
<tr>
	<td><table width="100%" border="0" cellspacing="1" cellpadding="0">
<tr bgcolor=#ffffff>
	<td><table width="100%" border="0" cellspacing="0" cellpadding="4">
<tr bgcolor=#eeeeee>
	<td colspan=2><b>VanityFREE Leaders</b></td>
</tr>
	
<tr valign=top>
	<td align=right width=30%><b>Sex:</b></td>
	<td width=70%><table border="0" cellspacing="0" cellpadding="0">
<tr>
	<td><img src="/fl3pic/img/male.gif" width=11 height=18  vspace=0 border="0"></td>
	<td><form><input type="Radio" name="male"></td>
	<td>Male</td>
</tr>
<tr>
	<td><img src="/fl3pic/img/female.gif" width=9 height=18 vspace=0 border="0"></td>
	<td><input type="Radio" name="female"></td>
	<td>Female</td>
</tr>
<tr>
	<td><img src="/fl3pic/img/blank.gif" width=9 height=18 border="0"></td>
	<td><input type="Radio" name="female" checked></td>
	<td>Doesn't matter</td>
</tr>
</table></td>
</tr>
<tr>
	<td align=right></td>
	<td><select name="1"><option value="">As per number of views</option>
	   	<option value="">As per number of messages</option>
	   	<option value="">As per VanityFREE rating</option></select></td>
</tr>
<tr>
	<td></td>
	<td><input type="Submit" name="show" value="Show best profiles" class="formtext"></td>
</tr>
</table></td>
</tr>
</table></td>
</tr>
</table>
