<hr noshade color=#ff0000>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr valign=top>
	<td class=small>FreeLove@RussianLondon.com Free International Match Making Service.<br>
Please read our FAQ and other help files if you have any problems with creating your profile accounts.<br>
If you are interested in purchasing FreeLove 3 perl script please visit www.russianlondon.com.</td>
	<td align=right><img src="/fl3pic/img/freelove.gif" width=90 height=30 alt="" border="0"></td>
</tr>
</table>
