<tr align="center"> 
<table border="0" cellpadding="2" cellspacing="0" width="600" style="border: 1px solid"> 
<tr> 
<td bgcolor="#EFEFEF"><p align="center"><font face="Verdana" size="2" color="#FF0000"><strong>Disclaimer</strong></font></td> 
</tr> 
<tr> 
<td align="center"><table border="0" cellpadding="7" bgcolor="#FF0000" cellspacing="4"> 
<tr> 
<td><p align="center"><font face="Verdana" size="2" color="#FFFFFF"><b>Any disclaimer 
message can be here! <br> 
Very useful for adult content web sites <br> 
You can give it your own url address if the click Leave button. <br> 
You can show it or you can take it off from admin menu <br> 
Please make your selection. <br> 
</b></font></p> 
<form action="$script_name$"> 
<input type="hidden" name="url_no" value="Leave! URL Goes Here"><div 
align="center"><center><p><font face="Verdana" size="2" color="#FFFFFF"><b><input 
type="submit" name="discl_yes" value="Enter"> <input type="submit" name="discl_no" 
value="Leave!"> </b></font></p> 
</center></div> 
</form> 
</td> 
</tr> 
</table> 
</td> 
</tr> 
</table> 
</center></div><div align="center"><center> 
 

<table> <tr align="center"> 
<td height="5"><p align="center"><br> <big><font face="Arial"><img SRC="/fl3ads/img/freelove_468x60_eng.gif" WIDTH="468" HEIGHT="60" ALT="Free Love 3" border="1"></font></big></td> 
</tr> 
</table> 
</center></div></div>
