<!-- FreeLove v.3 -- first page --> 

$$sub_banner('_top_first_other.htm')$$
<table width=100% border="0" cellspacing="0" cellpadding="6">
<tr bgcolor=#c0c0c0>
<td><b>FreeLove v.3</b></td>
<td align=right class=small>
$$sub_auto_trans$$
$$sub_print_readme_file$$
| <a href=$script_name$?&lang=eng><img src=/www-pic-dir/images/flags/eng.gif border=0 alt="English version"></a>
| <a href=$script_name$?&lang=rus><img src=/www-pic-dir/images/flags/rus.gif border=0 alt="Russian version"></a>
| $$sub_bookmark('bookmark','FreeLove - Main page')$$
| $$sub_start_page('startpage')$$ &nbsp;
</td>
$$sub_hot_keys$$
</tr>
</table>

<table width="700" border="0" cellspacing="0" cellpadding="3">
<tr> 
 <td valign=top> 
 $$sub_banner('_search_on_first.htm')$$ 
 $$sub_menu_show_tops$$
 <hr noshade color=#ff0000>
 $$sub_statistika_main$$ 
 </td>

 <td valign=top> 
 $$sub_entry_for_registered_users$$ 
 $$sub_register$$ 
 $$sub_online_user$$ 
 </td> 
</tr>

<tr><td align=center colspan=2>$$sub_banner('bottom_info_first.htm')$$</td></tr> 
</table>
