<!-- FreeLove v.3 -- register new user -->

$$sub_banner('_banner.htm')$$
<table width="100%" border="0" cellspacing="0" cellpadding="6">
<tr bgcolor=#c0c0c0>
<td>FREELove / <b>Register new user</b></td>
$$sub_hot_keys$$
</tr>
</table>

<table width="700" border="0" cellspacing="0" cellpadding="3">

<form action=$script_name$ method=post>
$register_screen$

<tr>
	<td align=right></td>
	<td><input type="Submit" name="register" value="$words{'0003'}" class="formtext"></td>
</tr>

</table>
</form>

<img src="/fl3pic/img/blank.gif" width=400 height=1 alt="" border="0"></td>
	<td>

	<p><table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor=#ff0000>
<tr>
	<td><table width="100%" border="0" cellspacing="1" cellpadding="0">
<tr bgcolor=#ffffff>
	<td><table width="100%" border="0" cellspacing="0" cellpadding="4">
<tr bgcolor=#eeeeee>
	<td><img src="/fl3pic/img/icns/attention.gif" width=16 height=16 alt="" border="0"></td>
	<td width=100%><b>Remarks</b></td>
</tr>
<tr>
	<td></td>
	<td><font color=#ff0000><p>If you forget your password
you can always send it back to this e-mail address

<p>Latin letters, digits and symbols - _ only allowed in the nick name and password</td>
</tr>
</table>
</td>
</tr>
</table></td>
</tr>
</table>
<img src="/fl3pic/img/blank.gif" width=250 height=1 alt="" border="0"></td>
</tr>
<tr>
<td colspan=2>
$$sub_banner('bottom_info.htm')$$
</td>
</tr>
</table>

