<!-- FreeLove v.3 -- register is ok -->

$$sub_banner('_banner.htm')$$
<table width="100%" border="0" cellspacing="0" cellpadding="6">
<tr bgcolor=#c0c0c0>
	<td>FREELove / <b>Register new user</b></td>
        $$sub_hot_keys$$
</tr>
</table>

<center>
<table width="700" border="0" cellspacing="0" cellpadding="3">

<form action=$script_name$ method=post>
<input type=hidden name=lang value=$lang$>
<input type=hidden name=login value=$login$>
<input type=hidden name=password value=$password1$>
<input type=hidden name=menu_user_enter value=y>
<input type=hidden name=menu_user_select value=anketa>
<tr><td align=center colspan=2><b>
<br>$words{'0028'}</b><br>
$words{'0029'}
$words{'0030'}
$words{'0031'}
</td></tr>
<tr><td align=center colspan=2><input type=submit value="$words{'0005'}" class=formtext></td></tr>
</form>

<META http-equiv="refresh" content="10; URL=$url$"> 

</table>

$$sub_banner('bottom_info.htm')$$
