<!-- FreeLove v.3 -- send lost password page -->

$$sub_banner('_banner.htm')$$
<table width="100%" border="0" cellspacing="0" cellpadding="6">
<tr bgcolor=#c0c0c0>
<td>FREELove / <b>Lost password</b></td>
$$sub_hot_keys$$
</tr>
</table>

<form action=$script_name$ method=post>
<input type=hidden name=lang value=$lang$ >
<table width="700" border="0" cellspacing="0" cellpadding="3">
<tr valign=top>
	<td rowspan=2 valign=bottom align=center><img src="/fl3pic/img/blank.gif" width=50 height=50 alt="" border="0"></td>
	<td><table width="100%" border="0" cellspacing="0" cellpadding="4">
<tr>
	<td align=right><b>$words{'0017'}</b></td>
	<td><input type="Text" name="login" size="16" class=formtext1 value="$login$"></td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><input type="Submit" name="lost" value="$words{'0008'}" class="formtext">$mess$</td>
</tr>
</table>


<img src="/fl3pic/img/blank.gif" width=400 height=1 alt="" border="0"></td>
	<td>
	&nbsp;
	<img src="/fl3pic/img/blank.gif" width=250 height=1 alt="" border="0"></td>
</tr>
<tr>
	<td colspan=2>
$$sub_banner('bottom_info.htm')$$
</td>
</tr>
</table>
</form>

