<!-- FreeLove v.3 -- show user profile and photo -->

$$sub_banner('_banner.htm')$$

<table width="100%" border="0" cellspacing="0" cellpadding="6">
<tr bgcolor=#c0c0c0>
<td>FREELove / <b>UserInfo</b></td>
$$sub_hot_keys$$
<td align=right class=small>
<a href="javascript:window.print();"><img src="/fl3pic/img/icns/printer.gif" alt="print" border=0></a>
| $$sub_bookmark('bookmark','FreeLove - user page')$$ &nbsp;
</td>
</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="8">
<tr valign=top>
	<td>$$sub_show_photo(100,'')$$<br>$show_user_info_gallery$

	</td>
	<td width=100%><table width="100%" border="0" cellspacing="0" cellpadding="2">
<tr valign=top>
	<td><img src="/fl3pic/img/icns/$sex$male.gif" width=21 height=22 alt="" border="0"></td>
	<td width=100%><b>$nick$</b><hr size=1></td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><table width="100%" border="0" cellspacing="0" cellpadding="3">


$show_user_info_profile$
<tr valign=top>
<td colspan=4><hr size=1></td>
</tr>
</table>


$message_for$


</td>
</tr>
</table>

	
	</td>
</tr>
<tr>
<td colspan=2>
$$sub_banner('bottom_info.htm')$$

</td>
</tr>
</table>
