<!-- FreeLove v.3 -- show photo -->

$$sub_banner('_banner.htm')$$

<table width="100%" border="0" cellspacing="0" cellpadding="6">
<tr bgcolor=#c0c0c0>
	<td>FREELove / UserInfo / <b>Photo</b></td>
        $$sub_hot_keys$$
	<td align=right class=small>
        <a href="javascript:window.print();"><img src="/fl3pic/img/icns/printer.gif" alt="print" border=0></a>
        </td>
</tr>
</table>

<center>
<table width="700" border="0" cellspacing="0" cellpadding="3">
<tr><td colspan=2>
<center>
<font size=+2>$nick$</font><br><br>
$photo$
    
$start_form$ 
</td></tr>
</table>

$$sub_banner('bottom_info.htm')$$

