<!-- FreeLove v.3 -- register user entry -->

$$sub_banner('_banner.htm')$$
<table width="100%" border="0" cellspacing="0" cellpadding="6">
<tr bgcolor=#c0c0c0>
	<td>FREELove / Register User Area / <b>Main menu</b></td>
</tr>
</table>

<center>
$new_info$
<table width="700" border="0" cellspacing="0" cellpadding="3">

<tr><td align=center><font size=+1><b>$words{'0052'}</b></font></td></tr>
<tr><td align=center>
$words{'0053'} <b>$show_numbers$</b>
<br>
$words{'0054'} <b>$kol$</b>
$long$

$$sub_menu_user$$

</td></tr>
</table>

$$sub_banner('bottom_info.htm')$$
