<!-- FreeLove v.3 -- register user read messages -->

$$sub_banner('_banner.htm')$$

<table width="100%" border="0" cellspacing="0" cellpadding="6">
<tr bgcolor=#c0c0c0>
	<td>FREELove / Register User Area / <b>Read messages</b></td>
</tr>
</table>

<center>
<table width="700" border="0" cellspacing="0" cellpadding="3">

<tr><td align=center colspan=2><font size=+1>$words{'0076'}</font>
<tr><td colspan=2><hr size=1>
$$sub_show_array_of_mess$$
</form>

$$sub_menu_user$$
</td></tr>
</table>

$$sub_banner('bottom_info.htm')$$



