<!-- FreeLove v.3 -- register user add/delete photo -->

$$sub_banner('_banner.htm')$$

<table width="100%" border="0" cellspacing="0" cellpadding="6">
<tr bgcolor=#c0c0c0>
	<td>FREELove / Register User Area/ <b>Edit Photo</b></td>
</tr>
</table>

<center>
<table width="700" border="0" cellspacing="0" cellpadding="3">

<tr><td align=center colspan=2><font size=+1>$words{'0228'}</font>
<form action=$script_name$ method=POST ENCTYPE="multipart/form-data">
<input type=hidden name=lang value=$lang$>
<input type=hidden name=login value=$login$>
<input type=hidden name=password value=$password$>
<input type=hidden name=userdata value=1>
<input type=hidden name=menu_user_enter value=1>
<input type=hidden name=menu_user_select value=photo>
$$sub_show_delete_photo$$
$$sub_add_change_photo$$
<br><hr noshade>
$$sub_forma_for_gallery$$
<font size=-1><input type=submit name=add_photo value="$words{'0012'}" class=formtext></font>
<p align=left>
<font size=-2>
<br>$words{'0080'}
<br>$words{'0081'}
<br>$words{'0082'}
<br>$words{'0083'}
<br>
$$sub_send_photo_email$$ 
</font>
<hr size=1>
</form>

$$sub_menu_user$$
</td></tr>
</table>

$$sub_banner('bottom_info.htm')$$


