<!-- FreeLove v.3 -- register user change password -->

$$sub_banner('_banner.htm')$$

<table width="100%" border="0" cellspacing="0" cellpadding="6">
<tr bgcolor=#c0c0c0>
	<td>FREELove / Register User Area / <b>Change e-mail and password</b></td>
</tr>
</table>

<center>
<table width="700" border="0" cellspacing="0" cellpadding="3">

<form action=$script_name$ method=post>
<input type=hidden name=lang value=$lang$>
<input type=hidden name=login value=$login$>
<input type=hidden name=password value=$password$>
<tr><td align=center colspan=2><br><b>$login$</b><br>
$mess$
</td></tr>
<tr><td align=right>e-mail</td><td><input type=text name=email value="$email$" maxlength=50></td></tr>

<tr>
<td align=right>$words{'0068'}<br><font size=-2>$words{'0069'}</font></td>
<td><input type=password name=password1></td>
</tr>

<tr><td align=right>$words{'0068'}<br><font size=-2>$words{'0070'}</font></td>
<td><input type=password name=password2></td>
</tr>

<tr>
<td align=center colspan=2>
<font size=-1>
<input type=submit name=userdata value="$words{'0009'}" class=formtext>
</font>
</form>

$$sub_menu_user$$

</td></tr>
</table>

$$sub_banner('bottom_info.htm')$$

