<!-- FreeLove v.3 -- register user export accaunt to FreeVF -->

$$sub_banner('_banner.htm')$$

<table width="100%" border="0" cellspacing="0" cellpadding="6">
<tr bgcolor=#c0c0c0>
	<td>FREELove / Register User Area / <b>Export to FreeVF</b></td>
</tr>
</table>

<center>
<table width="700" border="0" cellspacing="0" cellpadding="3">

<tr><td align=center colspan=2>
<p>&nbsp;<p>
<b>
$words{'0243'}
<br><br>
$words{'0244'} <a href=$freevf_url$ target=_new>$freevf_url$</a>
</b>
<p>

$$sub_menu_user$$
</td></tr>
</table>

$$sub_banner('bottom_info.htm')$$

