<!-- FreeLove v.3 -- register user edit profile -->

$$sub_banner('_banner.htm')$$

<table width="100%" border="0" cellspacing="0" cellpadding="6">
<tr bgcolor=#c0c0c0>
	<td>FREELove / Register User Area / <b>Edit Profile</b></td>
</tr>
</table>

<center>
<table width="700" border="0" cellspacing="0" cellpadding="3">

<tr><td align=center colspan=2><font size=+1>$words{'0071'}</font>
<form action=$script_name$ method=post>
$$sub_make_forma_all$$
<input type=hidden name=edit value=yes>
<input type=hidden name=lang value=$lang$>
<input type=hidden name=login value=$login$>
<input type=hidden name=password value=$password$>
<tr><td>&nbsp;</td>
<td><input type=submit name=anketa value="$words{'0009'}" class=formtext></td></tr>
<tr><td colspan=2>
<p align=left>
<font size=-2>
<font color=red><br>$words{'0072'}</font>
<br>$words{'0073'}
<br>$words{'0074'} 
<br>$words{'0075'}
<br>
</font>

</td></tr>
</form>

<tr><td align=center colspan=2 bgcolor=red>
<form action=$script_name$ method=post>
<input type=hidden name=login value=$login$>
<input type=hidden name=password value=$password$>
<input type=hidden name=anketa value=y>
<input type=submit name=del_profile value="$words{'0011'}" class=formtext>
</td></tr>
</form>

<tr><td align=center colspan=2>
<br>
$$sub_menu_user$$
</td></tr>
</table>

$$sub_banner('bottom_info.htm')$$


