<!-- FreeLove v.3 -- register user remove VF account -->

$$sub_banner('_banner.htm')$$

<table width="100%" border="0" cellspacing="0" cellpadding="6">
<tr bgcolor=#c0c0c0>
	<td>FREELove / Register User Area / <b>Remove FreeVF account</b></td>
</tr>
</table>

<center>
<table width="700" border="0" cellspacing="0" cellpadding="3">

<tr><td align=center colspan=2>
<p>&nbsp;<p>
<b>
Vash account udalen iz FreeVF system.
<br>
Esli vy zahotite vojti v etu systemu pozhe ispolzujyte punkt menu Export</td>
</b>
<p>

$$sub_menu_user$$
</td></tr>
</table>

$$sub_banner('bottom_info.htm')$$

