        <table width="642" border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td class="normal" bgcolor="#F3F3F3">
            <b>MyNewsGroups :)</b> is a <b>USENET</b> <b><font color="#CC0000">news
            client</font></b>, based totally on a web interface, written in <b>PHP4</b>.
            It's backended with a <b>MySQL</b> database, which allows us to develop
            useful tools such as search engines, SPAM filters, subscriptions,
            stats, and much more.
            <p><b>MyNewsGroups :)</b> is based on the great work of <b>Florian 
                Amrhein</b>, the developer of <b><a href="http://www.florian-amrhein.de/newsportal">NewsPortal</a></b>. 
                With the use of MySQL and the complete library of Floh to query 
                the News Server, <b>MyNewsGroups :)</b> can store all the articles 
                in the news groups querying the news server only <font color="#CC0000"> 
                <b>ONCE</b></font> per article.</p>
            <p><font color="#FFCC00"><b>Contact:</b></font><br />
              <br />
              It is easy to get in contact with the developers if you need help
              or<br />
              if you find bugs that need to be reported. The best way to contact
              us would<br />
              be through our mailing list which is actively monitored. Just send
              an email<br />
              to:</p>
            <p> <a href="mailto:mynewsgroups-list@sourceforge.net"><b>mynewsgroups-list@sourceforge.net</b></a><br />
              <br />
              Thanks For Trying <b>MyNewsGroups :)</b> !</p>
            <p><font color="#CC0000"><b>Txarly :)</b></font></p>
          </td>
        </tr>
      </table>