<table width="642" border="0" cellspacing="0" cellpadding="0" >
  <tr> 
    <td align="left" valign="top" class="normal" bgcolor="#F3F3F3"> 
      <div align="left" class="normal"><font color="#000000"><b>&nbsp;MyNewsGroups 
        :( &nbsp;&nbsp;&nbsp;<font color="#CC0000">{_myngsometh_wrong}</font></b></font><br />
        <br />
        &nbsp;<span class="big_error">{_myngerror}</span><span class="error"> </span><br />
        <br />
        &nbsp;<b><img src="{images_dir}/icon41.gif" width="15" height="15"> {_myngerror_message}:<br />
        &nbsp;<span class="error">{error_message}</span></b><br />
        &nbsp;<span class="error">{error_message_2}</span></b><br />
        <br />
        &nbsp;<a href="contact.php">{_mynghave_doubt}.<br /></a>
      </div>
    </td>
  </tr>
</table>
