<table width="642">
  <tr> 
    <td align="left" valign="top" class="normal"> &nbsp;&nbsp;<img src="{images_dir}/newsgroups.jpg" border=0><br />
    </td>
    <td valign="top" class="normal">Welcome to <b>MyNewsGroups:)</b> !!<br />
      <br />
      <li> Click on <a class="red" href="newsgroups.php">NewsGroups</a> to browse
        the Newsgroups available. </li>
      <li> Click on <a class="red" href="search.php">Search</a> to find some
        articles. </li>
      <li> Click on <a class="red" href="stats.php">Stats</a> to view the latest
        statistics of the System.</li>
      <li> Click on <a class="red" href="register.php">Register</a> if you want
        to enjoy all the features of MyNewsGroups: </li>
    <ul>
      <li>Post new articles.</li>
      <li>Reply to articles.</li>
      <li>News Groups Subscription System.</li>
      <li>Save your favourite articles.</li>
      <li>Send articles to your friends.</li>
      <li>Highlight of new and unread articles.</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td class="normal">&nbsp;&nbsp;<img src="{images_dir}/poweredby.gif" width="80" height="50"></td>
    <td valign="top" class="normal">Please support <span class="bold">MyNewsGroups 
      :)</span> if you liked it. <br />
      Put this <span class="bold">LOGO</span> in your site.</td>
  </tr>
</table>
