<table width="642" border="0" cellspacing="0" cellpadding="0" height="188">
  <tr>
    <td align="left" valign="top" class="normal" bgcolor="#F3F3F3" height="263">

      <div align="left" class="normal"><font color="#000000"><b>&nbsp;MyNewsGroups
        :)</b></font> <b><font color="#CC0000">{_mynghome}</font></b><br />
          <br />
        &nbsp;<b>{_myngwelcome_user} {id_user}!</b> <br />

        &nbsp;<br />
        <b>&nbsp;<img src="{images_dir}/icon19.gif" width="15" height="15"> {_mynguser_name}:</b>
        {id_user}<br />
                &nbsp;<b><img src="{images_dir}/email.gif" width="16" height="14"> 
                {_myngemail}:</b> {email} <br />
        &nbsp;<br />
        &nbsp;<img src="{images_dir}/editicon.gif" width="19" height="17">
        <b>{_myngpost}</b> {_myngnew_articles}.<br />
        &nbsp;<img src="{images_dir}/quote.gif" width="19" height="16">
        <b>{_myngreply}</b> {_myngto_articles}.<br />
        <!--
        &nbsp;<img src="{images_dir}/sections.gif" width="15" height="16">
        {_myngedit_your} <b><a href="options.php">{_myngoptions}</a></b>.<br />
        -->
        <!--
        &nbsp;<img src="{images_dir}/profile.gif" width="18" height="15">
        {_myngedit_your} <a href="edit.php"><b>{_myngprofile}</b></a>.<br />
        -->
        &nbsp;<img src="{images_dir}/folder.gif" width="13" height="16">
        &nbsp;&nbsp;<a href="mygroups.php"><b>{_myngsubscribe}</b></a> {_myngto_groups}.<br />
        &nbsp;<img src="{images_dir}/icon1.gif" width="15" height="15">
        <!--
        {_myngview_your} <a href="mystats.php"><b>{_myngstats}</b></a>.<br />
        &nbsp;<img src="{images_dir}/icon38.gif" width="15" height="15">
        -->
        &nbsp;<a href="myarticles.php"><b>{_myngsave}</b></a> {_myngyour_articles}.<br />
      </div>
      </td>
  </tr>
</table>

