<table border="0" cellpadding="0" cellspacing="0" width="95">
  <form name="login" method="POST" action="login.php">
    <tr>
      <td valign="top" bgcolor="#BECCE7" class="tabla_myng"><span class="myng_bottom"><img src="{images_dir}/cuadrito.gif" width="14" height="14">&nbsp;{_myngmy_box}&nbsp;&nbsp;<img src="{images_dir}/inbox.gif" width="15" height="15"></span></td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#f3f3f3" class="normal"><img src="{images_dir}/home.gif" width="19" height="18" border="0">&nbsp;<a href="my.php">{_myngmy_home}</a></td>
    </tr>
    <tr>
      <td valign="top" bgcolor="#f3f3f3"><span class="normal">&nbsp;<img src="{images_dir}/folder.gif" width="13" height="16">&nbsp;&nbsp;<a href="mygroups.php">{_myngmy_groups}</a></span></td>
    </tr>
    <tr>
  </form>
    <td valign="top" bgcolor="#f3f3f3" class="normal">&nbsp;<img src="{images_dir}/icon38.gif" width="15" height="15" border="0">&nbsp;<a href="myarticles.php">{_myngmy_articles}</a>
    </td>
  </tr>
  <!--
  <tr>
    <td valign="top" bgcolor="#f3f3f3" class="normal">&nbsp;<img src="{images_dir}/profile.gif" width="18" height="15"><a href="edit.php">{_myngprofile}</a> </td>
  </tr>
  -->
  <!--
  <tr>
    <td valign="top" bgcolor="#f3f3f3"><span class="normal">&nbsp;<img src="{images_dir}/sections.gif" width="15" height="16">&nbsp;<a href="options.php">{_myngoptions}</a></span></td>
  </tr>
  -->
  <!--
  <tr>
    <td valign="top" bgcolor="#f3f3f3" class="normal">&nbsp;<img src="{images_dir}/icon1.gif" width="15" height="15">&nbsp;<a href="mystats.php">{_myngmy_stats}</a></td>
  </tr>
  -->
  <!-- BEGIN admin_enter_block --> 
  <tr>
    <td valign="top" bgcolor="#f3f3f3" class="normal">&nbsp;<img src="{images_dir}/cuadrito.gif" width="15" height="15">&nbsp;<a href="admin.php">{_myngmy_admin}</a></td>
  </tr>
  <!-- END admin_enter_block --> 
  <tr>
    <td valign="top" bgcolor="#f3f3f3" class="normal">&nbsp;<img src="{images_dir}/cuadrito.gif" width="15" height="15">&nbsp;<a href="login.php?logout=ok">{_mynglog_out}</a></td>
  </tr>
  <tr> 
    <td bgcolor="#f3f3f3"></td>
  </tr>
</table>
