<table border="0" cellspacing="0" cellpadding="0" width="642">
  <tr>
    <td align="left" valign="top" class="normal" bgcolor="#F3F3F3">
      <div align="left" class="normal"> <font color="#000000"><b>&nbsp;MyNewsGroups
        :)</b></font> <b><font color="#CC0000">{_myngmy_articles}</font></b><br /><br />
            {_myngarticles_saved}:
        <br /><br />
        <table border="0" cellspacing="0" cellpadding="3" width="625">
          <tr>
                        <td class="bold" colspan="6"><img src="{images_dir}/icon38.gif" width="15" height="15" border="0">&nbsp;&nbsp;{_myngmy_articles}</td>
          </tr>
          <tr class="tabla_menu">
            <td class="normal_bold">&nbsp;</td>
            <td class="normal_bold">{_myngdate}</td>
            <td class="normal_bold">{_myngsubject}</td>
            <td class="normal_bold">{_myngauthor}</td>
            <td class="normal_bold">{_mynggroup}</td>
            <td class="normal">&nbsp;</td>
          </tr>
          <!-- BEGIN articles_block -->
          <tr class="unseen">
            <td height="10"><a href={article_url}><img src="{images_dir}/posticon.gif" border=0 alt={message}></a></td>
            <td height="10" class="normal">{date}</td>
            <td height="10" class="normal_bold"><a class="text" href="{article_url}">{subject}</a></td>
            <td height="10" class="normal">{sender}</td>
            <td height="10" class="normal_bold"><a class="text" href="{group_url}">{grp_name}</a></td>
            <td height="10" valign="middle" class="normal"><form name="del_article" action="myarticles.php" method="post">
                <input type="submit" name="del_article" class="small" value="{_myngdel}">
                <input type="checkbox" name="sure" class="small" value="sure">
                <input type="hidden" name="id_article" value="{id_article}">
                <input type="hidden" name="grp_id" value="{grp_id}">
              </form></td>            
          </tr>
          <!-- END articles_block -->
          <tr class="tabla_menu">
            <td>&nbsp;</td>
            <td class="normal">&nbsp;</td>
            <td class="normal">&nbsp;</td>
            <td class="normal">&nbsp;</td>
            <td class="normal">&nbsp;</td>
            <td class="normal">&nbsp;</td>
          </tr>
        </table>
        <br />
      </div>
      </td>
  </tr>
</table>

