<table width="642" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" class="normal" bgcolor="#F3F3F3">
      <div align="left" class="normal"> <font color="#000000"><b>&nbsp;MyNewsGroups
        :)</b></font> <b><font color="#CC0000">{_myngsubscription_system}</font></b><br />
          <br />
          &nbsp;<b>{_myngchoose_group}:</b><br />
          <form name="subscription" action="mygroups.php" method="post">
          <select class="normal" name="grp_id">
          <!-- BEGIN group2add_block -->
            <option value="{grp_id}">{grp_name}</option>
          <!-- END group2add_block -->
          </select>
          <br />
          <input type="submit" name="add_group" class="normal" value="{_myngadd}">
          <input type="submit" name="del_group" class="normal" value="{_myngdel}">
          &nbsp; {_myngsure}.<input type="checkbox" name="sure" class="normal" value="sure">
          </form>

        &nbsp;{_mynggroups_subscribed}: <br />
        <br />
        <table border="0" cellspacing="0" cellpadding="3" width="625">
          <tr >
            <td class="bold" colspan="8"><img src="{images_dir}/folder.gif" width="13" height="16">&nbsp;&nbsp;MyGroups</td>
          </tr>
          <tr class="tabla_menu">
            <td class="normal_bold">&nbsp;</td>
            <td class="normal_bold">{_myngarticles}</td>
            <td class="normal_bold">{_mynggroup_name}</td>
            <td class="normal_bold">{_myngdescription}</td>
            <td class="normal_bold">{_myngnew}</td>
            <td class="normal_bold">{_myngunread}</td>
            <td class="normal_bold">{_myngposted}</td>
            <td class="normal_bold">&nbsp;</td>
          </tr>
          <!-- BEGIN groups_block -->
          <tr class="unseen">
            <td><a href={group_url}><img src="{images_dir}/{folder_image}" border=0 width="13" alt={message} height="16"></a></td>
            <td class="normal">{num_articles}</td>
            <td class="bold"><a class="text" href="{group_url}">{group_name}</a></td>
            <td class="normal">{description}</td>
            <td class="normal">{num_new}</td>
            <td class="normal">{num_unread}</td>
            <td class="normal">{num_posted}</td>
            <td class="normal"><a href={post_url}><img src="{images_dir}/editicon.gif" alt="Post an article" border=0 width="19" height="17"></a></td>
          </tr>
          <!-- END groups_block -->
          <tr class="tabla_menu">
            <td>&nbsp;</td>
            <td class="normal">&nbsp;</td>
            <td class="normal">&nbsp;</td>
            <td class="normal">&nbsp;</td>
            <td class="normal">&nbsp;</td>
            <td class="normal">&nbsp;</td>
            <td class="normal">&nbsp;</td>
            <td class="normal">&nbsp;</td>
          </tr>
        </table>
      </div>
      </td>
  </tr>
</table>
<br />

