
<table width="642" border="0" cellpadding="0" cellspacing="0">
    <tr> 
        <td colspan="5" class="normal_bold">
				<a class="link" href="newsgroups.php?page={num_page_grupo_ant}">{flecha_doble_izq}</a> 
            <a class="link" href="newsgroups.php?page={num_page_ant}">{flecha_izq}</a> 
            <!-- BEGIN nav_block -->
            <a href="newsgroups.php?page={num_page}" class="{class}">&nbsp;{num_page}&nbsp;</a> 
            <!-- END nav_block -->
            <a class="link" href="newsgroups.php?page={num_page_sig}">{flecha_der}</a> 
            <a class="link" href="newsgroups.php?page={num_page_grupo_sig}">{flecha_doble_der}</a> 

		</td>
    </tr>
    <tr class="tabla_menu"> 
        <td class="normal_bold">&nbsp;</td>
        <td class="normal_bold"><font color="#FFFFFF">{_myngarticle_number}</font></td>
        <td class="normal_bold"><font color="#FFFFFF">{_mynggroup_name}</font></td>
        <td colspan="2" class="normal_bold"><font color="#FFFFFF">{_myngdescription}</font></td>
    </tr>
    <tr class="tabla_menu"> 
        <td colspan="5" class="normal_bold">&nbsp;
		
        </td>
    </tr>
    <!-- BEGIN groups_block -->
    <tr class="unseen" onmouseover="javascript:style.backgroundColor='#ccccff'" onmouseout="javascript:style.backgroundColor='#eeeeff'"> 
        <td ><a href={group_url}><img src="{images_dir}/{folder_image}" border=0 width="13" alt={message} height="16"></a></td>
        <td ><span class="normal">{num_articles}</span></td>
        <td ><span class="normal_bold"><a class="text" href={group_url}>{group_name}</a></span></td>
        <td ><span class="normal">{description}</span></td>
        <td align="center" valign="middle" >&nbsp;</td>
    </tr>
    <!-- END groups_block -->
    <tr class="tabla_menu"> 
        <td>&nbsp;</td>
        <td class="normal" >&nbsp;</td>
        <td class="normal" >&nbsp;</td>
        <td class="normal" >&nbsp;</td>
        <td class="normal" >&nbsp;</td>
    </tr>
</table>
<br />
<!-- Formulario para añadir un grupo al subscription list
<form name="add_group" action="mygroups.php" method="post">
                <input type="image" src="{images_dir}/icon38.gif" border="0" alt="{_myngsubscribe_group}">
                <input type="hidden" name="group_name" value="{group_name}">
                <input type="hidden" name="add_group" value="yes">
                <input type="hidden" name="sure" value="yes"></form>
-->