<table border="0" cellpadding="0" cellspacing="0">
  <form name="login" method="POST" action="login.php">
    <tr> 
      <td valign="top" bgcolor="#BECCE7"><span class="normal_bold"><font color="#003399"><img src="{images_dir}/cuadrito.gif" width="14" height="14">&nbsp;People 
        Online <img src="{images_dir}/ip_logged.gif" width="15" height="16">&nbsp;</font></span></td>
    </tr>
    <tr> 
      <td valign="top" bgcolor="#f3f3f3" class="normal">&nbsp;</td>
    </tr>
    <tr> 
      <td valign="top" bgcolor="#f3f3f3"><span class="normal">&nbsp;</span></td>
    </tr>
    <tr> 
  </form>
    <td valign="top" bgcolor="#f3f3f3" class="normal">&nbsp;</td>
  </tr>
  <tr> 
    <td valign="top" bgcolor="#f3f3f3" class="normal">&nbsp;</td>
  </tr>
  <tr> 
    <td valign="top" bgcolor="#f3f3f3" class="normal">&nbsp;</td>
  </tr>
  <tr> 
    <td valign="top" bgcolor="#f3f3f3" class="normal">&nbsp;</td>
  </tr>
  <tr> 
    <td bgcolor="#f3f3f3"></td>
  </tr>
  <tr> 
    <td bgcolor="#f3f3f3"></td>
  </tr>
</table>
