<table width="642" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" class="normal" bgcolor="#F3F3F3" width="5">&nbsp;</td>
    <td align="left" valign="top" class="normal" bgcolor="#F3F3F3"> 
      <div align="left" class="normal"> 
        <p><font color="#000000"><b>&nbsp;MyNewsGroups :)</b></font> <b><font color="#CC0000">{_myngposting_complete}</font></b><br />
          <br />
          &nbsp;<b>{_myngthankx}</b> <br />
          &nbsp;<b>{_myngposted_successfully}.</b><br />
          <br />
          &nbsp;{_mynginfo_submitted}:<br />
          &nbsp;<br />
          &nbsp;<b><img src="{images_dir}/help.gif" width="16" height="16"> {_myngsubject}:</b>
          {subject}<br />
          &nbsp;<b><img src="{images_dir}/icon19.gif" width="15" height="15"> {_myngname}:</b>
          {name}<br />
          &nbsp;<b><img src="{images_dir}/email.gif" width="16" height="14"> {_myngemail}:</b>
          {email} <span class="small"><img src="{images_dir}/icon41.gif" width="15" height="15"></span><br />
          &nbsp;<b><img src="{images_dir}/text.gif" width="13" height="16"> {_myngbody}:<br />
          </b><br />
        <table border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td bgcolor="#FFFFFF">
              <pre class="small">{body}</pre>
            </td>
          </tr>
        </table>
        &nbsp;<br />
        &nbsp;<a href={url}>{_myngclick2return} <b>{group}</b></a> <br />
      </div>
      <div align="left" class="normal"> &nbsp;<br />
        <span class="small">&nbsp;<img src="{images_dir}/icon41.gif" width="15" height="15">
        {_myngemail_spam_protected}.<br /> {_myngemail_changed}:<br />
        &nbsp;<b>{email_protected}</b></span><br />
        <br />
      </div>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
