<html>
<head>
<title>{_myngprint_article}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="{style_dir}/{file_style}" type="text/css">
</head>

<body bgcolor="#FFFFFF" text="#000000">
<img src="{images_dir}/mynewsgroups.gif" width="180" height="50"> <br />
<br />
<span class="error">{group_name}</span> <br />
<br />
<table width="500" border="0" cellspacing="0" cellpadding="1" bgcolor="#000000">
  <tr>
    <td>
      <table class="normal" width="500" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr> 
          <td bgcolor="#F3F3F3" width="93">&nbsp;{_myngsubject}</td>
          <td class="bold" bgcolor="#F3F3F3" width="407">&nbsp;{subject}</td>
        </tr>
        <tr>
          <td width="93">&nbsp;{_myngname}</td>
          <td width="407">&nbsp;{name}</td>
        </tr>
        <tr>
          <td bgcolor="#F3F3F3" width="93">&nbsp;{_myngfrom}</td>
          <td bgcolor="#F3F3F3" width="407">&nbsp;{from}</td>
        </tr>
        <tr>
          <td width="93">&nbsp;{_myngdate}</td>
          <td width="407">&nbsp;{date}</td>
        </tr>
        <tr>
          <td bgcolor="#F3F3F3" width="93">&nbsp;{_mynguser_agent}</td>
          <td bgcolor="#F3F3F3" width="407">&nbsp;{user_agent}</td>
        </tr>
        <tr>
          <td colspan="2"><table><tr>
          <td>&nbsp;</td>
          <td>
            <br />
            <pre><span class="print">{body}</span></pre>
            <br />
          </td>
          <td>&nbsp;</td>
          </tr>
          </table>
          </td>
        </tr>
        <tr>
          <td colspan="2" bgcolor="#F3F3F3">&nbsp;</td>
        </tr>

      </table>
    </td>
  </tr>
</table>
<br />
<span class="normal">{_mynggenerated_by} MyNewsGroups :) v. {version}, {actual_date}</span> {actual_hour}
</body>
</html>
