<table width="642" border="0" cellspacing="0" cellpadding="0" height="188">
  <tr>
    <td align="left" valign="top" class="normal" bgcolor="#F3F3F3" height="263">
        <div align="left" class="normal"><font color="#000000"><b>&nbsp;MyNewsGroups
          :)</b></font> <b><font color="#CC0000">{_myngregistration_complete}</font></b><br />
          <br />
          &nbsp;<b>{_myngthanks}</b> <br />
          &nbsp;{_myngdata_stored}<br />
          &nbsp;{_myngedit_info}<br /><br />
          &nbsp;{_myngsubmitted_info}<br />
          &nbsp;<br />
          &nbsp;<b><img src="{images_dir}/icon19.gif" width="15" height="15">
          {_mynguser_Name}:</b> {id_user}<br />
          &nbsp;<b><img src="{images_dir}/email.gif" width="16" height="14">
          {_myngemail}:</b> {email} <br />
          &nbsp;<b><img src="{images_dir}/icon30.gif" width="16" height="16">
          {_myngcountry}:</b> {country}<br />
          <br />
          &nbsp;{_myngregister_welcome}<br /><br />

      <div align="left" class="normal">
        &nbsp;{_myngstaff}<br /><br />
        <img src="{images_dir}/32.gif" width="20" height="20">
        <img src="{images_dir}/33.gif" width="20" height="20"><br />
        <br />
        <br />
        <span class="small">&nbsp;<img src="{images_dir}/icon41.gif" width="15" height="15">
        {_mynglogin_transfer}<br />
        &nbsp;{_myngsecure_login}</span> <br />
        <br />
        &nbsp;<span class="small">{_myngcookies}</span><br />
        <br />
      </div>
    </td>
  </tr>
</table>

