<!link rel="stylesheet" href="styles/style.css" type="text/css">
<table width="642" border="0" cellspacing="0" cellpadding="0" height="188">
  <tr>
    <td align="left" valign="top" class="normal" bgcolor="#F3F3F3">
      <div align="left" class="normal"> <font color="#000000"><b>&nbsp;MyNewsGroups
        :)</b></font> <b><font color="#CC0000">{_myngstats}</font></b> <br />
        <br />
        &nbsp;<img src="{images_dir}/hot_folder.gif" width="13" height="16">
        <a href="stats.php?stat_id=hot_groups"><b>{_mynghot_ng} </b></a><br />
        &nbsp;<img src="{images_dir}/icon14.gif" width="15" height="15">
        <a href="stats.php?stat_id=popular_groups"><b>{_myngpopular_ng}</b></a><br />
        &nbsp;<img src="{images_dir}/icon33.gif" width="15" height="15">
        <a href="stats.php?stat_id=crowded_groups"><b>{_myngcrowded_ng}</b></a><br />
        <br />
        &nbsp;<img src="{images_dir}/icon26.gif" width="15" height="15">
        <a href="stats.php?stat_id=hot_articles"><b>{_mynghot_articles}</b></a><br />
        &nbsp;<img src="{images_dir}/icon19.gif" width="15" height="15">
        <a href="stats.php?stat_id=popular_articles"><b>{_myngpopular_articles}</b></a><br />
        <br />
        &nbsp;<img src="{images_dir}/editicon.gif" width="19" height="17">
        <a href="stats.php?stat_id=active_user"><b>{_myngactive_user}</b></a><br />
        &nbsp;<img src="{images_dir}/quote.gif" width="19" height="16">
        <a href="stats.php?stat_id=reply_user"><b>{_myngarg_user}</b></a><br />
        <br />
        <br />
        <br />
        <!-- BEGIN hot_groups_TOP_block -->
        &nbsp;<img src="{images_dir}/hot_folder.gif" width="13" height="16">
        {_mynghot_ng}<a name="hot_groups"></a><br />
        <br />        
        <table border="0" cellspacing="0" cellpadding="0">
        <!-- BEGIN hot_groups_block -->
          <tr>
            <td class="normal" height="1" bgcolor="#F3F3F3" width="4">&nbsp;</td>
            <td class="normal" height="1" bgcolor="#BECCE7" ><b>&nbsp;<a class="text" href="tree.php?grp_id={grp_id}&begin=0">{group_name}</a>&nbsp;</b>
            </td>
            <td class="normal" height="1" bgcolor="#FFFFFF" ><b>&nbsp;{num_articles}</b>
              {_myngstats_articles}&nbsp;</td>
            <td class="normal" height="1"><img src="{images_dir}/leftbar.gif" width="7" height="14"><img src="{images_dir}/mainbar.gif" width="{width}" height="14"><img src="{images_dir}/rightbar.gif" width="7" height="14">
            </td>
          </tr>
        <!-- END hot_groups_block -->        
        </table>
        
        <!-- END hot_groups_TOP_block -->
        <!-- BEGIN popular_groups_TOP_block -->
        &nbsp;<img src="{images_dir}/icon14.gif" width="15" height="15">
        {_myngpopular_ng}<a name="popular_groups"></a><br />
        <br />
        <table border="0" cellspacing="0" cellpadding="0">
        <!-- BEGIN popular_groups_block -->
          <tr>
            <td class="normal" width="4" height="1" bgcolor="#F3F3F3">&nbsp;</td>
            <td class="normal" height="1" bgcolor="#BECCE7"><b>&nbsp;<a class="text" href="tree.php?grp_id={grp_id}&begin=0">{group_name}</a>&nbsp;</b>
            </td>
            <td class="normal" height="1" bgcolor="#FFFFFF"><b>&nbsp;{num_readings}</b>
              {_myngstats_readings}&nbsp;</td>
            <td class="normal" height="1"><img src="{images_dir}/leftbar.gif" width="7" height="14"><img src="{images_dir}/mainbar.gif" width="{width}" height="14"><img src="{images_dir}/rightbar.gif" width="7" height="14">
            </td>
          </tr>
        <!-- END popular_groups_block -->
        </table>
        <!-- END popular_groups_TOP_block -->

        <!-- BEGIN crowded_groups_TOP_block -->
        &nbsp;<img src="{images_dir}/icon33.gif" width="15" height="15">
        {_myngcrowded_ng}<a name="crowded_groups"></a><br />
        <br />
        <table border="0" cellspacing="0" cellpadding="0">
        <!-- BEGIN crowded_groups_block -->
          <tr>
            <td class="normal" width="4" height="1" bgcolor="#F3F3F3">&nbsp;</td>
            <td class="normal" height="1" bgcolor="#BECCE7"><b>&nbsp;<a class="text" href="tree.php?grp_id={grp_id}&begin=0">{group_name}</a>&nbsp;</b>
            </td>
            <td class="normal" height="1" bgcolor="#FFFFFF"><b>&nbsp;{num_users}</b>
              {_myngusers}&nbsp;</td>
            <td class="normal" height="1"><img src="{images_dir}/leftbar.gif" width="7" height="14"><img src="{images_dir}/mainbar.gif" width="{width}" height="14"><img src="{images_dir}/rightbar.gif" width="7" height="14">
            </td>
          </tr>
        <!-- END crowded_groups_block -->
        </table>
        <!-- END crowded_groups_TOP_block -->

        <!-- BEGIN hot_articles_TOP_block -->
        &nbsp;<img src="{images_dir}/icon26.gif" width="15" height="15">
        {_mynghot_articles}<a name="hot_articles"></a><br />
        <br />
        <table border="0" cellspacing="0" cellpadding="0">
          <!-- BEGIN hot_articles_block -->
          <tr>
            <td class="normal" width="4" height="1" bgcolor="#F3F3F3">&nbsp;</td>
            <td class="normal" height="1" bgcolor="#BECCE7"><b>&nbsp;<a class="text" href="article.php?id_article={id_article}&grp_id={grp_id}&push=1">{subject}</a>&nbsp;</b>
            </td>
            <td class="normal" height="1" bgcolor="#FFFFFF"> <b>&nbsp;{num_articles}</b> {_myngstats_articles}&nbsp;</td>
            <td class="normal" height="1" ><img src="{images_dir}/leftbar.gif" width="7" height="14"><img src="{images_dir}/mainbar.gif" width="{width}" height="14"><img src="{images_dir}/rightbar.gif" width="7" height="14">
            </td>
          </tr>
          <!-- END hot_articles_block -->
        </table>
        <!-- END hot_articles_TOP_block -->

        <!-- BEGIN popular_article_TOP_block -->
        &nbsp;<img src="{images_dir}/icon19.gif" width="15" height="15">
        {_myngpopular_articles}<a name="popular_articles"></a><br />
        <br />
        <table  border="0" cellspacing="0" cellpadding="0">
          <!-- BEGIN popular_article_block -->
          <tr>
            <td class="normal" width="4" height="1" bgcolor="#F3F3F3">&nbsp;</td>
            <td class="normal" height="1" bgcolor="#BECCE7"><b>&nbsp;<a class="text" href="article.php?id_article={id_article}&grp_id={grp_id}&push=1">{subject}</a>&nbsp;</b>
            </td>
            <td class="normal" height="1" bgcolor="#FFFFFF"><b>&nbsp;{num_readings}</b>
              {_myngstats_readings}&nbsp;</td>
            <td class="normal" height="1"><img src="{images_dir}/leftbar.gif" width="7" height="14"><img src="{images_dir}/mainbar.gif" width="{width}" height="14"><img src="{images_dir}/rightbar.gif" width="7" height="14">
            </td>
          </tr>
          <!-- END popular_article_block -->
        </table>
        <!-- END popular_article_TOP_block -->

        <!-- BEGIN active_user_TOP_block -->
        &nbsp;<img src="{images_dir}/editicon.gif" width="19" height="17">
        {_myngactive_user}<a name="active_user"></a><br />
        <br />
        <table  border="0" cellspacing="0" cellpadding="0">
        <!-- BEGIN active_user_block -->
          <tr>
            <td class="normal" width="4" height="1" bgcolor="#F3F3F3">&nbsp;</td>
            <td class="normal" height="1" bgcolor="#BECCE7"><b>&nbsp;<a class="text" href="mailto:{from_header}">{username}</a>&nbsp;</b>
            </td>
            <td class="normal" height="1" bgcolor="#FFFFFF"><b>&nbsp;{num_posts}</b>
              {_myngpostings}&nbsp;</td>
            <td class="normal" height="1"><img src="{images_dir}/leftbar.gif" width="7" height="14"><img src="{images_dir}/mainbar.gif" width="{width}" height="14"><img src="{images_dir}/rightbar.gif" width="7" height="14">
            </td>
          </tr>
        <!-- END active_user_block -->
        </table>
        <!-- END active_user_TOP_block -->

        <!-- BEGIN argumentative_user_TOP_block -->
        &nbsp;<img src="{images_dir}/quote.gif" width="19" height="16">
        {_myngarg_user}<a name="reply_user"></a><br />
        <br />
        <table  border="0" cellspacing="0" cellpadding="0">
          <!-- BEGIN argumentative_user_block -->
          <tr>
            <td class="normal" width="4" height="1" bgcolor="#F3F3F3">&nbsp;</td>
            <td class="normal" height="1" bgcolor="#BECCE7"><b>&nbsp;<a class="text" href="mailto:{from_header}">{username}</a>&nbsp;</b>
            </td>
            <td class="normal" height="1" bgcolor="#FFFFFF"><b>&nbsp;{num_replies}</b>
              {_myngreplies}&nbsp;</td>
            <td class="normal" height="1"><img src="{images_dir}/leftbar.gif" width="7" height="14"><img src="{images_dir}/mainbar.gif" width="{width}" height="14"><img src="{images_dir}/rightbar.gif" width="7" height="14">
            </td>
          </tr>
          <!-- END argumentative_user_block -->
        </table>
        <!-- END argumentative_user_TOP_block -->
      </div>
      <br />
    </td>
  </tr>
</table>

