<table border="0" cellspacing="0" cellpadding="3" width=625>
  <tr bgcolor="#336699">
    <td class="normal_bold" colspan="2"><font color="#FFCC00">MyNewsGroups <font color="#FFFFFF">:)</font></font><a name=Top></a></td>
    <td class="normal_bold">&nbsp;</td>
    <td class="normal_bold">&nbsp;</td>
    <td class="normal_bold"><a class="normal_bold" href="tree.php?group_name={group_url}&begin={begin_number}&server={server}">{group_name}</a></td>
    <td class="normal_bold"><a href={post_url}><img src="{images_dir}/editicon.gif" alt="Post an article" border=0 height="17"></a></td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="3" width=625>
  <tr bgcolor="#336699">
    <td class="normal">&nbsp;</td>
    <td class="normal_bold" bgcolor="#336699"><font color="#FFFFFF">Date</font></td>
    <td class="normal_bold"><font color="#FFFFFF">Subject</font></td>
    <td class="normal_bold"><font color="#FFFFFF">Author</font></td>
    <td class="normal_bold"><font color="#FFFFFF">&nbsp;</font></td>
    <td class="normal_bold">&nbsp;</td>
    <td class="normal_bold">&nbsp;</td>
  </tr>
  <tr bgcolor="#336699">
    <td class="bold" bgcolor=336699>&nbsp;</td>
    <td class="bold" bgcolor="#E2ECF5">{p_date}</td>
    <td class="bold" bgcolor="#E2ECF5"><img src="{images_dir}/li1r.gif" width="5" height="5"> {p_subject}</td>
    <td class="bold" bgcolor="#E2ECF5">{p_name}</td>
    <td class="normal" bgcolor="#E2ECF5">&nbsp;</td>
    <td class="normal" bgcolor="#336699">&nbsp;</td>
    <td class="normal" bgcolor="#336699">&nbsp;</td>
  </tr>
  <!-- BEGIN tree_block -->
  <tr bgcolor="#336699">
    <td class="normal_bold" bgcolor=336699>&nbsp;</td>
    <td class="normal" bgcolor="#E2ECF5">{date}</td>
    <td class="normal" bgcolor="#E2ECF5">{subject}</td>
    <td class="normal" bgcolor="#E2ECF5">{name}</td>
    <td class="normal" bgcolor="#E2ECF5">&nbsp;</td>
    <td class="normal" bgcolor="#336699">&nbsp;</td>
    <td class="normal" bgcolor="#336699">&nbsp;</td>
  </tr>
  <!-- END tree_block -->
</table>
<table border="0" cellspacing="0" cellpadding="3" width=625>
  <tr bgcolor="#336699">
    <td>&nbsp;</td>
    <td class="normal">&nbsp;</td>
    <td class="normal">&nbsp;</td>
    <td class="normal">&nbsp;</td>
    <td class="normal">&nbsp;</td>
    <td class="normal">&nbsp;</td>
  </tr>

  <tr bgcolor="#336699">
    <td>&nbsp;</td>
    <td class="bold" bgcolor="#E2ECF5"><img src="{images_dir}/li1r.gif" width="5" height="5"> {p_subject}</td>
    <td class="bold" bgcolor="#E2ECF5">{p_name}</td>
    <td class="normal" bgcolor="#E2ECF5">&nbsp;</td>
    <td class="normal" bgcolor="#E2ECF5"><a href={p_reply_url}><img src="{images_dir}/editicon.gif" alt="Reply" border=0 width="19" height="17"></a></td>
    <td class="normal">&nbsp;</td>
  </tr>
  <tr bgcolor="#336699">
    <td>&nbsp;</td>
    <td class="normal" bgcolor="#F3F3F3" colspan="4"><pre>{p_body}</pre></td>
    <td class="normal">&nbsp;</td>
  </tr>

  <!-- BEGIN body_block -->
  <tr bgcolor="#336699">
    <td>&nbsp; <a class="text" name="{link_name}"></a></td>
    <td class="normal" bgcolor="#E2ECF5">{subject}</td>
    <td class="normal" bgcolor="#E2ECF5">{name}</td>
    <td class="normal" bgcolor="#E2ECF5"><a class="text" href=#Top>Top</a>&nbsp;</td>
    <td class="normal" bgcolor="#E2ECF5"><a href={reply_url}><img src="{images_dir}/editicon.gif" alt="Reply" border=0 width="19" height="17"></a></td>
    <td class="normal">&nbsp;</td>
  </tr>
  <tr bgcolor="#336699">
    <td>&nbsp;</td>
    <td class="normal" bgcolor="#F3F3F3" colspan="4"><pre>{body}</pre></td>
    <td class="normal">&nbsp;</td>
  </tr>
  <!-- END body_block -->
  <tr bgcolor="#336699">
    <td>&nbsp;</td>
    <td class="normal">&nbsp;</td>
    <td class="normal">&nbsp;</td>
    <td class="normal">&nbsp;</td>
    <td class="normal">&nbsp;</td>
    <td class="normal">&nbsp;</td>
  </tr>
</table>

