<!-- Template file for AU Audio Files -->

<EMBED src="%%%FILE%%%" type="audio/au" hidden=true autostart=true loop=true height=1 width=1> </EMBED> 

<table border=0 cellspacing=0 cellpadding=3>
  <tr>
    <td><a href="%%%FILE%%%"><img src="%%%IFIMAGES%%%/download.gif" border=0 alt="Download this file"></a></td>
    <td align=center><font face="Verdana,Arial,Helvetica" size=1>Having trouble hearing this file?</font><br>
    <font face="Verdana,Arial,Helvetica" size=2><a href="%%%FILE%%%"><b>Click here to download it!</b></a></font></td>
  </tr>
</table>

<br>

