<!-- Template file for Flash Movies -->

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=4,0,2,0" width="300" height="300">
  <param name=movie value="%%%FILE%%%">
  <param name=id value="%%%NAME%%%">
  <param name=quality value=high>
  <param name=play value=true>
  <param name=scale value=showall>
  <param name=loop value=true>
  <param name=menu value=true>
  <embed src="%%%FILE%%%" name="%%%NAME%%%" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="300" height="300" play=true loop=true quality=high>
  </embed> 
</object><br>

<table border=0 cellspacing=0 cellpadding=3>
  <tr>
    <td><a href="%%%FILE%%%"><img src="%%%IFIMAGES%%%/download.gif" border=0 alt="Download this file"></a></td>
    <td align=center><font face="Verdana,Arial,Helvetica" size=1>Having trouble viewing this file?</font><br>
    <font face="Verdana,Arial,Helvetica" size=2><a href="%%%FILE%%%"><b>Click here to download it!</b></a></font></td>
  </tr>
</table>

<br>

