body {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #E0E0D5;
	font-size: 13px;
}
.frm {
	background-color: #E0E0C0;
	font-size: 12px;
	border: 1 px inset;
	border-bottom-style: outset;
	border-left-style: outset;
	border-right-style: outset;
	border-top-style: outset;
	font-weight: bold;
	border-color: #000000 ;
}
.hgl {
	background-color: #F9F9F2;
	font-size: 12px;
	width : 700px;
}
.highlight {
	background-color: #F9F9F2;
	color: #003896;
	font-size: 12px;
	width : 700px;
	font-weight : bold;
}
td {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
A:link {
	text-decoration: none;
	color:#CC0000;
	font-weight : bold;
}
A:visited {
	text-decoration: none;
	color: #AA0000;
	font-weight : bold;
}
A:active {
	text-decoration: none;
	color: #FF0000;
	font-weight : bold;
}
A:hover {
	text-decoration: none;
	color: #FF0000;
	font-weight : bold;
}