span.topMenu {
	color: #ffffff;
	text-decoration: none; 
	font-size: 10pt;
	FONT-FAMILY : Tahoma, Arial, Helvetica;	
}
a.topMenu {
	color: #ffffff;
	text-decoration: none; 
	font-size: 10pt;
	font-weight: bold;
	FONT-FAMILY : Tahoma, Arial, Helvetica;	
}
a.topMenu:hover {
	color: #ffffff;
	text-decoration: underline;
	font-size: 10pt;
	font-weight: bold;
	FONT-FAMILY : Tahoma, Arial, Helvetica;	
}
a.leftMenu {
	color: #000080;
	text-decoration: none; 
	font-size: 8pt;
	font-weight: bold;
	FONT-FAMILY : Tahoma, Arial, Helvetica;	
}
a.leftMenu:hover {
	text-decoration: underline;
}
td.innerDescription{
	color : #000080;
	background-color: #B0C4DE;
	font-family: Tahoma,Arial, Helvetica;
	text-decoration : none;
	font-size : 9pt;
	font-style: normal;
}
td.innerForms{
	color : #000080;
	background-color: #C0C0C0;
	font-family: Tahoma,Arial, Helvetica;
	text-decoration : none;
	font-size : 9pt;
	font-style: normal;
}

input {
	color: ;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 9pt;
	vertical-align : middle;
}
.messageTypeError
{
	color: red;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10pt;
	font-weight: bold;
}
.messageTextWarning 
{
	color: black;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10pt;
}
.messageTextSuccess
{
	color: black;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10pt;
	font-weight: bold;
}
