<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />

  <title>Date Variable Formatting &#8211; ExpressionEngine Documentation</title>

  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <link rel="contents" href="../index.html" />
  <style type="text/css" media="screen,print">@import url(../docs.css);</style>
</head>

<body>

<div id="header">
	<h1>ExpressionEngine Documentation</h1>
</div>


<div id="navlinks">
	<p><a href="../index.html">Table of Contents</a></p>
</div>


<div id="content">

	<h1>Date Variable Formatting</h1>

	<h2>Date Formatting</h2>

	<p>Any time you want to show a date, the variable must contain which date you want to show as well as the formatting codes.  For example, to show the "entry date" you'll do this:</p>

	<code>{entry_date format="%Y %m %d"}</code>

	<p>The "format" parameter contains the variables that determine the formatting of the date. These variables use the MySQL syntax of the <a href="http://us2.php.net/date">PHP date</a> formatting codes, so the code letters are always preceded by a percent sign.  For example:</p>

	<ul>
		<li>%Y = Year, long format: 2003</li>
		<li>%m = month, numeric two digit: 09</li>
		<li>%t = number of days in a given month: 31</li>
		<li>etc...</li>
	</ul>



	<h2>Date Formatting Codes</h2>

	<p>Available date formatting codes:</p>

  <ul>
    <li><b>%a</b> - "am" or "pm"</li>

    <li><b>%A</b> - "AM" or "PM"</li>

    <li><b>%B</b> - Swatch Internet time</li>

    <li><b>%d</b> - day of the month, 2 digits with leading zeros ("01" to "31")</li>

    <li><b>%D</b> - day of the week, textual, 3 letters ("Fri")</li>

    <li><b>%F</b> - month, textual, long ("January")</li>

    <li><b>%g</b> - hour, 12-hour format without leading zeros ("1" to "12")</li>

    <li><b>%G</b> - hour, 24-hour format without leading zeros ("0" to "23")</li>

    <li><b>%h</b> - hour, 12-hour format ("01" to "12")</li>

    <li><b>%H</b> - hour, 24-hour format ("00" to "23")</li>

    <li><b>%i</b> - minutes ("00" to "59")</li>

    <li><b>%I</b> (capital i) - "1" if Daylight Saving Time, "0" otherwise.</li>

    <li><b>%j</b> - day of the month without leading zeros ("1" to "31")</li>

    <li><b>%l</b> (lowercase 'L') - day of the week, textual, long ("Friday")</li>

    <li><b>%L</b> - boolean for whether it is a leap year ("0" or "1")</li>

    <li><b>%m</b> - month ("01" to "12")</li>

    <li><b>%M</b> - month, textual, 3 letters ("Jan")</li>

    <li><b>%n</b> - month without leading zeros ("1" to "12")</li>

    <li><b>%r</b> - RFC 822 formatting ("Thu, 21 Dec 2000 16:01:07 +0200")</li>

    <li><b>%s</b> - seconds ("00" to "59")</li>

    <li><b>%S</b> - English ordinal suffix, 2 characters; ("th", "nd")</li>

    <li><b>%t</b> - number of days in the given month ("28" to "31")</li>

    <li><b>%T</b> - Time zone setting of this machine ("MDT")</li>

    <li><b>%U</b> - seconds since the epoch</li>

    <li><b>%w</b> - day of the week, numeric - "0" (Sunday) to "6" (Saturday)</li>

    <li><b>%Y</b> - year, 4 digits ("1999")</li>

    <li><b>%y</b> - year, 2 digits ("99")</li>

    <li><b>%z</b> - day of the year ("0" to "365")</li>

    <li><b>%Z</b> - time zone offset in seconds ("-43200" to "43200"). The offset for time zones west of UTC is always negative, and for those east of UTC is always positive.</li>

  </ul>



</div>


<div id="footer">
  <address>ExpressionEngine &#8211; Copyright &#169; 2003-2004 &#8211; pMachine, Inc.</address><div class="validation"><a href="http://validator.w3.org/check/referer" title="Validate XHTML">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="Validate CSS">CSS</a></div>
</div>

</body>
</html>