body {
 background-color : #ffffff;
}

p {
 color : #000000;
 font-family : arial;
}

h1 , h2 , h3 , h4 , h5 , h6 {
 font-family : arial;
 color : #000000;
}
   
a {
 color : red;
 text-decoration : none;
 font-family : arial;
}
