{literal}
<script language="JavaScript">
function confirmDel(type,url,desc)
{
    if (confirm("Delete this "+type+":\n"+desc))
    {
        document.location.href=url+'&{/literal}REF={$smarty.server.HTTP_REFERER|base64_encode}{literal}';
    }
}

</script>
{/literal}

<head>
<link href="css/styles.css" type="text/css" rel="stylesheet" />
</head>

<title>Ultrize TimeSheet</title>
<html>
	<body>

<table align="center" style="background:white;">
	<tr>
		<td>
			<div style="float:left">
				<a href="http://www.ultrize.com/timesheet/"><img src="img/TimeSheet_header.jpg" border="0" style="margin:20px"></a>
			</div>
			<div style="float:right">
				<a href="http://www.ultrize.com/"><img src="img/ultrize_logo_small.jpg" border="0" style="margin:40px"></a>
			</div>
		</td>
	</tr>
		<td>
