{if $smarty.session.id == 1 && $smarty.session.showAdmin}
<table cellpadding="3" align="center" width="100%">
<form action="index.php" method="POST">
<input type="hidden" name="action" value="newUser">
	<tr>
		<th colspan="5">Add new system user</th>
	</tr>
	<tr>
		<td colspan="2"><b>First Name</b></td>
		<td colspan="3"><input type="text" name="firstname" size="30"></td>
	</tr>
	<tr>
		<td colspan="2"><b>Last Name</b></td>
		<td colspan="3"><input type="text" name="lastname" size="30"></td>
	</tr>
	<tr>
		<td colspan="2"><b>Email (Login)</b></td>
		<td colspan="3"><input type="text" name="email" size="30"></td>
	</tr>
	<tr>
		<td colspan="2"><b>Password</b></td>
		<td colspan="3"><input type="text" name="password" size="30"></td>
	</tr>
	<tr>
		<td colspan="5" align="right"><input  class="btn" type="submit" value="Add New User"></td>
	</tr>
{if $users}
	<tr>
		<th></th>
		<th>User Account</th>
		<th>Pass</th>
		<th>Added</th>
		<th>Time</th>
		<th>Rev</th>
	</tr>
	{foreach from=$users item=user}
	<tr>
		<td><a href="javascript:confirmDel('user','index.php?action=delUser&id={$user.id}','{$user.email|escape:"quotes"}')"><img src="img/trash.gif" border="0"></a></td>
		<td>{$user.email}</td>
		<td>{$user.password}</td>
		<td>{$user.dateAdded|date_format:"%D"}</td>
		<td>{if $user.time.days}{$user.time.days}D {/if}{$user.time.hours}:{$user.time.minutes}:{$user.time.seconds}</td>
		<td>{$user.revenue}</td>
	</tr>
	{/foreach}
	<tr style="background:#F4f4F4">
		<td colspan="4" align="right"><b>Totals</b></td>
		<td><b>{if $totals.time.days}{$totals.time.days}D {/if}{$totals.time.hours}:{$totals.time.minutes}:{$totals.time.seconds}</b></td>
		<td><b>${$totals.revenue}</b></td>
	</tr>
{/if}
</form>
</table>
<br />
{/if}
