BODY {
background: #fff;
color: #000;
margin: 0px;
}

A:link {
color: #000;
}

A:visited {
color: #000;
}

A:active {
color: #f00;
}

A:hover {
color: #f00;
}

P {
font: 12px/1.4 verdana, arial, helvetica, sans-serif;
}

DIV {
font: 12px verdana, arial, helvetica, sans-serif;
}

TD {
font: 12px verdana, arial, helvetica, sans-serif;
}

H1 {
font: bold 22px verdana, arial, helvetica, sans-serif;
}

H2 {
font: bold 20px verdana, arial, helvetica, sans-serif;
}

H3 {
font: bold 18px verdana, arial, helvetica, sans-serif;
}

H4 {
font: bold 12px verdana, arial, helvetica, sans-serif;
}

B {
font-weight : bold;
}

UL {
list-style-type: square;
font: 12px/1.4 verdana, arial, helvetica, sans-serif;
}

OL {
list-style-type: decimal;
font: 12px/1.4 verdana, arial, helvetica, sans-serif;
}

LI {
font: 12px/1.4 verdana, arial, helvetica, sans-serif;
}

BLOCKQUOTE {
font: 12px verdana, arial, helvetica, sans-serif;
}

/* */

SELECT {
background-color: #fff;
color: #000;
font: 11px Verdana, Arial;
}

TEXTAREA,.TEXTBOX,.FILE {
background-color: #fff;
border: #666 1px solid;
color: #000;
font: 11px Verdana, Arial;
}

.SUBMIT {
background-color: #e0;
border: #ccc 1px solid;
color: #000;
font: 11px Verdana, Arial;
}

.sig {
color: #000;
font: 11px verdana, arial, helvetica, sans-serif;
}

A.sig:link {
color: #000;
font: 11px verdana, arial, helvetica, sans-serif;
}

A.sig:visited {
color: #000;
font: 11px verdana, arial, helvetica, sans-serif;
}

A.sig:active {
color: #f00;
font: 11px verdana, arial, helvetica, sans-serif;
}

A.sig:hover {
color: #f00;
font: 11px verdana, arial, helvetica, sans-serif;
}

