/* CSS Document */


	A 			{ color: #999966; text-decoration: none; font-weight:bold; } 
	A:link		{ color: #CC6633; text-decoration: none; } 
	A:visited	{ color: #CC6633; text-decoration: none; } 
	A:active	{ color: #CC6633;  } 
	A:hover		{ color: #FF9966;  }
	
.weblog_title	{ 
		font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
		font-size:30px; 
		}
		
a.weblog_title:link {color: white; }
a.weblog_title:visited {color: white; }
a.weblog_title:hover {color: white; }
a.weblog_title:active {color: white; }	
	
.text	{ 
		font-family: verdana, arial;
		font-size:10px; 
		color: #666666;
		line-height:18px;
		}
		
.title	{ 
		font-family: verdana, arial; 
		font-size:10px;
		font-weight:bold; 
		color: #666666;
		}
		
.menu	{ 
		font-family: verdana, arial;
		font-size:10px; 
		color: #666666;
		line-height:18px;
		}		
				
.comments_title	{ 
		font-family: georgia, times, verdana; 
		font-size:12px;
		font-weight:bold; 
		color: #664433;
		text-transform:uppercase; 
		}
		
/* image shadow */		
		
.img-shadow {
  float:left;
  background: url(../images/shadowalpha.png) no-repeat bottom right !important;
  background: url(../images/shadow.gif) no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 5px;
  }

.img-shadow img {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  margin: -6px 6px 6px -6px;
  padding: 4px;
 } 		
		
/* error text */		
		
.good	{ 
		font-family: verdana, arial;
		font-size:10px; 
		color: #99CC33;
		line-height:18px;
		text-align:justify; 
		}		
		
.bad 	{ 
		font-family: verdana, arial;
		font-size:10px; 
		color: #CC0000;
		line-height:18px;
		text-align:justify; 
		}				
		
img.thumbnail-left, img.thumbnail-right { border-left:2px solid #222;
                                         border-top:2px solid #222;
                                         border-bottom:2px solid #666;
                                         border-right:2px solid #666; }

a.info{
    position:relative; /*this is the key*/
    z-index:24; background-color:#ccc;
    color:#000;
    text-decoration:none}

a.info:hover{z-index:25; background-color:#ff0}

a.info span{display: none}

a.info:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:2em; left:2em; width:15em;
    border:1px solid #0cf;
    background-color:#cff; color:#000;
    text-align: center}