#content {
	text-align:center;
	background-color:#FAF8FF;
	color:#000000;
}

#side {
	background-color:#999ACC;
	color:#000000;
}

#top
{
	background-color:#999ACC;
	color:#000000;
}

#bottom {
	text-align:center;
	font-size: x-small;
	clear:both;
	background-color:#999ACC;
	color:#ffffff;
}

#logo {
	clear:both;
	text-align:center;
	background-color:#999ACC;
	color:#FFFF00;
}

#copyright {
	text-align:center;
	font-size: x-small;
	clear:both;
	background-color:#F6FDFF;
	color:#003366;
}

body {
	background-color:#FAF8FF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

a:link {
 color:#013EBF;
}

a:visited{
 color:#013EBF;
}


a:active {
 color:#137DBB;
}

a:hover {
 color:#656795;
}

a:link.navlink {
 color:#ffffff;	
 text-align:center;
 background-color:#999ACC;
}

a:visited.navlink {
 color:#ffffff;
  text-align:center;
 background-color:#999ACC;
}

a:hover.navlink {
 color:#ffffff;
  text-align:center;
 background-color:#656795;
 border: 1px solid #000000;
}

h1 {
 color:#4066CC;
 text-align:center;
}

h2 {
 color:#007FFF;
 table-align:center;
}

h3 {
 color:#110091;
 text-align:center;
}

th {
 color:#ffffff;
 text-align:center;
 font-size:20px;
 background-color:#6364A8;	
}

p {text-align:left;}

li {text-align:left;}

table.bg {
	background-color: #ACBBC6;
}

.row1
{
	background-color: #FAF8FF;
}

.description
{
	font-size:12px;
}

.button {
  font-family      : Verdana, Arial, Helvetica, sans-serif;
  font-style       : normal;
  font-size        : 10px;
  font-weight      : bold;
  background-color : #d2d2ff;
  color            : #000000;
  border           : 1px solid #373152;
}

.inputbox {
  font-family      : Verdana, Arial, Helvetica, sans-serif;
  font-size        : 10px;
  color            : #000000;
  background-color : #d2d2ff;
  border           : 1px solid #373152;
}