BODY {
        COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; FONT-SIZE: 10pt
}
P {
        COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; FONT-SIZE: 10pt
}
H1 {
        COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; FONT-SIZE: 14pt; COLOR: #000080
}
H2 {
        COLOR: black; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 13pt;         FONT-WEIGHT: bold; COLOR: #0066ff
}

.TDHeader {
        BACKGROUND-COLOR: #e0e0e0;
}
.TDHeaderText {
        FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 11pt;         FONT-WEIGHT: bold; COLOR: #880000
}
.TDRow {
        BACKGROUND-COLOR: #f0f0f0;
}
.TDRowText {
        FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 10pt;
}
.MenyItem {
        COLOR: black; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; MARGIN-LEFT: 5px; PADDING-LEFT: 5px;
}
.MenyRubrik {
        COLOR: black; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold;
}
