body 	
{
	color:#000000;
	font-family:Verdana;
	font-size:10px;
	background-color: #ECECEC;
	SCROLLBAR-FACE-COLOR: #ECECEC;
	SCROLLBAR-HIGHLIGHT-COLOR: #1f2f3f;
	SCROLLBAR-SHADOW-COLOR: #1f2f3f;
	SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-ARROW-COLOR:  #000000;
	SCROLLBAR-TRACK-COLOR: #ECECEC;
	SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF;
}
a {
	font-family: verdana;
	text-decoration: none;
}
a:link { color:#000000;}
a:visited { color:#000000;}
a:hover {color:#1f2f3f;text-decoration: underline;}
a:active { color:#000000;}

.inputs {
	FONT-SIZE: 10px; 
	BORDER: solid 1px #1f2f3f; 
	COLOR: #000000; 
	FONT-FAMILY: verdana; 
	BACKGROUND-COLOR: #FFFFFF;
}
hr {
	color: #1f2f3f;
}