A
{
   FONT-SIZE: 12px;
   COLOR: Red;
   FONT-FAMILY: Verdana;
   TEXT-DECORATION: None;
}

A:visited
{
   FONT-SIZE: 12px;
   COLOR: Red;
   FONT-FAMILY: Verdana;
   TEXT-DECORATION: None;
}

A:hover
{
   FONT-SIZE: 12px;
   COLOR: Green;
   FONT-FAMILY: Verdana;
   TEXT-DECORATION: None;
}

A.small
{
   FONT-SIZE: 9px;
   COLOR: Red;
   FONT-FAMILY: Verdana;
   TEXT-DECORATION: None;
}

A.small:visited
{
   FONT-SIZE: 9px;
   COLOR: Red;
   FONT-FAMILY: Verdana;
   TEXT-DECORATION: None;
}

A.small:hover
{
   FONT-SIZE: 9px;
   COLOR: Green;
   FONT-FAMILY: Verdana;
   TEXT-DECORATION: None;
}

A.menulink
{
   FONT-SIZE: 11px;
   FONT-FAMILY: Verdana;
   TEXT-DECORATION: None;
}

A.menulink:visited
{
   FONT-SIZE: 11px;
   FONT-FAMILY: Verdana;
   TEXT-DECORATION: None;
}

A.menulink:hover
{
   FONT-SIZE: 11px;
   FONT-FAMILY: Verdana;
   TEXT-DECORATION: None;
}

A.topmenulink
{
   FONT-SIZE: 13px;
   FONT-FAMILY: Verdana;
}

A.topmenulink:visited
{
   FONT-SIZE: 13px;
   FONT-FAMILY: Verdana;
}

A.topmenulink:hover
{
   FONT-SIZE: 13px;
   FONT-FAMILY: Verdana;
}

A.rightcol
{
   FONT-SIZE: 10px;
   COLOR: #300030;
   FONT-FAMILY: Verdana;
   TEXT-DECORATION: Underline;
}

A.rightcol:visited
{
   FONT-SIZE: 10px;
   COLOR: #A000A0;
   FONT-FAMILY: Verdana;
   TEXT-DECORATION: Underline;
}

A.rightcol:hover
{
   FONT-SIZE: 10px;
   COLOR: #700070;
   FONT-FAMILY: Verdana;
   TEXT-DECORATION: Underline;
}

A.heading
{
   FONT-SIZE: 24px;
   COLOR: Blue;
   FONT-FAMILY: Verdana;
}

A.heading:visited
{
   FONT-SIZE: 24px;
   COLOR: Blue;
   FONT-FAMILY: Verdana;
}

A.heading:hover
{
   FONT-SIZE: 24px;
   COLOR: Green;
   FONT-FAMILY: Verdana;
}

TD
{
   FONT-SIZE: 12px;
   COLOR: Black;
   FONT-FAMILY: Verdana;
   BACKGROUND-IMAGE: NONE;
}

H1
{
   FONT-SIZE: 20px;
   COLOR: FFFFFF;
   FONT-FAMILY: Verdana;
}

.header
{
   FONT-SIZE: 24px;
   COLOR: Blue;
   FONT-FAMILY: Verdana;
}

.rcolheader
{
   FONT-SIZE: 18px;
   COLOR: Yellow;
   FONT-FAMILY: Verdana;
}

.teaserheader
{
   FONT-SIZE: 24px;
   COLOR: Black;
   FONT-FAMILY: Verdana;
}

.headercontent
{
   FONT-SIZE: 12px;
   COLOR: #FFFFFF;
   FONT-FAMILY: Verdana;
}

.teaserheadercontent
{
   FONT-SIZE: 12px;
   COLOR: #FFFFFF;
   FONT-FAMILY: Verdana;
}

.rcolheadercontent
{
   FONT-SIZE: 12px;
   COLOR: #FFFFFF;
   FONT-FAMILY: Verdana;
}

.tablecontent
{
   FONT-SIZE: 12px;
   COLOR: Black;
   FONT-FAMILY: Verdana;
}

.teasercontent
{
   FONT-SIZE: 12px;
   COLOR: Black;
   FONT-FAMILY: Verdana;
}

.rcolcontent
{
   FONT-SIZE: 10px;
   COLOR: Blue;
   FONT-FAMILY: Verdana;
}

.tablecontentfooter
{
   FONT-SIZE: 9px;
   COLOR: Black;
   FONT-FAMILY: Verdana;
}

.teasercontentfooter
{
   FONT-SIZE: 9px;
   COLOR: Black;
   FONT-FAMILY: Verdana;
}

.menu
{
   FONT-SIZE: 12px;
   COLOR: #FFFFFF;
   FONT-FAMILY: Verdana;
   BACKGROUND-COLOR: White;
}

.topmenu
{
   FONT-SIZE: 12px;
   COLOR: #FFFFFF;
   FONT-FAMILY: Verdana;
   BACKGROUND-COLOR: LightBlue;
}

.helptext
{
   FONT-SIZE: 10px;
   COLOR: Gray;
   FONT-FAMILY: Verdana;
}

.menuback
{
   MARGIN: 0;
   FONT-SIZE: 12px;
   COLOR: #FFFFFF;
   FONT-FAMILY: Verdana;
   BACKGROUND-COLOR: White;
}

.topmenuback
{
   MARGIN: 0;
   FONT-SIZE: 12px;
   COLOR: #FFFFFF;
   FONT-FAMILY: Verdana;
   BACKGROUND-COLOR: LightBlue;
}

.topback
{
   MARGIN: 0;
   FONT-SIZE: 12px;
   COLOR: #FFFFFF;
   FONT-FAMILY: Verdana;
   BACKGROUND-COLOR: White;
}

.mainback
{
   MARGIN: 0;
   FONT-SIZE: 12px;
   COLOR: #FFFFFF;
   FONT-FAMILY: Verdana;
   BACKGROUND-COLOR: White;
}

.sep_column
{
   BACKGROUND-REPEAT : REPEAT-Y;
   BACKGROUND : URL(../../sites/Site1/contentimage/column_separator.gif);
}
