A
{
    FONT-SIZE: 13px;
    COLOR: White;
    FONT-FAMILY: sans-serif;
    TEXT-DECORATION: none;
}
A:visited
{
    FONT-SIZE: 13px;
    COLOR: White;
    FONT-FAMILY: sans-serif;
    TEXT-DECORATION: none;
}
A:hover
{
    FONT-SIZE: 13px;
    COLOR: Red;
    FONT-FAMILY: sans-serif;
    TEXT-DECORATION: none;
}

A.small
{
    FONT-SIZE: 10px;
    COLOR: White;
    FONT-FAMILY: sans-serif;
    TEXT-DECORATION: none;
}
A.small:visited
{
    FONT-SIZE: 10px;
    COLOR: White;
    FONT-FAMILY: sans-serif;
    TEXT-DECORATION: none;
}
A.small:hover
{
    FONT-SIZE: 10px;
    COLOR: Red;
    FONT-FAMILY: sans-serif;
    TEXT-DECORATION: none;
}
BODY
{
    FONT-SIZE: 13px;
    COLOR: #FFFFFF;
    FONT-FAMILY: sans-serif;
    BACKGROUND-COLOR: #000000;
}
TD
{
    FONT-SIZE: 13px;
    COLOR: #FFFFFF;
    FONT-FAMILY: sans-serif;
}
H1
{
    FONT-SIZE: 20px;
    COLOR: #FFFFFF;
    FONT-FAMILY: sans-serif;
}
.header
{
    FONT-SIZE: 18px;
    COLOR: #ACC2DE;
    FONT-FAMILY: sans-serif;
}
.tablecontent
{
    FONT-SIZE: 13px;
    COLOR: #FFFFFF;
    BACKGROUND-COLOR: #505050;
    FONT-FAMILY: sans-serif;
}
.menu
{
    FONT-SIZE: 13px;
    COLOR: #FFFFFF;
    BACKGROUND-COLOR: #6C706D;
    FONT-FAMILY: sans-serif;
}
.headercontent
{
    FONT-SIZE: 13px;
    COLOR: #FFFFFF;
    BACKGROUND-COLOR: #6C000D;
    FONT-FAMILY: sans-serif;
}
