<table width="100%" border="0" cellspacing="1" cellpadding="0">
 <tr>
  <td>
   <table width="100%">
    <tr>
     <td><h3>##LNG['_PAGE_TITLE']##</h3></td>
     <td nowrap width="1%" valign="top" align="right">##ADM_PATH##</td>
    </tr>
   </table>
  </td>
 </tr>
 <tr>
  <td> 

   <form name="frm" method="post" action="##REQUEST_URI##">
   <table class="txt12" width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="#999999" align="center">
    <tr class="tha">
     <th>##LNG['_TBL_SETT_DESCR']##</th>
     <th>##LNG['_TBL_SETT_VALUE']##</th>
    </tr>
    <!-- SETTINGS -->

    <tr class="row##[row-1-2]##">
     <td valign="top">
       ##LNG['_SETT_EN_M_TF']##<br />
     </td>
     <td><input type="checkbox" name="EN_M_TF" value="1" ##EN_M_TF## /></td>
    </tr>

    <tr class="row##[row-1-2]##">
     <td valign="top">
       ##LNG['_SETT_FR_NUM']##<br />
     </td>
     <td><input name="FR_NUM" value="##FR_NUM##" style="width:50px" /></td>
    </tr>

    <tr class="row##[row-1-2]##">
     <td valign="top">
       ##LNG['_SETT_SYMBOL_LIMIT']##<br />
     </td>
     <td><input name="SYMBOL_LIMIT" value="##SYMBOL_LIMIT##" style="width:50px" /></td>
    </tr>

    <!-- /SETTINGS -->
    <tr class="row##[row-1-2]##">
     <td>&nbsp;</td>
     <td width="1%"><input type="submit" name="go" value="##LNG['_BTN_UPDATE']##" /></td>
    </tr>
   </table>
   </form>

  </td>
 </tr>
</table>