.toprows {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #3939D6;
	font-size: 12px;
	text-align: center;

}
body {
	font-family: verdana;
	font-size: 12px;
}
.grayrows {
	font-size: 12px;
	text-align: center;
	background-color: #CCCCCC;
}
.normalrow {
	font-size: 12px;
	text-align: center;
	background-color: #EFEFEF;

}
.menu {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #0000FF;

}
.buttons {
	font-family: verdama;
	font-size: 14px;
	font-weight: bold;
}

body {
	font-family: verdana;
}
A:link {text-decoration: underline; color: #000000;}
A:visited {text-decoration: underline; color: #000000;}
A:active {text-decoration: underline; color: #000000;}
A:hover {text-decoration: none; color: red;}
.traderow {

	font-size: 12px;
	text-align: center;
}
.toprowssmall {

	font-weight: bold;
	color: #FFFFFF;
	background-color: #0000CE;
	font-size: 10px;
	text-align: center;
}
.normalrowsmall {

	font-size: 10px;
	text-align: center;
	background-color: #EFEFEF;
}
