body,td,p {
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 11px;
	fontsize: 12px;
}

.formtext {
	BACKGROUND-COLOR: #eeeeee; 
	BORDER-BOTTOM: #ff0000 2px solid; 
	BORDER-LEFT: #ff0000 2px solid; 
	BORDER-RIGHT: #ff0000 2px solid; 
	BORDER-TOP: #ff0000 2px solid; 
	padding-top: 1;
	padding-bottom: 1;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 10px;
	font-weight: bold;
}

.formtext1 {
	width: 100%;
}

.small {
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 9px;
	fontsize: 11px;
}