A {
	COLOR: #0066cc
}
A:hover {
	COLOR: #ff3300
}
A.toc {
	COLOR: #000000; TEXT-DECORATION: none
}
A.toc:hover {
	COLOR: #ff3300; TEXT-DECORATION: none
}
A.HeaderBlack {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #000000; LINE-HEIGHT: 25px; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-DECORATION: none
}
A.Header {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; LINE-HEIGHT: 25px; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-DECORATION: none
}
A.MENU {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-DECORATION: none
}
A.MENU:hover {
	COLOR: #fdd8aa; TEXT-DECORATION: none
}
A.MENU1 {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-DECORATION: underline
}
A.MENU1:hover {
	FONT-SIZE: 10px; COLOR: #000000; TEXT-DECORATION: none
}
A.MENU2 {
	FONT-SIZE: 10px; COLOR: #c0c0c0; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-DECORATION: underline
}
A.MENU2:hover {
	COLOR: #c0c0c0; TEXT-DECORATION: none
}
.MENUITEM {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; VERTICAL-ALIGN: middle; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica
}
.MENUITEM1 {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica
}
.MENUITEM2 {
	FONT-SIZE: 10px; VERTICAL-ALIGN: middle; COLOR: #c0c0c0; FONT-FAMILY: Verdana, Arial, Helvetica
}
.BodyStyle {
	FONT-SIZE: 68%; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana, Arial, Helvetica
}
A.BodyStyle {
	FONT-SIZE: 68%; COLOR: #0066cc; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana, Arial, Helvetica
}
A.BodyStyle:hover {
	FONT-SIZE: 68%; COLOR: #ff3300; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana, Arial, Helvetica
}
.SupStyle {
	FONT-SIZE: 85%; FONT-FAMILY: Verdana, Arial, Helvetica
}
.Header {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; LINE-HEIGHT: 25px; FONT-FAMILY: Verdana, Arial, Helvetica
}
.Header2 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; LINE-HEIGHT: 19px; FONT-FAMILY: Verdana, Arial, Helvetica
}
.Header3 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; FONT-FAMILY: Verdana, Arial, Helvetica
}
.SmallHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; LINE-HEIGHT: 25px; FONT-FAMILY: Verdana, Arial, Helvetica
}
TABLE.s1 {
	MARGIN-TOP: 1em; FONT-SIZE: 100%; MARGIN-BOTTOM: 0em
}
TH.s1 {
	BACKGROUND: #dddddd; MARGIN: 0.25em; VERTICAL-ALIGN: bottom; TEXT-ALIGN: left
}
TR.s1 {
	VERTICAL-ALIGN: top
}
TD.s1 {
	MARGIN: 0.25em; VERTICAL-ALIGN: top
}
A.Bottom {
	FONT-WEIGHT: normal; COLOR: #bbbbbb; TEXT-DECORATION: none
}
A.Bottom:hover {
	FONT-WEIGHT: normal; COLOR: #ff0000; TEXT-DECORATION: none
}
.BodyStyle2 {
	FONT-SIZE: 17px; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Arial, Helvetica
}
.NewsStyle {
	FONT-SIZE: 63%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica
}
A.NewsStyle {
	FONT-WEIGHT: normal; FONT-SIZE: 100%; COLOR: #0066ee; TEXT-DECORATION: none
}
.FootStyle {
	PADDING-RIGHT: 15px; FONT-SIZE: 55%; COLOR: #bbbbbb; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana, Arial, Helvetica
}
.prevnext {
	FONT-WEIGHT: normal; COLOR: #bbbbbb; TEXT-DECORATION: none
}
A.prevnext {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: none
}
A.prevnext:hover {
	FONT-WEIGHT: normal; COLOR: #ff0000; TEXT-DECORATION: none
}
