a { color:#0000ff; }

A:link, A:visited, A:active {
	COLOR: color:#0000ff;
                font-weight: bold;
                TEXT-DECORATION: none;
}



A:hover {
	color:#ff0000;
	TEXT-DECORATION: underline;
}


select, input, textarea, option {
	font-size: 10px;
	font-family: Arial,Helvetica,sans-serif;
	background-color: #E5EEFF;
  	padding-top: 0px; padding-right: 0px;
 	padding-bottom: 0px; padding-left: 0px;
 	margin-bottom: 0px; border: #000000;
 	border-style: outset;
 	border-top-width: 1px;
 	border-right-width: 1px;
 	border-bottom-width: 1px;
 	border-left-width: 1px;
}

body {
				font-family:Verdana,Arial, Tahoma;
				font-size:9pt;
				scrollbar-face-color: #E5EEFF; 
                scrollbar-shadow-color: #000000; 
                scrollbar-highlight-color: #FFFFFF; 
                scrollbar-3dlight-color: #000000; 
                scrollbar-darkshadow-color: #88B0FF; 
                scrollbar-track-color: #FFFFFF; 
                scrollbar-arrow-color: #000000;
}

td, table {
font-family:Arial, Tahoma, Verdana;
font-size:9pt;
}
