body { margin: 20px; background-color: #F2F2F2; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }
table { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }
input, textarea, select { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }


a:link, a:visited, a:active { text-decoration: underline; color: #000000; }
a:hover { text-decoration: none; color: #000000; }


.menusel { font-weight: bold; background-color: #DBB7DB; }
.menunosel { font-weight: bold; background-color: #FFFFFF; }

a.menu:link, a.menu:visited, a.menu:active { text-decoration: none; color: #000000; }
a.menu:hover { text-decoration: underline; color: #000000; }


.formtbl { background-color: #000000; }
table.area { background-color: #000000; }
tr.area { background-color: #FFFFFF; }

.header { font-weight: bold; background-color: #DBB7DB; }
.altfirst { background-color: #F2F2F2; }
.altsecond { background-color: #FFFFFF; }