/* News auf der Startseite */
TD {
	FONT-SIZE: 10pt; COLOR: #339933; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
.newsheadertitel{BACKGROUND-COLOR: #E8E8E8}
.newsheadertitelfont{FONT-WEIGHT: bold; COLOR: #000000;}

/* Tabellen - Formatierung (Schriftart) */
	TABLE,TD,TR,TBODY{
	FONT-SIZE:12px;
	COLOR: #000000;
	FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif;}

/* Formatierung des Seiten-Hintergrundes */
	body{
	margin: 2 2 2 2;
	scrollbar-arrow-color:#000000;
	scrollbar-3dlight-color:#D3D2CF;
	scrollbar-shadow-color:#D3D2CF;
	scrollbar-track-color:#FFFFFF;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE:12px;
	BACKGROUND-COLOR: #FFFFFF;
	}

/* Formatierung Horizontale Linie <hr> */
	HR {COLOR: #f1f1f1; BACKGROUND-COLOR: #999999}

/* Form-Auswahl */
SELECT,OPTION{FONT-SIZE: 12px;FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif;}

/* Font in Headlines, wenn News mit aktuellem Tag identisch */
.heute{FONT-WEIGHT: bold; COLOR: #FF9900;}

/* Hintergrundfarbe Haupt-Tabelle */
.sitebg {BACKGROUND: #ffffff}

/* die 3 Haupt-Tabellenformatierungen, welche berall vorkommen */
.td1 {BACKGROUND-COLOR: #E8E8E8}
.td2 {BACKGROUND-COLOR: #F5F5F5}
.td3 {BACKGROUND-COLOR: #ff9900;COLOR: #FFFFFF}

/* Rahmen und Box  - Login - Logout */
.logboxrahmen {BACKGROUND: #666666}
.logbox {BACKGROUND: #ffffff; COLOR: #000000;}

/* Statistik */
.small {FONT-WEIGHT: normal;COLOR: #000000;FONT-SIZE: 10px;}

a:link,a:visited {color: #000000;font-weight:normal;text-decoration: underline;}
a:hover{color: #000000;font-weight:normal;text-decoration:none;}

A.small:link,A.small:visited{font-weight:normal;color: #000000;text-decoration: none;}
A.small:hover {font-weight:normal;color: #000000;text-decoration:underline;}

A.navi:link,A.navi:visited{font-weight:normal;color: #000000;text-decoration: none;}
A.navi:hover {font-weight:normal;color: #000000;text-decoration:underline;}

A.hell:link,A.hell:visited {color: #FFFFFF;font-weight:bold;text-decoration: none;}
A.hell:hover {color: #FFFFFF;font-weight:bold;text-decoration:underline;}

A.linknav:link,A.linknav:visited  {color: #000000;font-weight:bold;text-decoration: underline;}
A.linknav:hover {color: #FF9900;font-weight:bold;text-decoration:  none;}

/* Formatierung Submit-Buttons */
.button{
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	CURSOR: hand;
	COLOR: #FFFFFF;
	BACKGROUND-COLOR: #5BBC58;
	FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #5BBC58;
	}

/* Formatierung aller Inputfelder */
.kommentarfeld,textarea{
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #666666;
}

/* Hintergrundfarbe Shoutbox */
.shoutbox {BACKGROUND-COLOR: #F5F5F5;}

/* Smilie-Box */
.trenner,.smilieboxheader {
	background-color:#FFFFFF;
	padding-top: 2px;
	margin-top: 2px;
}

/* FORUM */
.post{BACKGROUND-COLOR:#FFFFFF;color:#000000;} /* Erste Spalte der Posts im Forum */
.post2{BACKGROUND-COLOR:#F9F9F9;color:#000000;} /* Zweite Spalte der Posts im Forum */
.posthead{BACKGROUND-COLOR:#FF9900;color:#ffffff;text-decoration:none} /* Zellenkopf der Posts im Forum */
.postfoot{BACKGROUND-COLOR:#DEDEDE;color:#ffffff;text-decoration:none} /* Zellenfuß der Posts im Forum */
.postheadertext{color:#ffffff;text-decoration:none} /* Formatierung Autor */

/* Hintergrundfarbe des Forum */
.forumbg{BACKGROUND-COLOR:#F5F5F5}

/* Obere Navigation Forum */
.bottomtd{BACKGROUND-COLOR:#FFFFFF}

.cell3{BACKGROUND-COLOR:#cccccc}
.cell4{BACKGROUND-COLOR:#D7ECFB}
.fcell{BACKGROUND-COLOR:#FFFFFF}
.fcellfont{FONT-SIZE: 10px;font-weight: bold;color: #000000;}
.ftd2{BACKGROUND-COLOR:#D7ECFB}

.delcell2{BACKGROUND-COLOR:#cccccc}
.delcell{BACKGROUND-COLOR:#F3F3F3}
.created{FONT-SIZE: 10px;color: #000000;}

/* Rahmenfarbe des Forums */
.forumtableborder{BACKGROUND-COLOR:#333333}

/* Sprungemen Forum */
.jumpformmain{FONT-SIZE: 10px;}
.jumpform{FONT-SIZE: 10px}

/* Trenn-Tabelle Forum */
.strip{color: #FFFFFF}
.forenstrip1{BACKGROUND-COLOR:#F5F5F5}

A.strip:link,A.strip:visited  {FONT-SIZE: 10px;line-height:13px;color: #FFFFFF;font-weight:bold;text-decoration: underline;}
A.strip:hover {FONT-SIZE: 10px;line-height:13px;color: #FFFFFF;font-weight:bold;text-decoration:  none;}

A.forum:link,A.forum:visited  {FONT-SIZE: 10px;color: #000000;font-weight:bold;text-decoration: underline;}
A.forum:hover {FONT-SIZE: 10px;color: #000000;font-weight:bold;text-decoration:  none;}

A.forumnav:link,A.forumnav:visited  {color: #FFFFFF;font-weight:bold;text-decoration: underline;}
A.forumnav:hover {color: #FFFFFF;font-weight:bold;text-decoration:  none;}

A.forumprefs:link,A.forumprefs:visited  {FONT-SIZE: 10px;color: #000000;font-weight:bold;text-decoration: underline;}
A.forumprefs:hover {FONT-SIZE: 10px;color: #000000;font-weight:bold;text-decoration:  none;}

A.forumsmall:link,A.forumsmall:visited  {FONT-SIZE: 10px;color: #000000;font-weight:normal;text-decoration: underline;}
A.forumsmall:hover {FONT-SIZE: 10px;color: #000000;font-weight:bormal;text-decoration:  none;}


/* Hervorgebung von Suchergebnissen */
.highlight{color:#CC3300;	background-color: #FFF75E;}
.forumdescr{color:000000;}

/* Linkformatierung Newsticker Startseite */
A.subnav2:link,A.subnav2:visited {
	PADDING-RIGHT: 2px;
	DISPLAY: block;
	PADDING-LEFT: 2px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 2px;
	WIDTH: 100%;
	COLOR: #000000;
	PADDING-TOP: 2px;
	BACKGROUND-COLOR: #ffffff;
	TEXT-DECORATION: none;
	}
	
	A.subnav2:hover {
	PADDING-RIGHT: 2px;
	DISPLAY: block;
	PADDING-LEFT: 2px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 2px;
	WIDTH: 100%;
	COLOR: #ff9900;
	PADDING-TOP: 2px;
	BACKGROUND-COLOR: #f9f9f9;
	TEXT-DECORATION: none;
	}
	
/* Navigation Pre und Reviews Seite 1,2... */
.navaktseite {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 2px;
	WIDTH: 10px;
	COLOR: #ffffff;
	border:1px solid #000000;
	PADDING-TOP: 2px;
	BACKGROUND-COLOR: #ff9900;
	TEXT-DECORATION: none;}

a.navaktseite:link,a.navaktseite:visited{
{
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 2px;
	WIDTH: 10px;
	COLOR: #000000;
	border:1px solid #000000;
	PADDING-TOP: 2px;
	BACKGROUND-COLOR: #ffffff;
	TEXT-DECORATION: none;
}
a.navaktseite:hover{
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 2px;
	WIDTH: 10px;
	COLOR: #000000;
	border:1px solid #000000;
	PADDING-TOP: 2px;
	BACKGROUND-COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}

/* Links Navigation */
A.subnav:link,A.subnav:visited {
	PADDING-RIGHT: 2px;
	DISPLAY: block;
	PADDING-LEFT: 10px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 2px;
	WIDTH: 100%;
	COLOR: #000000;
	PADDING-TOP: 2px;
	BACKGROUND-COLOR: #cccccc;
	TEXT-DECORATION: none;
	}
	
	A.subnav:hover {
	PADDING-RIGHT: 2px;
	DISPLAY: block;
	PADDING-LEFT: 10px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 2px;
	WIDTH: 100%;
	COLOR: #FFFFFF;
	PADDING-TOP: 2px;
	BACKGROUND-COLOR: #FF9900;
	TEXT-DECORATION: none;
	}
	
/* Formatierung Schrift der berschriften */	
.titel{
	FONT-SIZE: 10px;
	color: #000000;
	font-weight: bold;
	padding-left: 3px;
}
#
