	BODY				{ font-family: Verdana, Helvetica, Tahoma; font-size: 11px; 
		}
		.s*dd{
  scrollbar-face-color: #FFFFFF;
  scrollbar-shadow-color: #787878;
  scrollbar-highlight-color: #787878;
  scrollbar-3dlight-color: #FFFFFF;
  scrollbar-darkshadow-color: #FFFFFF;
  scrollbar-track-color: #E2E2E3;
  scrollbar-arrow-color: #787878;
}
		
	TABLE,td,input,select,option		{ font-family: Verdana,Arial,Verdana, Helvetica, Tahoma; font-size: 11px; 	}
	a:link,a:visited	{ color: #000000;text-decoration:underline }
	a:hover				{ color: #000000; text-decoration:none }
	form				{ display:inline }
	
	textarea {background-color:#fff;font-size:12px;font-color:#4F2E00;font-family:Verdana,Arial,Courier, mono;}
	.feld {font-family:Verdana, Arial, Helvetica, sans-serif;font-size: 12px;}
	
	.boxstandart		{font-size: 11px; font-family: Verdana, Arial, Arial, Helvetica, sans-serif; background-image: url(/p4cms/gfx/main/bgbox.gif);background-color:#F4F5F7; }
	.boxstandartborder	{background-color:#000000}
	.boxtextfeld		{background-color:#D0D0D0}
	.boxheader			{background-color:#EAEBEE;}
	
	.struktur {
	background-image: url(gfx/main/bgbody.gif);
	background-repeat: repeat;
}
	.dtree {
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 11px;
		color: #666;
		white-space: nowrap;
	}
	.dtree img {
		border: 0px;
		vertical-align: middle;
	}
	.dtree a {
		color: #333;
		text-decoration: none;
	}
	.dtree a.node, .dtree a.nodeSel {
		white-space: nowrap;
		padding: 1px 2px 1px 2px;
		text-decoration: none;
	}
	.dtree a.node:hover, .dtree a.nodeSel:hover {
		color: #000;
		text-decoration: underline;
	}
	.dtree a.nodeSel {
		background-color: ;
		font-style:italic;
		text-decoration: none;
	}
	.dtree .clip {
		overflow: hidden;
	}


a.navaktseite:link,a.navaktseite:visited{
{
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 2px;
	WIDTH: 10px;
	COLOR: #000000;
	border:1px solid #000000;
	PADDING-TOP: 2px;
	BACKGROUND-COLOR: #ffffff;
	TEXT-DECORATION: none;
}
a.navaktseite:hover{
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 2px;
	WIDTH: 10px;
	COLOR: #000000;
	border:1px solid #000000;
	PADDING-TOP: 2px;
	BACKGROUND-COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}

	.buttond { cursor:hand; border:1px solid #000000; BACKGROUND-COLOR: DDDDDD; COLOR: #000000;
	border-top:1px solid #fff;
	border-left:1px solid #fff;}
	
	.button		{
	cursor:hand;
	border: 1px solid #D4D6DD;
	background-color: #EAEBEE;
}
	.inputfield { background-color:#fff } 

A.subnav:link,A.subnav:visited {
	PADDING-RIGHT: 2px;
	DISPLAY: block;
	PADDING-LEFT: 10px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 13px;
	PADDING-BOTTOM: 4px;
	WIDTH: 100%;
	COLOR: #000000;
	PADDING-TOP: 4px;
	BACKGROUND-COLOR: #F4F5F7;
	TEXT-DECORATION: none;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	}
	
	A.subnav:hover {
	PADDING-RIGHT: 2px;
	DISPLAY: block;
	PADDING-LEFT: 10px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 13px;
	PADDING-BOTTOM: 4px;
	WIDTH: 100%;
	COLOR: #000000;
	PADDING-TOP: 4px;
	BACKGROUND-COLOR: #FFF7ED;
	TEXT-DECORATION: none;
		border-top:1px solid #fff;
	border-left:1px solid #fff;
	}
	