
BODY 
{ 
background-color: #093D83;
}

a:link  	
{
	text-decoration: none;
	font-family: Verdana;
	color: #FFFFFF;
}

a:hover		
{
	text-decoration: underline;
	color: #FFFFFF;
}

a:visited  	
{
	font-family: Verdana;
	text-decoration: none;
	color: #FFFFFF;
}

td.popup
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #093D83;
} 
