A:link {
	COLOR: #006699;
}
A:visited {
	COLOR: #006699;
}
A_old:visited {
	COLOR: #cc6633;
}
A:hover {
	COLOR: #ff9900;
}
A:active {
	COLOR: #3b84ac;
}
.footer {
	FONT-SIZE: 60%; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.search {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #3b84ac;
}
.pageTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #3b84ac;
}
.bodyBlock {
	BORDER: #c0dbe9 1px solid; FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff;
}
.linksBlock {
	FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.selectBlock {
	BORDER: #000000 1px solid; FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.counterBlock {
	FONT-SIZE: 100%; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
BODY {
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.tabCell {
	border: thin solid #3b84ac; FONT-WEIGHT: bold; FONT-SIZE: 80%; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;  BACKGROUND-COLOR: #FFFFFF;
}
.tabSelected {
	border-top: thin solid #3b84ac; border-right: thin solid #3b84ac; border-bottom: thin none #3b84ac; border-left: thin solid #3b84ac; FONT-WEIGHT: bold; FONT-SIZE: 80%; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffcc;
}
.tabSpace {
	border-bottom-width: thin; border-bottom-style: solid; border-bottom-color: #3b84ac;
}
.entryHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #D5D5D5;
}
.entryBody {
	FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #E5E5E5;
}
.marquee {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #D5D5D5;
}

