/* Be Kind to Netscape 4.x */
body {
   font-family: Verdana, sans-serif;
}
p, td, ol, ul, li, dl, dt, dd {
   font-family: Verdana, sans-serif;
}

.hide {
   display: none;
}

body  { color: #663300;
   background-color: #ffffff;
   font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
   font-size: 90%;
   margin-top: -1px;
   margin-left: -1px;
   margin-right: -1px;
   margin-bottom: 4px;
}

a:link { color: #999966;
   font-weight: bold;
   text-decoration: none;
}

a:visited  { color: #999966;
   font-weight: bold;
   text-decoration: none;
}

a:active  { color: #999966;
   font-weight: bold;
   text-decoration: none;
}

td.content  { color: #663300;
   background-color: #ffffff;
   font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
   font-size: 90%;
   vertical-align: top;
}

td.mandatory { color: #aa0000;
   background-color: #ffffff;
   font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
   font-size: 90%;
   vertical-align: top;
}

td.menu  { color: #ffffff;
   background-color: #996633;
   font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
   font-size: 80%;
   vertical-align: top;
}

td.darkbg  { color: #ffffff;
   background-color: #999966;
   font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
   font-size: 90%;
   vertical-align: top;
}

td.lightbg  { color: #ffffff;
   background-color: #cccc99;
   font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
   font-size: 90%;
   vertical-align: top;
}

td.brownline  { color: #996633;
   background-color: #996633;
   font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
   font-size: 25%;
   vertical-align: top;
}

td.whiteline  { color: #ffffff;
   background-color: #ffffff;
   font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
   font-size: 25%;
   vertical-align: top;
}

td.greenline  { color: #999966;
   background-color: #999966;
   font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
   font-size: 25%;
   vertical-align: top;
}

td.spotheader  { color: #ffcc00;
   background-color: #999966;
   font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
   font-size: 90%;
   font-weight: bold;
   vertical-align: top;
}

td {
   vertical-align: top;
}

font.copyright { color: #663300;
   font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
   font-size: 80%;
}


/* Images */
img {
/*   display: block; - should have this enabled for all but admin links and whybox.tpl */
   border: 0;
}

img.be-wikiimage {
   display: block;
   border: 0;
}

img.thumbnail {
   display: block;
   border: 0;
}


/* Sidebars */
.sidebarLink {
   font-weight: bold;
   font-size: 70%;
}
ul.sidebar, li.sidebar {
   font-size: 70%;
   list-style-type:square;
   text-indent: 0;
   margin: 1px;
   marign-left: 1px;
   padding-left: 1px;
}


/* Errors */
.error {
}


/* Admin elements */
.formrow {
}

.form_select {
}

.form_input {
}

.label {
   float: left; width: 80%; text-align: left; font-size: 11px
}

.loginblock {
}


/* Calendar */
.emptyContent {
}

.todaysContent {
}

li.row0 {
}

li.row1 {
}


/* History */
.be-history-added {
}

.be-history-kept {
}

.be-history-removed {
}



/* Navigation */
.javascriptDD {
}

li.navbar {
   color: #ffffff;
   background-color: #996633;
   font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
   font-size: 12px;
   vertical-align: top;
   display: inline;
   list-style-type: none;
   padding-right: 12px;
}
a.navbar { color: #ffffff;
   font-weight: bold;
   text-decoration: none;
   background-color: #996633;
   font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
   font-size: 12px;
}
a.navbar:link { color: #ffffff;
   font-weight: bold;
   text-decoration: none;
   vertical-align: top;
}
a.navbar:visited  { color: #ffffff;
   font-weight: bold;
   text-decoration: none;
   vertical-align: top;
}
a.navbar:active  { color: #ffffff;
   font-weight: bold;
   text-decoration: none;
   vertical-align: top;
}
a.navbar:hover  { color: #ffffff;
   font-weight: bold;
   text-decoration: underline;
   display: inline;
}

li.navbarFooter {
   display: inline;
   list-style-type: none;
   padding-right: 10px;
}

li.navbarBlock {
 padding-left: 0;
margin-left: 0;
float: left;
   display: inline;
   list-style-type: none;
   padding-right: 5px;
}

li.navbarBlockh {
 padding-left: 0;
margin-left: 0;
float: left;
   display: inline;
   list-style-type: none;
   padding-right: 5px;
}


/* General content display */
.content {
}

.admincontent {
}

.draft {
   font-weight: bold;
   color: #A9A9A9;
}

.breadcrumb {
}

/* Other */
small.gray {
}
