.float2, .float3, .float5, .float6, .float10, .float15, .float20, .float25, .float30, .float35, .float55, .float60	{font-size: 14px}
#adminmenu li, #adminmenu ul {font-size: 12px}
#top h4 {padding-top: 30px; font-size: 40px; font-weight: 800;}
#left h3, #right h3, #spotlight h3 { font-size: 14px}
#left ul, #left li, #right ul, #right li {font-size: 13px; margin-top: 2px; margin-left: 6px; padding-left: 1px; }
#middle li, #middleandright li {font-size: 14px; margin-left: 12px; padding-left: 2px}
#navbar ul { margin:0; padding:0; list-style:none; font-size: 14px; }
#navbarblock ul {	margin:0; padding:0; list-style:none; font-size: 12px; }
#breadcrumb {font-size: 13px; }
#sectionnav { font-size: 11px;	height: 13px;}
#titlebar {font-size: 14px; }
#sitecredits { text-align: right; font-size: 11px; margin-top: 50px;}
#subsectionlist h3, #middle .box h3 { font-size: 16px }                 
p, .blurb, .commentbody {	font-size: 14px; line-height: 22px	}
.commentfooter {font-size: 11px}
pre {font-size: 14px;	line-height: 22px;	}
h1 {font-size: 26px;}
h2 {font-size: 20px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}
div.row span.input, div.rowcontent span.input, div.rowrestrict2members span.input, div.rowhiddenText span.input {  font-size: 13px  }
div.row span.inputrev {font-size: 13px}
div.row span.label, div.rowrestrict2members span.label, div.rowhiddenText span.label, div.rowcontent span.label {font-size: 13px }
div.row span.labelrev {font-size: 13px}
table {font-size: 13px}
div#geekcred {font-size: 14px;}
#left, #right {top: 140px}
