/* color scheme
#C4DBE9 base color
#E8F4FB lighter blue
#386C84 darker blue
#885965 purply brown
#ECD1D7 light purply brown
#5D6A48 olive
#FBF0E9 light beige
#FDEEF1 lightest pink
*/


.box { padding: 5px; margin: 5px; }

.calendar_block0, calendar_block1 {}
div.calendar_block0, div.calendar_block1 {border-top: 1px solid silver; padding-top: 2px}

.error {color: red}

.helpref {float: right}
.newIcon, .editIcon, .viewIcon, .deleteIcon, .helpIcon {display: none}

.tableheader  {background-color: silver}
#adminmenu {display: none}
#adminmenu li, #adminmenu ul {display: none}
#article {margin: 5%; }

#top {	margin: 0;
	border: 0px;
	background: #ccc url(../images/frostbg.jpg) no-repeat 50% 50% ;
	height: 130px;}

#top a:link, #top a:visited {color: #fff; text-transform: none}
#top a:hover {color: #000}
#top h4 {font-size: 40px; line-height: 40px;font-weight: 900; padding-top: 30px; padding-left: 20px; margin: 0; color: #fff;
         font-family: "Arial Black", "Arial Bold", sans-serif}
#top ul, #top li {display: inline}

#left, #right {display: none}
#left {display: none}
#right {display: none}

#left h3, #right h3, #spotlight h3 { background-color: #3f7282; color: #fff; margin: 0px; padding: 3px; font-size: 12px}
#left ul, #left li, #right ul, #right li {font-size: 11px; margin-top: 2px; margin-left: 6px; padding-left: 1px; }
#left h3 a, #right h3 a {color: #fff}
#middle, #middleandright { background: #fff; position: relative;
   width: auto; margin: 0 5%; padding: 0; border: 0; float: none !important; color: black; background: transparent none;
}

#middleandright {margin-right: 0px}

#middle li, #middleandright li {font-size: 12px; margin-left: 12px; padding-left: 2px}

/* For Print Friendly, DON'T split the two main chunks of the content of any
 * section or article into main content and sidebar
 */

#content { }

/* includes broken values to make the layout work with MSIE's float bug */
#content_sidebar {display: none}

/* hack to feed proper values to standards-compliant browsers */
div#middle>div#content_sidebar {display: none}

/* these rules switch off content-sidebar thing for sections/applications that don't use it */

body#admin div#content_sidebar, body#polls div#content_sidebar, body#search div#content_sidebar, body#links div#content_sidebar,
body#events div#content_sidebar, body#services div#content_sidebar, body#petitions div#content_sidebar,
body#feedback div#content_sidebar, body#sitemap div#content_sidebar, body#about div#content_sidebar, body#BE_SECTION div#content_sidebar,
body#comment div#content_sidebar, body#Petitions div#content.sidebar {display: none}

body#admin div#content, body#polls div#content, body#search div#content, body#links div#content,body#events div#content,
body#services div#content, body#petitions div#content, body#feedback div#content, body#sitemap div#content,
body#about div#content, body#BE_SECTION div#content, body#comment div#content, body#Petitions div#content {display: none}

#navbar {display: none}
#navbar a {display:none}
#navbar li {display: none}
#navbar ul {display: none}

 /* { border: 1px solid silver; padding: 3px } */
/* body>div#actionbuttons { position: fixed; } */

#navbarblock {display: none}

body>#navbarblock{display: none}

#navbarblock a {display: none}
#navbarblock li {display: none}
#navbarblock ul {display: none}

#breadcrumb { background-color: #386C84; padding: 5px 10px 5px 10px; color: #eee; font-size: 11px; line-height: 11px; text-transform: lowercase;}
#breadcrumb a {color: white}

#searchbox {display: none}

#sectionnav {display: none}
#sectionnav ul, #sectionnav li {display: none}
#sectionnav ul {display: none}
#sectionnav li {display: none}
#sectionnav a {display: none}

#spotlightblock {border: 1px solid #885965; width: 140px; padding: 5px; margin: 10px 0px 10px 10px; float: right}
#spotlightblock h3 {font-size: 12px; background-color: #885965; color: #fff; padding: 2px}
#spotlightblock li {list-style-image: url(../images/favicon.gif)}
#titlebar {background-color: silver; color: #885965; padding: 3px; font-size: 12px; text-transform: lowercase; font-weight: bold}

#sitecredits {display: none}

#subsectionlist {display: none}

#subsectionlist h3, #middle .box h3 {display: none}

#subsectionlist ul, #subsectionlist li, #middle .box ul, #middle .box li {display: none}

/* general formatting rules */
a {	text-decoration: underline; color:  #3f7282;	outline: none; }
a:active {	color:  #3f7282;	}
a:hover {	background-color: #FDEEF1;	}
a:visited {	color: #866071 ;	}

body {	margin: 0px; padding: 0px; font-family: arial, geneva, helvetica, sans-serif; font-size: 12pt; color: #000; background-color: #fff;}
p, .blurb, .commentbody {	font-size: 12px; line-height: 22px;	margin: 0px 0px 12px 0px; text-indent: 0px	}
.commentfooter {font-size: 10px}
p+p {text-indent: 12px}
pre {font-size: 12px;	line-height: 22px;	margin-top: 20px;	margin-bottom: 10px; }
strong, b {	font-weight: bold;	}
ul, ol { margin-left: 0; padding-left: 12px}
h1 {font-size: 24px;}
h1 a, h2 a, h3 a, h4 a {text-decoration: none}
h1, h2, h3, h4, h5, h6 {font-family: "Trebuchet MS", verdana, sans-serif; margin-top: 2%; margin-bottom: 0;}
h2 {font-size: 18px;}
h3 {font-size: 16px;}
h4 {font-size: 14px;}
h5 {font-size: 12px;}
h6 {font-size: 10px;}
img {border: 0}

dl {font-size: 12px}

/* these are used for formatting form elements and labels */

/* this lot create labels on the left and form elements on the right like this:
 <div class="row">
 	<span class="label">What we call the form element</span>
 	<span class="input"><input type="whatever" name="yadda" value="yadda"></span>
 <div> */
div.row h3, div.row h2 {border-left: 1px solid #000; border-top: 1px solid #000; padding-left: 3px}
div.row span.input, div.rowcontent span.input, div.rowrestrict2members span.input, div.rowhiddenText span.input {  float: right;  width:78%;  text-align: left; font-size: 11px  }
div.row span.inputrev {float: left; width: 20%; text-align: right; font-size: 11px}
div.row span.label, div.rowrestrict2members span.label, div.rowhiddenText span.label, div.rowcontent span.label {  float: left;  width: 20%;  text-align: right; font-size: 11px }
div.row span.labelrev {float: right; width: 78%; text-align: left; font-size: 11px}
div.row, div.formrow, div.altrow, div.rowhiddenText, div.rowcontent, div.rowrestrict2members, div.headerrow {  clear:both; padding: 4px 0px }
div.rowhiddenText {background-color: #ffc; height: 18px}
div.headerrow {background-color: #ccc; height: 14px}
div.spacer {clear: both;}
table {font-size: 11px}
/* Whereas these size the form elements themselves  as in
	<input type="text" name="wuddeva" value="a little something something" class="flex">
*/

/* these are used for creating columns and rows */
.float2, .float3, .float5, .float6, .float10, .float15, .float20, .float25, .float30, .float35, .float40, .float50, .float55, .float60	{font-size: 12px}
.float2 {width: 2%; float: left}
.float3 {width: 3%; float: left}
.float5 {width: 5%; float: left}
.float6 {float: left; width: 6%;}
.float10 {width: 10%; float: left}
.float15 {width: 15%; float: left}
.float20 {width: 20%; float: left}
.float25 {float: left; width: 25%;}
.float30 {width: 30%; float: left}
.float35 {float: left; width: 35%;}
.float40 {width: 40%; float: left}
.float50 {width: 50%; float: left}
.float55 {float: left; width: 55%;}
.float60 {float: left; width: 60%;}
.float70 {float: left; width: 70%;}
.float80 {float: left; width: 80%;}
.float90 {float: left; width: 90%;}

/* these are for form elements */

.flex {width: 95%}
.flexarea {width: 95%; height: 200px;}
.flexareasmall {width: 95%; height: 100px}
.halfflex {width: 42%}
.quarterflex {width: 24%}
.required, .mandatory {background-color: #FDEEF1}

/* css-only Contextual menus -- some day Backend itself will generate these */

body#developers  li.developers,
body#clients  li.clients,
body#admin  li.admin,
body#sunday  li.sunday,
body#sitemap  li.sitemap,
body#photos  li.photos {color: red;}

body#developers  li.developers a:link, body#developers li.developers a:visited,
body#clients  li.clients a:link, body#clients  li.clients a:visited,
body#admin  li.admin a:link, body#admin  li.admin a:visited,
body#sitemap  li.sitemap a:link, body#sitemap  li.sitemap a:visited,
body#comments  li.comments a:link, body#comments  li.comments a:visited,
body#photos  li.photos a:link, body#photos  li.photos a:visited,
body#search  li.search a:link, body#search li.search a:visited,
body#home li.home a:link, body#home li.home a:visited,
body#polls li.polls a:link, body#polls li.polls a:visited,
body#links li.links a:link, body#links li.links a:visited,
body#events li.events a:link, body#events li.events a:visited,
body#petitions li.petitions a:link, body#petitions li.petitions a:visited,
body#services li.action a:link, body#services li.action a:visited,
body#feedback li.feedback a:link, body#feedback li.feedback a:visited,
body#about li.about a:link, body#about li.about a:visited,
body#login li.login a:link, body#login li.login a:visited
{display: none}

/* Because the developers insist on having these silly icons at the bottom of the page
 #geekcred {border: 1px solid green; float: right; z-index: 1}
*/
div#geekcred {display: none}
#geekcred p {display: none}
#geekcred img {display: none}
div#geekcred:hover img {display: none}
div#geekcred:hover p {display: none}


/* these two rules make the link index template render the search and pagination
   options in some sections but not others. Right now, it appears in the admin
   section, but when it's just displaying some links associated with a section,
   then there's a need for compactness, not added features */

/* subsection article/section formatting */
.hiddentext {background: #fcf}
.notAvailableOrRemoved {background: #c69}
.restrict2members {background: #9cf}
/* or some colour that matches the site as this one will get seen by a real audience
   ideally we wouldn't load a gif that just has the word "hidden" in it but support or visible text labels is not good.
   url(../images/members.gif) no-repeat top right
*/
div.subsectionlisting p {font-size: 80%; font-style: italic; text-indent: 5px; }
div#subsectionlist li {}

/* admin grouping */
.nav_user0, .nav_user1       {display: none}
.nav_content0, .nav_content1 {display: none}
.nav_action0, .nav_action1   {display: none}
.nav_misc0, .nav_misc1       {display: none}
.nav_layout0, .nav_layout1   {display: none}
.nav_subsite0, .nav_subsite1 {display: none}
.nav_admin0, .nav_admin1     {display: none}


/*
CSS Dropdown menus hidden in default stylesheet.  See allcss-dropdown.css
*/
.menu {display: none}
.topnavlist, .subnavlist, .topitem, .subitem {display: none}

#content a:link:after, #content a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
   }
#content a[href^="/"]:after {
   content: " (http://www.back-end.org" attr(href) ") ";
   }

