/* BEGIN: Styles for dynamic CCS2 menu.  */

/* Improvement of http://www.stopdesign.com/present/2004/sydney/beauty/eg/menu/ */

    .topnavlist, .subnavlist {
      margin:0;
      padding:0;
      list-style:none;
      list-style-type:none;
      }
    .topitem, .subitem {
      background:#ffe6bf;
      margin:0;
      padding:0;
      list-style-type:none;
      }
    .topitem a, .subitem a {
      display:block;
      width:auto;
      height:auto;
      padding:0 5px;
      line-height:2em;
      text-decoration:none;
      color:#7a9734;
      }
    .topitem {
      position:relative;
      float:left;
      }
    .topitem ul {
      position:absolute;
      top:2em;
      display:none;
      }
    li.topitem:hover ul {
      display:block;
      left:0;
      }
    .topitem:hover, .subitem:hover {
      background:#fcc;
      color: #7a9734;
      }
    .topitem:hover a, .subitem:hover a {
      color:#7a9734;
      }
    .subitem:hover li a {
      color:#036;
      }
    .topitem a:hover, .subitem a:hover {
      background:#fcc;
      color:#000;
      }
    .topitem a {
      float:left;
      }
    .topitem li a {
      float:none;
      display:block;
      width:10em;
      }

