BODY{    FONT-FAMILY: Arial,Verdana,Sans-serif; FONT-SIZE: 10pt;}

.text {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000}
.small {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px}
.admintitle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; border: #000000 solid; border-width: 0px 1px 0px 0px}
.tabletitle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #FFFFFF;}

.adminitem {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000; font-style: normal; border-style: none; text-decoration: none}.tableitem {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000; font-style: normal; border-style: none; text-decoration: none}
.tableitem:link {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000; font-style: normal; border-style: none; text-decoration: none}
.tableitem:vlink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000; font-style: normal; border-style: none; text-decoration: none}
.tableitem:alink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000; font-style: normal; border-style: none; text-decoration: none}
.tableitem:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #A0A0E0; font-style: normal; border-style: none; text-decoration: none}
.rightborder {  border-color: black #000000 black black; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 0px}
.bottomborder {  border: #000000 solid; border-width: 0px 0px 1px}
.title {  font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-style: italic; font-weight: bold; color: #A0A0E0}
.button {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: #F9EEAE; ; cursor: hand}
.buttonsmall {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; background-color: #F9EEAE; ; cursor: hand}


/* categories */
.cat { font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #003399; font-weight: bold;}
.cat:hover {  font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #a0a0e0; font-weight: bold;}
.catsub { font-family: arial, helvetica, sans-serif; font-size: 8pt; color: #000090 }
.catsub:hover { color: #9d9ddc; font-family: arial, helvetica, sans-serif; font-size: 8pt}
.cat_no { color: #707070; font-family: arial, verdana, sans-serif; font-size: 10px;  }
.cat_desc { color: black; font-family: arial,verdana,sans-serif; font-size: 9pt; }
.cat_new { color: blue; font-family: arial, verdana, sans-serif; font-size: 12px; ; vertical-align: super}
.cat_pick {  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #009900; vertical-align: super}
.cats_stats {  color: #707070; font-family: arial,verdana,sans-serif; font-size: 9pt; }
.cat_detail { color: #707070; font-family: arial,verdana,sans-serif; font-size: 8pt; }

/* links */
.link { font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #003399; }
.link:hover {  font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #a0a0e0;}
.link_rate {  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #006600; text-decoration: none; }
.link_review {  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #a27900; text-decoration: none; }
.link_modify {  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #800000; text-decoration: none; }
.link_div{  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none; }
.link_desc { color: black; font-family: arial,verdana,sans-serif; font-size: 9pt; }
.link_detail { color: #707070; font-family: arial,verdana,sans-serif; font-size: 8pt; }
.link_new { color: blue; font-family: arial, verdana, sans-serif; font-size: 12px; ; vertical-align: super}
.link_top { color: red; font-family: arial, verdana, sans-serif; font-size: 12px; vertical-align: super}
.link_pop { color: orange; font-family: arial, verdana, sans-serif; font-size: 12px; vertical-align: super}
.link_pick {  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #009900; vertical-align: super}

/* reviews */
.review { font-family: arial, helvetica, sans-serif; font-size: 9pt;}
.review_detail { color: #707070; font-family: arial,verdana,sans-serif; font-size: 8pt; }
.review_detail:hover { color: #a0a0e0; font-family: arial,verdana,sans-serif; font-size: 8pt; }


.counter {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333}


.action1 {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #006600; text-decoration: none; }
.action1:link {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #006600; text-decoration: none; }
.action1:vlink {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #006600; text-decoration: none; }
.action1:alink {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #006600; text-decoration: none; }
.action1:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none;  }

.action2 {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #990000; text-decoration: none; font-weight: normal}
.action2:link {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #990000; text-decoration: none; }
.action2:vlink {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #990000; text-decoration: none; }
.action2:alink {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #990000; text-decoration: none; }
.action2:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none; }

.action3 {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #A27900; text-decoration: none; }
.action3:link {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #A27900; text-decoration: none; }
.action3:vlink {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #A27900; text-decoration: none; }
.action3:alink {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #A27900; text-decoration: none; }
.action3:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none; }


.action4 {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #800080; text-decoration: none; }
.action4:link {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #800080; text-decoration: none; }
.action4:vlink {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #800080; text-decoration: none; }
.action4:alink {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #800080; text-decoration: none; }
.action4:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none; }

.action5 {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0079A2; text-decoration: none; }
.action5:link {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0079A2; text-decoration: none; }
.action5:vlink {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0079A2; text-decoration: none; }
.action5:alink {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0079A2; text-decoration: none; }
.action5:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none; }

.tableborder {  border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; font-family: Arial, Helvetica, sans-serif; font-size: 10pt}

.hint {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666666; font-style: normal}
.topmenu { COLOR: black; FONT-FAMILY: Arial,Verdana,Sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; }
.bottommenu { COLOR: black; FONT-FAMILY: Arial,Verdana,Sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; }
.bottommenu:link { COLOR: black; FONT-FAMILY: Arial,Verdana,Sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; }

.catno { COLOR: #707070; FONT-FAMILY: Arial, Verdana, Sans-serif; FONT-SIZE: 10px;  }
.stats { COLOR: #707070; FONT-FAMILY: Arial,Verdana,Sans-serif; FONT-SIZE: 9pt; }
.statsno { COLOR: black; FONT-FAMILY: Arial,Verdana,Sans-serif; FONT-SIZE: 9pt; }
.version { COLOR: #707070; FONT-FAMILY: Arial,Verdana,Sans-serif; FONT-SIZE: 9pt; }
.versionno { COLOR: black; FONT-FAMILY: Arial,Verdana,Sans-serif; FONT-SIZE: 9pt; }
.pwrd { COLOR: #707070; FONT-FAMILY: Arial,Verdana,Sans-serif; FONT-SIZE: 9pt; }

.new { COLOR: blue; FONT-FAMILY: Arial, Verdana, Sans-serif; FONT-SIZE: 12px; ; vertical-align: super}
.top { COLOR: red; FONT-FAMILY: Arial, Verdana, Sans-serif; FONT-SIZE: 12px; ; vertical-align: super}
.pop { COLOR: orange; FONT-FAMILY: Arial, Verdana, Sans-serif; FONT-SIZE: 12px; ; vertical-align: super}
.pick {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #009900; vertical-align: super}

.heading{    COLOR: black;    FONT-FAMILY: Arial,Verdana,Sans-serif;    FONT-SIZE: 10pt;    FONT-WEIGHT: bolder}

.navbar{    COLOR: black;    FONT-FAMILY: Arial, Verdana,Sans-serif;    FONT-SIZE: 10pt}

.linkinfo{    COLOR: black;    FONT-FAMILY: Arial, Verdana,Sans-serif;    FONT-SIZE: 9pt}

.botlinks{    COLOR: black;    FONT-FAMILY: Arial,Verdana,Sans-serif;    FONT-SIZE: 10pt}
.botlinks:hover{    COLOR: #a0a0e0;    FONT-FAMILY: Arial,Verdana,Sans-serif;    FONT-SIZE: 10pt}


.button1 {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; background-color: #A3D799}
.button2 {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; background-color: #FE8B7E}
.button3 {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; background-color: #999999}


.coolbutton2 {background:#F9EEAE url(images/smicon2.gif) no-repeat left;font-face:tahoma,ms sans serif; font-size:11px; height:20px; line-height:10px; padding-left: 10px;}
.coolbutton1 {background:#F9EEAE url(images/smicon1.gif) no-repeat left; font-face:tahoma,ms sans serif; font-size:11px; height:20px; line-height:10px; padding-left: 10px;}
.coolbutton3 {background:#F9EEAE url(images/smicon3.gif) no-repeat left; font-face:tahoma,ms sans serif; font-size:11px; height:20px; line-height:10px; padding-left: 10px;}
.coolbutton4 {background:#F9EEAE url(images/smicon4.gif) no-repeat left; font-face:tahoma,ms sans serif; font-size:11px; height:20px; line-height:10px; padding-left: 10px;}

.textTitle { font-family: Arial, Helvetica, sans-serif; font-size: 9pt ; color: #FFFFFF; font-weight: 900}

.error {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #FF0000; font-weight: bold}
.error2 {  font-family: Arial, Helvetica, sans-serif; font-size: 7pt; color: #FF0000; font-weight: bold}


/* alternating table rows */
.cell1 {  background-color: #f6f6f6; font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #000000}
.cell2 {  background-color: #dedede; font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #000000}
