/*-----------------------------------------------------------------------------+
|                            OG CMS v1.02                         |
+------------------------------------------------------------------------------+
| This file is a component of OG CMS :: web management system                  |
|                                                                              |
|                    Please, send any comments, suggestions and bug reports to |
|                                                      olegu@soemme.no         |
| Original Author: Vidar Løvbrekke Sømme                                       |
| Author email   : olegu@soemme.no                                             |
| Project website: http://www.soemme.no/                                       |
| Licence Type   : FREE                                                        |
+------------------------------------------------------------------------------+ */
body {
    background-color: Black;
    color: Green;
    font: Fixedsys;
}
.heading {
    color: Green;
    font: 99px Fixedsys;
}
.options {
    color: Green;
    font: medium Fixedsys;
}
form {
    background-color: Black;
    color: Green;
    font: medium Fixedsys;
}
input {
    background: transparent;
    border: none;
    border-bottom: thin solid Green;
    color: Green;
    font: medium Fixedsys;
}