/*-----------------------------------------------------------------------------+
|                            OG CMS v1.02                         |
+------------------------------------------------------------------------------+
| This file is a component of OG CMS :: web management system                  |
|                                                                              |
|                    Please, send any comments, suggestions and bug reports to |
|                                                      olegu@soemme.no         |
| Original Author: Vidar Løvbrekke Sømme                                       |
| Author email   : olegu@soemme.no                                             |
| Project website: http://www.soemme.no/                                       |
| Licence Type   : FREE                                                        |
+------------------------------------------------------------------------------+ */

/*css style sheet for og_cms ver 1.0
structural settings first:
this is a three colounm layout, with footer

everything can be changed, but to keep the current layout
you should leave alone eveerything that has to do with
placing and with to do,:
meaning that I recommend not touching.
-width
-float
-clear

everything else can and should be tweaked to 
personalize you site! 

Good look
-Olegu
*/

body {
    background-color: White;
}

#container {
/*contains the site :-), holding box*/
    background-color: White;
    width: 981px;
}

#top {
/*contains header image*/
    width: 100%;
    background-color: White;
    border-bottom: thin solid Gray;
}

#left {
/*contains navigation bar*/
    float: left;
    width: 110px;
}

#centre {
/* main box in the middle*/
    float: left;
    width: 730px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid Gray;
    border-right: 1px solid Gray;
}

#right {
/*right coloumn box*/
    float: left;
    width: 125px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    padding-left: 5px;
}

#bottom {
/*contains footer*/
    clear: both;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    background-color: White;
    border-top: thin solid Gray;
}

/*this one should be left alone*/
.invisible {
    clear: both;
    width: 100%;
}
/*---------------------------*/

/*and now the good looks*/
/*-----------------------------*/

/*move main images to the left*/
#centre img {
    float: left;
}
#view_container {
/*settings for viewing posts alone*/
    width: 98%;
    margin: 5px 5px 5px;
    background-color: #F3F3F3;
    border: 1px solid Black;
}
#list_container_left {
/*the l/h boxes when listing posts*/    
    border: 1px solid Black;
    float: left;
    width: 48%;
    margin: 5px;
    background-color: #F3F3F3;
    clear: left;
}
#list_container_right {
/*the r/h boxes when listing posts*/
    border: 1px solid Black;
    float: right;
    width: 48%;
    margin: 5px;
    background-color: #F3F3F3;
    clear: right;
}
#pagination_container {
/*contains pagination part of lists*/   
    clear: both;
    margin: 5px;
    color: #667A8A;
}
/* 
-------------------------------------
navigation bar
-------------------------------------*/
#navigation {
/*navigation box*/  
    background-color: transparent;
}


/*navigation bar links:*/
#navigation a:link {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: Gray;
    text-decoration: none;
}
#navigation a:active {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: Gray;
    text-decoration: none;
}
#navigation a:visited {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: Gray;
    text-decoration: none;
}
#navigation a:hover {
border-left-color: #FB5565;
border-left-style: solid;
border-left-width: thick;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: medium;
font-weight: bold;
color: #FB5565;
text-decoration: none;
}
/*--------------------------------------------------------------
end of navigation bar configuration
--------------------------------------------*/

/*config of links all in general:*/
a:link {
    color: #FB5565;
    text-decoration: none;
}
a:active {
    color: #FB5565;
    text-decoration: none;
}
a:visited {
    color: #FB5565;
    text-decoration: none;
}
a:hover {
    color: #59BCFB;
    text-decoration: underline;
}
/*end of links configuration*/

.post_view_heading {
/*stylinh of heading when viewing entire post*/
    font-size: x-large;
    font-weight: bold;
    color: #59BCFB;
    text-decoration: none;
}

.post_big_heading {
    /*styling of category heading*/
    font-size: xx-large;
    font-weight: bold;
    color: #59BCFB;
    text-decoration: none;
}

.post_heading {
    /*styling of the post headers in the post list*/
    font-size: large;
    font-weight: bold;
    color: #55BCFB;
    text-decoration: none;
}


.ingress {
    /*this is the settings for the introduction of the post */
    font-size: medium;
    font-weight: normal;
    color: #667A8A;
    text-decoration: none;
}

.main {
/*this is the style of the main text of the veiwed post*/
}
.post_date {
    /*styling of the date*/
    font-weight: 200;
    color: #667A8A;
    text-decoration: none;
    clear: both;
}
.comments {
/*styling of comments*/ 
}

.del_ed {
/*styling of edit and delete links*/
    font-weight: normal;
    color: #444444;
    text-decoration: none;
}
.warning {
/*styling of warning texts */
    font-size: x-large;
    font-weight: bolder;
    color: #990000;
    text-decoration: none;
}
.download {
/*styling of download text*/
    color: #9655FB;
}
.admin_dl {
/*styling of admin download information*/
    font-weight: normal;
    color: #333333;
    text-decoration: none;
}

form {
/*stylking of form element*/
}

input, textarea, select, option {
/*styling of form elements*/    
    background-color: #E6F3F6;
    border: 1px dashed Black;
}

#login {
/*styling of the login part*/
    width: 300px;
    background-color: #F3F3F3;
    border: thin solid Black;
    text-align: center;
    margin-left: 40%;
    margin-top: 20%;
}