body,html {height:100%}
body
{
	background-color: #fff;
	color: #000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 8pt;
	margin: 0pt;
}



a:link		{color: #064259; text-decoration: none}
a:visited	{color: #064259; text-decoration: none}
a:hover		{color: #064259; text-decoration: underline}
a:active	{color: #064259;}


.title
{
	font-family: Trebuchet MS, Arial, Verdana, Helvetica, sans-serif;
	text-decoration:none;
	font-size: 10pt;
	font-weight: bold;
	line-height: 26px;
	color:#174051;
}

#topbar
{
	background-color: #F1F1F1;
	padding:5px;
	text-align:right;
	margin-bottom:10px;
	border-bottom:2px dotted #E1E1E1;
}

#footer
{
	background-color: #F7F7F7;
	padding:5px;
	border-top: 2px dotted #999;
}

#leftnav
{
	width:175px;
	padding:10px;
	background-color: #FFF9F5;
	border-right: 1px solid #F8E8DD;
	
}


#leftnav .tblborder
{
	background-color: #F8E8DD;
}

#leftnav .secondalt
{
	background-color: #FDF9F6;
}

tr,td,p,li,ul,ol,form 
{

	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 8pt;
}

h1,h2,h3,h4,h5,h6
{
   FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}


td.normal
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt
}

img {
	border-style: none;
}


b {
	color:#174051;
}


select {
	font-family: verdana, arial, helvetica, sans-serif;
	color: #000000;
	font-size: 8pt;
	border: 1px solid #000000;
	background-color: #f5f5f5;
}

input, textarea ,option
{
	font-family: vERDANA, aRIAL, hELVETICA, SANS-SERIF;
	color: #000000;
	font-size: 8PT;
	background-color: #f5f5f5;
}

/* -- first alternating cell color -- */
.firstalt
{
	background-color: #eeeeee;
	color: #000000;
}

/* -- second alternating cell color -- */
.secondalt
{
	background-color: #F8F8F8;
	color: #000000;
}

/* -- third alternating cell color -- */
.thrdalt
{ 
	background-color: #fefefe; color: #000000;
}

/* -- table title  -- */
.tblhead
{
	color:#fff;
	text-decoration:none;
	font-size: 8pt;
	font-weight: bold;
	background-color: #FF7200;
}

/* -- table border / border color -- */
.tblborder  { background-color: #000; }


/* -- additional stuff-- */
.red 
{
	color: red;
}

.green
{
	color: green;
}
