<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />

  <title>Weblog Category Heading &#8211; ExpressionEngine Documentation</title>

  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <link rel="contents" href="../../index.html" />
  <style type="text/css" media="screen,print">@import url(../../docs.css);</style>
</head>

<body>

<div id="header">
	<h1>ExpressionEngine Documentation</h1>
</div>


<div id="navlinks">
	<p><a href="../../index.html">Table of Contents</a></p>
</div>


<div id="content">

	<h1>Weblog Category Heading</h1>

	<p>The purpose of this tag is to show the currently viewed category as a heading.</p>

	<code>{exp:weblog:category_heading}<br />
<br />
&lt;h1>{category_name}&lt;/h1><br />
<br />
{/exp:weblog:category_heading}</code>

	<p>When you visit on one of your category links, your weblog entries are shown sorted by the chosen category.  This tag lets you dynamically show the name of the category being viewed.</p>

	<p>If no categories are being shown, the tag will not show anything contained within the opening and closing pair.</p>


	<h2>Variables</h2>

	<ul class="minitoc">
		<li><a href="#var_category_image">{category_image}</a></li>
		<li><a href="#var_category_name">{category_name}</a></li>
	</ul>


	<h3><a name="var_category_image">category_image</a></h3>

		<code>{category_image}</code>

		<p>The image link (or other information) you can optionally store with each category within the Control Panel.</p>


	<h3><a name="var_category_name">category_name</a></h3>

		<code>{category_name}</code>

		<p>The name of the category being viewed</p>



</div>


<div id="footer">
  <address>ExpressionEngine &#8211; Copyright &#169; 2003-2004 &#8211; pMachine, Inc.</address><div class="validation"><a href="http://validator.w3.org/check/referer" title="Validate XHTML">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="Validate CSS">CSS</a></div>
</div>

</body>
</html>