body {      
	/* font-family: Tahoma, Verdana; */
	font-family: Message-box;
    font-size: 11px;
    background-color: #F1F4FF;
    margin: 5px; 
}

.metawindow {
	border:			1px solid;
	border-color:	ThreeDHighlight ThreeDDarkShadow ThreeDDarkShadow ThreeDHighlight;
	background:		ThreeDFace;
	color:			WindowText;
	font:			Message-Box;
}

.metabox {
	border-top:			1px solid;
	border-color:	ThreeDHighlight ThreeDDarkShadow ThreeDDarkShadow ThreeDHighlight;
	background:		ThreeDFace;
	color:			WindowText;
	font:			Message-Box;
	padding: 7px;
}

.metatext {
	position: absolute;
	left: -1px; 
	top: -1px; 
	color: #ffffff;
}

.metashadow {
	position: relative;
	left: 1px; 
	top: 1px; 
	color: #000080;
}

.metamenu {
	margin: 0px; 
	background-color:	#83858b;
	background-image: 	url(../image/bkgr.gif);
}

.metawelcome {
	margin: 0px; 
	background-color:	#ffffff;
}

.metatitle {
	/* font-family: Arial; */
	font-family: Message-box;
	font-size: 		16px;
	padding-left:		5px;
	padding-top: 3px;
	background-color: 	#889CE6;
	font-weight: 		bold;
	color: 			#FFFFFF;
	height: 		20px;
}

/* PROPERTIES */
.metafield {
	background-color: #FFFFFF;
	position:		relative;
	width: 200px;
	float: right;
	height: 18px;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom: solid 1px #000000;
}

.metalabel {
	background-color: #B3C3FF;
	position:		relative;
	left:			10px;
	font-weight: 		bold;
	width: 125px;
	float: left;
	height: 18px;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom: solid 1px #000000;
}

.metafieldset {
	position:		relative;
	width: 345px;
	height: 18px;
}

/* FORMS */
.mformfieldset {
	padding-bottom: 2px;
	clear: left;
	width: 100%;
}

.mformfield {
	height: 18px;
	float: left;
}

.mformlabel {
	width: 150px;
	float: left;
	font-weight: 		bold;
	margin-right: 5px;
	border-bottom:		1px dashed;
	height: 15px;
	padding-left: 3px;
	padding-top: 3px;
	
}

.mformlabelshort {
	float: left;
	font-weight: 		bold;
	margin-right: 5px;
	border-bottom:		1px dashed;
	height: 15px;
	padding-left: 3px;
	margin-right: 5px;
	margin-left: 10px;
	padding-top: 3px;
}

.mformsubmit, submit {
	font: 		caption;
	width: 100px;
}

.metalist {
/*	font:		Icon;*/
	font-family: 	Message-Box;
	border:		1px Solid ThreeDShadow;
	background:	Window;
	color:		WindowText;
	/*border-collapse: collapse;*/
}

.metalistheadrow {
	background:	ButtonFace;
}

.metalistbottomrow {
	background:	ButtonFace;
}

.metalistheadrow td {
	border:			1px solid;
	border-color:	ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	cursor:			default;
	padding-left: 3px;
	padding-right: 3px;
	font: Icon;
}

.metalistbottomrow td {
	border:			1px solid;
	border-color:	ButtonShadow ButtonShadow ButtonShadow ButtonHighlight;
	cursor:			default;
	padding-left: 3px;
	padding-right: 3px;
}

.mleven {
	background-color: #FFFFFF;
	-moz-user-select:	none;
	height:16px;
}

.mlodd {
	background-color: #dddddd;
	-moz-user-select:	none;
	height:16px;
}

.mleven td {
	padding-left: 3px;
	padding-right: 3px;
}

.mlodd td {
	padding-left: 3px;
	padding-right: 3px;
}

.selected {
	background:	Highlight;
	color:		HighlightText;
}

a {  
	text-decoration: none;
	font-weight: normal;
	color: #000066; 
}

a:visited {	
	text-decoration: none;
	font-weight: normal;
	color: #000066; 
}

a:active {  
	text-decoration: none;
	font-weight: normal;
	color: #000066; 
}

a:hover {   
	text-decoration: underline;
	font-weight: normal;
	color: #aa0000; 
}

input, select, textarea {
	/* font-family: Tahoma, Verdana; */
	font-family: Message-box;
	font-size: 11px;
	background-color : #FFFFFF;
}

.mButton {
	padding: 1px;
}

.mButtonOver {
	BORDER-BOTTOM: buttonshadow solid 1px; 
	BORDER-LEFT: buttonhighlight solid 1px; 
	BORDER-RIGHT: buttonshadow solid 1px; 
	BORDER-TOP:  buttonhighlight solid 1px; 
	padding: 0px;
}
