<?xml version="1.0" encoding="{CHARSET}"?>
{DOCTYPE}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{title}</title>
<meta http-equiv="Content-Type" content="text/html; {CHARSET}" />
<link href="{STYLESHEET}" rel="stylesheet" type="text/css" />
<meta http-equiv="refresh" content="5;URL={url}" />
</head>
<body bgcolor="#F4F7FE">
<table width="100%" height="100%">
	<tr valign="middle" align="center">
		<td>
            <b>{info}</b><br />
            <a href="{url}">{action_ride_info}</a>
        </td>
	</tr>
</table>	
{query}
</body>
</html>	
