A.black {
	COLOR: #000000; TEXT-DECORATION: none
}
A.black:hover {
	COLOR: #ff7600; TEXT-DECORATION: none
}
A.blue {
	COLOR: #003366; TEXT-DECORATION: none
}
A.blue:hover {
	COLOR: #ff7600; TEXT-DECORATION: none
}
A.orange {
	COLOR: #ff7600; TEXT-DECORATION: none
}
A.orange:hover {
	COLOR: #7d7d7d; TEXT-DECORATION: none
}
