<!--
/**
*    
*    @project:    newsletter
*    @file:       newsletter_panel.htm
*    @version:    1.0
*    @author:     Konstantin Atanasovcharset
*
*/
-->
<STYLE>
    .newsletterLabel { font-family:helvetica;font-size:12px;color:gray; }
    .newsletterEmailField { border:1px solid lightgray;}
    .newsletterPanel { 
        border:1px solid gray;
        padding-left:5px;
        padding-right: 5px;}
    .newsletterTitle { 
        font-family:Verdana;
        font-size:12pt;color:black;
        border-bottom:1px solid lightgray;
    }
    .newsletterOption {color:lightgray}
    .newsletterButton {border:1px solid lightgray;background-color:white;color:orange;}
</STYLE>
<TABLE class=newsletterPanel cellspacing=0 cellpaddingh=0>
<FORM name=newsletter_form target='_SELF' method=POST>
  <TR><TD align=center class=newsletterTitle><SPAN >newsletter title </SPAN></TD></TR>
    <TR><TD>&nbsp;<SPAN class=newsletterLabel>[message]</SPAN></TD></TR>
  <TR><TD>
    <SPAN class=newsletterLabel>email</SPAN>&nbsp;
        <INPUT type=text class=newsletterEmailField name=newsletteremail size=26></TD>
  </TR>
  <TR><TD align=left>
    <SPAN  class=newsletterLabel>subscribe</SPAN>
    <INPUT class=newsletterOption checked title=subscribe size=30 type=radio  name=newslettercmd value=subscribe>
    <SPAN  class=newsletterLabel>unsibscribe</SPAN>
    <INPUT class=newsletterOption type=radio name=newslettercmd value=unsubscribe size=30>
    <INPUT class=newsletterButton type=submit name=newsletterButton value=submit >
    </TD>
  </TR>
</FORM>
</TALE>
