<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html>

<head>
<title><%site_title%>: Add a Resource error</title>
<link rel=stylesheet href="<%css%>" type="text/css" title="style sheet">
</head>

<body>

<h1><%site_title%>: Add a Resource error</h1>

	
<p><small class="menu">|
	<a class="menulink" href="<%build_root_url%>">Home</a> |
        <a class="menulink" href="<%db_cgi_url%>/advertiser.cgi">PPR login</a> |
        <a class="menulink" href="<%db_cgi_url%>/advertiser.cgi?signup=1">PPR signup</a> |
	<a class="menulink" href="<%db_cgi_url%>/add.cgi">Add a Resource</a> |
	<a class="menulink" href="<%db_cgi_url%>/modify.cgi">Modify a Resource</a> |
	<a class="menulink" href="<%build_root_url%>/New">What's New</a> |
	<a class="menulink" href="<%build_root_url%>/Cool">What's Cool</a> |
	<a class="menulink" href="<%build_root_url%>/Ratings">Top Rated</a> |
	<a class="menulink" href="<%db_cgi_url%>/subscribe.cgi">Email Updates</a> |	
	<a class="menulink" href="<%db_cgi_url%>/jump.cgi?ID=random">Random Link</a> |
	<a class="menulink" href="<%db_cgi_url%>/search.cgi">Search</a> |
</small></p>

	<form action="<%db_cgi_url%>/add.cgi" method="POST">
           <TABLE cellpadding=0 cellspacing=0 border=0>             <TD valign=top >

          <p><font face="Arial, Helvetica, sans-serif" size="2">There were the 

            following errors trying to add your resource:</font></p>

          <p><font face="Arial, Helvetica, sans-serif" size="2"><strong class="error"> 

            <%error%> </strong></font></p>

          <p><font face="Arial, Helvetica, sans-serif" size="2">Please make any 

            changes and try again!</font></p>

          <div class="margin"> 

            <table border="0" cellspacing="0" cellpadding="0">

              <tr> 

                <td align="right" valign="top"><font face="Arial, Helvetica, sans-serif" size="2">Title:</font></td>

                <td> 

                  <input name="Title" value="<%Title%>" size="35" maxlength="50">

                </td>

              </tr>

              <tr> 

                <td align="right" valign="top"><font face="Arial, Helvetica, sans-serif" size="2">URL</font>:</td>

                <td> 

                  <input name="URL" value="<%URL%>" size="35" maxlength="50">

                </td>

              </tr>

              <tr> 

                <td align="right" valign="top"><font face="Arial, Helvetica, sans-serif" size="2">Category</font>:</td>

                <td><%Category%> 

              <tr> 

                <td align="right" valign="top"><font size="2" face="Arial, Helvetica, sans-serif">Description</font>:</td>

                <td> 

                  <textarea wrap="virtual" name="Description" rows="3" cols="35"><%Description%></textarea>

                </td>

              </tr>

              <tr> 

                <td align="right" valign="top"><font size="2" face="Arial, Helvetica, sans-serif">Contact 

                  Name</font>:</td>

                <td> 

                  <input name="Contact Name" value="<%Contact Name%>" size="35" maxlength="50">

                </td>

              </tr>

              <tr> 

                <td align="right" valign="top"><font size="2" face="Arial, Helvetica, sans-serif">Contact 

                  Email</font>:</td>

                <td> 

                  <input name="Contact Email" value="<%Contact Email%>" size="35" maxlength="50">

                </td>

              </tr>
<tr><td align="right" valign="top"><br><font face="Arial, Helvetica, sans-serif" size="2">Country:</font></td>
<td>
<select name="Country" size="1">
  <option>Afghanistan
  <option>Albania
  <option>Algeria
  <option>American Samoa
  <option>Andorra
  <option>Angola
  <option>Anguilla
  <option>Antarctica
  <option>Antigua And Barbuda
  <option>Argentina
  <option>Armenia
  <option>Aruba
  <option>Australia
  <option>Austria
  <option>Azerbaijan
  <option>Bahamas
  <option>Bahrain
  <option>Bangladesh
  <option>Barbados
  <option>Belarus
  <option>Belgium
  <option>Belize
  <option>Benin
  <option>Bermuda
  <option>Bhutan
  <option>Bolivia
  <option>Bosnia and Herzegovina
  <option>Botswana
  <option>Bouvet Island
  <option>Brazil
  <option>British Indian Ocean Territory
  <option>Brunei
  <option>Bulgaria
  <option>Burkina Faso
  <option>Burundi
  <option>Cambodia
  <option>Cameroon
  <option>Canada
  <option>Cape Verde
  <option>Cayman Islands
  <option>Central African Republic
  <option>Chad
  <option>Chile
  <option>China
  <option>Christmas Island
  <option>Cocos (Keeling) Islands
  <option>Columbia
  <option>Comoros
  <option>Congo
  <option>Cook Islands
  <option>Costa Rica
  <option>Cote D'Ivoire (Ivory Coast)
  <option>Croatia (Hrvatska)
  <option>Cuba
  <option>Cyprus
  <option>Czech Republic
  <option>D.P.R. Korea
  <option>Dem Rep of Congo (Zaire)
  <option>Denmark
  <option>Djibouti
  <option>Dominica
  <option>Dominican Republic
  <option>East Timor
  <option>Ecuador
  <option>Egypt
  <option>El Salvador
  <option>Equatorial Guinea
  <option>Eritrea
  <option>Estonia
  <option>Ethiopia
  <option>Falkland Islands (Malvinas)
  <option>Faroe Islands
  <option>Fiji
  <option>Finland
  <option>France
  <option>French Guiana
  <option>French Polynesia
  <option>French Southern Territories
  <option>Gabon
  <option>Gambia
  <option>Georgia
  <option>Germany
  <option>Ghana
  <option>Gibraltar
  <option>Greece
  <option>Greenland
  <option>Grenada
  <option>Guadeloupe
  <option>Guam
  <option>Guatemala
  <option>Guinea
  <option>Guinea-Bissau
  <option>Guyana
  <option>Haiti
  <option>Heard and McDonald Islands
  <option>Honduras
  <option>Hong Kong SAR, PRC
  <option>Hungary
  <option>Iceland
  <option>India
  <option>Indonesia
  <option>Iran
  <option>Iraq
  <option>Ireland
  <option>Israel
  <option>Italy
  <option>Jamaica
  <option>Japan
  <option>Jordan
  <option>Kazakhstan
  <option>Kenya
  <option>Kiribati
  <option>Korea
  <option>Kuwait
  <option>Kyrgyzstan
  <option>Lao
  <option>Latvia
  <option>Lebanon
  <option>Lesotho
  <option>Liberia
  <option>Libya
  <option>Liechtenstein
  <option>Lithuania
  <option>Luxembourg
  <option>Macao
  <option>Macedonia
  <option>Madagascar
  <option>Malawi
  <option>Malaysia
  <option>Maldives
  <option>Mali
  <option>Malta
  <option>Marshall Islands
  <option>Martinique
  <option>Mauritania
  <option>Mauritius
  <option>Mayotte
  <option>Mexico
  <option>Micronesia
  <option>Moldova
  <option>Monaco
  <option>Mongolia
  <option>Montserrat
  <option>Morocco
  <option>Mozambique
  <option>Myanmar
  <option>Namibia
  <option>Nauru
  <option>Nepal
  <option>Netherlands
  <option>Netherlands Antilles
  <option>New Caledonia
  <option>New Zealand
  <option>Nicaragua
  <option>Niger
  <option>Nigeria
  <option>Niue
  <option>Norfolk Island
  <option>Northern Mariana Islands
  <option>Norway
  <option>Oman
  <option>Pakistan
  <option>Palau
  <option>Panama
  <option>Papua new Guinea
  <option>Paraguay
  <option>Peru
  <option>Philippines
  <option>Pitcairn
  <option>Poland
  <option>Portugal
  <option>Puerto Rico
  <option>Qatar
  <option>Reunion
  <option>Romania
  <option>Russia
  <option>Rwanda
  <option>Saint Kitts And Nevis
  <option>Saint Lucia
  <option>Saint Vincent And The Grenadines
  <option>Samoa
  <option>San Marino
  <option>Sao Tome and Principe
  <option>Saudi Arabia
  <option>Senegal
  <option>Seychelles
  <option>Sierra Leone
  <option>Singapore
  <option>Slovak Republic
  <option>Slovenia
  <option>Solomon Islands
  <option>Somalia
  <option>South Africa
  <option>South Georgia And The South Sandwich Islands
  <option>Spain
  <option>Sri Lanka
  <option>St Helena
  <option>St Pierre and Miquelon
  <option>Sudan
  <option>Suriname
  <option>Svalbard And Jan Mayen Islands
  <option>Swaziland
  <option>Sweden
  <option>Switzerland
  <option>Syria
  <option>Taiwan Region
  <option>Tajikistan
  <option>Tanzania
  <option>Thailand
  <option>Togo
  <option>Tokelau
  <option>Tonga
  <option>Trinidad And Tobago
  <option>Tunisia
  <option>Turkey
  <option>Turkmenistan
  <option>Turks And Caicos Islands
  <option>Tuvalu
  <option>Uganda
  <option>Ukraine
  <option>United Arab Emirates
  <option>United Kingdom
<option selected>United States
  <option>United States Minor Outlying Islands
  <option>Uruguay
  <option>Uzbekistan
  <option>Vanuatu
  <option>Vatican City State (Holy See)
  <option>Venezuela
  <option>Vietnam
  <option>Virgin Islands (British)
  <option>Virgin Islands (US)
  <option>Wallis And Futuna Islands
  <option>Western Sahara
  <option>Yemen
  <option>Yugoslavia
  <option>Zambia
  <option>Zimbabwe
  </select>
</td></tr>

<tr><td align="right" valign="top"><font face="Arial, Helvetica, sans-serif" size="2">Zip:</font></td>
<td><input name="Zip" value="<%Zip%>" size="35" maxlength="50"></td></tr>

<tr><td align="right" valign="top"><font face="Arial, Helvetica, sans-serif" size="2">City:</font></td>
<td><input name="City" value="<%City%>" size="35" maxlength="50"></td></tr>

<tr><td align="right" valign="top"><font face="Arial, Helvetica, sans-serif" size="2">State:</font></td>
<td><input name="State" value="<%State%>" size="3" maxlength="50"></td></tr>
<tr><td align="right" valign="top"><font face="Arial, Helvetica, sans-serif" size="2">Phone:</font></td>
<td><input name="Phone" value="<%Phone%>" size="35" maxlength="50"></td></tr>


              <tr> 

                <td></td>

                <td> 

                  <input type="SUBMIT" value="Add Resource" name="SUBMIT">

                </td>

              </tr>

            </table>

          </div>

                 <p>&nbsp;</p>                 </TD>         </TABLE>         <p>&nbsp;</p>
	</form>
	
	<form action="<%db_cgi_url%>/search.cgi" method="GET">
		<h2>Search</h2>
			<div class="margin">
				<table border="0" cellspacing="0" cellpadding="0">
				<tr><td><strong class="search">Looking for something in particular?</strong></td></tr>
				<tr><td><input type="text" size=15 name="query"> <input type=submit value="Search!"></td></tr>
				<tr><td><small class="more"><a href="<%db_cgi_url%>/search.cgi">More search options</a></small></td></tr>
				</table>
		</div>
	</form>
	
<p><small class="update">Pages Updated On: <%date%> - <%time%><br>
</small></p>		
<p align="center"><font face="Verdana" size="1">(c) - 2000,2001 <a href="http://www.mycgiscripts.com">www.MyCgiScripts.com</a></font></p>
</body>
</html>
