BODY {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: normal;
background-color: #FFFFFF;}

A:link {COLOR: #456394; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: normal;}
A:visited {COLOR: #456394; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: normal;}
A:active {COLOR: #456394; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: normal;}
A:hover {COLOR: #999999; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: normal;}

H2 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold}

H3 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: bold}

H4 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: bold}

SELECT {
background-color: #FFFFFF; 
color: #000000;
font-size: 11px;
font-family: Verdana, Tahoma, Arial;
font-weight: normal;}

TEXTAREA,.TEXTBOX {
background-color: #FFFFFF; 
border: #7F9DB9 1px solid; 
color:  #000000; 
font-family: Verdana, Tahoma, Arial; 
font-size: 11px; 
font-weight: normal;}

.SUBMIT {
background-color: #F4F4F4; 
border: #999999 1px solid; 
color:  #000000; 
font-family: Verdana, Tahoma, Arial; 
font-size: 11px; 
font-weight: bold;}


TABLE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	border: 1px;
}

TD {       
font-family: Arial, Helvetica, sans-serif;
font-size: 12px; 
color:#000000;}



/* Custom styles */
A.home:link {COLOR: #EAEAEA; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}
A.home:active {COLOR:#EAEAEA; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}
A.home:visited {COLOR: #EAEAEA; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}
A.home:hover {COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}

A.topmenu:link {COLOR: #5275AD; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}
A.topmenu:active {COLOR: #5275AD; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}
A.topmenu:visited {COLOR: #5275AD; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}
A.topmenu:hover {COLOR: #999999; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}

A.support:link {COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}
A.support:active {COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}
A.support:visited {COLOR: #FFFFFF; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}
A.support:hover {COLOR: #CC0000; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}

A.menu:link {COLOR: #456394; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold;}
A.menu:active {COLOR: #456394; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold;}
A.menu:visited {COLOR: #456394; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold;}
A.menu:hover {COLOR: #999999; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold;}

A.popular:link {COLOR: #999999; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}
A.popular:active {COLOR: #999999; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}
A.popular:visited {COLOR: #999999; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}
A.popular:hover {COLOR: #456394; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}

A.menu02:link {COLOR: #5275AD; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold;}
A.menu02:active {COLOR: #5275AD; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold;}
A.menu02:visited {COLOR: #5275AD; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold;}
A.menu02:hover {COLOR: #999999; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold;}

A.menu03:link {COLOR: #5275AD; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold;}
A.menu03:active {COLOR: #5275AD; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold;}
A.menu03:visited {COLOR: #5275AD; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold;}
A.menu03:hover {COLOR: #999999; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold;}

A.menu04:link {COLOR: #5275AD; FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold;}
A.menu04:active {COLOR: #5275AD; FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold;}
A.menu04:visited {COLOR: #5275AD; FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold;}
A.menu04:hover {COLOR: #999999; FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: bold;}

A.signature:link {COLOR: #999999; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}
A.signature:active {COLOR: #999999; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}
A.signature:visited {COLOR: #999999; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}
A.signature:hover {COLOR: #AEAEAE; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; FONT-WEIGHT: bold;}

.favorite {
	color: #5275AD;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	font-weight : bold;
}

.BodyText {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}

.BodyText02 {
	color: #5275AD;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	font-weight : bold;
}

.BodyText03 {
	color: #456394;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight : bold;
}

.BodyText04 {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight : none;
}

.BodyText05 {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight : bold;
}

.BodyText06 {
	color: #a96600;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight : bold;
}

.BodyText07 {
	color: #456394;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
}

A.small_link:link {COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: normal;}
A.small_link:active {COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: normal;}
A.small_link:visited {COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: normal;}
A.small_link:hover {COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: normal;}

A.catnav:link {COLOR: #456394; FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: normal;}
A.catnav:active {COLOR: #456394; FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: normal;}
A.catnav:visited {COLOR: #456394; FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: normal;}
A.catnav:hover {COLOR: 456394 FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline; FONT-WEIGHT: normal;}


.chapter {
	color: #005680;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight : bold;
}

/* Custom styles */

.chapter01 {
	color: #456394;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight : bold;
}

.chapter02 {
	color: #456394;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight : bold;
}

.chapter03 {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight : bold;
}

.headBg {
	background-color: #FFFFFF;
}

.headBg2 {
	background-color: #006699;
}

.headBg3 {
	background-color: #8BA3C9;
}

.headBg4 {
	background-color: #DAE2EE;
}

.headBg5 {
	background-color: #FFAD33;
}

.headBg6 {
	background-color: #EFF3F8;
}

.searchBg {
	background-color: #FFFFFF;
}

.leftColumnBg {
	background-color: #FFFFFF;
}

.rightColumnBg {
	background-color: #FFFFFF;
}

.tableHeadBg {
	background-color: #DAE2EE;
}

.tableBodyBg {
	background-color: #f1f1f1;
}

font.saleColor {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight : bold;
	
}

.orderSubTableBg {
	background-color: #FFF9DF;
}

font.errorMessage {
	color: red;
}

.footerBg {
	background-color: #FFFFFF;
}

.footerHr {
	color: #006699;
}

/* Style for menu and content tables */

.tBorderColor {
	background-color: #006699;
}

.tHeadColor {
	background-color: #BCD2E9;
}

.tBgColor {
	background-color: #FFFFFF;
}
