.ty{width:40%;color:#000000;background-color:#ffffff;border:1px solid #444444}
.ia{color:#000000;background-color:#ffffff;border:1px solid #444444;width:99%}
.ib{color:#000000;background-color:#dddddd;border:1px solid #333333}
.ic{font-family:Courier,"Courier New",monospace;font-size:11px;padding:5px}
select{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9px;}