body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:   #336699;
	background-color:  transparent;
	background-image: url(../../templates/css/images/bg.jpg);
	background-repeat:  repeat-x;
	background-position: left top;
	height: 100%;
	line-height: 16px;
	}
	
/* prevents additional paragraph spacing */
P, UL, OL { margin-top: 0px; margin-bottom: 0px; }


textarea,select,input   {
	background-color: #FFFFFF;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color:  #696969;  
	font-style: normal;
	font-weight: normal;
	border: 1;
}

/* Table default settings */
td,tr { font-style: normal;
        font-weight: normal;
        color: #000000; 
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		line-height: 16px;
		}

/* Hyperlinks */
a {
	text-decoration: none;
	font-weight: normal;
	color:   #000;
	}
a:visited {
	color:   Maroon;
	}
a:active {
	color:  Maroon;
	}
a:hover {
	color: #000;
	text-decoration: none;
	}
.ahem {
	display: none;
	}
	
/* Text Styles */	
strong, b {
	font-weight: bold;
	}

h1 {
	font-size: 2.0em;
	font-weight: normal;
	margin-top: 0em;
	margin-bottom: 0em;
	}
h2 {
	font-size: 1.7em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
	}
h3 {
	font-size: 1.4em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: normal;
	}
h4 {
	font-size: 1.2em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
	}
h5 {
	font-size: 1.0em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
	}
h6 {
	font-size: 0.8em;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
	}
img {
	border: 0;
	}
ol, ul, li {/*
	list-style: none;*/
	font-size: 1.0em;
	line-height: 1em;
	margin-top: 0.42em;
	margin-bottom: 0.3em; 
	}

p {
	font-size: 1.0em;
	line-height: 1.2em;
	margin: .7em 0em .7em 0em;
	}
	
.nowrap {
	white-space: nowrap;
	font-size: 10px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}

.smallText {
	font-size: 10px;
	line-height: 12px;
	margin-top: 15px;
	margin-bottom: 15px; 
	
	}
.normalText {
	font-size: 12px;
}

.normalTextColored{
    color: #0000CC;
	line-height: 16px;
}

.normalTextGrey{
    color: #999999; 
	line-height: 16px;
}

.message {
	font-size: 10px;
	color: #CC0000;
}

.pageTitle {  
    font-weight: bold; 
	color: #CC0000; 
	}
	
.tinyText {
	font-size: 0.8em;
	line-height: 1em;
}
.colorNormalText { 
			font-size: 1.0em; 
			color: maroon;
			font-weight:bold;  
		}

/* Footer Text */
.footerText {
    color:#CCCCCC;
	font-size: .9em;
	line-height: 12px;
	}

.footerText a {
    color:#CCCCCC;
	}

.footerText a:visited {
    color:#CCCCCC;
	}



/* tabbed menus */

#tabbed {
  
  width:100%;
  background:#f0f0f0 url("images/bg.gif") repeat-x bottom;
  font-size:75%;
  line-height:normal;
  border: 1px solid  #E2E2E2;
  border-left: 1px solid  #c0c0c0; } 
  
#tabbed ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
#tabbed li {
  float:left;
  background:url("images/left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  }
#tabbed a {
  float:left;
  display:block;
  background:url("images/right.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration: none; /* */
  font-weight:bold;
  color:  Gray; /* */
  }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#tabbed a {float:none;}
/* End IE5-Mac hack */
#tabbed a:hover {
  color:#333;
  }
#tabbed #current {
  background-image:url("images/left_on.gif");
  }
#tabbed #current a {
  background-image:url("images/right_on.gif");
  color:#333;
  padding-bottom:5px;
  }

#tabbedsub {
	font-size:80%;
	border: 0px;
	border-right: 1px solid #E6E6E6; 
	border-left: 1px solid #E6E6E6;
}
 #tabbedsub {
   margin: 0px;
 	background: #fff;
 }
 
 #tabbedsub ul, #tabbedsub li{
display: inline;
list-style: none;
padding: 0px;
}
#tabbedsub li a, #tabbedsub li a:hover, #tabbedsub li a:active { 
display: inline;
text-decoration: none; 
color: #000;
background-color : transparent;
margin: 1px 1px 1px 1px;
padding: 2px 6px 2px 6px;
border-right: 1px solid #B0B0B0;
text-align: center;
font-weight: normal;
}




#tabbedsub li a:hover, #tabbedsub li a:active { 

background-color: #F0F0F0; 

}
#tabbedsub li a:active { 
background-color: pink;
border-right: solid 1px #F0F0F0;
}

#subcurrent #subactive { 
background-color: pink;
border-right: solid 1px #F0F0F0;

}

#subactive a:link, #subactive a:visited, #subactive a:hover {
	
	
	color: Red; /* */
}

/* links just below the tabbed menu */
#adminlinks  a {
	color:  #0000c0; /* */
	text-decoration: none; 
}

#adminlinks a:active {
	background-color:   #F0F8FF; /* */
	text-decoration: none; 
	color: Red; /* */
	
}

.adminactive a {
	color:  #F0F8FF;
	text-decoration: none; 
}

/* Links for each page section */

#pagelinks  a {
	color:  #000080; /* */
	text-decoration: none; 
}

#pagelinks a:active {
	background-color:        #E6E6FA;  /* */
	text-decoration: none; 
	color: Red; /* */
	
}

#pagelinks a:hover {
	background-color: #F0F0F0;  /* */
	text-decoration: underline; 
	color: Red; /* */
	
}

.pageactive {
   font-size: 9px;
	line-height: 16px;
	margin-top: 15px;
	margin-bottom: 5px; 
	background-color:  #FFC0CB;  /* */
	color: Red; /* */
	
}

