/* Horizontal Main Menu navigation */

#hnavlist {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:  bolder;
	right: 5px;
	top: 5px;
}

#hnavlist li {
	display: inline;
	list-style-type: none;
}



#hnavlist ul {
	/*/*/margin: 0;
	white-space: nowrap;
	padding: 0; /* */
	
}

#hnavlist a {
	/*/*/padding: 1px 8px 1px 8px;
	border: 1px solid #F0F8FF;
	background-color:      #F0F8FF;
	background-image:  url(images/menu_down.gif); /* */
}
#hnavlist a:link, #hnavlist a:visited {
	color:  #EEE;
	/*/*/color: Maroon;
	text-decoration: none; /* */
}
#hnavlist a:hover {
	border: 1px solid #E6E6FA;
	background-color:   White;
	background-image:  url(images/menu_over.gif);
	color:     Silver;
}

#huberlink a:link, #huberlink a:visited, #huberlink a:hover {
	/*/*/border: 1px solid #DCDCDC;
	background-color:  #D9D9D9;
	background-image:  url(images/menu_over.gif);
	color:   Maroon; /* */
}

/* horizontal submenu under the main horizontal menu */

#hmainsub {
   display: inline;
	font-size:75%;
	border-left: 1px solid #c0c0c0; 
	border-right: 1px solid #E4E4E4; 
	border-bottom: 1px solid #E4E4E4; 
	margin: 0px;
	padding: 0px;
 	background:    #F6F6F6;
}

 #hmainsub ul, #hmainsub li{
margin: 1px;
display: inline;
list-style: none;
padding: 0px;
}
#hmainsub li a, #hmainsub li a:hover, #hmainsub li a:active { 
display: inline;
text-decoration: none; 
color:  #767676;
background-color : transparent;
margin: 0px;
padding: 2px 2px 2px 2px;
text-align: center;
font-weight: normal;
}

#hmainsub li a:hover, #hmainsub li a:active { 
color:  Silver;
background-color: #FFF; 

}
#hmainsub li a:active { 
background-color:   #AD831F;
border-left: solid 1px #F0F0F0;

}

#subhmaincurrent #subhmainactive { 
background-color: pink;
border-right: solid 1px #F0F0F0;

}

#subhmainactive a:link, #subhmainactive a:visited, #subhmainactive a:hover {
	color:    #AF550A; /* */
}



