body
{
	background-color: #666;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #FFF;
}

#searchandlogin {
    width: 780px;  /* delete to change to full width site */
	font-size: .9em;
}

#searchandlogin a:link, #searchandlogin a:visited  {
    color:  #CCC;
}

#mainTable {
	width: 780px;  /* delete to change to full width site */
	background-color: #999;
	border: 1px solid #666;
	/*/*/line-height: 1.5em; /* */
}

#maincontent {
	border-left: 2px dotted   #999999;
	font-size: 1.2em;
	/*/*/font-size: 95%; /* */
}

#blog {
    
	border-left: 2px dotted   #999999;
	font-size: 1.2em;
	/*/*/font-size: 95%; /* */
}
img {
	border: 0;
	}
/* only used by 3-col layouts */
#centercontent {
	border-left: 2px dotted   #999999;
	width: 340px;
	font-size: 1.2em;
	/*/*/font-size: 95%; /* */
}
/* only used by 3-col layouts */
#rightcontent {
	border-left: 2px dotted   #999999;
	width: 340px;
	font-size: 1.2em;
	/*/*/font-size: 95%; /* */
}

#sidebar {
	width: 170px;   /* change to 30% to make fluid width */
	line-height: 1.1em;
	/*/*/font-size: 85%; /* */

}
#sidebarmenu {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1em;
}
#header {
	background-color: #333333;
	color: #CCCCCC;
	background-image: url(images/banner.gif);
	height: 90px;
}
#alertTable {
    width: 600px;  
	background-color: #999;
	margin-top: 20px;
	border: 1px solid #666;
	/*/*/line-height: 1.5em; /* */
}
#alertHeader {
	background-color: #333333;
	color: #CC0000;
	font-size:large;
	text-align: center;
	background-image: url(templates/css/images/tbl_head.gif);
}
#footer {
	background-color: #333333;
	color: #CCCCCC;
	background-image: url(templates/css/tbl_head.gif);
}

td, ul {
	font-family: Arial, Helvetica, sans-serif;
}
ol, ul, li {/*
	list-style: none;*/
	font-size: 1em;
	}
p {
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: -10px;
}

textarea,select,input   {
	background-color: #EBEDF3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;  
	font-style: normal;
	font-weight: normal;
	border: 1px #E1E1E1 solid;
}

h1:first-child {margin-top: 0;}/*starts first heading in a TD flush top*/
h2:first-child {margin-top: 0;}/*starts first heading in a TD flush top*/
h3:first-child {margin-top: 0;}/*starts first heading in a TD flush top*/
h1 { font-size: 1.4em;
	 color: #333333;
	 margin-bottom: -.9em; 
	}
h2 { font-size: 1.2em; 
	 color: #5C5C5C;
	 margin-top: 1.5em;
	 margin-bottom: -1em; 
	}
h3 { font-size: 1.0em; 
	 color: #5C5C5C;	
	 margin-top: 1.5em;
	 margin-bottom: -1em; 
	}

a  { text-decoration: none; 
     color:   #EAEAEA;
} 
a:visited {
	color:   #EAEAEA;
	}
a:active {
	color:   #EAEAEA;
	}
a:hover {
	color:   #EAEAEA;
	text-decoration: underline;
	}


.tinyText { 	font-size: .6em;   }
.smallText { 	font-size: .8em;   }
.normalText { 	font-size: 1em;   }
.largerText { 	font-size: 1.1em;   }
.largestText { 	font-size: 1.5em;
   				font-weight: bold; 
				color: Maroon; 
}
.colorNormalText { 
			font-size: 1.1em; 
			color: maroon;
			font-weight:bold;  
		}
.message { color: maroon;
			font-size: .9em; 
		}

#sidebarbottom a {
	/*/*/padding: -10px;
	padding: 2px;
	display: block;
	border: 2px solid #666;
	text-decoration: none;
	line-height: 1.1em;
	width: 170px; /* */
}
#sidebarbottom a:link, #sidebarbottom a:visited {
	color: #333333;
}
#sidebarbottom a:hover, #sidebarbottom a:active {
	color: #FFFFFF;
	background-color: black;
	border: 2px solid #CCC;
}
#current a {
	color: #FFFFFF !important;
	/*/*/background-color: #999999!important;
	border: 2px dotted #999 !important; /* */
}
#sidebarbottom ul {
	/*/*/padding-left: 1em;
	list-style-type: none;
	margin-left: 1em; /* */
}

#sidebarbottom li {
	/*/*/margin: 0px 0px 6px 0px; /* */
}
/*links in the footer area of the page*/
#siteInfo {
    color: #CCC;
}
#siteInfo a:link, a:visited {
    color: #CCC;
}
#n4shell {
/* This rule will allow you to create an outer border around the layout table in netscape 4. Wrap the entire table inside a div and assign to the div this id */
	border: 1px solid #000;
	/*/*/border: 0; /* */
}
.nowrap {
	white-space: nowrap;
	font-size: 10px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	}