#sitemapcontainer {
	background: #F9F9F9;
	padding-left:  8px;
	padding-top:  8px;
	border: 1px dotted #CCCCCC;
	float:left;
	width: 460px;
	font-size: .8em;
	/*/*/font-size: .8em; /* */: 
}
#sitemapcontainer a {
	color: #999;
	text-decoration: none;
	background: url(images/dotted_underline.gif) bottom left repeat-x;
}

#sitemapcontainer a:visited {
	color: #999;
}

#sitemapcontainer a:hover {
	color: maroon;
	text-decoration: underline;
}

#sitemapcontainer a:active {
	color: maroon;
}

ul.sitemap {

 list-style-type: square;
 margin-left: 0.5cm;
 padding-left: 0;
}

ul.sitemap li {
 padding-left: 1.1em;
}
ul.sitemap li a {
 margin-left: -1.1em;
 padding-left: .01em;
 
}
ul.sitemap li ul {
 list-style-type: none;
 margin: -1.4em 0 0 -1.6em;
 padding: 1.4em 0 0 0.6em;
}
ul.sitemap li a.parent {
 
}
ul.sitemap li ul li {
 margin-left: 1.5cm;  /* sets the indent */
 padding-left: 10px;
 list-style-type: square;  /* sublevels */
 color: #999999;
}
ul.sitemap li ul li ul li{
 margin-left: 1.5cm;  /* sets the indent */
 padding-left: 10px;
 list-style-type: disc;  /* sublevels */
 color: #ccc;
}