A
{
    FONT-SIZE: 11px;
    COLOR: #1B4895;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none;
}
A:visited
{
    FONT-SIZE: 11px;       COLOR: #1B4895;    FONT-FAMILY: Arial;
    TEXT-DECORATION: none;
}
A:hover
{
    FONT-SIZE: 11px;       COLOR: #CB0000;    FONT-FAMILY: Arial;
    TEXT-DECORATION: none;
}
A.menulink
{
    FONT-SIZE: 11px;
    COLOR: #1B4895;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none;
}
A.menulink:visited
{
    FONT-SIZE: 11px;       COLOR: #1B4895;    FONT-FAMILY: Arial;
    TEXT-DECORATION: none;
}
A.menulink:hover
{
    FONT-SIZE: 11px;       COLOR: #CB0000;    FONT-FAMILY: Arial;
    TEXT-DECORATION: Underline;
}

A.small
{          FONT-SIZE: 10px;        COLOR:#1B4895;    FONT-FAMILY: Arial;
    TEXT-DECORATION: Underline;
}
A.small:visited
{          FONT-SIZE: 10px;       COLOR: #1B4895;    FONT-FAMILY: Arial;
    TEXT-DECORATION: Underline;
}
A.small:hover
{          FONT-SIZE: 10px;       COLOR: #CB0000;    FONT-FAMILY: Arial;
    TEXT-DECORATION: Underline;
}
BODY
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    BACKGROUND-COLOR: #D6E3FF;
}
body, table, tr, TD, p, div, span
{
    FONT-SIZE: 12px;
    FONT-FAMILY: arial,verdana,sans-serif;
}
H1
{
    FONT-SIZE: 16px;
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
}
.header
{
    FONT-SIZE: 14px;
    COLOR: #FFFFFF;
    FONT-FAMILY: arial,verdana,sans-serif;
}
.tablecontent
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    BACKGROUND-COLOR: #FCF6E8;
    FONT-FAMILY: arial,verdana,sans-serif;
}
.menu
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    BACKGROUND-COLOR: #D6E3FF;
    FONT-FAMILY: arial,verdana,sans-serif;
}
.headercontent
{
    FONT-SIZE: 14px;
    COLOR: #FFFFFF;
    BACKGROUND-COLOR: #2959AD;
    FONT-FAMILY: arial,verdana,sans-serif;
}
.topback
{
	BACKGROUND-IMAGE: URL(images/xp_top.gif);
	BACKGROUND-REPEAT: REPEAT;
	BACKGROUND-COLOR: #0051DE;	
}
.teasercontent {BACKGROUND-COLOR: #FCF6E8; color:#000000}
.content {BACKGROUND-COLOR: #FCF6E8; color:#000000}
.teaserheadercontent {BACKGROUND-COLOR: #FCF6E8;} 
.navi_head {BACKGROUND-COLOR: #2975DE;}
.navi_bg {BACKGROUND-COLOR: #FFFFFF;}
.bg_table {BACKGROUND-COLOR: #D6CBC6;}
.alert {color:white; BACKGROUND-COLOR: #CB0000}
.submit {font-family:Verdana, Arial; font-size: 9pt; color:#333333; border-color:#666666; border-width:1px; BACKGROUND-COLOR: #F3F0F0; font-weight:bold}
input, textarea, select {font-family:Verdana, Arial; font-size: 9pt; color:#333333; border-color:#666666; border-width:1px; BACKGROUND-COLOR: #F3F0F0;}

						