/* English :: CSS for Albinator        */
/* http://www.albinator.com/product    */


body
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

a:hover { color: #336666; }
a:alink { color: #cccccc; }

/*  The class for bottom bar links */
.wts { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #cccccc; }
.wts:hover { color: #ffffff; }

/* The class for topmost bar links */
.bts { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #333333; font-weight: bold; }
.bts:hover { color: #606060; }
.bts:valink { color: #333333; }

/* Main table color scheme  */
.topbarFirst { background-color: #DDDDDD; }
.topbarSecond { background-color: #EEEEEE; }
.tableProperties { background-color: #DDDDDD; }

/* For when user is NOT logged in  */
.topbarFirstOUT { background-color: #DDDDDD; }
.tablePropertiesLOGOUT { background-color: #DDDDDD; }

/* Others  */
.ts { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; }
.tn { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; }
.warn { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; }
.impShow { font-family: Verdana, Arial, Helvetica, sans-serif; color: #3B3D93; }

.noundertn { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; text-decoration: none; }
.nounderts { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; text-decoration: none; }

.noundertsb { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #CCCCCC; text-decoration: none; }
.noundertsb:hover { color: #ffffff; }

.noundertnb { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #CCCCCC; text-decoration: none; }
.noundertnb:hover { color: #ffffff; }

.nounts { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; text-decoration: none; }


/* Fields apperances  */
.fieldsnorm {
  WIDTH: 70%;
  FONT-FAMILY: Verdana; 
  FONT-SIZE: 10pt;
}

.fieldsa {
  BACKGROUND-COLOR: #999999; 
  BORDER-BOTTOM: #333333 1px solid; 
  BORDER-LEFT: #333333 1px solid; 
  BORDER-RIGHT: #333333 1px solid; 
  BORDER-TOP: #333333 1px solid; 
  WIDTH: 60%;
  FONT-FAMILY: Verdana; 
  FONT-SIZE: 8pt;
  COLOR: #FFFFFF; 
}

.fieldsb {
  BACKGROUND-COLOR: #CCCCCC; 
  BORDER-BOTTOM: #333333 1px solid; 
  BORDER-LEFT: #333333 1px solid; 
  BORDER-RIGHT: #333333 1px solid; 
  BORDER-TOP: #333333 1px solid; 
  WIDTH: 95%;
  FONT-FAMILY: Verdana; 
  FONT-SIZE: 10pt;
  COLOR: #000000; 
}

.fieldsb2 {
  BACKGROUND-COLOR: #CCCCCC; 
  BORDER-BOTTOM: #333333 1px solid; 
  BORDER-LEFT: #333333 1px solid; 
  BORDER-RIGHT: #333333 1px solid; 
  BORDER-TOP: #333333 1px solid; 
  FONT-FAMILY: Verdana; 
  FONT-SIZE: 10pt;
  COLOR: #000000; 
}

.fieldsb3 {
  BACKGROUND-COLOR: #CCCCCC; 
  BORDER-BOTTOM: #333333 1px solid; 
  BORDER-LEFT: #333333 1px solid; 
  BORDER-RIGHT: #333333 1px solid; 
  BORDER-TOP: #333333 1px solid; 
  FONT-FAMILY: Verdana; 
  FONT-SIZE: 8pt;
  COLOR: #000000; 
}

.fieldsc {
  BACKGROUND-COLOR: #999999; 
  BORDER-BOTTOM: #333333 1px solid; 
  BORDER-LEFT: #333333 1px solid; 
  BORDER-RIGHT: #333333 1px solid; 
  BORDER-TOP: #333333 1px solid; 
  WIDTH: 60%;
  FONT-FAMILY: Verdana; 
  FONT-SIZE: 10pt;
  COLOR: #FFFFFF; 
}

.fieldsd {
  BACKGROUND-COLOR: #999999; 
  BORDER-BOTTOM: #333333 1px solid; 
  BORDER-LEFT: #333333 1px solid; 
  BORDER-RIGHT: #333333 1px solid; 
  BORDER-TOP: #333333 1px solid; 
  WIDTH: 90%;
  FONT-FAMILY: Verdana; 
  FONT-SIZE: 8pt;
  COLOR: #FFFFFF; 
}

.fieldse {
  BACKGROUND-COLOR: #999999; 
  BORDER-BOTTOM: #333333 1px solid; 
  BORDER-LEFT: #333333 1px solid; 
  BORDER-RIGHT: #333333 1px solid; 
  BORDER-TOP: #333333 1px solid; 
  WIDTH: 95%;
  FONT-FAMILY: Verdana; 
  FONT-SIZE: 7pt;
  COLOR: #FFFFFF; 
}

.fieldsf {
  BACKGROUND-COLOR: #999999; 
  BORDER-BOTTOM: #333333 1px solid; 
  BORDER-LEFT: #333333 1px solid; 
  BORDER-RIGHT: #333333 1px solid; 
  BORDER-TOP: #333333 1px solid; 
  FONT-FAMILY: Verdana; 
  FONT-SIZE: 8pt;
  COLOR: #FFFFFF; 
}

.fieldsg {
  BACKGROUND-COLOR: #CCCCCC; 
  BORDER-BOTTOM: #333333 1px solid; 
  BORDER-LEFT: #333333 1px solid; 
  BORDER-RIGHT: #333333 1px solid; 
  BORDER-TOP: #333333 1px solid; 
  FONT-FAMILY: Verdana; 
  FONT-SIZE: 10pt;
  COLOR: #000000; 
}

.butfield {
  BACKGROUND-COLOR: #999999; 
  BORDER-BOTTOM: #666666 1px solid; 
  BORDER-LEFT: #666666 1px solid; 
  BORDER-RIGHT: #666666 1px solid; 
  BORDER-TOP: #666666 1px solid; 
  FONT-FAMILY: Verdana; 
  FONT-SIZE: 7pt;
  COLOR: #000000; 
}

.butfieldc {
  BACKGROUND-COLOR: #333333; 
  BORDER-BOTTOM: #666666 1px solid; 
  BORDER-LEFT: #666666 1px solid; 
  BORDER-RIGHT: #666666 1px solid; 
  BORDER-TOP: #666666 1px solid; 
  FONT-FAMILY: Verdana; 
  FONT-SIZE: 7pt;
  COLOR: #DDDDDD; 
}

.butfieldb {
  BACKGROUND-COLOR: #CCCCCC; 
  BORDER-BOTTOM: #666666 1px solid; 
  BORDER-LEFT: #666666 1px solid; 
  BORDER-RIGHT: #666666 1px solid; 
  BORDER-TOP: #666666 1px solid; 
  FONT-FAMILY: Verdana; 
  FONT-SIZE: 7pt;
  COLOR: #000000; 
}
