
<link rel="stylesheet" href="{style_dir}admin.css" type="text/css">
<!--link rel="stylesheet" href="{style_dir}style.css" type="text/css"-->
<div id="menu" style="position:absolute; left:8px; top:79px; width:115px; height:100%; z-index:1;  layer-background-color: #F8F8F8; border: 1px none #000000;"> 
    <table width="111" border="0" align="left" cellpadding="0" cellspacing="0">
    <tr>
      <td colspan='2' align="left" valign="top" bgcolor="#F8F8F8" class="menu_table" >
      	<b>
	    <br>&nbsp;
        <a href='{home_dir}admin/conf/master.php' target='_top' class='button'>&nbsp;System</a> <br>
      	<br>
        &nbsp;&nbsp;<a href='{home_dir}admin/servers/master.php' target='_top' class='button'>&nbsp;Servers</a>
        <br>
        <br>&nbsp;
        <a href='{home_dir}admin/newsgroups/master.php' target='_top' class='button'>&nbsp;NewsGroups</a> <br>
        <br>&nbsp;
        <a href='{home_dir}admin/users/master.php' target='_top' class='button'>&nbsp;Users</a> <br>        
        <br>&nbsp;
        <!-- TO DO
        <a href='{home_dir}admin/admins/master.php' target='_top' class='button'>&nbsp;Administrators</a>
        <br><br>
        -->

        </b> </td>
    </tr>
  </table>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="0">
  <tr>
    <td align="center">
      <div align="left"><a href="{home_dir}/admin/admin_home.php"><img src="{images_dir}/mynewsgroups_admin.png" width="250" height="60" border="0"></a></div>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
