A:active {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #0A4276; text-decoration: underline}
A:link {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #0A4276; text-decoration: underline}
A:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #0A4276; text-decoration: underline}
A:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #FFA800; text-decoration: none}

h1 {  font-family: Arial, Helvetica, sans-serif; font-size: 36px; font-weight: bold; color: #D91D1D; font-style: normal; font-variant: normal}
h2 {  font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; color: #FFA800; font-style: normal; font-variant: normal; text-decoration: none;}
h3 {  font-family: Arial, Helvetica, sans-serif; font-size: 17px; font-weight: bold; color: #789DC0; font-style: normal; font-variant: normal; text-decoration: none;}
h4 {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #013A90; font-style: normal; font-variant: normal; text-decoration: none;}

.big { font-size: 13px; font-weight: bold; }

A.menu:active {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: white; text-decoration: underline}
A.menu:link {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: white; text-decoration: underline}
A.menu:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: white; text-decoration: underline}
A.menu:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FF7200; text-decoration: none}
b { font-weight: bold; color: #FFA800; }
body { background-color: white; color: black; font-size: 11px; font-family: tahoma;}
.copytext { font-family: small fonts, sans serif; font-size: 8px; }

.textfelt { background-color: #f1f1f1; border: 1px solid #0A4276; font-size: 9px; }
.textfelt_big { background-color: #f1f1f1; border: 1px solid #0A4276; font-size: 11px; }
.stable { width: 600px; height: 100%; border: 0px; font-size: 11px; font-family: arial;}
.table {background-color: #E2EBF8;}

.top {
			position: absolute; 
			left: 0px; 
			top: 0px; 
			width: 100%; 
			height: 10px; 
			background-image: url(../bilder/bg.jpg); 
			background-repeat: repeat-x;
			}
ul, ol { color: #FF7200; font-size: 12px;}
li { color: #000; font-size: 12px; }

A.copytext:active {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #0A4276; text-decoration: underline}
A.copytext:link {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #0A4276; text-decoration: underline}
A.copytext:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #0A4276; text-decoration: underline}
A.copytext:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #FFA800; text-decoration: none}

