/* 
	ClanAdmin Tools 1.3.4
	Default stylesheet
	By ArreliuS 2005
*/

body { 
	background-color:#fffffff;
	font-family: verdana;
	font-size: 11px;
	font-weight: none;
	color: black;
	left: 10;
	top: 0;
 	}

.body_install { 
 background-color:#f1f1f1;
 font-family: verdana;
 font-size: 11px;
 font-weight: none;
 color: black;
 left: 10;
 top: 0;

 }
.menu {
      position: absolute;
      left: 0px;
      top: 90px;
      height: 20px;
      width: 750px;
      padding: 3px;
      font-family: arial; 
	  background-color: #0A4276; 
	  border-top: 4px solid #48759F;
      }

.motd { 
	position: absolute;
    left: 515px;
	top: 125px;
	border: 1px solid #0A4276; 
	padding: 2px;
	width: 250px;
	}

#post_one { background-color: #E2EBF8; }
#post_two { background-color: white; }

.welcome {
      position: absolute;
      left: 5px;
      top: 125px;
      border: 1px solid #0A4276;
      font-size: 11px;
      width: 500px;
      padding: 2px;
      background-color: #E2EBF8;
      }
.footer{
		float: left;
		margin: 300 0 0 0;
        }
.code { font-size: 9px; color: #000000; font-family: verdana, tahoma; }
.copy {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 9px;
        font-weight: normal;
        font-variant: normal;
        color: #333333
      }
.copy_install {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: normal; font-variant: normal; color: #cccccc; width: 800px;}
.span { letter-spacing: 2px ; }
.small { font-size: 9px; color: #006699; }
.won { color: #006633; font-size: 10px; font-family: verdana;}
.lost { color: #FF0000; font-size: 10px; font-family: verdana;}
.white { color: #FFFFFF; }
.bold { font-size: 11px; font-weight: bold; }
h1 {  font-family: Arial, Helvetica, sans-serif; font-size: 36px; font-weight: bold; color: #D91D1D; font-style: normal; font-variant: normal; margin: 3px; }
h2 {  font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; color: #FFA800; font-style: normal; font-variant: normal; margin: 3px;}
h3 {  font-family: Arial, Helvetica, sans-serif; font-size: 17px; font-weight: bold; color: #789DC0; font-style: normal; font-variant: normal; margin: 3px;}
h4 {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #013A90; font-style: normal; font-variant: normal; margin: 3px;}

A:active {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #0A4276; text-decoration: underline}
A:link {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #0A4276; text-decoration: underline}
A:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #0A4276; text-decoration: underline}
A:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFA800; text-decoration: none}

A.menu2:active {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: white; text-decoration: underline}
A.menu2:link {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: white; text-decoration: underline}
A.menu2:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: white; text-decoration: underline}
A.menu2:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFA800; text-decoration: none}

.button { 
 	background-color: white;
	font-family: tahoma;
	font-size: 11px;
	font-weight: none;
	color: black;
	margin: 3px;
	padding: 2px;
	background-color: #0A4276; 
	border: 2px solid #BEB882;

	} 

.textfelt { 
 font-weight: normal;
 font-family: tahoma;
 font-size: 11px;
 color: #000000;
 border: 1px solid black; 
 margin: 3px;
 padding: 2px;

} 
.textfelt2 { 
 background-color: transparent;
 font-family: tahoma;
 font-weight: normal;
 font-size: 11px;
 color: #ffffff; 
 border: 1px solid #000000;
 
} 
.table { font-size: 11px; }
.text { font-size: 11px; font-family: verdana;}
.copytext { font-family: small fonts; font-size: 8px; }
