input, body, td, tr, select {font-family:Verdana, Arial; font-size:10px; font-weight:normal}
.tblTitle {background-color:#990000; font-family:Verdana, Arial; color:#FFFFFF; font-weight:bold; font-size:16px}
.tblBody {background-color:#CCCCCC}
.tblHead {background-color:#666666; font-family:Verdana, Arial; color:#FFFFFF; font-weight:bold; font-size:12px}
.tblHead2 {background-color:#990000; font-family:Verdana, Arial; color:#FFFFFF; font-weight:bold; font-size:12px}