<html> 
 
<head> 
<title>Bad picture information</title> 
</head> 
 
<body> 
<div align="center"><center> 
 
<table border="0" cellpadding="2" cellspacing="0" width="600" style="border: 1px solid"> 
<tr> 
<td bgcolor="#EFEFEF"><p align="center"><font face="Verdana" size="2" color="#FF0000"><strong>Inapropriate 
Image Report</strong></font></td> 
</tr> 
<tr> 
<td height="5"><p align="center"><font face="Verdana" size="2">System administrator has 
received the information about this bad picture.<br> 
The actions will be taken to remove it.<br> 
Thank you for your help! </font></td> 
</tr> 
<tr> 
<td height="5"><p align="center"><br> 
<big><font 
face="Arial"><img SRC="/vf-ads-dir/images/468x60engfvf.gif" 
WIDTH="468" HEIGHT="60" ALT="FreeVF" border="1"></font></big></a></td> 
</tr> 
</table> 
</center></div> 
</body> 
</html>
