<table border="0" cellpadding="0" cellspacing="0" width="100%"> 
<tr> 
<td>
<img src=$img$ width=150>
<hr size=1>
<br>
<form action=$script_name$ method=post>
<input type=hidden name=user value=$user$>
<input type=hidden name=mode value=comment_to_photo>
Your name<br><input type=string name=name>
<br>
Your email<br><input type=string name=email>
<br>
Your comments<br><TEXTAREA NAME=comment COLS=40 ROWS=3></TEXTAREA>
<br>
<input type=submit name=send value='send'>
</form>
<br>
$comment$
<br>
</td> 
</tr> 
</table> 
