<table border="0" cellpadding="2" cellspacing="0" width="600" style="border: 1px solid"> 
<tr> 
<td bgcolor="#EFEFEF"><p align="center"><font face="Verdana" size="2" color="#FF0000"><strong>Your 
Comments</strong></font></td> 
</tr> 
<tr> 
<td height="5"><div align="left"><table border="1" cellpadding="2" cellspacing="0" 
width="100%" bgcolor="#F0F0F0" bordercolor="#FFFFFF" bordercolorlight="#FFFFFF" 
bordercolordark="#FFFFFF"> 
<tr> 
<td><strong><font face="Verdana" size="2">Date</font></strong></td> 
<td><font face="Verdana" size="2">$date$</font></td> 
</tr> 
<tr> 
<td><strong><font face="Verdana" size="2">Name</font></strong></td> 
<td><font face="Verdana" size="2">$name$</font></td> 
</tr> 
<tr> 
<td><strong><font face="Verdana" size="2">Email</font></strong></td> 
<td><font face="Verdana" size="2">$mail$</font></td> 
</tr> 
<tr> 
<td><strong><font face="Verdana" size="2">Comment</font></strong></td> 
<td><font face="Verdana" size="2">$comment$</font></td> 
</tr> 
</table> 
</div></td> 
</tr> 
</tr> 
</table> 
</center></div>
