<title>FreeVF Nullified by TNO - (T)he (N)ameless (O)ne</title>
<div align="center"><center> 
 
<table border="0" cellpadding="2" cellspacing="0" width="700" style="border: 1px solid"> 
<tr> 
<td height="5"><div align="center"><center><table border="0" cellpadding="2" 
cellspacing="0" width="100%"> 
<tr> 
<td width="200" valign="top" align="center">
<img src="/vf-pic-dir/images/fvflogo.jpg" width="200" height="54" alt="Free VF Logo" border="0"></td> 
<td width="100%" valign="top"><p align="center"><big><font face="Arial"><img SRC="/vf-ads-dir/images/468x60engfvf.gif" WIDTH="468" HEIGHT="60" ALT="FreeVF" border="1"></font></big></td> 
</tr> 
<tr> 
<td width="200" valign="top" align="center"><font face="Verdana" size="2">$RESULT_AREA$</font><hr 
size="1" color="#000080"> 
<p><font face="Verdana" size="2">$LOGIN_AREA$</font><br>$show_top$</td> 
<td width="100%" valign="top"><p align="center"><font face="Verdana" size="2">$MAIN_AREA$</font></p> 
<center><font size=-2 color=eeeeee>$counter$</font></center>
<br>
<center><font size=-2 color=eeeeee>$counter_votes$</font></center>
</table> 
</center></div></td> 
</tr> 
</table>
