<div align="center"><center> 
 
<table border="0" cellpadding="0" cellspacing="0" width="100%"> 
<tr> 
<td width="100%" valign="top" height="115" align="center"><table border="0" cellpadding="9" cellspacing="0" width="100%" style="border: 1px solid"> 
<tr> 
<td bgcolor="#EFEFEF" valign="top" width="100%"><p align="center"><strong><font face="Verdana" size="2">FreeVF Nullified by TNO - (T)he (N)ameless (O)ne</font></strong></td> 
</tr> 
<tr> 
<td height="5" width="100%"><div align="center"><center><table border="0" cellpadding="0" cellspacing="0" width="100%"> 
<tr> 
<td width="100%" align="center"><form action="$script_name$" method="post"> 
<input type="hidden" name="mode" value><input type="hidden" name="user" value="$user$"><input type="hidden" name="*" value=" all sex"><input type="hidden" name="c" value=" common"><table border="0" celpadding="7" cellspacing="0"> 
<tr> 
<td align="center"><font face="Verdana" size="2"><img src=$picture$>$pic_text$</font></td> 
</tr> 
<tr> 
<td align="center"><font face="Verdana" size="2"><a href=$comment_to_photo$ target=cf>Your comments to this photo</a> $number$</font></td> 
</tr> 
<tr> 
<td align="center"><font face="Verdana" size="2"><b>Please select a rating to see the next picture</b></font></td> 
</tr> 
<tr> 
<td align="center"><table border="1" celpadding="7" cellspacing="0" bgcolor="#FFFFFF" width="100%" bordercolor="#000000" cellpadding="2"> 
<tr> 
<td bgcolor="0000FF" align="center"><font color="white" face="Verdana" size="2"><b><input type="radio" name="voting" value="1" onclick="this.form.submit()">1</b></font></td> 
<td bgcolor="1C00E2" align="center"><font color="white" face="Verdana" size="2"><b><input type="radio" name="voting" value="2" onclick="this.form.submit()">2</b></font></td> 
<td bgcolor="3800C6" align="center"><font color="white" face="Verdana" size="2"><b><input type="radio" name="voting" value="3" onclick="this.form.submit()">3</b></font></td> 
<td bgcolor="5500AA" align="center"><font color="white" face="Verdana" size="2"><b><input type="radio" name="voting" value="4" onclick="this.form.submit()">4</b></font></td> 
<td bgcolor="71008D" align="center"><font color="white" face="Verdana" size="2"><b><input type="radio" name="voting" value="5" onclick="this.form.submit()">5</b></font></td> 
<td bgcolor="8D0071" align="center"><font color="white" face="Verdana" size="2"><b><input type="radio" name="voting" value="6" onclick="this.form.submit()">6</b></font></td> 
<td bgcolor="AA0055" align="center"><font color="white" face="Verdana" size="2"><b><input type="radio" name="voting" value="7" onclick="this.form.submit()">7</b></font></td> 
<td bgcolor="C60038" align="center"><font color="white" face="Verdana" size="2"><b><input type="radio" name="voting" value="8" onclick="this.form.submit()">8</b></font></td> 
<td bgcolor="E2001C" align="center"><font color="white" face="Verdana" size="2"><b><input type="radio" name="voting" value="9" onclick="this.form.submit()">9</b></font></td> 
<td bgcolor="FF0000" align="center"><font color="white" face="Verdana" size="2"><b><input type="radio" name="voting" value="10" onclick="this.form.submit()">10</b></font></td>
</tr> 
</table> 
</td> 
</tr> 
<tr> 
<td align="center"><table border="0" celpadding="7" cellspacing="0"> 
<tr> 
<td align="right" rowspan="2"><font face="Verdana" size="2">show me</font></td> 
<td align="left"><font face="Verdana" size="2">
<select name="sex" onChange="this.form.submit()" size="1"> 
$sex_select_list$
</select>
</font></td> 
</tr> 
<tr> 
<td align="left"><font face="Verdana" size="2"><select name="category" onChange="this.form.submit()" size="1"> 
$cat_select_list$
</select> </font></td> 
</tr> 
</table> 
</td> 
</tr> 
</table> 
</form> 
</td> 
</tr> 
</table> 
</center></div></td> 
</tr> 
</table> 
</td> 
</tr> 
</table> 
</center></div><a href="$bad_picture$"> 
 
<p align="center"></a><font face="Verdana" size="2">Please <a href=$send_picture$>click here</a> for send this picture to friend.</font><br> 
<p align="center"></a><font face="Verdana" size="2">Please <a href=$bad_picture$>click here</a> if this picture is broken, porn, copyrighted a joke or an object other than human.</font><br> 
<font face="Verdana" size="2" color="black"><a href="$script_name$?mode=new_user&lang=$lang">Registration</a></font><font face="Verdana" size="2"> </font></p>
