<table border="0" cellpadding="2" cellspacing="0" width="600" style="border: 1px solid">
  <tr>
    <td bgcolor="#EFEFEF"><p align="center"><font face="Verdana" size="2" color="#FF0000"><strong>There
    are no more pictures available for voting. </strong></font></td>
  </tr>
  <tr>
    <td height="5"><div align="center"><center><table border="0" celpadding="7"
    cellspacing="0">
      <tr>
        <td align="center"><p align="center"><strong><font face="Verdana" size="2">Sorry! <br>
        There are no more pictures available for voting. <br>
        Please change voting criteria (sex, category) <br>
        or re-enter the system next time. <br>
        Minimum time between repeted voting is $voting_limit$ min <br>
        </font></strong></td>
      </tr>
    </table>
    </center></div></td>
  </tr>
  <tr align="center">
    <td height="5"><p align="center"><br>
    <big><font
    face="Arial"><img SRC="/vf-ads-dir/images/468x60rusfvf.gif"
    WIDTH="468" HEIGHT="60" ALT="FreeVF" border="1"></font></big></td>
  </tr>
</table>
</center></div>
