<div align="center"><center>

<table border="0" cellpadding="2" cellspacing="0" width="600" style="border: 1px solid">
  <tr>
    <td bgcolor="#EFEFEF"><p align="center"><font face="Verdana" size="2" color="#FF0000"><strong>Send
    this image to your friends</strong></font></td>
  </tr>
  <tr>
    <td height="5"><p align="center"><font face="Verdana" size="2">$send_picture_info$ </font></p>
    <form action="$script_name$" method="post">
      <input type="hidden" name="mode" value="send_picture"><input type="hidden" name="user"
      value="$user$"><div align="center"><center><p><font face="Verdana" size="2"><strong>e-mail
      address of your friend</strong><br>
      <input type="string" name="email"> <br>
      <strong>Brief message to this picture</strong><br>
      <input type="string" name="string" size="40"> <br>
      <input type="submit" name="submit" value="send"> </font></p>
      </center></div>
    </form>
    </td>
  </tr>
  <tr>
    <td height="5"><p align="center"><br>
    <big><font
    face="Arial"><img SRC="/vf-ads-dir/images/468x60engfvf.gif"
    WIDTH="468" HEIGHT="60" ALT="FreeVF" border="1"></font></big></td>
  </tr>
</table>
</center></div>
