<table border="0" cellpadding="2" cellspacing="0" width="200" style="border:1px solid"> 

<tr> 
<td bgcolor="#EFEFEF"><p align="center"><font face="Verdana" size="2" color="#FF0000"><b>Top | Bottom </b></font></td> 
</tr> 

<tr> 
<td height="5"></td> 
</tr> 

<tr> 
<td align="center">
 <table border="0" cellpadding="2"> 
 <td align=right><form action="$script_name$" method=post> 
 <input type="hidden" name="showtop" value="1">
 <font size="-1"><p><input type="submit" value="Show me"></font> 

 <br> 
 <select name="num" size="1"> 
 <option value="5" $shownum5$> 5</option> 
 <option value="10" $shownum10$> 10</option> 
 <option value="15" $shownum15$> 15</option> 
 <option value="20" $shownum20$> 20</option> 
 </select> 
 <br> 

 <select name="show" size="1");> 
 <option value="top" $showselect1$> top</option> 
 <option value="bottom" $showselect2$> bottom</option> 
 </select> 

 <select name="sex" size="1"> 
 $sex_select_list$
 </select> 

 <select name="category" size="1" > 
 $cat_select_list$
 </select> 

 </p> 
 </form> 
 </td> 
 </table>


</td></tr></table>
 
<table border="0" cellpadding="4" cellspacing="0" width="200" style="border: 1px solid"> 
<tr> 
<td bgcolor="#EFEFEF" align="center"><p align="center"><img src="/vf-pic-dir/images/whoisonline.gif" 
width="108" height="22" alt="Who is Online?"></td> 
</tr> 
<tr> 
<td height="5" align="center"></td> 
</tr> 
<tr> 
<td align="center"><p align="left"><font face="Verdana" size="1">There are <!--#include virtual="/vf-pic-dir/users-all.htm" --> users online<br> 
<font color="#000080">Unregistered users</font> -<!--#include virtual="/vf-pic-dir/users-unreg.htm" --><br> 
<font color="#FF0000">Registered users</font> -<!--#include virtual="/vf-pic-dir/users-reg.htm" --><br> 
<!--#include virtual="/vf-pic-dir/users-reg-list.htm" -->    </font></td> 
</tr> 
<tr> 
<td height="5" align="center"></td> 
</tr> 
</table>
