<table border="0" cellpadding="2" cellspacing="0" width="450" style="border:1px solid">
  <tr>
    <td bgcolor="#EFEFEF"><div align="center"><center><table border="1" width="100%" cellspacing="0" bordercolor="#000000">
      <tr>
        <td align="center"><strong><font face="Verdana" size="2">Number</font></strong></td>
        <td align="center"><strong><font face="Verdana" size="2">Rating</font></strong></td>
        <td align="center"><strong><font face="Verdana" size="2">Votes</font></strong></td>
        <td align="center"><strong><font face="Verdana" size="2">User/Jump to vote</font></strong></td>
      </tr>
    </center></div>
