<table border=0 celpadding=7 cellspacing=0>
<form action=$script_name$ method=POST ENCTYPE="multipart/form-data">
<input type=hidden name=mode value=edit>
<input type=hidden name=login value=$login$>
<input type=hidden name=password value=$password$>
<tr><td align=center colspan=2><br><b>$login$</b><br>$mess$<br></td></tr>
<tr><td align=center colspan=2> $img$ </td></tr>
<tr><td align=right>Your photo$if_you$</td><td><font size=-1>$forma_pic$</td></tr>
<tr><td align=right>sex</td><td>$menu_sex$</td></tr>
<tr><td align=right>category</td><td>$menu_cat$</td></tr>
<tr><td align=right>picture text</td><td><TEXTAREA NAME=pic_text COLS=20 ROWS=3>$pic_text$</TEXTAREA></td></tr>
<tr><td align=right>e-mail</td><td><input type=text name=email value="$email$" maxlength=50></td></tr>
<tr><td align=right>new password<br><font size=-2>If you want to change</font></td><td><input type=password name=password1></td></tr>
<tr><td align=right>new password<br><font size=-2>Please retype your password</font></td><td><input type=password name=password2></td></tr>
$remove_my_photo$
<tr bgcolor=eeeeee><td align=right>clear my ratings</td><td><input type=checkbox name=clear_rating value=1></td></tr>
<tr bgcolor=silver><td align=right>remove my account</td><td><input type=checkbox name=del_anketa value=1></td></tr>
<tr><td align=center colspan=2><br><font size=-1><input type=submit name=userdata value="update now"></font></td></tr>
</form>

<tr><td align=center colspan=2><hr size=1>

<table border=1 cellspacing=0 cellpadding=9>
<tr bgcolor=silver><td align=center colspan=2>Your statistics</td></tr>
<tr><td align=right>1</td><td align=left>$i1$</td></tr>
<tr><td align=right>2</td><td align=left>$i2$</td></tr>
<tr><td align=right>3</td><td align=left>$i3$</td></tr>
<tr><td align=right>4</td><td align=left>$i4$</td></tr>
<tr><td align=right>5</td><td align=left>$i5$</td></tr>
<tr><td align=right>6</td><td align=left>$i6$</td></tr>
<tr><td align=right>7</td><td align=left>$i7$</td></tr>
<tr><td align=right>8</td><td align=left>$i8$</td></tr>
<tr><td align=right>9</td><td align=left>$i9$</td></tr>
<tr><td align=right>10</td><td align=left>$i10$</td></tr>
<tr bgcolor=silver><td align=right>Total</td><td align=left>votes - $votes$<br>rating - $rait$</td></tr>
</table>

<tr><td align=center colspan=2><br>$clone$<br></td></tr>
<tr><td align=center colspan=2><a href="$return_url$">return to main page</a><br></td></tr>
</table>
