/* Atrise PHP Script Debugger 1.1.0 */

.debug, .debughover {
  overflow: visible;
  height: 1px;
  margin: 1px;
  padding: 1px;
  background: #ffffd0;
  color: black;
  font-family: tahoma, sans-serif;
  font-size: 9px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  letter-spacing: 0;
  text-decoration: none;
  text-align: left;
  text-transform: none;
  border-color: #ff0000;
  border-width: 1px;
  border-style: solid;
  display: inline;
}

.debug a         {text-decoration: underline;}
.debug a:link    {color: #0000ff;}
.debug a:visited {color: #0000ff;}
.debug a:active  {color: red;}
.debug a:hover   {color: red;}

.debughint {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;

  position: absolute;
  margin-top: 11px;
  margin-left: 1px;
  padding: 4px;
  background: #ffffd0;
  border-color: #ff0000;
  border-width: 1px;
  border-style: solid;
}

.debug .debughint {
  left: -20000px;
}

.debughover .debughint {
  left: auto;
}

.debughintval {
	color: blue;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	position: relative;
	display: inline;
}

.debug_foot {
  margin-top: 4px;
  padding: 8px 8px 8px 8px;
  background: #ffffd0;
  color: black;
  font-family: tahoma, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  letter-spacing: 0;
  text-decoration: none;
  vertical-align: text-top;
  text-align: left;
  text-transform: none;
  border-color: #ff0000;
  border-width: 1px;
  border-style: solid;
}

.debug_section_head {
  width: 30%;
  padding: 2px;
  background: #ffffff;
  text-align: center;
  border-color: #ff0000;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  cursor: pointer;
}

.debug_section {
  width: 100%;
  padding: 0;
  margin: 0 0 8px 0;
  background: #ffffff;
  color: black;
  border-color: #ff0000;
  border-width: 1px;
  border-style: solid;
}

.debug_hidden {
  margin: 0;
  padding: 0 4px 0 4px;
  visibility: hidden;
  overflow: hidden;  
  height: 1px;  
}

.debug_hidden a:link          {color: #0000ff; text-decoration: underline;}
.debug_hidden a:visited       {color: #0000ff; text-decoration: underline;}
.debug_hidden a:active        {color: #ff3300; text-decoration: underline;}
.debug_hidden a:hover         {color: #ff3300; text-decoration: underline;}
.debug_hidden a:visited:hover {color: #ff3300; text-decoration: underline;}

.debug_hidden pre {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
  width: 100%;
  overflow: hidden;
}

.debug_hidden p {
  margin: 1px;  
  line-height: 1.5em;
}

.debughintval i{
  text-decoration: none;
  font-style: normal;
  color: #00a000;
}

.debughintval s {
  font-style: normal;
  text-decoration: none;
  color: #ff0000;
}

.debug_hidden pre i {
  text-decoration: none;
  font-style: normal;
  color: #00a000;
}

.debug_hidden pre s {
  font-style: normal;
  text-decoration: none;
  color: #0000ff;
}
