/** Not needed for forum, specific to the dotNetBB.com site...	**/	
BODY 
	{
		color						: #FFFFFF;
		background-Color			: #000000;
		font-family					: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size					: 8pt;
		scrollbar-face-color		: #4a4a4a; 
		scrollbar-highlight-color	: #7d7d7d; 
		scrollbar-shadow-color		: #323232; 
		scrollbar-3dlight-color		: #111111; 
		scrollbar-arrow-color		: #bbbbcc; 
		scrollbar-track-color		: #333333; 
		scrollbar-darkshadow-color	: #000000; 
		scrollbar-base-color		: #789789;

	}
A
	{
		color					: #FFFF00;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		text-decoration			: none;
		font-weight				: normal;
	}
A:hover
	{
		color					: #FCFC9B;
		text-decoration			: underline;
	}
.main
	{
		color					: #FFFFFF;
		background-color		: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8.5pt;
		cursor					: default;
		font-weight				: normal;
		text-align				: justify;
	}
.mainpad
	{
		color					: #FFFFFF;
		background-color		: #DDDDDD;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8.5pt;
		cursor					: default;		
		font-weight				: normal;
		padding-left			: 5px;
		padding-right			: 5px;
		padding-top				: 10px;
		padding-bottom			: 10px;
	}
.btnBar
{
		color					: #FFFFFF;
		background-color		: #879BA5;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 9pt;
		cursor					: default;
		font-weight				: bold;
		border-bottom			: 1px inset threedshadow;
		border-top				: 1px inset threedshadow;
		background-image		: url(/images/nav/navbar.gif);
}


/** End of dotNetBB.com specific		**/
.coppaInput {
		color					: #000000;
		background-color		: #FFFFFF;
		font-family				: Verdana, Tahoma, Arial, Helvetica, Sans-Serif;
		font-size				: 8pt;
		width					: 100%;	
		border					: 1px solid #000000;
	}

.copyRight
{
		color					: #FFFFFF;
		background-color		: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 7.5pt;
		cursor					: default;
		font-weight				: normal;
}

.msgButton {
		color					: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		font-weight				: normal;
		border					: 1px #000000 solid;
		width					: 80px;
		cursor					: pointer;
		cursor					: hand;
		filter					: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#D4D0C8', EndColorStr='#CCCCCC');
	}	
	
.msgButtonRoll {
		color					: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		font-weight				: normal;
		border					: 1px #000000 solid;
		width					: 80px;
		cursor					: pointer;
		cursor					: hand;
		filter					: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#D4D0C8', StartColorStr='#EEEEEE');
	}	

.msgCode {
		background-color		: #000000;
		color					: #000099;
		font-family				: Lucida Console, Verdana, Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: normal;
		padding-left			: 10px;
		padding-right			: 10px;
		padding-bottom			: 5px;
		padding-top				: 5px;
		border					: 1px inset threedshadow;
		
	}

.msgFormBody {
		color					: #FFFFFF;
		background-color		: #4E4E4E;
		font-family				: Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: normal;
		border-bottom			: 1px inset threedshadow;
	}
.msgFormDesc {
		color					: #FFFFFF;
		background-color		: #4E4E4E;
		font-family				: Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: bold;
		padding-right			: 15px;
		border-bottom			: 1px inset threedshadow;
	}

/* Color for drop is not set on purpose.  This is done in code! #990000 for top of the forum, #000099 for category, #000000 for forum*/
.msgFormDrop {	
		background-color		: #FFFFFF;
		font-family				: Tahoma, Verdana, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		font-weight				: normal;
		text-align				: center;
	}
	
.msgFormDescSm {
		color					: #FFFFFF;
		background-color		: #4E4E4E;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 7.5pt;
		cursor					: default;
		font-weight				: normal;
		padding-right			: 15px;
	}
.msgFormSearchError {
		color					: #FFFF00;
		background-color		: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;		
		font-weight				: normal;		
	}


.msgFormError {	
		color					: #FFFF00;
		background-color		: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 10pt;
		cursor					: default;		
		font-weight				: normal;		
	}


.msgFormHead {
		color					: #FFFFFF;
		background-color		: #828383;
	    font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 9pt;
		cursor					: default;
		font-weight				: bold;
		border-bottom			: 1px solid #000000;
		border-top				: 1px solid #000000;
		background-image		: url(/forum/styles/ColdMetal/images/subtopicbar.gif);
		background-repeat		: repeat-x;
	}

.msgFormHelp {
		color					: #FFFFFF;
		background-color		: #4E4E4E;
		font-family				: Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: normal;
		border					: 1px solid #4E4E4E;
	}	
.msgFormInput {
		color					: #FFFFFF;
		background-color		: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;		
		font-weight				: bold;
		width					: 100%;
		border					: 1px outset threedshadow;
		height					: 20px;
	}
.msgFormStdInput {
		color					: #FFFFFF;
		background-color		: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;		
		font-weight				: bold;
		border					: 1px outset threedshadow;
		height					: 20px;
	}
		
.msgFormTextBox {
		color					: #FFFFFF;
		background-color		: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;		
		font-weight				: bold;
		width					: 100%;
		border					: 1px outset threedshadow;
		height					: 250px;
	}
	
.msgFormSmTextBox {
		color					: #FFFFFF;
		background-color		: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;		
		font-weight				: bold;
		width					: 100%;
		border					: 1px outset threedshadow;
		height					: 150px;
	}
.msgFormTitle {
		color					: #FFFFFF;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 10pt;
		cursor					: default;		
		font-weight				: bold;		
		background-color		: #666666;
		background-image		: url(/forum/styles/ColdMetal/images/subtopicbar.gif);
	}
.msgForumHead {
		color					: #000000;
		background-color		: #828383;
	    font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: normal;
		background-image		: url(/forum/styles/ColdMetal/images/forumbar.gif);
		background-repeat		: repeat-x;
		border-bottom			: 1px solid #000000;
		border-top				: 1px solid #000000;
	}
.msgHead {
		color					: #FFFFFF;
		background-color		: #878080;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: bold;
		border-top				: 1px outset threedshadow;
		border-bottom			: 1px outset threedshadow;
	}

.msgHelpBody {
		color					: #FFFFFF;
		background-color		: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: normal;
		border-top				: 1px outset threedshadow;
		padding-left			: 15px;
		padding-right			: 15px;
		text-align				: justify;
	}
.msgLg {
		color					: #FFFFFF;
		background-color		: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 12pt;
		cursor					: default;
		font-weight				: normal;
	}

.msgMd {
		color					: #FFFFFF;
		background-color		: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 10pt;
		cursor					: default;
		font-weight				: normal;
	}

.msgPath {
		color					: #FFFFFF;
		background-color		: #4C556F;
		font-family				: Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: bold;
		border-bottom			: 1px outset threedshadow;
		filter					 : progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#796B57', StartColorStr='#4E4E4E');		
	}
.msgPmExtra {
		color					: #FFFFFF;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 7pt;
		font-weight				: normal;
		background-color		: #000000;
		cursor					: default;		
	}
.msgPmIn {
		color					: #FFFFFF;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 7pt;
		font-weight				: normal;
		background-Color		: #009900;
		cursor					: default;		
	}	
	
.msgPmSent {
		color					: #FFFFFF;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 7pt;
		font-weight				: normal;
		background-Color		: #990000;
		cursor					: default;		
	}

.msgQuote {
		background-color		: #FFFFFF;
		color					: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;
		font-style				: italic;
		padding-left			: 10px;
		padding-right			: 10px;
		padding-bottom			: 5px;
		padding-top				: 5px;
		border					: 1px inset threedshadow;		
	}

.msgQuoteWrap {
		padding-top				: 5px;
		padding-bottom			: 5px;
		padding-left			: 30px;
		padding-right			: 30px;
	}
.msgSearchHead {
		color					: #000000;
		background-color		: #CBCBCB;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: normal;
		border-bottom			: 1px outset threedshadow;
		border-top				: 1px outset threedshadow;
	}
	
.msgSm {
		color					: #FFFFFF;
		background-color		: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: normal;
	}

.msgSmRow {
		color					: #FFFFFF;
		background-color		: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: normal;
		border-top				: 1px solid #EEEEEE;
	}


.msgSmButton {
		color					: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		border					: 1px #000000 solid;
		cursor					: pointer;
		cursor					: hand;
		filter					: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#D4D0C8', EndColorStr='#CCCCCC');
	}	
.msgSmButtonRoll {
		color					: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		border					: 1px #000000 solid;
		cursor					: pointer;
		cursor					: hand;
		filter					: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#D4D0C8', StartColorStr='#EEEEEE');
	}	
		
.msgThread1	{
		background-color		: #5D5E5D;
		color					: #FFFFFF;
		font-family				: Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: normal;
		padding					: 3px;
	}
	
.msgThread2	{
		background-color		: #000000;
		color					: #FFFFFF;
		font-family				: Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: normal;
		padding					: 3px;
	}	

.msgThreadInfo {
		background-color		: #B6B6B6;
		background-image		: url(/forum/styles/ColdMetal/images/subjbar.gif);
		background-repeat		: repeat-x;
		color					: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: normal;
		border-top				: 1px outset threedshadow;
		border-bottom			: 1px outset threedshadow;
		vertical-align			: top;
	}

.msgTitleRow {
		color					: #FFFFFF;
		background-color		: #57473F;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 10pt;
		font-weight				: bold;
		cursor					: default;	
		background-image		: url(/forum/styles/ColdMetal/images/titlebar.gif);
		border-top				: 1px solid #000000;
	}

.msgTopic {
		color					: #FFFFFF;
		background-color		: #000000;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: normal;
		border-top				: 1px outset threedshadow;
	}	

.msgTopicAnnounce {
		color					: #FFFFFF;
		background-color		: #407b2b;
		font-family				: Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: normal;
		border-top				: 1px outset threedshadow;
	}

.msgTopicHead {
		color					: #FFFFFF;
		background-color		: #666666;
	    font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: normal;
		background-image		: url(/forum/styles/ColdMetal/images/subtopicbar.gif);
		border-bottom			: 1px solid #000000;
		background-repeat		: repeat-x;
	}

.msgUser {
		background-color		: #4E4E4E;
		color					: #FFFFFF;
		font-family				: Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: normal;
		border-top				: 1px outset threedshadow;		
	}

.msgUserBar {
		background-color		: C9C5C5;
		font-family				: Verdana, Tahoma, Arial, Helvetica, sans-serif;
		font-size				: 8pt;
		color					: #000000;
		cursor					: default;
		font-weight				: normal;
		background-image		: url(/forum/styles/ColdMetal/images/userbarback.gif);
		background-repeat		: repeat-x;
		padding-bottom			: 2px;
		padding-top				: 3px;
		padding-left			: 8px;
		padding-right			: 8px;
	}

.msgVoteHead {
		color					: #000000;
		background-color		: #828383;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: bold;
		background-image		: url(/forum/styles/ColdMetal/images/forumbar.gif);
		border-bottom			: 1px solid #000000;
	}

.msgVoteRow {
		color					: #000000;
		background-color		: #F6F6F6;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 8pt;
		cursor					: default;
		font-weight				: normal;
		border-top				: 1px outset threedshadow;
	}

.msgXsm {
		color					: #FFFFFF;
		font-family				: Verdana, Tahoma, Arial, Helevetica, Sans-Serif;
		font-size				: 7.5pt;
		cursor					: default;
		font-weight				: normal;
	}
	
.outerTable {
		border					: 1px outset threedshadow;	
	}
	
.tblStd {
		border					: 1px outset threedshadow;	
	}