<html>
<head>
<title>%%%SITE_TITLE%%% : Your Shopping Cart</title>

<!--#include file="%%%TEMPLATES_DIR%%%/header.html"-->


      <table border=0 width="95%" cellspacing=0 cellpadding=5>
        <tr bgcolor="%%%HEADING_COLOR%%%"> 
          <td align=center><font face="Verdana,Arial,Helvetica" size=1 color="#ffffff"><font face="Verdana,Arial,Helvetica" size=1 color="#ffffff">YOUR SHOPPING CART</font></font></td>
        </tr>
        </table>
   
      <table border=0 cellspacing=0 cellpadding=4 width="95%">
          <tr bgcolor="#ffffff"> 
          <td> 
                  <table border="0" width="100%" cellspacing="0" cellpadding=0>
                    <tr> 
                      <td valign=top>%%%SHOPPING_CART%%%</td>
                    </tr>
                  </table>
          </td>
        </tr>
      </table>

<!--#include file="%%%TEMPLATES_DIR%%%/footer.html"-->

</body>
</html>
