  
<!--Do not put any other HTML code before the <table> tag and after the </table> tag of this document. -->

<table border=1 cellspacing=0 cellpadding=4 width="640">
  <tr>
      
    <td><font face="Arial, Helvetica, sans-serif" size="2"> 
      <center>
        <b>INSTRUCTIONS</b> 
      </center>
      <br>
      There are three ways you can proceed: 
      <ol>
        <li><b>FAX:</b> You can print the form, fill in the payment information 
          and then fax it to %%%FAX%%%.</li>
        <li><b>PHONE:</b> You can phone us at %%%PHONE%%% and give us the order 
          # %%%ORDERID%%% with your payment information.</li>
        <li><b>CHECK:</b> You can print the form and send it with a check included 
          to:</li>
        <ol>
          %%%COMPANY%%% %%%ADDRESS%%% %%%CITYSTATEZIP%%% %%%COUNTRY%%% 
        </ol>
      </ol>
      <br>
      For your information: This order has been written (without payment information) to our database with the 
      status &quot;%%%STATUS_FAXPHONE%%%&quot;. This will guarantee quick processing of your order once
	  we receive your payment. We will be waiting to hear from 
      you. However, if you do not wish to proceed at this time, please be so kind 
      to inform us of that so that we can delete this order and keep our database 
      up to date. Thank you,<br><br>
      Sincerely,<br><br>%%%COMPANY%%%<br><center>
        <a href="%%%IF_URL%%%">Return to our site</a>
</center></font></td>
    </tr>
  </table>
