<!-- start of footer -->
    </td>
  </tr>
</table>
<br>
<table border=0 width=100% cellspacing=0 cellpadding=4>
  <tr bgcolor="%%%HEADING_COLOR%%%"> 
    <td align=center><font size=1 face="Verdana,Arial,Helvetica" color="#ffffff"> 
      <a class=nav href="%%%IF_URL%%%">HOME</a> | <a class=nav href="%%%IF_URL%%%?advsearch=1">SEARCH</a> | <a class=nav href="%%%IF_URL%%%?login=1">SIGN-IN</a> | <a class=nav href="%%%IF_URL%%%?logout=1">SIGN-OUT</a> | <a class=nav href="%%%IF_URL%%%?lightbox=view">%%%LIGHTBOX_MENU_TEXT%%%</a> | <a class=nav href="%%%CART_URL%%%?target=reviewcart">VIEW 
      CART</a> | <a class=nav href="%%%CART_URL%%%?target=change">EMPTY CART</a> | <a class=nav href="%%%CART_URL%%%?target=checkout">CHECKOUT</a> | <a class=nav href="%%%IF_URL%%%?order=view">VIEW ORDERS</a></font><br>
    </td>
  </tr>
</table>
<table border=0 width=100% cellspacing=0 cellpadding=0>
  <tr bgcolor="#cccccc"> 
    <td align=center><img src="%%%IFIMAGES%%%/spacer.gif" height=1 width=1></td>
  </tr>
  <tr bgcolor="#666666"> 
    <td align=center><img src="%%%IFIMAGES%%%/spacer.gif" height=1 width=1></td>
  </tr>
</table>
<table border=0 width=100% cellspacing=0 cellpadding=2>
  <tr bgcolor="%%%BACKGROUND_COLOR%%%"> 
    <td align=center><br>%%%PULLDOWN_MENU%%%</td>
  </tr>
</table>
<table border=0 width=100% cellspacing=0 cellpadding=0>
  <tr> 
    <td align=center><img src="%%%IFIMAGES%%%/shadow.gif" height=5 width="100%"></td>
  </tr>
</table>
<br>
<center>
  <font size=1 face="Verdana,Arial,Helvetica">&copy; Copyright 2001 Your Company, Inc. 
  All rights reserved.<br><font color="%%%HEADING_COLOR%%%"></font></font> <br>
  <br>
</center>

<!-- end of footer -->