

<!-- NOTE:
    # This is not a complete HTML page and is not meant to be.
    # Edit by hand, but only if you are knowledgeable of HTML.
    # Do not add anything to the HEAD or bottom of this file.
    # This file is pulled into your ImageFolio HTML templates.
    # Using a header and footer allows you to make quick design
    # adjustments without having to edit each and every template.
-->

<!-- Start Lightbox JavaScript -->%%%LIGHTBOX%%%<!-- End Lightbox JavaScript -->


<!-- Start Image Protection JavaScript -->
<SCRIPT LANGUAGE="JavaScript1.1" SRC="%%%IFIMAGES%%%/imageprotect.js"></SCRIPT>
<!-- End Image Protection JavaScript -->


<style type="text/css"><!--

   .roll         { text-decoration:none;     color:#ffffff; }
   A.roll:hover   { text-decoration:underline; color:#ffffff; }

   .roll2        { text-decoration:none;     color:%%%BACKGROUND_COLOR%%%; }
   A.roll2:hover   { text-decoration:underline; color:#000000; }

   .mainnav      { text-decoration:none;     color:%%%BACKGROUND_COLOR%%%; }
   A.mainnav:hover { text-decoration:none;     color:#000000; }

   .nav         { text-decoration:none;     color:#ffffff; }
   A.nav:hover    { text-decoration:underline; color:#ffffff; }

--></style>


</head>

<body bgcolor="#ffffff" marginwidth=0 marginheight=0 topmargin=0 rightmargin=0 leftmargin=0 bottommargin=0 %%%DOWNLOAD%%%>

<table border=0 width="100%" cellspacing=0 cellpadding=5>
  <tr bgcolor="#000000">
   <td><font size="+1" face="Arial,Helvetica" color="#ffffff"><b>%%%SITE_TITLE%%%</b></font></td>
  </tr>
</table>
<table border=0 width=100% cellspacing=0 cellpadding=4>
  <tr bgcolor="%%%HEADING_COLOR%%%">
   <td align=center><font size=1 face="Verdana,Arial,Helvetica" color="#ffffff">
     <a class=nav href="%%%IF_URL%%%">HOME</a> | <a class=nav href="%%%IF_URL%%%?advsearch=1">SEARCH</a>
     | <a class=nav href="%%%IF_URL%%%?login=1">SIGN-IN</a> | <a class=nav href="%%%IF_URL%%%?logout=1">SIGN-OUT</a> | <a class=nav href="%%%IF_URL%%%?lightbox=view">%%%LIGHTBOX_MENU_TEXT%%%</a>
     | <a class=nav href="%%%CART_URL%%%?target=reviewcart">VIEW CART</a> | <a class=nav href="%%%CART_URL%%%?target=change">EMPTY
     CART</a> | <a class=nav href="%%%CART_URL%%%?target=checkout">CHECKOUT</a> | <a class=nav href="%%%IF_URL%%%?order=view">VIEW ORDERS</a></font><br>
   </td>
  </tr>
</table>


<table border=0 cellspacing=0 cellpadding=15 width="100%">
  <tr>
   <td><font size=1 face="Verdana,Arial,Helvetica">%%%LOGIN_INFO%%%You are here: %%%PAGELINKS%%%</font></td>
   <td align=right><font size=1 face="Verdana,Arial,Helvetica">%%%COUNTS%%%%%%SEARCH_INFO%%%</font></td>
  </tr>
</table>

<table border=0 width="100%" cellspacing=0 cellpadding=0>
  <tr>
   <td bgcolor="%%%BACKGROUND_COLOR%%%" valign=top width="150">
     <table border=0 width="100%" cellspacing=0 cellpadding=4>
      <tr bgcolor="%%%HEADING_COLOR%%%">
        <td align=center><font face="Verdana,Arial,Helvetica" size=1 color="#ffffff"><a class=nav href="%%%CART_URL%%%?target=reviewcart">YOUR CART</a></font></td>
      </tr>
      <tr>
        <td>
         <table border=0 cellspacing=1 cellpadding=1 width="100%">
           <tr bgcolor="#666666">
            <td width="50%" align=center><font face="Verdana,Arial,Helvetica" size=1 color="#ffffff">items</font></td>
            <td width="50%" align=center><font face="Verdana,Arial,Helvetica" size=1 color="#ffffff">subtotal</font></td>
           </tr>
           <tr bgcolor="#ffffff">
            <td align=center><font face="Verdana,Arial,Helvetica" size=1>%%%NUMITEMS%%%</font></td>
            <td align=center><font face="Verdana,Arial,Helvetica" size=1>%%%AMOUNT_MINICART%%%</font></td>
           </tr>
         </table>
        </td>
      </tr>
      <tr bgcolor="%%%HEADING_COLOR%%%">
        <td align=center><font face="Verdana,Arial,Helvetica" size=1 color="#ffffff">KEYWORD SEARCH</font></td>
      </tr>
      <tr>
        <td>
         <table border=0 cellspacing=1 cellpadding=2 width="100%">
           <tr bgcolor="%%%BACKGROUND_COLOR%%%">
            <td align=center>%%%SEARCH_BOX%%%</td>
           </tr>
         </table>
        </td>
      </tr>
      <tr bgcolor="%%%HEADING_COLOR%%%">
        <td align=center><font face="Verdana,Arial,Helvetica" size=1 color="#ffffff">FEATURES</font></td>
      </tr>
      <tr>
        <td>
         <table border=0 cellspacing=1 cellpadding=2 width="100%">
           <tr bgcolor="#ffffff">
            <td align=center><font face="Verdana,Arial,Helvetica" size=1><a href="%%%IF_URL%%%?advsearch=1" class=mainnav>POWER SEARCH</a></font></td>
           </tr>
           <tr bgcolor="#ffffff">
            <td align=center><font face="Verdana,Arial,Helvetica" size=1>%%%LIGHTBOX_COUNT%%%</font><noscript><font face="Verdana,Arial,Helvetica" size=1 color="%%%BACKGROUND_COLOR%%%">This function needs a JavaScript enabled browser.</font></noscript></td>
           </tr>
           <tr bgcolor="#ffffff">
            <td align=center><font face="Verdana,Arial,Helvetica" size=1><a href="%%%IF_URL%%%?img=0&search=NEW" class=mainnav>WHAT'S
              NEW?</a></font></td>
           </tr>
           <tr bgcolor="#ffffff">
            <td align=center><font face="Verdana,Arial,Helvetica" size=1><a href="%%%IF_URL%%%?img=0&search=RANDOM" class=mainnav>RANDOM
              DISPLAY</a></font></td>
           </tr>
         </table>
        </td>
      </tr>

      <tr bgcolor="%%%HEADING_COLOR%%%">
        <td align=center><font face="Verdana,Arial,Helvetica" size=1 color="#ffffff">CATEGORIES</font></td>
      </tr>
      <tr>
        <td>
         <table border=0 cellspacing=0 cellpadding=2 width="100%">
           %%%CATLINKS%%%
         </table>
         <br>
         <img src="%%%IFIMAGES%%%/bspacer.gif" height=1 width=150></td>
      </tr>
     </table>
   </td>
   <td valign=top width="100%" align=center>

     <!-- End of Header -->

