<html>
<head>
<title>%%%SITE_TITLE%%% : %%%CATEGORY%%% : %%%ITEM#%%%</title>
<!--#include file="%%%TEMPLATES_DIR%%%/header.html"-->
<table border=0 width="95%" cellspacing=0 cellpadding=5>
  <tr bgcolor="%%%HEADING_COLOR%%%">
   <td align=center><font face="Verdana,Arial,Helvetica" size=1 color="#ffffff"><font face="Verdana,Arial,Helvetica" size=1 color="#ffffff">%%%CATEGORY%%%</font></font></td>
  </tr>
</table>
<table border=0 cellspacing=0 cellpadding=4 width="95%">
  <tr bgcolor="#ffffff">
   <td>
     <table border=0 width="100%" cellspacing=0 cellpadding=0>
      <tr>
        <td align=center valign=top>
         <table border=0 width="100%">
           <tr>
            <td width="25%"><nobr>&nbsp;<font face="Verdana,Arial,Helvetica" size=1>%%%PREVPAGE%%%</font></nobr></td>
            <td align=center width="50%"><nobr><font face="Verdana,Arial,Helvetica" size=1>%%%THUMB_LINK%%%</font></nobr></td>
            <td align=right width="25%"><nobr><font face="Verdana,Arial,Helvetica" size=1>%%%NEXTPAGE%%%</font>&nbsp;</nobr></td>
           </tr>
         </table>
         <hr size=1 noshade>
         <table border=0 cellspacing=0 cellpadding=10>
           <tr>
            <td align=center valign=top>%%%IMAGE%%%</td>
            <td valign=top bgcolor="#ffffff"> %%%BUYFORM%%% <font face="Verdana,Arial,Helvetica" size="2" color="%%%HEADING_COLOR%%%"><b>%%%ITEM%%%</b></font>
              <table border=0 cellspacing=0 cellpadding=3 width="200">
               <tr>
                 <td>%%%FORMERRORS%%%
                 %%%PRODUCT_INFO%%%
                 </td>
               </tr>
               <tr>
                 <td>%%%OPTIONS%%%</td>
               </tr>
               <tr>
                 <td align=center>
                  <table border=0 cellspacing=0 cellpadding=0 width="100%">
                    <td><font face="Verdana,Arial,Helvetica" size=1>%%%ITEMQUANT%%%</font>
                    </td>
                    <td align=right>
                     <input type=image src="%%%IFIMAGES%%%/add-to-cart.gif" border=0  hspace=3 value="Add to Cart">
                    </td>
                    </tr>
                  </table>
                 </td>
               </tr>
              </table>
            </td>
           </tr>
           <tr>
            <td colspan=2>
              <table border=0 cellspacing=0 cellpadding=0 bgcolor="%%%BACKGROUND_COLOR%%%" width="100%">
               <tr>
                 <td>
                  <table border=0 cellspacing=1 cellpadding=3 width="100%">
                    <tr>
                     <td valign=top bgcolor="%%%HEADING_COLOR%%%" colspan=2 align=center><font face="Verdana,Arial,Helvetica" size="1" color="#ffffff">DETAILED
                       VIEW</font></td>
                    </tr>
                    <tr>
                     <td valign=top bgcolor="#cccccc" width="30%"><font face="Verdana,Arial,Helvetica" size="1">ID
                       Number</font></td>
                     <td valign=top bgcolor="#ffffff" width="70%"><font face="Verdana,Arial,Helvetica" size="1">#
                       %%%IMAGE_NAME%%%&nbsp;</font></td>
                    </tr>
                    <tr>
                     <td valign=top bgcolor="#cccccc"><font face="Verdana,Arial,Helvetica" size="1">Category</font></td>
                     <td valign=top bgcolor="#ffffff"><font face="Verdana,Arial,Helvetica" size="1"><a href="%%%IF_URL%%%?direct=%%%CAT%%%">%%%CAT%%%</a>&nbsp;</font></td>
                    </tr>
                    <tr>
                     <td valign=top bgcolor="#cccccc"><font face="Verdana,Arial,Helvetica" size="1">Keywords</font></td>
                     <td valign=top bgcolor="#ffffff"><font face="Verdana,Arial,Helvetica" size="1">%%%KEYWORDS%%%&nbsp;</font></td>
                    </tr>
                    <tr>
                     <td valign=top bgcolor="#cccccc"><font face="Verdana,Arial,Helvetica" size="1">Wishlist</font></td>
                     <td valign=top bgcolor="#ffffff">%%%LIGHTBOX_LINK%%%</td>
                    </tr>
                  </table>
                 </td>
               </tr>
              </table><br>%%%IPTCTABLE%%%
            </td>
           </tr>
         </table></form>
         <!-- end of form -->
        </td>
      </tr>
     </table>
     <center>
      <hr size=1 noshade>
      <table border=0 width="100%">
        <tr>
         <td width="25%"><nobr>&nbsp;<font face="Verdana,Arial,Helvetica" size=1>%%%PREVPAGE%%%</font></nobr></td>
         <td align=center width="50%"><nobr><font face="Verdana,Arial,Helvetica" size=1>%%%THUMB_LINK%%%</font></nobr></td>
         <td align=right width="25%"><nobr><font face="Verdana,Arial,Helvetica" size=1>%%%NEXTPAGE%%%</font>&nbsp;</nobr></td>
        </tr>
      </table>
     </center>
     <br>
   </td>
  </tr>
</table>
<!--#include file="%%%TEMPLATES_DIR%%%/footer.html"-->
</body>
</html>

