#motioncontainer a img{ /*image border color*/
border: 1px solid transparent;
#border: 1px solid white;
}

#motioncontainer a:hover img{ /*image border hover color*/
border: 1px solid navy;
}

.imgarrow{ /*image border color*/
border: 1px solid transparent;
#border: 1px solid white;
}

#motioncontainer a:hover{
color: red; /* Dummy definition to overcome IE bug */
}
