.edit { border-width: 1px; BORDER-COLOR: #333366; FONT-COLOR: #333366; FONT-SIZE: 14pt; }

.edit1 { font-family: Courier; border-width: 1px; BORDER-COLOR: #333366; FONT-COLOR: #333366; FONT-SIZE: 8pt; }

.norm { font-family: Courier; font-size: 14pt; color: #333366; }

hr { noshade; size: 4; color: #333366; }

p { font-family: Courier; font-size: 8pt; }

table { border-color: #849DBC; border-width: 1px; }

td { border-color: #849DBC; border-width: 1px; }
