
<span class="text13">Total members: #%members%#<br><br>

<table border="0" width="360" cellspacing="0" cellpadding="1">
<tr><td align="center" colspan="5"><span class="text13blue">Overall Data</span></td></tr>
<tr>
<td align="left" class="tdh" width="100"><span class="text13">Size</span></td>
<td align="center" class="tdh" width="65"><span class="text13">1</span></td>
<td align="center" class="tdh" width="65"><span class="text13">2</span></td>
<td align="center" class="tdh" width="65"><span class="text13">3</span></td>
<td align="center" class="tdh" width="65"><span class="text13">Total</span></td>
</tr>
<tr>
<td align="left" class="tdh"><span class="text13">Impressions</span></td>
<td align="center" class="tdw"><span class="text13">#%i_1%#</span></td>
<td align="center" class="tdw"><span class="text13">#%i_2%#</span></td>
<td align="center" class="tdw"><span class="text13">#%i_3%#</span></td>
<td align="center" class="tdw"><span class="text13">#%i%#</span></td>
</tr>
<tr>
<td align="left" class="tdh"><span class="text13">Clicks</span></td>
<td align="center" class="tdw"><span class="text13">#%c_1%#</span></td>
<td align="center" class="tdw"><span class="text13">#%c_2%#</span></td>
<td align="center" class="tdw"><span class="text13">#%c_3%#</span></td>
<td align="center" class="tdw"><span class="text13">#%c%#</span></td>
</tr>
</table>

<br>
<table border="0" width="360" cellspacing="0" cellpadding="2">
<tr><td align="center" colspan="5"><span class="text13blue">#%current_month%#</span></td></tr>
<tr>
<td align="left" class="tdh" width="100"><span class="text13">Size</span></td>
<td align="center" class="tdh" width="65"><span class="text13">1</span></td>
<td align="center" class="tdh" width="65"><span class="text13">2</span></td>
<td align="center" class="tdh" width="65"><span class="text13">3</span></td>
<td align="center" class="tdh" width="65"><span class="text13">Total</span></td>
</tr>
<tr>
<td align="left" class="tdh"><span class="text13">Impressions</span></td>
<td align="center" class="tdw"><span class="text13">#%m_i_1%#</span></td>
<td align="center" class="tdw"><span class="text13">#%m_i_2%#</span></td>
<td align="center" class="tdw"><span class="text13">#%m_i_3%#</span></td>
<td align="center" class="tdw"><span class="text13">#%m_i%#</span></td>
</tr>
<tr>
<td align="left" class="tdh"><span class="text13">Clicks</span></td>
<td align="center" class="tdw"><span class="text13">#%m_c_1%#</span></td>
<td align="center" class="tdw"><span class="text13">#%m_c_2%#</span></td>
<td align="center" class="tdw"><span class="text13">#%m_c_3%#</span></td>
<td align="center" class="tdw"><span class="text13">#%m_c%#</span></td>
</tr>
</table>
</span>

<br>

<span class="text13blue">Today's Impressions</span>
#%hourly_graph%#
<br><br>

<span class="text13blue">#%current_month%# - Impressions</span>
#%month_impressions%#
<br><br>

<span class="text13blue">#%current_month%# - Clicks</span>
#%month_clicks%#
<br><br>
