
<span class="text13blue"><b>Our Members - Banner Size #%size%#</b></span><br><br>

<table border="0" cellspacing="1" cellpadding="7" width="500" class="table1">
<TR>
<TD nowrap align="center"><span class="text13">User</span></TD>
<TD nowrap align="center"><span class="text13">Banner</span></TD>
<TD nowrap align="center"><span class="text13">Impressions sent</span></TD>
</TR>

#%links%#

</table>
<br><br>

#%prev_next%#
<br><br>

<span class="text13">Ad size:&nbsp;&nbsp;<a href="list.php?size=1">1</a>&nbsp;&nbsp;<a href="list.php?size=2">2</a>&nbsp;&nbsp;<a href="list.php?size=3">3</a></span>
<br><br>
