
#%info%#

<span class="text13blue"><b>Username: #%userid%#, Account Number: #%size%# (width #%w%#, height #%h%#)</b></span><br><br>
<span class="text13">
#%approved%#<br>
#%ienabled%#
#%enablebutton%#
</span>

<form ENCTYPE="multipart/form-data" action="s_user.php" method="POST">
<INPUT type="hidden" name="action" value="ad_edited">
<INPUT type="hidden" name="size" value="#%size%#">
<INPUT type="hidden" name="userid" value="#%userid%#">
<INPUT type="hidden" name="userpass" value="#%userpass%#">
<span class="text13">Category </span>#%category%#
<br><br>
<table border="0" cellspacing="1" cellpadding="5" width="500" class="table1">
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13blue"><b>Ad #1</b></span></TD></TR>
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13">Your current ad<br>
  #%current_ad_1%#</TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">URL </span></TD>
  <TD align="left"><INPUT class="field1" size="80" name="url1" value="#%url1%#"></TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Banner </span></TD>
  <TD align="left"><INPUT class="field1" size="66" NAME="banner_uploaded_1" TYPE="file"></TD></TR>
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13">Banner saved in a file<br>
  #%current_banner_1%#</TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Alt tag </span></TD>
  <TD align="left"><INPUT class="field1" size="80" name="alt1" value="#%alt1%#"></TD></TR>
</table>
<br>
<table border="0" cellspacing="1" cellpadding="5" width="500" class="table1">
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13blue"><b>Ad #2</b></span></TD></TR>
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13">Your current ad<br>
  #%current_ad_2%#</TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">URL </span></TD>
  <TD align="left"><INPUT class="field1" size="80" name="url2" value="#%url2%#"></TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Banner </span></TD>
  <TD align="left"><INPUT class="field1" size="66" NAME="banner_uploaded_2" TYPE="file"></TD></TR>
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13">Banner saved in a file<br>
  #%current_banner_2%#</TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Alt tag </span></TD>
  <TD align="left"><INPUT class="field1" size="80" name="alt2" value="#%alt2%#"></TD></TR>
     </table>
<br>
<table border="0" cellspacing="1" cellpadding="5" width="500" class="table1">
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13">Your current ad<br>
  #%current_ad_3%#</TD></TR>
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13blue"><b>Ad #3</b></span></TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">URL </span></TD>
  <TD align="left"><INPUT class="field1" size="80" name="url3" value="#%url3%#"></TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Banner </span></TD>
  <TD align="left"><INPUT class="field1" size="66" NAME="banner_uploaded_3" TYPE="file"></TD></TR>
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13">Banner saved in a file<br>
  #%current_banner_3%#</TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Alt tag </span></TD>
  <TD align="left"><INPUT class="field1" size="80" name="alt3" value="#%alt3%#"></TD></TR>
     </table>
<br>
<input type="submit" name="B1" value="Save" class="button1"></form>
<br>
<form action="s_user.php" method="POST">
<INPUT type="hidden" name="userid" value="#%userid%#">
<INPUT type="hidden" name="userpass" value="#%userpass%#">
<input type="submit" name="B1" value="Back to home" class="button1">
</form>
<br>