
<span class="text13blue"><b>Menu for user #%userid%#</b></span><br><br>
<table border="0" width="300" cellspacing="0" cellpadding="4" class="table1">
<form method="POST" action="s_user.php">
<input type="hidden" name="userid" value="#%userid%#">
<input type="hidden" name="userpass" value="#%userpass%#">
<TR>
<td align="left" nowrap><input type="radio" value="user_edit" checked name="action"><span class="text13">&nbsp;&nbsp;Edit details</span></td>
<td align="left" nowrap><input type="radio" value="orders_show" name="action"><span class="text13">&nbsp;&nbsp;Show orders</span></td>
<td align="left" nowrap><input type="radio" value="funds_home" name="action"><span class="text13">&nbsp;&nbsp;Order/manage funds</span></td>
</tr>
<TR>
<td align="center" nowrap><span class="text13blue">&nbsp;&nbsp;Ad size 1 (#%w1%# x #%h1%#)&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
<td align="center" nowrap><span class="text13blue">&nbsp;&nbsp;Ad size 2 (#%w2%# x #%h2%#)&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
<td align="center" nowrap><span class="text13blue">&nbsp;&nbsp;Ad size 3 (#%w3%# x #%h3%#)&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
<TR>
<td align="left" nowrap><input type="radio" value="ad_1" name="action"><span class="text13">&nbsp;&nbsp;Edit ads</span></td>
<td align="left" nowrap><input type="radio" value="ad_2" name="action"><span class="text13">&nbsp;&nbsp;Edit ads</span></td>
<td align="left" nowrap><input type="radio" value="ad_3" name="action"><span class="text13">&nbsp;&nbsp;Edit ads</span></td>
</tr>
<TR>
<td align="left" nowrap><input type="radio" value="statistic_1" name="action"><span class="text13">&nbsp;&nbsp;Statistic</span></td>
<td align="left" nowrap><input type="radio" value="statistic_2" name="action"><span class="text13">&nbsp;&nbsp;Statistic</span></td>
<td align="left" nowrap><input type="radio" value="statistic_3" name="action"><span class="text13">&nbsp;&nbsp;Statistic</span></td>
</tr>
<TR>
<td align="left" nowrap><input type="radio" value="statistic_day_by_day_1" name="action"><span class="text13">&nbsp;&nbsp;Statistic - days</span></td>
<td align="left" nowrap><input type="radio" value="statistic_day_by_day_2" name="action"><span class="text13">&nbsp;&nbsp;Statistic - days</span></td>
<td align="left" nowrap><input type="radio" value="statistic_day_by_day_3" name="action"><span class="text13">&nbsp;&nbsp;Statistic - days</span></td>
</tr>
<TR>
<td align="left" nowrap><input type="radio" value="statistic_month_by_month_1" name="action"><span class="text13">&nbsp;&nbsp;Statistic - months</span></td>
<td align="left" nowrap><input type="radio" value="statistic_month_by_month_2" name="action"><span class="text13">&nbsp;&nbsp;Statistic - months</span></td>
<td align="left" nowrap><input type="radio" value="statistic_month_by_month_3" name="action"><span class="text13">&nbsp;&nbsp;Statistic - months</span></td>
</tr>
<TR><TD align=center colSpan="3">
<INPUT type="submit" value="&nbsp;Submit&nbsp;" name="B1" class="button1"></TD></TR>
</TBODY></FORM></TABLE>

</CENTER></DIV>
