
<span class="text13blue"><b>Your account has been created. Thank you!<br></b></span>
<FORM action="s_user.php" method=post>
<INPUT type="hidden" name="userid" value="#%userid%#"> 
<INPUT type="hidden" name="userpass" value="#%userpass%#">
<INPUT type="submit" value="Click here to continue" name="B1" class="button1"></TD></TR>
</FORM>
<table border="0" cellspacing="0" cellpadding="4" width="500" class="table1">
<TR>
  <TD align="left"><span class="text13">Username: </span></TD>
  <TD align="left"><span class="text13">#%userid%#</span></TD></TR>
<TR>
  <TD align="left"><span class="text13">Password: </span></TD>
  <TD align="left"><span class="text13">#%userpass%#</span></TD></TR>
<TR>
  <TD align="left"><span class="text13">Email: </span></TD>
  <TD align="left"><span class="text13">#%email%#</span></TD></TR>
<TR>
  <TD align="left"><span class="text13">Name: </span></TD>
  <TD nowrap align="left"><span class="text13">#%name%#</span></TD></TR>
</table>

</center></div>
