#%info%#
<span class="text13blue"><b>Create a New Paid Account</b></span><br><br>
<TABLE cellSpacing=2 cellPadding=4 border=0 class="table1">
<FORM action="s_join.php" method="post">
<TR>
  <TD align="left"><span class="text13">Username </span></TD>
  <TD align="left"><INPUT class="field1" maxLength="15" size="15" name="userid" value="#%userid%#"></TD></TR>
<TR>
  <TD align="left"><span class="text13">Password </span></TD>
  <TD align="left"><INPUT class="field1" maxLength="15" size="15" name="userpass" value="#%userpass%#"></TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Your name </span></TD>
  <TD align="left"><INPUT class="field1" maxLength="40" size="60" name="name" value="#%name%#"></TD></TR>
<TR>
  <TD align="left"><span class="text13">Email </span></TD>
  <TD align="left"><INPUT class="field1" maxLength="70" size="60"  name="email" value="#%email%#"></TD></TR>
<TR>
<TD align="center" colspan=2><INPUT type="submit" value="&nbsp;Submit&nbsp;" name="B1" class="button1"></TD></TR>
</FORM></TABLE>
<br><br>
<a href="s_user.php">Click here to log in</a>
</CENTER></DIV>
