
<span class="text13">You have just ordered</span><br>
<span class="text13blue"><b>#%descr%#</b></span><br><br>
<span class="text13">Now please click on the button (link) below to pay for this order. Once the payment will be completed, your ad will start to show within 24 hours. Note: If your payment will not be completed within 5 days, your order will be automatically deleted.</span><br>

#%payhtml%#

<br><br><br><br>
<form action="s_user.php" method="POST">
<INPUT type="hidden" value="#%userid%#" name="userid">
<INPUT type="hidden" value="#%userpass%#" name="userpass">
<INPUT type="hidden" value="funds_home" name="action">
<input type="submit" name="B1" value="Back to previous page" class="button1">
</form>
<br>