<span class="text13blue"><b>Your Orders</b></span><br><br>

<table border="0" cellspacing="0" cellpadding="3" width="500" class="table1">
<TR>
<TD nowrap align="center"><span class="text13">Number</span></TD>
<TD nowrap align="center"><span class="text13">Price</span></TD>
<TD nowrap align="center"><span class="text13">Bonus</span></TD>
<TD nowrap align="center"><span class="text13">Value</span></TD>
<TD nowrap align="center"><span class="text13">Status</span></TD>
<TD nowrap align="center"><span class="text13">Date</span></TD>
<TD nowrap align="center"><span class="text13"> </span></TD>
</TR>

#%orders%#

</table>
<br>
<form action="s_user.php" method="POST">
<INPUT type="hidden" value="#%userid%#" name="userid">
<INPUT type="hidden" value="#%userpass%#" name="userpass">
<input type="submit" name="B1" value="Back to home" class="button1">
</form>
<br><br>