
<span class="text13blue"><b>Statistic for Member '#%userid%#', Ad Size #%size%# (#%width%# x #%height%# px)</b></span><br>
<br>

<table border="0" cellspacing="0" cellpadding="4" width="500" class="table1">
<TR>
  <TD nowrap align="left"><span class="text13blue">&nbsp;</span></TD>
  <TD nowrap align="center" width="90"><span class="text10blue">Received</span></TD>
  <TD nowrap align="center" width="90"><span class="text10blue">Balance</span></TD>
  <TD nowrap align="center" width="90"><span class="text10blue">Free</span></TD>
</TR>
<TR>
  <TD nowrap align="left"><span class="text13">Impressions</span></TD>
  <TD nowrap align="center"><span class="text13">#%i_w%#</span></TD>
  <TD nowrap align="center"><span class="text13">#%i_nu%#</span></TD>
  <TD nowrap align="center"><span class="text13">#%i_free%#</span></TD>
</TR>
<TR>
  <TD nowrap align="left"><span class="text13">Clicks</span></TD>
  <TD nowrap align="center"><span class="text13">#%c_w%#</span></TD>
  <TD nowrap align="center"><span class="text13">#%c_nu%#</span></TD>
  <TD nowrap align="center"><span class="text13">#%c_free%#</span></TD>
</TR>
<TR>
  <TD nowrap align="left"><span class="text13">Ratio impressions/clicks</span></TD>
  <TD nowrap align="center"><span class="text13">#%r_w%#%</span></TD>
  <TD nowrap align="center" colspan="2"><span class="text13">&nbsp;</span></TD>
</TR>
</table>
<br><br>
<span class="text13blue"><b>Today's Impressions</b></span><br>
#%hourly_graph%#
<br><br>
<table border="0" cellspacing="1" cellpadding="10" width="500">
<TR><TD nowrap align="center" colspan="2"><span class="text13blue"><b>Statistic for ads</b></span></TD></tr>
<TR><TD align="center">
<table border="0" cellspacing="0" cellpadding="4" width="400" class="table1">
<TR><TD nowrap align="center" colspan="2"><span class="text13blue">Ad #1<br>#%ban1%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Impressions: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_i1%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Clicks: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_c1%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Ratio: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_ratio1%# %</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Last reset: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_res1%#</span></TD></TR>
<TR>
<form action="s_user.php" method="POST"><TR><TD nowrap align="center" colspan="2">
<INPUT type="hidden" value="reset_ad_statistic" name="action">
<INPUT type="hidden" value="#%size%#" name="size">
<INPUT type="hidden" value="1" name="ad">
<INPUT type="hidden" value="#%userid%#" name="userid">
<INPUT type="hidden" value="#%userpass%#" name="userpass">
<input type="submit" name="B1" value="Reset this statistic" class="button1">
</TD></TR></form>
<TR>
  <TD nowrap align="center" colspan="2"><span class="text13blue">Ad #2<br>#%ban2%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Impressions: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_i2%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Clicks: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_c2%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Ratio: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_ratio2%# %</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Last reset: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_res2%#</span></TD></TR>
<form action="s_user.php" method="POST"><TR><TD nowrap align="center" colspan="2">
<INPUT type="hidden" value="reset_ad_statistic" name="action">
<INPUT type="hidden" value="#%size%#" name="size">
<INPUT type="hidden" value="2" name="ad">
<INPUT type="hidden" value="#%userid%#" name="userid">
<INPUT type="hidden" value="#%userpass%#" name="userpass">
<input type="submit" name="B1" value="Reset this statistic" class="button1">
</TD></TR></form>
<TR>
<TD nowrap align="center" colspan="2"><span class="text13blue">Ad #3<br>#%ban3%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Impressions: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_i3%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Clicks: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_c3%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Ratio: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_ratio3%# %</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Last reset: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_res3%#</span></TD></TR>
<TR>
<form action="s_user.php" method="POST"><TR><TD nowrap align="center" colspan="2">
<INPUT type="hidden" value="reset_ad_statistic" name="action">
<INPUT type="hidden" value="#%size%#" name="size">
<INPUT type="hidden" value="3" name="ad">
<INPUT type="hidden" value="#%userid%#" name="userid">
<INPUT type="hidden" value="#%userpass%#" name="userpass">
<input type="submit" name="B1" value="Reset this statistic" class="button1">
</TD></TR></form>
</table>
</TD></TR></TABLE>

<br><br>

<form action="s_user.php" method="POST">
<INPUT type="hidden" value="#%userid%#" name="userid">
<INPUT type="hidden" value="#%userpass%#" name="userpass">
<input type="submit" name="B1" value="Back to home" class="button1">
</form>
</center></div>

