
<span class="text13blue"><b>Statistic for User #%userid%#<br>
Ad Size #%size%# (#%width%# x #%height%# px), Year #%year%#</b><br><br>

Impressions<br>
#%table1%#
<br>
Clicks<br></span>
#%table2%#
<br><br>
<table border=0 width=700><tr>
<TD align="left"><form action="s_user.php" method="POST">
<INPUT type="hidden" name="action" value="statistic_month_by_month_#%size%#">
<INPUT type="hidden" value="#%userid%#" name="userid">
<INPUT type="hidden" value="#%userpass%#" name="userpass">
<INPUT type="hidden" value="#%prev_y%#" name="year">
<input type="submit" name="B1" value="<<< Previous year" class="button1" style="width:130px;">
</form></TD>
<TD align="center">
<form action="s_user.php" method="POST">
<INPUT type="hidden" value="#%userid%#" name="userid">
<INPUT type="hidden" value="#%userpass%#" name="userpass">
<input type="submit" name="B1" value="Back to home" class="button1">
</form>
</TD>
<TD align="right"><form action="s_user.php" method="POST">
<INPUT type="hidden" name="action" value="statistic_month_by_month_#%size%#">
<INPUT type="hidden" value="#%userid%#" name="userid">
<INPUT type="hidden" value="#%userpass%#" name="userpass">
<INPUT type="hidden" value="#%next_y%#" name="year">
<input type="submit" name="B1" value="Next year >>>" class="button1" style="width:130px;">
</form></TD>

</TR></table>

<br><br>


</center></div>

