
<span class="text13blue"><b>Top Members This Month - Banner Size #%size%#</b></span><br><br>

<table border="0" cellspacing="1" cellpadding="7" width="500" class="table1">
<TR>
<TD nowrap align="center"><span class="text13">User</span></TD>
<TD nowrap align="center"><span class="text13">Banner</span></TD>
<TD nowrap align="center"><span class="text13">Impressions</span></TD>
</TR>

#%links%#

</table>
<br><br>

<span class="text13">Ad size:&nbsp;&nbsp;<a href="top.php?size=1">1</a>&nbsp;&nbsp;<a href="top.php?size=2">2</a>&nbsp;&nbsp;<a href="top.php?size=3">3</a></span>
<br><br>
