
#%info%#

<span class="text13blue"><b>Username: #%userid%#, Account Number: #%size%# (width #%w%#, height #%h%#)</b></span><br><br>
<span class="text13">
#%approved%#<br>
#%ienabled%#
#%enablebutton%#
</span>

<table border="0" cellspacing="1" cellpadding="10" width="500" class="table1">
<form ENCTYPE="multipart/form-data" action="member.php" method="POST">
<INPUT type="hidden" name="action" value="ad_edited">
<INPUT type="hidden" name="size" value="#%size%#">
<INPUT type="hidden" name="userid" value="#%userid%#">
<INPUT type="hidden" name="userpass" value="#%userpass%#">
<TR><TD align="left" nowrap><span class="text13">Your category: </span></TD>
<TD>#%category%#</TD></TR>
<TR><TD align="left" valign="top"><span class="text13">Categories which will be displayed on your pages.<br><font size="1">Select max of 5 categories or select "All categories" if you want to display ads of all categories. To select more than one category press Ctrl.</font></span></TD>
<TD>#%czct%#</TD></TR>
</table><br>
<table border="0" cellspacing="0" cellpadding="4" width="500" class="table1">
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13blue"><b>Ad #1</b></span></TD></TR>
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13">Your current ad<br>
  #%current_ad_1%#</TD></TR>
<TR>
  <TD align="left" nowrap colspan="2"><span class="text13">
  <input type="radio" name="ad_kind_1" value="picture"#%ad_kind_picture_1%#> Use classic banner - picture</span>
</TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">URL </span></TD>
  <TD align="left"><INPUT class="field1" size="80" name="url1" value="#%url1%#"></TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Banner </span></TD>
  <TD align="left"><INPUT class="field1" size="66" NAME="banner_uploaded_1" TYPE="file"></TD></TR>
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13">Banner saved in a file<br>
  #%current_banner_1%#</TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Alt tag </span></TD>
  <TD align="left"><INPUT class="field1" size="80" name="alt1" value="#%alt1%#"></TD></TR>
<TR>
  <TD align="left" nowrap colspan="2"><span class="text13">
  <input type="radio" name="ad_kind_1" value="raw_html"#%ad_kind_raw_html_1%#> Use the raw HTML code below to create a banner</span>
</TD></TR>
<TR><TD align="left" nowrap colspan="2"><textarea class="field1" name="raw1" rows="15" cols="89">#%raw1%#</textarea></TD></TR>
</table>
<br>

<table border="0" cellspacing="0" cellpadding="4" width="500" class="table1">
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13blue"><b>Ad #2</b></span></TD></TR>
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13">Your current ad<br>
  #%current_ad_2%#</TD></TR>
<TR>
  <TD align="left" nowrap colspan="2"><span class="text13">
  <input type="radio" name="ad_kind_2" value="picture"#%ad_kind_picture_2%#> Use classic banner - picture</span>
</TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">URL </span></TD>
  <TD align="left"><INPUT class="field1" size="80" name="url2" value="#%url2%#"></TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Banner </span></TD>
  <TD align="left"><INPUT class="field1" size="66" NAME="banner_uploaded_2" TYPE="file"></TD></TR>
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13">Banner saved in a file<br>
  #%current_banner_2%#</TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Alt tag </span></TD>
  <TD align="left"><INPUT class="field1" size="80" name="alt2" value="#%alt2%#"></TD></TR>
<TR>
  <TD align="left" nowrap colspan="2"><span class="text13">
  <input type="radio" name="ad_kind_2" value="raw_html"#%ad_kind_raw_html_2%#> Use the raw HTML code below to create a banner</span>
</TD></TR>
<TR><TD align="left" nowrap colspan="2"><textarea class="field1" name="raw2" rows="15" cols="89">#%raw2%#</textarea></TD></TR>
</table>
<br>

<table border="0" cellspacing="0" cellpadding="4" width="500" class="table1">
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13blue"><b>Ad #3</b></span></TD></TR>
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13">Your current ad<br>
  #%current_ad_3%#</TD></TR>
<TR>
  <TD align="left" nowrap colspan="2"><span class="text13">
  <input type="radio" name="ad_kind_3" value="picture"#%ad_kind_picture_3%#> Use classic banner - picture</span>
</TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">URL </span></TD>
  <TD align="left"><INPUT class="field1" size="80" name="url3" value="#%url3%#"></TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Banner </span></TD>
  <TD align="left"><INPUT class="field1" size="66" NAME="banner_uploaded_3" TYPE="file"></TD></TR>
<TR>
  <TD align="center" nowrap colspan="2"><span class="text13">Banner saved in a file<br>
  #%current_banner_3%#</TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Alt tag </span></TD>
  <TD align="left"><INPUT class="field1" size="80" name="alt3" value="#%alt3%#"></TD></TR>
<TR>
  <TD align="left" nowrap colspan="2"><span class="text13">
  <input type="radio" name="ad_kind_3" value="raw_html"#%ad_kind_raw_html_3%#> Use the raw HTML code below to create a banner</span>
</TD></TR>
<TR><TD align="left" nowrap colspan="2"><textarea class="field1" name="raw3" rows="15" cols="89">#%raw3%#</textarea></TD></TR>
</table>
<br><input type="submit" name="B1" value="Save" class="button1"></form>
<br>
<form action="member.php" method="POST">
<INPUT type="hidden" value="#%userid%#" name="userid">
<INPUT type="hidden" value="#%userpass%#" name="userpass">
<input type="submit" name="B1" value="Back to home" class="button1">
</form>
<br>
