#%info%#
<span class="text13blue"><b>Edit your details</b></span><br><br>
<table border="0" width="500" cellspacing="0" cellpadding="4" class="table1">
<form action="member.php" method="POST">
<INPUT type="hidden" name="action" value="user_edited">
<INPUT type="hidden" name="userid" value="#%userid%#">
<INPUT type="hidden" name="userpass" value="#%userpass%#">
<TR>
  <TD align="left" nowrap><span class="text13">Username: </span></TD>
  <TD align="left"><span class="text13">#%userid%#</span></TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Password:</span></TD>
  <TD align="left"><INPUT class="field1" maxLength="15" size="15" name="newpass" value="#%userpass%#"></TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Your name: </span></TD>
  <TD align="left"><INPUT class="field1" size="60" maxlength="100" name="name" value="#%name%#"></TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Email: </span></TD>
  <TD align="left"><INPUT class="field1" size="60" maxlength="100" name="email" value="#%email%#"></TD></TR>
<TR>
  <TD align="left" nowrap><span class="text13">Site URL: </span></TD>
  <TD align="left"><INPUT class="field1" size="60" maxlength="100" name="siteurl" value="#%siteurl%#"></TD></TR>
<TR>
  <TD align="center" colspan="2"><input class="button1" type="submit" name="B1" value="&nbsp;Submit&nbsp;"></TD>
</TR></form></table>
<br><br>
<form action="member.php" method="POST">
<INPUT type="hidden" value="#%userid%#" name="userid">
<INPUT type="hidden" value="#%userpass%#" name="userpass">
<input type="submit" name="B1" value="Back to home" class="button1">
</form>
  </center></div>
