#%info%#
<TABLE cellSpacing=0 cellPadding=3 width=100 border=0 class="table1">
<TR><TD align="center" colspan=2>
<span class="text13blue"><B>Please log in</B></span>
</td></tr>
<FORM method=post action="member.php">
  <TR>
    <TD align="left"><span class="text13">Username: </span></TD>
    <TD align="right"><INPUT class="field1" maxLength="15" size="15" name="userid" value="#%userid%#"></TD></TR>
  <TR>
    <TD align="left"><span class="text13">Password: </span></TD>
    <TD align="right"><INPUT class="field1" type="password" maxLength="15" size="15" name="userpass" value="#%userpass%#"></TD></TR>
  <TR>
    <TD align="center" colSpan="2">
	<INPUT type="submit" value="&nbsp;Submit&nbsp;" name="B1" class="button1">
	</TD></TR></FORM>
</TABLE>

<BR><BR><BR><span class="text13">Forgot username and/or password? <a href="member.php?action=remind">Click here!</a></span><BR>

</CENTER></DIV><BR><BR>

