
#%info%#

<span class="text13blue"><b>Move Impressions Between Sizes</b></span><br><br>

<span class="text13">
Impressions between sizes can be moved by the following ratio:<br>
Ratio between size 1 : size 2 : size 3 is currently #%move1%# : #%move2%# : #%move3%#<br><br>
</span>
<table border="0" width="300" cellspacing="0" cellpadding="4" class="table1">
<form action="member.php" method="POST">
<INPUT type="hidden" name="action" value="impressions_moved">
<INPUT type="hidden" name="userid" value="#%userid%#">
<INPUT type="hidden" name="userpass" value="#%userpass%#">
<INPUT type="hidden" name="size" value="1">
<TR><td align="left" nowrap><span class="text13">Ad size 1 (#%w1%# x #%h1%#)</span></td>
<td align="left" nowrap><span class="text13">Impressions available: #%available1%#</span></td>
<td align="center" nowrap><span class="text13">Move: <input name="move" size="5" maxlength="10" value="#%available1%#" class="field1"> to size </span>
<select name="to_size" class="field1"><option value="2">2</option><option value="3">3</option></select>
<INPUT type="submit" value="Submit" name="B1" class="button1"></td></tr></form>
<form action="member.php" method="POST">
<INPUT type="hidden" name="action" value="impressions_moved">
<INPUT type="hidden" name="userid" value="#%userid%#">
<INPUT type="hidden" name="userpass" value="#%userpass%#">
<INPUT type="hidden" name="size" value="2">
<TR><td align="left" nowrap><span class="text13">Ad size 2 (#%w2%# x #%h2%#)</span></td>
<td align="left" nowrap><span class="text13">Impressions available: #%available2%#</span></td>
<td align="center" nowrap><span class="text13">Move: <input name="move" size="5" maxlength="10" value="#%available2%#" class="field1"> to size </span>
<select name="to_size" class="field1"><option value="1">1</option><option value="3">3</option></select>
<INPUT type="submit" value="Submit" name="B1" class="button1"></td></tr></form>
<form action="member.php" method="POST">
<INPUT type="hidden" name="action" value="impressions_moved">
<INPUT type="hidden" name="userid" value="#%userid%#">
<INPUT type="hidden" name="userpass" value="#%userpass%#">
<INPUT type="hidden" name="size" value="3">
<TR><td align="left" nowrap><span class="text13">Ad size 3 (#%w3%# x #%h3%#)</span></td>
<td align="left" nowrap><span class="text13">Impressions available: #%available3%#</span></td>
<td align="center" nowrap><span class="text13">Move: <input name="move" size="5" maxlength="10" value="#%available3%#" class="field1"> to size </span>
<select name="to_size" class="field1"><option value="1">1</option><option value="2">2</option></select>
<INPUT type="submit" value="Submit" name="B1" class="button1"></td></tr></form>
</TABLE>
<br><br>
<form action="member.php" method="POST">
<INPUT type="hidden" value="#%userid%#" name="userid">
<INPUT type="hidden" value="#%userpass%#" name="userpass">
<input type="submit" name="B1" value="Back to home" class="button1">
</form>
<br>