#%info%#

<TABLE cellSpacing=10 cellPadding=0 width=100 border=0 class="table1">
  <TR>
    <TD align="center" nowrap colspan="2">
<span class="text13blue"><B>Password/Username Reminder</B></span></td></tr>
<FORM method=post action="member.php">
  <TR>
    <TD align="left" nowrap><span class="text13">Your email: </span></TD>
    <TD align="right"><INPUT class="field1" maxLength="100" size="50" name="email" value="#%email%#"></TD></TR>
  <TR>
    <TD align="center" colSpan="2">
	<INPUT type="submit" value="Remind me" name="B1" class="button1">
	</TD></TR>
<INPUT type="hidden" name="action" value="remind">
</FORM>
</TBODY></TABLE>
<BR><BR>
