
<span class="text13blue"><b>Statistic for Member '#%userid%#', Ad Size #%size%# (#%width%# x #%height%# px)</b></span><br>
<br>
<table border="0" cellspacing="0" cellpadding="4" width="750"><tr>
<td align="right" valign="top">

<table border="0" cellspacing="0" cellpadding="2" class="table1">
<TR><TD nowrap align="center" colspan="2"><span class="text13blue"><b>Information</b></span></TD></tr>
<TR>
  <TD nowrap align="left"><span class="text10">Exchange ratio (credits for 100 impressions): </span></TD>
  <TD nowrap align="left"><span class="text10">#%ratio%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text10">Number of extra credits for each click sent by you: </span></TD>
  <TD nowrap align="left"><span class="text10">#%forclick%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text10">Unused credits: </span></TD>
  <TD nowrap align="left"><span class="text10">#%i_nu%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text10">Current time</span></TD>
  <TD nowrap align="left"><span class="text10">#%time%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text10">Last impression sent by you: </span></TD>
  <TD nowrap align="left"><span class="text10">#%lasttime%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text10">Credits earned total: </span></TD>
  <TD nowrap align="left"><span class="text10">#%earned%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text10">Credits earned for clicks: </span></TD>
  <TD nowrap align="left"><span class="text10">#%forclicks%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text10">Impressions moved from other sizes: </span></TD>
  <TD nowrap align="left"><span class="text10">#%i_move_in%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text10">Impressions moved to other sizes: </span></TD>
  <TD nowrap align="left"><span class="text10">#%i_move_out%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text10">Free credits total: </span></TD>
  <TD nowrap align="left"><span class="text10">#%i_free%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text10">Free credits for referrals: </span></TD>
  <TD nowrap align="left"><span class="text10">#%i_refer%#</span></TD></TR>
</table>

</td><td width="10">&nbsp;</td><td align="left" valign="top">

<table border="0" cellspacing="0" cellpadding="2" class="table1">
<TR><TD nowrap align="center" colspan="3"><span class="text13blue"><b>Statistic</b></span></TD></tr>
<TR>
  <TD nowrap align="left"><span class="text13blue">&nbsp;</span></TD>
  <TD nowrap align="center"><span class="text10blue">Your pages</span></TD>
  <TD nowrap align="center"><span class="text10blue">Your ads</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text10">Impressions</span></TD>
  <TD nowrap align="center"><span class="text10">#%i_m%#</span></TD>
  <TD nowrap align="center"><span class="text10">#%i_w%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text10">Clicks</span></TD>
  <TD nowrap align="center"><span class="text10">#%c_m%#</span></TD>
  <TD nowrap align="center"><span class="text10">#%c_w%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text10">Ratio impressions/clicks</span></TD>
  <TD nowrap align="center"><span class="text10">#%r_m%#%</span></TD>
  <TD nowrap align="center"><span class="text10">#%r_w%#%</span></TD></TR>
<TR><TD colspan="3" nowrap align="center"><span class="text10blue"><b>Deferred Free Impressions</b></span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text10">Impressions available: </span></TD>
  <TD nowrap align="center" colspan="2"><span class="text10">#%w_rest%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text10">Daily may be used: </span></TD>
  <TD nowrap align="center" colspan="2"><span class="text10">#%w_daily%#</span></TD></TR>
</table>

</td></tr></table>

<br>
<span class="text13blue"><b>Today's Impressions</b></span><br>
#%hourly_graph%#
<span class="text10">
Caption: Red graphs - your pages; Blue graphs - your ads
</span><br><br><br>

<table border="0" cellspacing="1" cellpadding="10" width="500">
<TR><TD nowrap align="center" colspan="2"><span class="text13blue"><b>Statistic for ads</b></span></TD></tr>
<TR><TD align="center">
<table border="0" cellspacing="0" cellpadding="4" width="400" class="table1">
<TR><TD nowrap align="center" colspan="2"><span class="text13blue">Ad #1<br>#%ban1%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Impressions: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_i1%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Clicks: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_c1%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Ratio: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_ratio1%# %</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Last reset: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_res1%#</span></TD></TR>
<TR>
<form action="member.php" method="POST"><TR><TD nowrap align="center" colspan="2">
<INPUT type="hidden" value="reset_ad_statistic" name="action">
<INPUT type="hidden" value="#%size%#" name="size">
<INPUT type="hidden" value="1" name="ad">
<INPUT type="hidden" value="#%userid%#" name="userid">
<INPUT type="hidden" value="#%userpass%#" name="userpass">
<input type="submit" name="B1" value="Reset this statistic" class="button1">
</TD></TR></form>
<TR>
  <TD nowrap align="center" colspan="2"><span class="text13blue">Ad #2<br>#%ban2%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Impressions: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_i2%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Clicks: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_c2%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Ratio: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_ratio2%# %</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Last reset: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_res2%#</span></TD></TR>
<form action="member.php" method="POST"><TR><TD nowrap align="center" colspan="2">
<INPUT type="hidden" value="reset_ad_statistic" name="action">
<INPUT type="hidden" value="#%size%#" name="size">
<INPUT type="hidden" value="2" name="ad">
<INPUT type="hidden" value="#%userid%#" name="userid">
<INPUT type="hidden" value="#%userpass%#" name="userpass">
<input type="submit" name="B1" value="Reset this statistic" class="button1">
</TD></TR></form>
<TR>
<TD nowrap align="center" colspan="2"><span class="text13blue">Ad #3<br>#%ban3%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Impressions: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_i3%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Clicks: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_c3%#</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Ratio: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_ratio3%# %</span></TD></TR>
<TR>
  <TD nowrap align="left"><span class="text13">Last reset: </span></TD>
  <TD nowrap align="left"><span class="text13">#%ad_res3%#</span></TD></TR>
<TR>
<form action="member.php" method="POST"><TR><TD nowrap align="center" colspan="2">
<INPUT type="hidden" value="reset_ad_statistic" name="action">
<INPUT type="hidden" value="#%size%#" name="size">
<INPUT type="hidden" value="3" name="ad">
<INPUT type="hidden" value="#%userid%#" name="userid">
<INPUT type="hidden" value="#%userpass%#" name="userpass">
<input type="submit" name="B1" value="Reset this statistic" class="button1">
</TD></TR></form>
</table>
</TD></TR></TABLE>

<br><br>

<form action="member.php" method="POST">
<INPUT type="hidden" value="#%userid%#" name="userid">
<INPUT type="hidden" value="#%userpass%#" name="userpass">
<input type="submit" name="B1" value="Back to home" class="button1">
</form>
</center></div>

