a {

font-family: verdana, tahoma, arial, sans-serif;

font-size: 11px;

color: #000000;

text-decoration : underline;

}



a:visited {

font-family: verdana, tahoma, helvetica, arial, sans-serif;

font-size: 11px;

color: #000000;

text-decoration : underline;

}



a:active {

font-family: verdana, tahoma, helvetica, arial, sans-serif;

font-size: 11px;

color: #666666;

text-decoration : none;

}



a:hover {

font-family: verdana, tahoma, helvetica, arial, sans-serif;

font-size: 11px;

color: #000000;

text-decoration : none;

}



Body {

color: #000000;

font-size: 11px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

top-margin : 20px;

bottom-margin : 0px;

left-margin : 0px;

right-margin : 0px;

SCROLLBAR-BASE-COLOR: #404040;

SCROLLBAR-ARROW-COLOR: #EFEFEF;

}



TD {

color: #000000;

font-size: 11px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}



.storybox {

color: #000000;

font-size: 11px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

background-color: #EEEEEE;

}



.commentbar4 {

color: #000000;

font-size: 11px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

background-color: #EEEEEE;

}



H1 {

color: #000000; 

font-size: 12px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}



H2 {

color: #000000; 

font-size: 11px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}



H3 {

color: #000000; 

font-size: 13px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}



option {

font-family: verdana, tahoma, helvetica, arial, sans-serif;

font-size: 11px;

color: #000000;

}



textarea {

font-family: verdana, tahoma, helvetica, arial, sans-serif;

font-size: 11px;

color: #000000;

}



select {

font-family: verdana, tahoma, helvetica, arial, sans-serif;

font-size: 10px;

color: #000000;

}



input, submit {

font-family: verdana, tahoma, helvetica, arial, sans-serif;

font-size: 10px;

color: #000000;

}



th {

color: #000000;

font-size: 12px;

font-weight: bold;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}



.headertext {

color: #000000;

font-weight: bold;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}



.navtext {

color: #000000;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}



.blocktitle {

color: #404040;

font-size: 11px;

font-weight: bold;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}



.blockinfo {

color: #000000;

font-size: 11px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

background-color: #EEEEEE;

padding-left:4px;

padding-bottom:2px;

padding-top:2px;

}



.footerblock {

color: #000000;

font-size: 11px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

background-color: #EEEEEE;

padding-top:2px;

padding-bottom:2px;

padding-left:2px;

padding-right:2px;

border-top-width: 1px;

border-top-style: dashed;

}


.headerblock {

color: #000000;

font-size: 11px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

background-color: #EEEEEE;

padding-top:2px;

padding-bottom:2px;

padding-left:2px;

padding-right:2px;

border-bottom-width: 1px;

border-bottom-style: dashed;

}

.welcomeblock {

color: #000000;

font-size: 11px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

background-color: #EEEEEE;

padding-top:2px;

padding-bottom:2px;

padding-left:2px;

padding-right:2px;

border-top-width: 1px;

border-top-style: dashed;

}




.featureblock {

color: #000000; 

font-size: 11px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}


.footer {

font-size: 11px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}







.storytitle {

color: #FFFFFF;

font-size: 11px;

font-weight: bold; 

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}

.storybyline {

color: #000000; 

font-size: 11px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}

.storyunderline{

background-color: #000000; 

}

.warning {

color: red; 

font-size: 12px;

font-weight: bold; 

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}

.warningsmall {

color: red; 

font-size: 11px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}


.commentbar1 {

color: #000000; 

background-color: #EEEEEE; 

font-size: 11px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}


.commentbar2 {

background-color: #C0C0C0;

font-size: 12px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}

.commentbar3 {

color: #000000; 

background-color: #C0C0C0; 

font-size: 11px;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}

.commenttitle {

font-size: 12px;

font-weight: bold;

background-color: #C0C0C0;

font-family: verdana, tahoma, helvetica, arial, sans-serif;

}


.cal_day {

font-size: 13px;

font-weight: bold;

color: #000000;	

}



.cal_body {

background-color: #C0C0C0; 

font-family: verdana, tahoma, helvetica, arial, sans-serif;

font-weight: bold;

color: #000000;	

border-style: solid solid solid solid; 

border-color: #000000 #000000 #000000 #000000;

}



.cal-nullday {

background-color: #EEEEEE;

color: #000000;

}

.cal-oldday {

background-color: #C0C0C0;

color: #000000;

}

.cal_month {

background-color: #C0C0C0;

color: #000000;

}


.cal-today {

background-color: #628649;

}

.weekview_caltitle {

background-color: #C0C0C0;

font-weight: bold;

font-size: 13px;

color: #000000;	

}

.weekview-curday {

background-color: #66A6CE;

color: #000000;	

}

.weekview-offday {

background-color: #C0C0C0;

color: #000000;	

}

.weekview_dayformat {

font-size: 11px;

background-color: #C0C0C0;

color: #000000;

}

.weekview_addevent {

font-size: 11px;

background-color: #C0C0C0;

color: #000000;

}

.weekview_daterange {

font-size: 13px;

font-weight: bold;

background-color: #C0C0C0;

color: #000000;

}

.dayview_times {

font-size: 10px;

background-color: #C0C0C0;

color: #000000;

}

.dayview_datecol {

font-weight: bold;

background-color: #C0C0C0;

font-size: 13px;

color: #000000;	

}

.dayview_quickaddtitle {

font-weight: bold;

background-color: #C0C0C0;

font-size: 13px;

color: #000000;	

}
.searchAuth { 
    font-weight: normal; 
    font-size: 80%; 
    font-family: sans-serif; 
    text-align: left;  
    color:#557755;
}
.searchDate { 
    font-weight: normal; 
    font-size: 80%; 
    font-family: sans-serif; 
    text-align: right;  
    color:#557755;
}
.searchHits { 
    font-weight: normal; 
    font-size: 80%; 
    font-family: sans-serif; 
    text-align: right; 
    color:#557755;
}
.highlight { 
    background-color: yellow; 
    text-decoration: none; 
} 
