BODY {
	SCROLLBAR-FACE-COLOR: #ED8626; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #ED8626; SCROLLBAR-SHADOW-COLOR: #ED8626; SCROLLBAR-3DLIGHT-COLOR: #dbedff; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #eff7ff; SCROLLBAR-DARKSHADOW-COLOR: #a9cdf1; FONT-FAMILY: Tahoma, Verdana, Helvetica, Arial, Sans-serif 11px;
}
SELECT {
	BORDER-RIGHT: #dbedff 1px solid; BORDER-TOP: #ED8626 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #ED8626 1px solid; BORDER-BOTTOM: #dbedff 1px solid; FONT-FAMILY: Tahoma, Verdana
}
TEXTAREA {
	BORDER-RIGHT: #dbedff 1px solid; BORDER-TOP: #ED8626 1px solid; OVERFLOW: auto; BORDER-LEFT: #ED8626 1px solid; BORDER-BOTTOM: #80C1F2 1px solid
}
TEXTAREA.counter {
	FONT-SIZE: 8pt; FONT-FAMILY: Tahoma, Verdana
}
TEXTAREA.text {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Verdana
}
INPUT {
	BORDER-RIGHT: #dbedff 1px solid; BORDER-TOP: #ED8626 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #ED8626 1px solid; BORDER-BOTTOM: #dbedff 1px solid; FONT-FAMILY: Tahoma, Verdana; BACkground-color: #ffffff
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.text {
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	font-size: 11px;
}
.sidetdstyle {
	border-top: 1px dotted #c0c0c0;
	border-right: 1px dotted #c0c0c0;
	border-bottom: 1px dotted #c0c0c0;
	border-left: 1px dotted #c0c0c0;
	background-color: #FFFFFF;



}
td {
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	font-size: 11px;
	border-bottom-width: medium;
	border-bottom-style: none;



}
tr {
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	font-size: 11px;
	border-bottom-width: medium;
	border-bottom-style: none;



}
p {
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	font-size: 11px;
	border-bottom-width: medium;
	border-bottom-style: none;



}.text1 {
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	font-size: 11px;
	color: #000000;
	border-right-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-bottom-style: solid;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;


}
.right {
	border-top-color: 80D8EF;
	border-right-color: 80D8EF;
	border-bottom-color: 80D8EF;
	border-left-color: 80D8EF;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-style: dotted;
}
.rightCopy {
	border-top-color: 80D8EF;
	border-right-color: 80D8EF;
	border-bottom-color: 80D8EF;
	border-left-color: 80D8EF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;

}
