body {
	scrollbar-face-color: #203448;
	scrollbar-highlight-color: #284058;
	scrollbar-3dlight-color: #306080;
	scrollbar-shadow-color: #000810;
	scrollbar-darkshadow-color: #000000;
	scrollbar-arrow-color: #D3B576;
	scrollbar-track-color: #001020;
    font-family: tahoma;
    font-size: x-small;
	background-color : #000000;
}

td {
    font-size: small;
	color: #ffffff;
}

td.a {
    color: #ffffff;
    font-weight: bold;
}

a {
	text-decoration: none;
    border-bottom: 0px dashed #666;
	color: #ffffff;
}
    
a:hover {
   	color: #ff9e31;
   	border-bottom: 0px dashed #666;
   	text-decoration: none;
}
    
a:link {
   color:#ffffff;
   border-bottom: 0px dashed #666;
   text-decoration: none;
}
td.mainpageleft {
	width: 129px;
}
td.mainpageright {
	width: 129px;
}
td.mainpagecenter {
	width: 511px;
}
td.smtop {
	background-image: url(smtop.gif);
	color: #ffffff;
    font-weight: bold;
	height: 41;
	width: 129px;
	font-size: 16px;
}
td.smmid {
	background-image: url(smbg.gif);
	font-size: 16px;
}
td.smbot {
	background-image: url(smbot.gif);
	height: 20;
}
div.smtopboxoffset { 
	position: relative; 
	margin-left: -5px;
	margin-top: 10px;
}
div.smmidboxoffset {
	
	margin-left: 5px; 
	margin-right: 8px;
	font-size: 16px;
	color:#ffffff;
	text-decoration: none;
}

li { 
	color:#ffffff;
}

td.lgtop {
	background-image: url(lgtop.gif);
	color: #ffffff;
    font-weight: bold;
	height: 32;
	font-size: 16px;
}
td.lgmid {
	background-image: url(lgbg2.gif);
	font-size: 16px;
}
td.lgbot {
	background-image: url(lgbot.gif);
	height: 5px;
}
div.lgtopboxoffset { 
	position:relative; 
	margin-top: -5px; 
	margin-left: -5px;
}
div.lgmidboxoffset {
	position: relative; 
	margin-left: 10px; 
	margin-right: 10px;
}
div.pagewidth {
	width: 850px;
}
p.footertext {
	color: #ffffff;
}