<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Easy Peasy Image Gallery (EPIG) - Configuration file

	Copyright(c) 2005 Apostolos (Soumis) Dountsis
	
	Modify the values (the text between the tags <>) to customise EPIG
	
-->
<epig>
	<!-- The name of the album -->
	<title>My EPIG Collection</title>
	
	<!-- Your name -->
	<author>Apostolos Dountsis</author>
	
	<!-- Your email address -->
	<email>epig@gamecycle.net</email>
	
	<!-- template file -->
	<template>template.html</template>
	
	<!-- Album description -->
	<description>My album description.</description>
	
	<!-- 	The width of the thumbnails
		Note that, if the actual size of the image is smaller
		than its actual size then the actual value is used for thumbnail -->
	<width>200</width>
	
	<!-- 	The height of the thumbnails
		Note that, if the actual size of the image is smaller
		than its actual size then the actual value is used for thumbnail -->
	<height>150</height>
	
	<!-- 	The quality of each thumbnail (applies only to JPEG files).
		It ranges from 0 (worst quality, smaller file) to 100 (best quality, biggest file) -->
	<quality>75</quality>
	
	<!-- The number of thumbnail rows in each page -->
	<rows>3</rows>
	
	<!-- The number of thumbnail columns in each page -->
	<columns>3</columns>
</epig>