/*
//////////////////////////////////////////////////////////////
//															//
//		Vision Source v0.5 Beta								//
//		Created by Ben Maynard copyright 2005				//		
//		Email: volvorules@gmail.com							//
//		URL: http://www.visionsource.org					//
//		Created: 3rd March 2005								//
//															//
//----------------------------------------------------------//
//															//
//		Script: style.css									//
//		written by: Ben Maynard								//
//															//
//////////////////////////////////////////////////////////////
*/

/* Global Styles */
body {
	background-color: #C5CEE7;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 11px;
}

img {
	border: 0px none;
}

ul {
	padding-left: 5px;
	list-style: none;
}


li {
	line-height: 15px;
	padding-left: 15px;
	background-image: url(images/arrow.gif);
	background-repeat: no-repeat;
	background-position: 3px;
}

/* Global Link Styles */

a:link,
a:visited,
a:active{
	color: #000;
	text-decoration: none;
}

a:hover{
	color: #1B3E6E;
	text-decoration: underline;
}


/* Table styles and stuff */
#table {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 11px;
	background-color: #FFF;
	border: 1px solid #000;
	text-align:left; 
	margin-left: 10%; 
	margin-right: 10%; 
	margin-top: 0px; 
	width: 79%;
}

#logo {
	background: #FFF;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 11px;
	text-align:left; 
	padding: 3px;
	border-bottom: 1px solid #000;
	width: 75%;
	height: 100px;
}

.nav {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 11px;
	border-left: 1px solid #000;
	background: #FFF;
	padding: 10px;
	width: 25%;
}

/* Main text styles and rest of the stuff */

.main {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 11px;
	padding: 10px;
	background: #FFF;
	width: 70%;
}

.topnav {
	border-bottom: 1px solid #000;
	padding: 1px;
	width: 75%;
	height: 15px;
}

.text {
	width: 90% !important;
	width: 100%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 3px;
	border: 1px solid #CCC;
	border-bottom: 0;
}

.text_main {
	width: 90% !important;
	width: 100%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 3px;
	border: 1px solid #CCC;
	border-bottom: 0;
}

.text_bottom {
	background: url('images/t_bot.gif');
	width: 90% !important;
	width: 100%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 3px;
	border: 1px solid #CCC;
	border-top: 0;
}


.title {
	font-weight: bold;
	font-size: 12px;
	background: #4560AF url(images/t_bg.gif);
	width: 90% !important;
	width: 100%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 3px;
	border: 1px solid #CCC;
	border-bottom: 0;
    height: 23px;
    color: #FFF;
    line-height:2.0em; 
}

.title a:link, 
.title a:visited {
	text-decoration: none;
	color:#fff;
}

.title a:hover, 
.title a:active {
	color:#E6ECFF;
	text-decoration: underline;

}

.subtitle {
	font-weight: bold;
	font-size: 12px;
	background: #FFF url(images/t_bot.gif);
	width: 90% !important;
	width: 100%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 3px;
	border: 1px solid #CCC;
    border-top: 1px solid #354D8F;
	border-bottom: 0;
    color: #000;
}

.subtitle a:link, 
.subtitle  a:visited {
   	text-decoration: none;
	color:#000;
}

.subtitle a:hover, 
.subtitle a:active {
	color:#E6ECFF;
    text-decoration: underline;
}


/* Dot styles for links */

.topdot {
	color: #87c80c;
	font-weight: bold;
	font-size: 16px;
}

.navdot {
	color: #87c80c;
	font-weight: bold;
}

/* Redirect Wrap!! */

div.redirect {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 11px;
	border: 1px solid #000;
	background-color: #FFF;
	color: #000;
	width: 50% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 100%;
	margin-left: 25%;
	margin-right: 25%;
	padding: 5px;
}

/* Other stuff */

.copyright {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 11px;
	width: 100%;
	text-align: center;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 10px;
}

.error {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #000;
	margin: 0 5% 0 5%;
	padding: 3px;
	background: #B5DD6B;
	color: #000;	
}