<style type="text/css">



body 			{color: #000000; font-family: Verdana, Arial, helvetica, sans-serif; font-size: 10px;

				}







.text			{color: #000000; font-size: 10px; font-family: Verdana ;}

.textbold		{color: #000000; font-size: 15px; font-weight: bold; font-family:verdana}

.textwhite		{color: #ffffff; font-size: 13px;}

.textboldwhite	{color: #ffffff; font-size: 13px; font-weight: bold;}

.translate		{color: #ffffff; background-color: #ff8300; font-size: 11px;}

.mail			{color: #000000; background-color: #ffffff; font-size: 11px;}

.mailbig		{color: #000000; font-size: 18px; font-family: Arial, helvetica, sans-serif; font-weight: bold;}

.search			{color: #cc0000; background-color: #ffffff; font-size: 13px;font-family:verdana; }

.link 			{color: #cc0000; font-size: 13px; font-weight: bold; font-family:verdana;}

.linknew		{color: #ff0000; font-size: 13px; font-weight: bold;}

.linksmall		{color: #000000; font-size: 11px;}

.reviews		{color: #000000; background-color: #ffffc4; font-size: 12px;}



/* Headers */

h2 				{color: #333333; font-size: 18 px; font-weight: bold; }

h3				{color: #333333; font-size: 16 px; font-weight: bold; }

h4				{color: #0000dd; font-size: 14px; font-weight: bold;}



/* Form Button  style */

.pnorm 			{color:#ffffff; background-color:#4f608f; font: 13px Verdana, Arial,Helvetica,Sans Serif; font-weight: bold; }

.pover 			{color:#000000; background-color:#ffc400; font: 13px Verdana, Arial,Helvetica,Sans Serif; font-weight: bold; }



/* Navbar */

A.nav 			{color: #cc0000; text-decoration:none; font-family:verdana; font-size:12px;}

A.nav:visited 	{color: #4f608f; text-decoration:none;}

A.nav:hover 	{color: #4f608f; text-decoration:underline;}

A.nav:active 	{color: #ffc400; text-decoration:underline;}

td.nav  		{color: #0089cd; font-weight: bold;}

tr.main 		{background-color: #000099;}

		

/* Title Bar */

td.ysmall		{color: #000000; background-color:#ffdb5a; font-weight: bold;}

		

/* Lines Links */

td.blueline 	{background-color: #E7E6E4;}

td.whiteline	{background-color: #ffffff;}

td.blackline 	{background-color: #000000;}

		

/* Text Styles */

.smallbold		{color: #4F608F; font-weight: bold; font-family:verdana; font-size:13px;}

.smallboldgrey	{color: #333333; font-family:verdana; font-size:11px;}

.smallboldwhite	{color: #ffffff; font-weight: bold;}

.small			{color: #000000; font-family:verdana; font-size: 12px;}

.smallwhite		{color: #ffffff;}

.smallgrey		{color: #cc0000; font-family:verdana; font-size:12px; font-weight:bold}

			 							 

/* Global Settings */

A 				{color: #0000aa; text-decoration:underline;}

A:visited 		{color: #0000aa; text-decoration:underline;}

A:hover 		{color: #ff0000; text-decoration:underline;}

A:active 		{color: #dd0000; text-decoration:underline;}



A.links 		{color: #3333CC; text-decoration:none; font-family:verdana;font-size:12px;}

A.links:visited {color: #3333CC; text-decoration:none;}

A.links:hover 	{color: #dd0000; text-decoration:none;}

A.links:active 	{color: #3333CC; text-decoration:none;}



A.white			{color: #ffffff; text-decoration:underline;}

A.white:visited	{color: #ffffff; text-decoration:underline;}

A.white:hover 	{color: #ffc400; text-decoration:underline;}

A.white:active	{color: #ffc400; text-decoration:underline;}



/* Homepage*/

A.title			{color: #ffffff; text-decoration:none;}

A.title:visited {color: #ffffff; text-decoration:none;}

A.title:hover 	{color: #ffc400; text-decoration:underline;}

A.title:active 	{color: #ffc400; text-decoration:underline;}

td.dates		{color: #000000; background-color: #ffffff;}		

td.title		{color: #ffffff; background-color: #000000; font-weight: bold;}		

td.titlewhite	{color: #000000; background-color: #ffffff; font-weight: bold;}	

/* forms setting */



INPUT.gray 

	{

	background-color : #eeeeee;

	font-family :  Verdana, Arial, Helvetica, sans-serif;

	font-size : x-small;

	color : #2D3A53;

	border : 2px solid #506590;

}	

SELECT.pulldown {

	background-color : #eeeeee;

	font-family : Arial, Helvetica, sans-serif;

	font-size : 11px;

	color : #2d3a53;

	border : 2px solid #506590;

}



/* email Specific */

A.email				{color: #ffffff; text-decoration:underline;}

A.email:visited	 	{color: #ffffff; text-decoration:underline;}

A.email:hover 		{color: #ffc400; text-decoration:underline;}

A.email:active		{color: #ffc400; text-decoration:underline;}



/* Tutorial Specific */

td.tuteclass		{color: #ffffff; background-color: #ff8300; font-size: 14px; font-weight: bold;}

td.tutelevel		{color: #ff8000; font-size: 14px; font-weight: bold; background-color:#e7e7e7}

td.tuteheader		{color: #000000; font-size: 18px; font-weight: bold;}

div.notes 			{background: #eeeeee; font-size: 12px; margin-left: 40px; margin-right: 40px; padding: 10px; border-color: #000000;}

div.code 			{color: #3366CC; font-size: 12px; margin-left: 40px; margin-right: 40px; padding: 10px;}

/* Fonts Specific */

td.sleeg 			{background: #FFF599; font-size: 10px;}

ul.font 			{margin-left: 10px; font-size: 10px; font-weight: bold;}



</style>

