/***************************
* Module Diary style
**************************/

.diary_table {
   background: #FFFFD0;
}

.diary_tableweektitles  {
   background: #99CCFF;
}

.diary_td_today {
   background: #f3f3f3;
   border: thin solid #FF0000
}

.diary_td_daysnoevents {
   background: #f3f3f3;
}

.diary_td_daysoutofmonth  {
	background: White;
}

.diary_td_weekend {
	background: #D8D8D8;
}

.diary_weektitles  {
	font-family:  Verdana;
   font-size: 10px;
   font-style: normal;
   line-height: normal;
   font-weight: bold;
   color: #000000;
   text-decoration: none
	background: #99CCFF;
}

.diary_fieldset {
   font-family: Verdana;
   font-size: 12px;
   font-style: normal;
   font-weight: bold;
   color: black;
}

.diary_forminput {
	BORDER-RIGHT: #666666 1px solid; 
	BORDER-TOP: #666666 1px solid; 
	FONT-SIZE: 9px; 
	VERTICAL-ALIGN: middle; 
	BORDER-LEFT: #666666 1px solid; 
	COLOR: #666666; 
	BORDER-BOTTOM: #666666 1px solid; 
	FONT-FAMILY: verdana; 
	background: #FFFFFF;
}


