
A
{
	FONT-SIZE: 12px;
	COLOR: Red;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A:visited
{
	FONT-SIZE: 12px;
	COLOR: Red;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A:hover
{
	FONT-SIZE: 12px;
	COLOR: #999999;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A.small
{
	FONT-SIZE: 9px;
	COLOR: Red;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A.small:visited
{
	FONT-SIZE: 9px;
	COLOR: Red;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A.small:hover
{
	FONT-SIZE: 9px;
	COLOR: #999999;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A.menulink
{
	FONT-SIZE: 11px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A.menulink:visited
{
	FONT-SIZE: 11px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A.menulink:hover
{
	FONT-SIZE: 11px;
	COLOR: #999999;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A.submenulink
{
	FONT-SIZE: 9px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A.submenulink:visited
{
	FONT-SIZE: 9px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A.submenulink:hover
{
	FONT-SIZE: 9px;
	COLOR: #999999;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A.topmenulink
{
	FONT-SIZE: 14px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A.topmenulink:visited
{
	FONT-SIZE: 14px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A.topmenulink:hover
{
	FONT-SIZE: 14px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A.rightcol
{
	FONT-SIZE: 10px;
	COLOR: Red;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: Underline;
}

A.rightcol:visited
{
	FONT-SIZE: 10px;
	COLOR: Red;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: Underline;
}

A.rightcol:hover
{
	FONT-SIZE: 10px;
	COLOR: #999999;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: Underline;
}

A.heading
{
	FONT-SIZE: 24px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
}

A.heading:visited
{
	FONT-SIZE: 24px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
}

A.heading:hover
{
	FONT-SIZE: 24px;
	COLOR: #999999;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
}

TD
{
	FONT-SIZE: 12px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	BACKGROUND-IMAGE: NONE;
}

H1
{
	FONT-SIZE: 20px;
	COLOR: FFFFFF;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
}

.header
{
	FONT-SIZE: 24px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
}

.rcolheader
{
	FONT-SIZE: 18px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
}

.teaserheader
{
	FONT-SIZE: 24px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
}

.headercontent
{
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}

.teaserheadercontent
{
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}

.rcolheadercontent
{
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: LightBlue;
}

.tablecontent
{
	FONT-SIZE: 12px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}

.teasercontent
{
	FONT-SIZE: 12px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}

.rcolcontent
{
	FONT-SIZE: 10px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}

.tablecontentfooter
{
	FONT-SIZE: 9px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}

.teasercontentfooter
{
	FONT-SIZE: 9px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}

.menu
{
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #FFFFE0;
}

.topmenu
{
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #FFA020;
}

.helptext
{
	FONT-SIZE: 10px;
	COLOR: Gray;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
}

.smalldropdown
{
	FONT-SIZE: 9px;
	COLOR: Gray;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

body
{
	FONT-SIZE: 12px;
	COLOR: Black;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}

.topback
{
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: Black;
}

.menuback
{
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #FFFFE0;
}

.mainback
{
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}

.topmenuback
{
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: LightBlue;
}

.bottomback
{
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: Black;
}

.userdataback
{
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: Black;
}

.borderback
{
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #999999;
}
.submit {font-family:Verdana, Arial; font-size: 9pt; color:#333333; border-color:#666666; border-width:1px; BACKGROUND-COLOR: #F3F0F0; font-weight:bold}input,textarea,select {font-family:Verdana, Arial; font-size: 9pt; color:#333333; border-color:#666666; border-width:1px}li {list-style-image: url(../contentimage/)}body,select,textarea { scrollbar-face-color: green; scrollbar-shadow-color: #666666; scrollbar-highlight-color: green; scrollbar-3dlight-color: green; scrollbar-darkshadow-color: green; scrollbar-track-color: green; scrollbar-arrow-color: #666666}.small {color: Red; font-family: Verdana; font-size: 9px;}