A
{
	FONT-SIZE: 13px;
	COLOR: Black;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A:visited
{
	FONT-SIZE: 13px;
	COLOR: Black;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}

A:hover
{
	FONT-SIZE: 13px;
	COLOR: Black;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: None;
}


TD
{
	FONT-SIZE: 13px;
	COLOR: Black;
	FONT-FAMILY: Verdana;
	BACKGROUND-IMAGE: NONE;
}

H1
{
	FONT-SIZE: 20px;
	COLOR: Black;
	FONT-FAMILY: Verdana;
}

.header
{
	FONT-SIZE: 17px;
	COLOR: Black;
	FONT-FAMILY: Verdana;
}

.rcolheader
{
	FONT-SIZE: 17px;
	COLOR: Black;
	FONT-FAMILY: Verdana;
}

.teaserheader
{
	FONT-SIZE: 17px;
	COLOR: Black;
	FONT-FAMILY: Verdana;
}

.headercontent
{
	FONT-SIZE: 13px;
	COLOR: Black;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}

.teaserheadercontent
{
	FONT-SIZE: 13px;
	COLOR: Black;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}

.rcolheadercontent
{
	FONT-SIZE: 13px;
	COLOR: Black;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}

.tablecontent
{
	FONT-SIZE: 13px;
	COLOR: Black;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}

.teasercontent
{
	FONT-SIZE: 13px;
	COLOR: Black;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}

.rcolcontent
{
	FONT-SIZE: 13px;
	COLOR: Black;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}

.tablecontentfooter
{
	FONT-SIZE: 11px;
	COLOR: Black;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}

.teasercontentfooter
{
	FONT-SIZE: 11px;
	COLOR: Black;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: White;
}
