
.badcss {
  display: none;
  /* And now exploid the pathetic MSIE property-name-parsing bug... */
  _display: block;
  _border: 1px #ff9500 dashed;
  _font-size: larger;
  _color: black;
  _background-color: white;
  _background: white;
  _padding: 1em;
  _font-size: 11px;
}


@media print  {
  .noprint  { display: none; }
  .end, .back { display: none; }
}

@media screen {
  .noscreen { display: none; }

  :root, body, html {
    border: none;
    padding: 0;
    margin: 2px;
    margin-left: 10px;
    font-size: 11px;
    display: block;
    background-color: white;
    background: white;
    color: Black;
	 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  }

  a:link    { 
font-size: 11px;
  color: #378A5C
  }
  a:visited { 
	font-size: 11px;
  color: #378A5C
  }
  a:hover { 
	font-size: 11px;
  color: #000
  }
  a:active  { 
	font-size: 11px;
  color: #378A5C
  }

  .meantForReader {
    text-align: center;
    color: Black;
    border: 1px solid #f00;
    padding: 7px;
    font-size: larger;
  }
  .back { 
  text-align: right; 
  color: #ccc; 
  padding: 3px;
  }


  .aboutThisFeed {
    float: right;
    width: 30%;
    color: Black;
    margin-right: 1em;
    padding: 3px;
    border: 1px #555 solid;
  }

  .aboutThisFeed p { margin: 4px; margin-left: 1.2em; text-indent: -.7em; }
  .aboutThisFeed p + p { margin-top: 7px; }
  .aboutThisFeed p em { padding-right: .9em; }


  .feedtitle {
    margin-bottom: 0;
    font-size: 160%;
    margin-left: -7px;
  }

  .desc {
    font-size: 130%;
    margin-top: 0;
    margin-bottom: 2em;
    color: #378A5C;
  }

  .updatefreq { margin: 1em 0 2em 0; color: #eee; }

  .leadIn {
    clear: both;
    color: Black;
    font-style: italic;
  }
  
  .Items dd { 
  	color: Black; 
	font-size: 11px;
	}
  .Items dt {
    border: 1px #555 solid;
    border-width: 1px 0 0 1px;
    border-left-color: #555;
    padding: 4px;
    background-color: White;
  }

  .end {
    font-style: italic;
    background-color: #FFFFFF;
    color: #888;
    margin: 2em 0 0 0;
    padding: 4px;
  }

  body.AAF .aboutThisFeed { width: 50%; float: none; }
  .aaflink {
    font-size: 300%;
    background-color: #FFF;
    background: #FFF;
    text-align: center;
    border: 1px #378A5C solid;
    padding: 10px;
  }
}

.Items    { 
	margin-left: 1em;
} 
.Items dt { margin-top: 1em; font-size: larger;}

/* End */

