/* default text */
.text {font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #000000}

/* small text */
.small {  font-family: verdana, arial, helvetica, sans-serif; font-size: 9px}

/* top navigation */
.nav-top-txt {  font-family: verdana, arial, helvetica, sans-serif; font-size: 14px; font-weight: 900;}


/* category navigation */
.navbar { font-family: arial, verdana, sans-serif;  font-weight: bold;  font-size: 10pt;  background-color: #FFCC33; color: #00000;}


/* alternating table rows */
.cell1 {  background-color: #f6f6f6; font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #000000}
.cell2 {  background-color: #dedede; font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #000000}

/* titles */
.title {  font-family: verdana, arial, helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #373737; background-color:  #E5E5E5}

/* system messages and errors */
.sys-message { color: #C0C0C0; font-family: arial,verdana,sans-serif; font-size: 9pt; }
.error {  font-family: verdana, arial, helvetica, sans-serif; font-size: 9pt; color: #FF3300; font-weight: bold}

/* search */
.search {  background-color:  #E5E5E5}

/* small text fields */
.textbox {  font-family: arial, helvetica, sans-serif; font-size: 10px}

/* buttons */
.button {  font-family: arial, helvetica, sans-serif; font-size: 10px; }

/* spacing styles */
.spacing-pad-top-right {  padding-top: 15px; padding-right: 15px}
.spacing-pad-top-left {  padding-top: 15px; padding-left: 15px}
.spacing-pad-left-right { padding-right: 15px ; padding-left: 15px}

/* categories */
.cat { font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #003399; font-weight: bold;}
.cat:hover {  font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #a0a0e0; font-weight: bold;}
.cat-no { color: #707070; font-family: arial, verdana, sans-serif; font-size: 10px;  }
.cat-desc { color: black; font-family: arial,verdana,sans-serif; font-size: 9pt; }
.cat-new { color: blue; font-family: arial, verdana, sans-serif; font-size: 12px; ; vertical-align: super}
.cat-pick {  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #009900; vertical-align: super}
.cats-stats {  color: #707070; font-family: arial,verdana,sans-serif; font-size: 9pt; }

/* links */
.link { font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #003399; }
.link:hover {  font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #a0a0e0;}
.link-rate {  font-family: arial, helvetica, sans-serif;  font-size: 12px; color: #000000; text-decoration: none; }
.link-modify {  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #800000; text-decoration: none; }
.link-div{  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #000000; text-decoration: none; }
.link-desc { color: black; font-family: arial,verdana,sans-serif; font-size: 9pt; }
.link-detail { color: #707070; font-family: arial,verdana,sans-serif; font-size: 8pt; }
.link-new { color: blue; font-family: arial, verdana, sans-serif; font-size: 12px; ; vertical-align: super}
.link-top { color: red; font-family: arial, verdana, sans-serif; font-size: 12px; vertical-align: super}
.link-pop { color: orange; font-family: arial, verdana, sans-serif; font-size: 12px; vertical-align: super}
.link-pick {  font-family: arial, helvetica, sans-serif; font-size: 12px; color: #009900; vertical-align: super}

/* page navigation */
.pagenav {  font-family: arial, verdana, helvetica, sans-serif; font-size: 12px; color: #00000; font-weight: bold;}

/* copyright */
.copyright {  font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; color: #999999}