<head>
<title>#%SITE_NAME%#</title>
<meta name="description" content="#%ALL_CAT%#">
<meta name="keywords" content="#%ALL_CAT%#">

<STYLE type=text/css>
body {font-size:10pt;font-family:Arial;background-color:#ffffff;color:#000000;scrollbar-base-color:#7777CC}
a:link {color:#0000ff}
a:visited {color:#4444ff}
a:active {color:red}
a:hover {color:red;text-decoration:none}
tr {font-size:10pt;color:#000000;background-color:#ececec;text-align:Center}
tr.dark {background-color:#cccccc}
table {background-color:#ececec}
th {background-color:#3366CC;color:#ffffff}
</STYLE>

<base target=_blank>

<script for=blink event=onmouseout>
status=''
</script> 
<script for=blink event=onmouseover>
if(this.clk){this.href=this.clk}
if (this.blink){status=this.blink;return true}
</script>

<script>
if (top.frames.length!=0)
top.location=self.document.location;
self.moveTo(0,0);
self.resizeTo(screen.availWidth,screen.availHeight);
self.focus();
</script>

</head>

<body>
<center>

<table width=100% border=0 cellpadding=0 cellspacing=0>
<tr>
<td align=left>
<font size=3><b>
#%MENU_START%#<a target=_self href=#%CATEGORY%#.html>#%CAT_TITLE%#</a> #%CAT_SITES%# &nbsp;#%MENU_END%#
</b></font>
</td>

<td align=right>
<table cellspacing=0>
<form method=get action=search.php target=_self onsubmit='exit=false'>
<tr>
<th>Search:</th>
<th><input type=text name=s size=15></th>
<th><input type=submit value=Search></th>
</tr>
</form>
</table>
</td>
</tr>
</table>
<br>

<table align=center border=0 cellpadding=2 cellspacing=1 width=600>

<tr bgColor=#CCCCCC>
<th width=30>#</th>
<th width=70>Category</th>
<th>Description</th>
<th width=40>Click</th>
<th width=40>Out</th>
</tr>
