/* $Id: common.css,v 1.14 2002/07/18 08:23:35 cvs_iezzi Exp $
 * PowerPhlogger CSS
 */

HTML {
	height: 100#000000;
}

BODY {
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #729AA3;
	scrollbar-arrow-color: #000080;
	scrollbar-base-color:#CCCCCC;
	color: #000000;
}

P,TD,TH,DL,LI,UL {
	font-family: tahoma,verdana,helvetica,courier,arial,sans-serif;
	font-size: 8pt;
	color: #000000
}

H1 { font-size: 24px; font-weight: bold; }
H2 { font-size: 20px; font-weight: bold; }
H3 { font-size: 18px; font-weight: bold; }

TH { color: #006699; vertical-align: bottom; }

A {
	font-weight: bold;
	font-family: tahoma,verdana,helvetica,courier,arial,sans-serif;
	font-size: 8pt;
	text-decoration: none;
	color: #006699;
}
A:HOVER { color: #000000; }

A.invertLink { color: #E3E3D7;  }
A.invertLink:HOVER { color: #000000;  }
A.invertLink2 { color: #E3E3D7; font-weight: normal;  }
A.invertUsc { color: #E3E3D7; text-decoration: underline; }
A.invertUsc:HOVER { color: #000000;  }
A.ref { font-weight: normal; color: #000000; }
A.keywords { font-weight: normal; }

#blacklink { color: #000000; }
.Input {
	font-family: tahoma,verdana,helvetica,courier,arial,sans-serif;
	background-color: #E3E3D7;
	font-size: 8pt;
	color: #800000;
}

TD.color1,TH.color1,TABLE.color1,TR.color1, .color1 P, .color1 TD { background: #E3E3D7; color: #000000; }
TD.color2,TH.color2,TABLE.color2,TR.color2, .color2 P, .color2 TD { background: #CCCCCC; color: #000000; }
TD.color3,TH.color3,TABLE.color3,TR.color3, .color3 P, .color3 TD { background: #FFFFCC; color: #800000;  font-size: 13px; font-weight: bold; }

A.color1 { color: #006699; font-weight: bold;}
A.color2 { color: #000000; font-weight: normal;}
A.color3, .color3 A { color: #000000; font-size: 13px; font-weight: bold;}

TH.vis, TD.vis { color: #800000; font-weight: bold; }
TH.vislight, TD.vislight { color: #E3E3D7; }

TR.ref,TD.ref, .ref TD { background-color: #E3E3D7; color: #000000;  }
A.ref { color: #000000; }
TH.invertLink { color: #E3E3D7;  }

HR { color: #729AA3; border: solid 1px; }

img { border:none; }

table.box-table {
	border-width : 1px;
	border-style : solid;
	border-color : #000000;
	background-color: #E3E3D7;
	border-collapse: collapse;
}

table.box-table td, table.box-table th {
	border-collapse: collapse;
	border-top-width : 0px;
	border-right-width : 0px;
	border-bottom-width : 1px;
	border-left-width : 0px;
	border-style : solid;
	border-color : #000000;
}

td.table-header a {
	color: White;
}
