a:link{text-decoration:none;font-size:11px;color:blue}
a:visited{text-decoration:none;font-size:11px;color:blue}
a:hover{text-decoration:none;font-size:11px;color:black}
a.desc:link{text-decoration:none;font-size:10px;color:navy}
a.desc:visited{text-decoration:none;font-size:10px;color:navy}
a.desc:hover{text-decoration:none;font-size:10px;color:red}
a.menu:link{text-decoration:none;font-size:10px;color:black}
a.menu:visited{text-decoration:none;font-size:10px;color:black}
a.menu:hover{text-decoration:none;font-size:10px;color:blue}
body{font-family:"Verdana";font-size:12px;scrollbar-face-color: #73AED2;scrollbar-highlight-color:#BDD3F4;scrollbar-shadow-color: #73AED2;scrollbar-3dlight-color:#73AED2;scrollbar-arrow-color: #BDD3F4;scrollbar-track-color:#A0D8F8;scrollbar-darkshadow-color: black;}
.mes{font-family:Verdana,tahoma;font-size:11px;color:black;font-weight:bold;test-align:justify;}
sup{font-family:Verdana,tahoma;font-size:11px;color:yellow;font-weight:bold;}
.admin{font-family:Verdana,tahoma;font-size:11px;color:red;font-weight:bold;test-align:justify;}
.desc{font-family:Verdana,tahoma;font-size:10px;color:black;font-weight:bold;}
.dat{font-family:Verdana,tahoma;font-size:12px;color:red;font-weight:bold;}
.head{font-family:Verdana,tahoma;font-size:14px;color:red;font-weight:bold;}
a.head:link{text-decoration:none;font-size:14px;color:blue}
a.head:visited{text-decoration:none;font-size:14px;color:blue}
a.head:hover{text-decoration:none;font-size:14px;color:red}
.button{font-family:Verdana;font-weight:bold;font-size:10px;color:black;background:#A0C0F0;border: black;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;width:100px}
.tr{color:black;border: black;border-style: solid;border-top-width:1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;}
.input,.textarea,.select{font-family:Verdana;font-size:12px;color:black;background:#A0D8F8;border: black;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;width:250px}
.binput{font-family:Verdana;font-size:12px;color:black;background:#A0D8F8;border: black;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;width:500px}
#input,#textarea,#select{background:white;}
.sinput{font-family:Verdana;font-size:12px;color:black;background:#A0D8F8;border: black;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;width:60px}
.msinput{font-family:Verdana;font-size:12px;color:black;background:#A0D8F8;border: black;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;width:90px}
.minput{font-family:Verdana;font-size:12px;color:black;background:#A0D8F8;border: black;border-style: solid;border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;width:120px}