/* ------------------------------------------------------------------
GENERAL TAGS
 ------------------------------------------------------------------*/
* {
	font-family : "Courier New", Courier, monospace;
}

body {
	background-color : White;
	color : Black;
}


small {
	font-size : 11px;
}

a {
	text-decoration: none;
	color : Blue;
}

a:visited {
	text-decoration: none;
	color : Maroon;
}

a:hover {
	text-decoration: underline;
	color : Red;
}

input {
	font-family: 'Courier New', Courier, monospace;
	font-size : 12px;
}

/* ------------------------------------------------------------------
END
 ------------------------------------------------------------------*/