.maintext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;

}

.maintextbeli {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;

}
.greentxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #009900;

}
.maintextms {
	font-family: MS Shell Dlg;
	font-size: 11px;
	color: #000000;

}
.maintextsuper {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	vertical-align: super;
}
.maintextplavi {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #229DD9;

}
.maintextplaviinvert {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #3C89D1;
	text-decoration: none;



}
.maintextplavi2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #229DD9;
	font-weight: normal;


}
.maintextplavi21 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #229DD9;
	font-weight: bold;


}
.maintextplavi3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3C89D1;

}
.mg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;

}

.red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	font-weight: bold;
}
.red2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FF0000;
	font-weight: bold;
}
.asterix {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0097FF;
	font-weight: bold;
}
.sivimaintext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6D6D6D;
	font-weight: bold;

}
.maintext2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;

}
.maintext22 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;

}
.maintext3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #229DD9;


}
.maintext3B {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;

}
.maintext2beli {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;

}
.titletext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000000;
	font-weight: bold;

}
.titletext0 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	font-weight: bold;

}
.subtitleBLUE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3C89D1;
	font-weight: bold;

}
.titletext0blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #3C89D1;
	font-weight: bold;

}

.titletext0white {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;

}
.titletext0black {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	font-weight: bold;

}
.titletext1blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: bold;

}

a:link.2 {
	text-decoration: none;
}
a:visited.2 {
	text-decoration: none;
}
a:hover.2 {
	text-decoration: none;
	background-color: transparent;
}

a:link.active {
	text-decoration: none;
	color: #2E76D8;
}
a:visited.active {
	text-decoration: none;
	color: #2E76D8;
}
a:hover.active {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #2E76D8;
}

a:link.archive {
	text-decoration: none;
	color: #7F7F7F;
}
a:visited.archive {
	text-decoration: none;
	color: #7F7F7F;
}
a:hover.archive {
	text-decoration: underline;
	color: #7F7F7F;
	background-color: transparent;
}


a:link {
	color: #229DD9;
	text-decoration: underline;
}
a:visited {
	color: #229DD9;
	text-decoration: underline;
}

a:hover {
	color: #FFFFFF;
	background-color: #5BB1EA;
	text-decoration: none;
}

a.newslist:link {
	color: #000000;
	text-decoration: none;
}
a.newslist:visited {
	color: #000000;
	text-decoration: none;
}
a.newslist:hover {
	color: #FFFFFF;
	background-color: #3C89D1;
	text-decoration: none;
}

a.redlink:link {
	color: #FF0000;
	text-decoration: underline;

}
a.redlink:visited {
	color: #FF0000;
	text-decoration: underline;
}
a.redlink:hover {
	color: #FFFFFF;
	background-color: #FF0000;
	text-decoration: none;
}

a.expiration:link {
	color: #8E8E8E;
	text-decoration: none;


}
a.expiration:visited {
	color: #8E8E8E;
	text-decoration: none;

}
a.expiration:hover {
	color: #FFFFFF;
	background-color: #3C89D1;
	text-decoration: none;



}

a.newslist2:link {
	color: #000000;
	text-decoration: none;
}
a.newslist2:visited {
	color: #000000;
	text-decoration: none;
}
a.newslist2:hover {
	color: #FFFFFF;
	background-color: #000000;
	text-decoration: none;
}


a.fmenu:link {
	color: #FFFFFF;
	background-color: #3C89D1;
	text-decoration: none;
}
a.fmenu:visited {
	color: #FFFFFF;
	background-color: #3C89D1;
	text-decoration: none;

}

a.fmenu:hover {
	color: #3C89D1;
	text-decoration: none;
	background-color: transparent;
}


.formfields {
	border: 1px solid #545454;
	background-color: #F8F8F8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;

}

.formfields_error {
	border: 2px dashed #3C89D1;
	background-color: #F8F8F8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;

}
.formfields2 {
	font-family: MS Shell Dlg,Arial, Helvetica, sans-serif;
	font-size: 8pt;


}
.formbuttons {
	border: 1px solid #FFFFFF;
	background-color: #29A4DD;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;

}
.mainsectiopntable {
	PADDING-LEFT: 3px; BORDER-BOTTOM: #969696 1px solid;
}
.rezultati {
	PADDING-LEFT: 3px; BORDER-BOTTOM: #000000 1px solid; BORDER-TOP: #000000 1px solid;
}

body {
scrollbar-track-color: #F2F2F2;
scrollbar-arrow-color:#FFFFFF;
scrollbar-base-color:#63B9E6;
scrollbar-shadow-color:#FFFFFF;
scrollbar-face-color:#3C89D1;	
scrollbar-highlight-color:#FFFFFF;
scrollbar-dark-shadow-color:#ffffff;
scrollbar-3d-light-color:#FFFFFF;
}
.okvir {
	border: 1px solid #7F9DB9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.okvir2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border-top: 1px none #7F9DB9;
	border-right: 1px solid #7F9DB9;
	border-bottom: 1px none #7F9DB9;
	border-left: 1px solid #7F9DB9;

}
.okvir3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border-top: 1px none #7F9DB9;
	border-right: 1px solid #7F9DB9;
	border-bottom: 1px none #7F9DB9;
	border-left: 1px solid #7F9DB9;

}
.okvir4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border-top: 1px solid #7F9DB9;
	border-right: 1px none #7F9DB9;
	border-bottom: 1px none #7F9DB9;
	border-left: 1px none #7F9DB9;

}
.okvir5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border-top: 1px none #7F9DB9;
	border-right: 1px solid #7F9DB9;
	border-bottom: 1px solid #7F9DB9;
	border-left: 1px none #7F9DB9;

}
.okvir6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border-top: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
}
.techtextside {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;


}
.spacer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 6px;
}
table.listing 
{ 
  margin-top: 10px; 
  margin-bottom: 10px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
} 
.maintext2blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #0254BA;
	font-weight: bold;

}