<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>MyObjects Web Client : About</title>
<link rel="stylesheet" type="text/css" href="webclient/scripts/myobjects.css" />
<script type="text/javascript" src="webclient/scripts/ie5.js"></script>
<script type="text/javascript" src="webclient/scripts/XulMenu.js"></script>
</head>
<body>
<div id="logo"><a href="http://www.myobjects.org" target="_blank" title="MyObjects"><img src="webclient/images/logo.gif" width="90" height="29" alt="MyObjects" border="0" /></a></div>
<script type="text/javscript">
/* preload images */
var arrow1 = new Image(4, 7);
arrow1.src = "webclient/images/arrow1.gif";
var arrow2 = new Image(4, 7);
arrow2.src = "webclient/images/arrow2.gif";
</script>
<div id="toolbar"><?php echo $this->toolBar?></div>
<script type="text/javascript">
    var menu1 = new XulMenu("menu1");
    menu1.arrow1 = "webclient/images/arrow1.gif";
    menu1.arrow2 = "webclient/images/arrow2.gif";
    menu1.init();
</script>
<table width="100%" cellpadding="0" cellspacing="0" id="about">
  <tr><td align="center"><a href="http://www.myobjects.org"><img src="webclient/images/logo.png" alt="MyObjects" width="350" height="113" border="0" /></a></td>
  </tr>
  <tr>
    <td align="center">
	  <div class="caption">MyObjects Object Persistence Library - <?php echo $this->version?></div>
	  &copy; Copyright 2004 <a href="http://erdinc.yilmazel.com">Erdin&ccedil; Y&#305;lmazel</a><br /><br />
	  <pre style="text-align:left; width:650px; padding:20px; margin-bottom:50px; border:1px dashed;">
Copyright (c) 2004, R. Erdinc Yilmazel
All rights reserved.

Redistribution and use in source and binary forms, with or without modification,
are permitted provided that the following conditions are met:

    Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer. 
    
    Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.
    
    Neither the name of the Erdinc Yilmazel nor the names of its
    contributors may be used to endorse or promote products derived
    from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED
AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</pre>
	  </td>
  </tr>
</table>
</body>
</html>