<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>MyObjects Web Client</title>
<link rel="stylesheet" type="text/css" href="webclient/scripts/myobjects.css" />
<link rel="stylesheet" type="text/css" href="webclient/scripts/DatabaseTree.css" />
<script type="text/javascript" src="webclient/scripts/ie5.js"></script>
<script type="text/javascript" src="webclient/scripts/XulMenu.js"></script>
<script type="text/javascript" src="webclient/scripts/DynamicTree.js"></script>
</head>
<body>
<div id="logo"><a href="http://www.myobjects.org" target="_blank" title="MyObjects"><img src="webclient/images/logo.gif" alt="MyObjects" width="90" height="29" border="0" /></a></div>
<script type="text/javscript">
/* preload images */
var arrow1 = new Image(4, 7);
arrow1.src = "webclient/images/arrow1.gif";
var arrow2 = new Image(4, 7);
arrow2.src = "webclient/images/arrow2.gif";
</script>
<div id="toolbar"><?php echo $this->toolBar?></div>
<script type="text/javascript">
    var menu1 = new XulMenu("menu1");
    menu1.arrow1 = "webclient/images/arrow1.gif";
    menu1.arrow2 = "webclient/images/arrow2.gif";
    menu1.init();
</script>
<table width="100%"  border="0" cellspacing="0" cellpadding="25" id="main">
  <tr>
  	<td width="300" valign="top" style="border-right:1px dashed #000000;">
  	<table width="100%"  border="0" cellspacing="0" cellpadding="5">
      <tr>
        <td class="tableHeader">Current Database Schema </td>
      </tr>
      <tr>
        <td><?php echo $this->schemaGraph?></td>
      </tr>
    </table>
    </td>
    <td valign="top">
	<!-- <img src="webclient/images/logo.png" alt="MyObjects" width="350" height="113" hspace="30" align="right" /> -->
		<table width="100%"  border="0" cellspacing="0" cellpadding="5">
      <tr>
        <td class="tableHeader">MyObjects</td>
      </tr>
      <tr>
        <td>
        <p>This is the Web Frontend of the MyObjects <a href="http://www.php.net">Php</a> / <a href="http://www.mysql.com">MySql</a> Object Persistence Library.</p>
        <p style="margin-top: 20px;"><strong>Please select an action to begin:</strong></p>
				<p><img src="webclient/images/dbschemaicon.png" alt="" width="24" height="24" align="absmiddle" /> <a href="?generateSchema" title="Generate Schema From Existing Database">Generate Schema From Existing Database</a></p>
        <p><img src="webclient/images/plusicon.gif" alt="" width="20" height="21" align="absmiddle" /> <a href="?newSchema" title="Create New Database Schema">Create New Database Schema</a></p>
        <p><img src="webclient/images/open.gif" alt="" width="24" height="21" align="absmiddle" /> <a href="?loadSchema" title="Load Schema File">Load Schema File</a></p>
        </td>
      </tr>
    </table>
	<div style="margin:100px; " align="center">&copy; MyObjects Copyright 2004 <a href="http://erdinc.yilmazel.com">Erdinç Yilmazel</a></div>
	</td>
  </tr>
</table>
</body>
</html>