<html>
<head>
<title>%%%SITE_TITLE%%% : %%%NAME%%%</title>

%%%LIGHTBOX%%%

<!-- This is a Javascript Image Protection routine
You may delete it if you do not have a need to proect images -->

<SCRIPT LANGUAGE="JavaScript1.1" SRC="%%%IFIMAGES%%%/imageprotect.js"></SCRIPT>

<!-- end of Javascript Image Protection -->

<!-- BizDesign ImageFolio Professional Edition.  Copyright 2000 BizDesign, Inc. -->
</head><body bgcolor="#ffffff" link="navy" alink="navy" vlink="navy">


<center>

  <table border=0 cellspacing=1 cellpadding=0 width="600">
    <tr> 
      <td><font face="Verdana,Arial,Helvetica" size=1 color="#666666"><b>S E A R C H</b></font><br>
      </td>
    </tr>
    <tr> 
      <td>%%%SEARCH_BOX%%%</td>
    </tr>
  </table>

  <table border=0 width=600 cellspacing=0 cellpadding=4>
    <tr> 
      <td>
        <table border="0" width="100%" cellspacing=0 cellpadding=0 bgcolor="#000000">
          <tr> 
            <td> 
              <table border="0" width="100%" cellspacing="1" cellpadding=0>
                <tr bgcolor="#eeeeee"> 
                  <td align=center nowrap valign=bottom background="%%%IFIMAGES%%%/topback.gif"> 
                    <table border=0 cellspacing=0 cellpadding=0 width="100%">
                      <tr> 
                        <td align=center><img src="%%%IFIMAGES%%%/topimage.gif" alt="" border=0 hspace=0 vspace=0></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr bgcolor="#000000"> 
                  <td> 
                    <table border="0" width="100%" cellspacing=0 cellpadding=4>
                      <tr %%%BGCOLOR%%%> 
                        <td><font face="Arial,Helvetica" size="+1" color="#FFCC00"><b>%%%NAME%%%</b></font></td>
                        %%%CLEARBUTTON%%%
                         
                        <td align=right width="43%"><font face="Verdana,Arial,Helvetica" size=1 color="#FFFFFF">%%%COUNT%%%</font></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td> 
                    <table border=0 cellpadding=3 cellspacing=0 width="100%">
                      <tr> 
                        <td><font face="Verdana,Arial,Helvetica" size=2>%%%SUBJECT%%%</font></td>
                        <td align=right>%%%NAV%%%</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                 %%%THUMBNAILS%%% 
                
                <tr bgcolor="#eeeeee"> 
                  <td align=center valign=bottom background="%%%IFIMAGES%%%/botback.gif"> 
                    <table border=0 cellspacing=0 cellpadding=0 width="100%">
                      <tr> 
                        <td width=1><img src="%%%IFIMAGES%%%/left.gif" alt="" border=0 hspace=0 vspace=0></td>
                        <td align=center width="100%"><a href="http://www.imagefolio.com" target="_blank"><img src="%%%IFIMAGES%%%/folio.gif" alt="Powered by ImageFolio" border=0 hspace=0 vspace=0></a></td>
                        <td align=right width=1><img src="%%%IFIMAGES%%%/right.gif" alt="" border=0 hspace=0 vspace=0></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <br>
  <table border=0 cellspacing=1 cellpadding=0 width="600"><tr><td valign=top><a href="http://www.imagefolio.com" target="_blank"><img src="%%%IFIMAGES%%%/powered.gif" alt="Powered by ImageFolio" border=0></a></td><td align=right>
  <table border=0 cellspacing=1 cellpadding=0>
    <tr>
      <td valign=bottom><font face="Verdana,Arial,Helvetica" size=1 color="#666666"><b>C A T 
        E G O R I E S</b></font><br>
      </td>
    </tr>
    <tr> 
      <td>%%%PULLDOWN_MENU%%%</td>
    </tr>
  </table>
  </td></tr></table>
  <br>
</center>
</body>
</html>
