<html>
<head>
<title>Rate This File!</title>
<!-- BizDesign ImageFolio Professional Edition.  Copyright 2000 BizDesign, Inc. -->
</head>
<body bgcolor="#ffffff" marginwidth=0 marginheight=0 topmargin=0 rightmargin=0 leftmargin=0>
<table border="0" width="100%" cellspacing=0 cellpadding=0 bgcolor="#000000">
  <tr>
    <td> 
      <table border="0" width="100%" cellspacing=1 cellpadding=0>
        <tr bgcolor="#000000"> 
          <td> 
            <table border="0" width="100%" cellspacing=0 cellpadding=4>
              <tr> 
                <td><font face="Arial,Helvetica" size=+1 color="#FFCC00"><b>Rate 
                  This File!</b></font></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#eeeeee"> 
          <td> 
            <table border=0 cellpadding=3 cellspacing=0 width="100%">
              <tr> 
                <td><font face="Verdana,Arial,Helvetica" size=1>%%%FILE%%%</font></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<center>
  <form method=post action="%%%SCRIPT_URL%%%">
    <input type=hidden name=file value="%%%FILE%%%">
    <input type=hidden name=category value="%%%CATEGORY%%%">
    <select name=rate size=1>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>&nbsp;<input type=submit value="Rate It!">
  </form>
  <table border=1 width="80%" cellpadding=5 cellspacing=0 bgcolor="#eeeeee">
    <tr>
      <td><font face="Verdana,Arial,Helvetica" size=1><b>Instructions:</b><br>
        Rate this file on a scale of 1 to 10, with 10 being perfect.</font><br>
      </td>
    </tr>
  </table>
  <br>
</center>
</body>
</html>