<head>
    <title>Contenido Symbolhelp</title>
    <link rel="stylesheet" type="text/css" href="styles/contenido.css" />
</head>
<body style="margin: 10px">
<table cellspacing="0" cellpadding="2" border="0" width="70%">
 <tr>
      <td class="text_medium">
       <b><a name="top">i18n("Table of contents"):</a></b><br><br>
        <b><a href="#Allgemein">i18n("Common")</a></b><br><br>
       <b><a href="#Content">i18n("Content")</a></b><br>
       <a href="#Artikel">i18n("Article")</a><br>
       <a href="#Kategorie">i18n("Category")</a><br>
       <a href="#Upload">i18n("File management")</a><br><br>
       <b><a href="#Style">i18n("Style")</a></b><br>
       <a href="#Layouts">i18n("Layouts")</a><br>
       <a href="#Module">i18n("Modules")</a><br>
       <a href="#Templates">i18n("Templates")</a><br>
       <a href="#Styleeditor">i18n("Style editor")</a><br>
       <a href="#Skripteditor">i18n("Script editor")</a><br><br>
       <b><a href="#Extras">i18n("Extras")</a></b><br>
       <a href="#Mailings">i18n("Newsletter")</a><br>
       <a href="#Empf&auml;nger">i18n("Recipients")</a><br><br>
       <b><a href="#Statistik">i18n("Statistics")</a></b><br>
       <a href="#Zugriffe">i18n("Hits")</a><br><br>
       <b><a href="#Administration">i18n("Administration")</a></b><br>
       <a href="#Benutzer">i18n("Users")</a><br>
       <a href="#Gruppen">i18n("Groups")</a><br>       
       <a href="#Sprachen">i18n("Languages")</a><br>
       <a href="#Mandanten">i18n("Clients")</a><br>
      </td>
 </tr>
 <tr>
      <td class="text_medium" style="border: 0px; border-top:1px; border-color: #a9aec2; border-style: solid">

         <br><b>Inhalt:</b><br><br>
         <a name="Allgemein"><b>i18n("Common")</b></a><br>
         <table width="100%" bgcolor="white" border="0">
          <tr><td height="6"></td><td rowspan="5" width="5"></td><td></td></tr>
           <tr><td width="40" height="18" align="right"><img src="images/but_ok.gif" width="20" height="20" border="0"></td>
          <td class="text_medium">i18n("Execute query / Save")<br></td></tr>
          <tr><td width="40" height="18" align="right"><img src="images/but_cancel.gif" width="20" height="20" border="0"></td>
          <td class="text_medium">i18n("Cancel")<br></td></tr>
          <tr><td width="40" height="18" align="right"><img src="images/but_logout.gif" width="16" height="16" border="0"></td>
          <td class="text_medium">i18n("Logout")<br></td></tr>
          <tr><td width="40" height="18" align="right"><img src="images/my_contenido.gif" width="16" height="16" border="0"></td>
          <td class="text_medium">i18n("Change to MyContenido (Personal Settings)")<br></td></tr>
           <tr><td height="10" colspan="3"></td></tr>
        </table>
               <tr><td  height="20" align="right"><a href="#top"><img src="images/pfeil_hoch.gif" width="15" height="9" border="0"></a></td></tr>
       </td> </tr>
   <tr>  <td class="text_medium" style="border: 0px; border-top:1px; border-color: #a9aec2; border-style: solid"><br>

<a name="Content"><b>i18n("Content")</b></a><br><br>
<a name="Artikel">i18n("Article")</a><br>
         <table width="100%" bgcolor="white" border="0">
          <tr><td height="6"></td><td rowspan="8" width="5"></td><td></td></tr>
           <tr><td width="40" height="18" align="right"><img src="images/lock_closed.gif" width="12" height="13" border="0">&nbsp;<img src="images/lock_open.gif" width="12" height="13" border="0"></td>
          <td class="text_medium">i18n("Element is protected / accessible (change trough click)")<br></td></tr>
          <tr><td width="40" height="18" align="right"><img src="images/but_cat_conf.gif" width="16" height="16" border="0"></td>
          <td class="text_medium">i18n("Configure category")<br></td></tr>
          <tr><td width="40" height="18" align="right"><img src="images/isstart1.gif" width="18" height="16" border="0"><img src="images/isstart0.gif" width="18" height="16" border="0"></td>
          <td class="text_medium">i18n("Article is start article / is not start article")<br></td></tr>
          <tr><td width="40" height="18" align="right"> <img src="images/but_art_conf2.gif" border="0"></td>
          <td class="text_medium">i18n("Configure article properties")<br></td></tr>
         <tr><td width="40" height="18" align="right"><img src="images/online.gif" width="11" height="12" border="0">&nbsp;<img src="images/offline.gif" width="11" height="12" border="0"></td>
          <td class="text_medium">i18n("Element is online / offline (change trough click)")<br></td></tr>
          <tr><td width="40" height="18" align="right"> <img src="images/delete.gif" width="15" height="13" border="0"></td>
          <td class="text_medium">i18n("Delete article")<br></td></tr>
           <tr><td height="35" colspan="3"></td></tr>
        </table>
<a name="Kategorie">i18n("Category")</a><br>
           <table width="100%" bgcolor="white" border="0">
          <tr><td width="40" height="18" align="right"><img src="images/but_cat_conf.gif" width="16" height="16" border="0"></td>
          <td class="text_medium">i18n("Configure category")<br></td></tr>
          <tr><td width="40" height="18" align="right"><img src="images/but_rename.gif" width="23" height="14" border="0"></td>
          <td class="text_medium">i18n("Configure category")<br></td></tr>
          <tr><td width="40" height="18" align="right"><img src="images/folder_new.gif" border="0"></td>
          <td class="text_medium">i18n("Create category")<br></td></tr>
         <tr><td width="40" height="18" align="right"><img src="images/online.gif" width="11" height="12" border="0">&nbsp;<img src="images/offline.gif" width="11" height="12" border="0"></td>
          <td class="text_medium">i18n("Set category online / offline")<br></td></tr>
          <tr><td width="40" height="18" align="right"><img src="images/folder.gif" width="15" height="13" border="0">&nbsp;<img src="images/folder_locked.gif" width="15" height="13" border="0"></td>
          <td class="text_medium">i18n("Category is online and protected / unprotected")<br></td></tr>
            <tr><td width="40" height="18" align="right"><img src="images/folder_off.gif" width="15" height="13" border="0">&nbsp;<img src="images/folder_off_locked.gif" width="15" height="13" border="0"></td>
          <td class="text_medium">i18n("Category is offline and protected / unprotected")<br></td></tr>
            <tr><td width="40" height="18" align="right"><img src="images/folder_on_error.gif" width="15" height="13" border="0">&nbsp;<img src="images/folder_on_error_locked.gif" width="15" height="13" border="0"></td>
          <td class="text_medium">i18n("Category is online, contains an error and is protected / unprotected")<br></td></tr>
            <tr><td width="40" height="18" align="right"><img src="images/folder_off_error.gif" width="15" height="13" border="0">&nbsp;<img src="images/folder_off_error_locked.gif" width="15" height="13" border="0"></td>
          <td class="text_medium">i18n("Category is offline, contains an error and is protected / unprotected")<br></td></tr>
           <tr><td width="40" height="18" align="right"><img src="images/but_move_subtree.gif" width="16" height="16" border="0"></td>
          <td class="text_medium">i18n("Move category")<br></td></tr>
            <tr><td width="40" height="18" align="right"><img src="images/but_move_subtree_main.gif" width="16" height="16" border="0"></td>
          <td class="text_medium">i18n("Select move target")<br></td></tr>
            <tr><td width="40" height="18" align="right"><img src="images/delete.gif" width="14" height="13" border="0">&nbsp;<img src="images/delete_inact.gif" width="14" height="13" border="0"></td>
          <td class="text_medium">i18n("Delete / Delete not available")<br></td></tr>
          <tr><td height="35" colspan="2">&nbsp;</td></tr>
          </table>

<a name="Upload">i18n("File management")</a>
   <table width="100%" bgcolor="white" border="0">
           <tr><td width="40" height="18" align="right"><img src="images/ordner_oben.gif" border="0"></td>
          <td class="text_medium">i18n("Root upload folder")<br></td></tr>
           <tr><td width="40" height="18" align="right"><img src="images/ordner_normal.gif" border="0"></td>
          <td class="text_medium">i18n("Regular folder")<br></td></tr>          
           <tr><td height="10" colspan="3">&nbsp;</td></tr>
          </table>
              <tr><td  height="20" align="right"><a href="#top"><img src="images/pfeil_hoch.gif" width="15" height="9" border="0"></a></td></tr>
    </td> </tr>
  <tr>  <td class="text_medium" style="border: 0px; border-top:1px; border-color: #a9aec2; border-style: solid"><br>

<a name="Style"><b>i18n("Style")</b></a><br> <br>
<a name="Layouts">i18n("Layouts")</a><br>
        <table width="100%" bgcolor="white" border="0">
           <tr><td height="6"></td><td rowspan="3" width="5"></td><td></td></tr>
          <tr><td width="35" height="18" align="right"><img src="images/exclamation.gif" width="7" height="13" border="0"></td>
          <td class="text_medium">i18n("Layout in use")<br></td></tr>
           <tr><td width="35" height="18" align="right"><img src="images/delete.gif" width="14" height="13" border="0">&nbsp;<img src="images/delete_inact.gif" width="14" height="13" border="0"></td>
          <td class="text_medium">i18n("Delete / Delete not available")<br></td></tr>
            <tr><td height="35" colspan="3"></td></tr>
          </table>
<a name="Module">i18n("Modules")</a><br>
        <table width="100%" bgcolor="white" border="0">
          <tr><td height="6"></td><td rowspan="3" width="5"></td><td></td></tr>
          <tr><td width="35" height="18" align="right"><img src="images/exclamation.gif" width="7" height="13" border="0"></td>
          <td class="text_medium">i18n("Module in use")<br></td></tr>
           <tr><td width="35" height="18" align="right"><img src="images/delete.gif" width="14" height="13" border="0">&nbsp;<img src="images/delete_inact.gif" width="14" height="13" border="0"></td>
          <td class="text_medium">i18n("Delete / Delete not available")<br></td></tr>
            <tr><td height="35" colspan="3"></td></tr>
          </table>
<a name="Templates">i18n("Templates")</a><br>
         <table width="100%" bgcolor="white" border="0">
          <tr><td height="6"></td><td rowspan="3" width="5"></td><td></td></tr>
          <tr><td width="40" height="18" align="right"><img src="images/but_copy.gif" width="14" height="13" border="0"></td>
          <td class="text_medium">i18n("Duplicate template")<br></td></tr>
           <tr><td width="40" height="18" align="right"><img src="images/delete.gif" width="14" height="13" border="0">&nbsp;<img src="images/delete_inact.gif" width="14" height="13" border="0"></td>
          <td class="text_medium">i18n("Delete / Delete not available")<br></td></tr>
            <tr><td height="35" colspan="3"></td></tr>
          </table>
<a name="Styleeditor">i18n("Style editor")</a><br>
   <table width="100%" bgcolor="white" border="0">
          <tr><td height="6"></td><td rowspan="2" width="5"></td><td></td></tr>
           <tr><td width="40" height="18" align="right"><img src="images/delete.gif" width="14" height="13" border="0">&nbsp;<img src="images/delete_inact.gif" width="14" height="13" border="0"></td>
          <td class="text_medium">i18n("Delete / Delete not available")<br></td></tr>
            <tr><td height="35" colspan="3"></td></tr>
          </table>
<a name="Skripteditor">i18n("Script editor")</a><br>
         <table width="100%" bgcolor="white" border="0">
          <tr><td height="6"></td><td rowspan="2" width="5"></td><td></td></tr>
           <tr><td width="40" height="18" align="right"><img src="images/delete.gif" width="14" height="13" border="0">&nbsp;<img src="images/delete_inact.gif" width="14" height="13" border="0"></td>
          <td class="text_medium">i18n("Delete / Delete not available")<br></td></tr>
            <tr><td height="10" colspan="3"></td></tr>
          </table>
              <tr><td  height="20" align="right"><a href="#top"><img src="images/pfeil_hoch.gif" width="15" height="9" border="0"></a></td></tr>
    </td> </tr>
   <tr><td class="text_medium" style="border: 0px; border-top:1px; border-color: #a9aec2; border-style: solid"> <br>


<a name="Extras"><b>i18n("Extras")</b></a><br><br>
<a name="Mailings">i18n("Newsletter")</a><br>
        <table width="100%" bgcolor="white" border="0">
          <tr><td height="6"></td><td rowspan="3" width="5"></td><td></td></tr>
          <tr><td width="40" height="18" align="right"><img src="images/send.gif" width="11" height="11" border="0"></td>
          <td class="text_medium">i18n("Send newsletter")<br></td></tr>
           <tr><td width="40" height="18" align="right"><img src="images/delete.gif" width="14" height="13" border="0">&nbsp;<img src="images/delete_inact.gif" width="14" height="13" border="0"></td>
          <td class="text_medium">i18n("Delete / Delete not available")<br></td></tr>
            <tr><td height="35" colspan="3"></td></tr>
          </table>
<a name="Empf&auml;nger">Empf&auml;nger</a><br>
        <table width="100%" bgcolor="white" border="0">
          <tr><td height="6"></td><td rowspan="2" width="5"></td><td></td></tr>
           <tr><td width="40" height="18" align="right"><img src="images/delete.gif" width="14" height="13" border="0">&nbsp;<img src="images/delete_inact.gif" width="14" height="13" border="0"></td>
          <td class="text_medium">i18n("Delete / Delete not available")<br></td></tr>
            <tr><td height="10" colspan="3"></td></tr>
          </table>
                <tr><td  height="20" align="right"><a href="#top"><img src="images/pfeil_hoch.gif" width="15" height="9" border="0"></a></td></tr>
       </td> </tr>
   <tr>  <td class="text_medium" style="border: 0px; border-top:1px; border-color: #a9aec2; border-style: solid"><br>

<a name="Statistik"><b>i18n("Statistics")</b></a><br><br>
<a name="Zugriffe">i18n("Hits")</a><br>
        <table width="100%" bgcolor="white" border="0">
          <tr><td height="6"></td><td rowspan="2" width="5"></td><td></td></tr>
           <tr><td width="40" height="18" align="right"><img src="images/online.gif" width="11" height="12" border="0">&nbsp;<img src="images/offline.gif" width="11" height="12" border="0"></td>
           <td class="text_medium">i18n("Article is online / offline")<br></td></tr>
            <tr><td height="10" colspan="3"></td></tr>
          </table>
       <tr><td  height="20" align="right"><a href="#top"><img src="images/pfeil_hoch.gif" width="15" height="9" border="0"></a></td></tr>
       </td> </tr>

   <tr>  <td class="text_medium" style="border: 0px; border-top:1px; border-color: #a9aec2; border-style: solid"><br>


<a name="Administration"><b>i18n("Administration")</b></a><br><br>
<a name="Benutzer">i18n("Users")</a><br>
        <table width="100%" bgcolor="white" border="0">
          <tr><td height="6"></td><td rowspan="2" width="5"></td><td></td></tr>
           <tr><td width="40" height="18" align="right"><img src="images/delete.gif" width="14" height="13" border="0">&nbsp;<img src="images/delete_inact.gif" width="14" height="13" border="0"></td>
          <td class="text_medium">i18n("Delete / Delete not available")<br></td></tr>
            <tr><td height="35" colspan="3"></td></tr>
          </table>
<a name="Gruppen">i18n("Groups")</a><br>
        <table width="100%" bgcolor="white" border="0">
          <tr><td height="6"></td><td rowspan="2" width="5"></td><td></td></tr>
           <tr><td width="40" height="18" align="right"><img src="images/delete.gif" width="14" height="13" border="0">&nbsp;<img src="images/delete_inact.gif" width="14" height="13" border="0"></td>
          <td class="text_medium">i18n("Delete / Delete not available")<br></td></tr>
            <tr><td height="35" colspan="3"></td></tr>
          </table>          
<a name="Sprachen">i18n("Languages")</a><br>
 <table width="100%" bgcolor="white" border="0">
          <tr><td height="6"></td><td rowspan="3" width="5"></td><td></td></tr>
            <tr><td width="40" height="18" align="right"><img src="images/online.gif" width="11" height="12" border="0">&nbsp;<img src="images/offline.gif" width="11" height="12" border="0"></td>
          <td class="text_medium">i18n("Language active / not active")<br></td></tr>
           <tr><td width="40" height="18" align="right"><img src="images/delete.gif" width="14" height="13" border="0">&nbsp;<img src="images/delete_inact.gif" width="14" height="13" border="0"></td>
          <td class="text_medium">i18n("Delete / Delete not available")<br></td></tr>
            <tr><td height="35" colspan="3"></td></tr>
          </table>
<a name="Mandanten">i18n("Clients")</a><br>
   <table width="100%" bgcolor="white" border="0">
          <tr><td height="6"></td><td rowspan="2" width="5"></td><td></td></tr>
           <tr><td width="40" height="18" align="right"><img src="images/delete.gif" width="14" height="13" border="0">&nbsp;<img src="images/delete_inact.gif" width="14" height="13" border="0"></td>
          <td class="text_medium">i18n("Delete / Delete not available")<br></td></tr>
            <tr><td height="10" colspan="3"></td></tr>
          </table>
</td> </tr>
    <tr><td  height="20" align="right"><a href="#top"><img src="images/pfeil_hoch.gif" width="15" height="9" border="0"></a></td></tr>

 <tr>  <td class="text_medium" style="border: 0px; border-top:1px; border-color: #a9aec2; border-style: solid"><br>
     </td>
 </tr>
 </table>
</body>
</html>