<!-- subnav template -->
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles/contenido.css" />
</head>
<body>

<table cellspacing="0" cellpadding="0" border="0" width="100%">

    <tr style="background-color: #C6C6D5; height: 18px">
       
        <script type="text/javascript">
       
            if (parent.frames.length > 2)
            {
                document.writeln('<td><img id="toggleimage" onclick="parent.frameResize.toggle()" src="images/spacer.gif" width="50" height="18" border="0"></td>');
            } 
            else
            {
                document.writeln('<td><img src="images/spacer.gif" width="50" height="18" border="0"></td');
            }
           
        </script>   
       
    </tr>

    <tr style="background-color: #747488; height: 1px">
        <td><img src="images/spacer.gif" width="1" height="1"></td>
    </tr>

</table>

<script type="text/javascript">
   
    if (parent.frames.length > 2)
    {
        parent.frameResize.init();   
    } 

</script>

</body>
</html> 