<html>
	<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles/contenido.css" />
</head>
<body style="margin: 10px">

<span class="text_medium">{WELCOME}</span>
<p></p><br>

<table cellspacing="0" cellpadding="2" border="0" width="100%">

      <tr class="text_medium">
        <td valign="top" align="center" width="80" ><img src="images/wahl.gif" width="50" heigth="50"></td>
        <td valign="top" width="40%"><b>i18n("Available clients"):</b><br>
      <table cellspacing="0" cellpadding="0" border="0">
      <tr><td align="right" class="text_medium"></td><td>
      {CLIENTFORM}
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td valign="middle" class="text_medium">
                    {PULL_DOWN_MANDANTEN}
                </td>
                <td valign="middle">
                   <img src="images/spacer.gif" height="1"><br>
                   <img src="images/spacer.gif" width="5">{OKBUTTON} 
                </td>
            </tr>
         </table>
      </form>


      </td></tr>
      </table>  </td>
      <td width="5%">&nbsp;</td>
     <td valign="top" align="center" ><img src="images/my.gif" width="50" heigth="50"></td>
      <td valign="top" width="40%" ><b>My Contenido</b><br>{MYCONTENIDO_LASTARTICLES}<br>{MYCONTENIDO_SETTINGS}</td>
      <td width="5%">&nbsp;</td></tr>
        
      <tr class="text_medium" style="border: 0px; border-bottom:1px; border-color: #a9aec2; border-style: solid">
        <td colspan="2" style="border: 0px; border-bottom:1px; border-color: #a9aec2; border-style: solid"><img src="images/spacer.gif" height="5"></td>
        <td colspan="1">&nbsp;</td>
        <td colspan="2" style="border: 0px; border-bottom:1px; border-color: #a9aec2; border-style: solid"><img src="images/spacer.gif" height="5"></td>
        <td colspan="1">&nbsp;</td>
      </tr>

        <tr class="text_medium" >
         <td colspan="6"><img src="images/spacer.gif" height="5"></td>
      </tr>
      <tr class="text_medium"><td valign="top" align="center" width="80" ><img src="images/hilfeg.gif" width="50" heigth="50"></td>
      <td valign="top"><b>i18n("Help about Contenido")</b><br>{SYMBOLHELP}<br><!--{CONTENIDOMANUAL}--></td>
      <td>&nbsp;</td>


     <td valign="top" align="center" width="80" ><img src="images/kontakt.gif" width="50" heigth="50"></td>
      <td valign="top"><b>i18n("Contact System Administrators"):</b><br>{MAIL_ADMIN}<br><br><b>i18n("Contact Client Administrators")</b>:<br>{MAIL_CLIENT}</td>
      <td>&nbsp;</td>
      
      </tr>


</table>

</body>
</html>
