<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles/contenido.css" />
    <script type="text/javascript" src="scripts/messageBox.js.php?contenido={SID}"></script>
    <script type="text/javascript" src="scripts/rowMark.js"></script>
    <script type="text/javascript">

        window.onerror = foo;
        function foo(){return true;}

        /* Session-ID */
        var sid = "{SID}";

        /* Create messageBox
           instance */
        box = new messageBox("", "", "", 0, 0);

        /* Function for deleting
           modules */

        function deleteLayout(idlay) {

            url  = 'main.php?area=lay';
            url += '&action=lay_delete';
            url += '&frame=2';
            url += '&idlay=' + idlay;
            url += '&contenido=' + sid;
            
            window.location.href = url;

        }

    </script>
    </script>
</head>
<body bgcolor="#FFFFFF">

<table width="100%" cellspacing="0" cellpadding="2" border="0">

    <!-- BEGIN:BLOCK -->
    <tr id="{ID}" bgcolor="{BGCOLOR}" onmouseover="lay.over(this)" onmouseout="lay.out(this)" onclick="lay.click(this)">
        <td class="textw_small">&nbsp;{NAME}</td>
        <td align="right">{INUSE}&nbsp;{DELETE}&nbsp;</td>
    </tr>
    <!-- END:BLOCK -->

</table>

<script language="javascript">

    reMark(parent.frames["left_top"].obj);

</script>

</body>
