{FORM}
<table id="{ID}" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0">
    {HEADER}
    <!-- BEGIN:BLOCK -->
    <tr id="{ROWNAME}" class="text_medium" style="background-color: {BGCOLOR};">
        <td nowrap="nowrap" valign="top" style="border: 0px; border-top:1px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;padding-left:{PADDING_LEFT}px">{CATNAME}</td>
        <td nowrap="nowrap" valign="top" style="border: 0px; border-top:1px; border-right:1px; border-color: {BORDERCOLOR}; border-style: solid;" align="left">{CATFIELD}</td>
    </tr>
    <!-- END:BLOCK -->
    <tr id="{ROWNAME}" class="text_medium" style="background-color: {BGCOLOR};">
        <td nowrap="nowrap" valign="top" style="border: 0px; border-top:1px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;padding-left:{PADDING_LEFT}px">&nbsp;</td>
        <td nowrap="nowrap" valign="top" style="border: 0px; border-top:1px; border-right:1px; border-color: {BORDERCOLOR}; border-style: solid;" align="right">{CANCELLINK}&nbsp;&nbsp;&nbsp;&nbsp;<INPUT type="image" src="{CONTENIDOPATH}images/but_ok.gif" alt="{SUBMITTEXT}" title="{SUBMITTEXT}" border="0"></td>
    </tr>
</table>
</form>