<html>
<head>
    <title></title>
    <script type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="styles/contenido.css">
</head>
<body style="margin: 10px">

<form name="tplcfgform" action="{FORMACTION}" method="post">

{HIDDEN}

<table cellspacing="0" cellpadding="2" border="0">

    <tr style="background-color: #a9aec2">
        <td class="textw_medium" style="border: 1px;border-color: #747488; border-style: solid">{TEMPLATECAPTION}</td>
        <td class="text_medium" style="font-weight:bold; border: 1px; border-left:0px;border-color: #747488; background-color: #E8E8EE; border-style: solid">{TEMPLATESELECTBOX}</td>
    </tr>

    <tr>
        <td colspan="2"><img src="images/spacer.gif" width="1" height="10"></td>
    </tr>

    <!-- BEGIN:BLOCK -->
    <tr><td colspan="2"><img src="images/spacer.gif" width="1" height="10"></td></tr>
    <tr style="background-color: #a9aec2">
        <td class="textw_medium" style="border: 1px;border-color: #747488; border-style: solid">{MODULECAPTION}</td>
        <td class="text_medium" style="font-weight:bold; border: 1px; border-left:0px;border-color: #747488; background-color: #E8E8EE; border-style: solid">{MODULENAME}</td>
    </tr>

    <tr>
        <td class="text_medium" colspan="2" style="border: 1px; border-top:0px; border-color: #747488; border-style: solid; background-color: #F4F4F7">
        {MODULECODE}
        </td>
    </tr>
    <!-- END:BLOCK -->

    <tr>
        <td colspan="2"><img src="images/spacer.gif" width="1" height="10"></td>
    </tr>

    <tr>
        <td colspan="2" align="right">
            {BUTTONS}
        </td>
    </tr>

</table>

</form>

<script type="text/javascript">
{SCRIPT}
</script>

{MARKSUBMENU}

</body>
</html>
