<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles/contenido.css" />
    <script type="text/javascript">

        parent.frames['left_bottom'].location.reload();

    </script>
</head>
<body style="margin: 10px">

<form method="post" name="styleeditorform" action="{ACTION}">

<table cellspacing="0" cellpadding="2" border="0">

    <input type="hidden" name="file" value="{FILENAME}" />

    <tr style="font-weight:bold; background-color: #a9aec2">
        <td class="textw_medium" style="border: 1px;border-color: #747488; border-style: solid">Name:</td>
    </tr>

    <tr>
        <td style="border: 1px; border-top:0px; border-color: #747488; border-style: solid; background-color: #F4F4F7" class="text_medium"><input type="text" name="file"></td>
    </tr>

    <tr><td><img src="images/spacer.gif" width="1" height="10"></td></tr>

    <tr style="font-weight:bold; background-color: #a9aec2">
        <td class="textw_medium" style="border: 1px;border-color: #747488; border-style: solid">Code:</td>
    </tr>

    <tr>
        <td style="border: 1px; border-top:0px; border-color: #747488; border-style: solid; background-color: #F4F4F7"><textarea name="code" class="text_medium" style="border: 1px; border-style: solid; border-color:#747488; background: #FFFFFF" cols="80" rows="20">{CODE}</textarea></td>
    </tr>

    <tr><td><img src="images/spacer.gif" width="1" height="10"></td></tr>

    <tr>
        <td align="right"><input accesskey="s" type="image" src="images/but_ok.gif"></td>
    </tr>

</form>

</body>
</html>
