<html>
<head>
    <title></title>
    <script type="text/javascript" src="scripts/rowMark.js"></script>
    <script type="text/javascript" src="scripts/infoBox.js"></script>

    <link rel="stylesheet" type="text/css" href="styles/contenido.css" />
</head>
<body style="margin:10px">


{FORM}
<table id="optionselect" style="border:0px; border-top:1px; border-right: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0">
    <tr class="textw_medium" style="background-color: {HEADERBGCOLOR};" >
        <td valign="top" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0">i18n("Filter")</td>
        <td valign="top" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0">i18n("Value")</td>
    </tr>
    <tr class="text_medium" style="background-color: {SELECTBBGCOLOR};" >
        <td valign="top" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0">i18n("Client"):</td>
        <td valign="top" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0"><select name="idqclient" class="text_medium" >{CLIENTS}</select></td>
    </tr>
    <tr class="text_medium" style="background-color: {SELECTBGCOLOR};" >
        <td valign="top" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0">i18n("User"):</td>
        <td valign="top" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0"><select name="idquser" class="text_medium" >{USERS}</select></td>
    </tr>
    <tr class="text_medium" style="background-color: {SELECTBBGCOLOR};" >
        <td valign="top" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0">i18n("Action"):</td>
        <td valign="top" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0"><select name="idqaction" class="text_medium" >{ACTION}</select></td>
    </tr>
    <tr class="text_medium" style="background-color: {SELECTBGCOLOR};" >
        <td valign="top" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0">i18n("Start date"):</td>
        <td valign="top" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0"><select class="text_medium" name="fromday">{FROMDAY}</select><select class="text_medium"  name="frommonth">{FROMMONTH}</select><select name="fromyear" class="text_medium" >{FROMYEAR}</select></td>
     </tr>
      <tr class="text_medium" style="background-color: {SELECTBBGCOLOR};" >
        <td valign="top" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0">i18n("End date"):</td>
        <td valign="top" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0"><select name="today" class="text_medium" >{TODAY}</select><select class="text_medium"  name="tomonth">{TOMONTH}</select><select class="text_medium"  name="toyear">{TOYEAR}</select></td>
     </tr>
     <tr class="text_medium" style="background-color: {SELECTBGCOLOR};" >
        <td valign="top" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0">i18n("Limit"):</td>
        <td valign="top" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0"><select name="limit" class="text_medium" >{LIMIT}</select></td>
    </tr>
    <tr id="{ROWNAME}" class="text_medium" style="background-color: #FFFFFF;" >
        <td valign="top" style="border: 0px; border-left:1px; border-bottom:1px; border-color: {BORDERCOLOR}; border-style: solid;" align="right" colspan="5"><INPUT type="image" src="images/but_ok.gif" alt="{SUBMITTEXT}" title="{SUBMITTEXT}" border="0"></td>
    </tr>
</table>
<br>
<table id="results" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0">
    <tr id="{ROWNAME}" class="textw_medium" style="background-color: {RHEADERBGCOLOR};" >
		<td valign="top" style="border: 0px; border-top:1px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;">i18n("Client")</td>
        <td valign="top" style="border: 0px; border-top:1px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;">i18n("Date")</td>
        <td valign="top" style="border: 0px; border-top:1px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;">i18n("User")</td>
        <td valign="top" style="border: 0px; border-top:1px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;">i18n("Action")</td>
        <td valign="top" style="border: 0px; border-top:1px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;">i18n("Category")</td>
        <td valign="top" style="border: 0px; border-top:1px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;">i18n("Article")</td>
    </tr>
    <!-- BEGIN:BLOCK -->
    <tr id="{ROWNAME}" class="text_medium" style="background-color: {RBGCOLOR};" >
		<td valign="top" style="border: 0px; border-top:1px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;">{RCLIENT}</td>
        <td valign="top" style="border: 0px; border-top:1px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;">{RDATETIME}</td>
        <td valign="top" style="border: 0px; border-top:1px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;">{RUSER}</td>
        <td valign="top" style="border: 0px; border-top:1px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;">{RACTION}</td>
        <td valign="top" style="border: 0px; border-top:1px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;">{RSTR}</td>
        <td valign="top" style="border: 0px; border-top:1px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;">{RPAGE}</td>
    </tr>
    <!-- END:BLOCK -->
    {NORESULTS}
    
</table>
</form>
</body>
</html>
