<html>
<head>
    <title></title>
    <script type="text/javascript" src="scripts/rowMark.js"></script>
    <script type="text/javascript" src="scripts/infoBox.js"></script>
    <script type="text/javascript">

        parent.frames['left_bottom'].location.reload();

    </script>
    <link rel="stylesheet" type="text/css" href="styles/contenido.css" />
</head>
<body style="margin:10px">


{FORM}
<table id="stats" style="border:0px; border-left:1px; border-bottom: 1px;border-color: {BORDERCOLOR}; border-style: solid;" cellspacing="0" cellpadding="2" border="0">
    <!-- BEGIN:BLOCK -->
    <tr id="{ROWNAME}" class="{CLASS}" style="background-color: {BGCOLOR};" >
        <td valign="top" style="border: 0px; border-top:1px; border-right:1px;border-color: {BORDERCOLOR}; border-style: solid;padding-left:{PADDING_LEFT}px">{CATNAME}</td>
        <td valign="top" style="border: 0px; border-top:1px; border-right:1px; border-color: {BORDERCOLOR}; border-style: solid;" align="left">{CATFIELD}</td>
    </tr>
    <!-- END:BLOCK -->
</table>
</form>
</body>
</html>
