/* CCSTheme v 3.x */
/* General */

/* BEGIN Common */
body { 
	font-family: Verdana; font-size: 70%;
	background-image: url('Images/PageBg.gif');
	}

p { 
	margin-top: 5px; 
	}

a:link { 
	color: #000070;
	}

a:visited { 
	color: #5588bd;
	}

a:hover,a:active { 
	color: #b33939;
	}

ul, ol, blockquote { 
	margin-top: 5px; 
	margin-bottom: 10px; 
	margin-left: 20px 
	}

form {
	margin: 0px;
	}

h1	{
	font-size: 80%;
	margin-top: 5px; 
	margin-bottom: 5px;
	}

h2	{ 
	font-size: 80%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h3	{ 
	font-size: 80%; font-style: italic;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h4	{ 
	font-size: 80%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h5	{ 
	font-size: 80%; font-style: italic;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

h6	{ 
	font-size: 80%;
	margin-top: 15px; 
	margin-bottom: 5px; 
	}

th	{ 
	font-family: Verdana; font-size: 70%;
	}

td { 
	font-family: Verdana; font-size: 70%;
	}

/* END Common */

.Header {
	width: 100%;
	}

.Header th { 
	font-size: 70%; text-align: left;
	padding: 1px;
	background-image: url('Images/HeaderBg.gif'); color: #f4f4f4;
	width: 100%;
	white-space: nowrap;
	}

.Header a:link { 
	color: #f4f4f4;
	}

.Header a:visited { 
	color: #f4f4f4;
	}

.Header a:hover, .Caption a:active { 
	color: #d6d6d6;
	}

.HeaderLeft { 
	background-image: url('Images/HeaderLeft.gif');
	}

.HeaderRight { 
	background-image: url('Images/HeaderRight.gif');
	}

.HeaderLeft img{
	width: 3px;
	}

.HeaderRight img{
	width: 9px;
	}


/* Grid Options */
.Grid { 
	
	width: 100%;
	}

.Caption th { 
	font-size: 70%; text-align: left; vertical-align: top;
	padding: 1px;
	border-bottom: solid 1px #3573b3;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
	}

.Caption td { 
	font-size: 70%; text-align: left; vertical-align: top;
	padding: 1px;
	border-bottom: solid 1px #3573b3;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	white-space: nowrap;
	}

.Caption a:link { 
	color: #000000;
	}

.Caption a:visited { 
	color: #000000;
	}

.Caption a:hover, .Caption a:active { 
	color: #b33939;
	}

.Caption img {
	margin: 2px; 
	vertical-align: middle;
	}

.Caption input {
	vertical-align: middle;
	}

.Row th { 
	font-size: 70%; font-weight: normal; text-align: left;
	padding: 1px;
	border-bottom: dashed 1px #3573b3;
	background-color: #ededed; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.Row td { 
	font-size: 70%;
	padding: 1px;
	border-bottom: dashed 1px #3573b3;
	vertical-align: top;
	background-color: #ededed; 
	color: #000000;
	}

.Row a:link { 
	color: #000070;
	}

.Row a:visited { 
	color: #5588bd;
	}

.Row a:hover, .Row a:active { 
	color: #b33939;
	}

.Separator{
	color: #3573b3;
	}

.Separator td{
	height: 1px;
	}


.AltRow th { 
	font-size: 70%; font-weight: normal; text-align: left;
	padding: 1px;
	border-bottom: dashed 1px #3573b3;
	background-color: #ededed; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.AltRow td { 
	font-size: 70%;
	padding: 1px;
	border-bottom: dashed 1px #3573b3;
	vertical-align: top;
	background-color: #e1e8ee; 
	color: #000000;
	}

.AltRow a:link { 
	color: #000070;
	}

.AltRow a:visited { 
	color: #5588bd;
	}

.AltRow a:hover, .AltRow a:active { 
	color: #b33939;
	}

.NoRecords td { 
	font-size: 70%;
	padding: 1px;
	border-bottom: solid 1px #3573b3;
	background-color: #ededed; 
	color: #000000;
	vertical-align: top;
	}

.Footer td { 
	font-size: 70%;
	padding: 1px;
	border-bottom: solid 1px #3573b3;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}

.Footer a:link { 
	color: #000000;
	}

.Footer a:visited { 
	color: #000000;
	}

.Footer a:hover, .Footer a:active { 
	color: #b33939;
	}

.Footer img {
	margin: 2px; 
	vertical-align: middle;
	}

.Footer input {
	vertical-align: middle;
	}

/* Record Options */
.Record { 
	
	width: 100%;
	}

.Error td { 
	font-size: 70%;
	padding: 1px;
	border-bottom: solid 1px #3573b3;
	color: #FF0000;
	vertical-align: top;
	background-color: #ededed; 
	}

.Controls th { 
	font-size: 70%; font-weight: normal; text-align: left;
	padding: 1px;
	border-bottom: dashed 1px #3573b3;
	background-color: #ededed; color: #000000;
	white-space: nowrap;
	color: #000000;
	}

.Controls td { 
	font-size: 70%;
	padding: 1px;
	border-bottom: dashed 1px #3573b3;
	white-space: nowrap;
	background-color: #ededed; 
	color: #000000;
	}

.Bottom td { 
	font-size: 70%;
	padding: 1px;
	border-bottom: solid 1px #3573b3;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}

.Bottom a:link { 
	color: #000000;
	}

.Bottom a:visited { 
	color: #000000;
	}

.Bottom a:hover, .Caption a:active { 
	color: #b33939;
	}

.Bottom img {
	margin: 2px;
	vertical-align: middle; 
	}

.Bottom input {
	vertical-align: middle;
	}

/* Report */
.GroupCaption th{
	font-size: 70%;
	padding: 1px;
	border-bottom: dashed 1px #3573b3;
	white-space: nowrap;
	text-align: left; 
	vertical-align: top;
	font-weight: bold;
	background-color: #e1e8ee; 
	color: #000000;
	}

.GroupCaption td{
	font-size: 70%;
	padding: 1px;
	border-bottom: dashed 1px #3573b3;
	vertical-align: top;
	font-weight: bold;
	background-color: #ededed; 
	color: #000000;
	}

.GroupCaption a:link {
	color: #000000;
	}

.GroupCaption a:visited{
	color: #000000;
	}

.GroupCaption a:hover, .GroupCaption a:active{
	color: #b33939;
	}

.GroupFooter td{
	font-size: 70%;
	padding: 1px;
	border-bottom: solid 1px #3573b3;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: #d6d6d6; 
	color: #000000;
	}

.GroupFooter a:link {
	color: #000000;
	}

.GroupFooter a:visited{
	color: #000000;
	}

.GroupFooter a:hover,.GroupFooter a:active{
	color: #b33939;
	}

.GroupFooter img {
	margin: 2px; 
	vertical-align: middle;
	}

.GroupFooter input {
	vertical-align: middle;
	}

.SubTotal td{
	font-size: 70%;
	padding: 1px;
	border-bottom: dashed 1px #3573b3;
	vertical-align: top;
	font-weight: bold;
	background-color: #e1e8ee; 
	color: #000000;
	border-bottom: 2px solid #3573b3;
	}

.SubTotal a:link {
	color: #000070;
	}

.SubTotal a:visited{
	color: #5588bd;
	}

.SubTotal a:hover, .SubTotal a:active{
	color: #b33939;
	}

.Total td{
	font-size: 70%;
	padding: 1px;
	border-bottom: dashed 1px #3573b3;
	vertical-align: top;
	white-space: nowrap;
	font-weight: bold;
	background-color: #e1e8ee; 
	color: #000000;
	}

.Total a:link {
	color: #000070;
	}

.Total a:visited{
	color: #5588bd;
	}

.Total a:hover, .Total a:active{
	color: #b33939;
	}

/* Form Options */
.Button { 
	margin: 2px
	}

/* Calendar */

.Calendar { 
	
	width: 100%;
	}

.CalendarWeekdayName{
	font-size: 70%;
	padding: 1px;
	border-bottom: solid 1px #3573b3;
	text-align: center; 
	vertical-align: top;
	white-space: nowrap;
	background-color: #e1e8ee; 
	color: #000000;
	}

.CalendarWeekdayName a:link {
	color: #000070;
	}

.CalendarWeekdayName a:visited{
	color: #5588bd;
	}

.CalendarWeekdayName a:hover, .CalendarWeekdayName a:active{
	color: #b33939;
	}

.CalendarWeekendName{
	font-size: 70%;
	padding: 1px;
	border-bottom: solid 1px #3573b3;
	white-space: nowrap;
	text-align: center; 
	vertical-align: top;
	background-color: #e1e8ee;	
	color: #000000;
	}

.CalendarWeekendName a:link {
	color: #000000;
	}

.CalendarWeekendName a:visited{
	color: #000000;
	}

.CalendarWeekendName a:link, .CalendarWeekendName a:visited{
	color: #b33939;
	}

/* Calendar Day */
.CalendarDay{
	font-size: 70%;
	padding: 1px;
	border-bottom: dashed 1px #3573b3;
	text-align: center;
	background-color: #ededed;	
	color: #000000;
	}

.CalendarDay a:link {
	color: #000070;
	}

.CalendarDay a:visited{
	color: #5588bd;
	}

.CalendarDay a:hover, .CalendarDay a:active{
	color: #b33939;
	}

/* Calendar Weekend */
.CalendarWeekend{
	font-size: 70%;
	padding: 1px;
	border-bottom: dashed 1px #3573b3;
	text-align: center;
	background-color: #e1e8ee;	
	color: #000000;
	}

.CalendarWeekend a:link {
	color: #000070;
	}

.CalendarWeekend a:visited{
	color: #5588bd;
	}

.CalendarWeekend a:hover, .CalendarWeekend a:active{
	color: #b33939;
	}

/* Calendar Today */
.CalendarToday {
	font-size: 70%;
	border: 2px solid #3573b3;
	text-align: center;
	background-color: #ededed;	
	color: #000000;
	}

.CalendarToday a:link {
	color: #000070;
	}

.CalendarToday a:visited{
	color: #5588bd;
	}

.CalendarToday a:hover, .CalendarToday a:active {
	color: #b33939;
	}

/* Calendar Weekend Today */
.CalendarWeekendToday {
	font-size: 70%;
	border: 2px solid #3573b3;
	text-align: center;
	background-color: #e1e8ee;	
	color: #000000;
	}

.CalendarWeekendToday a:link {
	color: #000070;
	}

.CalendarWeekendToday a:visited{
	color: #5588bd;
	}

.CalendarWeekendToday a:hover, .CalendarWeekendToday a:active{
	color: #b33939;
	}

/* Calendar Other Month's Day */
.CalendarOtherMonthDay{
	font-size: 70%;
	padding: 1px;
	border-bottom: dashed 1px #3573b3;
	text-align: center;
	background-color: #ededed;	
	color: #3573b3;
	}

.CalendarOtherMonthDay a:link {
	color: #3573b3;
	}

.CalendarOtherMonthDay a:visited{
	color: #3573b3;
	}

.CalendarOtherMonthDay a:hover, .CalendarOtherMonthDay a:active{
	color: #b33939;
	}

/* Calendar Other Month's Today */
.CalendarOtherMonthToday {
	font-size: 70%;
	border: 2px solid #3573b3;
	text-align: center;
	background-color: #ededed;	
	color: #3573b3;
	}

.CalendarOtherMonthToday a:link {
	color: #3573b3;
	}

.CalendarOtherMonthToday a:visited{
	color: #3573b3;
	}

.CalendarOtherMonthToday a:hover,.CalendarOtherMonthToday a:active{
	color: #b33939;
	}

/* Calendar Other Month's Weekend */
.CalendarOtherMonthWeekend {
	font-size: 70%;
	padding: 1px;
	border-bottom: dashed 1px #3573b3;
	text-align: center;
	background-color: #e1e8ee;	
	color: #3573b3;
	}

.CalendarOtherMonthWeekend a:link {
	color: #3573b3;
	}

.CalendarOtherMonthWeekend a:visited{
	color: #3573b3;
	}

.CalendarOtherMonthWeekend a:hover, .CalendarOtherMonthWeekend a:active{
	color: #b33939;
	}

/* Calendar Other Month's Weekend Today */
.CalendarOtherMonthWeekendToday {
	font-size: 70%;
	border: 2px solid #3573b3;
	text-align: center;
	color: #3573b3;
	background-color: #e1e8ee;	
	}

.CalendarOtherMonthWeekendToday a:link {
	color: #3573b3;
	}

.CalendarOtherMonthWeekendToday a:visited{
	color: #3573b3;
	}

.CalendarOtherMonthWeekendToday a:hover, .CalendarOtherMonthWeekendToday a:active{
	color: #b33939;
	}

/* Calendar Selected Day (for DatePicker) */
.CalendarSelectedDay{
	font-size: 70%;
	padding: 1px;
	border-bottom: dashed 1px #3573b3;
	background-color: #d6d6d6;
	color: #000000;
	text-align: center;
	font-weight: bold;
	}

.CalendarSelectedDay a:link {
	color: #000000;
	}

.CalendarSelectedDay a:visited{
	color: #000000;
	}

.CalendarSelectedDay a:hover, .CalendarSelectedDay a:active{
	color: #b33939;
	}

/* Calendar Navigator */
.CalendarNavigator {
	font-size: 70%;
	padding: 1px;
	background-image: url('Images/CaptionBg.gif'); color: #000000;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #000000;
	}

.CalendarNavigator a:link {
	color: #000070;
	}

.CalendarNavigator a:visited{
	color: #5588bd;
	}

.CalendarNavigator a:hover, .CalendarNavigator a:active{
	color: #b33939;
	}

.CalendarNavigator img{
	margin: 2px;
	vertical-align: middle; 	
	}

/* Calendar Extra */
.CalendarEvent{
	font-size: 80%;
	text-align: left;
	}

.CalendarEvent a:link {
	color: #000070;
	}

.CalendarEvent a:visited{
	color: #5588bd;
	}

.CalendarEvent a:hover, .CalendarEvent a:active{
	color: #b33939;
	}
