<table width="100%">
 <tr>
  <td>
   <table width="100%">
    <tr>
     <td><h3>##LNG['_PAGE_TITLE']##</h3></td>
     <td nowrap width="1%" valign="top" align="right">##ADM_PATH##</td>
    </tr>
   </table>
  </td>
 </tr>
 <tr>
  <td width="100%" valign="top" align="right">

   <table width="500" border="0" cellpadding="5" align="center">
    <tr> 
     <td>
      <form method="post" action="##URL_MOD_NAME##&amp;action=nl_log">
      <input type="hidden" name="chk_id[]" value="##id##" />
      <table class="txt12" width="100%" border="0" cellspacing="1" cellpadding="3" bgcolor="#999999" align="center">
       <tr class="row##[row-1-2]##">
        <td width="100"><b>##LNG['_TBL_NLLOG_MLNAME']##</b></td>
        <td colspan="2">##name##</td>
       </tr>
       <tr class="row##[row-1-2]##">
        <td width="100"><b>##LNG['_TBL_NLLOG_DATE']##</b></td>
        <td>##date##</td>
       </tr>
       <tr class="row##[row-1-2]##">
        <td width="100"><b>##LNG['_TBL_NLLOG_AMOUNT']##</b></td>
        <td>##amount##</td>
       </tr>
       <tr class="row##[row-1-2]##">
        <td width="100"><b>##LNG['_TBL_NLLOG_SUBJECT']##</b></td>
        <td>##subj##</td>
       </tr>
       <tr class="row##[row-1-2]##">
        <td width="100"><b>##LNG['_TBL_NLLOG_HTML']##</b> ?</td>
        <td>##is_html##</td>
       </tr>
       <tr class="row##[row-1-2]##">
        <td><b>##LNG['_TBL_NLLOG_CONTENT']##</b></td>
        <td>##content##</td>
       </tr>
       <tr class="row##[row-1-2]##">
        <td>&nbsp;</td>
        <td>
         <input type="submit" name="submdel" value="##LNG['_BTN_DELETE']##" onclick="return(confirm('##LNG['_TBL_NLLOG_DELETE']## ?'))" />
         <input type="button" value="##LNG['_TBL_NLLOG_SUBM_CLIKE']##" onclick="GoURL('##URL_MOD_NAME##&amp;action=nl_add&amp;likeid=##id##&amp;mlist_id=##list_id##')" />
        </td>
       </tr>
      </table>
      </form>
     </td>
    </tr>
   </table>

  </td>
 </tr>
</table>
