<html>
<head>
<title>%%%SITE_TITLE%%% : Send A Postcard</title>
<body bgcolor="#ffffff">
<center>
  <table border=0 width=600 cellspacing=0 cellpadding=4>
    <tr> 
      <td> <br>
        <table border="0" width="100%" cellspacing=0 cellpadding=0 bgcolor="#000000">
          <tr> 
            <td> 
              <table border="0" width="100%" cellspacing="1" cellpadding=0>
                <tr bgcolor="#eeeeee"> 
                  <td align=center nowrap valign=bottom background="%%%IFIMAGES%%%/topback.gif"> 
                    <table border=0 cellspacing=0 cellpadding=0 width="100%">
                      <tr> 
                        <td align=center><img src="%%%IFIMAGES%%%/topimage.gif" alt="" border=0 hspace=0 vspace=0></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr bgcolor="#000000"> 
                  <td> 
                    <table border="0" width="100%" cellspacing=0 cellpadding=4>
                      <tr> 
                        <td><font face="Arial,Helvetica" size="+1" color="#FFCC00"><b>Send 
                          A Postcard!</b></font></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr bgcolor="#ffffff"> 
                  <td valign=top align=center><br>
                    %%%IMAGE%%% 
                    <form method=post action="%%%ECARD_URL%%%">
                      <input type=hidden name="action" value="preview">
                      <input type=hidden name="cardurl" value="%%%IMAGE_URL%%%">
                      <input type=hidden name="cardcaption" value="%%%CAPTION%%%">
                      <input type=hidden name="cardid" value="%%%IMAGE_NAME%%%">
                      <input type=hidden name="link" value="%%%LINK%%%">
                      <input type=hidden name="tt" value="%%%TT%%%">
                      <input type=hidden name="returnurl" value="%%%RETURN_URL%%%">
                      <table border=0 cellpadding=3 cellspacing=10 width="100%">
                        <tr> 
                          <td colspan=2><font face="Verdana,Arial,Helvetica" size=2><b>%%%CAPTION%%%</b></font></td>
                        </tr>
                        <tr bgcolor="#ffcc00"> 
                          <td width="50%"><font face="Verdana,Arial,Helvetica" size=2><b>1. 
                            Select a background color</b></font></td>
                          <td width="50%"><font face="Verdana,Arial,Helvetica" size=2><b>2. 
                            Select a border color</b></font></td>
                        </tr>
                        <tr> 
                          <td valign=top>
                            <table border=1 cellspacing=5>
                              <tr> 
                                <td bgcolor="#ffffff" align=center>&nbsp;</td>
                                <td bgcolor="#ffcc00" align=center>&nbsp;</td>
                                <td bgcolor="#FF9900" align=center>&nbsp;</td>
                                <td bgcolor="#FF9999" align=center>&nbsp;</td>
                                <td bgcolor="#CCCC00" align=center>&nbsp;</td>
                                <td bgcolor="#99CC00" align=center>&nbsp;</td>
                                <td bgcolor="#66CCCC" align=center>&nbsp;</td>
                                <td bgcolor="#CCCCFF" align=center>&nbsp;</td>
                              </tr>
                              <tr> 
                                <td align=center>
                                  <INPUT TYPE="radio" checked NAME="cardbgcolor" value="#ffffff">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardbgcolor" value="#ffcc00">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardbgcolor" value="#FF9900">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardbgcolor" value="#FF9999">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardbgcolor" value="#CCCC00">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardbgcolor" value="#99CC00">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardbgcolor" value="#66CCCC">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardbgcolor" value="#CCCCFF">
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td valign=top>
                            <table border=1 cellspacing=5>
                              <tr> 
                                <td bgcolor="#000000" align=center>&nbsp;</td>
                                <td bgcolor="#666666" align=center>&nbsp;</td>
                                <td bgcolor="#003366" align=center>&nbsp;</td>
                                <td bgcolor="#660099" align=center>&nbsp;</td>
                                <td bgcolor="#FF0000" align=center>&nbsp;</td>
                                <td bgcolor="#006600" align=center>&nbsp;</td>
                                <td bgcolor="#FF0066" align=center>&nbsp;</td>
                                <td bgcolor="#996600" align=center>&nbsp;</td>
                              </tr>
                              <tr> 
                                <td align=center>
                                  <INPUT TYPE="radio" checked NAME="cardbordercolor" value="#000000">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardbordercolor" value="#666666">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardbordercolor" value="#003366">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardbordercolor" value="#660099">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardbordercolor" value="#FF0000">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardbordercolor" value="#006600">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardbordercolor" value="#FF0066">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardbordercolor" value="#996600">
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr bgcolor="#ffcc00"> 
                          <td width="50%"><font face="Verdana,Arial,Helvetica" size=2><b>3. 
                            Select a font</b></font></td>
                          <td width="50%"><font face="Verdana,Arial,Helvetica" size=2><b>4. 
                            Select a font color</b></font></td>
                        </tr>
                        <tr> 
                          <td valign=top> 
                            <table border=0 cellspacing=0 cellpadding=0>
                              <tr> 
                                <td>
                                  <input name="cardfont" type="radio" value="arial" checked>
                                </td>
                                <td><font size="2" color="#000000" face="arial">Arial</font></td>
                                <td>&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                  <input name="cardfont" type="radio" value="verdana">
                                </td>
                                <td><font size="2" color="#000000" face="verdana">Verdana</font></td>
                              </tr>
                              <tr> 
                                <td colspan=5><img src="/content/trans.gif" width=10 height=8 alt="" border=0></td>
                              </tr>
                              <tr> 
                                <td>
                                  <input name="cardfont" type="radio" value="times new roman">
                                </td>
                                <td><font size="2" color="#000000" face="times new roman">Times&nbsp;New&nbsp;Roman</font></td>
                                <td>&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                  <input name="cardfont" type="radio" value="helvetica">
                                </td>
                                <td><font size="2" color="#000000" face="helvetica">Helvetica</font></td>
                              </tr>
                            </table>
                          </td>
                          <td valign=top>
                            <table border=1 cellspacing=5>
                              <tr> 
                                <td bgcolor="#000000" align=center>&nbsp;</td>
                                <td bgcolor="#666666" align=center>&nbsp;</td>
                                <td bgcolor="#003366" align=center>&nbsp;</td>
                                <td bgcolor="#660099" align=center>&nbsp;</td>
                                <td bgcolor="#FF0000" align=center>&nbsp;</td>
                                <td bgcolor="#006600" align=center>&nbsp;</td>
                                <td bgcolor="#FF0066" align=center>&nbsp;</td>
                                <td bgcolor="#996600" align=center>&nbsp;</td>
                              </tr>
                              <tr> 
                                <td align=center>
                                  <INPUT TYPE="radio" checked NAME="cardfontcolor" value="#000000">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardfontcolor" value="#666666">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardfontcolor" value="#003366">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardfontcolor" value="#660099">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardfontcolor" value="#FF0000">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardfontcolor" value="#006600">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardfontcolor" value="#FF0066">
                                </td>
                                <td align=center>
                                  <INPUT TYPE="radio" NAME="cardfontcolor" value="#996600">
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr bgcolor="#ffcc00"> 
                          <td width="50%"><font face="Verdana,Arial,Helvetica" size=2><b>5. 
                            Enter recipient's email address</b></font></td>
                          <td width="50%"><font face="Verdana,Arial,Helvetica" size=2><b>6. 
                            Select or enter a greeting</b></font></td>
                        </tr>
                        <tr> 
                          <td valign=top>
                            <input type=text name="cardrecipient" maxlength=76 size=30 value="Enter e-mail address">
                          </td>
                          <td valign=top>
                            <select name="cardgreeting1">
                              <option value="" selected>Select a greeting&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <option>Miss You
                              <option>Congratulations
                              <option>Love You
                              <option>Thank You
                              <option>Get Well Soon
                              <option>Happy Birthday
                              <option>You're the Best
                              <option>Be Mine
                            </select>
                            &nbsp;&nbsp;<font face="Arial,Helvetica" size=2>or</font><br>
                            <input type=text name="cardgreeting2" maxlength=76 size=30 value="Enter your own greeting">
                          </td>
                        </tr>
                        <tr bgcolor="#ffcc00"> 
                          <td width="50%"><font face="Verdana,Arial,Helvetica" size=2><b>7. 
                            Enter your information</b></font></td>
                          <td width="50%"><font face="Verdana,Arial,Helvetica" size=2><b>8. 
                            Enter your message</b></font></td>
                        </tr>
                        <tr> 
                          <td valign=top>
                            <input type=text name="sendername" maxlength=76 size=30 value="Enter name">
                            <br>
                            <input type=text name="senderemail" maxlength=76 size=30 value="Enter e-mail address">
                          </td>
                          <td valign=top>
                            <textarea name="cardmessage" maxlength=256 cols=25 rows=5>Enter your message (Limited to 255 characters)</textarea>
                          </td>
                        </tr>
                        <tr> 
                          <td colspan=2 align=center>
                            <input type=submit value="Preview Postcard">
                            &nbsp;
                            <input type=reset value="Start Over">
                          </td>
                        </tr>
                      </table>
                    </form>
                  </td>
                </tr>
                <tr bgcolor="#eeeeee"> 
                  <td align=center valign=bottom background="%%%IFIMAGES%%%/botback.gif"> 
                    <table border=0 cellspacing=0 cellpadding=0 width="100%">
                      <tr> 
                        <td width=1><img src="%%%IFIMAGES%%%/left.gif" alt="" border=0 hspace=0 vspace=0></td>
                        <td align=center width="100%"><img src="%%%IFIMAGES%%%/folio.gif" alt="Powered by ImageFolio" border=0 hspace=0 vspace=0></td>
                        <td align=right width=1><img src="%%%IFIMAGES%%%/right.gif" alt="" border=0 hspace=0 vspace=0></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <br>
  <a href="http://www.imagefolio.com"><img src="http://www.imagefolio.com/imageFolio_Powered.gif" border=0 alt="ImageFolio Powered!"></a> 
  <br>
  <br>
</center>
</body>
</html>

