<html>
<head>
<title>%%%SITE_TITLE%%% : Home</title>

<!-- JavaScipt code for category button mouseovers -->
<script language="JavaScript">
<!--
if (document.images) {
%%%JS_ROLLOVERS%%%
}
function changeImages() {
  if (document.images) {
    for (var i=0; i<changeImages.arguments.length; i+=2) {
      document[changeImages.arguments[i]].src = eval(changeImages.arguments[i+1] + ".src");
    }
  }
}
// -->
</script>
<!-- end of mouseover code -->

<style type="text/css"><!--
  .roll { font-weight:bold; text-decoration:none; color:navy; }
  A.roll:hover { font-weight:bold; text-decoration:none; color:red; }
--></style>

<!-- BizDesign ImageFolio Professional Edition.  Copyright 2000 BizDesign, Inc. -->
</head>

<body bgcolor="#ffffff" link="navy" alink="navy" vlink="navy">

<center>

  <table border=0 cellspacing=1 cellpadding=0 width="600">
    <tr> 
      <td><font face="Verdana,Arial,Helvetica" size=1 color="#666666"><b>S E A R C H</b></font><br>
      </td>
    </tr>
    <tr> 
      <td>%%%SEARCH_BOX%%%</td>
    </tr>
  </table>

  <table border="0" width="600" cellspacing=0 cellpadding=0 bgcolor="#000000">
    <tr> 
      <td> 
        <table border="0" width="100%" cellspacing="1" cellpadding=0>
          <tr bgcolor="#eeeeee"> 
            <td align=center valign=bottom background="%%%IFIMAGES%%%/topback.gif"> 
              <table border=0 cellspacing=0 cellpadding=0 width="100%">
                <tr> 
                  <td align=center><img src="%%%IFIMAGES%%%/topimage.gif" alt="" width=157 height=10 border=0 hspace=0 vspace=0></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr bgcolor="#000000"> 
            <td> 
              <table border="0" width="100%" cellspacing=0 cellpadding=4>
                <tr> 
                  <td><font face="Arial,Helvetica" size=+1 color="#FFCC00"><b>Categories</b></font></td>
                  <td align=right><font face="Verdana,Arial,Helvetica" size=1 color="#FFFFFF">%%%COUNTS%%%</font></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr bgcolor="#eeeeee"> 
            <td> 
              <table border=0 cellpadding=3 cellspacing=0 width="100%">
                <tr> 
                  <td>%%%PAGELINKS%%%</td>
                  <td align=right>%%%NAV%%%</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr bgcolor="#ffffff"> 
            <td> 
              <table border="0" width="100%" cellspacing=0 cellpadding=6>
                <tr> 
                  <td valign=top width="50%">%%%CATEGORIES%%%</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr bgcolor="#eeeeee"> 
            <td align=center valign=bottom background="%%%IFIMAGES%%%/botback.gif"> 
              <table border=0 cellspacing=0 cellpadding=0 width="100%">
                <tr> 
                  <td width=1><img src="%%%IFIMAGES%%%/left.gif" alt="" border=0 hspace=0 vspace=0 width=14 height=17></td>
                  <td align=center width="100%"><a href="http://www.imagefolio.com" target="_blank"><img src="%%%IFIMAGES%%%/folio.gif" alt="Powered by ImageFolio" border=0 hspace=0 vspace=0 width=56 height=17></a></td>
                  <td align=right width=1><img src="%%%IFIMAGES%%%/right.gif" alt="" border=0 hspace=0 vspace=0 width=14 height=17></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <br>

  <table border=0 cellspacing=1 cellpadding=0 width="600"><tr><td valign=top><a href="http://www.imagefolio.com" target="_blank"><img src="%%%IFIMAGES%%%/powered.gif" alt="Powered by ImageFolio" border=0></a></td><td align=right>
  <table border=0 cellspacing=1 cellpadding=0>
    <tr>
      <td valign=bottom><font face="Verdana,Arial,Helvetica" size=1 color="#666666"><b>C A T E G O R I E S</b></font><br>
      </td>
    </tr>
    <tr> 
      <td>%%%PULLDOWN_MENU%%%</td>
    </tr>
  </table>
  </td></tr></table>

  <br>
  <br>
</center>
</body>
</html>
