<html>
<head>
<title>File Rated!</title>
<!-- BizDesign ImageFolio Professional Edition.  Copyright 2000 BizDesign, Inc. -->
</head>
<body bgcolor="#ffffff" marginwidth=0 marginheight=0 topmargin=0 rightmargin=0 leftmargin=0>
<table border="0" width="100%" cellspacing=0 cellpadding=0 bgcolor="#000000">
  <tr>
    <td> 
      <table border="0" width="100%" cellspacing=1 cellpadding=0>
        <tr bgcolor="#000000"> 
          <td> 
            <table border="0" width="100%" cellspacing=0 cellpadding=4>
              <tr> 
                <td><font face="Arial,Helvetica" size=+1 color="#FFCC00"><b>File 
                  Rated!</b></font></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr bgcolor="#eeeeee"> 
          <td> 
            <table border=0 cellpadding=3 cellspacing=0 width="100%">
              <tr> 
                <td><font face="Verdana,Arial,Helvetica" size=1>%%%FILE%%%</font></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<center>
  <font face="Verdana,Arial,Helvetica" size="+7"><b>%%%RATING%%%</b><font><br>
  <font face="Verdana,Arial,Helvetica" size=1>Thanks for your vote!</font><br>
  <form>
    <input type="button" value="Close" onClick='self.close()'>
  </form>
</center>
</body>
</html>