<html>
<head>
<title>%%%SITE_TITLE%%% : %%%GREETING%%%</title>

%%%PROTECT%%%

</head>

<body bgcolor="#ffffff">

<center>

<table border=0 cellspacing=0 cellpadding=0 bgcolor="#000000"><tr><td>
<table border=0 width="100%" cellspacing=2 cellpadding=0>
<tr><td>

<table border=0 cellspacing=1 cellpadding=0 bgcolor="%%%BORDER_COLOR%%%"><tr><td>
<table border=0 width="100%" cellspacing=3 cellpadding=3>
<tr bgcolor="%%%BG_COLOR%%%"><td>


<table border=0 cellspacing=0 cellpadding=0 bgcolor="%%%BORDER_COLOR%%%"><tr><td>
<table border=0 width="100%" cellspacing=1 cellpadding=3>
<tr bgcolor="%%%BG_COLOR%%%"><td>

<table border=0 cellspacing=0 cellpadding=10><tr><td>

<table border=0 cellspacing=0 cellpadding=0 bgcolor="#000000"><tr><td width=1>
<table border=0 cellspacing=1 cellpadding=0><tr><td>%%%IMAGE%%%</td></tr></table></td></tr></table>
<br><font face="Verdana,Arial,Helvetica" size="2">%%%CAPTION%%%<br><small>&copy; Copyright 2000 %%%SITE_TITLE%%%</small></font>



</td><td valign=top width="150"><div align=right><img src="http://www.imagefolio.com/clients/cgi-bin/templates/stamp.gif" border=0></div>
<br><br>
<font face="%%%FONT%%%" color="%%%FONT_COLOR%%%"><b>%%%GREETING%%%</b><br><br><small>%%%MESSAGE%%%<br><br>%%%SENDER_NAME%%%<br><a href="mailto:%%%SENDER_EMAIL%%%">%%%SENDER_EMAIL%%%</a><br></small></font>



</td>
</tr>
</table>

</td>
</tr>
</table>

</td>
</tr>
</table>

</td>
</tr>
</table>

</td>
</tr>
</table>

</td>
</tr>
</table>

</td>
</tr>
</table>

<br>

</center>
</body>
</html>
