<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>oOO MyNewsGroups :) {version} Installation Oo</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="{style_dir}style.css" type="text/css">
</head>

<body>
<form action="install.php" method="post">
<table width="800" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF" height="38">
  <tr> 
    <td width="198" height="50" valign="middle"><img src="{images_dir}/mynewsgroups.gif" width="180" height="50">&nbsp;&nbsp; 
      <span class="header"> </span></td>
    <td width="599" valign="middle"><span class="header">Welcome to the MyNewsGroups 
      :) Installation Wizard! </span></td>
  </tr>
</table>
  <table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr bgcolor="#BECCE7">
            <td class="tabla_system_info" width="330" colspan="2" height="15" valign="top" bgcolor="#BECCE7"> 
                <span class="top_link"> &nbsp;MyNewsgroups :) v. 0.6</span></td>
  </tr>
</table>

<br>
<table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr bgcolor="#BECCE7"> 
    <td width="750" align="center" valign="middle" bgcolor="#BECCE7" class="tabla_menu"> 
     <span class="top_link">Basic Configuration</span></td>
  </tr>
 </table>
<table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr bgcolor="#BECCE7"> 
    <td width="330" align="right" valign="middle" bgcolor="#BECCE7" class="table_body"><span class="top_link">Web 
      Server Host</span></td>
    <td class="table_header"><div align="left"><span class="top_link"> 
        <input type="text" name="server_host" value="{server_name}" class="form_admin">
        </span></div></td>
  </tr>
  <tr bgcolor="#BECCE7"> 
    <td width="330" align="right" valign="middle" bgcolor="#BECCE7" class="table_body"><span class="top_link"> Script 
      Path </span></td>
    <td class="table_header"><div align="left"><span class="top_link"> 
        <input type="text" name="script_path" value="{script_path}" class="form_admin">
        </span></div></td>
  </tr>
    <tr bgcolor="#BECCE7"> 
    <td width="330" align="right" valign="middle" bgcolor="#BECCE7" class="table_body"><span class="top_link">System 
        Language </span></td>
	<td class="table_header"><div align="left"><span class="top_link">
			 <select name="conf_system_language" class="form_admin">
             <!-- BEGIN language_block -->
              <option value="{language}" {language_is_selected}>{language}</option>              
              <!-- END language_block -->
              </select>            </span></div></td>
  </tr>
</table>
<table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr bgcolor="#BECCE7"> 
    <td width="330" align="right" valign="middle" bgcolor="#BECCE7" class="table_body"><span class="top_link">Zlib 
      Support </span></td>
    <td class="table_header"><div align="left"><span class="top_link"> 
    	<!-- BEGIN zlib_yes_block -->
    	Yes 
        <input type="radio" name="conf_system_zlib_yn" value="Y" class="form_admin">
        No
        <input type="radio" name="conf_system_zlib_yn" value="N" class="form_admin" checked>
        <!-- END zlib_yes_block -->
        
        <!-- BEGIN zlib_no_block -->
        Not Available.
        <input type="hidden" name="conf_system_zlib_yn" value="N" >
        <!-- END zlib_no_block -->
        </span></div></td>
  </tr>
</table>
<table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr bgcolor="#BECCE7"> 
    <td width="750" align="center" valign="middle" bgcolor="#BECCE7" class="tabla_menu"> 
      <span class="top_link">Database Configuration</span></td>
  </tr>
</table>
<table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr bgcolor="#BECCE7"> 
    <td width="330" align="right" valign="middle" bgcolor="#BECCE7" class="table_body"><span class="top_link">Database 
      Server Host </span></td>
    <td class="table_header"><div align="left"><span class="top_link"> 
        <input type="text" name="db_host" class="form_admin">
        </span></div></td>
  </tr>
</table>
<table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr bgcolor="#BECCE7"> 
    <td width="330" align="right" valign="middle" bgcolor="#BECCE7" class="table_body"><span class="top_link">Database 
      Name</span></td>
    <td class="table_header"><div align="left"><span class="top_link"> 
        <input type="text" name="db_name" class="form_admin">
        </span></div></td>
  </tr>
</table>
<table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr bgcolor="#BECCE7"> 
    <td width="330" align="right" valign="middle" bgcolor="#BECCE7" class="table_body"><span class="top_link">Database 
      Username</span></td>
    <td class="table_header"><div align="left"><span class="top_link"> 
        <input type="text" name="db_user_name" class="form_admin">
        </span></div></td>
  </tr>
</table>
<table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr bgcolor="#BECCE7"> 
    <td width="330" align="right" valign="middle" bgcolor="#BECCE7" class="table_body"><span class="top_link">Database 
      Password</span></td>
    <td class="table_header"><div align="left"><span class="top_link"> 
        <input type="password" name="db_passwd" class="form_admin">
        </span></div></td>
  </tr>
</table>
<table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr bgcolor="#BECCE7"> 
    <td width="750" align="center" valign="middle" bgcolor="#BECCE7" class="tabla_menu"> 
      <span class="top_link">Admin Configuration</span></td>
  </tr>
</table>
<table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr bgcolor="#BECCE7"> 
    <td width="330" align="right" valign="middle" bgcolor="#BECCE7" class="table_body"><span class="top_link">Admin 
      User Name</span></td>
    <td class="table_header"><div align="left"><span class="top_link"> 
        <input type="text" name="adm_login" class="form_admin">
        </span></div></td>
  </tr>
    <tr bgcolor="#BECCE7"> 
    <td width="330" align="right" valign="middle" bgcolor="#BECCE7" class="table_body"><span class="top_link">Admin 
      Password</span></td>
    <td class="table_header"><div align="left"><span class="top_link"> 
        <input type="password" name="adm_passwd" class="form_admin">
        </span></div></td>
  </tr>
  <tr bgcolor="#BECCE7"> 
    <td width="330" align="right" valign="middle" bgcolor="#BECCE7" class="table_body"><span class="top_link">Admin 
      Password (Again)</span></td>
    <td class="table_header"><div align="left"><span class="top_link"> 
        <input type="password" name="adm_passwd_2" class="form_admin">
        </span></div></td>
  </tr>
  <tr bgcolor="#BECCE7"> 
    <td width="330" align="right" valign="middle" bgcolor="#BECCE7" class="table_body"><span class="top_link">Admin 
      Email </span></td>
    <td class="table_header"><div align="left"><span class="top_link"> 
        <input type="text" name="adm_email" class="form_admin">
        </span></div></td>
  </tr>
 </table>
 <table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
 <tr align="right" bgcolor="#BECCE7"> 
    <td width="750" align="center" valign="middle" bgcolor="#BECCE7" class="tabla_system_info">
    <input type="hidden" name="confirm" value="ok">
	<input type="submit" name="Submit" value="Install" class="form_admin"> 
    </td>
  </tr>
</table>
</form>
</body>
</html>
