<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>oOO MyNewsGroups :) 0.5 Installation Oo</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="{style_dir}style.css" type="text/css">
</head>

<body>
<table width="800" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF" height="38">
  <tr> 
    <td width="198" height="50" valign="middle"><img src="{images_dir}/mynewsgroups.gif" width="180" height="50">&nbsp;&nbsp; 
      <span class="header"> </span></td>
    <td width="599" valign="middle"><span class="header">Welcome to the MyNewsGroups 
      :) Installation Wizard! </span></td>
  </tr>
</table>
  <table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr bgcolor="#BECCE7">
        <td class="tabla_system_info" width="330" colspan="2" height="15" valign="top" bgcolor="#BECCE7"> 
            <span class="top_link"> &nbsp;MyNewsgroups :) v. 0.6</span></td>
  </tr>
</table>

<br>
<table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
  <tr bgcolor="#BECCE7"> 
      <td width="750" align="center" valign="middle" bgcolor="#BECCE7" class="tabla_menu"> 
        <span class="top_link">Congratulations</span></td>
  </tr>
 </table>
  <table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
    <tr bgcolor="#BECCE7"> 
      <td align="center" valign="top" bgcolor="#BECCE7" class="table_body"><div align="left"><span class="top_link"><br>
          </span></div>
            <div align="center"><span class="top_link"> MyNewsGroups :) v. 0.6 
                has been correctly installed.<br>
          You can go now to the Administration to configure further details<br>
          of the system by clicking on this link:<br>
          <br>
          <a href="./admin/index.php" class="top_link" >Administration Interface</a><br>
          <br>
          <br>
          <br>
          </span></div></td>
    </tr>
  </table>
  <table width="750" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
    <tr align="right" bgcolor="#BECCE7"> 
      <td align="center" valign="middle" bgcolor="#BECCE7" class="tabla_system_info">&nbsp;</td>
    </tr>
  </table>
</body>
</html>
