html, body {
	height: 100%;
	MARGIN: 0px;
}

BODY, TABLE, td, select, textarea, input {
	FONT-SIZE: 11px;
	FONT-FAMILY:  Verdana, Arial, Helvetica, sans-serif;
}

form{
	margin: 0px;
	padding: 0px;
}

.left_menu{
	background-image: url(../images/left_bg.gif);
	background-repeat: repeat-y;
	border: #8C8A8C solid;
	border-width: 0px 1px 0px 0px;

	padding: 0px 0px 0px 0px;
	width: 181px;
	vertical-align:top;
}

.top_heading{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 4px;
	background-image: url(../images/bputs.gif);
	background-repeat: repeat-x;
	height: 60px;
	vertical-align: bottom;
}

.off {
	opacity: .2;
	filter: alpha(opacity=20);
	-moz-opacity: .2;
}

.ruler{
	margin: 0px 0px 0px 0px;
	padding: 1px 0px 0px 0px;
	background-image: url(../images/bg_dotpattern.gif);
	background-repeat: repeat-x;
}

.ruler2{
	margin: 0px 0px 0px 0px;
	padding: 1px 0px 0px 0px;
	background-color:#8C8A8C;
}

.menuhead  {
	border: #8C8A8C solid;
	border-width: 1px 0px 0px 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: 'trebuchet ms', Verdana, Arial, Helvetica, sans-serif;
	padding:4px 0px 4px 4px;
	COLOR: #666666
}

.menuselected a {
	border: #8C8A8C solid; border-width: 1px 0px 1px 0px;
	margin: 1px 0px 1px 0px;
	display: block;
	padding: 2px 25px 4px 8px;

	text-decoration: none;
	background-color: #FFFFFF;
	FONT-WEIGHT: bold;
}

.menuselected a:hover {
	border: #8C8A8C solid; border-width: 1px 1px 1px 1px;
	margin: 1px 1px 1px 1px;
	background-color: #8ABEE5;
	text-decoration: none;
	color: #FFFFFF;
	padding: 2px 25px 4px 6px;
}

.menu a {
	border: #F6F6F6 solid;
	border-width: 0px 0px 0px 0px;
	margin: 1px 1px 1px 1px;
	display: block;
	padding: 3px 26px 5px 7px;
	text-decoration: none;
}

.menu a:hover {
	border: #8C8A8C solid;
	border-width: 1px 1px 1px 1px;
	background-color: #8ABEE5;
	text-decoration: none;
	color: #FFFFFF;
	padding: 2px 25px 4px 6px;

}
.small{
	FONT-SIZE: 11px;
	FONT-FAMILY: 'trebuchet ms', Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}

A {
	COLOR: #265980;
	TEXT-DECORATION: none
}

A:hover {
	TEXT-DECORATION: underline
}

.tab-s, .tab-u, .tab-g, .tab-g-sort {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: 'trebuchet ms', Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}

.tab-g-sort {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.tab-g-sort a {
	margin: 0px 0px 0px 0px;
	padding: 4px 2px 4px 4px;
}

.tab-g-sort a:hover {
	background-color:  #f6f6d6;
}

.tab-g-sort-sel {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: 'trebuchet ms', Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	background-color: #f6f6d6;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.tab-g-sort-sel a {
	margin: 0px 0px 0px 0px;
	padding: 4px 2px 4px 4px;
}

.tab-g-sort-sel a:hover {
	background-color: #f6f6b0;
}

.sort_column{
	background-color: #ffffea;
}

.tab-r {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: 'trebuchet ms', Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}

.ttab-s:hover {
	TEXT-DECORATION: underline
}

.tab-u:hover, .tab-g:hover, .tab-r:hover {
	TEXT-DECORATION: underline
}

.tab-s {
	COLOR: #5C7E99
}
.tab-u {
	COLOR: #ffffff
}
.tab-g {
	COLOR: #666666
}
.tab-r {
	COLOR: #cc0000
}

.tab-n {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #ffffff;
	TEXT-DECORATION: none
}
.tab-n:hover {
	TEXT-DECORATION: underline
}

SELECT.flat, TEXTAREA.flat, INPUT.flat, SELECT.error, TEXTAREA.error, INPUT.error, TEXTAREA.code {
	border-width: 1px 1px 1px 1px;
}

SELECT.flat, TEXTAREA.flat, INPUT.flat, TEXTAREA.code {
	border: #888888 solid;
}

SELECT.error, TEXTAREA.error, INPUT.error {
	border: #990000 solid;
}

TEXTAREA.code {
	FONT-SIZE: 12px;
	LINE-HEIGHT: 15px;
	FONT-FAMILY: "Lucida Console", "Courier New", Courier, monospace
}
TEXTAREA.code-gray {
	FONT-SIZE: 12px;
	LINE-HEIGHT: 15px;
	FONT-FAMILY: "Lucida Console", "Courier New", Courier, monospace
}
TEXTAREA.code-gray {
	border-width: 0px 0px 0px 0px;
	COLOR: #808080;
}
.nav {
	COLOR: #265980
}
.install {
	COLOR: #000066;
	LINE-HEIGHT: 18px
}
.dtree {
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: text-bottom;
}
.dtree a {
	text-decoration: none;
}
.dtree a:hover {
	text-decoration: underline;
}
.dtree .node {
	top: -2px;
	padding: 1px;
}
.dtree .nodeSel {
	top: -2px;
	padding: 1px;
}

.currentStyle {
	font-weight:bold;
	background-color: #f6f6b0;
	margin: 0px -3px 0px -3px;
	padding: 3px 6px 3px 6px;
	border: #aCaAaC solid;
	border-width: 1px 1px 1px 1px;
}

h1 { font-size: 230%; color: #444; padding: 8px 0px 0px 0px; margin: 0px 0px 8px 0px;}
h2 { font-size: 190%; color: #444; font-weight: bold; padding: 8px 0px 8px 0px; margin: 0px 0px 0px 0px;}
h3 { font-size: 150%; color: #666; font-weight: bold; padding: 10px 0px 6px 0px; margin: 0px 0px 0px 0px;}
h4 { font-size: 130%; color: #666; font-weight: bold; padding: 10px 0px 4px 0px; margin: 0px 0px 0px 0px;}
