H1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
H4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
TD
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
TH
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.general_page_header
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.category_head
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}

.category_head:hover
{
    COLOR: #f94b18
}

.listing_head
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.listing_head:hover
{
    COLOR: #f94b18
}
.category_count
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.sub_categories
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.bookmark_resource
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.short_listing_url
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.report_error
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.rate_review
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.report_error:hover
{
    COLOR: #f94b18
}
.rate_review:hover
{
    COLOR: #f94b18
}
.short_listing_url:hover
{
    COLOR: #f94b18
}
.bookmark_resource:hover
{
    COLOR: #f94b18
}
.sub_categories:hover
{
    COLOR: #f94b18
}
.small_listing_description
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.listing_description
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.main_navigation
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.main_navigation A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.main_navigation:hover
{
    COLOR: #f94b18
}

.hits_count
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #929dab;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.created_date
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #929dab;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.page_results_count
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #929dab;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.page_header
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.directory_key
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #264a9e;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.paging_links
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.paging_links:hover
{
    COLOR: #f94b18
}
.general_small_text
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}

.general_small_text_red
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #aa0000;
    FONT-FAMILY: Verdana, Arial, Tahoma
}

.general_text_red
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #dd0000;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.general_text
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}

.general_text:hover
{
    COLOR: #f94b18
}

.frontpage_links
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}

.frontpage_links:hover
{
    COLOR: #f94b18
}

.form_text
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Tahoma
}
.form_buttons
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Tahoma
}

.search_results_category
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Tahoma
}

.search_results_category:hover
{
    COLOR: #f94b18
}
.input,.search_input
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #6883c2;
    FONT-FAMILY: Verdana, Arial, Tahoma
}

SELECT
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #6883c2;
    FONT-FAMILY: Verdana, Arial, Tahoma
}

.DirectoryCombo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #6883c2;
    FONT-FAMILY: Verdana, Arial, Tahoma
}

.statistics_text
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Tahoma
}

/* The TD style tag below can be removed. This is for demo purposes only */

.bgnotile {
     background-color: #f5f5f5;
     background-image: url(../images/demoman.gif);
     background-position: top;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }


