a.menu1_notactive:link, a.menu1_notactive:active, a.menu1_notactive:visited { font-family: Verdana; font-size: 10px; color: #000000; text-decoration: none; font-weight: normal }
a.menu1_notactive:hover { font-family: Verdana; font-size: 10px; color: #c80000; text-decoration: none; font-weight: normal }

a.menu1_active:link, a.menu1_active:active, a.menu1_active:visited { font-family: Verdana; font-size: 10px; color: #ffffff; text-decoration: none; font-weight: normal }
a.menu1_active:hover { font-family: Verdana; font-size: 10px; color: #ffffff; text-decoration: none; font-weight: normal }

a.menu2_notactive:link, a.menu2_notactive:active, a.menu2_notactive:visited { font-family: Verdana; font-size: 10px; color: #c80000; text-decoration: none; font-weight: normal }
a.menu2_notactive:hover { font-family: Verdana; font-size: 10px; color: #363636; text-decoration: none; font-weight: normal }

a.menu2_active:link, a.menu2_active:active, a.menu2_active:visited { font-family: Verdana; font-size: 10px; color: #363636; text-decoration: none; font-weight: normal }
a.menu2_active:hover { font-family: Verdana; font-size: 10px; color: #c80000; text-decoration: none; font-weight: normal }

body 	{ font-family: Verdana; font-size: 10px; color: #000000 }
td 	{ font-family: Verdana; font-size: 10px; color: #000000 }
p 	{ font-family: Verdana; font-size: 10px; color: #000000 }

a:link, a:active, a:visited { font-family: Verdana; font-size: 10px; color: #c80000; text-decoration: none; font-weight: normal }
a:hover { font-family: Verdana; font-size: 10px; color: #c80000; text-decoration: underline; font-weight: normal }

h1 	{ font-family: Verdana; color: 000000}
h2 	{ font-family: Verdana; color: 000000}
h3 	{ font-family: Verdana; color: 000000}
h4 	{ font-family: Verdana; color: 000000}

.content_header { font-family: Verdana; color: #c80000; font-size: 18px; font-weight: bold }

.subheader { font-family: Verdana; color: #363636; font-size: 16px; font-weight: bold }
